Repository trilinos/Trilinos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trilinos/amesos, @trilinos/amesos2, @trilinos/anasazi, @trilinos/aztecoo, @trilinos/belos, @trilinos/claps, @trilinos/domi, @trilinos/epetra, @trilinos/epetraext, @trilinos/globipack, @trilinos/ifpack, @trilinos/ifpack2, @trilinos/intrepid, @trilinos/intrepid2, @trilinos/isorropia, @trilinos/kokkos, @trilinos/kokkos-kernels, @trilinos/komplex, @trilinos/ml, @trilinos/moertel, @trilinos/muelu, @trilinos/new_package, @trilinos/nox, @trilinos/optipack, @trilinos/pamgen, @trilinos/panzer, @trilinos/phalanx, @trilinos/piro, @trilinos/pliris, @trilinos/pytrilinos, @trilinos/rol, @trilinos/rtop, @trilinos/rythmos, @trilinos/sacado, @trilinos/seacas, @trilinos/shards, @trilinos/shylu, @trilinos/stk, @trilinos/stokhos, @trilinos/stratimikos, @trilinos/teko, @trilinos/tempus, @trilinos/teuchos, @trilinos/thyra, @trilinos/tpetra, @trilinos/trikota, @trilinos/triutils, @trilinos/xpetra, @trilinos/zoltan, @trilinos/zoltan2

.github/CODEOWNERS:

/packages/amesos/            @trilinos/amesos
/packages/amesos2/           @trilinos/amesos2
/packages/anasazi/           @trilinos/anasazi
/packages/aztecoo/           @trilinos/aztecoo
/packages/belos/             @trilinos/belos
/packages/claps/             @trilinos/claps
/packages/domi/              @trilinos/domi
/packages/epetra/            @trilinos/epetra
/packages/epetraext/         @trilinos/epetraext
#/packages/fei/               @trilinos/
#/packages/galeri/            @trilinos/
/packages/globipack/         @trilinos/globipack
/packages/ifpack/            @trilinos/ifpack
/packages/ifpack2/           @trilinos/ifpack2
/packages/intrepid/          @trilinos/intrepid
/packages/intrepid2/         @trilinos/intrepid2
/packages/isorropia/         @trilinos/isorropia
/packages/kokkos/            @trilinos/kokkos
/packages/kokkos-kernels/    @trilinos/kokkos-kernels
/packages/komplex/           @trilinos/komplex
#/packages/meshinggenie/      @trilinos/
#/packages/minitensor/        @trilinos/
/packages/ml/                @trilinos/ml
/packages/moertel/           @trilinos/moertel
/packages/muelu/             @trilinos/muelu
/packages/new_package/       @trilinos/new_package
/packages/nox/               @trilinos/nox
/packages/optipack/          @trilinos/optipack
/packages/pamgen/            @trilinos/pamgen
/packages/panzer/            @trilinos/panzer
/packages/phalanx/           @trilinos/phalanx
#/packages/pike/              @trilinos/
/packages/piro/              @trilinos/piro
/packages/pliris/            @trilinos/pliris
/packages/PyTrilinos/        @trilinos/pytrilinos
/packages/rol/               @trilinos/rol
/packages/rtop/              @trilinos/rtop
/packages/rythmos/           @trilinos/rythmos
/packages/sacado/            @trilinos/sacado
/packages/seacas/            @trilinos/seacas
/packages/shards/            @trilinos/shards
/packages/shylu/             @trilinos/shylu
/packages/stk/               @trilinos/stk
/packages/stokhos/           @trilinos/stokhos
/packages/stratimikos/       @trilinos/stratimikos
/packages/teko/              @trilinos/teko
/packages/tempus/            @trilinos/tempus
/packages/teuchos/           @trilinos/teuchos
#/packages/ThreadPool/        @trilinos/
/packages/thyra/             @trilinos/thyra
/packages/tpetra/            @trilinos/tpetra
/packages/TriKota/           @trilinos/trikota
#/packages/trilinoscouplings/ @trilinos/
#/packages/trios/             @trilinos/
/packages/triutils/          @trilinos/triutils
/packages/xpetra/            @trilinos/xpetra
/packages/zoltan/            @trilinos/zoltan
/packages/zoltan2/           @trilinos/zoltan2

MueLu: Fix copy-paste issues in MueLu_Test_ETI.hpp
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
Owners: @trilinos/muelu

MueLu: Add short name for CreateXpetraPreconditioner
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/example/advanced/multiplesolve/ReuseSequence.cpp
  packages/muelu/example/advanced/multiplesolve/StandardReuse.cpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
Owners: @trilinos/muelu

Panzer: Added option for relative tolerance in periodic BC matcher.
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_MatchConditions.hpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_bcs.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_mesh.cpp
Owners: @trilinos/panzer

Tempus: modifying time-step control "Variable" method to multiply dt by "Scalar dt_adjustment_factor" rather than divide by 2, towards generalizing time-step control.
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
Owners: @trilinos/tempus

Tempus: adding error checking to throw an exception when solution history has < 3 states.
  packages/tempus/src/Tempus_StepperBDF2_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos.xml
Owners: @trilinos/tempus

Amesos2: Fix for issue #1987
  packages/amesos2/cmake/Dependencies.cmake
  packages/amesos2/src/Amesos2_KLU2.cpp
  packages/amesos2/src/Amesos2_Util.hpp
Owners: @trilinos/amesos2

Automatic snapshot commit from tribits at 1fd597c
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Owners: none

Automatic snapshot commit from tribits at 1fd597c
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Owners: none

Fixed broken tests
  packages/rol/adapters/belos/CMakeLists.txt
  packages/rol/adapters/belos/test/vector/test_01.cpp
  packages/rol/adapters/epetra/CMakeLists.txt
  packages/rol/adapters/epetra/test/sol/test_02.cpp
  packages/rol/adapters/epetra/test/vector/test_01.cpp
  packages/rol/adapters/minitensor/CMakeLists.txt
  packages/rol/adapters/sacado/test/test_01.cpp
  packages/rol/adapters/thyra/CMakeLists.txt
  packages/rol/adapters/thyra/test/vector/CMakeLists.txt
  packages/rol/adapters/thyra/test/vector/test_01.cpp
  packages/rol/adapters/tpetra/CMakeLists.txt
  packages/rol/adapters/tpetra/test/sol/test_03.cpp
  packages/rol/adapters/tpetra/test/vector/test_02.cpp
  packages/rol/example/diode-circuit-simopt/CMakeLists.txt
  packages/rol/tutorial/example_ineq_bnd.cpp
  packages/rol/tutorial/example_unc.cpp
Owners: @trilinos/rol

removed cmake conditional from file
  packages/rol/example/CMakeLists.txt
Owners: @trilinos/rol

Amesos2: Fix for issue #1987
  packages/amesos2/cmake/Dependencies.cmake
  packages/amesos2/src/Amesos2_KLU2.cpp
  packages/amesos2/src/Amesos2_Util.hpp
Owners: @trilinos/amesos2

Phalanx: adding vectorization to scatter #2012
  packages/phalanx/example/FiniteElementAssembly/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_DeviceDag/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_MixedFieldTypes/evaluators/ScatterResidual_Def.hpp
Owners: @trilinos/phalanx

Phalanx: added some notes on compiling for Device DAG on CUDA
  packages/phalanx/src/design/DeviceDagNotes.txt
Owners: @trilinos/phalanx

MueLu: Rename MultiVectorReal->RealValuedMultiVector, add associated shorthands
  packages/muelu/example/advanced/multiplesolve/ReuseSequence.cpp
  packages/muelu/example/advanced/multiplesolve/StandardReuse.cpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/muelu/test/scaling/TAFCPerformance.cpp
  packages/xpetra/src/Headers/Xpetra_UseShortNamesScalar.hpp
Owners: @trilinos/muelu, @trilinos/xpetra

Fix renaming of a make target
  cmake/ProjectCompilerPostConfig.cmake
Owners: none

MueLu: add python helper file for nightly testing
  packages/muelu/utils/misc/setSshEnv.python
Owners: @trilinos/muelu

ExplicitModelEvaluator: fix a little weird SEGFAUL bug
  packages/panzer/disc-fe/src/Panzer_ExplicitModelEvaluator_impl.hpp
Owners: @trilinos/panzer

Phalanx: fix for gcc 5/6 nested lambda issue #2012
  packages/phalanx/example/FiniteElementAssembly/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_DeviceDag/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_MixedFieldTypes/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/test/Kokkos/CMakeLists.txt
  packages/phalanx/test/Kokkos/tKokkosNestedLambda.cpp
Owners: @trilinos/phalanx

Updated null pointer naming
  packages/rol/adapters/thyra/src/function/TOpEleWiseBoundsHelpers.hpp
Owners: @trilinos/rol

Tpetra: Fixing typos in CUDA instructions
  packages/tpetra/CMakeLists.txt
Owners: @trilinos/tpetra

Tpetra: Fixing typos in fix of typo
  packages/tpetra/CMakeLists.txt
Owners: @trilinos/tpetra

Reverted Thyra adapter to use Teuchos::RCP
  packages/rol/adapters/thyra/src/function/ROL_ThyraME_Objective.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective.hpp
  packages/rol/adapters/thyra/src/function/ROL_Thyra_BoundConstraint.hpp
  packages/rol/adapters/thyra/src/function/TOpEleWiseBoundsHelpers.hpp
  packages/rol/adapters/thyra/src/vector/ROL_ScaledThyraVector.hpp
  packages/rol/adapters/thyra/src/vector/ROL_ThyraVector.hpp
  packages/rol/adapters/thyra/test/vector/test_01.cpp
  packages/rol/adapters/thyra/test/vector/test_02.cpp
Owners: @trilinos/rol

Temporarily disable failing SEACAS tests in CI testing (#2039)
  cmake/std/BasicCiTestingSettings.cmake
Owners: none

Setting CMAKE_CXX_FLAGS based on KOKKOS_CXX_FLAGS
  cmake/ProjectCompilerPostConfig.cmake
Owners: none

Skip TriBITS setting C++11 and OpenMP flags when Kokkos flags are used (#1400)
  cmake/ProjectCompilerPostConfig.cmake
Owners: none

Automatic snapshot commit from tribits at b9d3531
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
Owners: none

Tempus: modifying BDF2 tests to take in nTimeStepSizes (for convergence study) and initial time step size from input file, to facilitate testing (e.g., variable time-stepping).
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BDF2/Tempus_BDF2_CDR.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos.xml
  packages/tempus/test/BDF2/Tempus_BDF2_VanDerPol.xml
  packages/tempus/test/TestModels/SinCosModel_impl.hpp
  packages/tempus/test/TestModels/VanDerPolModel_impl.hpp
Owners: @trilinos/tempus

Testing: enigma: update scripts
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/enigma/cron_driver.sh
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_debug_muelu_basker_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_debug_muelu_klu2_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_serial_debug_muelu_extratypes_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_serial_release_muelu_experimental_enigma.cmake
Owners: none

Tempus: Change setting of Stepper ParameterLists.
  packages/tempus/src/Tempus_SolutionState_decl.hpp
  packages/tempus/src/Tempus_StepperBDF2_impl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
Owners: @trilinos/tempus

Use RST table format, not raw text (#1400)
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Owners: none

Simplify RST table and add some more text to Kokkos config (#1400)
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Owners: none

More fixes for CMake doc (#1400)
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Owners: none
