Repository trilinos/Trilinos, pull requests merged in 2018-02, with the labels that each got.

#2216 Added flag to read filename into mini-EM using exodus file
  packages/panzer/mini-em/example/BlockPrec/main.cpp
Labels: Panzer

#2253 NOX/Tempus: performance improvements and prec flexibility #2252
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/nox/src-thyra/NOX_Thyra_Group.H
  packages/nox/src-thyra/Thyra_NonlinearSolver_NOX.cpp
  packages/nox/src-thyra/Thyra_NonlinearSolver_NOX.hpp
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp
  packages/tempus/src/Tempus_StepperImplicit.hpp
Labels: NOX, Tempus

#2261 MueLu: print data in advanced xml mode (#2260)
  packages/muelu/doc/Tutorial/src/xml/s6_export.xml
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: MueLu

#2171 MueLu_structured_aggregation
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Graph/StructuredAggregation/MueLu_GlobalLexicographicIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_GlobalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_LocalLexicographicIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_LocalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_kokkos_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesOrdinal.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeneralGeometricPFactory_def.hpp
  packages/muelu/src/Utils/ClassList/LO-GO-NO.classList
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_GlobalLexicographicIndexManager_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_IndexManager_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_LocalLexicographicIndexManager_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_StructuredAggregationFactory_fwd.hpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/StructuredAggregationFactory.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_GlobalLexicographicIndexManager.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_IndexManager.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_LocalLexicographicIndexManager.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_StructuredAggregationFactory.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_StructuredAggregationFactory_UQ_PCE_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_StructuredAggregationFactory_UQ_PCE_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_StructuredAggregationFactory_UQ_PCE_Serial.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_StructuredAggregationFactory_UQ_PCE_Threads.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_StructuredAggregationFactory_MP_Vector_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_StructuredAggregationFactory_MP_Vector_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_StructuredAggregationFactory_MP_Vector_Serial.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_StructuredAggregationFactory_MP_Vector_Threads.cpp
Labels: MueLu, enhancement

#2251 Tpetra map get min global index
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/test/Map/CMakeLists.txt
  packages/tpetra/core/test/Map/Map_getMinGlobalIndex.cpp
  packages/xpetra/test/BlockedCrsMatrix/BlockedCrsMatrix_UnitTests.cpp
Labels: Tpetra, TpetraRF, bug

#2266 MueLu: Structured aggregation cleanup
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_def.hpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/StructuredAggregationFactory.cpp
Labels: MueLu, bug, in progress

#2272 Teuchos: Fix #2271
  packages/teuchos/core/cmake/Teuchos_config.h.in
  packages/teuchos/core/src/Teuchos_Time.cpp
Labels: Teuchos, build, in progress

#2287 Panzer Warnings-As-Errors Cleanup
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.cpp
Labels: Panzer, in progress

#2289 shylu_hts: comment out 'unused' variable in .cpp
  packages/shylu/shylu_node/hts/src/shylu_hts.cpp
Labels: in progress

#2293 TrilinosCouplings: Fix #2281
  packages/trilinoscouplings/src/ml/NonlinML/nlnml_preconditioner1.cpp
  packages/trilinoscouplings/src/ml/NonlinML/nlnml_preconditioner_utils.cpp
Labels: Trilinos Couplings, in progress

#2296 examples: fix compiler warnings for #2281
  packages/trilinoscouplings/examples/ml/NonlinML/FiniteElementProblem.cpp
  packages/trilinoscouplings/examples/ml/NonlinML/ml_nox_1Delasticity_example.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE_Epetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE_Tpetra.cpp
Labels: Trilinos Couplings, in progress

#2291 Tpetra,Ifpack2,Stokhos: Fix #2290
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_decl.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Tpetra_CrsMatrix_UQ_PCE_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_RowMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_PackUnpack.cpp
Labels: Ifpack2, Stokhos, Tpetra, TpetraRF, in progress

#2300 Issue 2282
  packages/nox/test/tpetra/Tpetra_MultiVectorOpsTests.cpp
  packages/panzer/adapters-stk/test/local_mesh/PanzerSTK_UnitTest_BuildMesh.cpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
Labels: NOX, Panzer, in progress

#2302 Zoltan2: FindTPLParMETIS - look for metis header and library
  cmake/TPLs/FindTPLParMETIS.cmake
Labels: Zoltan2, in progress

#2299 Teuchos: print_double: exact, concise
  packages/teuchos/core/src/Teuchos_BigUInt.hpp
  packages/teuchos/core/src/Teuchos_BigUIntDecl.hpp
  packages/teuchos/core/src/Teuchos_PrintDouble.cpp
  packages/teuchos/core/src/Teuchos_PrintDouble.hpp
  packages/teuchos/core/test/UnitTest/CMakeLists.txt
  packages/teuchos/core/test/UnitTest/PrintDouble_UnitTests.cpp
Labels: enhancement, in progress

#2298 Tpetra blockcrs performance test
  packages/tpetra/core/example/BlockCrs/CMakeLists.txt
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrs.cpp
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrsMeshDatabase.hpp
  packages/tpetra/core/example/CMakeLists.txt
Labels: in progress

#2308 Teuchos: throw exception at duplicate YAML names
  packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp
  packages/teuchos/parameterlist/test/yaml/YamlParameterList.cpp
Labels: enhancement, in progress
