Repository trilinos/Trilinos, pull requests merged in 2018-08, with the labels that each got.

#3211 Add documentation on how to disable tests (#3183, TRIL-171)
  cmake/std/atdm/README.md
Labels: ATDM, enhancement, in progress

#3213 Disable failing SEACAS tests on Mutrino (#2815)
  cmake/std/atdm/mutrino/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-RELEASE-OPENMP.cmake
Labels: ATDM, in progress, seacas

#3216 Seacas fix symbolic links
  packages/seacas/libraries/exodus/html
  packages/seacas/libraries/exodus/topology
  packages/seacas/libraries/exodus/topology/bar2.png
  packages/seacas/libraries/exodus/topology/bar3.png
  packages/seacas/libraries/exodus/topology/circle.png
  packages/seacas/libraries/exodus/topology/hex-face-numbering.png
  packages/seacas/libraries/exodus/topology/hex08.png
  packages/seacas/libraries/exodus/topology/hex09.png
  packages/seacas/libraries/exodus/topology/hex16.png
  packages/seacas/libraries/exodus/topology/hex20.png
  packages/seacas/libraries/exodus/topology/hex27.png
  packages/seacas/libraries/exodus/topology/pyramid-face-numbering.png
  packages/seacas/libraries/exodus/topology/pyramid.png
  packages/seacas/libraries/exodus/topology/quad-face-numbering.png
  packages/seacas/libraries/exodus/topology/quad4.png
  packages/seacas/libraries/exodus/topology/quad5.png
  packages/seacas/libraries/exodus/topology/quad8.png
  packages/seacas/libraries/exodus/topology/quad9.png
  packages/seacas/libraries/exodus/topology/shell-face-numbering.png
  packages/seacas/libraries/exodus/topology/sphere.png
  packages/seacas/libraries/exodus/topology/tet-face-numbering.png
  packages/seacas/libraries/exodus/topology/tet04.png
  packages/seacas/libraries/exodus/topology/tet05.png
  packages/seacas/libraries/exodus/topology/tet10.png
  packages/seacas/libraries/exodus/topology/tet11.png
  packages/seacas/libraries/exodus/topology/tet14.png
  packages/seacas/libraries/exodus/topology/tet15.png
  packages/seacas/libraries/exodus/topology/tri3.png
  packages/seacas/libraries/exodus/topology/tri4.png
  packages/seacas/libraries/exodus/topology/tri6.png
  packages/seacas/libraries/exodus/topology/tri7.png
  packages/seacas/libraries/exodus/topology/triangle-face-numbering.png
  packages/seacas/libraries/exodus/topology/wedge-face-numbering.png
  packages/seacas/libraries/exodus/topology/wedge06.png
  packages/seacas/libraries/exodus/topology/wedge12.png
  packages/seacas/libraries/exodus/topology/wedge15.png
  packages/seacas/libraries/exodus/topology/wedge16.png
  packages/seacas/libraries/exodus/topology/wedge20.png
  packages/seacas/libraries/exodus/topology/wedge21.png
  packages/seacas/libraries/ioss/html
Labels: build, in progress, seacas

#3221 Fix zero-diagonal problem
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/test/unit_tests/RAPFactory.cpp
Labels: AT: AUTOMERGE, in progress

#3210 MiniEM & RefMaxwell changes
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell2D.xml
  packages/panzer/mini-em/src/closures/MiniEM_ClosureModel_Factory_TemplateBuilder.hpp
  packages/panzer/mini-em/src/closures/MiniEM_ClosureModel_Factory_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_GaussianPulse.hpp
  packages/panzer/mini-em/src/closures/MiniEM_GaussianPulse_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_InversePermeability.hpp
  packages/panzer/mini-em/src/closures/MiniEM_InversePermeability_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_Permittivity.hpp
  packages/panzer/mini-em/src/closures/MiniEM_Permittivity_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_MassMatrix.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_MassMatrix_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_EquationSet_Maxwell.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_EquationSet_Maxwell_impl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
Labels: MueLu, Panzer, in progress

#3218 Framework: PR testing changed packages
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  commonTools/test/utilities/changedPackages.bash
Labels: Framework, in progress

#3236 Increase KNL testing timeout from 5 to 9 hours (TRIL-196)
  cmake/ctest/drivers/atdm/mutrino/drivers/Trilinos-atdm-mutrino-intel-debug-openmp-KNL.sh
  cmake/ctest/drivers/atdm/mutrino/drivers/Trilinos-atdm-mutrino-intel-opt-openmp-KNL.sh
Labels: ATDM, in progress

#3244 NOX: Copy vector size in NOX::LAPACK::Vector::operator=()
  packages/nox/src-lapack/NOX_LAPACK_Vector.C
Labels: NOX, in progress

#3241 Sacado: Fix partial specialization of inner_layout<> for Clang.
  packages/sacado/src/Kokkos_LayoutContiguous.hpp
Labels: Sacado, in progress

#3252 Disable test Piro_MatrixFreeDecorator_UnitTests_MPI_4 in Intel builds (#2474)
  cmake/std/atdm/shiller/tweaks/INTEL-DEBUG-OPENMP-HSW.cmake
  cmake/std/atdm/shiller/tweaks/INTEL-DEBUG-SERIAL-HSW.cmake
  cmake/std/atdm/shiller/tweaks/INTEL-RELEASE-OPENMP-HSW.cmake
  cmake/std/atdm/shiller/tweaks/INTEL-RELEASE-SERIAL-HSW.cmake
Labels: ATDM, Piro, bug, in progress

#3243 Ifpack2: Remove Unused Parameter Warnings
  packages/ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp
  packages/ifpack2/src/Ifpack2_BandedContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Container.hpp
  packages/ifpack2/src/Ifpack2_DiagonalFilter_def.hpp
  packages/ifpack2/src/Ifpack2_DropFilter_def.hpp
  packages/ifpack2/src/Ifpack2_LinearPartitioner_def.hpp
  packages/ifpack2/src/Ifpack2_LocalFilter_def.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/src/Ifpack2_ReorderFilter_def.hpp
  packages/ifpack2/src/Ifpack2_SingletonFilter_def.hpp
  packages/ifpack2/src/Ifpack2_SparseContainer_def.hpp
  packages/ifpack2/src/Ifpack2_SparsityFilter_def.hpp
Labels: Ifpack2, in progress

#3251 Consolidate disables for all builds on 'mutrino' (#3183)
  cmake/std/atdm/mutrino/tweaks/ALL_BUILDS.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-DEBUG-OPENMP-HSW.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-DEBUG-OPENMP-KNL.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-RELEASE-OPENMP-HSW.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-RELEASE-OPENMP-KNL.cmake
Labels: ATDM, bug, in progress, seacas

#3249 Tpetra,Belos: Fix #3235, & add unit test
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/Issue_3235.cpp
  packages/tpetra/core/src/Tpetra_Details_Blas.hpp
Labels: Belos, Tpetra, TpetraRF, in progress

#3255 Bug fixes for MiniEM+MueLu-RefMaxwell+Epetra
  packages/panzer/dof-mgr/src/Panzer_UniqueGlobalIndexer_EpetraUtilities_impl.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
Labels: AT: AUTOMERGE, Panzer, Xpetra, in progress

#3253 Tpetra fema updates
  packages/tpetra/core/example/Finite-Element-Assembly/README.md
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, Tpetra, TpetraRF, in progress

#3257 Panzer: Fix for apparently uninitialized values
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: in progress

#3261 Tempus: Split apart DIRK FSA tests to reduce test run time.
  packages/tempus/test/DIRK/CMakeLists.txt
  packages/tempus/test/DIRK/Tempus_DIRK_Combined_FSA.cpp
  packages/tempus/test/DIRK/Tempus_DIRK_FSA.hpp
  packages/tempus/test/DIRK/Tempus_DIRK_Staggered_FSA.cpp
Labels: Tempus, in progress

#3239 Framework: PR testing changed packages
  cmake/std/PullRequestLinuxDriver.sh
Labels: Framework, in progress

#3254 Amesos2: Attempted fix for #3234
  packages/amesos2/src/Amesos2_Superludist.cpp
Labels: Amesos2, Tpetra, TpetraRF, build, in progress

#3264 Tempus: Allow StepperOperatorSplit to run without any ModelEvaluators.
  packages/tempus/src/Tempus_Stepper.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
Labels: AT: AUTOMERGE, Tempus, enhancement, in progress

#3262 Sacado: Fix macro logic for enabling the new design for clang.
  packages/sacado/src/Sacado_ConfigDefs.h
Labels: Sacado, in progress

#3275 Sacado: Fix possible NaNs in CppUnit nested Fad test
  packages/sacado/test/TestSuite/NestedFadUnitTests.hpp
Labels: AT: AUTOMERGE, Sacado, in progress

#3260 Switch to CUDA 9.2 build on white/ride (TRIL-215)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-debug-panzer.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-debug-pt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-opt-Pascal60.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-opt-panzer-Pascal60.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-opt-panzer.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-opt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-debug-all-at-once.sh
  cmake/std/atdm/ride/all_supported_builds.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/ride/tweaks/CUDA-9.2-DEBUG-CUDA-POWER8-KEPLER37.cmake
  cmake/std/atdm/ride/tweaks/CUDA-9.2-RELEASE-CUDA-POWER8-KEPLER37.cmake
  cmake/std/atdm/ride/tweaks/GNU-DEBUG-OPENMP-POWER8.cmake
  cmake/std/atdm/ride/tweaks/GNU-RELEASE-OPENMP-POWER8.cmake
  cmake/std/atdm/utils/set_build_options.sh
Labels: ATDM, in progress

#3274 Tempus: Adding method to set the temp state.
  packages/tempus/src/Tempus_StepperOperatorSplit_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
Labels: AT: AUTOMERGE, Tempus, enhancement, in progress

#3271 NOX: Fix Build Problem from 3c24e90
  packages/nox/src-loca/src-lapack/LOCA_LAPACK_Group.C
Labels: AT: AUTOMERGE, LOCA, NOX, in progress

#3278 ADTM KNL build on mutrino to use OMP_NUM_THREADS=2
  cmake/std/atdm/mutrino/environment.sh
Labels: ATDM, ATDM Config, in progress

#3283 Switch post-push CI build to use all-at-once method (#1761)
  cmake/ctest/drivers/sems_ci/ctest_linux_mpi_debug_shared_pt_ci.sems.cmake
  cmake/ctest/drivers/sems_ci/ctest_linux_mpi_debug_shared_pt_ci_aao.sems.cmake
Labels: in progress

#3281 Teuchos: ensure all YAML params get root name
  packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp
  packages/teuchos/parameterlist/test/yaml/YamlParameterList.cpp
Labels: AT: AUTOMERGE, Teuchos, in progress

#3292 Remove --mca orte_abort_on_non_zero_status 0 from srun on white/ride (#3287, #3291)
  cmake/std/atdm/ride/environment.sh
Labels: ATDM, Kokkos, Teuchos, bug, in progress

#3226 Write region data files into subdirectory (#3061)
  packages/muelu/research/mmayr/composite_to_regions/src/createInput.m
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/mmayr/composite_to_regions/src/mk1DRegionFile.m
  packages/muelu/research/mmayr/composite_to_regions/src/mk2DAppData.m
  packages/muelu/research/mmayr/composite_to_regions/src/mk2DRegionFile.m
  packages/muelu/research/mmayr/composite_to_regions/src/mkAppData.m
  packages/muelu/research/mmayr/composite_to_regions/src/mkCompositeMap.m
  packages/muelu/research/mmayr/composite_to_regions/src/mkMatrixFile.m
  packages/muelu/research/mmayr/composite_to_regions/src/mkRegionsPerGID.m
  packages/muelu/research/mmayr/composite_to_regions/src/muelu_structured.xml
  packages/muelu/research/mmayr/composite_to_regions/src/readRegionFile.m
  packages/muelu/research/mmayr/composite_to_regions/src/regionToProcMap.m
Labels: MueLu, in progress

#3294 MueLu: fix for EMPIRE segfault
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: AT: AUTOMERGE, in progress

#3295 ML: Refmaxwell Fixes
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.cpp
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.h
  packages/ml/src/Utils/ml_epetra_utils.cpp
  packages/ml/test/RefMaxwell/cxx_main.cpp
Labels: ML, in progress

#3298 Panzer: added global indexer accessor to L2 projection class
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: AT: AUTOMERGE, Panzer, in progress

#3258 Fix change logic in get-changed-trilinos-packages.sh and PullRequestLinuxDriver.sh (#3133)
  cmake/std/PullRequestLinuxDriver.sh
  cmake/tribits/ci_support/TribitsPackageFilePathUtils.py
  cmake/tribits/ci_support/filter-packages-list.py
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/python_utils/gitdist.py
  commonTools/framework/CMakeLists.txt
  commonTools/framework/ProjectCiFileChangeLogic_UnitTests.py
  commonTools/framework/get-changed-trilinos-packages.sh
Labels: AT: AUTOMERGE, ATDM, Framework, in progress

#3302 Fix missing 'fi' statement (#3133)
  cmake/std/PullRequestLinuxDriver.sh
Labels: ATDM, Framework

#3301 Panzer: add basis accessor to FieldPattern
  packages/panzer/dof-mgr/src/Panzer_IntrepidFieldPattern.cpp
  packages/panzer/dof-mgr/src/Panzer_IntrepidFieldPattern.hpp
  packages/panzer/dof-mgr/test/field_pattern/tFieldPattern2.cpp
Labels: AT: AUTOMERGE, Panzer, in progress

#3305 Submit only to testing-vm.sandia.gov/cdash/ (#3285)
  CTestConfig.cmake
  cmake/ctest/TrilinosCTestDriverCore.cmake
  cmake/ctest/drivers/CTestConfig.cmake
  cmake/ctest/drivers/continuous/ctest_linux_continuous_generic.cmake
  cmake/ctest/drivers/dorksaber/drakify-email.pl
  cmake/ctest/drivers/pu241/SubmitToTrilinos.cmake
  cmake/ctest/drivers/sadl30906/ctest_linux_continuous_mpi_opt_shared_sadl30906_jenkins.cmake
  cmake/ctest/drivers/sems_ci/ctest_linux_mpi_debug_shared_pt_ci_aao.sems.cmake
  cmake/ctest/drivers/trappist/drakify-email.pl
  cmake/ctest/drivers/windows/README.md
Labels: Framework, in progress

#3309 New ATDM Trilinos 'waterman' builds (TRIL-213)
  cmake/ctest/drivers/atdm/README.md
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-cuda-9.2-debug.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-cuda-9.2-opt.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-gnu-debug-openmp.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-gnu-opt-openmp.sh
  cmake/ctest/drivers/atdm/waterman/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/utils/get_known_system_name.sh
  cmake/std/atdm/waterman/all_supported_builds.sh
  cmake/std/atdm/waterman/environment.sh
  cmake/std/atdm/waterman/tweaks/ALL_COMMON_TWEAKS.cmake
  cmake/std/atdm/waterman/tweaks/CUDA_COMMON_TWEAKS.cmake
Labels: ATDM, in progress

#3310 Ifpack2 - remove return type from Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE, Ifpack2, in progress

#3313 ROL Trilinos Sync 16-Aug-2018
  packages/rol/adapters/mpi/src/CMakeLists.txt
  packages/rol/adapters/mpi/src/function/ROL_PinTConstraint.hpp
  packages/rol/example/PDE-OPT/TOOLS/dynconstraint.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/CMakeLists.txt
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/channel.jou
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/channel.txt
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/dynpde_navier-stokes.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/example_01.cpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/input.xml
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/obj_navier-stokes.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/plotFlow.m
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/process.sh
  packages/rol/example/PinT/parabolic-control/AugmentedSystem_test.cpp
  packages/rol/example/PinT/parabolic-control/CMakeLists.txt
  packages/rol/example/PinT/parabolic-control/input_ex01.xml
  packages/rol/example/PinT/tanks/AugmentedSystem_test.cpp
  packages/rol/example/PinT/tanks/CMakeLists.txt
  packages/rol/rol_install.py
  packages/rol/src/compatibility/simple/lapack/ROL_LAPACK.hpp
  packages/rol/src/compatibility/std/shared_ptr/ROL_Ptr.hpp
  packages/rol/src/function/constraint/ROL_Constraint.hpp
  packages/rol/src/function/constraint/ROL_ConstraintDef.hpp
  packages/rol/src/zoo/ROL_ParameterListConverters.hpp
Labels: AT: AUTOMERGE, in progress

#3300 Amesos2: Potential fix for issue #2270
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
Labels: Amesos2, in progress

#3312 Fix math precedence
  packages/teuchos/parser/example/Calc.cpp
  packages/teuchos/parser/src/Teuchos_MathExpr.cpp
  packages/teuchos/parser/src/Teuchos_MathExpr.hpp
  packages/teuchos/parser/test/unit_tests.cpp
Labels: AT: AUTOMERGE, Teuchos, bug, in progress

#3324 Tpetra: replace deprecated View::dimension_0
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: Tpetra, in progress

#3329 Tempus: Add function to swap solutionData between states.
  packages/tempus/src/Tempus_SolutionState_decl.hpp
  packages/tempus/src/Tempus_SolutionState_impl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
Labels: AT: AUTOMERGE, Tempus, enhancement, in progress

#3314 Tempus: Add potential full-space optimization interface.
  packages/tempus/src/Tempus_StepperBackwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperOptimizationInterface.hpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
Labels: AT: AUTOMERGE, ROL, Tempus, in progress

#3333 Tpetra: Fix #3332 (build errors on Mac Clang)
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
Labels: Tpetra, TpetraRF, in progress

#3342 PullRequestLinuxDriver.sh: change from fetching all branches to just …
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3334 ShyLU: Adding namespace std to cerr
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SumOperator_def.hpp
Labels: ShyLU, in progress

#3349 ROL Trilinos Sync 23-Aug-2018
  packages/rol/adapters/mpi/src/function/ROL_PinTConstraint.hpp
  packages/rol/example/PDE-OPT/TOOLS/assembler.hpp
  packages/rol/example/PDE-OPT/TOOLS/assembler_def.hpp
  packages/rol/example/PDE-OPT/TOOLS/dofmanager.hpp
  packages/rol/example/PDE-OPT/TOOLS/dynconstraint.hpp
  packages/rol/example/PDE-OPT/TOOLS/pdeconstraint.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/channel.jou
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/channel.txt
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/dynpde_navier-stokes.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/example_01.cpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/obj_navier-stokes.hpp
  packages/rol/example/PDE-OPT/dynamic/navier-stokes/steadypde_navier-stokes.hpp
  packages/rol/example/PinT/parabolic-control/AugmentedSystem_test.cpp
  packages/rol/example/PinT/tanks/example_03.cpp
  packages/rol/src/compatibility/boost/property_tree/ROL_ParameterList.hpp
Labels: AT: AUTOMERGE, in progress

#3363 Switch from OpenMPI 3.1.0 to 2.1.2 on 'waterman' (TRIL-213)
  cmake/std/atdm/waterman/environment.sh
Labels: ATDM, in progress

#3365 PullRequestLinuxDriver.sh: change proxy environment variables per CEE
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3364 Start of testing to determine what level of -j is acceptable
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3369 Fix TRIBITS_ADD_TEST( ... ARGS "0" ... ) (TriBITSPub/TriBITS#265)
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
  cmake/tribits/ctest_driver/TribitsAddDashboardTarget.cmake
Labels: Framework, in progress
