Repository trilinos/Trilinos, pull requests merged in 2018-09, with the labels that each got.

#3379 MueLu: fix #3378
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: AT: AUTOMERGE, MueLu, in progress

#3356 Tests for Teuchos::Comm unexpected behavior on waterman
  packages/teuchos/comm/test/Comm/CMakeLists.txt
  packages/teuchos/comm/test/Comm/subcommTestMpi.cpp
  packages/teuchos/comm/test/Comm/subcommTestTeuchosComm.cpp
  packages/teuchos/comm/test/Comm/waterman_mpi.cpp
  packages/teuchos/comm/test/Comm/waterman_teuchoscomm.cpp
  packages/zoltan2/test/partition/TaskMappingProblemTest.cpp
  packages/zoltan2/test/temp/CMakeLists.txt
  packages/zoltan2/test/temp/teuchosSubcommTest.cpp
Labels: AT: AUTOMERGE, ATDM, Teuchos, Zoltan2, in progress

#3368 Zoltan2: use same default data types at Tpetra
  packages/tpetra/core/example/Additive-Schwarz-Halo/AdditiveSchwarzHalo.cpp
  packages/tpetra/core/example/BlockCrs/CMakeLists.txt
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_main.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_typedefs.hpp
  packages/tpetra/core/example/Lesson05-Redistribution/lesson05_redistribution.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/05_solve.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
  packages/tpetra/core/src/Tpetra_MultiVectorFiller.hpp
  packages/tpetra/core/test/BugTests/BlankRowBugTest.cpp
  packages/tpetra/core/test/BugTests/BugTests.cpp
  packages/tpetra/core/test/CrsMatrix/Regression/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/ExportToStaticGraphCrsMatrix.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_UnitTests.cpp
  packages/tpetra/core/test/ImportExport/ReverseCommunication_Issue227.cpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/rcb.cpp
  packages/tpetra/core/test/PerformanceCGSolve/CMakeLists.txt
  packages/tpetra/core/test/RowMatrixTransposer/RowMatrixTransposer_UnitTests.cpp
  packages/tpetra/core/test/RowMatrixTransposer/main.cpp
  packages/tpetra/core/test/inout/Bug5800.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsMatrix_FileTest.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_MultiVector_InOutTest.cpp
  packages/zoltan2/example/block/block.cpp
  packages/zoltan2/example/block/kokkosBlock.cpp
  packages/zoltan2/example/geometric/rcb_C.cpp
  packages/zoltan2/example/graph/graph.cpp
  packages/zoltan2/src/input/Zoltan2_InputTraits.hpp
  packages/zoltan2/src/input/Zoltan2_PamgenMeshAdapter.hpp
  packages/zoltan2/test/helpers/UserInputForTests.hpp
  packages/zoltan2/test/partition/CMakeLists.txt
  packages/zoltan2/test/partition/pamgenMeshAdapterTest.cpp
  packages/zoltan2/test/temp/CMakeLists.txt
  packages/zoltan2/test/unit/input/PamgenMeshInput.cpp
Labels: Zoltan2, in progress

#3383 MueLu: Fix#3378
  packages/muelu/test/helmholtz/Helmholtz1D.cpp
  packages/muelu/test/helmholtz/Helmholtz2D.cpp
  packages/muelu/test/helmholtz/Helmholtz3D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM2D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM3D.cpp
Labels: AT: AUTOMERGE, MueLu, bug, in progress

#3382 Allow base packages to build with MinGW
  packages/teuchos/numerics/src/Teuchos_BLAS.cpp
  packages/teuchos/parameterlist/src/CMakeLists.txt
  packages/teuchos/parameterlist/src/Teuchos_XMLPerfTestArchive.cpp
Labels: AT: AUTOMERGE, Teuchos, build, system: windows

#3376 Tempus: Mods and cleanup for EMPIRE #3374
  packages/tempus/src/Tempus_SolutionHistory_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplitTest.cpp
Labels: AT: AUTOMERGE, EMPIRE, Tempus, enhancement, in progress

#3381 EpetraExt: Recursively check for existing HDF5 groups
  packages/epetraext/src/inout/EpetraExt_HDF5.cpp
  packages/epetraext/src/inout/EpetraExt_HDF5.h
  packages/epetraext/test/inout/CMakeLists.txt
  packages/epetraext/test/inout/EpetraExt_HDF5_UnitTest.cpp
Labels: AT: AUTOMERGE, EpetraExt

#3384 MueLu: fix #3378
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_decl.hpp
Labels: AT: AUTOMERGE, MueLu, bug, in progress

#3389 Teko explicitAdd with zero ops
  packages/teko/src/Teko_Utilities.cpp
Labels: Teko, in progress

#3393 Panzer: remove stk adapter try/catch block #3392
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
Labels: Panzer, in progress

#3397 NOX: print extra diagnostics in SingleStep solver #3396
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/nox/test/epetra/Thyra/Thyra_SingleStepSolver_1D.C
Labels: AT: AUTOMERGE, NOX

#3223 Tpetra develop
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/Makefile.kokkos-kernels
  packages/kokkos-kernels/cmake/Dependencies.cmake
  packages/kokkos-kernels/cmake/KokkosKernels_config.h.in
  packages/kokkos-kernels/src/blas/KokkosBlas.hpp
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas1_scal_tpl_spec_decl.hpp
  packages/kokkos-kernels/unit_test/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/pce/belos/Belos_TpetraAdapter_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_TpetraAdapter_MP_Vector.hpp
  packages/tpetra/core/src/Tpetra_Details_cublasGemm.cpp
  packages/tpetra/core/src/Tpetra_Details_cublasGemm.hpp
  packages/tpetra/core/src/Tpetra_Details_cublasGemv.cpp
  packages/tpetra/core/src/Tpetra_Details_cublasGemv.hpp
  packages/tpetra/core/src/Tpetra_Details_defaultGemm.hpp
  packages/tpetra/core/src/Tpetra_Details_defaultGemv.hpp
  packages/tpetra/core/src/Tpetra_Details_gemm.hpp
  packages/tpetra/core/src/Tpetra_Details_gemv.hpp
  packages/tpetra/core/src/Tpetra_Details_libGemm.cpp
  packages/tpetra/core/src/Tpetra_Details_libGemm.hpp
  packages/tpetra/core/src/Tpetra_Details_libGemv.cpp
  packages/tpetra/core/src/Tpetra_Details_libGemv.hpp
  packages/tpetra/core/src/Tpetra_Details_mklGemm.cpp
  packages/tpetra/core/src/Tpetra_Details_mklGemm.hpp
  packages/tpetra/core/src/Tpetra_Details_mklGemv.cpp
  packages/tpetra/core/src/Tpetra_Details_mklGemv.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/kokkos_refactor/Kokkos_MV_GEMM.hpp
  packages/tpetra/core/test/Blas/gemm.cpp
  packages/tpetra/core/test/Blas/gemv.cpp
Labels: AT: AUTOMERGE, Framework, Tpetra, TpetraRF, in progress

#3395 Disable piro test that is failing on waterman ATDM builds
  cmake/std/atdm/waterman/tweaks/CUDA-OPT-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-OPT-OPENMP-POWER9-VOLTA70.cmake
Labels: ATDM, in progress

#3401 Tempus: Ensure Steppers get fully initialized.
  packages/tempus/src/Tempus_StepperBDF2_impl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperImplicit_impl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_decl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_impl.hpp
Labels: AT: AUTOMERGE, Tempus, bug, in progress

#3399 ROL Trilinos Sync 6-Sep-2018
  packages/rol/example/PDE-OPT/binary/adv-diff/input_ex01.xml
  packages/rol/example/PDE-OPT/binary/adv-diff/opfactory.hpp
  packages/rol/example/PDE-OPT/binary/adv-diff/pde_adv_diff.hpp
Labels: AT: AUTOMERGE, in progress

#3388 Intrepid2: Improved performance by eliminating subviews in contractio…
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefContractions.hpp
Labels: AT: AUTOMERGE, Intrepid2

#3402 Panzer hcurl mass from l2projection
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: AT: AUTOMERGE, Panzer, in progress

#3403 MueLu geometric interpolation linear
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
Labels: AT: AUTOMERGE, MueLu, enhancement, in progress

#3404 Zoltan2: fixed some trivial compile errors on white
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/src/problems/Zoltan2_MatchingProblem.hpp
  packages/zoltan2/src/problems/Zoltan2_PartitioningSolution.hpp
  packages/zoltan2/test/correctness/zoltanCompare.cpp
  packages/zoltan2/test/driver/test_driver.cpp
  packages/zoltan2/test/helpers/PrintData.hpp
  packages/zoltan2/test/helpers/Zoltan2_ComparisonHelper.hpp
  packages/zoltan2/test/partition/APFMeshAdapterTest.cpp
  packages/zoltan2/test/partition/MultiJaggedTest.cpp
  packages/zoltan2/test/partition/PartitionAndParMATest.cpp
  packages/zoltan2/test/partition/TaskMappingProblemTest.cpp
  packages/zoltan2/test/partition/TaskMappingSimulate.cpp
  packages/zoltan2/test/partition/TaskMappingTest.cpp
  packages/zoltan2/test/partition/rcbPerformanceZ1.cpp
  packages/zoltan2/test/partition/taskMappingTest3.cpp
  packages/zoltan2/test/scaling/rcbPerformance.cpp
  packages/zoltan2/test/scaling/rcbPerformanceZ1.cpp
  packages/zoltan2/test/temp/multivectorTest.cpp
  packages/zoltan2/test/temp/paramTest.cpp
  packages/zoltan2/test/unit/environment/AllParameters.cpp
  packages/zoltan2/test/unit/input/XpetraCrsMatrixInput.cpp
  packages/zoltan2/test/unit/models/CoordinateModel.cpp
  packages/zoltan2/test/unit/models/GraphModel.cpp
  packages/zoltan2/test/unit/util/Metric.cpp
Labels: AT: AUTOMERGE, Zoltan2, in progress

#3409 Switch SEMS env default to match GCC 4.8.4 OpenMPI 1.10.1 CI build (#3407)
  cmake/std/GCC-4.8.4-OpenMPI-1.10.1-MpiReleaseDebugSharedPtOpenMP_env.sh
  cmake/std/sems/get_default_modules.sh
Labels: AT: AUTOMERGE, Framework, ROL, in progress

#3408 NOX/Panzer: Cleanup comments
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
Labels: AT: AUTOMERGE, NOX, Panzer, in progress

#3411 Tpetra follow-up to #3368
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, Tpetra, in progress

#3414 SEACAS: Install explore on all systems; symlink on SEACAS only
  packages/seacas/applications/explore/CMakeLists.txt
Labels: seacas

#3416 Import of stk development from Sierra stream
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_io/stk_io/OutputParams.hpp
  packages/stk/stk_io/stk_io/SidesetTranslator.hpp
  packages/stk/stk_io/stk_io/StkIoUtils.cpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.cpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.hpp
  packages/stk/stk_util/stk_util/parallel/CommNeighbors.cpp
Labels: AT: AUTOMERGE, STK

#3418 Chnage the ATDM build on ride/white to use different netcdf
  cmake/std/atdm/ride/environment.sh
Labels: AT: AUTOMERGE, ATDM, seacas

#3420 Fix (workaround) DGEMM issue in kokkos kernels.
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas3_gemm_tpl_spec_decl.hpp
Labels: AT: AUTOMERGE, ATDM, KokkosKernels, Tpetra

#3421 NOX: Fix single step parsing
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/test/epetra/Thyra/Thyra_SingleStepSolver_1D.C
Labels: AT: AUTOMERGE, NOX

#3422 MueLu: SemiCoarsening inject null space
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_decl.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
Labels: MueLu, in progress

#3386 Tempus: Removed StepperStatus
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_RKButcherTableau.hpp
  packages/tempus/src/Tempus_RKButcherTableauBuilder_impl.hpp
  packages/tempus/src/Tempus_SolutionState_decl.hpp
  packages/tempus/src/Tempus_StepperBDF2_impl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_StepperState.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyBasicVS.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyConstant.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/PhysicsState/Tempus_PhysicsStateTest_StepperForwardEuler.hpp
Labels: AT: AUTOMERGE, Tempus, enhancement, in progress

#3423 Nox: add linear solver statistics to nox group
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/nox/src-thyra/NOX_Thyra_Group.H
  packages/nox/src/NOX_Abstract_Group.C
  packages/nox/src/NOX_Abstract_Group.H
  packages/nox/test/epetra/Thyra/Thyra_SingleStepSolver_1D.C
Labels: AT: AUTOMERGE, NOX

#3425 Fix checkin-test-sems.sh
  cmake/std/GCC-4.8.4-OpenMPI-1.10.1-MpiReleaseDebugSharedPtOpenMP_env.sh
  cmake/std/sems/checkin-test-sems.sh
Labels: AT: AUTOMERGE, Framework, ROL

#3427 MueLu: Fixing ifdef guards
  packages/muelu/test/unit_tests/Smoothers/BlockedDirectSolver.cpp
Labels: AT: AUTOMERGE

#3424 SEACAS: Add experimental slice application to make snapshot cleaner
  packages/seacas/applications/slice/CMakeLists.txt
  packages/seacas/applications/slice/COPYRIGHT
  packages/seacas/applications/slice/SL_SystemInterface.C
  packages/seacas/applications/slice/SL_SystemInterface.h
  packages/seacas/applications/slice/SL_Version.h
  packages/seacas/applications/slice/Slice.C
  packages/seacas/applications/slice/cmake/Dependencies.cmake
  packages/seacas/applications/slice/new-version.txt
  packages/seacas/cmake/Dependencies.cmake
Labels: seacas

#3431 NOX: aggregate line search statistics
  packages/nox/src-thyra/NOX_LineSearch_SafeguardedDirection.cpp
  packages/nox/src-thyra/NOX_LineSearch_SafeguardedDirection.hpp
  packages/nox/src/CMakeLists.txt
  packages/nox/src/NOX_GlobalData.C
  packages/nox/src/NOX_GlobalData.H
  packages/nox/src/NOX_LineSearch_MoreThuente.C
  packages/nox/src/NOX_LineSearch_MoreThuente.H
  packages/nox/src/NOX_LineSearch_Polynomial.C
  packages/nox/src/NOX_LineSearch_Polynomial.H
  packages/nox/src/NOX_LineSearch_SafeguardedStep.C
  packages/nox/src/NOX_LineSearch_SafeguardedStep.H
  packages/nox/src/NOX_LineSearch_Tensor.C
  packages/nox/src/NOX_LineSearch_Tensor.H
  packages/nox/src/NOX_LineSearch_Utils_Counters.C
  packages/nox/src/NOX_LineSearch_Utils_Counters.H
  packages/nox/src/NOX_SolverStats.hpp
  packages/nox/src/NOX_Solver_TensorBased.C
  packages/nox/src/NOX_Solver_TensorBased.H
Labels: AT: AUTOMERGE, NOX

#3432 NOX: add observer for solution update
  packages/nox/src/NOX_Abstract_PrePostOperator.H
  packages/nox/src/NOX_PrePostOperator_Vector.C
  packages/nox/src/NOX_PrePostOperator_Vector.H
  packages/nox/src/NOX_Solver_AndersonAcceleration.C
  packages/nox/src/NOX_Solver_InexactTrustRegionBased.C
  packages/nox/src/NOX_Solver_LineSearchBased.C
  packages/nox/src/NOX_Solver_PrePostOperator.H
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_TrustRegionBased.C
  packages/nox/test/basic/NOX_PrePostOperatorVector.C
Labels: AT: AUTOMERGE, NOX

#3433 Import stk development from the sierra stream
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_unit_tests/stk_io/UnitTestWriteSTKMesh.cpp
  packages/stk/stk_util/stk_util/parallel/CommNeighbors.cpp
Labels: AT: AUTOMERGE, STK

#3437 Tpetra: Broke one test into four to avoid timeouts in ATDM environment #3417
  packages/tpetra/core/test/Blas/CMakeLists.txt
  packages/tpetra/core/test/Blas/gemm.cpp
Labels: AT: AUTOMERGE, ATDM Config, Tpetra

#3434 This commit just adds a Redundant Include Guard to Epetra_config.h.in
  packages/epetra/cmake/Epetra_config.h.in
Labels: AT: AUTOMERGE, Epetra

#3443 NOX: add statistics aggregation to all solvers
  packages/nox/src-epetra/NOX_Epetra_Group.C
  packages/nox/src-epetra/NOX_Epetra_Group.H
  packages/nox/src-loca/src/LOCA_Solver_Wrapper.C
  packages/nox/src-loca/src/LOCA_Solver_Wrapper.H
  packages/nox/src-thyra/NOX_LineSearch_SafeguardedDirection.cpp
  packages/nox/src-thyra/NOX_Solver_PseudoTransient.cpp
  packages/nox/src-thyra/NOX_Solver_PseudoTransient.hpp
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/nox/src-thyra/NOX_Thyra_Group.H
  packages/nox/src/NOX_Abstract_Group.C
  packages/nox/src/NOX_Abstract_Group.H
  packages/nox/src/NOX_Direction_Broyden.C
  packages/nox/src/NOX_Direction_ModifiedNewton.C
  packages/nox/src/NOX_Direction_Newton.C
  packages/nox/src/NOX_LineSearch_MoreThuente.C
  packages/nox/src/NOX_LineSearch_Polynomial.C
  packages/nox/src/NOX_LineSearch_SafeguardedStep.C
  packages/nox/src/NOX_LineSearch_Tensor.C
  packages/nox/src/NOX_Multiphysics_Solver_FixedPointBased.C
  packages/nox/src/NOX_Multiphysics_Solver_FixedPointBased.H
  packages/nox/src/NOX_SolverStats.hpp
  packages/nox/src/NOX_Solver_AndersonAcceleration.C
  packages/nox/src/NOX_Solver_AndersonAcceleration.H
  packages/nox/src/NOX_Solver_Generic.H
  packages/nox/src/NOX_Solver_InexactTrustRegionBased.C
  packages/nox/src/NOX_Solver_InexactTrustRegionBased.H
  packages/nox/src/NOX_Solver_LineSearchBased.C
  packages/nox/src/NOX_Solver_LineSearchBased.H
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/nox/src/NOX_Solver_TensorBased.C
  packages/nox/src/NOX_Solver_TensorBased.H
  packages/nox/src/NOX_Solver_TensorBasedTest.C
  packages/nox/src/NOX_Solver_TensorBasedTest.H
  packages/nox/src/NOX_Solver_TrustRegionBased.C
  packages/nox/src/NOX_Solver_TrustRegionBased.H
  packages/nox/test/basic/NOX_PrePostOperatorVector.C
  packages/nox/test/epetra/1Dfem/1DfemScaledInexactTrustRegion.C
  packages/nox/test/epetra/Brusselator/Example.C
  packages/nox/test/epetra/DS6.5.1/Example.C
  packages/nox/test/epetra/Thyra/Thyra_2Dsim.C
  packages/nox/test/epetra/Thyra/Thyra_SingleStepSolver_1D.C
Labels: AT: AUTOMERGE, NOX

#3448 NOX: observer refactor
  packages/nox/src-epetra/NOX_Epetra_BroydenOperator.C
  packages/nox/src-epetra/NOX_Epetra_BroydenOperator.H
  packages/nox/src-thyra/NOX_Solver_PseudoTransient.cpp
  packages/nox/src-thyra/NOX_Solver_PseudoTransient.hpp
  packages/nox/src/CMakeLists.txt
  packages/nox/src/NOX_Abstract_PrePostOperator.H
  packages/nox/src/NOX_Multiphysics_Solver_FixedPointBased.C
  packages/nox/src/NOX_Multiphysics_Solver_FixedPointBased.H
  packages/nox/src/NOX_Observer.hpp
  packages/nox/src/NOX_PrePostOperator_Vector.C
  packages/nox/src/NOX_PrePostOperator_Vector.H
  packages/nox/src/NOX_Solver_AndersonAcceleration.C
  packages/nox/src/NOX_Solver_AndersonAcceleration.H
  packages/nox/src/NOX_Solver_InexactTrustRegionBased.C
  packages/nox/src/NOX_Solver_InexactTrustRegionBased.H
  packages/nox/src/NOX_Solver_LineSearchBased.C
  packages/nox/src/NOX_Solver_LineSearchBased.H
  packages/nox/src/NOX_Solver_PrePostOperator.C
  packages/nox/src/NOX_Solver_PrePostOperator.H
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/nox/src/NOX_Solver_SolverUtils.C
  packages/nox/src/NOX_Solver_SolverUtils.H
  packages/nox/src/NOX_Solver_TensorBased.C
  packages/nox/src/NOX_Solver_TensorBased.H
  packages/nox/src/NOX_Solver_TensorBasedTest.C
  packages/nox/src/NOX_Solver_TensorBasedTest.H
  packages/nox/src/NOX_Solver_TrustRegionBased.C
  packages/nox/src/NOX_Solver_TrustRegionBased.H
  packages/nox/test/basic/NOX_PrePostOperatorVector.C
Labels: AT: AUTOMERGE, NOX

#3446 MeshingGenie: Remove MeshingGenie from Trilinos code base
  PackagesList.cmake
  cmake/ctest/drivers/trilinos-test2/nightly_create_tarball.py
  cmake/dependencies/CDashSubprojectDependencies.xml
  cmake/dependencies/TrilinosPackageDependencies.xml
  commonTools/git/hooks/Trilinos/dirs_to_emails
  packages/meshinggenie/CMakeLists.txt
  packages/meshinggenie/cmake/Dependencies.cmake
  packages/meshinggenie/cmake/MeshingGenie_config.hpp.in
  packages/meshinggenie/examples/Box.dat
  packages/meshinggenie/examples/CMakeLists.txt
  packages/meshinggenie/examples/README
  packages/meshinggenie/examples/checkTest
  packages/meshinggenie/examples/hmain.cpp
  packages/meshinggenie/examples/hybrid_input.dat
  packages/meshinggenie/examples/main.cpp
  packages/meshinggenie/src/CMakeLists.txt
  packages/meshinggenie/src/HybridMesher_2d.cpp
  packages/meshinggenie/src/HybridMesher_2d.h
  packages/meshinggenie/src/MeshingGenie_2d.cpp
  packages/meshinggenie/src/MeshingGenie_2d.h
  packages/meshinggenie/src/MeshingGenie_3d.cpp
  packages/meshinggenie/src/MeshingGenie_3d.h
  packages/meshinggenie/src/standalone/CMakeLists.txt
  packages/meshinggenie/src/standalone/app/CMakeLists.txt
  packages/meshinggenie/src/standalone/app/MeshingGenie_main.cpp
  packages/meshinggenie/src/standalone/mps/CMakeLists.txt
  packages/meshinggenie/src/standalone/mps/MeshingGenie_defs.h
  packages/meshinggenie/src/standalone/mps/MeshingGenie_mps_nd.cpp
  packages/meshinggenie/src/standalone/mps/MeshingGenie_mps_nd.h
  packages/meshinggenie/src/standalone/mps/MeshingGenie_plotter_2d.cpp
  packages/meshinggenie/src/standalone/mps/MeshingGenie_plotter_2d.h
Labels: AT: AUTOMERGE, Framework

#3452 NOX: fix brusselator test for serial build #3449
  packages/nox/test/epetra/Brusselator/Example.C
Labels: AT: AUTOMERGE, NOX

#3462 Tpetra: Updated modules for tests on white.
  sampleScripts/Sandia-SEMS/test_tpetra_sandia
Labels: AT: AUTOMERGE, Tpetra

#3466 Swap out OpenMPI 3.1.0 for OpenMPI 2.1.2 on white/ride (#3290)
  cmake/std/atdm/ride/environment.sh
Labels: AT: AUTOMERGE, ATDM, in progress

#3463 Import of stk development from the sierra stream
  packages/stk/stk_search/cmake/Dependencies.cmake
  packages/stk/stk_tools/Jamfile
  packages/stk/stk_tools/stk_tools/pmesh_lib/UnitTest/PmeshUnitMain.C
  packages/stk/stk_tools/stk_tools/pmesh_lib/UnitTest/UnitTestPmesh.C
  packages/stk/stk_tools/stk_tools/pmesh_lib/makeparfiles.C
  packages/stk/stk_tools/stk_tools/pmesh_lib/makeparfiles.H
Labels: AT: AUTOMERGE, STK

#3454 Atdm waterman disables
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-DEBUG-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-RELEASE-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-DEBUG-OPENMP-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-OPT-OPENMP-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-RELEASE-OPENMP-POWER9-VOLTA70.cmake
Labels: AT: AUTOMERGE, ATDM

#3470 Resolved roundoff issue in stddev calc
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: AT: AUTOMERGE, Teuchos, in progress

#3468 WIP: Resolve "Panzer: Update Integrator_DivBasisTimesScalar"
  packages/panzer/adapters-stk/example/MixedPoissonExample/Example_MixedPoissonEquationSet_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_CurlCurl_impl.hpp
Labels: Panzer, in progress

#3474 PyTrilinos: Fix Teuchos MpiComm constructor when MPI4PY enabled
  packages/PyTrilinos/src/Teuchos_Comm.i
  packages/PyTrilinos/test/testTeuchos_Comm.py.in
Labels: in progress

#3481 ATDM - rename the gnu waterman tweaks files
  cmake/std/atdm/waterman/tweaks/GNU-DEBUG-OPENMP-POWER9.cmake
  cmake/std/atdm/waterman/tweaks/GNU-RELEASE-OPENMP-POWER9.cmake
Labels: AT: AUTOMERGE, ATDM, in progress

#3467 Belos: Add Tpetra-only pipelined CG, single all-reduce {CG,GMRES}, and s-step GMRES
  packages/belos/tpetra/src/CMakeLists.txt
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Cg.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Cg.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgPipeline.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgPipeline.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgSingleReduce.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgSingleReduce.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Gmres.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Gmres.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresPipeline.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresPipeline.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresS.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresS.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSingleReduce.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSingleReduce.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSstep.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSstep.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Krylov.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Krylov_parameters.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_SolverManager.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_SolverManagerBase.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_UpdateNewton.hpp
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/Native/CMakeLists.txt
  packages/belos/tpetra/test/Native/diagonal_matrix.cpp
  packages/belos/tpetra/test/Native/nonsymm_matrix.cpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: in progress

#3485 compile fixes for superlu_dit 6.0
  packages/amesos/src/Amesos_Superludist.cpp
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
Labels: Amesos, Amesos2

#3475 PyTrilinos: Fix wrappers for Tpetra classes moved to Classes namespace
  packages/PyTrilinos/src/Tpetra.i
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
  packages/PyTrilinos/test/testTeuchos.py.in
Labels: PyTrilinos, Tpetra, in progress

#3487 Belos: Fix #3486 (Clang 3.8.1 build)
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Krylov_parameters.hpp
Labels: Belos, in progress

#3498 MueLu: improve unit test run times under CUDA
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: in progress

#3507 MueLu: RAPShiftFactory, Take 3
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_RAPShiftFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_RAPShiftFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
Labels: AT: AUTOMERGE, in progress

#3513 1761 change to cmake 3.10
  cmake/ctest/drivers/apollo/cron_driver.sh
  cmake/ctest/drivers/artemis/cron_driver.sh
  cmake/ctest/drivers/enigma/cron_driver.sh
  cmake/ctest/drivers/geminga/cron_driver.sh
  cmake/ctest/drivers/perseus/cron_driver.sh
  cmake/ctest/drivers/ride/cron_driver.sh
  cmake/ctest/drivers/rocketman/cron_driver.sh
  cmake/ctest/drivers/shiller/cron_driver.sh
  cmake/ctest/drivers/trappist/cron_driver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3511 MueLu: Fixes to MueLu Driver to get complex stuff working
  packages/muelu/test/scaling/Driver.cpp
Labels: AT: AUTOMERGE

#3504 Zoltan: added MPI-only test (no Trilinos) to verify correct MPI behavior
  packages/zoltan/test/CMakeLists.txt
  packages/zoltan/test/TestMPI/CMakeLists.txt
  packages/zoltan/test/TestMPI/canarySelfMessages.c
Labels: AT: AUTOMERGE, Zoltan, in progress

#3518 CMake: Make sems script POSIX compatible
  cmake/load_sems_dev_env.sh
  cmake/std/sems/get_default_modules.sh
Labels: in progress

#3512 MueLu: Simplify rebasing of gold files
  packages/muelu/test/interface/CMakeLists.txt
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/interface/complex/EasyParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/complex/EasyParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/complex/FactoryParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/complex/FactoryParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/complex/MLParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/complex/MLParameterListInterpreter2/CMakeLists.txt
  packages/muelu/test/interface/complex/Output/CMakeLists.txt
  packages/muelu/test/interface/default/EasyParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/default/EasyParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/default/FactoryParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/default/FactoryParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/default/MLParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/default/MLParameterListInterpreter2/CMakeLists.txt
  packages/muelu/test/interface/default/Output/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/EasyParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/EasyParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/FactoryParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/FactoryParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/MLParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/MLParameterListInterpreter2/CMakeLists.txt
  packages/muelu/test/interface/kokkos-complex/Output/CMakeLists.txt
  packages/muelu/test/interface/kokkos/EasyParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/kokkos/EasyParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos/FactoryParameterListInterpreter-heavy/CMakeLists.txt
  packages/muelu/test/interface/kokkos/FactoryParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos/MLParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/kokkos/MLParameterListInterpreter2/CMakeLists.txt
  packages/muelu/test/interface/kokkos/Output/CMakeLists.txt
  packages/muelu/test/interface/rebase.sh
Labels: AT: AUTOMERGE, MueLu

#3514 Tpetra transferAndFillComplete: Avoid dereferencing of null-pointer
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: AT: AUTOMERGE, Tpetra, in progress

#3517 MueLu: split unit tests into separate executables
  packages/muelu/test/unit_tests/CMakeLists.txt
Labels: in progress

#3502 MueLu: enable import performance test
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/ImportPerformance.cpp
Labels: AT: AUTOMERGE, in progress

#3519 ATDM Trilinos README.md documentation
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
Labels: AT: AUTOMERGE, ATDM, enhancement, in progress

#3479 PullRequestLinuxDriver.sh: add a retry loop for the github fetch
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3522 Exclude EpetraExt/HDF5 test if EpetraExt_ENABLE_HDF5 is not true (#3484)
  packages/epetraext/test/inout/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM, EpetraExt, bug, in progress

#3521 Add install of ATDM env scripts, rename JOB_NAME to ATDM_CONFIG_JOB_NAME (#2689)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/chama/environment.sh
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/load_matching_env.sh.in
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/rhel6/environment.sh
  cmake/std/atdm/serrano/environment.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/toss3/environment.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/waterman/environment.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, enhancement, in progress

#3524 Tpetra: SpGEMM reuse mod
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: AT: AUTOMERGE, in progress

#3525 MueLu: Fix wrong method to set output stream
  packages/muelu/test/unit_tests_kokkos/MueLu_TestHelpers_Common_kokkos.hpp
  packages/muelu/test/unit_tests_kokkos/SaPFactory_kokkos.cpp
Labels: AT: AUTOMERGE, MueLu, in progress

#3520 Framework: Parameterized CTest build update to enable extra packages to be set by Jenkins parameters.
  cmake/ctest/drivers/parameterized/ctest_linux_nightly_generic.cmake
Labels: Framework, in progress

#3527 MueLu: fix dashboard failures
  packages/muelu/test/scaling/CMakeLists.txt
Labels: AT: AUTOMERGE, in progress

#3529 PullRequestLinuxDriver.sh: correct syntax error
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3209 superlu_dist: compile fix for v5.4.0
  packages/amesos/src/Amesos_Superludist.cpp
  packages/amesos/test/TestOptions/TestSuperludist.cpp
Labels: Amesos2, Framework

#3354 Stratimikos Belos adapter: Do not filter Belos errors
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_decl.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_def.hpp
  packages/stratimikos/adapters/belos/test/LOWSFactory/CMakeLists.txt
  packages/stratimikos/adapters/belos/test/LOWSFactory/test_stratimikos_belos_nan_handler.cpp
Labels: AT: AUTOMERGE, Belos, Stratimikos, in progress

#3530 Disable four exodus SEACAS tests failing with Not Run on mutrino (#3496)
  cmake/std/atdm/mutrino/tweaks/ALL_BUILDS.cmake
Labels: ATDM, in progress, seacas
