Repository trilinos/Trilinos, pull requests merged in 2018-03, with the labels that each got.

#2310 Update NOX_Thyra_Eq test to clearly show why it passes or fails
  packages/nox/test/epetra/Thyra/Thyra_Heq.C
  packages/teuchos/core/src/Teuchos_LocalTestingHelpers.hpp
  packages/teuchos/core/src/Teuchos_TestingHelpers.hpp
  packages/teuchos/core/test/UnitTest/vector_UnitTests.cpp
Labels: ATDM, NOX, in progress

#2321 Teuchos: Fix uninitialized variable
  packages/teuchos/core/src/Teuchos_BigUInt.hpp
Labels: Teuchos, bug, in progress

#2329 Anasazi: Fix #2323
  packages/anasazi/src/AnasaziMultiVecTraits.hpp
Labels: Anasazi, in progress

#2314 Teuchos: Fix #2273
  packages/moertel/src/mortar/Moertel_ExplicitTemplateInstantiation.hpp
  packages/muelu/test/unit_tests/Galeri.cpp
  packages/teuchos/CMakeLists.txt
Labels: Kokkos, Teuchos, build, in progress

#2335 Tpetra: Fix #2334
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: Tpetra, TpetraRF, in progress

#2341 2324 improve in source error message
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsProjectImpl.cmake
Labels: in progress

#2342 shylu_node: correct warnings.
  packages/shylu/shylu_node/tacho/src/TachoExp_NumericTools.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestCrsMatrixBase.hpp
Labels: ShyLU

#2328 Revert "MueLu: printf data in xml-expert-mode (#2260)"
  packages/muelu/doc/Tutorial/src/xml/s6_export.xml
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: MueLu, in progress

#2349 ML: cleanup warnings by commenting out unused variables
  packages/ml/examples/Advanced/ml_user_aggr.cpp
  packages/ml/examples/MatrixFormats/ml_AztecMsr.cpp
  packages/ml/test/ValidateParams/cxx_main.cpp
Labels: ML, in progress

#2346 Panzer: add (optional) prefix to response field name
  packages/panzer/disc-fe/src/responses/Panzer_ResponseEvaluatorFactory_ExtremeValue.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseEvaluatorFactory_ExtremeValue_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseEvaluatorFactory_Functional_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseScatterEvaluator_ExtremeValue_impl.hpp
Labels: Panzer, in progress

#2352 Tpetra: Add "Error 127" CUDA build work-around to FAQ
  packages/tpetra/doc/FAQ.txt
Labels: Tpetra, TpetraRF, in progress

#2355 Added function to return the full vector of data in the indexer rathe…
  packages/panzer/dof-mgr/src/Panzer_UniqueGlobalIndexer.hpp
Labels: Panzer, in progress

#2354 Tpetra: Sort and merge specializations for Tpetra::CrsGraph
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/test/ImportExport2/CMakeLists.txt
  packages/tpetra/core/test/ImportExport2/ImportExport2_CrsSortingUtils.cpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: Tpetra, TpetraRF, in progress

#2363 Tpetra: Adding an additive Schwarz test
  packages/tpetra/core/example/Additive-Schwarz-Halo/AdditiveSchwarzHalo.cpp
  packages/tpetra/core/example/Additive-Schwarz-Halo/CMakeLists.txt
  packages/tpetra/core/example/CMakeLists.txt
Labels: Tpetra, in progress

#2361 Phalanx: Resolve "Replace PHX_EVALUATOR_CLASS Macros"
  packages/phalanx/scripts/replacePhalanxEvaluatorMacros.py
Labels: AT: WIP, Phalanx, in progress

#2360 Remove '#line 1' as workaround for Ninja + CUDA rebuilds (#2359)
  packages/seacas/libraries/aprepro_lib/apr_scanner.cc
Labels: in progress

#2313 Tpetra fema staticprofile 001
  packages/tpetra/core/example/Finite-Element-Assembly/CMakeLists.txt
  packages/tpetra/core/example/Finite-Element-Assembly/Element.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/README.md
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/typedefs.hpp
Labels: TpetraRF, in progress

#2325 Changes to Panzer in support of domains.
  packages/panzer/disc-fe/src/Panzer_Evaluator_DomainInterface.cpp
  packages/panzer/disc-fe/src/Panzer_Evaluator_DomainInterface.hpp
Labels: Panzer, in progress

#2385 Test EMPIRE/Trilinos Co-Development Wor... (#2384)
  packages/panzer/adapters-ioss/src/Panzer_IOSSConnManager.hpp
Labels: in progress

#2386 Tpetra: Possible fix for #2382
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: Tpetra, TpetraRF, in progress

#2376 Tpetra: FEM Assembly - move code into functions
  packages/tpetra/core/example/Finite-Element-Assembly/MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/typedefs.hpp
Labels: Tpetra, TpetraRF, in progress

#2391 NOX: Forgot counter initialization in updated PrePostOperator test
  packages/nox/test/epetra/1Dfem/1DfemPrePostOperator.C
Labels: ATDM, NOX

#2396 NOX: allow for external fixed Jacobian in SingleStep solver #2394
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/nox/src-thyra/NOX_Thyra_Group.H
  packages/nox/src-thyra/Thyra_NonlinearSolver_NOX.cpp
  packages/nox/src-thyra/Thyra_NonlinearSolver_NOX.hpp
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
  packages/nox/test/epetra/Thyra/CMakeLists.txt
  packages/nox/test/epetra/Thyra/Thyra_SingleStepSolver_1D.C
Labels: NOX, in progress

#2393 Kokkos: fix defaulted functions with CUDA 9
  packages/kokkos/Makefile.kokkos
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_UniqueToken.hpp
  packages/kokkos/core/src/Kokkos_Array.hpp
  packages/kokkos/core/src/Kokkos_Macros.hpp
  packages/kokkos/core/src/Kokkos_MemoryPool.hpp
  packages/kokkos/core/src/Kokkos_Pair.hpp
  packages/kokkos/core/src/impl/Kokkos_TaskQueue.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewTile.hpp
  packages/kokkos/core/unit_test/TestTaskScheduler.hpp
Labels: Kokkos, bug, in progress

#2402 Resolve "Remove or Fix the Broken Cuda/Panzer Test"
  packages/panzer/adapters-stk/tutorial/CMakeLists.txt
Labels: Panzer, bug, in progress

#2405 KokkosKernels: Replace KOKKOS_INLINE_FUNCTION_DEFAULTED
  packages/kokkos-kernels/perf_test/batched/KokkosBatched_Test_LU_Cuda.cpp
Labels: KokkosKernels, in progress

#2404 EpetraExt: Fix HDF5 example requires HDF5 (#1105)
  packages/epetraext/example/inout/CMakeLists.txt
Labels: EpetraExt, in progress

#2409 2407 fix safe as check power8
  packages/teuchos/core/test/TypeConversions/TypeConversions_UnitTest.cpp
Labels: ATDM, Teuchos, in progress

#2414 Removed teuchos as for static cast
  packages/panzer/dof-mgr/src/Panzer_UniqueGlobalIndexer.hpp
Labels: Panzer

#2418 Demo Workflow (#2417)
  packages/panzer/adapters-ioss/src/Panzer_IOSSConnManager_impl.hpp
Labels: AT: WIP, in progress

#2415 Zoltan2: Fix 2131 -- better integration of Trilinos with 32-bit LO and Scotch TPL with 64-bit IDs
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgScotch.hpp
  packages/zoltan2/test/order/ordering1.cpp
  packages/zoltan2/test/order/orderingAMD.cpp
  packages/zoltan2/test/order/orderingScotch.cpp
Labels: Zoltan2, in progress

#2411 Tempus: default "Zero Initial Guess"
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
Labels: Tempus, in progress

#2425 Tpetra: Fix #2416 (Tpetra::Details::computeOffsets* UVM)
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: Tpetra, TpetraRF, in progress, system: gpu

#2429 Fix long double string to double conversion on shiller (#2407)
  packages/teuchos/core/test/TypeConversions/TypeConversions_UnitTest.cpp
Labels: ATDM, Teuchos, in progress

#1649 MueLu: enable mj_premigration_option by default for Zoltan2
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
Labels: MueLu, in progress

#2353 Update changedPackages.bash to add additional package tests to PR testing
  commonTools/test/utilities/changedPackages.bash
Labels: in progress

#2435 Add Volta options to CMake
  packages/kokkos/cmake/kokkos_options.cmake
Labels: in progress

#2445 Panzer: fixes for cuda
  packages/panzer/disc-fe/src/Panzer_TypeAssocMap.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_CellAverage_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Sum.hpp
Labels: Panzer, in progress

#2449 Tacho fix when kokkos bound check
  packages/shylu/shylu_node/tacho/src/Tacho_Lapack_Team.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_MatrixMarket.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_NumericTools.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_SupernodeInfo.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestDenseByBlocks.hpp
Labels: in progress

#2451 MueLu: fix a bug in merging Zoltan2 parameter lists
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
Labels: MueLu

#2433 Tempus: starting step size for ERK method
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_SolutionStateMetaData_decl.hpp
  packages/tempus/src/Tempus_SolutionStateMetaData_impl.hpp
  packages/tempus/src/Tempus_SolutionState_decl.hpp
  packages/tempus/src/Tempus_SolutionState_impl.hpp
  packages/tempus/src/Tempus_Stepper.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_decl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_decl.hpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_VanDerPol.xml
Labels: Tempus, in progress

#2452 KokkosKernels & Tetra fixes for KOKKOS_ENABLE_DEBUG
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_compression.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_def.hpp
  packages/kokkos-kernels/unit_test/CMakeLists.txt
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrsMeshDatabase.hpp
Labels: KokkosKernels, Tpetra, bug

#2450 Tpetra: Fix for #2431 (missing IDs in createOneToOne)
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
  packages/tpetra/core/test/Map/CMakeLists.txt
  packages/tpetra/core/test/Map/Map_Bug2431.cpp
Labels: Tpetra, TpetraRF

#2461 Disable unit test openmp.gemm_double for KOKKOS_ENABLE_DEBUG=OFF (#2439)
  packages/kokkos-kernels/unit_test/CMakeLists.txt
Labels: ATDM, KokkosKernels

#2457 Tpetra: Requested Updates to FEM Assembly
  packages/tpetra/core/example/Finite-Element-Assembly/CMakeLists.txt
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_Element.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_commandLineOpts.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_main.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_typedefs.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_utility.hpp
Labels: Tpetra, TpetraRF

#2467 Enable Xpetra and MueLu Experimental in standard CI build (#2317, #2462)
  cmake/std/BasicCiTestingSettings.cmake
Labels: ATDM, Framework, MueLu, Xpetra

#2482 Loose error tol from 5e-14 to 5.5e-14 for gnu-opt-serial on hansen/shiller (#2475)
  packages/teko/tests/unit_tests/tDiagonallyScaledPreconditioner.cpp
Labels: ATDM, Teko

#2488 2487 fix timemonitor unittests mpi 3
  packages/teuchos/comm/test/Time/CMakeLists.txt
  packages/teuchos/comm/test/Time/TimeMonitor_UnitTests.cpp
Labels: ATDM, Teuchos
