Repository trilinos/Trilinos, pull requests merged in 2018-10, with the labels that each got.

#3534 PyTrilinos: Ifpack capitalization fix
  packages/PyTrilinos/src/PyTrilinos_IFPACK_Headers.hpp
Labels: PyTrilinos, build, in progress

#3549 Switch to new devpack/20180521/openmpi/2.1.2/gcc/7.2.0/cuda/9.2.88 env on 'white' and 'ride' (#3290)
  cmake/std/atdm/ride/environment.sh
Labels: AT: AUTOMERGE, ATDM, Ifpack2, in progress, seacas

#3538 kokkos-kernels: Fix #3493 (incorrect dot product results & segfaults for complex Tpetra::MultiVector)
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas1_dot_tpl_spec_avail.hpp
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas1_dot_tpl_spec_decl.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: Tpetra, in progress

#3537 MueLu: Xpetra: change behavior of fix zero diagonals
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: AT: AUTOMERGE, in progress

#3550 PyTrilinos: Remove includes of NOX_Version.h
  packages/PyTrilinos/src/NOX.__init__.i
Labels: PyTrilinos, build, in progress

#3555 Framework: Enable extended options in parameterized tests
  cmake/ctest/drivers/parameterized/ctest_linux_nightly_generic.cmake
Labels: Framework, in progress

#3567 Piro: adding feature request for Tempus when called through Piro.
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter_Def.hpp
Labels: Piro, in progress

#3564 PyTrilinos: Fix various installation issues
  packages/PyTrilinos/src/CMakeLists.txt
Labels: PyTrilinos, build, in progress

#3568 TrilinosCouplings: fix issue #3551
  packages/trilinoscouplings/examples/ml/NonlinML/FiniteElementProblem.cpp
Labels: AT: AUTOMERGE, in progress

#3571 Replace bind1st and bind2nd by lambdas
  packages/anasazi/src-rbgen/RBGen_Filter.hpp
  packages/tpetra/core/inout/Tpetra_MatrixIO.cpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
Labels: Anasazi, Tpetra

#3573 Cherry-pick PR #3571 into 12.14 release
  packages/anasazi/src-rbgen/RBGen_Filter.hpp
  packages/tpetra/core/inout/Tpetra_MatrixIO.cpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
Labels: AT: AUTOMERGE, Anasazi, Tpetra, in progress

#3569 PyTrilinos: Parse MPI version properly
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
Labels: PyTrilinos, build, in progress

#3562 Panzer: remove use of Fad version of BasisValues
  cmake/std/atdm/waterman/tweaks/CUDA_COMMON_TWEAKS.cmake
  packages/panzer/adapters-stk/example/CurlLaplacianExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/CurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2.cpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_BasisValues_Evaluator_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_BasisValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointValues.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointValues_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_FaceBasis.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_FaceBasis_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherNormals_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherNormals_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangents_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangents_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_PointValues_Evaluator_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_PointValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/test/core_tests/basis_values2.cpp
Labels: Panzer, in progress

#3554 Tempus: add `abs` guard around embedded error estimator
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
Labels: Tempus, in progress

#3559 Atdm waterman disables
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-DEBUG-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/CUDA_COMMON_TWEAKS.cmake
  cmake/std/atdm/waterman/tweaks/GNU-DEBUG-OPENMP-POWER9.cmake
Labels: AT: AUTOMERGE, ATDM

#3575 PyTrilinos: Fix bug enabling/disabling NOX.Epetra
  packages/PyTrilinos/CMakeLists.txt
  packages/PyTrilinos/cmake/PyTrilinos_config.h.in
  packages/PyTrilinos/src/CMakeLists.txt
  packages/PyTrilinos/src/EpetraExt.i
  packages/PyTrilinos/src/NOX.Abstract.i
  packages/PyTrilinos/src/PyTrilinos/NOX/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos_EpetraExt_Headers.hpp
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
Labels: Amesos, AztecOO, Epetra, Ifpack, NOX, PyTrilinos, build, in progress

#3583 PyTrilinos: Standardize Configuration Variables
  packages/PyTrilinos/cmake/PyTrilinos_config.h.in
  packages/PyTrilinos/src/Amesos.i
  packages/PyTrilinos/src/Anasazi.i
  packages/PyTrilinos/src/AztecOO.i
  packages/PyTrilinos/src/CMakeLists.txt
  packages/PyTrilinos/src/Domi.i
  packages/PyTrilinos/src/Domi_exceptions.i
  packages/PyTrilinos/src/EpetraExt.i
  packages/PyTrilinos/src/Galeri.i
  packages/PyTrilinos/src/IFPACK.i
  packages/PyTrilinos/src/Isorropia.Epetra.i
  packages/PyTrilinos/src/Komplex.i
  packages/PyTrilinos/src/LOCA.Abstract.i
  packages/PyTrilinos/src/LOCA.Bifurcation.i
  packages/PyTrilinos/src/LOCA.BorderedSystem.i
  packages/PyTrilinos/src/LOCA.Extended.i
  packages/PyTrilinos/src/LOCA.Homotopy.i
  packages/PyTrilinos/src/LOCA.Hopf.MinimallyAugmented.i
  packages/PyTrilinos/src/LOCA.Hopf.MooreSpence.i
  packages/PyTrilinos/src/LOCA.Hopf.__init__.i
  packages/PyTrilinos/src/LOCA.MultiContinuation.i
  packages/PyTrilinos/src/LOCA.PhaseTransition.i
  packages/PyTrilinos/src/LOCA.Pitchfork.MinimallyAugmented.i
  packages/PyTrilinos/src/LOCA.Pitchfork.MooreSpence.i
  packages/PyTrilinos/src/LOCA.TimeDependent.i
  packages/PyTrilinos/src/LOCA.TurningPoint.MinimallyAugmented.i
  packages/PyTrilinos/src/LOCA.TurningPoint.MooreSpence.i
  packages/PyTrilinos/src/LOCA.__init__.i
  packages/PyTrilinos/src/ML.i
  packages/PyTrilinos/src/NOX.Abstract.i
  packages/PyTrilinos/src/NOX.Abstract_typemaps.i
  packages/PyTrilinos/src/NOX.Epetra.__init__.i
  packages/PyTrilinos/src/NOX.Solver.i
  packages/PyTrilinos/src/NOX.__init__.i
  packages/PyTrilinos/src/Pliris.i
  packages/PyTrilinos/src/PyTrilinos_Anasazi_Headers.hpp
  packages/PyTrilinos/src/PyTrilinos_EpetraExt_Headers.hpp
  packages/PyTrilinos/src/PyTrilinos_Epetra_Util.cpp
  packages/PyTrilinos/src/PyTrilinos_Isorropia_Headers.hpp
  packages/PyTrilinos/src/Tpetra.i
  packages/PyTrilinos/src/TriUtils.i
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
Labels: PyTrilinos, build, in progress

#3584 Anasazi: Fix #3576
  packages/anasazi/src-rbgen/RBGen_Filter.hpp
Labels: AT: AUTOMERGE, Anasazi, in progress

#3587 PyTrilinos: Suppress Zoltan Debugging Output
  packages/PyTrilinos/example/exIsorropia.py.in
  packages/PyTrilinos/src/Isorropia.Epetra.i
  packages/PyTrilinos/test/testIsorropia.py.in
  packages/PyTrilinos/test/testTeuchos_RCP.py.in
Labels: Isorropia, PyTrilinos, Zoltan, in progress

#3590 Swich to min CMake 3.10 and use CTest -S all-at-once mode by default (#1761)
  CMakeLists.txt
  INSTALL.rst
  ProjectName.cmake
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/ci_support/CheckinTest.py
  cmake/tribits/ci_support/clone_extra_repos.py
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddExecutable.cmake
  cmake/tribits/core/package_arch/TribitsConstants.cmake
  cmake/tribits/core/package_arch/TribitsGeneralMacros.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/build_ref/create-project-build-ref.py
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/doc/tribits_tutorial/.gitignore
  cmake/tribits/doc/tutorial/.gitignore
  cmake/tribits/doc/tutorial/README.md
  cmake/tribits/doc/tutorial/generate-tutorial.sh
  cmake/tribits/doc/tutorial/src/TribitsTutorial_ConvertAProject.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_Dependencies.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_HelloWorld.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_ProjectStructure.rst
  cmake/tribits/examples/TribitsExampleMetaProject/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProjectAddons/CMakeLists.txt
  cmake/tribits/examples/TribitsHelloWorld/CMakeLists.txt
  cmake/tribits/examples/tpls/SimpleTpl/CMakeLists.txt
  cmake/tribits/python_utils/CMakeVersions.py
  cmake/tribits/python_utils/gitdist.py
  packages/ml/CMakeLists.txt
  packages/teuchos/CMakeLists.txt
Labels: AT: AUTOMERGE, Framework, in progress

#3593 Framework: GCC 4.9.3 SERIAL Autotester Job Script Update
  cmake/std/PullRequestLinuxCommonTestingSettingsSERIAL.cmake
  cmake/std/sems/PullRequestGCC4.9.3TestingEnvSERIAL.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3592 kokkos kernels - add complex float static assert testing
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockCrsUtil.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainer.cpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Util.hpp
Labels: AT: AUTOMERGE, in progress

#3598 Anasazi: Fix #3576 in 12.14 release branch
  packages/anasazi/src-rbgen/RBGen_Filter.hpp
Labels: AT: AUTOMERGE, Anasazi, Release 12.14, in progress

#3597 ShyLU, Belos: Fix build errors when Scalar=complex<float> is enabled
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresPipeline.hpp
  packages/shylu/shylu_node/hts/src/shylu_hts_impl_def.hpp
Labels: Belos, ShyLU, build, in progress

#3608 zoltan2: remove warning from unit tests
  packages/zoltan2/test/helpers/UserInputForTests.hpp
Labels: AT: AUTOMERGE, Zoltan2, in progress

#3609 superlu_dist: compile fix for v5.4.0 on 12.14 branch
  packages/amesos/src/Amesos_Superludist.cpp
  packages/amesos/test/TestOptions/TestSuperludist.cpp
Labels: AT: AUTOMERGE, Amesos, Release 12.14, in progress

#3610 TRIBITS_CTEST_DRIVER(): Correctly pass in excluded package disables for all-at-once approach
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
Labels: AT: AUTOMERGE, Framework, in progress

#3591 compile fixes for superlu_dit 6.0
  packages/amesos/src/Amesos_Superludist.cpp
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
Labels: Amesos, Release 12.14, in progress

#3614 Fix path to cmake on 'shiller' (TRIL-222)
  cmake/std/atdm/shiller/environment.sh
Labels: AT: AUTOMERGE, ATDM, EMPIRE, in progress

#3617 Testing: MueLu: disable all-at-once for MueLu test machines
  cmake/ctest/drivers/dorksaber/TrilinosCTestDriverCore.dorksaber.gcc.cmake
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.clang.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-broken.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.clang.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.gcc.cmake
Labels: AT: AUTOMERGE, in progress

#3612 Remove Sundance from list of extra repos (#3611, #1761)
  cmake/ExtraRepositoriesList.cmake
Labels: AT: AUTOMERGE, Framework, in progress

#3620 SPARC ATDM Trilinos configuration and new 'cee-rhel6' env
  cmake/ctest/drivers/atdm/README.md
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-clang-opt-serial.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-gnu-opt-serial.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-intel-opt-serial.sh
  cmake/ctest/drivers/atdm/cee-rhel6/local-driver.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-debug-openmp.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-debug-serial-panzer.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-debug-serial.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-opt-openmp.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-opt-serial-panzer.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-gnu-opt-serial.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/rhel6/drivers/Trilinos-atdm-rhel6-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-debug-openmp.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-debug-serial-panzer.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-debug-serial.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-opt-openmp.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-opt-serial-panzer.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-opt-serial.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/sems-rhel6/local-driver.sh
  cmake/ctest/drivers/atdm/sems-rhel6/split-local-driver.sh
  cmake/ctest/drivers/atdm/smart-jenkins-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ATDMDisables.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/apps/sparc/SPARCTrilinosPackagesEnables.cmake
  cmake/std/atdm/apps/sparc/SPARCTrilinosPackagesList.cmake
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/checkin-test-atdm.sh
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/rhel6/all_supported_builds.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/sems-rhel6/all_supported_builds.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/sems-rhel6/tweaks/COMMON_TWEAKS.cmake
  cmake/std/atdm/sems-rhel6/tweaks/GNU-DEBUG-OPENMP.cmake
  cmake/std/atdm/sems-rhel6/tweaks/GNU-DEBUG-SERIAL.cmake
  cmake/std/atdm/sems-rhel6/tweaks/GNU-RELEASE-OPENMP.cmake
  cmake/std/atdm/sems-rhel6/tweaks/GNU-RELEASE-SERIAL.cmake
  cmake/std/atdm/sems-rhel6/tweaks/INTEL-RELEASE-OPENMP.cmake
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/toss3/environment.sh
  cmake/std/atdm/utils/atdm_config_helper_funcs.sh
  cmake/std/atdm/utils/get_known_system_name.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/waterman/environment.sh
Labels: ATDM, ATDM Config, SPARC, enhancement, in progress

#3621 Remove inserted package Sundance (#3611)
  PackagesList.cmake
Labels: AT: AUTOMERGE, Framework, in progress

#3616 Resolves "Panzer: Update Integrator_GradBasisCrossVector"
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
Labels: AT: AUTOMERGE, Panzer, in progress

#3613 MiniEM updates
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector_impl.hpp
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/maxwell.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell2D.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell2D.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellEpetra.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellOpenMP.xml
  packages/panzer/mini-em/src/closures/MiniEM_ClosureModel_Factory_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_RandomForcing.hpp
  packages/panzer/mini-em/src/closures/MiniEM_RandomForcing_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_TensorConductivity.hpp
  packages/panzer/mini-em/src/closures/MiniEM_TensorConductivity_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_CurlCurl_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_MassMatrix_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_EquationSet_Maxwell.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_EquationSet_Maxwell_impl.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
Labels: Panzer

#3642 revert disable of panzer Curl test on waterman #3340
  cmake/std/atdm/waterman/tweaks/CUDA_COMMON_TWEAKS.cmake
Labels: AT: AUTOMERGE, Panzer, in progress

#3643 MueLu: fix phase 3 aggregation under CUDA
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
Labels: AT: AUTOMERGE, in progress

#3641 PyTrilinos: Update for Trilinos Release 12.14
  packages/PyTrilinos/CMakeLists.txt
  packages/PyTrilinos/ReleaseNotes.txt
  packages/PyTrilinos/example/exMPI_Init.py.in
  packages/PyTrilinos/src/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos_IFPACK_Headers.hpp
  packages/PyTrilinos/src/Teuchos.i
  packages/PyTrilinos/src/Teuchos_Comm.i
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
  packages/PyTrilinos/test/testTeuchos_Comm.py.in
Labels: PyTrilinos, Release 12.14, in progress

#3646 Fix view example with Intel compiler for issue #3639
  packages/sacado/example/view_example.cpp
Labels: AT: AUTOMERGE, ATDM, Sacado, in progress

#3624 Framework: Debugging Dev->Master script
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress, tests

#3644 Commit updated LAPACK wrapper, with _PTEQR, expanded LAPACK test
  packages/teuchos/numerics/src/Teuchos_LAPACK.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.hpp
  packages/teuchos/numerics/src/Teuchos_LAPACK_wrappers.hpp
  packages/teuchos/numerics/test/LAPACK/cxx_main.cpp
Labels: AT: AUTOMERGE, Teuchos, enhancement, in progress

#3648 Set parallel build level based on cores on machine for 'sems-rhel6' and 'cee-rhel6' builds (TRIL-228)
  cmake/std/atdm/README.md
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/utils/get_num_cores_on_machine.sh
Labels: AT: AUTOMERGE, ATDM, enhancement, in progress

#3651 Ctest/Drivers: Adding test to rocketman
  cmake/ctest/drivers/rocketman/CMakeLists.txt
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, in progress

#3626 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181015_104358 branch to master
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
Labels: in progress

#3654 MueLu: another aggregation Phase3 fix
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
Labels: AT: AUTOMERGE, in progress

#3659 Add 'release-debug' build type (#3633) and change some 'waterman' builds (#3336)
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-cuda-9.2-release-debug.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-gnu-release-debug-openmp.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/waterman/all_supported_builds.sh
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-RELEASE_DEBUG-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-DEBUG-OPENMP-POWER9.cmake
  cmake/std/atdm/waterman/tweaks/GNU-RELEASE_DEBUG-OPENMP-POWER9.cmake
Labels: AT: AUTOMERGE, ATDM, ATDM Config, Kokkos, KokkosKernels, enhancement, in progress

#3653 Framework: Add sample comment for autotester script
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3660 Disable timing-out test KokkosContainers_UnitTest_Serial_MPI_1 in 'waterman' cuda-9.2-debug build (#3336)
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-DEBUG-CUDA-POWER9-VOLTA70.cmake
Labels: AT: AUTOMERGE, ATDM, Kokkos

#3662 EXODUS: Fix compile error due to bad cut/paste
  packages/seacas/libraries/exodus/src/ex_utils.c
Labels: AT: AUTOMERGE, bug, in progress, seacas

#3656 ML: Issue 3565
  packages/ml/src/Comm/ml_comm.c
  packages/ml/src/Comm/ml_comm.h
  packages/ml/src/Main/ml_struct.c
  packages/ml/src/Main/ml_struct.h
Labels: ML

#3674 Framework: Bugfix on PullRequestLinuxDriver for SERIAL Tests
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3675 Ctest: Rocketman experimental build fix
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, in progress

#3667 MueLu: fix test that hangs under CUDA
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: AT: AUTOMERGE, in progress

#3645 Belos fixed point solver: Allow right preconditioning
  packages/belos/epetra/test/FixedPoint/CMakeLists.txt
  packages/belos/epetra/test/FixedPoint/test_fp_hb.cpp
  packages/belos/src/BelosFixedPointIter.hpp
  packages/belos/tpetra/test/FixedPoint/CMakeLists.txt
  packages/belos/tpetra/test/FixedPoint/test_fp_hb.cpp
Labels: Belos, in progress

#3685 Intrepid2: fix CUDA warnings
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TET_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TRI_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TRI_Cn_FEMDef.hpp
Labels: AT: AUTOMERGE, in progress

#3688 Minor fixes in Piro, Intrepid and Intrepid2
  packages/intrepid/src/Discretization/Basis/Intrepid_HGRAD_TRI_C2_FEM.hpp
  packages/intrepid/src/Discretization/Basis/Intrepid_HGRAD_TRI_C2_FEMDef.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HDIV_TET_In_FEM/test_01.hpp
  packages/piro/test/Piro_MatrixFreeDecorator_UnitTests.cpp
Labels: AT: AUTOMERGE, Intrepid, Intrepid2, Piro, in progress

#3683 Fixes randomization issue with Teuchos::SerialDenseMatrix in parallel
  packages/anasazi/epetra/test/OrthoManager/cxx_main.cpp
  packages/anasazi/test/MVOPTester/MyMultiVec.hpp
  packages/anasazi/test/MVOPTester/MySDMHelpers.hpp
  packages/belos/src/BelosMVOPTester.hpp
  packages/belos/src/BelosOrthoManagerTest.hpp
  packages/belos/test/MVOPTester/MyMultiVec.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseHelpers.hpp
Labels: Anasazi, Belos, in progress, tests

#3706 Ctest: More rocketman
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, in progress

#3707 MueLu: adding a KOKKOS_REFACTOR_OPENMP nightly build on trappist
  cmake/ctest/drivers/trappist/CMakeLists.txt
  cmake/ctest/drivers/trappist/ctest_linux_nightly_mpi_experimental_openmp_refactor_muelu_trappist.gcc.cmake
Labels: AT: AUTOMERGE, MueLu, enhancement, tests

#3704 Fixes for teko utilities
  packages/teko/src/Teko_Utilities.cpp
Labels: Teko, in progress

#3705 Xpetra: Adding local_graph interface to build CrsGraph
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph.hpp
Labels: AT: AUTOMERGE, Xpetra, enhancement

#3712 Ctest: More rocketman fixes
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, in progress

#3718 MueLu: rocketman, you task me
  cmake/ctest/drivers/rocketman/CMakeLists.txt
Labels: in progress

#3714 Muelu update mpi traits
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_def.hpp
Labels: MueLu, bug, in progress

#3711 Tempus: Improve Observer Names.
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter.hpp
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter_Def.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorObserver.hpp
  packages/tempus/src/Tempus_IntegratorObserverBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorObserverBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorObserverComposite_decl.hpp
  packages/tempus/src/Tempus_IntegratorObserverComposite_impl.hpp
  packages/tempus/src/Tempus_IntegratorObserverLogging_decl.hpp
  packages/tempus/src/Tempus_IntegratorObserverLogging_impl.hpp
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/test/Observer/Tempus_ObserverTest.cpp
Labels: AT: AUTOMERGE, SPARC, Tempus, enhancement, in progress

#3716 MueLu/Xpetra: Kokkos_Refactor default changes; adding a native unit test wrapper to Xpetra which does Kokkos initialize/finalize
  packages/muelu/CMakeLists.txt
  packages/xpetra/CMakeLists.txt
  packages/xpetra/test/BlockedCrsMatrix/CMakeLists.txt
  packages/xpetra/test/BlockedMultiVector/CMakeLists.txt
  packages/xpetra/test/Cloner/CMakeLists.txt
  packages/xpetra/test/CrsMatrix/CMakeLists.txt
  packages/xpetra/test/Map/CMakeLists.txt
  packages/xpetra/test/Matrix/CMakeLists.txt
  packages/xpetra/test/MatrixMatrix/CMakeLists.txt
  packages/xpetra/test/MultiVector/CMakeLists.txt
  packages/xpetra/test/Vector/CMakeLists.txt
  packages/xpetra/test/Xpetra_UnitTests.cpp
Labels: AT: AUTOMERGE, in progress

#3723 Remove MueLu_ENABLE_Epetra=OFF for EMPIRE ATDM Trilinos config (#2674, #2319)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: AT: AUTOMERGE, ATDM, ATDM Config, MueLu, in progress

#3713 MueLu tests: Do not run Epetra test w/ kokkos refactor
  packages/muelu/example/ParameterList/MLParameterList.cpp
  packages/muelu/test/maxwell/CMakeLists.txt
Labels: AT: AUTOMERGE, MueLu, in progress

#3722 MueLu: kokkos openmp refactor tests fix
  packages/muelu/test/scaling/conchas_milestone_zoltan2.xml
  packages/muelu/test/scaling/conchas_milestone_zoltan2_complex.xml
  packages/muelu/test/scaling/import.xml
Labels: AT: AUTOMERGE, MueLu, in progress

#3721 PullRequestLinuxDriver.sh: modify the retry loop to actually check numbers
  cmake/std/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, Framework, in progress

#3726 MueLu: fix compiler warning
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
Labels: AT: AUTOMERGE, MueLu, in progress

#3732 MueLu require Tpetra if Kokkos is enabled
  packages/muelu/CMakeLists.txt
Labels: AT: AUTOMERGE, in progress

#3735 ATDM: Add mention of needing to use bash -l for non-bash users
  cmake/std/atdm/README.md
Labels: AT: AUTOMERGE, ATDM, ATDM Config, enhancement, in progress

#3737 Ctest: More rocketman
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, PR Tester Keeps Crashing, in progress

#3739 Add cee-rhel6 gnu-7.2.0 env for SPARC
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-gnu-4.9.3-opt-serial.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-gnu-7.2.0-opt-serial.sh
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/utils/set_build_options.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, SPARC, enhancement, in progress

#3741 Replace STEQR with PTEQR in Stokhos for issue #3542
  packages/stokhos/src/Stokhos_RecurrenceBasisImp.hpp
  packages/stokhos/test/UnitTest/Stokhos_HermiteBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_LanczosUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_NormalizedLegendreBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_Sparse3TensorUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_UnitTestHelpers.hpp
Labels: AT: AUTOMERGE, ATDM, Stokhos, in progress

#3744 Xpetra: fix compile error
  packages/muelu/src/Graph/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph.hpp
Labels: AT: AUTOMERGE, MueLu, Xpetra, in progress

#3747 MueLu: fix build of example
  packages/muelu/example/ParameterList/MLParameterList.cpp
Labels: AT: AUTOMERGE, MueLu, bug, build, in progress

#3748 Install and point to nvcc_wrapper correctly when loading env from install (#3746)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/waterman/environment.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, bug, in progress

#3750 Piro: Relax tolerance of MatrixFreeDecorator test to fix issue #2474
  packages/piro/test/Piro_MatrixFreeDecorator_UnitTests.cpp
Labels: AT: AUTOMERGE, Piro, tests

#3668 Piro: add getter to access nonlinear solver
  packages/piro/src/Piro_RythmosSolver.hpp
  packages/piro/src/Piro_RythmosSolver_Def.hpp
Labels: AT: STALE, Piro, Rythmos, in progress

#3763 Ctest: More rocketman fixes
  cmake/ctest/drivers/rocketman/cron_driver.sh
Labels: AT: AUTOMERGE, in progress

#3682 Kokkos promotion deprecation changes
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.hpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_read_modify_vec_kokkos.cpp
  packages/tpetra/core/example/advanced/Benchmarks/blockCrsMatrixMatVec.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_castAwayConstDualView.hpp
  packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_TsqrAdaptor.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/Blas/gemm.cpp
  packages/tpetra/core/test/Block/BlockMultiVector2.cpp
  packages/tpetra/core/test/Block/BlockView.cpp
  packages/tpetra/core/test/FEMultiVector/FEMultiVector_UnitTests.cpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/Issue364.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_TwoArgRandomize.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_get2dView.cpp
  sampleScripts/Sandia-SEMS/test_tpetra_sandia
Labels: in progress

#3760 MueLu: makepr.sh updates
  packages/muelu/utils/misc/makepr.sh
Labels: AT: AUTOMERGE, MueLu, in progress, nitpick

#3767 TrilinosCouplings: fix issue #3749 by fully specifying template parameters of MueLu::Hierarchy
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_EpetraAztecOO_main.cpp
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_Epetra_main.cpp
Labels: AT: AUTOMERGE, ATDM Config, in progress

#3762 MueLu: Fixing Avatar interface warnings
  packages/muelu/src/Utils/MueLu_AvatarInterface.cpp
Labels: :smile_cat:, AT: AUTOMERGE, PR Tester Keeps Crashing, in progress, packages: MueLu

#3770 Ctest: More rocketman fixes
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE, MueLu, in progress

#3769 Fix some typos in about <system_name> and 'cee-rhel6' and 'sems-rhel6' envs
  cmake/std/atdm/README.md
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, EMPIRE, bug, in progress

#3775 Add env var ATDM_CONFIG_USE_SPARC_TPL_FIND_SETTINGS (#3632)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, EMPIRE, enhancement, in progress

#3781 Panzer: add error check to projection support
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: AT: AUTOMERGE, Panzer

#3784 Decrease parallel build level on 'waterman' from 128 to 64 (ATDV-63)
  cmake/std/atdm/waterman/environment.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, in progress
