Repository trilinos/Trilinos, pull requests merged in 2018-05, with the labels that each got.

#2561 MueLu: Blocked repartition
  packages/muelu/research/tawiesn/crada/Driver.cpp
  packages/muelu/research/tawiesn/crada/driver_working_cms.xml
  packages/muelu/src/Graph/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_BlockedCoordinatesTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_BlockedCoordinatesTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_BlockedRAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_Level.cpp
  packages/muelu/src/Rebalancing/MueLu_IsorropiaInterface_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceAcFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockAcFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockInterpolationFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockRestrictionFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockRestrictionFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionBlockDiagonalFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionBlockDiagonalFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionHeuristicFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_ZoltanInterface_def.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_BlockedCoordinatesTransferFactory_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_RepartitionBlockDiagonalFactory_fwd.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/test/unit_tests/BlockedRepartition.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_BlockedCoordinatesTransferFactory.cpp
  packages/stokhos/src/muelu/explicit_instantiation/MueLu_RepartitionBlockDiagonalFactory.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_BlockedCoordinatesTransferFactory_UQ_PCE_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_BlockedCoordinatesTransferFactory_UQ_PCE_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_BlockedCoordinatesTransferFactory_UQ_PCE_Serial.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_BlockedCoordinatesTransferFactory_UQ_PCE_Threads.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_RepartitionBlockDiagonalFactory_UQ_PCE_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_RepartitionBlockDiagonalFactory_UQ_PCE_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_RepartitionBlockDiagonalFactory_UQ_PCE_Serial.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_RepartitionBlockDiagonalFactory_UQ_PCE_Threads.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_BlockedCoordinatesTransferFactory_MP_Vector_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_BlockedCoordinatesTransferFactory_MP_Vector_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_BlockedCoordinatesTransferFactory_MP_Vector_Serial.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_BlockedCoordinatesTransferFactory_MP_Vector_Threads.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_RepartitionBlockDiagonalFactory_MP_Vector_Cuda.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_RepartitionBlockDiagonalFactory_MP_Vector_OpenMP.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_RepartitionBlockDiagonalFactory_MP_Vector_Serial.cpp
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_RepartitionBlockDiagonalFactory_MP_Vector_Threads.cpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/BlockedMultiVector/Xpetra_BlockedMultiVector.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
Labels: MueLu, enhancement, in progress

#2667 Tpetra: Remove call to getGlobalNumDiags in CrsMatrix::describe
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: Tpetra, TpetraRF

#2669 TSQR: Fix #2668
  packages/tpetra/tsqr/src/Tsqr_CombineNative.hpp
Labels: Tpetra

#2671 Use netlib BLAS and LAPACK instead of OpenBLAS 1.2.19 on white/ride (#2454)
  cmake/std/atdm/ride/environment.sh
Labels: ATDM

#2670 Framework: handle special Clang CUDA flags
  cmake/ProjectCompilerPostConfig.cmake
Labels: Framework, Kokkos, enhancement

#2673 Update ATDM Trilinos configuration from EM-Plasma/BuildScript repo on 2018-05-01
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: ATDM

#2677 Belos: Change all default parameters to be constexpr (#2483)
  packages/belos/src/BelosBiCGStabSolMgr.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosFixedPointSolMgr.hpp
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockTFQMRSolMgr.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRSolMgr.hpp
Labels: Belos

#2675 MueLu: fix #2664 for std::complex using a cast in parameter list
  packages/muelu/test/unit_tests/BlockedRepartition.cpp
Labels: MueLu, bug

#2679 Provide better error message when compiler is not supported (TRIL-200)
  cmake/std/atdm/toss3/environment.sh
Labels: ATDM, enhancement

#2682 Tpetra: Assemble RHS in finite element assemble examples (#2660)
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_Element.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_typedefs.hpp
Labels: Tpetra, TpetraRF

#2685 MueLu: fix 2664 by using appropriate type for coordinate multi-vector
  packages/muelu/test/unit_tests/BlockedRepartition.cpp
Labels: MueLu, bug

#2690 Panzer: fix cuda warnings in FaceToElement
  packages/panzer/disc-fe/src/Panzer_FaceToElement.hpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
Labels: Panzer

#2694 Use atdm-cmake/3.11.1 module and Ninja for GCC 4.8.4 + OpenMPI 1.10.1 + OpenMP build
  cmake/ctest/drivers/sems_ci/ctest_std_driver.cmake
  cmake/ctest/drivers/sems_ci/ctest_std_driver.sh
  cmake/load_sems_dev_env.sh
  cmake/std/GCC-4.8.4-OpenMPI-1.10.1-MpiReleaseDebugSharedPtOpenMP_env.sh
Labels: ATDM

#2693 Tempus: Fix Doxygen
  packages/tempus/src/Tempus_AdjointSensitivityModelEvaluator_decl.hpp
  packages/tempus/src/Tempus_SolutionState_impl.hpp
  packages/tempus/src/Tempus_TimeDerivative.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Thyra_AdjointLinearOpWithSolveFactory.hpp
  packages/tempus/src/Thyra_AdjointPreconditioner.hpp
  packages/tempus/src/Thyra_AdjointPreconditionerFactory.hpp
  packages/tempus/src/Thyra_BlockedTriangularLinearOpWithSolveFactory.hpp
  packages/tempus/src/Thyra_MultiVectorLinearOp.hpp
  packages/tempus/src/Thyra_MultiVectorLinearOpWithSolveFactory.hpp
  packages/tempus/src/Thyra_MultiVectorPreconditioner.hpp
  packages/tempus/src/Thyra_MultiVectorPreconditionerFactory.hpp
  packages/tempus/src/Thyra_ReuseLinearOpWithSolveFactory.hpp
  packages/tempus/src/Thyra_ReusePreconditionerFactory.hpp
  packages/tempus/src/Thyra_ScaledIdentityLinearOpWithSolve.hpp
  packages/tempus/src/Thyra_ScaledIdentityLinearOpWithSolveFactory.hpp
Labels: Tempus, documentation

#2702 Tpetra: Fix #2681 (test randomly timing out w/ CUDA)
  packages/tpetra/core/test/ImportExport/ImportBug5430Test.cpp
Labels: Tpetra, TpetraRF

#2703 Fix running of tests on 'serrano' for ATDM Trilinos builds
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/toss3/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/toss3/environment.sh
Labels: ATDM

#2715 Set Teko_DISABLE_LSCSTABALIZED_TPETRA_ALPAH_INV_D=TRUE for GCC 4.8.4 + OpenMP build (#2712)
  cmake/std/GCC-4.8.4-OpenMPI-1.10.1-MpiReleaseDebugSharedPtOpenMP.cmake
Labels: ATDM, Teko

#2710 Muelu: script cleanup
  packages/muelu/doc/Tutorial/src/MueLu_Agg2VTK.py
  packages/muelu/doc/Tutorial/src/hands-on.py
  packages/muelu/doc/Tutorial/tex/prepareTexTutorial.py
  packages/muelu/research/q2q1/status.py
  packages/muelu/research/tawiesn/crada/genFiles.py
  packages/muelu/src/Interface/FacadeClasses/escapeXMLfile.py
  packages/muelu/utils/analysis/albany_log2yaml.py
  packages/muelu/utils/analysis/analysis.py
  packages/muelu/utils/analysis/drekar-aztec-analysis.py
  packages/muelu/utils/analysis/drekar-aztecoo-log2yaml.py
  packages/muelu/utils/analysis/drekar-belos_log2yaml.py
  packages/muelu/utils/analysis/log.py
  packages/muelu/utils/analysis/log2yaml.py
  packages/muelu/utils/analysis/muelu_log2yaml.py
  packages/muelu/utils/analysis/tableau.py
  packages/muelu/utils/genClass/genClass.py
Labels: MueLu

#2729 Move the mpiexec args before -np not after (#2699)
  cmake/std/atdm/toss3/environment.sh
Labels: ATDM

#2728 Use cmake 3.11 1 and ninja for RHEL ATDM Trilinos build
  cmake/std/atdm/README.md
  cmake/std/atdm/checkin-test-atdm.sh
  cmake/std/atdm/rhel6/environment.sh
Labels: ATDM

#2722 Tempus: Improved testing; added testing of xDot. #2716
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_impl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyBasicVS.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyConstant.hpp
  packages/tempus/src/Tempus_TimeStepControl_decl.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BDF2/Tempus_BDF2_SteadyQuadratic.xml
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_VanDerPol.xml
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/ForwardEuler/Tempus_ForwardEulerTest.cpp
  packages/tempus/test/HHTAlpha/CMakeLists.txt
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
  packages/tempus/test/HHTAlpha/Tempus_HHTAlpha_BallParabolic.xml
  packages/tempus/test/HHTAlpha/Tempus_HHTAlpha_SinCos_ExplicitCD.xml
  packages/tempus/test/HHTAlpha/Tempus_HHTAlpha_SinCos_FirstOrder.xml
  packages/tempus/test/HHTAlpha/Tempus_HHTAlpha_SinCos_SecondOrder.xml
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RK_VanDerPol.xml
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_PartitionedTest.cpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_VanDerPol.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref2.xml
  packages/tempus/test/Integrator/Tempus_IntegratorTest.cpp
  packages/tempus/test/Leapfrog/Tempus_LeapfrogTest.cpp
  packages/tempus/test/Newmark/Tempus_NewmarkTest.cpp
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplitTest.cpp
  packages/tempus/test/TestUtils/Tempus_ConvergenceTestUtils.hpp
  packages/tempus/test/Trapezoidal/Tempus_TrapezoidalTest.cpp
Labels: Tempus

#2738 Tempus: List available Steppers if requested one is not found.
  packages/tempus/src/Tempus_StepperFactory.hpp
Labels: Tempus, enhancement

#2739 Rythmos: set `isEmbeddedRK_ = false` as default
  packages/rythmos/src/Rythmos_StepperBase_decl.hpp
Labels: Rythmos

#2750 Allow previously "ATDM" promoted builds on 'ride' to be demoted (TRIL-208)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-debug-panzer.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-opt-panzer.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-opt-openmp-panzer.sh
Labels: ATDM

#2611 MueLu adapters: Let NullspaceFactory build missing nullspaces
  packages/muelu/adapters/tpetra/MueLu_CreateTpetraPreconditioner.hpp
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/test/interface/complex/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/complex/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/kokkos-complex/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/unit_tests/Adapters/testPDE.xml
  packages/muelu/test/unit_tests/Adapters/testWithRebalance.xml
Labels: MueLu

#2744 Tpetra: FEMultiVector Merge (Take 3)
  PackagesList.cmake
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/FEMultiVector/CMakeLists.txt
  packages/tpetra/core/test/FEMultiVector/FEMultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: Tpetra, TpetraRF

#2755 Tpetra: Add repetition capability to FEM Assembly Examples
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_LocalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_DP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop_SP.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_commandLineOpts.hpp
Labels: Tpetra, TpetraRF

#2754 Tpetra: Fix #2564 and #2753
  packages/tpetra/core/src/Tpetra_Details_makeOptimizedColMap.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/Issue_2198.cpp
Labels: Tpetra, TpetraRF

#2759 Tril 200 serrano fixups
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-opt-openmp-panzer.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/toss3/environment.sh
  cmake/std/atdm/toss3/tweaks/INTEL-DEBUG-OPENMP.cmake
Labels: ATDM, Panzer

#2242 Embedded dirk
  packages/tempus/src/Tempus_RKButcherTableau.hpp
  packages/tempus/src/Tempus_RKButcherTableauBuilder_impl.hpp
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/DIRK/Tempus_DIRK_SinCos.xml
  packages/tempus/test/DIRK/Tempus_DIRK_VanDerPol.xml
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
Labels: Tempus

#2740 Stacked timer
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Utils/MueLu_TimeMonitor.hpp
  packages/muelu/test/scaling/ReadMatrix.cpp
  packages/muelu/test/simple1D/simple1D-UncoupledAggregation.cpp
  packages/muelu/test/viz/Viz.cpp
  packages/panzer/disc-fe/src/Panzer_AssemblyEngine_impl.hpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/teuchos/CMakeLists.txt
  packages/teuchos/comm/src/Teuchos_CommHelpers.cpp
  packages/teuchos/comm/src/Teuchos_CommHelpers.hpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.hpp
  packages/teuchos/comm/test/CMakeLists.txt
  packages/teuchos/comm/test/StackedTimer/CMakeLists.txt
  packages/teuchos/comm/test/StackedTimer/stacked_timer.cpp
  packages/teuchos/core/cmake/Teuchos_config.h.in
  packages/tpetra/core/example/Additive-Schwarz-Halo/AdditiveSchwarzHalo.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_p2_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: Teuchos

#2782 Switch 'serrano' to use sbatch and srun and other stuff
  cmake/ctest/drivers/atdm/README.md
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
  cmake/ctest/drivers/atdm/toss3/local-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/checkin-test-atdm.sh
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/rhel6/environment.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/toss3/environment.sh
  cmake/std/atdm/utils/checkin-test-atdm-single.sh
  cmake/std/atdm/utils/set_build_options.sh
Labels: ATDM

#2783 Epetra: Use v.data() instead of &v[0].
  packages/epetra/src/Epetra_CrsGraph.cpp
  packages/epetra/src/Epetra_CrsMatrix.cpp
  packages/epetra/src/Epetra_Export.cpp
  packages/epetra/src/Epetra_FECrsGraph.cpp
  packages/epetra/src/Epetra_FECrsMatrix.cpp
  packages/epetra/src/Epetra_Import.cpp
Labels: Epetra

#2794 TrilinosCouplings: adding guard in exmaple_maxwell.cpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: Trilinos Couplings, bug

#2792 Switch all builds on 'white' and 'ride' to use all-at-oce approch (TRIL-198)
  cmake/ctest/drivers/atdm/ride/local-driver.sh
Labels: ATDM

#2802 Switch to all-at-once approach for 'toss3' builds on 'serrano' (TRIL-200, #2699)
  cmake/ctest/drivers/atdm/toss3/local-driver.sh
Labels: ATDM

#2806 Allow Trilinos_TRACK to be overridden in Jenkins driver (TRIL-200)
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-opt-openmp-panzer.sh
Labels: ATDM

#2803 Muelu analysis update
  packages/muelu/utils/analysis/analysis.py
  packages/muelu/utils/analysis/muelu_log2yaml.py
Labels: MueLu

#2808 edits to ATDM 'add new system' documentation
  cmake/ctest/drivers/atdm/README.md
Labels: ATDM, enhancement

#2824 Tril 198 cmake 3.11.2 ninja 1.8.2
  cmake/ctest/drivers/atdm/ctest-s-driver-config-build.sh
  cmake/ctest/drivers/atdm/ctest-s-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/std/atdm/ride/environment.sh
Labels: ATDM

#2825 zoltan2: Added a configuration script that can be used to build Trilinos on blake
  packages/zoltan2/sampleScripts/configure_blake
Labels: Zoltan2

#2826 Add 'cuda-9.0' and 'cuda-8.0' keywords and cuda-9.0 builds on 'shiller' (#2706)
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-8.0-debug.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-8.0-opt.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-debug.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-opt.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/shiller/all_supported_builds.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/shiller/tweaks/CUDA-8.0-DEBUG-CUDA.cmake
  cmake/std/atdm/shiller/tweaks/CUDA-8.0-RELEASE-CUDA.cmake
  cmake/std/atdm/shiller/tweaks/CUDA-9.0-DEBUG-CUDA.cmake
  cmake/std/atdm/shiller/tweaks/CUDA-9.0-RELEASE-CUDA.cmake
  cmake/std/atdm/utils/set_build_options.sh
Labels: ATDM, enhancement

#2828 Fix setting CTEST_BUILD_FLAGS for ctest -S driver (TRIL-171)
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
Labels: ATDM, bug

#2832 Use manually installed cmake 3.11.2 ninja 1.8.2 on hansen/shiller
  cmake/ctest/drivers/atdm/shiller/local-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/shiller/environment.sh
Labels: ATDM, enhancement

#2837 Move cmake-3.11.2 and ninja-1.8.2 to white-ride/ subdir (TRIL-209)
  cmake/std/atdm/ride/environment.sh
Labels: ATDM, enhancement

#2841 Temp disable three ShyLU_DD tests for this OpenMP build (#2691)
  cmake/std/GCC-4.8.4-OpenMPI-1.10.1-MpiReleaseDebugSharedPtOpenMP.cmake
Labels: Framework, ShyLU

#2838 split the ATDM toss3 files into serrano and chama
  cmake/ctest/drivers/atdm/README.md
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/chama/local-driver.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/serrano/local-driver.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/toss3/drivers/Trilinos-atdm-toss3-intel-opt-openmp.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/chama/all_supported_builds.sh
  cmake/std/atdm/chama/environment.sh
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/serrano/all_supported_builds.sh
  cmake/std/atdm/serrano/environment.sh
  cmake/std/atdm/serrano/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/toss3/environment.sh
  cmake/std/atdm/utils/get_known_system_name.sh
Labels: ATDM, enhancement

#2843 Correct Intel configuration before I messed everyone up (hopefully)
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
Labels: Framework

#2851 Switch default checkin-test-sems.sh build and post-push CI build to use updated GCC 4.8.4 + OpenMPI 1.10.1 + OpenMP configuration
  cmake/ctest/drivers/sems_ci/ctest_linux_mpi_debug_shared_pt_ci.sems.cmake
  cmake/ctest/drivers/sems_ci/single_ci_iter.sh
  cmake/std/sems/checkin-test-sems.sh
  project-checkin-test-config.py
Labels: ATDM, Framework

#2854 Send CUDA 9.0 builds to "Specialized" CDash Track/Group and remove old var (#2706)
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-8.0-debug.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-8.0-opt.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-debug.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-opt.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-debug-panzer.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-opt-panzer.sh
Labels: ATDM Config, enhancement
