Repository trilinos/Trilinos, pull requests merged in 2018-07, with the labels that each got.

#3054 Disable failing MueLu test in ATDM openmp builds
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: ATDM, Disabled Tests

#3063 Check for Command Line Argument (Fix #3062)
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
Labels: MueLu

#3056 Belos,Xpetra,MueLu: Attempt to fix #2999
  packages/belos/xpetra/src/BelosXpetraAdapterMultiVector.hpp
Labels: Belos, MueLu, Xpetra, build

#3067 Tpetra: Fix #2459 (add ScopeGuard)
  packages/tpetra/core/src/Tpetra_Core.cpp
  packages/tpetra/core/src/Tpetra_Core.hpp
  packages/tpetra/core/test/Core/CMakeLists.txt
  packages/tpetra/core/test/Core/ScopeGuard_tpetra_inits_kokkos.cpp
  packages/tpetra/core/test/Core/ScopeGuard_tpetra_inits_mpi.cpp
  packages/tpetra/core/test/Core/ScopeGuard_tpetra_inits_mpi_user_inits_kokkos.cpp
  packages/tpetra/core/test/Core/ScopeGuard_user_inits_kokkos.cpp
  packages/tpetra/core/test/Core/ScopeGuard_user_inits_mpi.cpp
  packages/tpetra/core/test/Core/ScopeGuard_user_inits_mpi_and_provides_comm.cpp
  packages/tpetra/core/test/Core/ScopeGuard_user_inits_mpi_tpetra_inits_kokkos.cpp
Labels: Tpetra, TpetraRF

#3079 Tpetra: Use ScopeGuard in examples
  packages/tpetra/core/example/Additive-Schwarz-Halo/AdditiveSchwarzHalo.cpp
  packages/tpetra/core/example/Lesson01-Init/index.doc
  packages/tpetra/core/example/Lesson01-Init/lesson01_mpi_on_its_own.cpp
  packages/tpetra/core/example/Lesson01-Init/lesson01_mpi_only_through_Tpetra.cpp
  packages/tpetra/core/example/Lesson01-Init/lesson01_no_mpi.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_init_map_vec.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_read_modify_vec.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_read_modify_vec_kokkos.cpp
  packages/tpetra/core/example/Lesson03-Power-Method/lesson03_power_method.cpp
  packages/tpetra/core/example/Lesson05-Redistribution/lesson05_redistribution.cpp
  packages/tpetra/core/example/Lesson06-Custom-Operator/lesson06_custom_operator.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/01_init.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/02_problem.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/03_fill.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/04_tpetra.cpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/05_solve.cpp
  packages/tpetra/core/example/advanced/Benchmarks/blockCrsMatrixMatVec.cpp
  packages/tpetra/core/example/advanced/Benchmarks/import.cpp
  packages/tpetra/core/example/advanced/Benchmarks/localView.cpp
  packages/tpetra/core/example/advanced/Benchmarks/vector.cpp
  packages/tpetra/core/example/utilities/compareMaps.cpp
Labels: Tpetra, TpetraRF

#3082 Panzer: fix failing test #3064
  packages/panzer/adapters-stk/test/model_evaluator/response_residual.cpp
Labels: ATDM, Panzer

#3081 Fix ROL CUDA build failure (#3072)
  packages/kokkos/bin/nvcc_wrapper
  packages/rol/example/burgers-control/example_01.hpp
Labels: ATDM, ROL

#3050 Increase maximum number of iterations to address issues #2920 and #3007
  packages/belos/epetra/test/BlockCG/CMakeLists.txt
Labels: ATDM, Belos

#3003 GCC PR configs - move from openmpi 1.6.5 to 1.10.1
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
  cmake/std/PullRequestLinuxGCC4.8.4TestingSettings.cmake
  cmake/std/PullRequestLinuxGCC4.9.3TestingSettings.cmake
  cmake/std/PullRequestLinuxGCCTestingSettings.cmake
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
Labels: Framework

#3091 Use all-at-one config, build, test, submit for rhel6 machines (TRIL-199)
  cmake/ctest/drivers/atdm/rhel6/local-driver.sh
Labels: ATDM, enhancement

#3060 Tpetra: Progress on #57
  packages/belos/tpetra/example/WrapTpetraSolver/wrapTpetraSolver.cpp
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
  packages/belos/tpetra/src/BelosTpetraTestFramework.hpp
  packages/belos/tpetra/test/BlockGCRODR/test_block_gcrodr.cpp
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra_util.hpp
  packages/galeri/src-xpetra/Galeri_MapTraits.hpp
  packages/stokhos/test/UnitTest/Stokhos_TpetraCrsMatrixMPVectorUnitTest.hpp
  packages/stokhos/test/UnitTest/Stokhos_TpetraCrsMatrixUQPCEUnitTest.hpp
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.cpp
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.hpp
  packages/tpetra/core/example/advanced/Benchmarks/import.cpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MpiPlatform.cpp
  packages/tpetra/core/src/Tpetra_MpiPlatform.hpp
  packages/tpetra/core/src/Tpetra_SerialPlatform.hpp
  packages/tpetra/core/test/Block/BlockMap.cpp
  packages/tpetra/core/test/Block/BlockMultiVector.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_ReindexColumns.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests0.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_LeftRightScale.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MultipleFillCompletes.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_NodeConversion.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_NonlocalAfterResume.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ReindexColumns.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ReplaceDomainMapAndImporter.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests2.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests3.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests4.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_UnitTests.cpp
  packages/tpetra/core/test/ImportExport/ReverseCommunication_Issue227.cpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_CrsSortingUtils.cpp
  packages/tpetra/core/test/Map/CMakeLists.txt
  packages/tpetra/core/test/Map/Map_UnitTests.cpp
  packages/tpetra/core/test/Map/Map_getMinGlobalIndex.cpp
  packages/tpetra/core/test/Map/NegativeBaseIndexTest.cpp
  packages/tpetra/core/test/MultiVector/Bug5474.cpp
  packages/tpetra/core/test/MultiVector/MV_subViewSomeZeroRows.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/Platform/Platform_UnitTests.cpp
  packages/tpetra/core/test/RowMatrixTransposer/RowMatrixTransposer_UnitTests.cpp
  packages/tpetra/core/test/Tpetra_TestingUtilities.hpp
  packages/tpetra/core/test/inout/Bug5800.cpp
  packages/trilinoscouplings/examples/scaling/epetraTpetraImportBenchmark.cpp
  packages/xpetra/scripts/tpetra/tmpl/Xpetra_TpetraMap.hpp.tmpl
  packages/xpetra/src/FakeKokkos/Kokkos_DefaultNode.hpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/Map/Xpetra_MapFactory.hpp
  packages/xpetra/src/Map/Xpetra_TpetraMap.hpp
  packages/xpetra/src/Platform/Xpetra_DefaultPlatform.cpp
  packages/xpetra/src/Platform/Xpetra_MpiPlatform.hpp
  packages/xpetra/src/Platform/Xpetra_SerialPlatform.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMap.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory.hpp
  packages/xpetra/test/Matrix/Matrix_UnitTests.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTests.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTestsXpetraSpecific.cpp
  packages/xpetra/test/Xpetra_UnitTestHelpers.hpp
Labels: Belos, Galeri, Stokhos, Tpetra, TpetraRF, Xpetra

#3089 Adding Teuchos_LAPACK header to address build issue #3040
  packages/anasazi/src/AnasaziStatusTestResNorm.hpp
  packages/anasazi/src/AnasaziStatusTestWithOrdering.hpp
Labels: Anasazi

#3093 Switch ATDM SEMS 7.2.0 build to use CMake 3.11.1 and all-at-once approach
  cmake/ctest/drivers/atdm/sems_gcc-7.2.0/drive_linux_mpi_sems_atdm_7.2.0.sh
  cmake/std/sems/atdm/load_atdm_7.2_dev_env.sh
Labels: ATDM

#3094 Amesos2: Purge use of Tpetra::DefaultPlatform
  packages/amesos2/example/ComplexSolve_WithTranspose.cpp
  packages/amesos2/example/MultipleSolves_File.cpp
  packages/amesos2/example/NewAdapter/Amesos2_NewMatrixAdapter_decl.hpp
  packages/amesos2/example/NewAdapter/Amesos2_NewMultiVecAdapter_decl.hpp
  packages/amesos2/example/SimpleSolve.cpp
  packages/amesos2/example/SimpleSolveNonContigMap.cpp
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/amesos2/example/SimpleSolve_WithParameters.cpp
  packages/amesos2/example/TwoPartSolve.cpp
  packages/amesos2/example/quick_solve.cpp
  packages/amesos2/example/quick_solve_epetra.cpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MatrixTraits.hpp
  packages/amesos2/src/Amesos2_VectorTraits.hpp
  packages/amesos2/test/adapters/CrsMatrix_Adapter_Consistency_Tests.cpp
  packages/amesos2/test/adapters/Epetra_MultiVector_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Epetra_RowMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Tpetra_CrsMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Tpetra_MultiVector_Adapter_UnitTests.cpp
  packages/amesos2/test/solvers/Basker_UnitTests.cpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
  packages/amesos2/test/solvers/MUMPS_UnitTests.cpp
  packages/amesos2/test/solvers/SolverFactory.cpp
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/amesos2/test/solvers/Solver_Test_Basker.cpp
  packages/amesos2/test/solvers/Superlu_Solve_Tests.cpp
  packages/amesos2/test/solvers/Superlu_UnitTests.cpp
  packages/amesos2/test/tklu_simple/tklu_simple.cpp
Labels: Amesos2, Tpetra, TpetraRF

#3096 Tpetra: Fix #3078 (add default constructor for Vector)
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: Tpetra, TpetraRF

#3097 Amesos2: Update ShyLUBasker tests for Tpetra changes
  packages/amesos2/test/solvers/Basker_UnitTests.cpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
Labels: Amesos2

#3104 Disable randomly failing ROL test in Intel PR build (#3103)
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
Labels: ATDM, Framework, ROL

#3100 3069 white cuda debug stokhos build error
  cmake/std/atdm/ride/environment.sh
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: ATDM

#3102 Fix3101
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_def.hpp
  packages/tpetra/core/test/FEMultiVector/CMakeLists.txt
  packages/tpetra/core/test/FEMultiVector/Fix3101.cpp
Labels: Tpetra

#3099 Anasazi: Purge use of Tpetra::DefaultPlatform from tests & examples
  packages/anasazi/tpetra/example/CustomStatusTest/LOBPCGCustomStatusTest.cpp
  packages/anasazi/tpetra/example/TraceMinDavidson/TraceMinDavidsonGeneralizedEx.cpp
  packages/anasazi/tpetra/example/TraceMinDavidson/TraceMinDavidsonLaplacianEx.cpp
  packages/anasazi/tpetra/example/TraceMinDavidson/TraceMinDavidsonSpecTransEx.cpp
  packages/anasazi/tpetra/example/TraceMinDavidson/TraceMinDavidsonUserOpEx.cpp
  packages/anasazi/tpetra/test/BlockDavidson/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/BlockDavidson/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/BlockKrylovSchur/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/BlockKrylovSchur/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/IRTR/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/IRTR/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/LOBPCG/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/LOBPCG/cxx_main_doublefloat.cpp
  packages/anasazi/tpetra/test/MVOPTester/MultiVecTraitsTest2.cpp
  packages/anasazi/tpetra/test/MVOPTester/cxx_main.cpp
  packages/anasazi/tpetra/test/OrthoManager/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/OrthoManager/cxx_main_tsqr.cpp
  packages/anasazi/tpetra/test/TraceMin/cxx_main_standard_noprec.cpp
  packages/anasazi/tpetra/test/TraceMinDavidson/cxx_main_standard_noprec.cpp
Labels: Anasazi, Tpetra, TpetraRF

#3098 Re-enabling Belos tests on Chama/Serrano that were failing.
  cmake/std/atdm/chama/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/chama/tweaks/INTEL-RELEASE-OPENMP.cmake
  cmake/std/atdm/serrano/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/serrano/tweaks/INTEL-RELEASE-OPENMP.cmake
Labels: ATDM, Belos

#3116 Only add test Piro_AnalysisDriverTpetra_MPI_4 if ROL is enabled (#3115)
  packages/piro/test/CMakeLists.txt
Labels: ATDM, Piro, bug

#3111 Ifpack2: Purge use of Tpetra::DefaultPlatform from tests & examples
  packages/ifpack2/example/ex1.cpp
  packages/ifpack2/src/Ifpack2_Factory_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/test/belos/AdditiveSchwarzRILUK/Test.cpp
  packages/ifpack2/test/belos/belos_extprec_solve.cpp
  packages/ifpack2/test/belos/belos_solve.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_SolverFactory.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTest234.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestAdditiveSchwarz.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestAdditiveSchwarzBug5963.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockRelaxation.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockRelaxationPerf.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestContainerFactory.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestDenseSolver.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestFactory.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestHelpers.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestOverlappingRowMatrix.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRBILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSGSMT.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSingleProcessRILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestTriDiSolver.cpp
  packages/ifpack2/test/vanka/TomVankaTest.cpp
Labels: Ifpack2, Tpetra, TpetraRF

#3112 Belos: Purge use of Tpetra::DefaultPlatform; fix build warnings
  packages/belos/tpetra/test/BlockCG/test_bl_cg_complex_hb.cpp
  packages/belos/tpetra/test/BlockCG/test_bl_cg_hb.cpp
  packages/belos/tpetra/test/BlockCG/test_bl_cg_hb_multiprec.cpp
  packages/belos/tpetra/test/BlockCG/test_pseudo_bl_cg_hb.cpp
  packages/belos/tpetra/test/BlockCG/test_pseudo_stochastic_cg_hb.cpp
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_hb.cpp
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_hb_df.cpp
  packages/belos/tpetra/test/FixedPoint/test_fp_hb.cpp
  packages/belos/tpetra/test/LinearSolverFactory/CustomSolverFactory.cpp
  packages/belos/tpetra/test/LinearSolverFactory/LinearSolverFactory.cpp
  packages/belos/tpetra/test/LinearSolverFactory/SolverFactory.cpp
  packages/belos/tpetra/test/MVOPTester/cxx_main_complex.cpp
  packages/belos/tpetra/test/MultipleSolves/MultipleSolves.cpp
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra.cpp
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra_benchmark.cpp
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra_util.hpp
Labels: Belos, Tpetra, TpetraRF

#3127 Panzer: remove use of Tpetra::DefaultPlatform #3119
  packages/panzer/adapters-stk/test/local_mesh/PanzerSTK_UnitTest_BuildMesh.cpp
  packages/panzer/adapters-stk/test/stk_connmngr/tDOFManager2_SimpleTests.cpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_OperatorRequestCallback.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
Labels: Panzer

#3121 Avoid error when MPI's atexit is redefined via a macro
  packages/teuchos/comm/src/Teuchos_PerformanceMonitorBase.hpp
Labels: Teuchos

#3135 Teuchos: fix GCC 8.0 warning
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
Labels: Teuchos

#3136 Tpetra: Issue3129 makeOptimizedColMapAndImport
  packages/tpetra/core/src/Tpetra_Details_makeOptimizedColMap.hpp
  packages/tpetra/core/test/ImportExport/Issue_2198.cpp
  packages/tpetra/core/test/ImportExport/MakeOptColMap.cpp
Labels: Tpetra

#3140 Tpetra: clean up warnings reported by clang
  packages/tpetra/core/inout/Tpetra_Details_CooMatrix.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_decl.hpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests0.cpp
  packages/tpetra/core/test/CrsMatrix/Equilibration.cpp
  packages/tpetra/core/test/CrsMatrix/Regression/Albany182.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_UnitTests.cpp
  packages/tpetra/core/test/Map/Map_UnitTests.cpp
  packages/tpetra/core/test/Map/NegativeBaseIndexTest.cpp
  packages/tpetra/core/test/inout/CooMatrixImpl.cpp
Labels: Tpetra

#3147 MueLu,Galeri: Purge use of Tpetra::DefaultPlatform
  packages/galeri/test/bug_5851.cpp
  packages/muelu/example/advanced/memory/Tpetra1DLaplace.cpp
  packages/muelu/matlab/bin/muemex.cpp
  packages/muelu/matlab/src/MueLu_MatlabUtils_decl.hpp
  packages/muelu/matlab/src/MueLu_MatlabUtils_def.hpp
  packages/muelu/research/q2q1/Q2Q1.cpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_TekoSmoother_decl.hpp
  packages/muelu/test/simple1D/amesos2StandAlone.cpp
Labels: MueLu, Tpetra, TpetraRF

#3149 TrilinosCouplings: Purge use of Tpetra::DefaultPlatform
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_EpetraAztecOO_main.cpp
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/StructuredIntrepidPoisson_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.hpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidStructuredPoissonExample.hpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE_Tpetra.cpp
Labels: Tpetra, TpetraRF, Trilinos Couplings

#3145 Zoltan2 purge default platform
  packages/zoltan2/example/graph/graph.cpp
  packages/zoltan2/src/input/Zoltan2_MeshAdapter.hpp
  packages/zoltan2/src/models/Zoltan2_ModelHelpers.hpp
  packages/zoltan2/test/color/coloring1.cpp
  packages/zoltan2/test/driver/tpetra-crs-hello.cpp
  packages/zoltan2/test/order/nd.cpp
  packages/zoltan2/test/order/ordering1.cpp
  packages/zoltan2/test/order/orderingAMD.cpp
  packages/zoltan2/test/order/orderingScotch.cpp
  packages/zoltan2/test/partition/APFMeshAdapterTest.cpp
  packages/zoltan2/test/partition/PartitionAndParMATest.cpp
  packages/zoltan2/test/partition/pamgenMeshAdapterTest.cpp
  packages/zoltan2/test/partition/partition2DMatrix.cpp
  packages/zoltan2/test/partition/partitioning1.cpp
  packages/zoltan2/test/partition/partitioningTree.cpp
  packages/zoltan2/test/unit/input/APFMeshInput.cpp
  packages/zoltan2/test/unit/input/PamgenMeshInput.cpp
  packages/zoltan2/test/unit/models/GraphModel2ndAdjsFromAdjs.cpp
  packages/zoltan2/test/unit/models/HyperGraphModel.cpp
  packages/zoltan2/test/unit/util/componentMetrics.cpp
Labels: Zoltan2

#3073 Teuchos: Add script for parsing and analysis of stacked timer output
  packages/teuchos/comm/contrib/plotStackedTimers.py
Labels: Teuchos

#3047 MueLu: RefMaxwell diverse
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/Misc/MueLu_ThresholdAFilterFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_ThresholdAFilterFactory_def.hpp
Labels: MueLu

#3158 Update for 'white' upgrade to CUDA 9.2 driver (TRIL-125)
  cmake/std/atdm/ride/environment.sh
Labels: ATDM

#3164 Try to address jumbled output for terminate message (#3163)
  packages/teuchos/core/src/Teuchos_TestForException.cpp
Labels: ATDM, Teuchos, bug

#3160 Tpetra: Deprecate DefaultPlatform, MpiPlatform, & SerialPlatform
  packages/tpetra/core/example/Additive-Schwarz-Halo/AdditiveSchwarzHalo.cpp
  packages/tpetra/core/example/Lesson01-Init/lesson01_no_mpi.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_init_map_vec.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_read_modify_vec.cpp
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_read_modify_vec_kokkos.cpp
  packages/tpetra/core/example/advanced/Benchmarks/import.cpp
  packages/tpetra/core/example/advanced/Benchmarks/vector.cpp
  packages/tpetra/core/src/Tpetra_ConfigDefs.hpp
  packages/tpetra/core/src/Tpetra_Core.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_DefaultPlatform.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_decl.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_decl.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MpiPlatform.hpp
  packages/tpetra/core/src/Tpetra_SerialPlatform.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/test/FEMultiVector/Fix3101.cpp
  packages/tpetra/core/test/HashTable/FixedHashTableTest.cpp
  packages/tpetra/core/test/ImportExport/Issue_114.cpp
  packages/tpetra/core/test/Map/Map_Bug2431.cpp
  packages/tpetra/core/test/Map/Map_Bug5399.cpp
  packages/tpetra/core/test/Map/Map_Bug5822_2.cpp
  packages/tpetra/core/test/Map/Map_Bug6051.cpp
  packages/tpetra/core/test/Map/NegativeBaseIndexTest.cpp
  packages/tpetra/core/test/MultiVector/Bug5474.cpp
  packages/tpetra/core/test/MultiVector/MV_subViewSomeZeroRows.cpp
  packages/tpetra/core/test/Tpetra_TestingUtilities.hpp
  packages/tpetra/core/test/Utils/TpetraUtils_gathervPrint.cpp
Labels: Tpetra, TpetraRF

#3154 Ifpack2: updated block relaxation options in user's guide (Fix #971)
  packages/ifpack2/doc/UsersGuide/options.tex
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
Labels: Ifpack2

#3148 ShyLU: Purge use of Tpetra::DefaultPlatform
  packages/shylu/shylu_dd/bddc/src/shylu_CoarseSpaceBDDC.h
  packages/shylu/shylu_dd/bddc/src/shylu_ConstraintsBDDC.h
  packages/shylu/shylu_dd/bddc/src/shylu_DofManager.h
  packages/shylu/shylu_dd/bddc/src/shylu_PartitionOfUnityBDDC.h
  packages/shylu/shylu_dd/bddc/src/shylu_PreconditionerBDDC.h
  packages/shylu/shylu_dd/bddc/src/shylu_WeightsBDDC.h
  packages/shylu/shylu_dd/bddc/src/shylu_ZoltanPartition.h
  packages/shylu/shylu_dd/bddc/test/SolverBDDCTest.C
  packages/shylu/shylu_dd/bddc/test/SolverBDDCTestSimple.C
  packages/shylu/shylu_dd/core/test/iterative_solver_interface_test.cpp
  packages/shylu/shylu_dd/core/test/shylu_factor_test.cpp
  packages/shylu/shylu_dd/core/test/tpetra_interface_test.cpp
  packages/shylu/shylu_node/basker/example/Solve.cpp
Labels: ShyLU, Tpetra, TpetraRF

#3169 Fix some typos to documentation from PR #3134
  cmake/README.ProjectCiFileChangeLogic.md
  cmake/tribits/ci_support/filter-packages-list.py
  cmake/tribits/ci_support/get-tribits-packages-from-files-list.py
  cmake/tribits/ci_support/get-tribits-packages-from-last-tests-failed.py
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Labels: Framework

#3173 Disable KokkosKernels_sparse_openmp_MPI_1 in gnu-debug-openmp on white/ride (#3168)
  cmake/std/atdm/ride/tweaks/GNU-DEBUG-OPENMP.cmake
Labels: ATDM, KokkosKernels, bug

#3074 MueLu: crs coarse data
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_GlobalLexicographicIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_GlobalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_LocalLexicographicIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_LocalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/uncoupled/MueLu_UncoupledIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/uncoupled/MueLu_UncoupledIndexManager_def.hpp
  packages/muelu/test/unit_tests/StructuredAggregationFactory.cpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
Labels: MueLu, enhancement

#3181 Panzer: Remove all use of Tpetra::DefaultPlatform
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
Labels: Panzer, Tpetra, TpetraRF

#3186 Zoltan2: fix compiler warning from gcc8.1
  packages/zoltan2/src/problems/Zoltan2_PartitioningProblem.hpp
Labels: Zoltan2, in progress

#3189 Stratimikos,Teko: Purge use of Tpetra::DefaultPlatform
  packages/stratimikos/adapters/amesos2/test/test_single_amesos2_tpetra_solver.cpp
  packages/stratimikos/adapters/amesos2/test/test_single_amesos2_tpetra_solver.hpp
  packages/stratimikos/adapters/amesos2/test/test_single_amesos2_tpetra_solver_driver.cpp
  packages/teko/examples/BuildPreconditioner/example-driver-belos.cpp
  packages/teko/src/Teko_ConfigDefs.hpp
  packages/teko/src/Tpetra/Teko_TpetraThyraConverter.cpp
  packages/teko/tests/Test_Utils.cpp
  packages/teko/tests/testdriver_tpetra.cpp
  packages/teko/tests/unit_tests/tDiagnosticLinearOp.cpp
  packages/teko/tests/unit_tests/tDiagonallyScaledPreconditioner.cpp
  packages/teko/tests/unit_tests/tInverseFactoryOperator.cpp
  packages/teko/tests/unit_tests/tIterativePreconditionerFactory.cpp
  packages/teko/tests/unit_tests/tLU2x2InverseOp.cpp
  packages/teko/tests/unit_tests/tReorderBlocking.cpp
Labels: Stratimikos, Teko, Tpetra, TpetraRF, in progress

#3187 Update MueLu Driver
  packages/muelu/test/scaling/Driver.cpp
Labels: in progress

#3197 fix MueLu testing (try 2)
  packages/muelu/test/unit_tests/Adapters/BelosAdapters.cpp
  packages/muelu/test/unit_tests/GeneralGeometricPFactory.cpp
Labels: in progress

#3198 Teko: getInvDiagonalOp for Thyra::DiagonalLinearOpBase
  packages/teko/src/Teko_Utilities.cpp
Labels: Teko, in progress

#3200 Modify MueLu Maxwell test
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: in progress

#3205 MiniEM fixes
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellCuda.xml
Labels: Panzer, in progress

#3206 Teuchos: Fix issues in plotting script for stacked timers
  packages/teuchos/comm/contrib/plotStackedTimers.py
Labels: Teuchos, in progress

#3208 Fix CUDA 9.0 build with module tweak (TRIL-215)
  cmake/std/atdm/ride/environment.sh
Labels: ATDM, bug, in progress
