Repository trilinos/Trilinos, pull requests merged in 2018-12, with the labels that each got.

#3952 mm_TAFC: Commit to new branch to avoid PR issues
  PackagesList.cmake
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/src/Tpetra_Import_decl.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
Labels: in progress

#3972 Tpetra: Fix #3971
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: AT: AUTOMERGE, in progress, packages: Tpetra

#3974 Tpetra: Fix #3973 (build warnings in MultiVector unit test)
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE, build, in progress, packages: Tpetra

#3975 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181203_020827 branch to master
  PackagesList.cmake
  cmake/ctest/drivers/geminga/cron_driver.sh
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_debug_muelu_kokkos_refactor_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_amgx_cuda_geminga.cmake
  packages/ifpack2/cmake/Dependencies.cmake
  packages/ifpack2/cmake/Ifpack2_config.h.in
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.cpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/src/Tpetra_Import_decl.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: in progress

#3977 MueLu: Fix some float build issues
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
Labels: in progress, packages: MueLu

#3982 ATDM: update mutrino instructions
  cmake/std/atdm/README.md
Labels: AT: AUTOMERGE, in progress

#3979 Tpetra: Fix #3976 (build errors due to uint)
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
Labels: AT: AUTOMERGE, build, in progress, packages: Tpetra

#3984 Teuchos: Fix #3983 (see #1608)
  packages/teuchos/remainder/src/CMakeLists.txt
  packages/teuchos/remainder/src/Trilinos_LinearSolverSetupFailure.hpp
  packages/teuchos/remainder/test/CMakeLists.txt
  packages/teuchos/remainder/test/LinearSolverSetupFailure/CMakeLists.txt
  packages/teuchos/remainder/test/LinearSolverSetupFailure/LinearSolverSetupFailure.cpp
Labels: NOX, Stratimikos, Teuchos, Thyra, in progress

#3988 Update all_supported_builds.sh file to support ctest-s-local-test-driver.sh (TRIL-212)
  cmake/std/atdm/waterman/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM, ATDM DevOps, in progress

#3985 Tpetra: beginFill/endFill helper functions
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/src/Tpetra_Assembly_Helpers.hpp
Labels: AT: AUTOMERGE, MueLuReview, in progress, packages: Tpetra

#3990 Teuchos: fix stacked timer output
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: AT: AUTOMERGE, Teuchos, in progress

#3993 MueLu: Fixing compiler error on trappist
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, in progress, packages: MueLu

#3997 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181205_020610 branch to master
  cmake/std/atdm/waterman/all_supported_builds.sh
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_DP.hpp
  packages/tpetra/core/src/Tpetra_Assembly_Helpers.hpp
Labels: in progress

#3998 Trilinos-atdm-white-ride-cuda-9.2-release-debug builds fixup
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-release-debug-pt.sh
  cmake/std/atdm/ride/tweaks/CUDA-9.2-RELEASE_DEBUG-CUDA-POWER8-KEPLER37.cmake
Labels: AT: AUTOMERGE, ATDM, ATDM DevOps, EMPIRE, SPARC, enhancement, in progress

#4000 MueLu: Removing compiler warning in test
  packages/muelu/test/scaling/ImportPerformance.cpp
Labels: AT: AUTOMERGE, in progress, packages: MueLu

#3999 Tpetra: fix race condition in transfers with AbsMax for CUDA_AWARE_MPI
  packages/panzer/adapters-stk/example/PoissonInterfaceExample/main.cpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager_impl.hpp
  packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRefactor_Details_MultiVectorDistObjectKernels.hpp
Labels: AT: AUTOMERGE, Panzer, in progress, packages: Tpetra

#4002 Tempus: fix doxygen error
  packages/tempus/src/Tempus_RKButcherTableau.hpp
Labels: in progress

#4007 AztecOO: Fix #4006 (suboptimal LWORK for DGEEV triggers MKL bug)
  packages/aztecoo/src/az_gmres_condnum.c
Labels: AT: AUTOMERGE, AztecOO, in progress

#4004 kokkoskernels: update CMakeLists.txt
  packages/kokkos-kernels/CMakeLists.txt
Labels: in progress

#4005 Phalanx default option for multiple evaluator field registration
  packages/phalanx/CMakeLists.txt
Labels: AT: AUTOMERGE, Phalanx, in progress

#4008 MueLu: Fix export data
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_def.hpp
Labels: in progress, packages: MueLu

#3500 Tpetra: Added extra CMake logic for setting Tpetra_ASSUME_CUDA_AWARE_MPI
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/test/Comm/CMakeLists.txt
  packages/tpetra/core/test/Comm/cudaMpi_CanaryTest.cpp
Labels: in progress, packages: Tpetra

#4012 Framework: Improve missing environment error message
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: AT: AUTOMERGE, Framework, in progress

#4013 Fixed some issues with panzer not working for multi blocks
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
Labels: AT: AUTOMERGE, Panzer, in progress

#4011 MueLu: Add check that prolongator damping factor is a finite number
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
Labels: in progress, packages: MueLu

#4003 Issue3832 changed GCC from 7.3 to 7.2
  cmake/std/PullRequestLinuxDriver-Test.sh
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
Labels: AT: AUTOMERGE, Framework, in progress

#4018 Tpetra: Fix #4017 (CrsMatrixMultiplyOp::applyNonTranspose)
  packages/tpetra/core/src/Tpetra_CrsMatrixMultiplyOp.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests4.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4015 MueLu/HHG: fix structured xml file to work with multiple levels
  packages/muelu/research/mmayr/composite_to_regions/src/muelu_structured.xml
Labels: AT: AUTOMERGE, in progress, pkg: MueLu

#4023 Muelu: Correct changes of PR #3986
  packages/muelu/adapters/amgx/MueLu_AMGXOperator_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
Labels: in progress

#4025 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181211_020612 branch to master
  packages/muelu/adapters/amgx/MueLu_AMGXOperator_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/mmayr/composite_to_regions/src/muelu_structured.xml
Labels: in progress

#4021 Add sems-rhel7 env with clang, gnu, and intel compilers (TRIL-236)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/sems-rhel7/all_supported_builds.sh
  cmake/std/atdm/sems-rhel7/environment.sh
  cmake/std/atdm/utils/get_known_system_name.sh
  cmake/std/atdm/utils/set_build_options.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, EMPIRE, enhancement, in progress

#4039 Issue3832 Move GCC 7.2 files into develop
  cmake/std/PullRequestLinuxDriver-Test.sh
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
Labels: AT: AUTOMERGE, in progress

#4041 Piro: fix for NoxSolver class. (related to issue gahansen/Albany#402)
  packages/piro/src/Piro_NOXSolver_Def.hpp
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers, bug, in progress, pkg: Piro

#4020 Issue #1909 : Epetra64 gaps
  packages/belos/epetra/src/BelosEpetraAdapter.hpp
  packages/belos/epetra/src/BelosEpetraUtils.cpp
  packages/belos/epetra/src/BelosEpetraUtils.h
  packages/epetra/src/Epetra_CrsGraph.cpp
  packages/epetra/src/Epetra_CrsGraph.h
  packages/epetra/src/Epetra_MultiVector.h
  packages/epetra/src/Epetra_Util.cpp
  packages/epetra/src/Epetra_Util.h
  packages/ifpack/src/Ifpack_PointRelaxation.cpp
  packages/nox/src-epetra/NOX_Epetra_BroydenOperator.C
  packages/nox/src-epetra/NOX_Epetra_FiniteDifference.C
  packages/nox/src-epetra/NOX_Epetra_FiniteDifferenceColoring.C
  packages/nox/src-epetra/NOX_Epetra_FiniteDifferenceColoring.H
  packages/nox/src-epetra/NOX_Epetra_LinearSystem_AztecOO.C
  packages/nox/src-epetra/NOX_Epetra_LinearSystem_Stratimikos.C
  packages/nox/src-epetra/NOX_Epetra_MatrixFree.C
  packages/nox/src/NOX_Direction_Broyden.C
  packages/nox/src/NOX_Direction_Broyden.H
  packages/thyra/adapters/epetra/src/Thyra_EpetraThyraWrappers.cpp
Labels: AT: AUTOMERGE, pkg: Epetra

#4026 Panzer: use subviews for Intrepid2 methods
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.cpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_BasisValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_PointValues_Evaluator_impl.hpp
Labels: AT: AUTOMERGE, in progress, pkg: Panzer

#4040 Set CMAKE_SKIP_INSTALL_RPATH=ON for static builds on 'mutrino' (TRIL-241)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/utils/ATDMDevEnvUtils.cmake
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM Critical, ATDM DevOps, EMPIRE, bug, in progress

#4048 MueLu: Yet another git utility
  packages/muelu/utils/misc/update_branch.sh
Labels: AT: AUTOMERGE, in progress, pkg: MueLu

#4031 Reverting changes to LAPACK GEES routines to address bugs #3992 and #3989
  packages/anasazi/src/AnasaziBlockKrylovSchur.hpp
  packages/anasazi/src/AnasaziGeneralizedDavidson.hpp
Labels: AT: AUTOMERGE, ATDM, ATDM Env Issue, bug, in progress, pkg: Anasazi, tests

#4024 Tpetra: Add unit test for #3968
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/Issue_3968.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4049 Tpetra: Minor Tpetra testing and interface tweaks
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/Tpetra_Test_CrsMatrix_WithGraph.hpp
  packages/tpetra/core/test/Tpetra_TestingUtilities.hpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4051 Panzer: cuda fix
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: AT: AUTOMERGE, ATDM, bug, in progress, pkg: Panzer

#4052 Reducing subspace sizes due to biorthogonal basis construction for #3585
  packages/anasazi/epetra/test/OrthoManager/cxx_gentest.cpp
Labels: AT: AUTOMERGE, ATDM, bug, in progress, pkg: Anasazi, tests

#4055 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181214_020641 branch to master
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/utils/ATDMDevEnvUtils.cmake
  packages/anasazi/epetra/test/OrthoManager/cxx_gentest.cpp
  packages/anasazi/src/AnasaziBlockKrylovSchur.hpp
  packages/anasazi/src/AnasaziGeneralizedDavidson.hpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/utils/misc/update_branch.sh
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/Tpetra_Test_CrsMatrix_WithGraph.hpp
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/Issue_3968.cpp
  packages/tpetra/core/test/Tpetra_TestingUtilities.hpp
  packages/triutils/src/Trilinos_Util_create_vbr.cpp
Labels: in progress

#4054 Update SPARC ATDM Trilinos configuration so that it works for EMPIRE
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/apps/empire/EMPIRETrilinosEnables.cmake
  cmake/std/atdm/apps/empire/EMPIRETrilinosPackagesList.cmake
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, EMPIRE, enhancement, in progress

#4053 MueLu: update how Kokkos code gets enabled
  packages/muelu/CMakeLists.txt
  packages/xpetra/CMakeLists.txt
Labels: AT: AUTOMERGE, in progress

#4058 Panzer: fix clang warnings
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_WorksetFactory.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator.hpp
  packages/panzer/disc-fe/src/Panzer_SetupPartitionedWorksetUtilities.hpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
Labels: AT: AUTOMERGE, in progress, pkg: Panzer

#4062 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181217_021750 branch to master
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/apps/empire/EMPIRETrilinosEnables.cmake
  cmake/std/atdm/apps/empire/EMPIRETrilinosPackagesList.cmake
  packages/muelu/CMakeLists.txt
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_WorksetFactory.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator.hpp
  packages/panzer/disc-fe/src/Panzer_SetupPartitionedWorksetUtilities.hpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/xpetra/CMakeLists.txt
Labels: in progress

#4043 Framework: Add guard to PR test driver script to restrict PR's into master
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: AT: AUTOMERGE, Framework, in progress

#4066 MueLu: Minor ML-related upgrades to scaling driver
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/coords.mm
Labels: AT: AUTOMERGE, Framework: Intel Autotester Failure, in progress, pkg: MueLu

#4064 Enable TeuchosNumerics_LAPACK_test_MPI_1 test in 'debug' Power8 and Power8 builds and disable just the STEQR() test
  cmake/std/atdm/ride/tweaks/CUDA-9.2-DEBUG-CUDA-POWER8-KEPLER37.cmake
  cmake/std/atdm/ride/tweaks/GNU-DEBUG-OPENMP-POWER8.cmake
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-DEBUG-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-RELEASE_DEBUG-CUDA-POWER9-VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/GNU-RELEASE_DEBUG-OPENMP-POWER9.cmake
  packages/teuchos/numerics/test/LAPACK/CMakeLists.txt
  packages/teuchos/numerics/test/LAPACK/cxx_main.cpp
Labels: AT: AUTOMERGE, ATDM, ATDM Env Issue, PA: Framework, bug, in progress, pkg: Teuchos

#3394 MueLu: Add structured/unstructured region multigrid to test driver
  packages/muelu/research/mmayr/composite_to_regions/doc/doc.tex
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/mmayr/composite_to_regions/src/muelu_hybrid_aggregation_3D.xml
Labels: enhancement, in progress, pkg: MueLu

#4074 ML: Adding aux dropping diagnostic output
  packages/ml/src/Coarsen/ml_agg_genP.c
  packages/ml/src/Operator/ml_operator.h
Labels: AT: AUTOMERGE, in progress, pkg: ML

#4078 Tpetra: Swap for CrsGraph
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests_Swap.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4068 Framework: Remove unused ENV vars from PR Test Driver
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: AT: AUTOMERGE, Framework, in progress

#4082 Ifpack2: Fix #4081 (build errors in tests)
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockRelaxationPerf.cpp
Labels: AT: AUTOMERGE, build, in progress, pkg: Ifpack2

#4079 2018-12-18 ATDM test disables
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/cee-rhel6/tweaks/ALL_COMMON_TWEAKS.cmake
  cmake/std/atdm/cee-rhel6/tweaks/CLANG-5.0.1-OPENMPI-1.10.2-RELEASE-SERIAL.cmake
  cmake/std/atdm/cee-rhel6/tweaks/CLANG-5.0.1-OPENMPI-1.10.2-RELEASE-SERIAL.cmakeL
  cmake/std/atdm/cee-rhel6/tweaks/GNU-4.9.3-OPENMPI-1.10.2-RELEASE-SERIAL.cmake
  cmake/std/atdm/cee-rhel6/tweaks/GNU-7.2.0-OPENMPI-1.10.2-RELEASE-SERIAL.cmake
  cmake/std/atdm/cee-rhel6/tweaks/INTEL-17.0.1-INTELMPI-5.1.2-RELEASE-SERIAL.cmake
  cmake/std/atdm/cee-rhel6/tweaks/INTEL-18.0.2-MPICH2-3.2-RELEASE-SERIAL.cmake
  cmake/std/atdm/waterman/tweaks/CUDA-9.2-RELEASE_DEBUG-CUDA-POWER9-VOLTA70.cmake
Labels: AT: AUTOMERGE, ATDM, PA: Discretizations, bug, in progress, pkg: Panzer

#4075 fix semicoarsening overflow
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
Labels: AT: AUTOMERGE, in progress

#4061 Tpetra: Use MM_TAFC_OptimizationCoreCount from Details::Behavior
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4072 Epetra: add method to get pointer to Distributor in Import and Export classes
  packages/epetra/src/Epetra_Export.h
  packages/epetra/src/Epetra_Import.h
  packages/epetra/src/Epetra_Util.cpp
Labels: AT: AUTOMERGE, ATDM, in progress, pkg: Epetra

#4083 Tpetra: Fix #4080
  packages/tpetra/CMakeLists.txt
Labels: AT: AUTOMERGE, build, in progress, pkg: Tpetra

#4097 Update kokkos integration testing script
  sampleScripts/Sandia-SEMS/configure-testbeds-jenkins-all
Labels: AT: AUTOMERGE, in progress

#4096 Kokkos,Tpetra: Fix #4094
  packages/kokkos/core/src/impl/Kokkos_Atomic_Generic.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, build, in progress, pkg: Kokkos, pkg: Tpetra

#4089 Tpetra: Clean up CrsGraph::Swap testing
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests_Swap.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4070 Tpetra: Import/Export operations for StaticProfile CrsGraph
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_padCrsArrays.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CrsGraph_PackUnpack.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_StaticImportExport.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnpackIntoStaticGraph.cpp
Labels: TpetraRF, in progress, pkg: Tpetra

#4118 Promoting 100% clean 'cee-rhel6' builds to 'ATDM' CDash group (TRIL-212)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-clang-5.0.1-openmpi-1.10.2-serial-static-opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-gnu-4.9.3-openmpi-1.10.2-serial-static-opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-gnu-7.2.0-openmpi-1.10.2-serial-static-opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6-intel-17.0.1-intelmpi-5.1.2-serial-static-opt.sh
Labels: AT: AUTOMERGE, ATDM, ATDM DevOps, SPARC, enhancement, in progress

#4109 Panzer: improve performance of assembly evaluators on cuda
  packages/panzer/adapters-stk/example/MixedPoissonExample/Example_SineSource_impl.hpp
  packages/panzer/adapters-stk/example/MixedPoissonExample/analyze_performance.py
  packages/panzer/adapters-stk/example/MixedPoissonExample/main.cpp
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.cpp
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFDiv.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFDiv_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFGradient_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_Functors.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
Labels: AT: AUTOMERGE, in progress, pkg: Panzer

#4100 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181220_020613 branch to master
  packages/epetra/src/Epetra_Export.h
  packages/epetra/src/Epetra_Import.h
  packages/epetra/src/Epetra_Util.cpp
  packages/kokkos/core/src/impl/Kokkos_Atomic_Generic.hpp
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests_Swap.cpp
  sampleScripts/Sandia-SEMS/configure-testbeds-jenkins-all
Labels: AT: RETEST, in progress

#4120 Tpetra: Cleanup on the CrsGraph::Swap Test
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests_Swap.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4121 Remove Deprecated Doxygen Options
  packages/common/Doxyfile
Labels: AT: AUTOMERGE, PA: Framework, in progress

#4125 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20181224_020638 branch to master
  packages/common/Doxyfile
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_padCrsArrays.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CrsGraph_PackUnpack.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_StaticImportExport.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnpackIntoStaticGraph.cpp
Labels: in progress
