Repository trilinos/Trilinos, pull requests merged in 2018-06, with the labels that each got.

#2860 Some small 'serrano' updates for the ATDM Trilinos configuration
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp-panzer.sh
  cmake/std/atdm/toss3/environment.sh
Labels: ATDM

#2858 2265 projection tools
  packages/panzer/adapters-stk/test/CMakeLists.txt
  packages/panzer/adapters-stk/test/projection/CMakeLists.txt
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2.hpp
Labels: Panzer

#2856 PullRequestLinuxDriver.sh: correct cdash group
  cmake/std/PullRequestLinuxDriver.sh
Labels: Framework

#2857 Xpetra: Set striding information in triple matrix product
  packages/xpetra/sup/Utils/Xpetra_TripleMatrixMultiply.hpp
Labels: Xpetra

#2870 Xpetra: Fix triple matrix product for epetra builds
  packages/xpetra/sup/Utils/Xpetra_TripleMatrixMultiply.hpp
Labels: Xpetra

#2882 Intrepid2: remove shadow warnings #2878
  packages/intrepid2/src/Orientation/Intrepid2_OrientationDef.hpp
Labels: Intrepid2

#2885 Change all 'chama' builds to go to "Specialized" CDash Track/Group (TRIL-200)
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/chama/drivers/Trilinos-atdm-chama-intel-opt-openmp.sh
Labels: ATDM

#2868 Tpetra: OpenMP specializations of triple product kernels
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_decl.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: Tpetra

#2892 MueLu: Adding equilibration option to Driver
  packages/muelu/test/scaling/Driver.cpp
Labels: MueLu

#2741 MueLu: Build Kokkos version of factories from extended input format
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/utils/paramlist/convertToKokkos.py
Labels: MueLu

#2904 Updates to Trilinos build reference from TriBITS and for KOKKOS_ARCH
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: ATDM, enhancement

#2908 Amesos2: Remove Build Warnings
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_SolverCore_def.hpp
Labels: Amesos2, build

#2907 Xpetra: fix 2905
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
Labels: Xpetra, bug

#2903 Panzer: Remove Unused Parameter Warnings
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager_impl.hpp
Labels: Panzer, build

#2906 Phalanx: Remove Unused Parameter Warnings
  packages/phalanx/src/Phalanx_DataLayout_DynamicLayout.cpp
  packages/phalanx/src/Phalanx_DataLayout_MDALayout_Def.hpp
  packages/phalanx/src/Phalanx_DimTag.cpp
  packages/phalanx/src/Phalanx_Evaluator_UnmanagedFieldDummy.hpp
  packages/phalanx/src/Phalanx_Evaluator_Utilities.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/src/Phalanx_Print_Utilities.hpp
  packages/phalanx/test/AliasedFields/AliasedFields_TestEvaluators.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Constant_Def.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Density_Def.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_EnergyFlux_Fourier_Def.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_FEInterpolation_Def.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_NonlinearSource_Def.hpp
  packages/phalanx/test/UnmanagedFields/Field/Field_TestEvaluators_Def.hpp
  packages/phalanx/test/UnmanagedFields/KokkosView/View_TestEvaluators_Def.hpp
  packages/phalanx/test/UnmanagedFields/MDField/MDField_TestEvaluators_Def.hpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG_Def.hpp
Labels: Phalanx, build

#2900 MueLu: Workaround for #2894
  packages/muelu/test/scaling/Driver.cpp
Labels: Framework, MueLu

#2909 Anasazi: Remove Unused Parameter Warning
  packages/anasazi/epetra/util/ModeLaplace/BlockPCGSolver.h
Labels: Anasazi, build

#2902 MueLu TentativePFactory_kokkos: Add no-QR option for NSDim>1
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
Labels: MueLu

#2910 AztecOO: Remove Copy Constructor Compiler Warning
  packages/aztecoo/src/Epetra_MsrMatrix.h
Labels: AztecOO, build

#2914 Set KOKKOS_ARCH differently for chama and serrano in ATDM config
  cmake/std/atdm/chama/environment.sh
  cmake/std/atdm/serrano/environment.sh
  cmake/std/atdm/toss3/environment.sh
Labels: ATDM

#2924 Eliminate need for initializer for rotmat
  packages/seacas/libraries/ioss/src/generated/Iogn_GeneratedMesh.C
  packages/seacas/libraries/ioss/src/generated/Iogn_GeneratedMesh.h
Labels: seacas

#2927 Selective disables of a few individaul unit tests in Kokkos and KokkosKernels for cuda-debug build on 'white' and 'ride'
  cmake/std/atdm/README.md
  cmake/std/atdm/ride/tweaks/CUDA-DEBUG-CUDA.cmake
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
Labels: ATDM, Kokkos, KokkosKernels

#2928 Some selective disables and promotion of some ATDM T
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-opt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-opt-openmp.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-debug.sh
  cmake/ctest/drivers/atdm/shiller/drivers/Trilinos-atdm-hansen-shiller-cuda-9.0-opt.sh
  cmake/std/atdm/ride/tweaks/CUDA-DEBUG-CUDA.cmake
  cmake/std/atdm/shiller/tweaks/CUDA_COMMON_TWEAKS.cmake
  cmake/std/atdm/shiller/tweaks/GNU-DEBUG-SERIAL.cmake
  cmake/std/atdm/shiller/tweaks/GNU-RELEASE-SERIAL.cmake
Labels: ATDM, Belos, Stratimikos

#2932 MueLu: fix RefMaxwell compilation on CUDA
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: MueLu

#2934 Teuchos: add max levels to StackedTimer output options
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
Labels: Teuchos

#2936 PullRequestLinuxGCCTestingSettings.cmake: add scotch to all PR builds
  cmake/std/PullRequestLinuxGCCTestingSettings.cmake
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
Labels: Framework

#2940 Teuchos: improve stacked timer output
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: Teuchos

#2941 Use 'srun' and not 'salloc' on hansen/shiller
  cmake/ctest/drivers/atdm/shiller/local-driver.sh
  cmake/std/atdm/README.md
Labels: ATDM

#2945 ShyLU/HTS: Partially fix #2942.
  packages/shylu/shylu_node/hts/src/shylu_hts_impl_def.hpp
Labels: ShyLU

#2951 Teuchos: fix remainder fraction calculation in StackedTiimer
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/test/StackedTimer/stacked_timer.cpp
Labels: Teuchos, bug

#2961 Xpetra: Fix wrong instantiation enum
  packages/xpetra/src/Utils/Xpetra_Parameters.hpp
Labels: Xpetra

#2962 panzer cleanup
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: Panzer

#2943 Add OpenMP to the 4.8.4 build
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxGCC4.8.4TestingSettings.cmake
  cmake/std/PullRequestLinuxGCC4.9.3TestingSettings.cmake
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
Labels: Framework

#2897 Pull request linked to issue #2834
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits.hpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoMPVectorUnitTest_MaskTraits.cpp
Labels: Stokhos

#2972 Panzer: remove restrictions on projection utility
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: Panzer

#2969 Panzer: Fixing integration values side qp construction
  packages/panzer/adapters-stk/test/panzer_workset_builder/CMakeLists.txt
  packages/panzer/adapters-stk/test/panzer_workset_builder/check_sorted_face_quads.cpp
  packages/panzer/core/src/CMakeLists.txt
  packages/panzer/core/src/Panzer_UtilityAlgs.cpp
  packages/panzer/core/src/Panzer_UtilityAlgs.hpp
  packages/panzer/core/test/CMakeLists.txt
  packages/panzer/core/test/utility_algs.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/test/core_tests/integration_values2.cpp
Labels: Panzer

#2979 Belos: Fix DII for Tpetra off (#2483)
  packages/belos/xpetra/src/Belos_Details_Xpetra_registerSolverFactory.cpp
Labels: Belos, build

#2966 Intrepid2: Dummy view for getValue needs to be DynRankView.
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEMDef.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_HEX_Cn_FEM/test_02.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_QUAD_Cn_FEM/test_02.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TET_Cn_FEM/Cuda/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TET_Cn_FEM/OpenMP/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TET_Cn_FEM/Serial/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TET_Cn_FEM/test_02.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TRI_Cn_FEM/Cuda/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TRI_Cn_FEM/OpenMP/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TRI_Cn_FEM/Serial/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TRI_Cn_FEM/test_02.hpp
Labels: Intrepid2

#2980 Tpetra: Fix #2968
  packages/tpetra/core/src/Tpetra_Details_EquilibrationInfo.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
  packages/tpetra/core/test/CrsMatrix/Equilibration.cpp
Labels: Ifpack2, Tpetra

#2954 Muelu: use 4 map constructor for Kokkos-based TentativePFactory
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrixFactory.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap.hpp
  packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.hpp
Labels: MueLu, Xpetra

#2987 Reduce ctest from 16 to 8 for serial GCC builds and fix path to cmake and ninja on hansen/shiller (#2976)
  cmake/std/atdm/README.md
  cmake/std/atdm/shiller/environment.sh
Labels: ATDM, bug

#3000 Tpetra multivector sync cleanup
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_MicroBenchmark.cpp
Labels: Tpetra, TpetraRF

#2985 Tpetra: multithread local matrix transpose
  packages/tpetra/core/src/Tpetra_RowMatrixTransposer_def.hpp
Labels: Tpetra, results impacting

#3005 Mark minitensor storage functions as KOKKOS_INLINE_FUNCTIONS [had callers that were KOKKOS_INLINE_FUNCTIONS]
  packages/minitensor/src/MiniTensor_Storage.h
Labels: minitensor

#3009 MueLu: fix incorrect "unused parameter" warning
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: MueLu

#3011 Disable several failing tests on different ATDM platforms and promote full builds on 'serrano' and 'mutrino' to "ATDM" CDash Track/Group
  cmake/ctest/drivers/atdm/mutrino/drivers/Trilinos-atdm-mutrino-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/mutrino/drivers/Trilinos-atdm-mutrino-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp.sh
  cmake/std/atdm/chama/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/chama/tweaks/INTEL-RELEASE-OPENMP.cmake
  cmake/std/atdm/checkin-test-atdm.sh
  cmake/std/atdm/mutrino/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/mutrino/tweaks/INTEL-RELEASE-OPENMP.cmake
  cmake/std/atdm/ride/tweaks/ALL_COMMON_TWEAKS.cmake
  cmake/std/atdm/ride/tweaks/CUDA-DEBUG-CUDA.cmake
  cmake/std/atdm/ride/tweaks/CUDA-RELEASE-CUDA.cmake
  cmake/std/atdm/ride/tweaks/CUDA_COMMON_TWEAKS.cmake
  cmake/std/atdm/ride/tweaks/GNU-DEBUG-OPENMP.cmake
  cmake/std/atdm/ride/tweaks/GNU-RELEASE-OPENMP.cmake
  cmake/std/atdm/serrano/tweaks/INTEL-DEBUG-OPENMP.cmake
  cmake/std/atdm/serrano/tweaks/INTEL-RELEASE-OPENMP.cmake
  cmake/std/sems/atdm/SEMSATDMSettings.cmake
Labels: ATDM

#3012 reimplemented ifpack hypre using ifpack design concepts, fixed some i…
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/ifpack/src/Ifpack_Hypre.h
  packages/ifpack/test/Hypre/hypre_UnitTest.cpp
Labels: Ifpack

#3021 rename dim* to MDAdim* to avoid name conflict with the CUDA compiler
  packages/domi/test/MDArray/MDArray_Performance_UnitTests.cpp
Labels: Domi

#3026 Belos: Fix MueLu Xpetra DII for Tpetra_INST_INT_INT off
  packages/belos/xpetra/src/Belos_Details_Xpetra_registerSolverFactory.cpp
Labels: Belos

#3028 Fix YAML flow maps
  packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp
  packages/teuchos/parameterlist/test/yaml/YamlParameterList.cpp
Labels: Teuchos, bug

#3031 Tpetra: Fix #3030 (build error in test with Tpetra_INST_INT_INT:BOOL=OFF)
  packages/tpetra/core/test/ImportExport/Issue_2198.cpp
Labels: Tpetra

#3039 Tpetra: fix shadow warning (#3038)
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: Tpetra
