Repository trilinos/Trilinos, pull requests merged in 2019-02, with the labels that each got.

#4308 Disable Fortran for 4.9.3 SERIAL build Fix Issue #4238
  cmake/std/PullRequestLinuxGCC4.9.3TestingSettingsSERIAL.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework, in progress

#4315 MueLu: reduce unit test runtimes
  packages/muelu/test/unit_tests/CMakeLists.txt
Labels: in progress, pkg: MueLu

#4316 Muelu fixes
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
Labels: AT: AUTOMERGE, in progress, pkg: MueLu

#4312 Tpetra: Fix compiling Tpetra::Multivector::dot() with nvcc-8 for non-complex Scalar
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, build, pkg: Tpetra, system: gpu

#4310 MueLu: HHG Structured Region Driver
  packages/galeri/src-xpetra/Galeri_XpetraCartesian.hpp
  packages/muelu/research/luc/region_algorithms/CMakeLists.txt
  packages/muelu/research/luc/region_algorithms/Driver_Structured_Regions.cpp
  packages/muelu/research/luc/region_algorithms/structured_1dof.xml
Labels: AT: AUTOMERGE, in progress, pkg: MueLu

#4307 Tpetra: Fix BlockCrs unit test on CUDA.
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
Labels: ATDM, ATDM Sev: Nonblocker, PA: Data Services, bug, in progress

#4259 Issue4258 remove teuchos sdmatrix inheritance
  packages/anasazi/epetra/test/OrthoManager/cxx_gentest.cpp
  packages/anasazi/epetra/test/OrthoManager/cxx_mattest.cpp
  packages/anasazi/src/AnasaziBlockDavidsonSolMgr.hpp
  packages/anasazi/src/AnasaziIRTR.hpp
  packages/anasazi/src/AnasaziSIRTR.hpp
  packages/belos/src/BelosLSQRIter.hpp
  packages/rol/adapters/teuchos/test/function/test_01.cpp
  packages/rol/example/dense-hessian/example_01.cpp
  packages/rythmos/src/Rythmos_ExplicitRKStepper_def.hpp
  packages/rythmos/src/Rythmos_RKButcherTableau.hpp
  packages/stokhos/src/Stokhos_GSReducedPCEBasisBaseImp.hpp
  packages/stokhos/src/Stokhos_GramSchmidtBasisImp.hpp
  packages/stokhos/src/Stokhos_MonomialProjGramSchmidtPCEBasis2Imp.hpp
  packages/stokhos/src/Stokhos_ProductLanczosGramSchmidtPCEBasisImp.hpp
  packages/stokhos/test/UnitTest/Stokhos_GramSchmidtUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_HermiteBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_LanczosUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_LegendreBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_NormalizedHermiteBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_NormalizedLegendreBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_StieltjesUnitTest.cpp
  packages/tempus/src/Tempus_RKButcherTableau.hpp
  packages/teuchos/numerics/example/DenseMatrix/cxx_main.cpp
  packages/teuchos/numerics/example/DenseMatrix/cxx_main_sym.cpp
  packages/teuchos/numerics/example/LAPACK/cxx_main.cpp
  packages/teuchos/numerics/src/Teuchos_SerialBandDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
  packages/teuchos/numerics/test/DenseMatrix/cxx_main.cpp
Labels: pkg: Teuchos

#4318 MueLu: switching smoother in structured driver for 3D elasticity
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/mmayr/hhg/hhg_driver.cpp
  packages/muelu/src/Utils/MueLu_PerfUtils_def.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/structured/structured_3dof.xml
Labels: AT: AUTOMERGE, pkg: MueLu

#4321 Sacado: Fix loop for hierarchical.
  packages/sacado/src/Sacado_Fad_GeneralFad.hpp
Labels: ATDM Sev: Nonblocker, pkg: Sacado

#4326 Revert "Disable Tpetra test for CUDA PR build"
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
Labels: AT: AUTOMERGE, ATDM, Framework, PA: Data Services, bug, pkg: Tpetra

#4184 Issue #4183 : shallow swap method for Teuchos serial dense vector
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
  packages/teuchos/numerics/test/DenseMatrix/cxx_main.cpp
  packages/teuchos/numerics/test/DenseMatrix/cxx_main_sym.cpp
Labels: pkg: Teuchos

#4266 Zoltan2: Restore Zoltan2 test and Kokkos unordered map
  packages/zoltan2/src/directory/Zoltan2_Directory.hpp
  packages/zoltan2/src/directory/Zoltan2_Directory_Impl.hpp
  packages/zoltan2/test/directory/CMakeLists.txt
  packages/zoltan2/test/directory/directoryTest_Impl.hpp
  packages/zoltan2/test/directory/directoryTest_KokkosSimple.cpp
Labels: in progress, pkg: Zoltan2

#4337 Panzer: remove use of kokkos deprecated features
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFDiv_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFGradient_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_Functors.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Panzer

#4302 Belos CGSingleReduce: merge allreduces
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosCGSingleRedIter.hpp
  packages/belos/src/BelosStatusTestGenResNorm.hpp
  packages/belos/src/BelosTypes.cpp
  packages/belos/src/BelosTypes.hpp
  packages/belos/test/BlockCG/A.hb
  packages/belos/test/BlockCG/CMakeLists.txt
  packages/belos/test/BlockCG/test_bl_cg_real_hb.cpp
Labels: in progress, pkg: Belos

#4352 Add strong warning options as suggested by Gemma (#3178)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, Gemma, enhancement

#4359 MueLu: modifying test/scaling/Driver.cpp to use Belo::SolverFactory and to accept multivector as RHS.
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: AT: AUTOMERGE, enhancement, in progress, pkg: MueLu

#4338 Issue 2426 Enable Complex Doubles
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: Framework, PA: Framework

#4328 Tpetra::DistObject::doTransferNew: Don't recreate DualViews for LID arrays each call
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/inout/Tpetra_Details_CooMatrix.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Export_decl.hpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_ImportExportData_decl.hpp
  packages/tpetra/core/src/Tpetra_ImportExportData_def.hpp
  packages/tpetra/core/src/Tpetra_Import_decl.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/BugTests/BugTests.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_ImportConstructExpert.cpp
  packages/tpetra/core/test/ImportExport/Issue_2198.cpp
  packages/tpetra/core/test/ImportExport/MakeOptColMap.cpp
Labels: pkg: Tpetra, system: gpu

#4332 Teuchos::{Array,ArrayView} Fix #2749
  packages/teuchos/core/src/Teuchos_Array.hpp
  packages/teuchos/core/src/Teuchos_ArrayView.hpp
  packages/teuchos/core/src/Teuchos_ArrayViewDecl.hpp
  packages/teuchos/core/test/MemoryManagement/ArrayView_UnitTests.cpp
  packages/teuchos/core/test/MemoryManagement/ArrayView_test.cpp
  packages/teuchos/core/test/MemoryManagement/Array_UnitTests.cpp
  packages/teuchos/core/test/MemoryManagement/Array_test.cpp
  packages/teuchos/core/test/MemoryManagement/Ptr_test.cpp
Labels: pkg: Teuchos

#4351 Issue 4283: update anasazi unit tests involving Tpetra to use StaticProfile
  packages/anasazi/tpetra/test/BlockDavidson/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/BlockKrylovSchur/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/IRTR/cxx_main_lap.cpp
  packages/anasazi/tpetra/test/MVOPTester/cxx_main.cpp
Labels: TpetraRF, pkg: Anasazi, pkg: Tpetra

#4350 Issue 4283: Amesos2 staticprofile
  packages/amesos2/test/adapters/Tpetra_CrsMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/solvers/SolverFactory.cpp
Labels: pkg: Amesos2, pkg: Tpetra

#4362 MueLu: fix matvec kernel driver
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
Labels: AT: AUTOMERGE, bug, in progress, pkg: MueLu

#4354 MueLu: fix for issue #4334
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_kokkos_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/Smoothers/BlockedDirectSolver.cpp
  packages/muelu/test/unit_tests/Smoothers/BlockedSmoother.cpp
  packages/muelu/test/unit_tests/Utilities.cpp
  packages/muelu/test/unit_tests_kokkos/IndexManager_kokkos.cpp
Labels: AT: AUTOMERGE, in progress, pkg: MueLu

#4336 Revert "Issue4258 remove teuchos sdmatrix inheritance"
  packages/anasazi/epetra/test/OrthoManager/cxx_gentest.cpp
  packages/anasazi/epetra/test/OrthoManager/cxx_mattest.cpp
  packages/anasazi/src/AnasaziBlockDavidsonSolMgr.hpp
  packages/anasazi/src/AnasaziIRTR.hpp
  packages/anasazi/src/AnasaziSIRTR.hpp
  packages/belos/src/BelosLSQRIter.hpp
  packages/rol/adapters/teuchos/test/function/test_01.cpp
  packages/rol/example/dense-hessian/example_01.cpp
  packages/rythmos/src/Rythmos_ExplicitRKStepper_def.hpp
  packages/rythmos/src/Rythmos_RKButcherTableau.hpp
  packages/stokhos/src/Stokhos_GSReducedPCEBasisBaseImp.hpp
  packages/stokhos/src/Stokhos_GramSchmidtBasisImp.hpp
  packages/stokhos/src/Stokhos_MonomialProjGramSchmidtPCEBasis2Imp.hpp
  packages/stokhos/src/Stokhos_ProductLanczosGramSchmidtPCEBasisImp.hpp
  packages/stokhos/test/UnitTest/Stokhos_GramSchmidtUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_HermiteBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_LanczosUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_LegendreBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_NormalizedHermiteBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_NormalizedLegendreBasisUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_StieltjesUnitTest.cpp
  packages/tempus/src/Tempus_RKButcherTableau.hpp
  packages/teuchos/numerics/example/DenseMatrix/cxx_main.cpp
  packages/teuchos/numerics/example/DenseMatrix/cxx_main_sym.cpp
  packages/teuchos/numerics/example/LAPACK/cxx_main.cpp
  packages/teuchos/numerics/src/Teuchos_SerialBandDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
  packages/teuchos/numerics/test/DenseMatrix/cxx_main.cpp
Labels: AT: AUTOMERGE, ATDM, ATDM Sev: Critical, PA: Framework, SPARC, bug, pkg: Teuchos

#4339 MueLu: Fix 2D case and implement 3D case in structured region driver
  packages/muelu/research/luc/region_algorithms/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, enhancement

#4361 Change from 'develop' to 'atdm-develop-nightly' branch (TRIL-260)
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
Labels: ATDM, ATDM Config, ATDM DevOps, SPARC, enhancement

#4369 MueLu: clean-up MueLu_AlgebraicPermutationStrategy_def.hpp for #3492
  packages/muelu/src/Utils/MueLu_AlgebraicPermutationStrategy_def.hpp
Labels: AT: AUTOMERGE, bug, enhancement, in progress, pkg: MueLu

#4367 Sacado: Fix relocatable device code ifdefs.
  packages/sacado/src/Sacado_DynamicArrayTraits.cpp
  packages/sacado/src/Sacado_DynamicArrayTraits.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#4355 Issue 4283: transition Belos to using Tpetra::StaticProfile
  packages/belos/tpetra/test/MVOPTester/cxx_main_complex.cpp
Labels: TpetraRF, pkg: Belos

#4374 Teuchos errors in Werror build
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework

#4320 Zoltan2: fix divide by zero error
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/test/driver/driverinputs/CMakeLists.txt
  packages/zoltan2/test/driver/driverinputs/sacer4320/CMakeLists.txt
  packages/zoltan2/test/driver/driverinputs/sacer4320/README.txt
  packages/zoltan2/test/driver/driverinputs/sacer4320/sacer.assign
  packages/zoltan2/test/driver/driverinputs/sacer4320/sacer.coords
  packages/zoltan2/test/driver/driverinputs/sacer4320/sacer.graph
  packages/zoltan2/test/driver/driverinputs/sacer4320/sacer.xml
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4372 Change name of branches from 'atdm-develop-nightly' to 'atdm-nightly' (TRIL-260)
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
Labels: ATDM, ATDM Config, ATDM DevOps, enhancement

#4378 MueLu: AlgebraicPermutationStrategy clean-up for issue #3492
  packages/muelu/src/Utils/MueLu_AlgebraicPermutationStrategy_decl.hpp
  packages/muelu/src/Utils/MueLu_AlgebraicPermutationStrategy_def.hpp
Labels: AT: AUTOMERGE, enhancement, in progress, pkg: MueLu

#4383 Muelu: Fix to DeterminePartitionPlacement in RepartitionFactory
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_def.hpp
  packages/muelu/test/unit_tests/Repartition.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4376 Tpetra: Fix #4344 & ETI-OFF build errors
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/tpetra/core/inout/Tpetra_Details_CooMatrix.hpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DualViewUtil.cpp
  packages/tpetra/core/src/Tpetra_Details_DualViewUtil.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: build, pkg: Tpetra, system: gpu

#4382 Tpetra: Fix issue #4381
  packages/tpetra/core/src/Tpetra_Import_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4384 Add WError for kokkos
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework

#4371 Add fileIO and scanf to Pamgen/RTC
  packages/pamgen/rtcompiler/RTC_RegistrarRTC.hh
  packages/pamgen/rtcompiler/Registrar.C
  packages/pamgen/test/rtc_test/CMakeLists.txt
  packages/pamgen/test/rtc_test/rtcompiler-test.cc
  packages/pamgen/test/rtc_test/table.dat
Labels: enhancement, pkg: Pamgen

#4357 Zoltan2: generateFiles capability in VectorAdapter to debug MJ for MueLu performance testing
  packages/zoltan2/src/input/Zoltan2_Adapter.hpp
  packages/zoltan2/src/input/Zoltan2_VectorAdapter.hpp
  packages/zoltan2/test/data/simple.coords
  packages/zoltan2/test/data/simple.graph
  packages/zoltan2/test/data/vwgt.coords
  packages/zoltan2/test/data/vwgt.graph
  packages/zoltan2/test/data/vwgt2.coords
  packages/zoltan2/test/data/vwgt2.graph
  packages/zoltan2/test/helpers/ErrorHandlingForTests.hpp
  packages/zoltan2/test/partition/blockTest.cpp
  packages/zoltan2/test/partition/fix2010.cpp
  packages/zoltan2/test/unit/CMakeLists.txt
  packages/zoltan2/test/unit/input/BasicCoordinateInput.cpp
  packages/zoltan2/test/unit/input/BasicIdentifierInput.cpp
  packages/zoltan2/test/unit/input/BasicKokkosIdentifierInput.cpp
  packages/zoltan2/test/unit/input/TpetraRowGraphInput.cpp
  packages/zoltan2/test/unit/input/TpetraRowMatrixInput.cpp
  packages/zoltan2/test/unit/input/XpetraCrsGraphInput.cpp
  packages/zoltan2/test/unit/input/XpetraCrsMatrixInput.cpp
  packages/zoltan2/test/unit/input/XpetraMultiVectorInput.cpp
  packages/zoltan2/test/unit/input/XpetraTraits.cpp
  packages/zoltan2/test/unit/input/XpetraVectorInput.cpp
  packages/zoltan2/test/unit/models/CoordinateModel.cpp
  packages/zoltan2/test/unit/models/IdentifierModel.cpp
  packages/zoltan2/test/unit/problems/PartitioningSolution.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4395 Zoltan2: fix directory builds with Tpetra_INST_INT_LONG
  packages/zoltan2/src/algorithms/partition/Zoltan2_TaskMapping.hpp
  packages/zoltan2/src/util/Zoltan2_GraphMetricsUtility.hpp
  packages/zoltan2/test/unit/util/findUniqueGids.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4386 Address duplicate Harwell-Boeing symbols to address issue #4375
  packages/aztecoo/cmake/Dependencies.cmake
  packages/belos/tpetra/src/BelosTpetraTestFramework.hpp
  packages/galeri/cmake/Dependencies.cmake
  packages/galeri/cmake/Galeri_config.h.in
  packages/galeri/src-epetra/CMakeLists.txt
  packages/galeri/src-epetra/Galeri_ReadHB.cpp
  packages/galeri/src-epetra/Galeri_iohb.cpp
  packages/galeri/src-epetra/Galeri_iohb.h
  packages/triutils/cmake/Dependencies.cmake
  packages/triutils/cmake/Triutils_config.h.in
  packages/triutils/src/CMakeLists.txt
  packages/triutils/src/Trilinos_Util.h
  packages/triutils/src/Triutils_config.h.in
Labels: AT: AUTOMERGE, pkg: AztecOO, pkg: Belos, pkg: Galeri, pkg: TriUtils

#4393 Ifpack2::OverlappingRowMatrix::apply: Fix #4392
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_decl.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: Tpetra, system: gpu

#4396 zoltan2: fixed output error in #4395
  packages/zoltan2/test/unit/util/findUniqueGids.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4380 Sacado: Add specializations so pow() only uses if_then_else for simd types
  packages/sacado/src/Sacado_CacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRCacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRFad_Ops.hpp
  packages/sacado/src/Sacado_Fad_DFadTraits.hpp
  packages/sacado/src/Sacado_Fad_DMFadTraits.hpp
  packages/sacado/src/Sacado_Fad_DVFadTraits.hpp
  packages/sacado/src/Sacado_Fad_ExpressionTraits.hpp
  packages/sacado/src/Sacado_Fad_Ops.hpp
  packages/sacado/src/Sacado_Fad_Ops_Fwd.hpp
  packages/sacado/src/Sacado_Fad_SFadTraits.hpp
  packages/sacado/src/Sacado_Fad_SLFadTraits.hpp
  packages/sacado/src/Sacado_Fad_SimpleFadTraits.hpp
  packages/sacado/src/Sacado_Fad_ViewFadTraits.hpp
  packages/sacado/src/Sacado_MathFunctions.hpp
  packages/sacado/src/Sacado_Traits.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_ExpressionTraits.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_GeneralFadTraits.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_MathFunctions.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops_Fwd.hpp
  packages/sacado/test/TestSuite/FadUnitTests.hpp
  packages/sacado/test/TestSuite/NestedFadUnitTests.hpp
  packages/stokhos/src/sacado/kokkos/vector/Fad/Sacado_Fad_Exp_MP_Vector.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#4388 Ifpack2 - BlockTriDiags team policy only.
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Gemm_Decl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Gemv_Decl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_LU_Decl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Trsm_Decl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Trsv_Decl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Util.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_Arith.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_Logical.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_Math.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_Misc.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_Relation.hpp
Labels: AT: AUTOMERGE

#4406 Tpetra: Fix #4298 & other build warnings
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_get2dView.cpp
Labels: AT: AUTOMERGE, build, pkg: Tpetra

#4405 Enable Werror on 5 packages
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: Framework, PA: Framework

#4368 ShyLU/FROSch: Adding a check for the block coarse map.
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_def.hpp
  packages/shylu/shylu_dd/frosch/test/LocalPartitionOfUnityBasis/main.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#4297 Tpetra: replace diagonal values in CrsMatrix
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ReplaceDiagonal.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4410 Sacado: install Fwd files
  packages/sacado/src/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM, EMPIRE, PA: Nonlinear Solvers, bug, pkg: Sacado

#4365 ShyLU/FROSch: use Muelu in Laplace problem
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/ParameterLists/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/ParameterLists/ParameterList_TwoLevelPreconditioner_GDSW_muelu.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Stokes_HDF5/main.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#4413 Tpetra::Distributor: Fix #4412 (don't fill indicesFrom_)
  packages/teuchos/core/src/Teuchos_RCPNode.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra, system: gpu

#4292 Tpetra crs matrix swap
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests_Swap.cpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests_Swap.cpp
Labels: AT: AUTOMERGE, in progress, pkg: Tpetra

#4415 Exclude from running on 'white27' (TRIL-253)
  cmake/ctest/drivers/atdm/ride/local-driver.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, enhancement

#4387 Ifpack2: Fix #4343.
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainerUtil.hpp
Labels: AT: AUTOMERGE

#4397 Reenable CUDA options
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework

#4423 Tpetra: TAFC
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
Labels: pkg: MueLu, pkg: Tpetra

#4419 Xpetra: replace matrix diagonal
  packages/stokhos/src/CMakeLists.txt
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, enhancement, in progress, pkg: Xpetra

#4425 Parameterized pr cdash track
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: Framework

#4427 Exclude using the node 'white26' (TRIL-253)
  cmake/ctest/drivers/atdm/ride/local-driver.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, ATDM Env Issue, enhancement

#4429 MueLu: modifying type in LocallexicographicIndexManager fix issue #4334
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_LocalLexicographicIndexManager_def.hpp
Labels: AT: AUTOMERGE, build, in progress, pkg: MueLu

#4431 Tpetra: Don't initialize scratch views in UnpackCrsMatrixAndCombineFunctor
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
Labels: pkg: Tpetra

#4434 Parameterized pr cdash track
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: AT: AUTOMERGE, Framework

#4403 MueLu/Xpetra: Add Matrix Labels / Make Visible in Tpetra
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceAcFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_def.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4436 zoltan2: removing warnings for #3178
  packages/zoltan2/src/algorithms/color/Zoltan2_AlgSerialGreedy.hpp
  packages/zoltan2/src/directory/Zoltan2_Directory.hpp
  packages/zoltan2/src/problems/Zoltan2_OrderingSolution.hpp
  packages/zoltan2/test/order/orderingScotch.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4442 MueLu: Fix Issue #4439
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
  packages/muelu/test/longlong/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#4444 Reduce test problem sizes
  packages/kokkos-kernels/unit_test/CMakeLists.txt
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_abs.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_asum.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_axpy.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_dot.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_mult.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_nrm2.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_nrm2_squared.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_nrminf.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_reciprocal.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_scal.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_sum.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_abs.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_axpby.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_axpy.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_dot.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_mult.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_nrm2.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_scal.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_team_update.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas1_update.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas2_gemv.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas2_team_gemv.hpp
  packages/kokkos-kernels/unit_test/blas/Test_Blas3_gemm.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#4445 Framework: Adding OMP_NUM_THREADS to PR Testing
  cmake/std/sems/PullRequestCuda9.2TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnvSERIAL.sh
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
  cmake/std/sems/PullRequestGCC7.3.0TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
Labels: Framework

#4443 Sacado: Check for zero base in pow(Fad,Const)
  packages/sacado/src/Sacado_CacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRCacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRFad_Ops.hpp
  packages/sacado/src/Sacado_Fad_Ops.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops.hpp
  packages/sacado/test/TestSuite/NestedFadUnitTests.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#4453 Panzer: Fixing misspelled "Curl"
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFCurl_impl.hpp
Labels: AT: AUTOMERGE, pkg: Panzer

#4452 MueLu: fixing CoordinateTransferFactory_kokkos for structured aggregation
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_def.hpp
  packages/muelu/test/structured/CMakeLists.txt
  packages/muelu/test/structured/structured_interp_kokkos.xml
  packages/muelu/test/structured/structured_interp_sa_kokkos.xml
  packages/muelu/test/structured/structured_tentative_kokkos.xml
Labels: AT: AUTOMERGE, enhancement, pkg: MueLu

#4356 cmake/std/PullRequestLinuxDriver-Test.sh: use environment to get job …
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: Framework

#4438 tribits_ctest_driver(): Use more robust and better git commands and stronger testing (TRIL-260)
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/ctest_driver/TribitsGetCTestTestXmlDir.cmake
  cmake/tribits/ctest_driver/TribitsReadTagFile.cmake
  cmake/tribits/ctest_driver/tribits_ctest_update_commands.cmake
  cmake/tribits/ctest_driver/tribits_ctest_update_commands_wrapper.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/examples/RawAndTribitsHelloWorld/CMakeLists.txt
  cmake/tribits/examples/RawAndTribitsHelloWorld/PackagesList.cmake
  cmake/tribits/examples/RawAndTribitsHelloWorld/ProjectName.cmake
  cmake/tribits/examples/RawAndTribitsHelloWorld/README
  cmake/tribits/examples/RawAndTribitsHelloWorld/TPLsList.cmake
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/CMakeLists.tribits.cmake
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/CMakeLists.txt
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/cmake/Dependencies.cmake
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/hello_world_lib.cpp
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/hello_world_lib.hpp
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/hello_world_main.cpp
  cmake/tribits/examples/RawAndTribitsHelloWorld/hello_world/hello_world_unit_tests.cpp
  cmake/tribits/examples/TribitsExampleMetaProject/CTestConfig.cmake
  cmake/tribits/examples/TribitsExampleMetaProject/ProjectName.cmake
  cmake/tribits/examples/TribitsExampleMetaProject/README
  cmake/tribits/examples/TribitsExampleMetaProject/cmake/ExtraRepositoriesList.cmake
  cmake/tribits/examples/TribitsExampleMetaProject/cmake/ctest/CTestCustom.cmake.in
  cmake/tribits/examples/TribitsExampleMetaProject/cmake/ctest/TribitsExMetaProjCTestDriver.cmake
  cmake/tribits/examples/TribitsExampleMetaProject/cmake/ctest/general_gcc/ctest_serial_debug.cmake
  cmake/tribits/examples/TribitsExampleProject/README
  cmake/tribits/examples/TribitsExampleProjectAddons/README
Labels: ATDM, ATDM DevOps, enhancement

#4450 Turn on Werror for EpetraExt, Pike, & Zoltan2
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework

#4449 Teko: Fixing explicit add to reuse memory if requested by user
  packages/teko/src/Teko_Utilities.cpp
Labels: AT: AUTOMERGE, pkg: Teko

#4451 Pamgen: Adding parse error (rather than segfault) if you put two geometries in one mesh
  packages/pamgen/example/pamgen_test_driver.c
  packages/pamgen/parser/parser.C
  packages/pamgen/src/parse_routines.C
  packages/pamgen/src/parse_routines.h
Labels: AT: AUTOMERGE, pkg: Pamgen

#4446 MueLu: Refactor of Driver to allow for code reuse
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/scaling/scaling-with-rerun.xml
Labels: AT: AUTOMERGE, pkg: MueLu

#4455 Amesos2: Missing explicit instantiations for MUMPS
  packages/amesos2/src/Amesos2_MUMPS.cpp
Labels: AT: AUTOMERGE, build, pkg: Amesos2

#4460 Xpetra: Fixing Albany build fail
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#4462 Fix waterman/all_supported_builds.sh list
  cmake/std/atdm/waterman/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, bug

#4465 MueLu/Ifpack2: Improving interface to BlockRelaxation
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/unit_tests/Smoothers/Ifpack2Smoother.cpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: MueLu

#4481 Add support for CUDA RDC builds and drivers on 'ride' and 'waterman' (TRIL-262, #2598)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt-pbp.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-cuda-9.2-rdc-release-debug.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/ride/all_supported_builds.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_build_options.sh
  cmake/std/atdm/waterman/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, enhancement

#4478 MueLu: Cleanups to driver error handling
  packages/muelu/test/scaling/Driver.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4480 MueLu: adding options for rerun and operation: (matvec | setup | solve) in Structured driver
  packages/muelu/test/structured/Driver_Structured.cpp
Labels: AT: AUTOMERGE, enhancement, pkg: MueLu

#4482 Remove Intrepid2 and Piro warnings
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHCURL.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_TRI.hpp
  packages/piro/test/MockModelEval_A_Tpetra.cpp
Labels: AT: AUTOMERGE

#4483 Fix compiler warnings
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2

#4484 MueLu: adding submonitor in GeometricInterpolationPFactory
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
Labels: AT: AUTOMERGE, enhancement, pkg: MueLu

#4466 Stratimikos Xpetra adapter: Remove superfluous copy in apply
  packages/muelu/adapters/stratimikos/Thyra_XpetraLinearOp_def.hpp
Labels: pkg: MueLu

#4487 Disable Panzer in clang-5.0.1 build for now (#4486)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Sev: Critical, SPARC, bug

#4488 Fix cmake file for stk-topology.
  packages/stk/stk_topology/stk_topology/CMakeLists.txt
Labels: AT: AUTOMERGE

#4432 Issue #4430 : Try 2 to Remove deprecated inheritance of SerialDense m…
  packages/teuchos/numerics/src/Teuchos_SerialBandDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
Labels: pkg: Teuchos

#4489 Tpetra::MultiVector: Fix #4417 and #4418
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRefactor_Details_MultiVectorDistObjectKernels.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4472 Kokkos: Allow for types with non-trivial constructors in Kokkos_Atomic*
  packages/kokkos/core/src/impl/Kokkos_Atomic_Fetch_Sub.hpp
  packages/kokkos/core/src/impl/Kokkos_Atomic_Generic.hpp
Labels: AT: AUTOMERGE, pkg: Kokkos

#4494 Turn on Werror for Ifpack2, Intrepid2, & Piro
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework

#4500 Change memory request from 1.7G per cpu to 1.8G
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: AT: AUTOMERGE

#4503 Allow Panzer testing in cee-rhel6 clang-5.0.1 build
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt.sh
Labels: AT: AUTOMERGE, ATDM, SPARC, bug

#4499 Update Version.cmake
  Version.cmake
Labels: Release 12.14

#4349 New scripts for getting jenkins to clean up (somewhat)
  commonTools/framework/clean_workspace/Modules.py
  commonTools/framework/clean_workspace/__init__.py
  commonTools/framework/clean_workspace/clean_all_jobs
  commonTools/framework/clean_workspace/clean_all_jobs.py
  commonTools/framework/clean_workspace/clean_sentinel.py
  commonTools/framework/clean_workspace/clean_workspace
  commonTools/framework/clean_workspace/clean_workspace.py
  commonTools/framework/clean_workspace/unittests/test_Modules.py
  commonTools/framework/clean_workspace/unittests/test_clean_all_jobs.py
  commonTools/framework/clean_workspace/unittests/test_clean_sentinel.py
  commonTools/framework/clean_workspace/unittests/test_clean_workspace.py
  commonTools/framework/clean_workspace/util.py
Labels: AT: AUTOMERGE, Framework

#4518 SEACAS: Fix compiler warnings
  packages/seacas/applications/epu/EP_Internals.C
  packages/seacas/applications/exodiff/map.C
  packages/seacas/libraries/exodus/src/ex_put_sets.c
  packages/seacas/libraries/ioss/src/Ioss_NullEntity.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/utest/Utst_ioel.C
  packages/seacas/libraries/suplib_cpp/scopeguard.h
Labels: AT: AUTOMERGE, pkg: seacas

#4454 Amesos2: Fix single-proc case for non-contiguous GIDs
  packages/amesos2/example/CMakeLists.txt
  packages/amesos2/example/GappedMtxGIDs-1proc.cpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/test/matrices/gap-ids-1proc-rowmap.mm
  packages/amesos2/test/matrices/gap-ids-1procA.mm
  packages/amesos2/test/matrices/gap-ids-1procRhs.mm
Labels: AT: AUTOMERGE

#4517 Ifpack: Fix #4508
  packages/ifpack/test/OverlappingRowMatrix/cxx_main.cpp
Labels: build, pkg: Ifpack

#4523 Add some CUDA RDC shared builds (#2598, TRIL-262)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-shared-release-debug-pt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-shared-release-debug.sh
  cmake/ctest/drivers/atdm/waterman/drivers/Trilinos-atdm-waterman-cuda-9.2-rdc-shared-release-debug.sh
Labels: AT: AUTOMERGE, ATDM, ATDM DevOps, enhancement

#4524 Update sems-rhel6 builds for gnu-7.2.0, full compiler+version, and a complex build (TRIL-255)
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-6.1.0-openmp-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-6.1.0-openmp-release.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-6.1.0-serial-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-6.1.0-serial-release.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-7.2.0-openmp-complex-shared-release-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-7.2.0-openmp-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-7.2.0-openmp-release-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-gnu-7.2.0-openmp-release.sh
  cmake/ctest/drivers/atdm/sems-rhel6/drivers/Trilinos-atdm-sems-rhel6-intel-17.0.1-openmp-release.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/ctest-s-local-test-driver.sh
  cmake/std/atdm/sems-rhel6/all_supported_builds.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_build_options.sh
Labels: AT: AUTOMERGE, ATDM, ATDM Config, ATDM DevOps, Gemma, enhancement

#4516 Set Werror for Ifpack
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework
