Repository trilinos/Trilinos, pull requests merged in 2019-04, with the labels that each got.

#4777 Set Werror for Intrepid2 in ICC build
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
Labels: AT: AUTOMERGE, Framework, PA: Framework, pkg: Intrepid2

#4786 Sacado: Add method to clear parameter library.
  packages/sacado/src/parameter/Sacado_ParameterLibraryBase.hpp
Labels: AT: AUTOMERGE, client: ATDM, pkg: Sacado

#4788 LOCA: Add parameter and logic to compute eigenvalues on target step.
  packages/nox/src-loca/src/LOCA_Description.H
  packages/nox/src-loca/src/LOCA_Stepper.C
  packages/nox/src-loca/src/LOCA_Stepper.H
Labels: AT: AUTOMERGE, pkg: LOCA

#4780 change the atdm sems-rhel7 env to use mkl-18.0.5
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: EMPIRE

#4783 Werror domi fix
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  packages/domi/src/Domi_MDMap.hpp
  packages/domi/src/Domi_MDVector.hpp
Labels: AT: AUTOMERGE, Framework, PA: Framework, pkg: Domi

#4649 Kokkos-kernels: Fix #4630
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas3_gemm_tpl_spec_avail.hpp
  packages/kokkos-kernels/src/impl/tpls/KokkosBlas3_gemm_tpl_spec_decl.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels, results impacting, system: gpu

#4772 Remove usage of deprecated Tpetra::CrsMatrix constructor (#4770)
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, client: ATDM, client: SPARC, type: bug

#4792 Tpetra: Fixing incorrect use of memory space in CrsGraph::insertLocalIndicesImpl ArrayView Version
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra, system: gpu, type: bug

#4791 Remove unused var (#4789)
  packages/tpetra/core/src/Tpetra_Details_StaticView.hpp
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, client: SPARC, pkg: Tpetra, type: bug

#4804 Tpetra: Adding local assembly to FECrsMatrix test
  packages/tpetra/core/test/FECrsMatrix/FECrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4800 Change PR testing from 2.1G to 3G per core
  cmake/std/PullRequestLinuxDriver-Test.sh
Labels: Framework, pkg: MueLu

#4805 Tpetra: Fix #4797 & fix #4789
  packages/PyTrilinos/src/Tpetra.i
  packages/nox/test/tpetra/1DFEM_Functors.hpp
  packages/rol/adapters/tpetra/src/function/ROL_TpetraBoundConstraint.hpp
  packages/rol/adapters/tpetra/src/vector/ROL_TpetraMultiVector.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_Utilities_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Tpetra_TsqrAdaptor_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_Utilities_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Tpetra_TsqrAdaptor_MP_Vector.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
  packages/tpetra/core/test/MultiVector/Issue364.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/Vector_offsetViewCtor.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_crsUtils.cpp
  packages/trilinoscouplings/examples/fenl/BelosSolve.hpp
  packages/trilinoscouplings/examples/fenl/fenl_impl.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: TpetraRF, pkg: Tpetra

#4784 Tpetra: Refactor of Triple Product Code
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Tpetra

#4766 Fix a couple of warnings reported by Empire (Roger P.)
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/stk/stk_io/example/io_lowlevel_example.cpp
  packages/stk/stk_io/example/io_mesh_read_write_example.cpp
  packages/stk/stk_mesh/stk_mesh/base/CreateFaces.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_mesh/stk_mesh/base/SkinMesh.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/BucketRepository.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ElemElemGraph.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/GraphEdgeData.hpp
  packages/stk/stk_topology/stk_topology/apply_functor.hpp
  packages/stk/stk_topology/stk_topology/topology.cpp
  packages/stk/stk_topology/stk_topology/topology.hpp
  packages/stk/stk_topology/stk_topology/topology_detail/topology_data.cpp
  packages/stk/stk_topology/stk_topology/topology_detail/topology_data.hpp
  packages/stk/stk_unit_test_utils/TextMesh.cpp
  packages/stk/stk_unit_test_utils/getOption.h
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkData.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEO2Elem.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEO3Elem.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEO4ElemEdge.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEO4ElemRotate.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEO8Elem.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEOCommonUtils.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCEOME.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestChangeEntityId.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestInducedPart.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestModificationEnd.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestSideSet.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestTextMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh_fixtures/GridFixture.cpp
  packages/stk/stk_unit_tests/stk_mesh_fixtures/QuadFixture.cpp
  packages/stk/stk_util/stk_util/CMakeLists.txt
  packages/stk/stk_util/stk_util/parallel/ParallelReduce.hpp
Labels: AT: AUTOMERGE, pkg: STK

#4819 Panzer: add eblock multiplers to mass matrix tools
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection_impl.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#4815 Tpetra,Zoltan2: Fix #4813 & #4814
  packages/belos/tpetra/test/BlockGmres/test_hybrid_gmres_hb.cpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_Details_RowGraph.hpp
  packages/ifpack2/src/Ifpack2_Details_RowMatrix.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestLocalSparseTriangularSolver.cpp
  packages/muelu/src/Graph/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/thyra/adapters/tpetra/test/TpetraThyraWrappers_UnitTests.cpp
  packages/tpetra/CMakeLists.txt
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.cpp
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.hpp
  packages/tpetra/classic/src/Kokkos_ConfigDefs.hpp
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_RowGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_RowMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/xpetra/scripts/epetra/conf/Xpetra_EpetraCrsMatrix.hpp.conf
  packages/zoltan2/example/block/kokkosBlock.cpp
  packages/zoltan2/src/input/Zoltan2_TpetraRowGraphAdapter.hpp
  packages/zoltan2/src/input/Zoltan2_TpetraRowMatrixAdapter.hpp
  packages/zoltan2/src/input/Zoltan2_XpetraTraits.hpp
  packages/zoltan2/test/helpers/UserInputForTests.hpp
Labels: TpetraRF, pkg: Tpetra

#4823 Zoltan2: Remove integer overflow from MJ partitioning (fixes #4785)
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/test/partition/CMakeLists.txt
  packages/zoltan2/test/partition/fix4785.cpp
  packages/zoltan2/test/partition/mj_int_coordinates.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#4811 KokkosKernels: Patch in Distance-2 graph coloring update
  packages/kokkos-kernels/perf_test/graph/KokkosGraph_color.cpp
  packages/kokkos-kernels/perf_test/graph/KokkosGraph_color_d2.cpp
  packages/kokkos-kernels/src/common/KokkosKernels_Handle.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance1Color.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance1ColorHandle.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance2Color.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance2ColorHandle.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_GraphColorHandle.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_graph_color.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_graph_color_d2.hpp
  packages/kokkos-kernels/src/graph/impl/KokkosGraph_Distance1Color_impl.hpp
  packages/kokkos-kernels/src/graph/impl/KokkosGraph_Distance2Color_MatrixSquared_impl.hpp
  packages/kokkos-kernels/src/graph/impl/KokkosGraph_Distance2Color_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_gauss_seidel_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl.hpp
  packages/kokkos-kernels/unit_test/cuda/Test_Cuda_Graph_graph_color_d2.cpp
  packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color.hpp
  packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color_d2.hpp
  packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color_deterministic.hpp
  packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color_distance2.hpp
  packages/kokkos-kernels/unit_test/openmp/Test_OpenMP_Graph_graph_color_d2.cpp
  packages/kokkos-kernels/unit_test/serial/Test_Serial_Graph_graph_color_d2.cpp
  packages/kokkos-kernels/unit_test/threads/Test_Threads_Graph_graph_color_d2.cpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase1Algorithm_kokkos_def.hpp
Labels: AT: AUTOMERGE, MueLuReview, pkg: KokkosKernels

#4825 Disable tests in cuda rdc PT build already failing in non-rdc build (#4502)
  cmake/std/atdm/ride/tweaks/CUDA_COMMON_TWEAKS.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug

#4824 Tempus: Add method to set Tableaus.
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus

#4831 Tpetra: Support routines for tests Take 2 .
  packages/tpetra/core/test/FECrsGraph/FECrsGraph_UnitTests.cpp
  packages/tpetra/core/test/FECrsMatrix/FECrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, Framework, PA: Framework, pkg: Tpetra

#4832 KokkosKernels: Update d2_graph_color following deprecation
  packages/kokkos-kernels/perf_test/graph/KokkosGraph_color_d2.cpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_color.hpp
Labels: AT: AUTOMERGE

#4835 Tpetra: Adding Reuse Triple-Product
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_decl.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Tpetra

#4841 Set Werror in GCC 7.2.0 build for a number of packages
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/optipack/src/OptiPack_NonlinearCG_def.hpp
  packages/rythmos/src/Rythmos_InterpolationBuffer_def.hpp
  packages/stk/stk_unit_tests/stk_topology/unit_test_validate_topology_data.cpp
Labels: AT: AUTOMERGE, Framework, PA: Framework, pkg: Amesos2, pkg: Galeri, pkg: Intrepid, pkg: OptiPack, pkg: RTOp, pkg: Rythmos, pkg: STK, pkg: ShyLU, pkg: Stratimikos, pkg: Teko, pkg: Thyra, pkg: Trilinos Couplings, pkg: Xpetra, pkg: minitensor

#4844 Tempus: Separate Stepper Header and Source
  packages/tempus/src/Tempus_Stepper.cpp
  packages/tempus/src/Tempus_Stepper.hpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/src/Tempus_Stepper_impl.hpp
Labels: AT: AUTOMERGE, pkg: Tempus

#4851 MueLu: update LTG Matrix kernels in TpetraExt
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4855 MueLu: Updating CFL limiting support
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPShiftFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/structured/CMakeLists.txt
  packages/muelu/test/structured/Driver_Structured.cpp
  packages/muelu/test/structured/structured_1dof_shift.xml
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4854 Tpetra: Fix #4852 (make CrsGraph implement "new" DistObject interface)
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsGraph_def.hpp
Labels: AT: AUTOMERGE, TpetraRF, pkg: Tpetra

#4848 Tpetra: Deprecate MultiVectorFiller
  packages/tpetra/core/src/Tpetra_MultiVectorFiller.cpp
  packages/tpetra/core/src/Tpetra_MultiVectorFiller.hpp
  packages/tpetra/core/test/MultiVectorFiller/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Tpetra

#4856 Use ctest -j4 for CUDA builds by default for sems-rhel7 (ATDV-144, #4599, #4790, #4801)
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: Gemma, type: bug

#4837 Tempus: improve interval output setup
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, impacting: performance, pkg: Tempus, type: enhancement

#4859 Fix TriBITS Dashboard Driver usage in Trilinos
  cmake/tribits/common_tpls/find_modules/FindNetCDF.cmake
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  cmake/tribits/core/package_arch/tribits_get_version_date.cmake
  cmake/tribits/core/utils/MessageWrapper.cmake
  cmake/tribits/python_utils/SnapshotDir.py
Labels: AT: AUTOMERGE, type: bug

#4846 Xpetra: Remove Unused Parameter Warnings
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockReorderManager.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/BlockedMap/Xpetra_BlockedMap.hpp
  packages/xpetra/src/BlockedMultiVector/Xpetra_BlockedMultiVector.hpp
  packages/xpetra/src/BlockedVector/Xpetra_BlockedVector.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
  packages/xpetra/src/Operator/Xpetra_Operator.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMap.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory.hpp
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#4875 Extend ATDM Trilinos 'waterman' builds to support SPARC (ATDV-151)
  cmake/std/atdm/waterman/environment.sh
  cmake/std/atdm/waterman/tweaks/ALL_COMMON_TWEAKS.cmake
  cmake/std/atdm/waterman/tweaks/CUDA-9.2_RELEASE-DEBUG_CUDA_POWER9_VOLTA70.cmake
  cmake/std/atdm/waterman/tweaks/CUDA_COMMON_TWEAKS.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#4874 ShyLU/FROSch: Global insert for coarse basis instead of local insert
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
Labels: AT: AUTOMERGE, pkg: ShyLU, type: bug

#4872 Don't allow Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt to run on 'ride7' (ATDV-155)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt.sh
  cmake/ctest/drivers/atdm/ride/local-driver.sh
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Env Issue, client: ATDM

#4411 Issue 4283: refactor muelu to not use dynamic profile when declaring crsgraph
  packages/muelu/src/Graph/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Misc/MueLu_ThresholdAFilterFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_IsorropiaInterface_def.hpp
Labels: TpetraRF

#4863 Xpetra: fix issue #4038.
  packages/muelu/test/unit_tests_kokkos/StructuredAggregation_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/TentativePFactory_kokkos.cpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/test/Map/Map_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#4865 MiniEM: Fix discrete gradient
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteGradient.hpp
Labels: AT: AUTOMERGE, pkg: Panzer

#4880 Fix cmake-file error in stk_balance that was making the m2n exe be a
  packages/stk/stk_balance/stk_balance/CMakeLists.txt
  packages/stk/stk_balance/stk_balance/internal/balanceTypes.hpp
Labels: AT: AUTOMERGE, pkg: STK

#4877 Tpetra: Add deprecations for global ordinal types
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4866 Ifpack2 - fix issue 4858
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: Ifpack2

#4886 Tpetra: Fix #4827; make more Tpetra classes follow Rule of Five; fix Tpetra::deep_copy for aliasing MV arguments
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_copyConvert.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRefactor_Details_MultiVectorLocalDeepCopy.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/Block/BlockMultiVector2.cpp
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/aliased_deep_copy.cpp
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/copyConvert.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4890 MueLu: Adding FE helper macro and removing ambiguity in RefMaxwell
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4889 MiniEM: Do not run with Epetra and MueLu's Kokkos Refactor
  packages/panzer/mini-em/example/BlockPrec/solverAugmentationEpetra.xml
Labels: AT: AUTOMERGE, pkg: Panzer

#4864 Trilinos: Deprecate four packages OptiPack, GlobiPack, Trios, Claps
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  packages/claps/CMakeLists.txt
  packages/claps/cmake/Claps_config.h.in
  packages/claps/src/Claps_ConfigDefs.hpp
  packages/globipack/CMakeLists.txt
  packages/globipack/cmake/GlobiPack_Config.h.in
  packages/optipack/CMakeLists.txt
  packages/optipack/cmake/OptiPack_Config.h.in
  packages/piro/CMakeLists.txt
  packages/piro/cmake/Piro_config.hpp.in
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_PerformAnalysis.hpp
  packages/piro/test/Main_AnalysisDriver.cpp
  packages/trios/CMakeLists.txt
  packages/trios/cmake/Trios_config.h.in
Labels: AT: AUTOMERGE, PA: Framework

#4898 Exclude 'ride14' from running pure 'debug' builds (ATDV-159)
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-7.2.0-openmp-debug.sh
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Env Issue, client: ATDM

#4893 MueLu: Fixes for RefMaxwell usability
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_decl.hpp
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_def.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4905 Address issue #3137.
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ExplicitInstantiation/genClassLists.sh
Labels: AT: AUTOMERGE, pkg: MueLu

#4892 Fix issue #4891 (unused variable)
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
Labels: AT: AUTOMERGE, PA: Data Services, client: ATDM, pkg: Xpetra, type: bug

#4879 Use Multiple Issue Templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Labels: process improvement, type: enhancement

#4914 Tpetra,Teuchos: Fix #2567; Fix #1183
  cmake/ctest/drivers/dorksaber/ctest_linux_nightly_mpi_debug_muelu_kokkos_refactor_openmp_dorksaber.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_debug_muelu_extratypes_eleanor.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_muelu_no_int_no_serial_openmp_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_no_serial_openmp_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_openmp_no_epetra_no_int_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_no_int_openmp_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_serial_debug_muelu_extratypes_enigma.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_kokkos_refactor_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_no_epetra_no_serial_openmp_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_tpetra_no_int_no_serial_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_tpetra_no_int_experimental_geminga.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_extratypes_ei_magret.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_extratypes_magret.cmake
  cmake/ctest/drivers/rhel6-x86_64/ctest_linux_nightly_jenkins_zoltan2.cmake
  cmake/ctest/drivers/trappist/ctest_linux_nightly_mpi_release_muelu_no_int_no_serial_openmp_trappist.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_typhon_clang.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_debug_muelu_extratypes_typhon.cmake
  packages/PyTrilinos/src/Teuchos_Traits.i
  packages/panzer/CMakeLists.txt
  packages/panzer/disc-fe/CMakeLists.txt
  packages/teuchos/CMakeLists.txt
  packages/teuchos/core/cmake/Teuchos_config.h.in
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/test/Comm/iallreduce.cpp
  packages/tpetra/doc/FAQ.txt
  packages/xpetra/CMakeLists.txt
  sampleScripts/AlbanySettings.cmake
  sampleScripts/linux-hopper-tpetra-cmake
Labels: AT: AUTOMERGE, TpetraRF, pkg: Teuchos, pkg: Tpetra

#4911 clean_workspace.py: move from atdm module for ninja to sems module
  commonTools/framework/clean_workspace/clean_workspace.py
  commonTools/framework/clean_workspace/unittests/test_clean_workspace.py
Labels: AT: AUTOMERGE, Framework

#4908 Revert "Trilinos: Deprecate four packages OptiPack, GlobiPack, Trios, Claps"
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  packages/claps/CMakeLists.txt
  packages/claps/cmake/Claps_config.h.in
  packages/claps/src/Claps_ConfigDefs.hpp
  packages/globipack/CMakeLists.txt
  packages/globipack/cmake/GlobiPack_Config.h.in
  packages/optipack/CMakeLists.txt
  packages/optipack/cmake/OptiPack_Config.h.in
  packages/piro/CMakeLists.txt
  packages/piro/cmake/Piro_config.hpp.in
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_PerformAnalysis.hpp
  packages/piro/test/Main_AnalysisDriver.cpp
  packages/trios/CMakeLists.txt
  packages/trios/cmake/Trios_config.h.in
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Sev: Critical, PA: Nonlinear Solvers, client: ATDM, pkg: Piro, type: bug

#4888 Tpetra: deprecate node args (phase two): remove node args in map
  packages/anasazi/tpetra/src/AnasaziTpetraAdapter.hpp
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/ifpack2/src/Ifpack2_LocalFilter_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_kokkos_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/test/scaling/TAFCPerformance.cpp
  packages/muelu/test/unit_tests/IntrepidPCoarsenFactory.cpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_Utilities_MP_Vector.hpp
  packages/tpetra/core/rti/Tpetra_RTIOp.hpp
  packages/tpetra/core/src/Tpetra_ComputeGatherMap.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/test/PerformanceCGSolve/cg-solve_file.hpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsGraph_InOutTest.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsMatrix_InOutTest.cpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/Map/Xpetra_MapFactory.hpp
  packages/xpetra/src/Map/Xpetra_TpetraMap.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMap.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Tpetra, pkg: Xpetra

#4922 Tpetra: Fix default Global Ordinals
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
Labels: pkg: Tpetra

#4917 Fixes CUDA warning reported in issue 4078
  packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#4899 Tpetra,Stokhos: Fix #4870 (prefer running MV norms on device)
  packages/stokhos/src/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_ETI_Helpers_UQ_PCE_DEVICE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Tpetra_SD_ETI_UQ_PCE.tmpl
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_ETI_Helpers_MP_Vector_ENSEMBLE_SIZE_DEVICE.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Tpetra_SD_ETI_MP_Vector.tmpl
  packages/tpetra/core/cmake/ExplicitInstantiationSupport.cmake
  packages/tpetra/core/cmake/TpetraCore_ETIHelperMacros.h.in
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_normImpl.cpp
  packages/tpetra/core/src/Tpetra_Details_normImpl_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_normImpl_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Stokhos, pkg: Tpetra, system: gpu

#4924 Tpetra / Xpetra: Deprecating the Clones
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_decl.hpp
  packages/tpetra/core/src/Tpetra_Directory_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_ReindexColumns.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests0.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_NodeConversion.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ReindexColumns.cpp
  packages/tpetra/core/test/Map/Map_UnitTests.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrixKernels_UnitTests.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/xpetra/CMakeLists.txt
  packages/xpetra/cmake/Xpetra_config.hpp.in
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix.hpp
  packages/xpetra/src/Map/Xpetra_TpetraMap.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap.hpp
  packages/xpetra/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Amesos2, pkg: Tpetra, pkg: Xpetra

#4896 Tpetra: Fix #4861 (make BlockMultiVector implement "new" DistObject interface)
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRBILUK.cpp
  packages/tpetra/core/example/advanced/Benchmarks/blockCrsMatrixMatVec.cpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/Block/BlockMultiVector2.cpp
Labels: AT: AUTOMERGE, TpetraRF, pkg: Tpetra

#4926 Fix issue 4925, undefined symbols in static build
  packages/muelu/src/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Sev: Critical, PA: Linear Solvers, client: ATDM, pkg: MueLu, type: bug

#4869 MueLu: deprecate adapters
  packages/muelu/CMakeLists.txt
  packages/muelu/adapters/epetra/MueLu_CreateEpetraPreconditioner.cpp
  packages/muelu/adapters/epetra/MueLu_CreateEpetraPreconditioner.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/adapters/tpetra/MueLu_CreateTpetraPreconditioner.hpp
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/example/advanced/levelwrap/LevelWrap.cpp
  packages/muelu/example/advanced/multiplesolve/ReuseSequence.cpp
  packages/muelu/example/advanced/multiplesolve/StandardReuse.cpp
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/tawiesn/aria/Driver.cpp
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/muelu/test/structured/Driver_Structured.cpp
  packages/muelu/test/unit_tests/Adapters/AmgxOperatorAdapter.cpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
  packages/muelu/test/unit_tests/UserData/CreateXpetraPreconditioner.cpp
  packages/muelu/test/vardofpernode/VarDofDriver.cpp
  packages/trilinoscouplings/examples/fenl/MueLuPreconditioner.hpp
  packages/trilinoscouplings/examples/scaling/HybridIntrepidPoisson2D_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/HybridIntrepidPoisson3D_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/StructuredIntrepidPoisson_Pamgen_Tpetra_main.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4932 Xpetra: deprecate node args in map construxtors (small fix for #4888)
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/Map/Xpetra_TpetraMap.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#4935 SEACAS: Fix copy_string; add new versions
  packages/seacas/applications/conjoin/CJ_Internals.C
  packages/seacas/applications/conjoin/Conjoin.C
  packages/seacas/applications/epu/EP_Internals.C
  packages/seacas/applications/epu/epu.C
  packages/seacas/applications/exodiff/ED_SystemInterface.C
  packages/seacas/applications/nem_spread/el_exoII_io.C
  packages/seacas/applications/nem_spread/pe_input.C
  packages/seacas/applications/nem_spread/pe_write_parExo_info.C
  packages/seacas/applications/nem_spread/rf_io_const.h
  packages/seacas/applications/nem_spread/rf_mesh_param.C
  packages/seacas/libraries/aprepro_lib/apr_getline_int.c
  packages/seacas/libraries/exodus/src/ex_err.c
  packages/seacas/libraries/exodus/test/test.dmp
  packages/seacas/libraries/exodus/test/test_ts_files.c
  packages/seacas/libraries/exodus/test/testrd.dmp
  packages/seacas/libraries/exodus/test/testrd_nc.dmp
  packages/seacas/libraries/exodus/test/testwt-compress.c
  packages/seacas/libraries/exodus/test/testwt-localization.C
  packages/seacas/libraries/exodus/test/testwt.c
  packages/seacas/libraries/exodus/test/testwt_nc.c
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.h
  packages/seacas/libraries/ioss/src/Ioss_VariableType.C
  packages/seacas/libraries/ioss/src/Ioss_VariableType.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DecompositionData.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/exo_fpp/Iofx_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exo_par/Iopx_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Internals.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Internals.h
  packages/seacas/libraries/supes/ext_lib/exdate.c
  packages/seacas/libraries/supes/ext_lib/exname.c
  packages/seacas/libraries/supes/ext_lib/exparm.c
  packages/seacas/libraries/supes/ext_lib/exread.c
  packages/seacas/libraries/supes/ext_lib/extime.c
  packages/seacas/libraries/supes/ext_lib/getline_int.c
  packages/seacas/libraries/suplib_cpp/copy_string_cpp.h
  packages/seacas/libraries/svdi/cgi/met_metxlate.c
  packages/seacas/libraries/svdi/cgi/pst_pstxlate.c
  packages/seacas/libraries/svdi/cgi/x11_x11xlate.c
Labels: AT: AUTOMERGE, pkg: seacas

#4938 MueLu: More Deprecations
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_decl.hpp
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_XpetraOperator_decl.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_SmootherCloner.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_decl.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4939 Applied kokkos patches to get things compiling for cuda and bitsets f…
  packages/kokkos/containers/src/Kokkos_Bitset.hpp
Labels: AT: AUTOMERGE, pkg: Kokkos

#4940 KokkosKernels: Patching in test size reduction to D2GC unit test
  packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color_distance2.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#4941 MueLu: Fixing Matlab Bug
  packages/muelu/matlab/bin/muemex.cpp
  packages/muelu/matlab/src/MueLu_MatlabUtils.cpp
  packages/muelu/matlab/src/MueLu_MatlabUtils_decl.hpp
  packages/muelu/matlab/src/MueLu_MatlabUtils_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4937 Tpetra: Fix #4853 (deprecate "old" DistObject interface)
  packages/tpetra/core/inout/Tpetra_Details_CooMatrix.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/ImportExport/ImportExport_UnitTests.cpp
Labels: TpetraRF, pkg: Tpetra

#4944 Make installs more robust handle directory permissions (#2689)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/tribits/core/installation/cmake_pbp_install.cmake.in
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#4950 Fix link problem described in 4929.
  packages/muelu/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#4945 Xpetra: deprecating Node args (one more small fix)
  packages/xpetra/src/Map/Xpetra_TpetraMap.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#4946 Seacas fix off by one
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/supes/ext_lib/exparm.c
Labels: AT: AUTOMERGE, pkg: seacas

#4948 Tpetra: Fix #4857
  packages/tpetra/CMakeLists.txt
Labels: impacting: build, pkg: Tpetra

#4955 Belos,Ifpack2,ShyLU: Fix use of deprecated Tpetra features
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_hb_df.cpp
  packages/belos/tpetra/test/FixedPoint/test_fp_hb.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
  packages/shylu/shylu_dd/bddc/src/shylu_DofManager.hpp
Labels: TpetraRF, pkg: Belos, pkg: Ifpack2, pkg: ShyLU, pkg: Tpetra

#4958 Phalanx: Evalautor Typo Fix
  packages/phalanx/example/FiniteElementAssembly_DeviceDag/analyze_performance.py
  packages/phalanx/example/FiniteElementAssembly_MixedFieldTypes/README.txt
  packages/phalanx/src/Phalanx_CreateDeviceEvaluator.hpp
  packages/phalanx/src/Phalanx_DAG_Manager.hpp
  packages/phalanx/src/Phalanx_DAG_Manager_Def.hpp
  packages/phalanx/src/Phalanx_DoxygenDocumentation.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
  packages/phalanx/src/Phalanx_Evaluator.hpp
  packages/phalanx/src/Phalanx_Evaluator_TaskBase.hpp
  packages/phalanx/src/Phalanx_Evaluator_UnitTester.hpp
  packages/phalanx/src/Phalanx_Evaluator_UnmanagedFieldDummy.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/src/Phalanx_FieldManager.hpp
  packages/phalanx/test/DagManager/DagManagerTest.cpp
  packages/phalanx/test/EvaluatorUnitTester/AllRanksEvaluator.hpp
  packages/phalanx/test/EvaluatorUnitTester/DuplicateFieldEvaluator.hpp
  packages/phalanx/test/EvaluatorUnitTester/EvaluatorUnitTester.cpp
  packages/phalanx/test/EvaluatorUnitTester/SimpleEvaluator.hpp
Labels: AT: AUTOMERGE, pkg: Phalanx

#4949 Tpetra: Hide deprecated triangular methods
  packages/ifpack2/src/Ifpack2_Details_RowMatrix.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/xpetra/scripts/epetra/conf/Xpetra_EpetraCrsGraph.hpp.conf
  packages/xpetra/scripts/epetra/conf/Xpetra_EpetraCrsMatrix.hpp.conf
  packages/xpetra/scripts/interfaces/conf/Xpetra_CrsMatrix.hpp.conf
  packages/xpetra/scripts/interfaces/conf/Xpetra_RowMatrix.hpp.conf
  packages/xpetra/scripts/tpetra/conf/Xpetra_TpetraCrsMatrix.hpp.conf
  packages/xpetra/scripts/tpetra/conf/Xpetra_TpetraRowMatrix.hpp.conf
Labels: AT: AUTOMERGE, TpetraRF, pkg: Tpetra

#4956 Tpetra: add additional ETI for normImpl when Tpetra_ENABLE_DEPRECATED_CODE=OFF
  packages/tpetra/core/src/Tpetra_Details_normImpl.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4966 MueLu: Better configure time checks for matlab
  packages/muelu/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#4971 Tempus: Add accessor to WrapperModelEvaluator
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus, type: enhancement

#4969 Tpetra: Fix #4962 (duplicate Tpetra::Details::normImpl instantiations in Albany and SPARC)
  packages/tpetra/core/cmake/ExplicitInstantiationSupport.cmake
  packages/tpetra/core/cmake/TpetraCore_ETIHelperMacros.h.in
  packages/tpetra/core/src/Tpetra_Details_normImpl.cpp
Labels: AT: AUTOMERGE, TpetraRF, pkg: Tpetra

#4972 Amesos2,Tpetra: Fix #3752 (remove HAVE_STD_NEW_COUNT_SYNTAX macro)
  packages/amesos2/cmake/Amesos2_config.h.in
  packages/tpetra/core/cmake/TpetraCore_config.h.in
Labels: impacting: build, pkg: Amesos2, pkg: Tpetra

#4975 Finish robust install of Trilinos when there are individual package build or install failures
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/examples/TribitsExampleProject/ProjectName.cmake
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#4977 Reduce parallel build jobs for Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt bulids
  cmake/std/atdm/README.md
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/ride/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#4981 MueLu: Fixing segfault in RefMaxwell matrix dump
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4983 MAPVAR: Fix bad format statement
  packages/seacas/applications/mapvar-kd/mapvar-kd.f
  packages/seacas/applications/mapvar/mapvar.f
Labels: AT: AUTOMERGE, pkg: seacas

#4968 Tempus: Tempus Output After Passing Output Time
  packages/tempus/src/Tempus_TimeStepControl_decl.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_VanDerPol.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref2.xml
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus, type: enhancement

#4980 RefMaxwell fixes
  packages/muelu/test/maxwell/Maxwell.xml
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: pkg: MueLu

#4991 MueLu: Fixing Helmholtz bug
  packages/muelu/src/Misc/MueLu_RAPShiftFactory_def.hpp
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#4993 Fix case for optional missing component (#2689)
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, client: SPARC, type: bug

#4994 Amesos2: Fix #4992
  packages/amesos2/CMakeLists.txt
  packages/amesos2/example/CMakeLists.txt
  packages/amesos2/src/Amesos2_AbstractConcreteMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_Basker.cpp
  packages/amesos2/src/Amesos2_ConcreteMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_Details_LinearSolverFactory.cpp
  packages/amesos2/src/Amesos2_Details_LinearSolverFactory_def.hpp
  packages/amesos2/src/Amesos2_Details_registerLinearSolverFactory.cpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_ExplicitInstantiationHelpers.hpp
  packages/amesos2/src/Amesos2_KLU2.cpp
  packages/amesos2/src/Amesos2_Lapack.cpp
  packages/amesos2/src/Amesos2_MUMPS.cpp
  packages/amesos2/src/Amesos2_MatrixTraits.hpp
  packages/amesos2/src/Amesos2_PardisoMKL.cpp
  packages/amesos2/src/Amesos2_ShyLUBasker.cpp
  packages/amesos2/src/Amesos2_Superlu.cpp
  packages/amesos2/src/Amesos2_Superlumt.cpp
  packages/amesos2/src/Amesos2_Tacho.cpp
  packages/amesos2/src/Amesos2_Umfpack.cpp
  packages/amesos2/src/Amesos2_Util.cpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/src/Amesos2_VectorTraits.hpp
  packages/amesos2/src/CMakeLists.txt
  packages/amesos2/test/adapters/CMakeLists.txt
  packages/amesos2/test/adapters/CrsMatrix_Adapter_Consistency_Tests.cpp
  packages/amesos2/test/adapters/Epetra_MultiVector_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Epetra_RowMatrix_Adapter_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#4995 Intrepid: Add cmake flag to make clear that Kokkos code is deprecated
  packages/intrepid/CMakeLists.txt
  packages/intrepid/src/CMakeLists.txt
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos.hpp
Labels: AT: AUTOMERGE, pkg: Intrepid

#5001 SEACAS: cgns - fix zgc uniquification
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
Labels: AT: AUTOMERGE, client: SPARC, pkg: seacas

#5005 MueLu: more work to reduce library size
  packages/muelu/src/MueCentral/MueLu_ParameterListAcceptor.cpp
  packages/muelu/src/MueCentral/MueLu_ParameterListAcceptor.hpp
  packages/muelu/src/Utils/MueLu_Monitor.hpp
  packages/muelu/test/paramlist/paramlist.cpp
  packages/muelu/test/paramlist/paramlistAdv.cpp
Labels: AT: AUTOMERGE

#4957 Trilinos: Deprecate four packages (second attempt)
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
  packages/claps/CMakeLists.txt
  packages/claps/cmake/Claps_config.h.in
  packages/claps/src/Claps_ConfigDefs.hpp
  packages/globipack/CMakeLists.txt
  packages/globipack/cmake/GlobiPack_Config.h.in
  packages/optipack/CMakeLists.txt
  packages/optipack/cmake/OptiPack_Config.h.in
  packages/piro/CMakeLists.txt
  packages/piro/cmake/Piro_config.hpp.in
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_PerformAnalysis.hpp
  packages/piro/test/Main_AnalysisDriver.cpp
  packages/trios/CMakeLists.txt
  packages/trios/cmake/Trios_config.h.in
Labels: AT: AUTOMERGE, Framework, pkg: OptiPack, pkg: Piro, pkg: TriOS

#5004 Intrepid2: simple workaround for nvcc compiler bug (issue #4963)
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_In_FEMDef.hpp
Labels: AT: AUTOMERGE, client: ATDM, pkg: Intrepid2

#4996 Xpetra: start of ETI system
  packages/stokhos/cmake/Dependencies.cmake
  packages/stokhos/cmake/Stokhos_config.h.in
  packages/stokhos/src/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/pce/xpetra/Stokhos_Xpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/xpetra/Xpetra_ETI_UQ_PCE.tmpl
  packages/stokhos/src/sacado/kokkos/vector/xpetra/Stokhos_Xpetra_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/xpetra/Xpetra_ETI_MP_Vector.tmpl
  packages/xpetra/cmake/Xpetra_config.hpp.in
  packages/xpetra/src/CMakeLists.txt
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
  packages/xpetra/src/Utils/ClassList/EI-Exceptions.classList
  packages/xpetra/src/Utils/ClassList/LO-GO-NO.classList
  packages/xpetra/src/Utils/ClassList/NO.classList
  packages/xpetra/src/Utils/ClassList/Non-Templated.classList
  packages/xpetra/src/Utils/ClassList/PA-LO-GO-NO.classList
  packages/xpetra/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/xpetra/src/Utils/ClassList/gen_all.sh
  packages/xpetra/src/Utils/ExplicitInstantiation/ETI_LO_GO_NO_classes.cmake
  packages/xpetra/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/xpetra/src/Utils/ExplicitInstantiation/LO-GO-NO.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/SC-LO-GO-NO.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_LO_GO_NO.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_LO_GO_NO_Epetra.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_LO_GO_NO_Tpetra.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_SC_LO_GO_NO.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_SC_LO_GO_NO_Epetra.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_SC_LO_GO_NO_Tpetra.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/genClassLists.sh
  packages/xpetra/src/Utils/ExplicitInstantiation/gen_cppFiles.sh
  packages/xpetra/src/Utils/ForwardDeclaration/LO-GO-NO.classList
  packages/xpetra/src/Utils/ForwardDeclaration/SC-LO-GO-NO.classList
  packages/xpetra/src/Utils/ForwardDeclaration/gen_fwdFiles.sh
  packages/xpetra/src/Utils/Xpetra_ETI_3arg.hpp
  packages/xpetra/src/Utils/Xpetra_ETI_4arg.hpp
Labels: pkg: Xpetra, type: enhancement

#5008 Giving group read and execute perms for 'decomp' in binary dir (ATDV-156)
  packages/seacas/scripts/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, client: SPARC, type: bug

#5007 Tpetra: fix clang compilation of test using clone
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_NodeConversion.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#5013 Xpetra: fix header install problem
  packages/xpetra/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Xpetra

#5012 Ifpack: Fix #4976: add interface for hypre set function taking an int** argument. This…
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/ifpack/src/Ifpack_Hypre.h
Labels: pkg: Ifpack

#5016 Muelu Maxwell changes
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#5020 MueLu: fixing call to kokkos refactor method in Xpetra::EpetraMap, closes #5019
  packages/muelu/example/advanced/levelwrap/LevelWrap.cpp
  packages/muelu/example/advanced/multiplesolve/StandardReuse.cpp
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
  packages/muelu/test/unit_tests/UserData/CreateXpetraPreconditioner.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#5030 TrilinosCouplings: Fix #5029
  packages/trilinoscouplings/examples/fenl/fenl_ensemble.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: Trilinos Couplings

#5037 MueLu: fixing bug in Maxwell3D Tpetra see #4989
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#5039 Tpetra: Fix #5038 (spurious "unused function" build warnings)
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_iallreduce.cpp
  packages/tpetra/core/src/Tpetra_Details_iallreduce.hpp
  packages/tpetra/core/src/Tpetra_Details_makeValidVerboseStream.cpp
  packages/tpetra/core/src/Tpetra_Details_makeValidVerboseStream.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_ImportExportData_def.hpp
Labels: AT: AUTOMERGE, client: Sierra, impacting: build, pkg: Tpetra

#5017 Xpetra: Add ETI for TpetraMultiVector
  packages/stokhos/src/CMakeLists.txt
  packages/tpetra/core/cmake/ExplicitInstantiationSupport.cmake
  packages/tpetra/core/cmake/TpetraCore_ETIHelperMacros.h.in
  packages/xpetra/src/CMakeLists.txt
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
  packages/xpetra/src/Utils/ClassList/MULTIVECTOR.classList
  packages/xpetra/src/Utils/ExplicitInstantiation/ETI_MULTIVECTOR_classes.cmake
  packages/xpetra/src/Utils/ExplicitInstantiation/MULTIVECTOR.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/Xpetra_ETI_MULTIVECTOR.tmpl
  packages/xpetra/src/Utils/ExplicitInstantiation/genClassLists.sh
  packages/xpetra/src/Utils/ExplicitInstantiation/gen_cppFiles.sh
  packages/xpetra/src/Utils/Xpetra_ETI_4arg_mv.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#5041 Set CTEST_PARALLEL_LEVEL (CDOFA-43)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement
