Repository trilinos/Trilinos, pull requests merged in 2020-02, with the labels that each got.

#6687 Bring in changes to fix Trilinos for Futility and MPACT
  cmake/ProjectCompilerPostConfig.cmake
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos/cmake/kokkos_settings.cmake
Labels: AT: AUTOMERGE, PA: Data Services, pkg: Kokkos, pkg: KokkosKernels, type: bug

#6709 ATDM: cee-rhel6: Change from openmpi-4.0.1 to openmpi-4.0.2 (ATDV-289)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-4.0.2_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_gnu-7.2.0_openmpi-4.0.2_serial_shared_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#6704 IOSS: cgns - fix handling of periodic single-block models in parallel
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#6714 Intrepid2: Temporarily disabling failing tests
  packages/intrepid2/unit-test/Discretization/Basis/HVOL_HEX_Cn_FEM/Serial/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/CMakeLists.txt
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Intrepid2

#6710 Tempus: Add Improved Doc for DIRK
  packages/tempus/doc/Doxyfile
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, impacting: documentation, pkg: Tempus

#6694 MueLu: region MG Chebyshev updated to match ifpack2
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/examples/structured/CMakeLists.txt
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6720 Promoting ats2+gnu+opt build which is 100% clean (CDOFA-27)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_opt.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6695 Tacho - cuSolver interface
  packages/shylu/shylu_node/tacho/CMakeLists.txt
  packages/shylu/shylu_node/tacho/cmake/Dependencies.cmake
  packages/shylu/shylu_node/tacho/example/CMakeLists.txt
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleCholCuSolver.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleCholPardiso.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.hpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExamplePerfTest.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleSolver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_CuSolver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_DenseMatrixView.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Graph.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_GraphTools_Metis.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_GraphTools_MetisMT.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_GraphTools_Scotch.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_MatrixMarket.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_NumericTools.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Solver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_SupernodeInfo.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_SymbolicTools.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeCholByBlocks.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeCholByBlocksPanel.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeCholPanel.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_MemoryPool.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_SolveUpperChol.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Util.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestCrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestCuda_dcomplex.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestCuda_double.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestDenseByBlocks.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestDenseLinearAlgebra.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestDenseMatrixView.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestGraph.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestNumeric.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestOpenMP_dcomplex.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestOpenMP_double.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestSerial_dcomplex.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestSerial_double.cpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestSymbolic.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestTaskFunctor.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestUtil.cpp
Labels: AT: AUTOMERGE

#6726 ATDM ATS-2 cleanup and promote some builds to 'Specialized' (CDOFA-72)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg.sh
  cmake/std/atdm/ats2/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6721 Teuchos: Remove Deprecated Code
  packages/teuchos/comm/src/Teuchos_CommHelpers.hpp
  packages/teuchos/comm/src/Teuchos_PerformanceMonitorBase.hpp
  packages/teuchos/core/src/Teuchos_ArrayRCP.hpp
  packages/teuchos/core/src/Teuchos_ArrayRCPDecl.hpp
  packages/teuchos/core/src/Teuchos_RCP.hpp
  packages/teuchos/core/src/Teuchos_RCPDecl.hpp
  packages/teuchos/core/src/Teuchos_RCPNode.hpp
  packages/teuchos/core/test/MemoryManagement/RCPNodeHandle_UnitTests.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.hpp
  packages/teuchos/numerics/src/Teuchos_SerialBandDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseVector.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
  packages/teuchos/remainder/src/Teuchos_MPITraits.hpp
  packages/teuchos/remainder/src/Teuchos_arrayArg.hpp
Labels: pkg: Teuchos

#6705 ATDM Fix issue with empty cache vars (CDOFA-72)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Blocker, client: ATDM, client: EMPIRE

#6730 Disable deprecated code (#6217)
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#6729 Fix a stk cmake file install error
  packages/stk/stk_util/stk_util/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: STK

#6737 NonlinML: Fix some scopes in nlnml_nonlinearlevel.cpp
  packages/trilinoscouplings/src/ml/NonlinML/nlnml_nonlinearlevel.cpp
Labels: impacting: build, pkg: ML

#6725 Intrepid2: reenabling JacobiLegendrePolynomial_Tests and Hierarchical_Basis_Tests
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/CMakeLists.txt
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/CMakeLists.txt
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/IntegratedLegendreTests.cpp
Labels: AT: AUTOMERGE

#6738 kokkos/cmake/kokkos_arch.cmake: Fix for clang + NO cuda
  packages/kokkos/cmake/kokkos_arch.cmake
Labels: AT: AUTOMERGE, pkg: Kokkos, type: bug

#6736 Zoltan2: fix 6735 (bug in RCM)
  packages/zoltan2/src/algorithms/order/Zoltan2_AlgRCM.hpp
Labels: pkg: Zoltan2

#6744 kokkos: cmake fixes for clang +/- cuda
  packages/kokkos/CMakeLists.txt
  packages/kokkos/cmake/kokkos_arch.cmake
Labels: pkg: Kokkos

#6746 Tacho - disable matrix market reader/writer test to improve PR test stability
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestCrsMatrixBase.hpp
Labels: AT: AUTOMERGE

#6748 tpetra: disable kokkos warnings in initialize tests
  packages/tpetra/core/test/Core/CMakeLists.txt
  packages/tpetra/core/test/Map/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Tpetra

#6750 Zoltan2: upgraded testing for issue #6735 and PR #6736
  packages/zoltan2/test/data/Ashear.mtx
  packages/zoltan2/test/order/CMakeLists.txt
  packages/zoltan2/test/order/ordering1.cpp
Labels: pkg: Zoltan2

#6755 Tacho - example for cusparse trisolve interface from tacho
  packages/shylu/shylu_node/tacho/example/CMakeLists.txt
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleCholCuSolver.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleCuSparseTriSolve.cpp
  packages/shylu/shylu_node/tacho/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_CuSolver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_CuSparseTriSolve.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_NumericTools.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Solver.hpp
Labels: AT: AUTOMERGE

#6758 ATDM mutrino: switch from camke 3.11.4 to 3.14.6
  cmake/std/atdm/mutrino/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC

#6756 Ifpack2: Fix ApplyInverseSGS_BlockCrsMatrix import operations
  packages/ifpack2/src/Ifpack2_Relaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
Labels: pkg: Ifpack2

#6732 Epetra: Removed Deprecated Epetra_MpiSmpComm Class
  packages/epetra/CMakeLists.txt
  packages/epetra/src/Epetra_MpiSmpComm.cpp
  packages/epetra/src/Epetra_MpiSmpComm.h
  packages/epetra/src/Epetra_MpiSmpCommData.cpp
  packages/epetra/src/Epetra_MpiSmpCommData.h
  packages/xpetra/src/Utils/Xpetra_EpetraUtils.hpp
Labels: AT: AUTOMERGE, pkg: Epetra

#6757 kokkos-kernels: remove include of nonexistent directory
  packages/kokkos-kernels/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#6712 Remove Kokkos related code from Intrepid
  packages/intrepid/CMakeLists.txt
  packages/intrepid/example/Drivers/Intrepid_ArrayToolsDefScalar_Kokkos.hpp
  packages/intrepid/example/Shared/CMakeLists.txt
  packages/intrepid/example/Shared/example_02.cpp
  packages/intrepid/example/Shared/example_03.cpp
  packages/intrepid/example/Shared/example_04.cpp
  packages/intrepid/example/Shared/example_05.cpp
  packages/intrepid/src/CMakeLists.txt
  packages/intrepid/src/Cell/Intrepid_CellTools.hpp
  packages/intrepid/src/Cell/Intrepid_CellToolsDef.hpp
  packages/intrepid/src/Cell/Intrepid_CellTools_Kokkos.hpp
  packages/intrepid/src/Discretization/FunctionSpaceTools/Intrepid_FunctionSpaceTools.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_CUDA_Left.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_CUDA_Right.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_OpenMP_Left.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_OpenMP_Right.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_PThreads_Left.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_PThreads_Right.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_Serial_Left.hpp
  packages/intrepid/src/Kokkos/Intrepid_FieldContainer_Kokkos_Serial_Right.hpp
  packages/intrepid/src/Shared/Intrepid_ArrayTools.hpp
  packages/intrepid/src/Shared/Intrepid_ArrayToolsDefScalar.hpp
  packages/intrepid/src/Shared/Intrepid_ArrayToolsDefScalar_Kokkos.hpp
  packages/intrepid/src/Shared/Intrepid_FieldContainer.hpp
  packages/intrepid/src/Shared/Intrepid_Rank.hpp
  packages/intrepid/src/Shared/Intrepid_RealSpaceTools.hpp
  packages/intrepid/src/Shared/Intrepid_RealSpaceToolsDef_Kokkos.hpp
  packages/intrepid/src/Shared/Intrepid_Utils.hpp
  packages/intrepid/test/Cell/CMakeLists.txt
  packages/intrepid/test/Cell/test_01_kokkos.cpp
  packages/intrepid/test/Cell/test_02_kokkos.cpp
  packages/intrepid/test/Cell/test_03_kokkos.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_LINE_C1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_TET_Cn_FEM_ORTH/test_02.cpp
  packages/intrepid/test/Shared/ArrayTools/CMakeLists.txt
  packages/intrepid/test/Shared/ArrayTools/test_01_kokkos.cpp
  packages/intrepid/test/Shared/ArrayTools/test_02_kokkos.cpp
  packages/intrepid/test/Shared/ArrayTools/test_03_kokkos.cpp
  packages/intrepid/test/Shared/ArrayTools/test_04_kokkos.cpp
  packages/intrepid/test/Shared/ArrayTools/test_05_kokkos.cpp
  packages/intrepid/test/Shared/RealSpaceTools/CMakeLists.txt
  packages/intrepid/test/Shared/RealSpaceTools/test_01_kokkos.cpp
Labels: PA: Discretizations, pkg: Intrepid, type: enhancement

#6760 TrilinosCouplings: Fix taper calculation
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#6762 ATDM: kokkos 2.99 promotion fixes 2020-02-04
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ATDMDisables.cmake
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: tests, type: bug

#6766 ATDM: More cleanup after Kokkos 2.99 upgrade
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6768 tpetra: Add sync check in MV packAndPrepare
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: client: Albany, pkg: Tpetra

#6769 Tpetra: adding more fine grained timing in MatVec Benchmark
  packages/tpetra/core/example/advanced/Benchmarks/CrsMatrixMatVec.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: enhancement

#6767 Remove unnecessary cdash warnings in Kokkos Kernels
  packages/kokkos-kernels/cmake/fake_tribits.cmake
  packages/kokkos-kernels/cmake/kokkoskernels_tpls.cmake
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#6772 Fix kk spgemm zero row
  packages/kokkos-kernels/src/common/KokkosKernels_IOUtils.hpp
  packages/kokkos-kernels/src/common/KokkosKernels_Utils.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_compression.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_symbolic.hpp
  packages/kokkos-kernels/unit_test/sparse/Test_Sparse_spgemm.hpp
Labels: ATDM Sev: Blocker, client: EMPIRE, pkg: KokkosKernels

#6771 ATDM: ats2: switch to ninja (CDOFA-72)
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#6774 Zoltan: fixed minor typo in cmake
  packages/zoltan/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Zoltan

#6775 Tpetra: Fix Transform test for CUDA_LAUNCH_BLOCKING unset
  packages/tpetra/core/src/Tpetra_for_each_MultiVector.hpp
  packages/tpetra/core/src/Tpetra_transform_MultiVector.hpp
Labels: pkg: Tpetra

#6776 PyTrilinos: Fix syntax error for SWIG 3
  packages/PyTrilinos/src/Isorropia.Epetra.i
Labels: AT: AUTOMERGE, impacting: build, pkg: PyTrilinos

#6782 panzer dof-mgr: add needed check and sync for MV dual view
  packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Panzer

#6780 Fix div by zero
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_compression.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Blocker, client: EMPIRE, pkg: KokkosKernels

#6512 Enable builds on MacOSX
  packages/kokkos-kernels/src/blas/KokkosBlas3_gemm.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#6789 Panzer: Removed Deprecated getGlobalIndexer()
  packages/panzer/disc-fe/src/lof/Panzer_LinearObjFactory.hpp
Labels: AT: AUTOMERGE, pkg: Panzer

#6787 PyTrilinos: Clean up warnings
  packages/PyTrilinos/example/exIsorropia.py.in
  packages/PyTrilinos/src/Anasazi.i
  packages/PyTrilinos/src/Domi.i
  packages/PyTrilinos/src/Isorropia.Epetra.i
  packages/PyTrilinos/src/LOCA.Hopf.MinimallyAugmented.i
  packages/PyTrilinos/src/NOX.Epetra.i
  packages/PyTrilinos/src/PyTrilinos_Domi_Util.hpp
  packages/PyTrilinos/src/PyTrilinos_Epetra_Util.cpp
  packages/PyTrilinos/src/PyTrilinos_Isorropia_Headers.hpp
  packages/PyTrilinos/src/PyTrilinos_Tpetra_Util.hpp
  packages/PyTrilinos/src/Tpetra.i
  packages/teuchos/comm/src/Teuchos_Comm.hpp
Labels: impacting: build, pkg: PyTrilinos

#6795 MueLu: fix compilation of RegionMG w/complex
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
Labels: AT: AUTOMERGE, impacting: build

#6778 Zoltan2 mj clean up
  packages/zoltan2/example/block/kokkosBlock.cpp
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/src/algorithms/partition/Zoltan2_TaskMapping.hpp
  packages/zoltan2/src/input/Zoltan2_BasicVectorAdapter.hpp
  packages/zoltan2/src/input/Zoltan2_MeshAdapter.hpp
  packages/zoltan2/test/unit/input/BasicKokkosIdentifierInput.cpp
Labels: pkg: Zoltan2

#6793 nox: add missing check for sync in dual view
  packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp
Labels: AT: AUTOMERGE, pkg: NOX

#6797 Disable timing out KokkosKernels_sparse_serial_MPI_1 in pure debug builds on 'ride' and 'waterman' (#6464)
  cmake/std/atdm/ride/tweaks/Tweaks.cmake
  cmake/std/atdm/waterman/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: tests, type: bug

#6798 kokkos-kernels: spgemm: fix scalar alignment
  packages/kokkos-kernels/src/common/KokkosKernels_Utils.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_kkmem.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_speed.hpp
Labels: impacting: tests

#6800 MueLu: fix issue #6794
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_AggregateQualityEstimateFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
Labels: pkg: MueLu

#6810 Fix #6809
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: AT: AUTOMERGE

#6815 ATDM: ats2: Disable KokkosKernels_sparse_serial_MPI_1 for ats2 debug debug builds (#6464)
  cmake/std/atdm/ats2/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug

#6812 Tempus: Fix for maxTimeStep in Subcycling.
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_StepperSubcycling_decl.hpp
  packages/tempus/src/Tempus_StepperSubcycling_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_Subcycling.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus, type: bug

#6822 ATDM: ats2: Disable TeuchosCore_show_stack in debug builds (#6821)
  cmake/std/atdm/ats2/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: tests, type: bug

#6819 Zoltan2: Use HostSpace not Serial (#6816)
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#6724 ATDM: Utilize new jsrun wrapper (CDOFA-94)
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/ctest/drivers/atdm/ctest-s-driver-config-build.sh
  cmake/ctest/drivers/atdm/ctest-s-driver-test.sh
  cmake/ctest/drivers/atdm/waterman/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/ats2/custom_builds.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
  cmake/std/atdm/ats2/trilinos_jsrun_test_me.sh
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Env Issue, ATDM Sev: Critical, client: ATDM, client: EMPIRE, client: SPARC

#6826 ATDM: Fix typo in ats2 local-driver.sh (CDOFA-94)
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
Labels: AT: AUTOMERGE, ATDM Config

#6827 ATDM: Increase bsub timeout to 12hrs (CDOFA-94)
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#6824 Create PR test for GCC 8.3.0 w/WError flag set
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/PullRequestLinuxGCC7.3.0TestingSettings.cmake
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
  cmake/std/sems/PullRequestGCC7.3.0TestingEnv.sh
  cmake/std/sems/PullRequestGCC8.3.0TestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework, type: enhancement

#6759 MueLu: several fixes to region MG
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6830 Force jsrun wrapper to print the full cmd export ECHO_CMD=0 to disable
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/ats2/trilinos_jsrun
  cmake/std/atdm/ats2/trilinos_jsrun_test_me.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6835 Add Xpetra empty Epetra_CrsGraph construction, fix FROSch tests
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/CMakeLists.txt
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
Labels: impacting: tests, pkg: ShyLU, pkg: Xpetra, type: bug

#6792 RTOp: Remove Deprecated show_spmd_apply_op_dump
  packages/rtop/src/support/RTOpPack_SPMD_apply_op.cpp
  packages/rtop/src/support/RTOpPack_SPMD_apply_op_decl.hpp
Labels: AT: STALE

#6842 Fix typo in cmake/std/atdm/load-env.sh
  cmake/std/atdm/load-env.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: documentation, type: bug

#6846 Testing: add geminga crontab
  cmake/ctest/drivers/geminga/crontab.txt
Labels: pkg: MueLu

#6813 Use Kokkos-kernels TRSM for CholQR
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Gmres.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresPipeline.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSstep.hpp
  packages/belos/tpetra/test/Native/CMakeLists.txt
  packages/belos/tpetra/test/Native/nonsymm_matrix.cpp
Labels: pkg: Belos

#6843 MueLu: fix shadow warning for GCC-8.3.0 build to enable -Werror
  cmake/std/sems/PullRequestGCC8.3.0TestingEnv.sh
  packages/muelu/src/Misc/MueLu_AggregateQualityEstimateFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6848 MueLu: adding timers in GeometricInterpolationPFactory
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6845 Tpetra: Fix #6838
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_CrsPadding.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests1.cpp
  packages/tpetra/core/test/CrsGraph/DetectNonlocals.cpp
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/countNumInCommon.cpp
Labels: pkg: Tpetra

#6852 removed warning
  packages/tempus/src/Tempus_IntegratorObserver.hpp
Labels: AT: AUTOMERGE

#6857 Revert a change that appears to have broken stk_simd compilation for
  packages/stk/stk_math/stk_math/StkMath.hpp
Labels: AT: AUTOMERGE, pkg: STK

#6847 MueLu: add debug check for matching local part of row and column map
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: pkg: MueLu

#6850 Set WError for MueLu in GCC 8.3.0 PR build
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#6858 trsv: workaround intel/19.0.4 interal compiler error
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_trsv_impl.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#6863 MueLu: add more region timers
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6870 Zoltan2: remove some debugging files
  save_Zoltan2_AlgMultiJagged.hpp
  save_Zoltan2_TaskMapping.hpp
Labels: AT: AUTOMERGE

#6869 ATDM: ATS-2: Allow CUDA RDC to be enabled (CDOFA-72)
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Blocker, client: ATDM, client: EMPIRE, type: bug

#6871 Ifpack2: MueLu: fix clang 7.0.1 warnings
  packages/ifpack2/src/Ifpack2_BandedContainer_decl.hpp
  packages/muelu/test/convergence/Convergence.cpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: MueLu

#6864 Tempus fix imex initialization
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK_Partition.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus, type: bug

#6879 Belos GmresPolyOp: Avoid some FPEs.
  packages/belos/src/BelosGmresPolyOp.hpp
Labels: pkg: Belos

#6834 Xpetra: PR to close #6082 and #6765
  packages/muelu/adapters/belos/BelosXpetraStatusTestGenResSubNorm.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
Labels: pkg: MueLu, pkg: Xpetra

#6890 Verify that the directory exists before cleaning
  commonTools/framework/clean_workspace/clean_workspace.py
  commonTools/framework/clean_workspace/unittests/test_clean_workspace.py
Labels: AT: AUTOMERGE

#6853 Tpetra: Factor out createPrefix; add verbose output to Map; fix Xpetra build errors
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_Util.cpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/createPrefix.cpp
  packages/xpetra/test/BlockedMultiVector/BlockedMultiVector_UnitTests.cpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/xpetra/test/Map/Map_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, pkg: Xpetra

#6881 tpetra: For #6796, adding check of environment variable to test.
  packages/tpetra/core/src/Tpetra_Details_assumeMpiIsCudaAware.cpp
  packages/tpetra/core/src/Tpetra_Details_assumeMpiIsCudaAware.hpp
  packages/tpetra/core/test/Comm/CMakeLists.txt
  packages/tpetra/core/test/Comm/cudaAwareMpi.cpp
  packages/tpetra/core/test/Comm/cudaMpi_CanaryTest.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6880 Ifpack2 Factory
  packages/ifpack2/src/Ifpack2_Details_Factory_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Factory_def.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Factory.cpp
  packages/ifpack2/src/Ifpack2_Factory_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2

#6893 Tpetra: Remove "DynamicProfile" mentions from Doxygen documentation
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6876 Trilinos: New ATS2 environment is modifying a system level ENV variable that breaks Spectrum
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Critical, client: ATDM, impacting: tests, type: bug

#6884 tpetra: #6883 Removing behavior test with default values controlled by CMake options
  packages/tpetra/core/test/Behavior/Behavior_Default.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6899 Warning fix in Tacho
  packages/shylu/shylu_node/tacho/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_GraphTools_CAMD.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_NumericTools.hpp
Labels: AT: AUTOMERGE

#6900 Amesos2: Fix some Serial dependencies.
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
Labels: pkg: Amesos2

#6903 Panzer: add accessors to periodic bc matchers
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_MatchConditions.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.hpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_bcs.cpp
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, PA: Discretizations, client: EMPIRE, pkg: Panzer

#6905 MueLu: Use Amesos2 parameter list option for matrices with non-contig…
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
Labels: pkg: Amesos2, pkg: MueLu

#6904 Fix up and document handling of CUDA-aware MPI with Tpetra (CDOFA-100, #6902)
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug, type: enhancement

#6908 Update LICENSE
  LICENSE
Labels: Framework tasks, impacting: documentation

#6923 ROL Trilinos Sync 28-Feb-2020
  packages/rol/src/function/dynamic/ROL_SerialConstraint.hpp
Labels: AT: AUTOMERGE, pkg: ROL

#6917 Tempus fix output for constant time step
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus

#6926 Tpetra: address #3238, fix warnings
  packages/tpetra/core/src/Tpetra_Details_getEntryOnHost.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_MicroBenchmark.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: enhancement
