Repository trilinos/Trilinos, pull requests merged in 2020-08, with the labels that each got.

#7761 MueLu: Avoid some global communication in setup
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7756 MueLu: Remove outdated comment.
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: pkg: MueLu

#7760 Ifpack2 Chebyshev: Remove unneeded global communication
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/muelu/test/interface/default/Output/MLsmoother4_tpetra.gold
  packages/muelu/test/interface/default/Output/default_e3d_tpetra.gold
  packages/muelu/test/interface/default/Output/default_p2d_tpetra.gold
  packages/muelu/test/interface/default/Output/default_p3d_tpetra.gold
  packages/muelu/test/interface/default/Output/driver_drekar1_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/driver_drekar1_tpetra.gold
  packages/muelu/test/interface/default/Output/driver_drekar2_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/driver_drekar2_tpetra.gold
  packages/muelu/test/interface/default/Output/smoother12_tpetra.gold
  packages/muelu/test/interface/default/Output/smoother13_tpetra.gold
  packages/muelu/test/interface/default/Output/smoother5_tpetra.gold
  packages/muelu/test/interface/default/Output/smoother9_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLsmoother4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_e3d_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_p2d_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_p3d_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother12_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother13_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother5_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother9_tpetra.gold
Labels: AT: AUTOMERGE, pkg: Ifpack2

#7764 Tacho - condensed graph analysis with group varialbes
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SymbolicTools.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SymbolicTools.hpp
Labels: AT: AUTOMERGE

#7769 Stratimikos: add bicgstab to belos via stratimikos options
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolveFactory_decl.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolveFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: Stratimikos

#7668 Tpetra: Add state tracking for graph to avoid extra fencing.
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: AT: STALE, AT: WIP, pkg: Tpetra

#7753 Ifpack2: Resolve CUDA_LAUNCH_BLOCKING=0
  packages/ifpack2/src/Ifpack2_Details_MultiVectorLocalGatherScatter.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockCrsUtil.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockRelaxation.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestChebyshev.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRBILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
Labels: pkg: Ifpack2

#7751 Tpetra: Ifpack2 fence fix
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7155 Tpetra: Edit CMakeLists to not check for Kokkos UVM if Tpetra disables CUDA
  packages/tpetra/core/CMakeLists.txt
Labels: AT: STALE, pkg: Tpetra, system: gpu, type: bug

#7779 Zoltan2: Clean up subview issues
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/core/src/models/Zoltan2_CoordinateModel.hpp
Labels: pkg: Zoltan2

#7607 I commented out an assert to get debug tests to run
  packages/rol/example/tempus/example_parabolic_modeleval_forward-adjoint.hpp
Labels: AT: AUTOMERGE, PA: Framework, pkg: ROL

#7784 ATDM: Unload yaml-cpp module for arm-20.1 env (#7778)
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug

#7780 Sacado: Add option for turning off Gtest if desired.
  cmake/std/atdm/tlcc2/tweaks/INTEL_DEBUG_OPENMP_SNB.cmake
  cmake/std/atdm/tlcc2/tweaks/INTEL_RELEASE_OPENMP_SNB.cmake
  cmake/std/atdm/tlcc2/tweaks/Tweaks.cmake
  packages/sacado/CMakeLists.txt
  packages/sacado/test/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, PA: Nonlinear Solvers, client: ATDM, pkg: Sacado, type: bug

#7786 Update to version 13.1
  Version.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#7735 Update version for release 13.0.0
  Version.cmake
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#7772 Tempus: Add Further Testing for Explicit RKAppAction
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_StepperRKModifierXBase.hpp
  packages/tempus/test/TestModels/DahlquistTestModel_decl.hpp
  packages/tempus/test/TestModels/DahlquistTestModel_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK.cpp
Labels: pkg: Tempus, type: enhancement

#7790 7789 Panzer: Fixes for Quadrature point sorting to support periodic wedge
  packages/panzer/adapters-stk/test/panzer_workset_builder/check_sorted_face_quads.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/test/core_tests/integration_values2.cpp
Labels: AT: AUTOMERGE, client: EMPIRE

#7771 MueLu: region w-cycle and symmetric Gauss-Seidel
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/regionMG/examples/structured/CMakeLists.txt
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
Labels: pkg: MueLu, type: enhancement

#7785 MueLu: switch from shortname EpetraCrsMatrx to full EpetraCrsMatrixT
  packages/muelu/adapters/aztecoo/MueLu_AztecEpetraOperator.cpp
  packages/muelu/adapters/epetra/MueLu_EpetraOperator.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#7798 MueLu: Remove unnecessary fences.
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_kokkos_def.hpp
Labels: pkg: MueLu

#7800 Ifpack2: Use sync_host instead of fence
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
Labels: pkg: Ifpack2

#7799 Ifpack2: Move fence to be more consistent with Tpetra conventions.
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: pkg: Ifpack2

#7804 STK: fix clang build
  packages/stk/stk_mesh/stk_mesh/base/CreateFaces.cpp
Labels: AT: AUTOMERGE, pkg: STK

#7803 Adds logic for MPI builds where MPI has not been initialized
  packages/teuchos/numerics/src/Teuchos_SerialDenseHelpers.hpp
Labels: pkg: Teuchos

#7678 Amesos2: Handle x and b copying more efficiently.
  packages/amesos2/src/Amesos2_Basker_def.hpp
  packages/amesos2/src/Amesos2_Cholmod_def.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_Kokkos_View_Copy_Assign.hpp
  packages/amesos2/src/Amesos2_MultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_def.hpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#7642 Tribits GitHub snapshot to fix #7636
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/cdash_analyze_and_report.py
  cmake/tribits/core/installation/TribitsPackageConfigTemplate.cmake.in
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  cmake/tribits/core/installation/set_installed_group_and_permissions.cmake.in
  cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Labels: AT: AUTOMERGE, ATDM DevOps, type: bug, type: enhancement

#7811 Zoltan2 Sphynx: Add options for initial guess and full/partial ortho
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
  packages/zoltan2/test/sphynx/CMakeLists.txt
  packages/zoltan2/test/sphynx/Test_Sphynx.cpp
Labels: pkg: Zoltan2

#7566 ShyLU/FROSch: Additional Level for GDSW preconditioner
  packages/shylu/shylu_dd/frosch/TODO
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_ConstantPartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_GDSWInterfacePartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_LocalPartitionOfUnityBasis_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_PartitionOfUnity_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_PartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_decl.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_ExtractSubmatrices_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_GDSW_Klu_ML.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_RGDSW_Klu_ML.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/ParameterLists/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_GDSW_ML.xml
Labels: AT: AUTOMERGE, pkg: ShyLU

#7816 IOSS: Allow use of property to set parmetis kway common_node count
  packages/seacas/IossProperties.md
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.C
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.h
Labels: AT: AUTOMERGE, PA: Data Services, client: EMPIRE, pkg: seacas

#7817 Tacho - c++14 compiler bug workaround
  packages/shylu/shylu_node/tacho/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperChol.hpp
Labels: AT: AUTOMERGE

#7713 Zoltan2: Add useDegreeAsWeight testing
  packages/zoltan2/test/core/unit/util/Metric.cpp
Labels: pkg: Zoltan2

#7810 Panzer: DofManager, use new Tpetra::FECrsMatrix constructor
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
Labels: PA: Discretizations

#7819 Teko: Fix sign warnings
  packages/teko/src/Tpetra/Teko_BlockingTpetra.cpp
  packages/teko/src/Tpetra/Teko_InterlacedTpetra.cpp
Labels: AT: AUTOMERGE, pkg: Teko

#7763 Tpetra: Change default algorithm for matrix Jacobi from MSAK to KK
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
Labels: AT: STALE, pkg: MueLu, pkg: Tpetra

#7820 Ifpack. Removing "virtual inline" functions to make it standard compliant
  packages/ifpack/src/Ifpack_AMDReordering.h
  packages/ifpack/src/Ifpack_Chebyshev.h
  packages/ifpack/src/Ifpack_Krylov.h
  packages/ifpack/src/Ifpack_Polynomial.h
Labels: AT: AUTOMERGE, pkg: Ifpack

#7563 Tpetra: Make host version of map hash
  packages/ifpack2/example/RelaxationWithEquilibration.cpp
  packages/tpetra/core/src/Tpetra_Details_LocalMap.hpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/test/CrsGraph/DetermineLocalTriangularStructure.cpp
  packages/tpetra/core/test/Map/Map_LocalMap.cpp
  packages/tpetra/core/test/Map/Map_getMyGlobalIndices.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
  packages/xpetra/test/Map/Map_UnitTests.cpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraMultiVectorAdapter.hpp
Labels: pkg: Tpetra

#7826 ATDM: Remove checks for running on login and launch nodes (ATDV-387)
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Critical, client: ATDM, impacting: tests, type: bug

#7827 Zoltan2 Sphynx: Adjust MueLu parameters
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
Labels: pkg: Zoltan2, type: enhancement

#7777 MueLu/Xpetra: various minor changes & fixes
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationInfo_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationInfo_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_decl.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Misc/MueLu_BlockedRAPFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_BlockedRAPFactory_def.hpp
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_InterfaceMappingTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceMappingTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_MapTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_MapTransferFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_decl.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.cpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedPFactory_decl.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedPFactory_def.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_SubBlockAFactory_decl.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_SubBlockAFactory_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/test/meshtying/CMakeLists.txt
  packages/muelu/test/meshtying/MeshTyingBlocked_SimpleSmoother.cpp
  packages/muelu/test/meshtying/simple_1dof.xml
  packages/xpetra/src/MultiVector/Xpetra_MultiVectorFactory_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory_decl.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMap_decl.hpp
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
Labels: AT: AUTOMERGE, impacting: documentation, pkg: MueLu

#7782 Add Debug build into config map
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/PullRequestLinuxGCC7.2.0DebugTestingSettings.cmake
Labels: AT: AUTOMERGE

#7831 MueLu: remove "old" regionMG MatVec w/ doubled communication
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7783 FEI patch for astra from Mike glass.
  packages/fei/base/fei_EqnCommMgr.cpp
Labels: AT: AUTOMERGE, pkg: FEI

#7773 Tpetra: optionally disable ownership check in FECrsGraph
  packages/tpetra/core/src/Tpetra_FECrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsGraph_def.hpp
Labels: client: Albany, pkg: Tpetra

#7836 Patch an issue that seems unique to certain clang builds.
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldParallel.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommImplUtils.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommImplUtils.hpp
Labels: AT: AUTOMERGE, pkg: STK

#7823 Tpetra: SpMV performance comparison
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/SpMVPerformance.cpp
Labels: pkg: Tpetra

#7757 Ifpack2: Integrate Kokkos Kernels spiluk and sptrsv into Ifpack2
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_IlukGraph.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestIlukGraph.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestLocalSparseTriangularSolver.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSingleProcessRILUK.cpp
  packages/kokkos-kernels/src/sparse/KokkosSparse_spiluk.hpp
  packages/kokkos-kernels/src/sparse/KokkosSparse_spiluk_handle.hpp
  packages/kokkos-kernels/src/sparse/KokkosSparse_sptrsv_handle.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spiluk_numeric_spec.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spiluk_symbolic_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_sptrsv_cuSPARSE_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_trsv_impl.hpp
  packages/kokkos-kernels/unit_test/sparse/Test_Sparse_trsv.hpp
Labels: AT: AUTOMERGE, PA: Framework, client: Sierra, pkg: Ifpack2, type: enhancement

#7850 Change test timeouts from DART_TESTING_TIMEOUT to CTEST_TEST_TIMEOUT
  cmake/std/PullRequestLinuxGCC7.2.0DebugTestingSettings.cmake
Labels: AT: AUTOMERGE

#7848 Set KSPILUK as an option
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRILUK.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSingleProcessRILUK.cpp
Labels: AT: AUTOMERGE, PA: Framework, client: Sierra, pkg: Ifpack2, type: enhancement

#7856 Tempus: Timeouts on Explicit ASA, DIRK ASA and HHT-Alpha Tests
  packages/tempus/test/DIRK/Tempus_DIRK_ASA.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_ASA.cpp
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
Labels: pkg: Tempus, type: bug

#7851 Sacado: Make DynRankView_Fad fencing consistent
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
Labels: pkg: Sacado

#7842 Intrepid2 fences for CUDA_LAUNCH_BLOCKING=0
  packages/intrepid2/unit-test/Cell/test_03.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/SubBasisInclusionTests.cpp
  packages/intrepid2/unit-test/Discretization/FunctionSpaceTools/test_03.hpp
  packages/intrepid2/unit-test/Discretization/Integration/test_util.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TET.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TRI.hpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/IntegratedJacobiTests.cpp
Labels: pkg: Intrepid2

#7855 Tempus: update embedded error estimate norm
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#7843 Intrepid2: vectorNorm fencing
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefPhysToRef.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_HEX_C1_FEM/test_02.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_01.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_02.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_03.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_04.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_05.hpp
  packages/intrepid2/unit-test/Shared/RealSpaceTools/test_01.hpp
Labels: pkg: Intrepid2

#7752 Amesos2: Stokhos: Fix Basker TypeMap to not use static for dtype
  packages/amesos2/src/Amesos2_Basker_TypeMap.hpp
  packages/amesos2/src/Amesos2_Basker_decl.hpp
  packages/stokhos/src/sacado/kokkos/vector/amesos2/Amesos2_Basker_MP_Vector.hpp
Labels: AT: WIP, pkg: Amesos2, pkg: Stokhos

#7867 MueLu: single point structured coarsening
  packages/muelu/src/Graph/HybridAggregation/MueLu_HybridAggregationFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_GlobalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/coupled/MueLu_LocalLexicographicIndexManager_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/uncoupled/MueLu_UncoupledIndexManager_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/uncoupled/MueLu_UncoupledIndexManager_def.hpp
  packages/muelu/test/structured/CMakeLists.txt
  packages/muelu/test/structured/structured_scp_1dof.xml
  packages/muelu/test/structured/structured_sparc_1dof.xml
  packages/muelu/test/unit_tests/IndexManager.cpp
  packages/muelu/test/unit_tests/StructuredAggregationFactory.cpp
Labels: AT: AUTOMERGE, AT: RETEST, client: SPARC, type: enhancement

#7841 Tempus: Bug in RK Forward Euler with FSAL
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BDF2/Tempus_BDF2_ASA.cpp
  packages/tempus/test/BDF2/Tempus_BDF2_FSA.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos_AdaptDt.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos_SA.xml
  packages/tempus/test/TestModels/DahlquistTestModel_decl.hpp
  packages/tempus/test/TestModels/DahlquistTestModel_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_ForwardEuler.cpp
Labels: client: Albany, pkg: Tempus, type: bug

#7869 Tempus: just some minor bug fixes
  packages/tempus/src/Tempus_IntegratorObserverBasic_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
Labels: AT: AUTOMERGE, client: Drekar, client: EMPIRE, pkg: Tempus

#7870 MueLu: Update/fix MueMex build (matlab interface)
  packages/ml/matlab/CMakeLists.txt
  packages/muelu/CMakeLists.txt
  packages/muelu/matlab/bin/CMakeLists.txt
  packages/muelu/matlab/bin/muemex.cpp
  packages/muelu/matlab/bin/muemex.h
  packages/muelu/matlab/src/MueLu_MatlabUtils_def.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: MueLu

#7884 MueLu: quick fix for NotayAggregates unit-test
  packages/muelu/test/unit_tests/NotayAggregationFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#7864 Panzer: Fix PanzerDofMgr_tFilteredUGI_MPI_2 test for CUDA_LAUNCH_BLOCKING=0
  packages/panzer/dof-mgr/src/Panzer_Filtered_GlobalIndexer.cpp
Labels: pkg: Panzer

#7879 Panzer: Fix MDField reads for host
  packages/panzer/disc-fe/test/evaluator_tests/dof_basistobasis.cpp
  packages/panzer/disc-fe/test/evaluator_tests/dof_pointfield.cpp
Labels: pkg: Panzer

#7886 Panzer: Fix basis_times_vector.cpp for CUDA_LAUNCH_BLOCKING=0
  packages/panzer/adapters-stk/test/evaluator_tests/basis_times_vector.cpp
Labels: pkg: Panzer

#7874 Ifpack hypre
  packages/ifpack/src/CMakeLists.txt
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/ifpack/src/Ifpack_Hypre.h
  packages/ifpack/src/Ifpack_ValidParameters.cpp
  packages/ifpack/test/CMakeLists.txt
  packages/ifpack/test/Hypre/hypre_UnitTest.cpp
  packages/ifpack/utils/parseHypre.py
Labels: pkg: Ifpack

#7871 Panzer: Add fences for BasisValues2
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
Labels: pkg: Panzer

#7866 Re-enable the three tempus tests listed in #7861
  cmake/std/PullRequestLinuxGCC7.2.0DebugTestingSettings.cmake
Labels: AT: AUTOMERGE

#7887 Panzer: Fix point_basis_values_evaluator for CUDA_LAUNCH_BLOCKING=0
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
Labels: pkg: Panzer

#7876 Panzer: Fix PanzerDiscFE_LinearObjFactory_Tests_MPI_2 for CUDA_LAUNCH…
  packages/panzer/disc-fe/src/Panzer_TpetraVector_ReadOnly_GlobalEvaluationData_impl.hpp
Labels: pkg: Panzer

#7901 Muelu: guard Stratimikos test via CMake
  packages/muelu/test/maxwell/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#7904 ATDM/apps: Turn fPIC on by default
  cmake/std/atdm/apps/empire/EMPIRETrilinosEnables.cmake
Labels: AT: AUTOMERGE

#7902 Panzer: Protect evaluateFields with fence
  packages/phalanx/src/Phalanx_DAG_Manager_Def.hpp
Labels: pkg: Panzer

#7910 Panzer: add append to restart support for stk_interface and exodus
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusRestartAndAppend.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#7912 MueLu: Update RegionRFactory unit test to use coordinate maps
  packages/muelu/test/unit_tests/RegionRFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7914 Sacado: Fence review
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/KokkosExp_View_Fad_Contiguous.hpp
Labels: pkg: Sacado

#7918 Trilinos: fix links in README
  README
  README.md
Labels: AT: AUTOMERGE, PA: Framework, impacting: documentation

#7916 Tempus: set Rel/Abs to currentstate for optimal initdt
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
Labels: AT: AUTOMERGE, pkg: Tempus

#7922 Trilinos: Update README.md
  README.md
Labels: AT: AUTOMERGE, impacting: documentation

#7896 Framework: PR Driver Script Change Detection
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxDriverMerge.py
Labels: PA: Framework

#7908 Muelu: add region MG examples
  packages/muelu/research/regionMG/CMakeLists.txt
  packages/muelu/research/regionMG/example/CMakeLists.txt
  packages/muelu/research/regionMG/example/amg_1dof.xml
  packages/muelu/research/regionMG/example/elasticity_3d.xml
  packages/muelu/research/regionMG/example/poisson_3d.xml
  packages/muelu/research/regionMG/example/structured_unstructured_1dof.xml
Labels: pkg: MueLu

#7927 Piro: Add accessors needed for Arctic Coastal Erosion thermomechanical coupling in Albany
  packages/piro/src/Piro_TrapezoidRuleSolver.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
Labels: AT: AUTOMERGE, client: LCM, pkg: Piro

#7928 Piro: fix incorrect calculation of trapezoid rule time step
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
Labels: AT: AUTOMERGE, client: LCM, pkg: Piro

#7945 Panzer: restart append can now overwrite previous exodus steps
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusRestartAndAppend.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#7940 Tempus: Split StepperFactory.hpp.
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_StepperFactory.cpp
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperFactory_decl.hpp
  packages/tempus/src/Tempus_StepperFactory_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_StepperSubcyclingAppAction.hpp
  packages/tempus/unit_test/Tempus_UnitTest_OperatorSplit.cpp
Labels: pkg: Tempus

#7937 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20200831_000609 branch to master
  README
  README.md
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxDriverMerge.py
  packages/kokkos/cmake/kokkos_tribits.cmake
  packages/kokkos/containers/src/Kokkos_DynamicView.hpp
  packages/muelu/research/regionMG/CMakeLists.txt
  packages/muelu/research/regionMG/example/CMakeLists.txt
  packages/muelu/research/regionMG/example/amg_1dof.xml
  packages/muelu/research/regionMG/example/elasticity_3d.xml
  packages/muelu/research/regionMG/example/poisson_3d.xml
  packages/muelu/research/regionMG/example/structured_unstructured_1dof.xml
  packages/muelu/test/unit_tests/RegionRFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusRestartAndAppend.cpp
  packages/piro/src/Piro_TrapezoidRuleSolver.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/KokkosExp_View_Fad_Contiguous.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
Labels: PA: Framework
