Repository trilinos/Trilinos, pull requests merged in 2020-11, with the labels that each got.

#8274 Muelu: remove code duplicates in BlockedCoarseMapFactory
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedCoarseMapFactory_decl.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedCoarseMapFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_CoarseMapFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_CoarseMapFactory_def.hpp
  packages/muelu/test/unit_tests/BlockedCoarseMapFactory.cpp
  packages/muelu/test/unit_tests/CoarseMapFactory.cpp
  packages/xpetra/src/Map/Xpetra_MapFactory_decl.hpp
  packages/xpetra/src/Map/Xpetra_MapFactory_def.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory_decl.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMapFactory_def.hpp
  packages/xpetra/test/Map/StridedMapFactory_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#8287 Framework: PR Driver Console Log Cleanup
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/common.bash
  cmake/std/trilinosprhelpers/TrilinosPRConfigurationBase.py
  cmake/std/trilinosprhelpers/TrilinosPRConfigurationInstallation.py
  cmake/std/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  cmake/std/trilinosprhelpers/setenvironment/SetEnvironment.py
  cmake/std/trilinosprhelpers/setenvironment/unittests/test_SetEnvironment.py
Labels: AT: AUTOMERGE, PA: Framework

#8280 Xpetra: cleanup and tests for blocked operators
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_MapExtractorFactory.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_MapExtractor_decl.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_MapExtractor_def.hpp
  packages/xpetra/test/BlockedCrsMatrix/BlockedCrsMatrix_UnitTests.cpp
  packages/xpetra/test/BlockedMultiVector/BlockedMultiVector_UnitTests.cpp
  packages/xpetra/test/BlockedMultiVector/ThyraBlockedMultiVector_UnitTests.cpp
  packages/xpetra/test/CMakeLists.txt
  packages/xpetra/test/MapExtractor/CMakeLists.txt
  packages/xpetra/test/MapExtractor/MapExtractorFactory_UnitTests.cpp
Labels: pkg: Xpetra

#8304 Panzer GlobalIndexer: Fix small issue for no-UVM build
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Panzer

#8269 Reduce clang warning from Teuchos
  packages/teuchos/core/src/Teuchos_ScalarTraits.hpp
  packages/teuchos/core/src/Teuchos_as.hpp
  packages/teuchos/core/test/TypeConversions/TypeConversions_UnitTest.cpp
Labels: AT: AUTOMERGE, AT: STALE

#8297 zoltan & zoltan2: minor changes to remove compiler warnings with Clang10
  packages/zoltan/src/driver/dr_chaco_io.c
  packages/zoltan/src/driver/dr_gnuplot.c
  packages/zoltan/src/driver/dr_random_io.c
  packages/zoltan/src/tpls/postprocessing.c
  packages/zoltan/test/Large_Data/stressTestColor.c
  packages/zoltan/test/Large_Data/stressTestPHG.c
  packages/zoltan2/test/core/helpers/GeometricGenerator.hpp
  packages/zoltan2/test/core/partition/MultiJaggedTest.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan, pkg: Zoltan2

#8307 Tpetra: fix typo in test instantiation
  packages/tpetra/core/test/MultiVector/Vector_offsetViewCtor.cpp
Labels: AT: AUTOMERGE

#8311 Geminga: Set paths for NetCDF and Boost
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8313 Teuchos: proper rendering of code examples in Doxygen html page
  packages/teuchos/core/src/Teuchos_CompilerCodeTweakMacros.hpp
Labels: AT: AUTOMERGE, pkg: Teuchos

#8298 MueLu: Fix spread lumping when using BuildNew() version of filtered matrix
  packages/muelu/src/Misc/MueLu_FilteredAFactory_def.hpp
Labels: AT: AUTOMERGE

#8314 Geminga: Disable TPL Matio
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_cuda_no_uvm_geminga.cmake
Labels: AT: AUTOMERGE

#8316 TrilinosCouplings: Updates to example_Maxwell
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8301 MueLu: add unit test for Utilities::Transpose
  packages/muelu/test/unit_tests/Utilities.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8324 Add flags left behind in GCC 4.8.4 when moving to C++14
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8319 MueLu: regionMG remove multiple regions per proc std::vector
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionUtilities.hpp
  packages/muelu/research/regionMG/src/SetupRegionVector_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8323 stk snapshot as of 11/08/2020
  packages/stk/stk_balance/Jamfile
  packages/stk/stk_doc_tests/stk_io/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_simd/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_topology/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_util/CMakeLists.txt
  packages/stk/stk_expreval/unit_tests/CMakeLists.txt
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/cuda_recipe
  packages/stk/stk_integration_tests/cmake_install_test/run_cmake_stk
  packages/stk/stk_integration_tests/stk_balance/CMakeLists.txt
  packages/stk/stk_integration_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_integration_tests/stk_transfer/CMakeLists.txt
  packages/stk/stk_io/stk_io/SidesetUpdater.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkModification.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommImplUtils.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommVerify.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshImplUtils.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/Visitors.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ElemElemGraph.cpp
  packages/stk/stk_performance_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_search/integrationtest/CMakeLists.txt
  packages/stk/stk_search/unit_tests/CMakeLists.txt
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_balance/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_balance/UnitTestGeometricMethodsWithSelector.cpp
  packages/stk/stk_unit_tests/stk_io/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_math/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestMeshImplUtils.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestVisitAura.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpParallelSumTest.cpp
  packages/stk/stk_unit_tests/stk_ngp_test/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_simd/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_simd_old/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_tools/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_topology/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_transfer/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_util/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_util/parallel/CMakeLists.txt
  packages/stk/stk_util/stk_util/environment/Trace.cpp
  packages/stk/stk_util/stk_util/environment/Trace.hpp
  packages/stk/stk_util/stk_util/parallel/MPI.hpp
Labels: AT: AUTOMERGE, pkg: STK

#8322 Framework: Remove Python 2 use from PR test driver
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxPython3.cmake
  cmake/std/common.bash
  cmake/std/pr_config/pullrequest.ini
  cmake/std/pr_python_test_driver.sh
  cmake/std/trilinosprhelpers/TrilinosPRConfigurationBase.py
  cmake/std/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  cmake/std/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  cmake/std/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  cmake/std/trilinosprhelpers/unittests/trilinos_pr_test.ini
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
  packages/teuchos/core/src/Teuchos_toString.hpp
Labels: AT: AUTOMERGE, PA: Framework

#8330 MueLu: option to print level data info
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.cpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8329 Minor fix to includes.
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
Labels: AT: AUTOMERGE, pkg: Panzer

#8326 MueLu: fix region unit tests
  packages/muelu/test/unit_tests/RegionMatrix.cpp
  packages/muelu/test/unit_tests/RegionRFactory.cpp
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: pkg: MueLu

#8331 Xpetra: remove obsolete CMake commands
  packages/xpetra/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Xpetra

#8340 Change Trilinos/TriBITS default of ETI to ON (#8130)
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
Labels: AT: AUTOMERGE, PA: Framework, TriBITS

#8315 Framework: Update Version.cmake
  Version.cmake
Labels: AT: AUTOMERGE

#8344 Windows: remove obsolete winmath.h
  packages/intrepid/src/Shared/Intrepid_BurkardtRulesDef.hpp
  packages/intrepid/src/Shared/Intrepid_PointToolsDef.hpp
  packages/intrepid/src/Shared/Intrepid_PolylibDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_PointToolsDef.hpp
  packages/rythmos/test/ConvergenceTest/Rythmos_ConvergenceTestHelpers.cpp
  packages/sacado/test/tradoptest/tradoptest_47.cpp
Labels: AT: AUTOMERGE

#8342 Ifpack2/MueLu: Add timers
  packages/ifpack2/src/Ifpack2_BlockRelaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: pkg: Ifpack2, pkg: MueLu

#8346 Tpetra: applyDirichlet BCs helper routine update
  packages/tpetra/core/src/Tpetra_applyDirichletBoundaryCondition.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8267 Tpetra: Fix some illegal device accesses in FixedHashTable
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_decl.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8354 zoltan: 1400 download page is being retired
  packages/zoltan/doc/Zoltan_html/Zoltan.html
  packages/zoltan/doc/Zoltan_html/Zoltan_FAQ.html
  packages/zoltan/doc/Zoltan_html/Zoltan_bugreport.html
  packages/zoltan/doc/Zoltan_html/Zoltan_cite.html
  packages/zoltan/doc/Zoltan_html/Zoltan_phil.html
  packages/zoltan/doc/Zoltan_html/Zoltan_pubs.html
  packages/zoltan/doc/Zoltan_html/dev_html/dev.html
  packages/zoltan/doc/Zoltan_html/ug_html/ug.html
Labels: AT: AUTOMERGE, pkg: Zoltan

#8357 Percept snapshot as of 11/16/2020
  packages/percept/src/adapt/CMakeLists.txt
  packages/percept/src/adapt/FixSideSets.cpp
  packages/percept/src/adapt/FixSideSetsSelector.hpp
  packages/percept/src/adapt/RefinerPattern_Line2_Line2_N.hpp
  packages/percept/src/adapt/RefinerPattern_Tri3_Tri3_N.hpp
  packages/percept/src/adapt/RefinerPattern_Wedge6_Het_N.hpp
  packages/percept/src/adapt/RefinerUnrefine.cpp
  packages/percept/src/adapt/UniformRefinerPattern_Line2_Line2_2_sierra.hpp
  packages/percept/src/adapt/UniformRefinerPattern_ShellLine2_ShellLine2_2_sierra.hpp
  packages/percept/src/adapt/main/CMakeLists.txt
  packages/percept/src/percept/MeshType.hpp
  packages/percept/src/percept/PerceptMesh.cpp
  packages/percept/src/percept/RebalanceMesh.cpp
  packages/percept/src/percept/function/MDArray.hpp
  packages/percept/src/percept/math/DenseMatrix.hpp
  packages/percept/src/percept/mesh/geometry/stk_geom/3D/.gitignore
  packages/percept/src/percept/mesh/geometry/stk_geom/3D/FitGregoryPatches.cpp
  packages/percept/src/percept/mesh/geometry/volume/sierra_only/FiniteVolumeMesh.hpp
  packages/percept/src/percept/mesh/mod/smoother/GenericAlgorithm_total_element_metric.cpp
  packages/percept/src/percept/mesh/mod/smoother/GenericAlgorithm_update_coordinates.cpp
  packages/percept/src/percept/mesh/mod/smoother/ReferenceMeshSmootherConjugateGradientDef.hpp
  packages/percept/src/percept/mesh/mod/smoother/SmootherMetric.hpp
  packages/percept/src/percept/mesh/mod/smoother/get_alpha_0_refmesh.hpp
  packages/percept/src/percept/mesh/mod/smoother/get_edge_len_avg.hpp
  packages/percept/src/percept/mesh/mod/smoother/gradient_functors.hpp
  packages/percept/src/percept/norm/Norm.hpp
  packages/percept/src/percept/structured/StructuredGridRefinerDef.hpp
Labels: AT: AUTOMERGE, pkg: Percept

#7562 Fix TPL usage in Amesos2 (#7536)
  packages/amesos2/CMakeLists.txt
  packages/amesos2/cmake/Dependencies.cmake
Labels: AT: AUTOMERGE, impacting: build, impacting: tests, type: bug

#8351 Tpetra: Cleaning up FixedHashTable class #8350
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
  packages/tpetra/core/test/HashTable/FixedHashTableTest.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8321 Tempus: Remove ParameterList from TimeStepControl
  packages/piro/test/_input_Tempus_BackwardEuler_SinCos.xml
  packages/rol/example/tempus/example_01.xml
  packages/rol/example/tempus/example_parabolic.xml
  packages/rol/example/tempus/example_sincos.xml
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_StepperFactory_impl.hpp
  packages/tempus/src/Tempus_StepperSubcycling_impl.hpp
  packages/tempus/src/Tempus_TimeStepControl.cpp
  packages/tempus/src/Tempus_TimeStepControlStrategy.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyBasicVS.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyComposite.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyConstant.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
  packages/tempus/src/Tempus_TimeStepControl_decl.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_CDR.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos_AdaptDt.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SinCos_SA.xml
  packages/tempus/test/BDF2/Tempus_BDF2_SteadyQuadratic.xml
  packages/tempus/test/BDF2/Tempus_BDF2_VanDerPol.xml
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_CDR.xml
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_SinCos.xml
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_SteadyQuadratic.xml
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_VanDerPol.xml
  packages/tempus/test/DIRK/Tempus_DIRK_SinCos.xml
  packages/tempus/test/DIRK/Tempus_DIRK_SteadyQuadratic.xml
  packages/tempus/test/DIRK/Tempus_DIRK_VanDerPol.xml
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_SinCos.xml
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_SteadyQuadratic.xml
  packages/tempus/test/ForwardEuler/Tempus_ForwardEuler_SinCos.xml
  packages/tempus/test/ForwardEuler/Tempus_ForwardEuler_VanDerPol.xml
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RK_VanDerPol.xml
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_VanDerPol.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref2.xml
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplit_VanDerPol.xml
  packages/tempus/test/PhysicsState/Tempus_PhysicsState_SinCos.xml
  packages/tempus/test/Subcycling/Tempus_Subcycling_SinCos.xml
  packages/tempus/test/Trapezoidal/Tempus_Trapezoidal_SinCos.xml
  packages/tempus/test/Trapezoidal/Tempus_Trapezoidal_VanDerPol.xml
  packages/tempus/unit_test/Tempus_UnitTest_ERK_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Subcycling.cpp
Labels: pkg: Tempus

#8355 Trilinos: Remove patch file
  patch_modelproblems.diff
Labels: AT: AUTOMERGE, pkg: ShyLU

#8370 MueLu RefMaxwell: Short circuit on diagonal matrix, add new solve mode
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8373 Tempus remove duplicate tscs
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
Labels: AT: AUTOMERGE

#8367 Zoltan2: Sphynx: Add a first draft of documentation.
  packages/zoltan2/doc/algorithm/partition.dox
  packages/zoltan2/doc/algorithm/sphynx.dox
Labels: AT: AUTOMERGE, pkg: Zoltan2

#8377 Panzer: speed up cuda builds of IntegrationValues and PointValues
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_PointValues2.cpp
  packages/panzer/disc-fe/test/core_tests/point_values2.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#8380 ShyLU_DD/FROSch: Fixing FROSCH_TIMER_DETAILS=2
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Timers.h
Labels: AT: AUTOMERGE, pkg: ShyLU

#8359 Kokkos promotion to 3.2.01
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/master_history.txt
  packages/kokkos/BUILD.md
  packages/kokkos/CHANGELOG.md
  packages/kokkos/CMakeLists.txt
  packages/kokkos/README.md
  packages/kokkos/cmake/fake_tribits.cmake
  packages/kokkos/cmake/kokkos_arch.cmake
  packages/kokkos/cmake/kokkos_enable_options.cmake
  packages/kokkos/cmake/kokkos_functions.cmake
  packages/kokkos/cmake/kokkos_tpls.cmake
  packages/kokkos/cmake/kokkos_tribits.cmake
  packages/kokkos/containers/src/Kokkos_DynamicView.hpp
  packages/kokkos/core/src/Cuda/Kokkos_CudaSpace.cpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.hpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel.hpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Parallel_Range.hpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Parallel_Team.hpp
  packages/kokkos/core/src/Kokkos_HPX.hpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Parallel.hpp
  packages/kokkos/core/src/Threads/Kokkos_Threads_Parallel.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  packages/kokkos/core/unit_test/CMakeLists.txt
  packages/kokkos/master_history.txt
Labels: AT: AUTOMERGE, pkg: Kokkos, pkg: KokkosKernels

#8379 Tpetra: add getEntriesOnHost
  packages/tpetra/core/src/Tpetra_Details_getEntryOnHost.hpp
  packages/tpetra/core/test/Utils/getEntryOnHost.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8384 MueLu: Reduce the size of an elasticity test to speedup the testsuite
  packages/muelu/research/regionMG/test/structured/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#8383 Framework: Add GitHub Actions script to close stale issues and PR's
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8394 First set of changes to facilitate adoption of ATDM Trilinos configuration into SPARC TPL installer (ATDV-408)
  cmake/std/atdm/apps/sparc/SPARCMiniTrilinosPackagesList.cmake
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/utils/atdm_config_helper_funcs.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#8366 Framework: Improve support for LMOD module() command
  cmake/std/trilinosprhelpers/setenvironment/ModuleHelper.py
  cmake/std/trilinosprhelpers/setenvironment/SetEnvironment.py
  cmake/std/trilinosprhelpers/setenvironment/unittests/test_ModuleHelper.py
  cmake/std/trilinosprhelpers/setenvironment/unittests/test_SetEnvironment.py
Labels: AT: AUTOMERGE, PA: Framework

#8376 Remove javascript files
  doc/DocumentingParameterLists/webfiles/bootstrap/js/bootstrap.js
  doc/DocumentingParameterLists/webfiles/bootstrap/js/bootstrap.min.js
Labels: AT: AUTOMERGE

#8393 Sacado: A few fixes for converting SPARC to use the Sacado View spec.
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/KokkosExp_View_Fad_Contiguous.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_StaticFixedStorage.hpp
Labels: AT: AUTOMERGE, pkg: Sacado
