Repository trilinos/Trilinos, pull requests merged in 2020-03, with the labels that each got.

#6912 Use OrthoManagerFactory in Belos' block GMRES
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/tpetra/test/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_hb.cpp
Labels: pkg: Belos

#6921 Tpetra warning
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6919 shylubasker,amesos2: updates for kokkos v3 release
  packages/amesos2/src/Amesos2_ShyLUBasker.cpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/shylu/shylu_node/basker/src/CMakeLists.txt
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/test/amesos2_interface_coverage_test.cpp
  packages/shylu/shylu_node/basker/test/basker_test_inc.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#6913 StackedTimer XML output for Watchr
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/MatrixMatrixMultiply.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/test/StackedTimer/stacked_timer.cpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_main.cpp
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.hpp
Labels: pkg: MueLu, pkg: Teuchos, pkg: Tpetra

#6874 MueLu Region cheby switched to use existing region smoother setup
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6918 Make work with /bin/sh and not just bash on 'vortex'
  cmake/std/atdm/load-env.sh
Labels: AT: AUTOMERGE, ATDM Config, client: ATDM, type: enhancement

#6936 ML: More experimental RefMaxwell stuff
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.cpp
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.h
  packages/ml/test/RefMaxwell/cxx_main.cpp
Labels: AT: AUTOMERGE, pkg: ML

#6939 MueLu: Require Belos-Xpetra adapter when using Belos in MueLu
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/src/Smoothers/MueLu_BelosSmoother_def.hpp
Labels: pkg: MueLu

#6925 Intrepid2: fixed #6924 (incorrect OPERATOR_D3 output for C1 Hex basis).
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_C1_FEMDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_TestUtils.hpp
  packages/intrepid2/src/Shared/Intrepid2_ViewIterator.hpp
  packages/intrepid2/unit-test/Discretization/Basis/BasisEquivalenceTests.cpp
  packages/intrepid2/unit-test/Discretization/Basis/CMakeLists.txt
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_HEX_C1_FEM/test_01.hpp
  packages/intrepid2/unit-test/Discretization/Basis/UnitTestMain.cpp
Labels: AT: AUTOMERGE

#6943 Add Clang 7.0.1 PR build
  cmake/std/PullRequestLinuxClang7.0.1TestingSettings.cmake
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/sems/PullRequestClang7.0.1TestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework, type: enhancement

#6947 Add intel-complex-openmp-opt-KNL for ATS-1 'mutrino' for GEMMA (ATDV-296)
  cmake/ctest/drivers/atdm/mutrino/drivers/Trilinos-atdm-mutrino-intel-complex-openmp-opt-KNL.sh
  cmake/std/atdm/ATDMDisables.cmake
  cmake/std/atdm/mutrino/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: Gemma

#6948 MueLu: Adding max iters control to Maxwell3D test
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6950 RHEL7 TrilinosCouplings: Fixing dynamic_profile issue
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp
Labels: AT: AUTOMERGE

#6952 Belos smoother: Fix #6932
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/src/Smoothers/MueLu_BelosSmoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_BelosSmoother_def.hpp
  packages/muelu/test/unit_tests/Smoothers/BelosSmoother.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6707 Replace kokkos c++11 impl
  packages/PyTrilinos/src/Tpetra.i
  packages/intrepid2/src/Shared/Intrepid2_RealSpaceToolsDef.hpp
  packages/minitensor/src/MiniTensor_Utilities.h
  packages/muelu/test/scaling/JacobiKernelDriver.cpp
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
  packages/muelu/test/scaling/TwoMatrixMMKernelDriver.cpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_CrsMatrixTools.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_DenseMatrixBase.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_DenseMatrixTools.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_ConjTrans_NoTrans_DenseByBlocks.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_ConjTrans_NoTrans_ExternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_ConjTrans_NoTrans_InternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_NoTrans_NoTrans_DenseByBlocks.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_NoTrans_NoTrans_ExternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Gemm_NoTrans_NoTrans_InternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Herk_Upper_ConjTrans_ExternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_MatrixMarket.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Trsm_Left_Upper_ConjTrans_ExternalBlas.hpp
  packages/shylu/shylu_node/tacho/deprecated/tacho-ver2016/src/Tacho_Trsm_Left_Upper_NoTrans_ExternalBlas.hpp
  packages/stokhos/src/kokkos/Stokhos_CooProductTensor.hpp
  packages/stokhos/src/kokkos/Stokhos_CrsProductTensor.hpp
  packages/stokhos/src/kokkos/Stokhos_FlatSparse3Tensor.hpp
  packages/stokhos/src/kokkos/Stokhos_FlatSparse3Tensor_kji.hpp
  packages/stokhos/src/kokkos/Stokhos_SimpleTiledCrsProductTensor.hpp
  packages/stokhos/src/kokkos/Stokhos_StochasticProductTensor.hpp
  packages/stokhos/src/kokkos/Stokhos_TiledCrsProductTensor.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Tpetra_KokkosRefactor_Details_MultiVectorDistObjectKernels_MP_Vector.hpp
  packages/stokhos/test/Performance/FadMPAssembly/TestAssembly.hpp
  packages/stokhos/test/Performance/FadMPAssembly/VectorImport.hpp
  packages/stokhos/test/Performance/FadMPAssembly/fenl_functors.hpp
  packages/stokhos/test/Performance/KokkosArraySPMVKernels/TestHost.cpp
  packages/stokhos/test/Performance/KokkosArraySPMVKernels/TestStochastic.hpp
  packages/stokhos/test/Performance/MPAssembly/TestAssembly.hpp
  packages/stokhos/test/Performance/MPAssembly/VectorImport.hpp
  packages/stokhos/test/Performance/MPAssembly/fenl_functors.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewFadMPVectorUnitTest.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewMPVectorUnitTest.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewUQPCEUnitTest.hpp
  packages/teuchos/kokkoscomm/src/Kokkos_TeuchosCommAdapters.hpp
  packages/tpetra/core/src/Tpetra_Details_normImpl.hpp
  packages/trilinoscouplings/examples/fenl/fenl_ensemble.hpp
  packages/xpetra/src/BlockedMultiVector/Xpetra_BlockedMultiVector_decl.hpp
  packages/xpetra/src/BlockedVector/Xpetra_BlockedVector_decl.hpp
  packages/xpetra/src/BlockedVector/Xpetra_BlockedVector_def.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraVector.hpp
  packages/xpetra/src/Vector/Xpetra_TpetraVector_decl.hpp
  packages/xpetra/src/Vector/Xpetra_TpetraVector_def.hpp
  packages/xpetra/src/Vector/Xpetra_Vector.hpp
Labels: pkg: Kokkos

#6958 Fix two bugs associated with mask traits
  packages/stokhos/src/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits.hpp
Labels: AT: AUTOMERGE

#6956 Testing: geminga: fix bug in ssh python script
  cmake/ctest/drivers/geminga/setSshEnv.py
Labels: AT: AUTOMERGE, pkg: MueLu

#6959 KokkosKernels - replace dimension with extent
  packages/kokkos-kernels/src/batched/KokkosBatched_Gemm_Serial_Impl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Gemv_Serial_Impl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_LU_Serial_Impl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Trsm_Serial_Impl.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Util.hpp
  packages/kokkos-kernels/src/batched/KokkosBatched_Vector_SIMD_View.hpp
Labels: AT: AUTOMERGE

#6960 MueLu ParameterListInterpreter test: run single-threaded
  packages/muelu/test/interface/CMakeLists.txt
  packages/muelu/test/interface/default/Output/aggregatequalities_epetra.gold
  packages/muelu/test/interface/kokkos/Output/coarse1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/coarse2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_pg_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition3_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition4_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-S-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-full-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-none_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-3_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother12_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose3_np4_tpetra.gold
  packages/muelu/test/interface/rebase.sh
Labels: pkg: MueLu

#6962 MueLu: Matlab support improvements
  packages/muelu/matlab/bin/CMakeLists.txt
  packages/muelu/matlab/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#6868 Kokkos: Make sure semicolons are not deleted in KokkosConfig_install.cmake
  packages/kokkos/cmake/kokkos_install.cmake
Labels: pkg: Kokkos

#6972 Create Clang 9.0.0 PR build
  cmake/std/PullRequestLinuxClang9.0.0TestingSettings.cmake
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/sems/PullRequestClang9.0.0TestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: Framework tasks

#6974 MueLu: Minor RefMaxwell changes
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6980 PR Script Cleaning
  cmake/std/PullRequestLinuxDriverMerge.py
  cmake/std/PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#6975 shylubasker: fix transpose solve, add test
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/test/CMakeLists.txt
  packages/shylu/shylu_node/basker/test/simple_test_check.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#6988 ATDM: sems-rhel7: Default define SEMS modules (#6986)
  cmake/std/atdm/README.md
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#6984 Galeri: correction of a CMake error
  packages/galeri/src-epetra/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Galeri

#6985 Panzer: added periodic matcher queries
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_MatchConditions.hpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_bcs.cpp
Labels: AT: AUTOMERGE, pkg: Panzer

#6983 Bring compareTestOutput up to python 2.7 or above
  commonTools/test/utilities/compareTestOutput
Labels: pkg: ML

#6990 MueLu: Attempt to fix testing
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#7000 Panzer: more changes for periodic wedge support
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_MatchConditions.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Parser.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_bcs.cpp
Labels: PA: Discretizations, client: EMPIRE, pkg: Panzer

#6992 Tpetra: Fixes Issue #6987
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
  packages/tpetra/core/test/Directory/CMakeLists.txt
  packages/tpetra/core/test/Directory/Directory_Issue6987.cpp
Labels: pkg: Tpetra

#6994 Tempus: Add Ability to Get the RK Stage Number
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_5Stage5thOrder.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tempus, type: enhancement

#7001 shylubasker: fix shylubasker transpose solve correctness in amesos2
  packages/amesos2/example/CMakeLists.txt
  packages/amesos2/example/SimpleSolveTranspose.cpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
Labels: AT: AUTOMERGE

#7003 Tempus: ERK - test stage number accessor
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
Labels: AT: AUTOMERGE

#7004 MueLu: Fix SuperLU settings for cuda builds
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_debug_muelu_kokkos_refactor_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_amgx_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_kokkos_refactor_cuda_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#6979 Tpetra: Adding more Distributor timers
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
Labels: pkg: Tpetra

#7006 Intrepid2: relaxed tolerances in two tests to allow intel builds to pass.
  packages/intrepid2/unit-test/Discretization/Basis/BasisEquivalenceTests.cpp
Labels: AT: AUTOMERGE

#7013 MueLu: Use github repo for nightly testing
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.clang.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.gcc.cmake
Labels: pkg: MueLu

#6998 STK: Simd volatile overloads
  packages/stk/CMakeLists.txt
  packages/stk/cmake/STK_Trilinos_config.h.in
  packages/stk/stk_simd/Jamfile
  packages/stk/stk_simd/stk_simd/Simd.hpp
  packages/stk/stk_simd/stk_simd/disimd/DISimdDouble.hpp
  packages/stk/stk_simd/stk_simd/disimd/avx.hpp
  packages/stk/stk_simd/stk_simd/disimd/avx512.hpp
  packages/stk/stk_simd/stk_simd/disimd/cuda_warp.hpp
  packages/stk/stk_simd/stk_simd/disimd/neon.hpp
  packages/stk/stk_simd/stk_simd/disimd/pack.hpp
  packages/stk/stk_simd/stk_simd/disimd/scalar.hpp
  packages/stk/stk_simd/stk_simd/disimd/simd.hpp
  packages/stk/stk_simd/stk_simd/disimd/simd_common.hpp
  packages/stk/stk_simd/stk_simd/disimd/sse.hpp
  packages/stk/stk_simd/stk_simd/disimd/vector_size.hpp
  packages/stk/stk_simd/stk_simd/disimd/vsx.hpp
  packages/stk/stk_unit_tests/stk_disimd/UnitTestStk_DISIMD_MathDouble.cpp
Labels: AT: AUTOMERGE, pkg: STK

#7015 Anasazi: remove deprecated use of Node object
  packages/anasazi/tpetra/src/TsqrTpetraTest.hpp
  packages/tpetra/tsqr/src/Tsqr_TestUtils.hpp
Labels: pkg: Anasazi

#6931 Muelu: PR to add an interface aggregation strategy (Aggregation algorithm for Lagrange multipliers)
  packages/muelu/src/Headers/MueLu_UseShortNamesOrdinal.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_InterfaceMappingTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceMappingTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_SchurComplementFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_def.hpp
  packages/muelu/src/Utils/ClassList/LO-GO-NO.classList
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_InterfaceAggregationFactory_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_InterfaceMappingTransferFactory_fwd.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/test/CMakeLists.txt
  packages/muelu/test/meshtying/CMakeLists.txt
  packages/muelu/test/meshtying/C_mm.txt
  packages/muelu/test/meshtying/GT_mm.txt
  packages/muelu/test/meshtying/G_mm.txt
  packages/muelu/test/meshtying/Lagr2Dof.txt
  packages/muelu/test/meshtying/MeshTyingBlocked_SimpleSmoother.cpp
  packages/muelu/test/meshtying/Q_mm.txt
  packages/muelu/test/meshtying/f_mm.txt
  packages/muelu/test/meshtying/myXML.xml
  packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7026 MueLu: Fix bad if-guard in StratimikosSmoother
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
Labels: pkg: MueLu

#7019 Tempus: clean tableaus for app
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
Labels: AT: AUTOMERGE

#7025 TSQR: Fix #7016 (shadowing warning)
  packages/tpetra/tsqr/src/Tsqr.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: Tpetra

#7030 Belos: Fix #7029 (jumbled output causing random test failure)
  packages/belos/tpetra/test/Native/nonsymm_matrix.cpp
Labels: AT: AUTOMERGE, pkg: Belos

#7023 Remove CTEST_NIGHTLY_START_TIME is it does nothing with git
  CTestConfig.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#7031 MueLu: Bug fixes
  packages/muelu/src/Misc/MueLu_RAPFactory_decl.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/muelu/test/meshtying/myXML.xml
Labels: pkg: MueLu

#7027 MueLu: Take two on aggregate quality
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_AggregateQualityEstimateFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/interface/default/Output/aggregatequalities_epetra.gold
  packages/muelu/test/interface/default/Output/aggregatequalities_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#7020 ATDM: ats2: Correctly build on compute node and run ctest from launch node (CDOFA-102)
  cmake/ctest/drivers/atdm/ats2/local-driver-single-build.sh
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
  cmake/std/atdm/common/define_atdm_run_script_on_local_node.sh
  cmake/std/atdm/common/define_run_on_local_node_func.sh
  cmake/std/atdm/common/define_run_on_slurm_compute_node_func.sh
  cmake/std/atdm/ctest-s-local-test-driver.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug

#7042 MueLu: Fix #7041
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/test/meshtying/myXML.xml
Labels: pkg: MueLu

#7040 Revert "Remove CTEST_NIGHTLY_START_TIME is it does nothing with git"
  CTestConfig.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: EMPIRE, type: bug

#6894 Intrepid2: Remove Deprecated View Types
  packages/intrepid2/src/Discretization/Basis/Intrepid2_Basis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HVOL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TRI_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TRI_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_WEDGE_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TRI_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TRI_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_WEDGE_I1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_Cn_FEM_JACOBI.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_PYR_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_COMP12_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEM_ORTH.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEM_ORTH.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_WEDGE_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_WEDGE_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_C0_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_HEX_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_LINE_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_QUAD_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TET_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TRI_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_LegendreBasis_HVOL_LINE.hpp
Labels: AT: STALE, pkg: Intrepid2

#6891 Thyra: Removed Deprecated printTestResults
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_TestingTools.cpp
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_TestingToolsDecl.hpp
Labels: AT: AUTOMERGE, pkg: Thyra

#7043 Tempus: update `gamma` for SSP2_222
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
Labels: AT: AUTOMERGE

#7044 MueLu: Fixes
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Smoothers/MueLu_DirectSolver_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
Labels: pkg: MueLu

#7014 PuLP interface in Zoltan2 bug fixes:
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgPuLP.hpp
  packages/zoltan2/test/unit/environment/AllParameters.cpp
Labels: impacting: build, pkg: Zoltan2

#7051 MueLu BelosSmoother: Catch smoother construction exceptions
  packages/muelu/src/Smoothers/MueLu_DirectSolver_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
Labels: pkg: MueLu

#6820 Phalanx: add safety check for corner case
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
Labels: AT: AUTOMERGE, AT: RETEST, AT: STALE, PA: Discretizations, pkg: Phalanx

#7052 PyTrilinos: Fix install error
  packages/PyTrilinos/src/PyTrilinos/Isorropia/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/LOCA/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/LOCA/Epetra/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/LOCA/Hopf/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/LOCA/Pitchfork/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/LOCA/TurningPoint/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/NOX/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/NOX/Epetra/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/NOX/PETSc/CMakeLists.txt
  packages/PyTrilinos/src/PyTrilinos/Teuchos/CMakeLists.txt
Labels: pkg: PyTrilinos

#7055 TSQR: Fix NodeTsqr benchmark output (NodeTsqr implementation labels)
  packages/tpetra/tsqr/test/Tsqr_TestNodeTsqr.cpp
Labels: AT: AUTOMERGE

#7062 Disable ShyLU_NodeTacho in all ATDM Trilinos builds (CDOFA-110)
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#7065 Revert KOKKOS_SIMD as the default under STK_SIMD
  packages/stk/CMakeLists.txt
  packages/stk/cmake/STK_Trilinos_config.h.in
Labels: AT: AUTOMERGE, pkg: STK

#7066 ATDM: ats2: Promote to 'ATDM' group (ATDV-311)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg.sh
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#7068 Stokhos: maintain ER build
  cmake/std/PullRequestLinuxGCC4.8.4TestingSettings.cmake
  packages/stokhos/src/sacado/kokkos/vector/Teuchos_LAPACK_MP_Vector.hpp
Labels: pkg: Stokhos

#7048 Use/test Orientation with Hierarchical basis
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_LegendreBasis_HVOL_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_NodalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefMatrixData.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyBasis.hpp
  packages/intrepid2/unit-test/Orientation/Serial/CMakeLists.txt
  packages/intrepid2/unit-test/Orientation/Serial/test_orientation_HEX_newBasis.cpp
  packages/intrepid2/unit-test/Orientation/Serial/test_orientation_QUAD_newBasis.cpp
  packages/intrepid2/unit-test/Orientation/test_orientation_HEX_newBasis.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_QUAD_newBasis.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Intrepid2, type: enhancement

#7064 TSQR: Finish "full" TSQR benchmark; update TSQR documentation
  packages/tpetra/tsqr/src/Tsqr.hpp
  packages/tpetra/tsqr/src/Tsqr_FullTsqrTest.hpp
  packages/tpetra/tsqr/src/Tsqr_TestUtils.hpp
  packages/tpetra/tsqr/test/Tsqr_TestFullTsqr.cpp
  packages/tpetra/tsqr/test/Tsqr_TestNodeTsqr.cpp
Labels: AT: AUTOMERGE

#7069 Fix CUDA_LAUNCH_BLOCKING for Tpetra parallel tests on white
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_idot.hpp
  packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRefactor_Details_MultiVectorDistObjectKernels.hpp
Labels: pkg: Tpetra, system: gpu

#7073 Tpetra: Adding environment variable to allow Teuchos::Timers in Tpetra::ProfilingRegion
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.cpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#4918 Tpetra: Adding Dirichlet condition helper routine
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_applyDirichletBoundaryCondition.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/applyDirichlet.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6915 Tempus: Remove Deprecated Code
  packages/tempus/src/Tempus_SolutionStateMetaData_decl.hpp
  packages/tempus/src/Tempus_SolutionStateMetaData_impl.hpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/src/Tempus_Stepper_impl.hpp
Labels: AT: AUTOMERGE, pkg: Tempus, type: enhancement

#7075 Tempus: imex rk - ARS 223 alias update
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
Labels: AT: AUTOMERGE

#7077 MueLu UncoupledAggregationFactory_kokkos: Accept more params
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
Labels: pkg: MueLu

#7080 ATDM: ats2: build on login node instead of compute node
  cmake/ctest/drivers/atdm/ats2/local-driver-single-build.sh
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, ATDM Sev: Critical, client: ATDM, type: bug

#7079 Seacas sparc mar2020 cgns
  packages/seacas/libraries/ioss/src/Ioss_FaceGenerator.C
  packages/seacas/libraries/ioss/src/Ioss_FaceGenerator.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DecompositionData.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
  packages/seacas/libraries/ioss/src/main/test/BC_Q2_parents.cgns
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#7081 Move ETI to end of .cpp file
  packages/percept/src/percept/mesh/mod/smoother/GenericAlgorithm_total_element_metric.cpp
Labels: pkg: Percept

#7084 Teuchos Stacked timer histogram fix
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/test/StackedTimer/CMakeLists.txt
  packages/teuchos/comm/test/StackedTimer/stacked_timer4.cpp
Labels: client: EMPIRE, pkg: Teuchos

#7054 Panzer periodic bc to tpetra v2
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.cpp
Labels: AT: STALE, ATDM Sev: Nonblocker, PA: Discretizations, pkg: Panzer

#7091 Set MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON (#7046)
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Sev: Blocker, client: ATDM, type: enhancement

#7095 Tacho - fix external example for openmp and serial build
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
Labels: AT: AUTOMERGE

#7096 Tpetra: Making Distributor Timers a cmake option
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7097 Automatic snapshot commit from seacas at 500c3cef0
  packages/seacas/applications/nem_spread/el_exoII_io.C
  packages/seacas/libraries/exodus/src/ex_get_var_time.c
  packages/seacas/libraries/exodus/src/ex_put_variable_names.c
  packages/seacas/libraries/exodus/src/herrin-552-str-1.out
  packages/seacas/libraries/exodus/test/testwt-localization.C
  packages/seacas/libraries/exodus/test/testwt-results.c
  packages/seacas/libraries/ioss/src/Ioss_DatabaseIO.C
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.C
  packages/seacas/libraries/ioss/src/Ioss_FaceGenerator.C
  packages/seacas/libraries/ioss/src/Ioss_FaceGenerator.h
  packages/seacas/libraries/ioss/src/Ioss_GroupingEntity.h
  packages/seacas/libraries/ioss/src/Ioss_ParallelUtils.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DecompositionData.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
  packages/seacas/libraries/ioss/src/exo_fpp/Iofx_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exo_par/Iopx_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exo_par/Iopx_DecompositionData.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Utils.C
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
  packages/seacas/libraries/ioss/src/main/io_info.C
  packages/seacas/libraries/ioss/src/main/test/BC_Q2_without_parents.cgns
  packages/seacas/libraries/ioss/src/pamgen/Iopg_DatabaseIO.C
  packages/seacas/libraries/ioss/src/visualization/Iovs_DatabaseIO.C
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#7098 MueLu: read xml files in region MG in parallel runs
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7100 anasazi: removing unused test file.
  packages/anasazi/tpetra/src/TsqrTpetraTest.hpp
Labels: AT: AUTOMERGE, pkg: Anasazi

#7102 MiniEM: Update solver parameters
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellCuda.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellOpenMP.xml
Labels: pkg: Panzer

#7101 Automatic snapshot commit from seacas at 7b9854a75
  packages/seacas/applications/conjoin/CJ_SystemInterface.C
  packages/seacas/applications/conjoin/CJ_SystemInterface.h
  packages/seacas/applications/conjoin/CJ_Version.h
  packages/seacas/applications/conjoin/Conjoin.C
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DecompositionData.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Defines.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas
