Repository trilinos/Trilinos, pull requests merged in 2020-05, with the labels that each got.

#7284 Add ability to turn off stk's kokkos-simd
  packages/stk/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: STK

#7293 Updated iteration bounds to vector to scalar and scalar to vector eva…
  packages/panzer/disc-fe/src/evaluators/Panzer_ScalarToVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScalarToVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_VectorToScalar_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_VectorToScalar_impl.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Panzer

#7285 ATDM: Recursively set group and perms on install dir (ATDV-241)
  CMakeLists.txt
  cmake/ctest/drivers/atdm/README.md
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/atdm_devops_install_defaults.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/cts1/environment.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
  cmake/std/atdm/van1-tx2/environment.sh
  cmake/tribits/core/add_install_group_and_perms_fixups/CMakeLists.txt
  cmake/tribits/core/installation/cmake_pbp_install.cmake.in
  cmake/tribits/core/installation/set_installed_group_and_permissions.cmake.in
  cmake/tribits/core/package_arch/TribitsAddExecutable.cmake
  cmake/tribits/core/package_arch/TribitsAddInstallGroupAndPermsFixups.cmake
  cmake/tribits/core/package_arch/TribitsCMakePolicies.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsLibraryMacros.cmake
  cmake/tribits/core/utils/TribitsFilepathHelpers.cmake
  cmake/tribits/core/utils/UseCcacheIfExists.cmake
  cmake/tribits/devtools_install/0001-CTest-Add-CTEST_RESOURCE_SPEC_FILE-variable.patch
  cmake/tribits/devtools_install/install-cmake.py
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/b/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/b/stuff/exec_script.sh
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/b/stuff/regular_file.txt
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#7291 MueLu: Adding Pairwise to easy parameterlist
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/test/interface/default/EasyParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/interface/default/EasyParameterListInterpreter/notay.xml
  packages/muelu/test/interface/default/Output/notay_epetra.gold
  packages/muelu/test/interface/default/Output/notay_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#7290 Teuchos: add timestamp option to verbose stacked timer
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/test/StackedTimer/stacked_timer.cpp
Labels: AT: AUTOMERGE, PA: Framework, client: ATDM, pkg: Teuchos

#7298 ATDM: van1-tx2: Reduced parallel link level for 'dbg' builds (CDOFA-117)
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, client: ATDM, type: bug

#7303 Add Panzer mini em timers for verbose mode
  packages/panzer/mini-em/example/BlockPrec/main.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, pkg: Panzer

#7297 ATDM: Skip changing group and perms on nonowning install base dir (ATDV-241)
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/tribits/core/installation/set_installed_group_and_permissions.cmake.in
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#7305 Panzer: improve memory allocation control
  packages/panzer/disc-fe/src/Panzer_FieldManagerBuilder.cpp
  packages/panzer/disc-fe/src/Panzer_FieldManagerBuilder.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator_impl.hpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.cpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.hpp
  packages/phalanx/src/Phalanx_TemplateManager.hpp
  packages/phalanx/src/Phalanx_TemplateManager_Def.hpp
  packages/phalanx/test/CMakeLists.txt
  packages/phalanx/test/TemplateManager/CMakeLists.txt
  packages/phalanx/test/TemplateManager/MyTraits.hpp
  packages/phalanx/test/TemplateManager/TemplateManagerTest.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer, pkg: Phalanx

#7307 MueLu: Correctly parse "aggregation: phase2a include root"
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7296 ATDM/ats1: update TPLs
  cmake/std/atdm/ats1/environment.sh
  cmake/std/atdm/ats1/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Env Issue, type: enhancement

#7313 MueLu Maxwell test: Fix build error without SerialNode
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: pkg: MueLu

#7316 Re-enable Muelu_Maxwell3D
  cmake/std/atdm/ats1/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, PA: Linear Solvers, pkg: MueLu, type: bug

#7317 MiniEM: add 16-rank version of performance test
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Panzer

#7312 Set default for PANZER_FADTYPE at all points
  packages/panzer/CMakeLists.txt
  packages/panzer/core/cmake/PanzerCore_config.hpp.in
Labels: pkg: Panzer

#7308 MueLu: Fixing issues in pairwise aggregation
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_decl.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/interface/default/Output/notay_epetra.gold
  packages/muelu/test/interface/default/Output/notay_tpetra.gold
  packages/muelu/test/unit_tests/NotayAggregationFactory.cpp
Labels: AT: AUTOMERGE

#7320 ATDM/ats1: Prioritize builds and disable running tests (ATDV-347)
  cmake/ctest/drivers/atdm/ats1/local-driver-on-allocation.sh
  cmake/std/atdm/ats1/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7321 Panzer: rename FADTYPE option
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  packages/panzer/CMakeLists.txt
  packages/panzer/core/cmake/PanzerCore_config.hpp.in
  packages/panzer/maintenance/build_panzer_gcc_mac_s1002730.sh
  packages/tempus/test_scripts/morgan/configure-tempus-morgan.sh
  packages/tempus/test_scripts/shiller/configure-tempus-shiller.sh
Labels: AT: AUTOMERGE, PA: Discretizations, PA: Framework, pkg: Panzer

#7343 Set build track for experimental build on enigma
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_no_serial_openmp_complex_experimental_enigma.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#7324 Fix CUDA defaulted function warnings (#7314)
  packages/intrepid2/src/Orientation/Intrepid2_Orientation.hpp
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefContractions.hpp
  packages/phalanx/src/Phalanx_DeviceEvaluator.hpp
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/KokkosExp_View_Fad_Contiguous.hpp
  packages/stk/stk_mesh/stk_mesh/base/DeviceMesh.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpField.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpReductions.hpp
  packages/stk/stk_ngp/stk_ngp/NgpField.hpp
  packages/stk/stk_ngp/stk_ngp/NgpFieldParallel.hpp
  packages/stk/stk_ngp/stk_ngp/NgpMesh.hpp
  packages/stk/stk_ngp/stk_ngp/NgpReductions.hpp
  packages/stk/stk_search/stk_search/Box.hpp
  packages/stk/stk_search/stk_search/KDTree_BoundingBox.hpp
  packages/stk/stk_search/stk_search/Point.hpp
  packages/stk/stk_util/stk_util/parallel/MPI.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_StaticFixedStorage.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/trilinoscouplings/examples/fenl/fenl_functors.hpp
Labels: AT: AUTOMERGE, pkg: Intrepid2, pkg: STK, pkg: Stokhos, pkg: Tpetra, pkg: TrilinosCouplings

#7333 SEACAS: Fix debug build
  packages/seacas/applications/conjoin/Conjoin.C
Labels: AT: AUTOMERGE, PA: Data Services, client: ATDM, impacting: build, pkg: seacas, type: bug

#7336 MueLu: Allow developer verbosity options in easy interface, fix RefMaxwell bug
  packages/muelu/adapters/xpetra/MueLu_CreateXpetraPreconditioner.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_general.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/MueCentral/MueLu_VerboseObject.cpp
  packages/muelu/src/MueCentral/MueLu_VerboseObject.hpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.cpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
Labels: client: EMPIRE, pkg: MueLu

#7074 Tpetra CUDA_LAUNCH_BLOCKING unset fixes
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/MultiVector/WithLocalAccess.cpp
Labels: pkg: Tpetra

#7354 ATDM: cee-rhel6: Switch to new clang-9.0.1-openmpi-4.0.3 env (ATDV-348)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-9.0.1_openmpi-4.0.3_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-9.0.1_openmpi-4.0.3_serial_static_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds_unit_tests.sh
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#7157 Adjust fences to be at point of error
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: pkg: Tpetra, system: gpu

#7345 MueLu: Fix scope guard for ImportPerformance test
  packages/muelu/test/scaling/ImportPerformance.cpp
Labels: pkg: MueLu

#7325 ATDM/ats1: Update target compute node and timeouts
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/local-driver-build-on-allocation.sh
  cmake/ctest/drivers/atdm/ats1/local-driver-on-allocation.sh
  cmake/ctest/drivers/atdm/ats1/local-driver-test-on-allocation.sh
  cmake/ctest/drivers/atdm/ats1/local-driver.sh
  cmake/ctest/drivers/atdm/ctest-s-driver.sh
  cmake/std/atdm/ats1/environment.sh
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
  cmake/tribits/core/package_arch/TribitsAddTestHelpers.cmake
  cmake/tribits/core/package_arch/TribitsAdjustPackageEnables.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  packages/seacas/libraries/exodus/test/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: bug

#7347 Resolve CUDA_LAUNCH_BLOCKING issues for MueLu from testing on white
  packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.hpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/IntrepidPCoarsenFactory.cpp
Labels: pkg: MueLu

#7332 TrilinosCouplings: Allowing choice of Belos solvers in 2D examples
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_p2_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE

#7352 Tpetra: Fix for #7348
  packages/tpetra/core/src/Tpetra_FECrsMatrix_def.hpp
  packages/tpetra/core/test/FECrsMatrix/FECrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6814 cmake: Handle C++ standard selection and propagation via CMake features
  CMakeLists.txt
  cmake/CallbackSetupExtraOptions.cmake
  cmake/ProjectCompilerPostConfig.cmake
  cmake/std/atdm/ats2/environment.sh
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/core/package_arch/TribitsCXX11Support.cmake
  cmake/tribits/core/package_arch/TribitsDefineStandardCompileVars.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsLibraryMacros.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
  packages/kokkos/CMakeLists.txt
  packages/kokkos/cmake/kokkos_tribits.cmake
  packages/muelu/CMakeLists.txt
  packages/sacado/CMakeLists.txt
  packages/sacado/example/CMakeLists.txt
  packages/sacado/test/UnitTests/CMakeLists.txt
  packages/stokhos/CMakeLists.txt
  packages/teuchos/CMakeLists.txt
  packages/teuchos/core/src/CMakeLists.txt
  packages/teuchos/core/test/MemoryManagement/CMakeLists.txt
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/CMakeLists.txt
  packages/tpetra/doc/FAQ.txt
  packages/trilinoscouplings/examples/fenl/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#7337 Panzer: runtime disable of evaluation types
  packages/panzer/disc-fe/src/Panzer_FieldManagerBuilder.cpp
  packages/panzer/disc-fe/src/Panzer_FieldManagerBuilder.hpp
  packages/panzer/disc-fe/src/Panzer_InitialCondition_Builder.cpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator_impl.hpp
  packages/panzer/disc-fe/src/Panzer_PhysicsBlock.cpp
  packages/panzer/disc-fe/src/Panzer_PhysicsBlock.hpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#7362 IOSS: Fix backward compatibility
  packages/seacas/libraries/ioss/src/Ioss_Field.h
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#7363 MueLu: Fix issues with Stratimikos=ON, Thyra=OFF
  packages/muelu/adapters/stratimikos/Stratimikos_MueLuHelpers.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/example/basic/CMakeLists.txt
  packages/muelu/src/Smoothers/MueLu_DirectSolver_def.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_StratimikosSmoother_fwd.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7323 Remove WORKSPACE env variable as it's not set in most cases
  cmake/std/sems/PullRequestCuda9.2TestingEnv.sh
Labels: AT: AUTOMERGE

#7344 Add code to take JENKINS_TEST_WEIGHT from environment if present
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE

#7356 Zoltan2: Fix rectilinear running non-rectilinear code for MJ (#7351)
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/test/driver/driverinputs/CMakeLists.txt
  packages/zoltan2/test/driver/driverinputs/kuberry/CMakeLists.txt
  packages/zoltan2/test/driver/driverinputs/kuberry/kuberry.assign
  packages/zoltan2/test/driver/driverinputs/kuberry/kuberry.coords
  packages/zoltan2/test/driver/driverinputs/kuberry/kuberry.graph
  packages/zoltan2/test/driver/driverinputs/kuberry/kuberry.xml
Labels: pkg: Zoltan2

#7364 Kokkos-Kernels: fix install for autogenerated headers
  packages/kokkos-kernels/src/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, client: EMPIRE, pkg: KokkosKernels

#7365 ATDM: cee-rhel6: Remove 'module load sparc-dev' to fix clang-9.0.1-opempi-4.0.3 (ATDV-348)
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7368 Seacas parallel netcdf detect
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
  packages/seacas/applications/epu/pepu.C
  packages/seacas/libraries/exodus/CMakeLists.txt
  packages/seacas/libraries/ioss/src/CMakeLists.txt
  packages/seacas/libraries/ioss/src/Ioss_CodeTypes.h
  packages/seacas/libraries/ioss/src/exodus/CMakeLists.txt
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
Labels: AT: AUTOMERGE, PA: Data Services, client: Albany, pkg: seacas

#7373 Tacho - export supernodes info
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Solver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Solver_Impl.hpp
Labels: AT: AUTOMERGE

#7374 Fixes errors in OrthoManagerTest and enables Epetra testing
  packages/belos/epetra/test/OrthoManager/CMakeLists.txt
  packages/belos/src/BelosOrthoManagerTest.hpp
Labels: pkg: Belos

#7377 Provide per-file build statistics for Trilinos and others...
  CMakeLists.txt
  commonTools/build_stats/wrapper/NMParser.py
  commonTools/build_stats/wrapper/WrapperCommandLineParser.py
  commonTools/build_stats/wrapper/WrapperOpTimer.py
  commonTools/build_stats/wrapper/magic_wrapper.py
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#7353 Enable C++14 for GCC 8.3 PR build
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
Labels: Framework tasks, PA: Framework

#7392 Adds missing norm in singular vector detector for block orthogonalization
  packages/belos/epetra/test/BlockGmres/CMakeLists.txt
  packages/belos/epetra/test/BlockGmres/test_bl_pgmres_hb.cpp
  packages/belos/src/BelosICGSOrthoManager.hpp
  packages/belos/src/BelosIMGSOrthoManager.hpp
Labels: pkg: Belos

#7386 Fix build error and add more tests for Tpetra OrthoManager Test
  packages/belos/tpetra/test/OrthoManager/CMakeLists.txt
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra_util.hpp
Labels: pkg: Belos

#7366 Belos: Change default orthogonalization to ICGS[2]
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGCRODRSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
Labels: pkg: Belos

#7380 SEACAS: Fix parallel build with serial NetCDF issues
  packages/seacas/libraries/exodus/include/exodusII.h
  packages/seacas/libraries/ioss/src/exodus/Ioex_IOFactory.C
Labels: AT: AUTOMERGE, PA: Data Services, client: Albany, client: LCM, pkg: seacas, type: bug

#7355 Tpetra: 2D Matrix distribution
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_2DRandomDist.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7385 Sacado: Add specializations for ScalarValue, Value for const types.
  packages/sacado/src/Sacado_Traits.hpp
Labels: AT: AUTOMERGE

#7401 ATDM/cee-rhel6: gnu-7.2.0_openmpi-4.0.2 -> gnu-7.2.0_openmpi-4.0.3 (ATDV-353)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_gnu-7.2.0_openmpi-4.0.3_serial_shared_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds_unit_tests.sh
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#7384 Sacado: Rework hieararchical performance tests
  packages/sacado/src/Sacado_Fad_ViewStorage.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_ViewStorage.hpp
  packages/sacado/test/performance/CMakeLists.txt
  packages/sacado/test/performance/advection/CMakeLists.txt
  packages/sacado/test/performance/advection/advection.cpp
  packages/sacado/test/performance/advection/advection.hpp
  packages/sacado/test/performance/advection/advection_hierarchical.cpp
  packages/sacado/test/performance/advection/advection_hierarchical.hpp
  packages/sacado/test/performance/advection/advection_hierarchical_dfad.cpp
  packages/sacado/test/performance/advection/advection_hierarchical_dfad.hpp
  packages/sacado/test/performance/advection/common.hpp
  packages/sacado/test/performance/advection/driver.cpp
  packages/sacado/test/performance/advection_const_basis/CMakeLists.txt
  packages/sacado/test/performance/advection_const_basis/advection.cpp
  packages/sacado/test/performance/advection_const_basis/advection.hpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical.cpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical.hpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical_dfad.cpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical_dfad.hpp
  packages/sacado/test/performance/advection_const_basis/common.hpp
  packages/sacado/test/performance/advection_const_basis/driver.cpp
  packages/sacado/test/performance/mat_vec/CMakeLists.txt
  packages/sacado/test/performance/mat_vec/common.hpp
  packages/sacado/test/performance/mat_vec/driver.cpp
  packages/sacado/test/performance/mat_vec/fad_kokkos_mat_vec_perf.cpp
  packages/sacado/test/performance/mat_vec/mat_vec.cpp
  packages/sacado/test/performance/mat_vec/mat_vec.hpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical.cpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical.hpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical_dfad.cpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical_dfad.hpp
Labels: AT: AUTOMERGE

#6840 Use RESOURCE_GROUPS property of CTest
  cmake/std/atdm/README.md
  cmake/std/atdm/checkin-test-atdm.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/ride/tweaks/Tweaks.cmake
  cmake/std/atdm/utils/checkin-test-atdm-single.sh
  cmake/std/atdm/waterman/environment.sh
  cmake/std/atdm/waterman/tweaks/Tweaks.cmake
  cmake/tribits/ci_support/checkin-test.py
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddTestHelpers.cmake
  cmake/tribits/core/package_arch/TribitsGenerateResourceSpecFile.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsProjectImpl.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  packages/kokkos/core/src/impl/Kokkos_Core.cpp
  packages/kokkos/core/unit_test/TestDefaultDeviceTypeInit.hpp
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7404 Issue 7274
  packages/amesos2/example/GappedMtxGIDs-1proc.cpp
  packages/amesos2/example/SimpleSolveNonContigMap.cpp
  packages/amesos2/src/basker/basker_def.hpp
  packages/amesos2/test/solvers/Basker_UnitTests.cpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#7403 Phalanx: remove all use of cuda uvm
  packages/phalanx/cmake/Dependencies.cmake
  packages/phalanx/example/FiniteElementAssembly/Mesh.cpp
  packages/phalanx/example/FiniteElementAssembly/Mesh.hpp
  packages/phalanx/example/FiniteElementAssembly/auxiliary_tests/Example_FEM_Mesh_AuxTest.cpp
  packages/phalanx/src/Phalanx_Evaluator_UnitTester.hpp
  packages/phalanx/src/Phalanx_KokkosDeviceTypes.hpp
  packages/phalanx/test/AliasedFields/AliasedFieldsTest.cpp
  packages/phalanx/test/EvaluatorUnitTester/AllRanksEvaluator_Def.hpp
  packages/phalanx/test/EvaluatorUnitTester/EvaluatorUnitTester.cpp
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Field/MDField_Compiletime.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
  packages/phalanx/test/Field/MDField_SimulatedIntrepid.cpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/Performance/FieldAccessors/Performance_FieldAccessors.cpp
  packages/phalanx/test/UnmanagedFields/Field/UnmanagedFieldTest.cpp
  packages/phalanx/test/UnmanagedFields/KokkosView/UnmanagedViewTest.cpp
  packages/phalanx/test/UnmanagedFields/MDField/UnmanagedMDFieldTest.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, pkg: Phalanx

#7397 Tempus: Add TimeEvent Object
  packages/tempus/src/Tempus_StepperRKAppActionComposite.hpp
  packages/tempus/src/Tempus_TimeEventBase.hpp
  packages/tempus/src/Tempus_TimeEventComposite.hpp
  packages/tempus/src/Tempus_TimeEventList.cpp
  packages/tempus/src/Tempus_TimeEventListIndex.cpp
  packages/tempus/src/Tempus_TimeEventListIndex_decl.hpp
  packages/tempus/src/Tempus_TimeEventListIndex_impl.hpp
  packages/tempus/src/Tempus_TimeEventList_decl.hpp
  packages/tempus/src/Tempus_TimeEventList_impl.hpp
  packages/tempus/src/Tempus_TimeEventRange.cpp
  packages/tempus/src/Tempus_TimeEventRangeIndex.cpp
  packages/tempus/src/Tempus_TimeEventRangeIndex_decl.hpp
  packages/tempus/src/Tempus_TimeEventRangeIndex_impl.hpp
  packages/tempus/src/Tempus_TimeEventRange_decl.hpp
  packages/tempus/src/Tempus_TimeEventRange_impl.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventBase.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventComposite.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventList.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventListIndex.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventRange.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventRangeIndex.cpp
Labels: client: EMPIRE, pkg: Tempus, type: enhancement

#7407 ATDM: Set several CUDA disables (#6329, #6799, #7090)
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
  cmake/std/atdm/ATDMDisables.cmake
  cmake/std/atdm/waterman/tweaks/Tweaks.cmake
Labels: ATDM Config, ATDM DevOps, PA: Data Services, PA: Linear Solvers, PA: Nonlinear Solvers, client: ATDM, pkg: Kokkos, pkg: MueLu, pkg: ROL, type: bug

#7381 Piro: cleaning/refactoring of steady sensitivities
  packages/piro/src/CMakeLists.txt
  packages/piro/src/Piro_LOCAAdaptiveSolver_Def.hpp
  packages/piro/src/Piro_LOCASolver_Def.hpp
  packages/piro/src/Piro_NOXSolver.hpp
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/src/Piro_SteadyStateSolver.hpp
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/src/Piro_TempusSolver_Def.hpp
  packages/piro/src/Piro_TransientSolver.hpp
  packages/piro/src/Piro_TransientSolver_Def.hpp
  packages/piro/test/CMakeLists.txt
  packages/piro/test/Main_AnalysisDriver_Tpetra.cpp
  packages/piro/test/_input_Analysis_ROL_AdjointSensitivities_OldReducedSpace_Tpetra.xml
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers, pkg: Piro, type: enhancement

#7421 IOSS: Fix setting of exodiff binary in tests
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Config, PA: Data Services, pkg: seacas

#7390 amesos2: Fix build ifdef protection of Amesos2_cuSolver.hpp include.
  packages/amesos2/src/Amesos2_Factory.hpp
Labels: client: Sierra, pkg: Amesos2, type: bug

#7415 MueLu RefMaxwell: BCs for A_nodal
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: client: EMPIRE, pkg: MueLu, type: enhancement

#7414 Fix PR packages selection logic (#6697) and static list of CDash subprojects (#3272)
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/atdm/ats1/custom_builds_unit_tests.sh
  cmake/std/atdm/cee-rhel6/custom_builds_unit_tests.sh
  cmake/std/atdm/test/unit_tests/atdm_match_any_keyword_unit_tests.sh
  cmake/std/atdm/test/unit_tests/atdm_match_keyword_unit_tests.sh
  cmake/std/atdm/test/unit_tests/set_build_options_unit_tests.sh
  cmake/std/atdm/van1-tx2/custom_builds_unit_tests.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
  cmake/tribits/ci_support/TribitsDependencies.py
  cmake/tribits/ci_support/get-tribits-packages.py
  commonTools/framework/CMakeLists.txt
  commonTools/framework/get-changed-trilinos-packages-helpers-unit-tests.sh
  commonTools/framework/get-changed-trilinos-packages-helpers.sh
  commonTools/framework/get-changed-trilinos-packages.sh
  commonTools/test/shunit2/.githooks/generic
  commonTools/test/shunit2/.githooks/pre-commit.shellcheck
  commonTools/test/shunit2/.gitignore
  commonTools/test/shunit2/.travis.yml
  commonTools/test/shunit2/CODE_OF_CONDUCT.md
  commonTools/test/shunit2/LICENSE
  commonTools/test/shunit2/README.md
  commonTools/test/shunit2/doc/CHANGES-2.1.md
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.0.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.1.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.2.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.3.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.4.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.5.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.6.txt
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.7.md
  commonTools/test/shunit2/doc/RELEASE_NOTES-2.1.8.md
  commonTools/test/shunit2/doc/TODO.txt
  commonTools/test/shunit2/doc/contributors.md
  commonTools/test/shunit2/doc/design_doc.txt
  commonTools/test/shunit2/examples/equality_test.sh
  commonTools/test/shunit2/examples/lineno_test.sh
  commonTools/test/shunit2/examples/math.inc
  commonTools/test/shunit2/examples/math_test.sh
  commonTools/test/shunit2/examples/mkdir_test.sh
  commonTools/test/shunit2/examples/mock_file.sh
  commonTools/test/shunit2/examples/mock_file_test.sh
  commonTools/test/shunit2/examples/party_test.sh
  commonTools/test/shunit2/examples/suite_test.sh
  commonTools/test/shunit2/init_githooks.sh
  commonTools/test/shunit2/lib/shflags
  commonTools/test/shunit2/lib/versions
  commonTools/test/shunit2/shunit2
  commonTools/test/shunit2/shunit2_args_test.sh
  commonTools/test/shunit2/shunit2_asserts_test.sh
  commonTools/test/shunit2/shunit2_failures_test.sh
  commonTools/test/shunit2/shunit2_macros_test.sh
  commonTools/test/shunit2/shunit2_misc_test.sh
  commonTools/test/shunit2/shunit2_standalone_test.sh
  commonTools/test/shunit2/shunit2_test_helpers
  commonTools/test/shunit2/test_runner
Labels: AT: AUTOMERGE, ATDM DevOps, type: bug, type: enhancement

#7229 Set TEST_0 PASS_REGULAR_EXPRESSION and untangle test-block and overall args
  packages/shylu/shylu_node/hts/test/CMakeLists.txt
Labels: ATDM DevOps, PA: Linear Solvers, pkg: ShyLU

#7201 Intrepid2: Enable projections for Continuous Hierarchical Basis
  packages/intrepid2/cmake/Dependencies.cmake
  packages/intrepid2/cmake/Intrepid2_config.h.in
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefParametrization.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefRefToPhys.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HVOL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HVOL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TET.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TRI.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_NodalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefMatrixData.hpp
  packages/intrepid2/src/Projection/Intrepid2_LagrangianInterpolationDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStruct.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStructDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionTools.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHCURL.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHDIV.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHGRAD.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHVOL.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefL2.hpp
  packages/intrepid2/unit-test/Discretization/Basis/BasisEquivalenceTests.cpp
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/AnalyticPolynomialsMatchTests.cpp
  packages/intrepid2/unit-test/Projection/Cuda/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/OpenMP/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/test_convergence_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TET.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TRI.hpp
Labels: PA: Discretizations, pkg: Intrepid2, type: enhancement

#7387 Tpetra: Include multivector length in deciding where kernels should run
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7432 Belos: Update solvers to use OrthoMgrFactory
  packages/belos/epetra/example/BlockGmres/BlockGmresEpetraExFile.cpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosGmresPolyOp.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosOrthoManagerFactory.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
Labels: pkg: Belos

#7433 MueLu: fix reuse
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_general.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/TestMatrices/fuego0.mm
  packages/muelu/test/unit_tests/TestMatrices/fuego1.mm
Labels: AT: AUTOMERGE, pkg: MueLu

#7437 ATDM: 'ats1': Remove Kokkos_ENABLE_SERIAL=OFF (#7435) and promote to 'Specialized' (ATDV-355)
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/std/atdm/ats1/environment.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Nonblocker, client: ATDM, client: EMPIRE, type: bug

#7440 MiniTensor: Sierra/SM tolerance changes.
  packages/minitensor/src/MiniTensor_LinearAlgebra.t.h
Labels: AT: AUTOMERGE, client: Sierra, pkg: minitensor

#7416 ROL: changes to Thyra Adapters for SimOpt interface
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Constraint_SimOpt.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective_SimOpt.hpp
  packages/rol/src/function/constraint/ROL_ConstraintDef.hpp
  packages/rol/src/step/ROL_AugmentedLagrangianStep.hpp
  packages/rol/src/step/augmentedlagrangian/ROL_QuadraticPenalty.hpp
Labels: PA: Nonlinear Solvers, pkg: Piro, pkg: ROL, type: enhancement

#7427 ATDM: Address several 'ats2' issues (#7402, #7406, #7122, #2422)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-rolling_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-rolling_serial_static_opt.sh
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/README.md
  cmake/std/atdm/ats2/CMakeLists.txt
  cmake/std/atdm/ats2/all_supported_builds.sh
  cmake/std/atdm/ats2/custom_builds.sh
  cmake/std/atdm/ats2/custom_builds_unit_tests.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
  cmake/std/atdm/ats2/tweaks/Tweaks.cmake
  cmake/std/atdm/utils/atdm_config_helper_funcs.sh
  cmake/std/atdm/utils/define_sparc_dev_module_name.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7439 Update snapshot of Compadre
  packages/compadre/CMakeLists.txt
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/doc/.gitignore
  packages/compadre/doc/Doxyfile
  packages/compadre/doc/build_docs
  packages/compadre/examples/CMakeLists.tribits.cmake
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_DivergenceFree.cpp
  packages/compadre/examples/GMLS_SmallBatchReuse_Device.cpp
  packages/compadre/examples/GMLS_Staggered.cpp
  packages/compadre/examples/GMLS_Tutorial.hpp
  packages/compadre/examples/GMLS_Vector.cpp
  packages/compadre/src/CMakeLists.tribits.cmake
  packages/compadre/src/CMakeLists.txt
  packages/compadre/src/Compadre_Evaluator.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_GMLS_Basis.hpp
  packages/compadre/src/Compadre_GMLS_Targets.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
  packages/compadre/src/Compadre_Typedefs.hpp
  packages/compadre/src/Compadre_USER_ManifoldTargetFunctionals.hpp
  packages/compadre/src/Compadre_USER_StandardTargetFunctionals.hpp
  packages/compadre/src/Compadre_Utilities.hpp
  packages/compadre/src/basis/Compadre_DivergenceFreePolynomial.hpp
  packages/compadre/src/basis/Compadre_ScalarTaylorPolynomial.hpp
  packages/compadre/src/basis/DivergenceFree3D.hpp
  packages/compadre/src/constraints/Compadre_CreateConstraints.hpp
Labels: AT: AUTOMERGE, pkg: Compadre

#7448 Trilinos: Fix ATDM Kokkos arch
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/utils/ATDMDevEnvUtils.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7450 Tacho - remove valgrind error (not real error)
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools.hpp
Labels: AT: AUTOMERGE

#7391 Epetra: zero out nonlocal matrix during GlobalAssemble, plus override Print method
  packages/epetra/src/Epetra_FECrsMatrix.cpp
  packages/epetra/src/Epetra_FECrsMatrix.h
Labels: pkg: Epetra

#7454 Fixes calls to normalize zero vectors in ICGS/IMGS
  packages/belos/epetra/test/OrthoManager/CMakeLists.txt
  packages/belos/src/BelosICGSOrthoManager.hpp
  packages/belos/src/BelosIMGSOrthoManager.hpp
  packages/belos/src/BelosOrthoManagerTest.hpp
Labels: pkg: Belos

#7453 ATDM: ats2: Add cuda+complex build to support GEMMA (ATDV-300)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_complex_static_opt.sh
  cmake/std/atdm/ats2/all_supported_builds.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: Gemma, type: enhancement
