Repository trilinos/Trilinos, pull requests merged in 2020-12, with the labels that each got.

#8402 Panzer: fix for cuda launch blocking off.
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#8369 MueLu: regionMG use hierarchy and level containers
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: pkg: MueLu

#8405 MueLu: Add option to read coordinate map to Driver
  packages/muelu/example/basic/Simple.cpp
  packages/muelu/example/basic/Stratimikos.cpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/MatrixLoad.hpp
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
  packages/muelu/test/scaling/SpMVPerformance.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8406 Percept snapshot 12/01/2020
  packages/percept/src/adapt/Percept_MOAB_SimplexTemplateRefiner.hpp
  packages/percept/src/adapt/Refiner.cpp
  packages/percept/src/percept/Stacktrace.hpp
Labels: AT: AUTOMERGE, pkg: Percept

#8404 Tpetra: Fix CrsMatrix::getLocalDiagCopy() for GPU.
  packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Blocker, pkg: Tpetra

#8414 Remove Trilinos warnings when building with gcc 7.2.0
  packages/anasazi/epetra/src-rbgen/RBGen_AnasaziPOD.cpp
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/test/Piro_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Anasazi, pkg: Piro

#8411 Zoltan2: first implementation of Tpetra CrsMatrix colorer
  packages/zoltan2/core/src/CMakeLists.txt
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorerUtils.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan2.hpp
  packages/zoltan2/test/core/CMakeLists.txt
  packages/zoltan2/test/core/TpetraCrsColorer/CMakeLists.txt
  packages/zoltan2/test/core/TpetraCrsColorer/TpetraCrsColorer.cpp
  packages/zoltan2/test/core/data/west0067.mtx
Labels: AT: AUTOMERGE, AT: RETEST, pkg: Zoltan2

#8415 Panzer: gcc 10 compiler fix
  packages/panzer/disc-fe/src/Panzer_Workset_Utilities.cpp
Labels: AT: AUTOMERGE, PA: Framework, pkg: Panzer

#8416 Zoltan2 Fixed case of Teuchos parameter
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#8358 zoltan2: fix edge cnt overflow in GraphModel
  packages/zoltan2/core/src/models/Zoltan2_GraphModel.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#8420 Fixes a small formatting typo
  cmake/std/atdm/README.md
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: documentation, type: bug

#8388 Piro: Use reduced Obj for sensitivity computations and reduced Hessian-vector products.
  packages/piro/src/CMakeLists.txt
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_PerformSolve.hpp
  packages/piro/src/Piro_PerformSolve_Def.hpp
  packages/piro/src/Piro_Reduced_Objective_SimOpt.hpp
  packages/piro/src/Piro_SteadyStateSolver.hpp
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/test/CMakeLists.txt
  packages/piro/test/Main_AnalysisDriver.cpp
  packages/piro/test/Main_AnalysisDriver_Tpetra.cpp
  packages/piro/test/Main_ThyraSolver_Tpetra.cpp
  packages/piro/test/_input_Analysis_ROL.xml
  packages/piro/test/_input_Analysis_ROL_AdjointSensitivities.xml
  packages/piro/test/_input_Analysis_ROL_AdjointSensitivities_Tpetra.xml
  packages/piro/test/_input_Analysis_ROL_Tpetra.xml
  packages/piro/test/_input_Solve_NOX_4.xml
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Constraint_SimOpt.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective_SimOpt.hpp
Labels: PA: Nonlinear Solvers, pkg: Piro, pkg: ROL

#8424 Tpetra: wrong memory space used for host function
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8423 amesos2: guard include file based on slu_dist version
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#8432 Piro: call ReducedHessian only when required by the outArgs
  packages/piro/src/Piro_NOXSolver_Def.hpp
Labels: AT: AUTOMERGE, client: ATDM, client: Albany, pkg: Piro

#8434 Ifpack2: fix initialization error
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2

#8437 MueLu: regionMG remove rowMap and colMap from level container
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: pkg: MueLu

#8439 MueLu: consolidate GetLumpedMatrixDiagonal
  packages/muelu/src/Misc/MueLu_SchurComplementFactory_def.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BraessSarazinSmoother_def.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_SimpleSmoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8427 Tpetra: Fix modify/sync issues in MultiVector and unit tests
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#7508 Build stats compiler wrappers and summary (#7376, CDOFA-119)
  CMakeLists.txt
  PackagesList.cmake
  cmake/CallbackSetupExtraOptions.cmake
  cmake/RepositoryDependenciesSetup.cmake
  cmake/ctest/drivers/atdm/ats1/local-driver.sh
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/ctest/drivers/atdm/cee-rhel6/local-driver.sh
  cmake/ctest/drivers/atdm/cts1/local-driver.sh
  cmake/ctest/drivers/atdm/ride/local-driver.sh
  cmake/ctest/drivers/atdm/sems-rhel6/local-driver.sh
  cmake/ctest/drivers/atdm/sems-rhel7/local-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/ctest/drivers/atdm/van1-tx2/local-driver.sh
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
  cmake/std/PullRequestLinuxPython2.cmake
  cmake/std/PullRequestLinuxPython3.cmake
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/python_utils/GeneralScriptSupport.py
  commonTools/build_stats/BuildStatsWrappers.cmake
  commonTools/build_stats/CMakeLists.txt
  commonTools/build_stats/FindTribitsCiSupportDir.py
  commonTools/build_stats/build_stat_lang_wrapper.sh.in
  commonTools/build_stats/cmake/Dependencies.cmake
  commonTools/build_stats/gather_build_stats.sh
  commonTools/build_stats/get_cwd_for_python.py
  commonTools/build_stats/remove_all_target_timing_files.sh
  commonTools/build_stats/summarize_build_stats.py
  commonTools/build_stats/unit_tests/CMakeLists.txt
  commonTools/build_stats/unit_tests/build_stats.big.small.csv
  commonTools/build_stats/unit_tests/build_stats.incomplete_row.csv
  commonTools/build_stats/unit_tests/summarize_build_stats_UnitTests.py
  commonTools/build_stats/wrapper/NMParser.py
  commonTools/build_stats/wrapper/Python2and3.py
  commonTools/build_stats/wrapper/WrapperCommandLineParser.py
  commonTools/build_stats/wrapper/WrapperOpTimer.py
  commonTools/build_stats/wrapper/magic_wrapper.py
  commonTools/framework/CMakeLists.txt
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: ATDM DevOps, client: ATDM, type: enhancement

#8446 kokkos: Replace enums in Kokkos_ViewMapping.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
Labels: AT: AUTOMERGE

#8445 Framework: Enabling the 'autocloser' github actions script
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8444 PyTrilinos: Update FinMpi4Py.cmake to support Python 3
  packages/PyTrilinos/cmake/FindMpi4Py.cmake
Labels: AT: AUTOMERGE, pkg: PyTrilinos

#8454 Minor fix to SuperLu version used for enum
  packages/amesos2/src/Amesos2_Superlu_def.hpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#8460 TrilinosCouplings: Minor mods to Maxwell driver
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8465 Panzer: fix race condition with launch blocking off in GED accessor.
  packages/panzer/disc-fe/src/Panzer_TpetraVector_ReadOnly_GlobalEvaluationData_impl.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#8469 Framework: Reduce rate limit for stale job actionscript
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8464 Updated to cmake 19 for Ross' cuda schedule fixes
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: AUTOMERGE, PA: Framework

#8467 TrilinosCouplings: More Maxwell Driver fixes
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8451 Tpetra: Fix issue in `transferAndFillComplete`
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/Bug8447.cpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
Labels: pkg: Tpetra

#8365 Panzer STK: Add functionality and tests for querying the underlying PerceptMesh
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPamgenMeshFactory.cpp
Labels: AT: AUTOMERGE, pkg: Panzer

#8443 KokkosKernels: remove static constexpr member (#8418)
  packages/kokkos-kernels/src/sparse/KokkosSparse_spadd.hpp
Labels: AT: AUTOMERGE, client: SPARC, impacting: build, pkg: KokkosKernels

#8466 MueLu: regionMG replacing Map with const Map where possible to avoid casting
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionVector_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8470 All of TriBITS works with Python 3.x (TriBITSPub/TriBITS#309, #7376)
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/CheckinTest.py
  cmake/tribits/ci_support/checkin-test.py
  cmake/tribits/ci_support/get-tribits-packages-from-last-tests-failed.py
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/examples/TribitsExampleProject/packages/wrap_external/external_func/configure.py
  cmake/tribits/python_utils/GeneralScriptSupport.py
  cmake/tribits/python_utils/Python2and3.py
  cmake/tribits/python_utils/SnapshotDir.py
  cmake/tribits/python_utils/tree.py
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#8478 Ifpack2: fix timers
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Amesos2Wrapper_def.hpp
  packages/ifpack2/src/Ifpack2_Details_DenseSolver_def.hpp
  packages/ifpack2/src/Ifpack2_Details_TriDiSolver_def.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Hiptmair_def.hpp
  packages/ifpack2/src/Ifpack2_Hypre_def.hpp
  packages/ifpack2/src/Ifpack2_ILUT_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/src/supportgraph/Ifpack2_SupportGraph_def.hpp
Labels: AT: AUTOMERGE, type: bug

#8471 Revert commit 75febde9
  packages/amesos2/src/Amesos2_Superlu_def.hpp
Labels: pkg: Amesos2, type: bug

#8482 Create Build CUDA 10.1.105 w/pascal
  cmake/std/PullRequestLinuxCuda10.1.105TestingSettings.cmake
  cmake/std/PullRequestLinuxCudaDriver.sh
  cmake/std/pr_config/pullrequest.ini
  cmake/std/sems/PullRequestCuda10.1.105TestingEnv.sh
  cmake/std/trilinosprhelpers/unittests/trilinos_pr_test.ini
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8124 Zoltan2: Add SARMA library as TPL
  TPLsList.cmake
  cmake/TPLs/FindTPLSARMA.cmake
  packages/zoltan2/core/cmake/Dependencies.cmake
  packages/zoltan2/core/cmake/Zoltan2_config.h.in
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgSarma.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_PartitioningAlgorithms.hpp
  packages/zoltan2/core/src/problems/Zoltan2_PartitioningProblem.hpp
  packages/zoltan2/core/src/problems/Zoltan2_Problem.hpp
  packages/zoltan2/test/core/partition/CMakeLists.txt
  packages/zoltan2/test/core/partition/partition_sarma.cpp
Labels: pkg: Zoltan2

#8473 Framework: Bugfix for cycle detection PR configurations
  cmake/std/pr_config/pullrequest.ini
  cmake/std/trilinosprhelpers/setenvironment/SetEnvironment.py
  cmake/std/trilinosprhelpers/setenvironment/unittests/setenvironment_config.ini
  cmake/std/trilinosprhelpers/setenvironment/unittests/test_SetEnvironment.py
Labels: AT: AUTOMERGE, PA: Framework, type: bug

#8499 Tpetra: Add missing syncs/modifies in BlockMultiVector unit tests
  packages/tpetra/core/test/Block/BlockMultiVector.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8502 Teko: fix tests for CUDA_LAUNCH_BLOCKING=OFF
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
Labels: AT: AUTOMERGE, PA: Linear Solvers, pkg: Teko, pkg: Thyra

#8496 Turn CUDA Launch Blocking OFF
  cmake/std/PullRequestLinuxCuda10.1.105TestingSettings.cmake
  cmake/std/pr_config/pullrequest.ini
Labels: Framework tasks, PA: Framework

#8510 Framework: Set issue autocloser to weekends
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8507 Fix typo messing up formatting (#7376)
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, impacting: documentation, type: bug

#8512 MueLu: Add research/regionMG/src to include directories if ENABLE_Experimental
  packages/muelu/src/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#8511 Turn Teko tests back on.
  cmake/std/PullRequestLinuxCuda10.1.105TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8487 MueLu: regionMG use const maps for unit tests
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionUtilities.hpp
  packages/muelu/research/regionMG/src/SetupRegionVector_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
  packages/muelu/test/unit_tests/RegionMatrix.cpp
  packages/muelu/test/unit_tests/RegionRFactory.cpp
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: pkg: MueLu

#8513 MueLu: fix rebalance error message and update documentation
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockAcFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceBlockAcFactory_def.hpp
Labels: AT: AUTOMERGE, impacting: documentation, pkg: MueLu

#8505 MueLu: add missing guards for kokkos refactor
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_NotayAggregationFactory_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_RegionRFactory_fwd.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
Labels: AT: AUTOMERGE, impacting: build, pkg: MueLu

#8523 MueLu: Update UnitTestRegion tolerance for Elas3D so GPU tests pass
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: AT: AUTOMERGE, pkg: MueLu
