Repository trilinos/Trilinos, pull requests merged in 2020-06, with the labels that each got.

#7474 ATDM/cts1: Update to use sparc-dev modules and new TPLs
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-4.0.3_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.4_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.4_openmpi-4.0.3_openmp_static_opt.sh
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/cts1/CMakeLists.txt
  cmake/std/atdm/cts1/all_supported_builds.sh
  cmake/std/atdm/cts1/custom_builds.sh
  cmake/std/atdm/cts1/custom_builds_unit_tests.sh
  cmake/std/atdm/cts1/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#7475 Tempus: Additional Cleanup of Squareroot.
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
Labels: client: EMPIRE, pkg: Tempus, type: bug

#7476 Tpetra,Intrepid2: Adding RUN_SERIAL to tests
  packages/intrepid2/unit-test/Discretization/Integration/Cuda/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/Cuda/CMakeLists.txt
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/tpetra/core/test/Blas/CMakeLists.txt
Labels: impacting: tests, pkg: Intrepid2, pkg: Tpetra

#7487 Xpetra: fix binary reader
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#7449 Sacado: Fix some Albany build issues with the new design
  packages/sacado/src/new_design/Sacado_Fad_Exp_GeneralFad.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_ViewFad.hpp
Labels: AT: AUTOMERGE

#7488 Move setting OMP_XXX vars after sparc-dev module loads (ATDV-357)
  cmake/std/atdm/common/toss3/environment_new.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: tests, type: bug

#7477 Sacado: Several changes for Sacado
  packages/sacado/CMakeLists.txt
  packages/sacado/cmake/Sacado_config.h.in
  packages/sacado/src/Sacado_CacheFad_Ops.hpp
  packages/sacado/src/Sacado_ConfigDefs.h
  packages/sacado/src/Sacado_ELRCacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRFad_Ops.hpp
  packages/sacado/src/Sacado_Fad_Ops.hpp
  packages/sacado/src/Sacado_Fad_Ops_Fwd.hpp
  packages/sacado/src/Sacado_MathFunctions.hpp
  packages/sacado/src/Sacado_cmath.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_GeneralFad.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_MathFunctions.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops_Fwd.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_StaticFixedStorage.hpp
  packages/sacado/test/UnitTests/CMakeLists.txt
  packages/sacado/test/UnitTests/SafeSqrtTests.cpp
  packages/sacado/test/performance/CMakeLists.txt
  packages/sacado/test/performance/advection/advection.cpp
  packages/sacado/test/performance/advection/advection_hierarchical.cpp
  packages/sacado/test/performance/advection/advection_hierarchical.hpp
  packages/sacado/test/performance/advection/common.hpp
  packages/sacado/test/performance/advection/driver.cpp
  packages/sacado/test/performance/advection_const_basis/advection.cpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical.cpp
  packages/sacado/test/performance/advection_const_basis/advection_hierarchical.hpp
  packages/sacado/test/performance/advection_const_basis/common.hpp
  packages/sacado/test/performance/advection_const_basis/driver.cpp
  packages/sacado/test/performance/fad_kokkos_hierarchical.cpp
  packages/sacado/test/performance/fad_kokkos_mat_vec_perf.cpp
  packages/sacado/test/performance/fad_kokkos_view.cpp
  packages/sacado/test/performance/mat_vec/common.hpp
  packages/sacado/test/performance/mat_vec/mat_vec.cpp
Labels: AT: AUTOMERGE

#7473 PullRequestLinuxCudaDriver.sh: change from Firestone to Garrison nodes
  cmake/std/PullRequestLinuxCudaDriver.sh
Labels: AT: AUTOMERGE

#7481 ATDM: ats1: Final cleanup (hopefully) (ATDV-361, #7470)
  cmake/ctest/drivers/atdm/ats1/local-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/ats1/environment.sh
  cmake/std/atdm/ats1/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7478 MueLu: region matvec, see issue #7175
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionUtilities.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionVector_def.hpp
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
  packages/muelu/test/unit_tests/RegionMatrix.cpp
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: pkg: MueLu, type: enhancement

#7494 MueLu: add option to specify W-cycle start level
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_general.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_decl.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#7493 Ifpack2: Chebyshev+Residual schedule
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_ScaledDampedResidual_def.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Ifpack2

#7400 Belos: Have OrthoManager inherit from Teuchos::ParameterListAcceptorDefaultBase
  packages/belos/epetra/test/OrthoManager/belos_orthomanager_epetra.cpp
  packages/belos/src/BelosDGKSOrthoManager.hpp
  packages/belos/src/BelosICGSOrthoManager.hpp
  packages/belos/src/BelosIMGSOrthoManager.hpp
  packages/belos/src/BelosMatOrthoManager.hpp
  packages/belos/src/BelosOrthoManager.hpp
  packages/belos/src/BelosSimpleOrthoManager.hpp
  packages/belos/src/BelosTsqrOrthoManager.hpp
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_DGKS_OrthoManager_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_ICGS_OrthoManager_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_IMGS_OrthoManager_MP_Vector.hpp
Labels: AT: AUTOMERGE, pkg: Belos

#7502 MueLu: fix compile error
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7467 TriKota Bug #7466 : Fixes to build TriKota with Dakota 6.12
  packages/TriKota/test/CMakeLists.txt
  packages/TriKota/test/Main_ParallelDiagonalThyraME.cpp
  packages/TriKota/test/Main_SimpleEpetraExtME.cpp
  packages/rol/adapters/trikota/src/sol/sparse_grids/ROL_QuadratureHelpers.hpp
  packages/rol/adapters/trikota/test/sol/CMakeLists.txt
Labels: AT: STALE

#7513 Automatic snapshot commit from seacas at 328e9db
  packages/seacas/applications/aprepro/aprepro.C
  packages/seacas/applications/blot/grcolt.f
  packages/seacas/applications/ejoin/EJoin.C
  packages/seacas/applications/exotxt/et_wrqa.f
  packages/seacas/applications/fastq/qmesh.f
  packages/seacas/applications/fastq/rdfsq.f
  packages/seacas/applications/fastq/rowsmo.f
  packages/seacas/applications/genshell/gs_comand.f
  packages/seacas/applications/txtexo/rdxyz.f
  packages/seacas/libraries/aprepro_lib/apr_aprepro.cc
  packages/seacas/libraries/aprepro_lib/apr_parser.cc
  packages/seacas/libraries/aprepro_lib/aprepro.h
  packages/seacas/libraries/exodus/include/exodusII.h
  packages/seacas/libraries/exodus/src/ex_create_par.c
  packages/seacas/libraries/exodus/src/ex_utils.c
  packages/seacas/libraries/ioss/src/Ioss_Map.C
  packages/seacas/libraries/ioss/src/Ioss_Region.C
  packages/seacas/libraries/ioss/src/catch.hpp
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
  packages/seacas/libraries/plt/pltxsl.f
  packages/seacas/libraries/plt/pltxts.f
  packages/seacas/libraries/supes/mem_mgr/mdinit.F
  packages/seacas/libraries/supes/mem_mgr/mxprnt.f
  packages/seacas/libraries/supes/mem_mgr/myprnt.f
  packages/seacas/libraries/supes/memtest.f
  packages/seacas/libraries/suplib/indexn.f
  packages/seacas/libraries/svdi/cgi/met_metxlate.c
  packages/seacas/libraries/svdi/cgi/pst_pstxlate.c
  packages/seacas/libraries/svdi/cgi/x11_x11xlate.c
Labels: AT: AUTOMERGE, PA: Data Services, client: LCM, pkg: seacas

#7510 Tpetra: MatrixMatrix Fence Relocation
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra

#7514 Teuchos: Fix StackedTimer XML nesting
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: AT: AUTOMERGE, type: bug

#7511 MueLu RefMaxwell: attempt fixing bug with cuda+complex
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: pkg: MueLu

#7519 MiniTensor: Fix Clang 10 warnings
  packages/minitensor/src/MiniTensor_Matrix.h
  packages/minitensor/src/MiniTensor_Solvers.h
  packages/minitensor/src/MiniTensor_Tensor.h
  packages/minitensor/src/MiniTensor_Tensor3.h
  packages/minitensor/src/MiniTensor_Tensor4.h
  packages/minitensor/src/MiniTensor_Vector.h
Labels: AT: AUTOMERGE, client: LCM, client: Sierra, pkg: minitensor

#7518 ATDM/cts1empire: Create cts1empire and set as default env (ATDV-367)
  cmake/ctest/drivers/atdm/cts1empire/drivers/Trilinos-atdm-cts1empire-intel-18.0.2_openmpi-4.0.1_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1empire/drivers/Trilinos-atdm-cts1empire-intel-18.0.2_openmpi-4.0.1_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cts1empire/local-driver.sh
  cmake/std/atdm/cts1empire/all_supported_builds.sh
  cmake/std/atdm/cts1empire/custom_builds.sh
  cmake/std/atdm/cts1empire/environment.sh
  cmake/std/atdm/cts1empire/environment_new.sh
  cmake/std/atdm/cts1empire/tweaks/INTEL_DEBUG_OPENMP_BDW.cmake
  cmake/std/atdm/cts1empire/tweaks/INTEL_RELEASE_OPENMP_BDW.cmake
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/util_unit_tests.sh
Labels: AT: AUTOMERGE, ATDM DevOps, ATDM Env Issue, ATDM Sev: Critical, client: ATDM, client: EMPIRE, type: enhancement

#7524 Tempus: Fixes for Subcycling and Deprecated Code
  packages/tempus/doc/Doxyfile
  packages/tempus/src/Tempus_StepperSubcycling_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_Subcycling.cpp
Labels: AT: AUTOMERGE, pkg: Tempus, type: bug

#7438 Intrepid2: Set correct execution spaces for Projection tests
  packages/intrepid2/unit-test/Projection/Cuda/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/Cuda/test_DeRham_commutativity_HEX.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_DeRham_commutativity_QUAD.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_DeRham_commutativity_TET.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_DeRham_commutativity_TRI.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_convergence_HEX.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_convergence_QUAD.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_convergence_TET.cpp
  packages/intrepid2/unit-test/Projection/Cuda/test_convergence_TRI.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_DeRham_commutativity_HEX.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_DeRham_commutativity_QUAD.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_DeRham_commutativity_TET.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_DeRham_commutativity_TRI.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_convergence_HEX.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_convergence_QUAD.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_convergence_TET.cpp
  packages/intrepid2/unit-test/Projection/OpenMP/test_convergence_TRI.cpp
Labels: PA: Discretizations, pkg: Intrepid2, type: bug

#7468 Set Werror globally for the GCC 8.3.0 PR build
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
  cmake/std/sems/PullRequestGCC8.3.0TestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#7528 ATDM: Implement feedback from #7518
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/test/unit_tests/CMakeLists.txt
  cmake/std/atdm/test/unit_tests/atdm_config_helper_funcs_unit_test.sh
  cmake/std/atdm/test/unit_tests/get_known_system_info_unit_test.sh
  cmake/std/atdm/utils/CMakeLists.txt
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/util_unit_tests.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7425 WIP: Thyra: Add Hessian Objects to Thyra::ModelEvaluator
  packages/piro/src/Piro_InvertMassMatrixDecorator.hpp
  packages/piro/src/Piro_InvertMassMatrixDecorator_Def.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_Basic_impl.hpp
  packages/thyra/core/src/interfaces/nonlinear/model_evaluator/fundamental/Thyra_ModelEvaluator.hpp
  packages/thyra/core/src/interfaces/nonlinear/model_evaluator/fundamental/Thyra_ModelEvaluatorBase_decl.hpp
  packages/thyra/core/src/interfaces/nonlinear/model_evaluator/fundamental/Thyra_ModelEvaluatorBase_def.hpp
  packages/thyra/core/src/support/nonlinear/model_evaluator/client_support/Thyra_ModelEvaluatorDefaultBase.hpp
  packages/thyra/core/src/support/nonlinear/model_evaluator/client_support/Thyra_ModelEvaluatorDelegatorBase.hpp
  packages/thyra/core/test/nonlinear/UnitTests/ModelEvaluatorBase_UnitTests.cpp
  packages/thyra/core/test/nonlinear/models/Thyra_DummyTestModelEvaluator_decl.hpp
  packages/thyra/core/test/nonlinear/models/Thyra_DummyTestModelEvaluator_def.hpp
Labels: AT: AUTOMERGE, type: enhancement

#7531 Memory improvements for non-quasi-uniform point clouds in Compadre
  packages/compadre/CMakeLists.txt
  packages/compadre/README.md
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/doc/Doxyfile
  packages/compadre/examples/.gitignore
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_DivergenceFree.cpp
  packages/compadre/examples/GMLS_Manifold.cpp
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_NeumannGradScalar.cpp
  packages/compadre/examples/GMLS_SmallBatchReuse_Device.cpp
  packages/compadre/examples/GMLS_Staggered.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.cpp
  packages/compadre/examples/GMLS_Vector.cpp
  packages/compadre/examples/NeighborSearchTest.cpp
  packages/compadre/src/Compadre_Evaluator.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_GMLS_ApplyTargetEvaluations.hpp
  packages/compadre/src/Compadre_GMLS_Targets.hpp
  packages/compadre/src/Compadre_KokkosParser.hpp
  packages/compadre/src/Compadre_NeighborLists.hpp
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Compadre

#7490 Turn off STKBalance at configure time for Intel PR build if Tpetra-In…
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
  packages/stk/stk_tools/stk_tools/mesh_clone/MeshClone.cpp
Labels: AT: AUTOMERGE, pkg: STK

#7503 Amesos2: Refactor Klu2 solver to use Kokkos views.
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/Amesos2_KLU2.cpp
  packages/amesos2/src/Amesos2_KLU2_FunctionMap.hpp
  packages/amesos2/src/Amesos2_KLU2_TypeMap.cpp
  packages/amesos2/src/Amesos2_KLU2_TypeMap.hpp
  packages/amesos2/src/Amesos2_KLU2_decl.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/klu2_test.xml
Labels: pkg: Amesos2

#7540 Teuchos: increase resolution of StackedTimer timestamps
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, PA: Framework, client: ATDM, pkg: Teuchos

#7537 MueLu add MUMPS to the ML2MueLu Interface
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_def.hpp
Labels: pkg: MueLu

#7541 atdm/utils: Fix matching bug in get_known_system_info
  cmake/std/atdm/utils/get_known_system_info.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Blocker, client: ATDM, type: bug

#7464 Tpetra: remove fence in add()
  packages/kokkos-kernels/src/common/KokkosKernels_SparseUtils.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: AT: AUTOMERGE, pkg: KokkosKernels, pkg: Tpetra, type: bug, type: enhancement

#7533 Pr python cleanup
  cmake/std/PullRequestLinuxCudaDriver.sh
  cmake/std/PullRequestLinuxDriverMerge.py
  cmake/std/PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, Framework tasks

#7499 MueLu: fast region MatVec with multiple DOFs per node
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionUtilities.hpp
  packages/muelu/research/regionMG/examples/structured/CMakeLists.txt
  packages/muelu/research/regionMG/examples/structured/gold_files/Elasticity3D_linear_4.log.gold
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#7543 atdm/utils: Ensure that HOST does not match on ats1 unit tests
  cmake/std/atdm/utils/get_known_system_info.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, client: ATDM, type: bug

#7546 Tpetra: Update comments from KJ for fences.
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_def.hpp
Labels: pkg: Tpetra

#7545 Tpetra remove fences
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_reallocDualViewIfNeeded.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
Labels: pkg: Tpetra

#7539 Tempus: Cleanup of AppAction Includes.
  packages/tempus/src/Tempus_StepperBackwardEulerAppAction.hpp
  packages/tempus/src/Tempus_StepperBackwardEulerModifierDefault.hpp
  packages/tempus/src/Tempus_StepperBackwardEulerModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperBackwardEulerObserverDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEulerAppAction.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEulerObserverDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitAppAction.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierBase.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitObserverDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/src/Tempus_StepperRKAppAction.hpp
  packages/tempus/src/Tempus_StepperRKModifierDefault.hpp
  packages/tempus/src/Tempus_StepperRKModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperRKObserverDefault.hpp
  packages/tempus/src/Tempus_StepperSubcyclingAppAction.hpp
  packages/tempus/src/Tempus_StepperSubcyclingModifierDefault.hpp
  packages/tempus/src/Tempus_StepperSubcyclingModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperSubcyclingObserverDefault.hpp
  packages/tempus/unit_test/Tempus_UnitTest_BackwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_General.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_General.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK_Partition.cpp
  packages/tempus/unit_test/Tempus_UnitTest_OperatorSplit.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Subcycling.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Utils.hpp
Labels: pkg: Tempus, type: bug

#7553 Galeri: Add matrix labels for elasticity problems
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
Labels: AT: AUTOMERGE, pkg: Galeri, pkg: MueLu

#7554 ATDM/cts1empire: Fix custom_builds and add unit tests
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/cts1empire/CMakeLists.txt
  cmake/std/atdm/cts1empire/custom_builds.sh
  cmake/std/atdm/cts1empire/custom_builds_unit_tests.sh
Labels: ATDM Env Issue

#7512 Tpetra: Hierarchical unpack
  packages/tpetra/core/example/advanced/Benchmarks/CrsMatrixDenseRowUnpack.cpp
  packages/tpetra/core/example/advanced/Benchmarks/CrsMatrixMatVec.cpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.cpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.hpp
  packages/tpetra/core/src/Tpetra_Details_packCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_PackUnpack.cpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnpackIntoStaticGraph.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_PackUnpack.cpp
  packages/tpetra/core/test/CrsMatrix/UnpackMerge.cpp
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/UnpackLongRows.cpp
Labels: pkg: Tpetra

#7560 Tpetra: CrsMatrix leftScale and rightScale require fillComplete matrix
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7576 Seacas snapshot june 2020 cgns
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/main/cgns_decomp.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp.C
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#7574 Tpetra: small type fix, see issue #7573
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: bug

#7555 MueLu: use fast MatVec also for regionMG level transfers
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#7564 Zoltan2: Fix MJ parallel_reduce calls to specify RangePolicy
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: pkg: Zoltan2

#7578 Framework: PR Driver Script Fix
  cmake/std/PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#7557 MueLu: Expand unit test for hierarchy write w/ repartitioning
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: pkg: MueLu

#7575 MueLu: Adding filtering to emin
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_multigrid.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/interface/default/Output/emin3_epetra.gold
  packages/muelu/test/interface/default/Output/emin3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/emin1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/emin2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/emin3_tpetra.gold
Labels: pkg: MueLu

#7585 MueLu: Fix issues with IFPACK2=OFF in StratimikosSmoother
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
Labels: pkg: MueLu, type: bug

#7587 Phalanx: fix shared mem check and support corner case
  packages/phalanx/src/Phalanx_DAG_Manager.hpp
  packages/phalanx/src/Phalanx_DAG_Manager_Def.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
  packages/phalanx/test/DagManager/DagManagerTest.cpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG.hpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG_Def.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Phalanx

#7588 Piro: enhancements to TempusSolver for Albany/LCM
  packages/piro/src/Piro_TempusSolver.hpp
  packages/piro/src/Piro_TempusSolver_Def.hpp
Labels: AT: AUTOMERGE, client: LCM

#7584 Zoltan: fix coloring test when num_gid_entries > 1 for #7583
  packages/zoltan/src/driver/dr_loadbal.c
  packages/zoltan/test/Large_Data/CMakeLists.txt
  packages/zoltan/test/Large_Data/stressTestColor.c
  packages/zoltan/test/ch_simple/answers/simple.color-gids.1.0
  packages/zoltan/test/ch_simple/answers/simple.color-gids.4.0
  packages/zoltan/test/ch_simple/answers/simple.color-gids.4.1
  packages/zoltan/test/ch_simple/answers/simple.color-gids.4.2
  packages/zoltan/test/ch_simple/answers/simple.color-gids.4.3
  packages/zoltan/test/ch_simple/zdrive.inp.color-gids
Labels: AT: AUTOMERGE, pkg: Zoltan

#7591 Tpetra remove unnecessary fence from TripleMatrixMultiply
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: pkg: Tpetra

#7592 Tempus: Add setObserver(), initialize() funcs for issue #7357
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
Labels: AT: AUTOMERGE

#7598 Patch stk_simd for issue with cuda+avx512 build.
  packages/stk/stk_simd/stk_simd/disimd/DISimdBool.hpp
Labels: AT: AUTOMERGE, pkg: STK

#7551 ATDM/van1-tx2: Add support for arm-20.1 (ATDV-369)
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_opt.sh
  cmake/std/atdm/test/unit_tests/get_known_system_info_unit_test.sh
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/van1-tx2/all_supported_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds_unit_tests.sh
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Critical, client: ATDM, type: enhancement

#7570 This just casts an unsigned to signed to avoid a compiler assert in a…
  packages/pamgen/rtcompiler/Registrar.C
Labels: AT: AUTOMERGE, pkg: Pamgen

#7559 Tempus: Adjustments to the AppAction Interface
  packages/tempus/src/Tempus_RKButcherTableau.hpp
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperRKAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/src/Tempus_StepperRKModifierXBase.hpp
  packages/tempus/src/Tempus_StepperRKModifierXDefault.hpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_Basic_decl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK_Partition.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Utils.hpp
Labels: client: EMPIRE, pkg: Tempus, type: enhancement

#7604 TrilinosCouplings: Upgrading STK example
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: AT: AUTOMERGE

#7606 Zoltan2: Fix the configuration file name in the installation directory
  packages/zoltan2/core/CMakeLists.txt
  packages/zoltan2/core/cmake/Zoltan2_config.h.in
  packages/zoltan2/core/src/CMakeLists.txt
Labels: AT: AUTOMERGE, client: Albany, impacting: build, pkg: Zoltan2

#7610 MueLu: fix for RegionVector unit test failing
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#7534 Piro/ROL: Adding and testing Hessian support to thyra adapters
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/test/MockModelEval_A_Tpetra.cpp
  packages/piro/test/MockModelEval_A_Tpetra.hpp
  packages/piro/test/_input_Analysis_ROL_AdjointSensitivities_ReducedSpace_NOXSolver_Tpetra.xml
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Constraint_SimOpt.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective_SimOpt.hpp
  packages/rol/src/function/objective/ROL_Objective.hpp
Labels: PA: Nonlinear Solvers, pkg: Piro, pkg: ROL
