Repository trilinos/Trilinos, pull requests merged in 2020-09, with the labels that each got.

#7942 Panzer: Kokkos::initialize after Teuchos::GlobalMPISession
  packages/panzer/adapters-stk/example/CurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedCurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedPoissonExample/main.cpp
  packages/panzer/adapters-stk/example/ModelEvaluator/main_driver.cpp
  packages/panzer/adapters-stk/example/PoissonExample/main.cpp
  packages/panzer/adapters-stk/example/PoissonInterfaceExample/main.cpp
  packages/panzer/adapters-stk/example/PoissonInterfaceTpetra/main.cpp
  packages/panzer/adapters-stk/example/main_driver/main_driver.cpp
  packages/panzer/adapters-stk/tutorial/siamCse17/main.cpp
  packages/panzer/adapters-stk/tutorial/step01/main.cpp
Labels: pkg: Panzer

#7949 Testing: Fix valgrind path on geminga
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_debug_valgrind_muelu_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_serial_debug_valgrind_muelu_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#7932 Framework: PullRequestLinuxDriverMerge.py py2-3 compatibility fix
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxDriverMerge.py
Labels: AT: AUTOMERGE, PA: Framework

#7948 MueLu: Fix out-of-bounds in Notay aggregation
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7935 Panzer fence updates
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp
  packages/panzer/dof-mgr/src/Panzer_FieldAggPattern.cpp
Labels: PA: Discretizations, client: ATDM, pkg: Panzer

#7941 Intrepid2: enable interpolation with DerivedNodalBasis
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DirectSumBasis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_NodalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
  packages/intrepid2/src/Projection/Intrepid2_LagrangianInterpolationDef.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_HEX_newBasis.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_QUAD_newBasis.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TET.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TRI.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Intrepid2, type: enhancement

#7956 MueLu: Fix bug in NotayAgg
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7953 Teko: Fix tests to run on ride/white
  packages/teko/tests/testdriver.cpp
  packages/teko/tests/testdriver_tpetra.cpp
Labels: AT: AUTOMERGE, PA: Linear Solvers, client: EMPIRE, pkg: Teko

#7943 Zoltan2: allow scalar_type = long long when Tpetra instantiates it
  packages/zoltan2/core/src/input/Zoltan2_InputTraits.hpp
  packages/zoltan2/test/core/unit/input/InputTraitsBad.cpp
  packages/zoltan2/test/core/unit/input/InputTraitsGood.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#7947 Zoltan, Zoltan2: fix global index base in chaco reader
  packages/zoltan/src/driver/dr_chaco_io.c
  packages/zoltan/test/CMakeLists.txt
  packages/zoltan/test/ch_7944/7944.graph
  packages/zoltan/test/ch_7944/CMakeLists.txt
  packages/zoltan/test/ch_7944/answers/7944.partkway-v3.4.0
  packages/zoltan/test/ch_7944/answers/7944.partkway-v3.4.1
  packages/zoltan/test/ch_7944/answers/7944.partkway-v3.4.2
  packages/zoltan/test/ch_7944/answers/7944.partkway-v3.4.3
  packages/zoltan/test/ch_7944/zdrive.inp.partkway-v3
  packages/zoltan2/test/core/driver/CMakeLists.txt
  packages/zoltan2/test/core/driver/driverinputs/CMakeLists.txt
  packages/zoltan2/test/core/driver/driverinputs/test7944.xml
  packages/zoltan2/test/core/helpers/UserInputForTests.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan, pkg: Zoltan2

#7955 Teko: fix tests cuda launch blocking off
  packages/teko/src/Teko_Utilities.cpp
Labels: pkg: Teko

#7954 Xpetra: Fence for UVM access of getLocalRowView
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: pkg: Xpetra

#7958 Add needed accessors for ACE in Albany
  packages/piro/src/Piro_TrapezoidRuleSolver.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
Labels: AT: AUTOMERGE, client: LCM, pkg: Piro

#7957 Fix CDash test output truncation for ATDM Trilinos builds
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/examples/TribitsExampleProject/cmake/ctest/CTestCustom.cmake.in
  cmake/tribits/python_utils/gitdist-setup.sh
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: bug

#7968 Trilinos: testing: update rocketman script
  cmake/ctest/drivers/rocketman/sendTestSummary.sh
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Tpetra

#7962 Tpetra: Fix initialize tests to call Kokkos::finalize
  packages/tpetra/core/test/Core/ScopeGuard_user_inits_mpi.cpp
  packages/tpetra/core/test/Core/initialize_user_inits_mpi.cpp
Labels: pkg: Tpetra

#7961 MueLu: region structured unstructured interface aggregate fix
  packages/muelu/src/Graph/HybridAggregation/MueLu_HybridAggregationFactory_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7959 Zoltan2: Fix directory tests to run on ride/white with pascal node
  packages/zoltan2/test/core/directory/directoryTest_Impl.hpp
  packages/zoltan2/test/core/directory/directoryTest_KokkosSimple.cpp
  packages/zoltan2/test/core/directory/directoryTest_findUniqueGids.cpp
Labels: pkg: Zoltan2

#7970 Xpetra: fix documentation
  packages/xpetra/src/Utils/Xpetra_Parameters.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#7938 Xpetra: update and test MapFactory
  packages/xpetra/src/Map/Xpetra_EpetraMapFactory.cpp
  packages/xpetra/src/Map/Xpetra_MapFactory_decl.hpp
  packages/xpetra/src/Map/Xpetra_MapFactory_def.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp
  packages/xpetra/test/Map/CMakeLists.txt
  packages/xpetra/test/Map/MapFactory_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Xpetra, type: enhancement

#7972 Tpetra: Convert computeOffsets deep_copy to use 3-arg
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: pkg: Tpetra

#7981 Fix rocketman testing
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/rocketman/cron_driver.sh
  cmake/ctest/drivers/rocketman/crontab
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Tpetra

#7984 MueLu: Use SerialNode for Epetra vs. Tpetra test
  packages/muelu/test/scaling/CMakeLists.txt
Labels: pkg: MueLu, pkg: Tpetra

#7983 ATDM: cee-rhel6: swtich from intel-18.0.2_mpich2-3.2 to intel-19.0.3_mpich2-3.2 (ATDV-390)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_intel-19.0.3_mpich2-3.2_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_mini-no-mpi_intel-19.0.3_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_mini_intel-19.0.3_mpich2-3.2_static_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds_unit_tests.sh
  cmake/std/atdm/cee-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Critical, client: ATDM, client: SPARC

#7986 Stokhos: Add 3-arg deep_copy specializations.
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
Labels: pkg: Stokhos

#7977 Panzer: Add edge block/field capability to STK_Interface
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SculptMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SculptMeshFactory.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusEdgeBlock.cpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#7991 Tempus tscs pid patch
  packages/tempus/src/Tempus_TimeStepControlStrategyPID.hpp
Labels: AT: AUTOMERGE, pkg: Tempus

#7979 MueLu: Extend RegionRFactory to allow multiple DOFs per node
  packages/muelu/research/regionMG/test/structured/CMakeLists.txt
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_def.hpp
  packages/muelu/test/unit_tests/RegionRFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7965 7890 app action for trapezoidal rule
  packages/tempus/src/Tempus_StepperTrapezoidalAppAction.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalModifierBase.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalModifierDefault.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalModifierXBase.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalObserverBase.hpp
  packages/tempus/src/Tempus_StepperTrapezoidalObserverDefault.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_decl.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_Trapezoidal.cpp
Labels: pkg: Tempus

#7996 Ctest: Rocketman update
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE

#7997 Zoltan2 Sphynx: Set default values for parameters
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
Labels: pkg: Zoltan2, type: enhancement

#7934 Tpetra: Kokkos-only test for UVM data movement
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/KokkosUVM.cpp
Labels: pkg: Tpetra

#7993 Tempus: integrator getXDot name change
  packages/rol/example/tempus/ROL_TempusReducedObjective.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/ForwardEuler/Tempus_ForwardEulerTest.cpp
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_PartitionedTest.cpp
  packages/tempus/test/Leapfrog/Tempus_LeapfrogTest.cpp
  packages/tempus/test/Newmark/Tempus_NewmarkTest.cpp
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplitTest.cpp
  packages/tempus/test/Subcycling/Tempus_SubcyclingTest.cpp
  packages/tempus/test/Trapezoidal/Tempus_TrapezoidalTest.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#7992 Tempus: app action for newmark implicit a form
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormAppAction.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormModifierBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormModifierDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormModifierXBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAFormModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_NewmarkImplicitAForm_HarmonicOscillator_Damped_SecondOrder.xml
  packages/tempus/unit_test/Tempus_UnitTest_NewmarkImplicitAForm.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#8003 MueLu: Fixing heavy tests
  packages/muelu/test/interface/default/FactoryParameterListInterpreter-heavy/emin1.xml
  packages/muelu/test/interface/default/FactoryParameterListInterpreter-heavy/emin2.xml
  packages/muelu/test/interface/default/Output/emin1_epetra.gold
  packages/muelu/test/interface/default/Output/emin1_tpetra.gold
  packages/muelu/test/interface/default/Output/emin2_epetra.gold
  packages/muelu/test/interface/default/Output/emin2_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#7952 Sacado: add capabilities to use PHX::EvaluatorUnitTester with Fad types
  packages/panzer/disc-fe/test/evaluator_tests/dof_basistobasis.cpp
  packages/phalanx/src/Phalanx_Evaluator_UnitTester.hpp
  packages/sacado/src/CMakeLists.txt
  packages/sacado/src/Sacado_Fad_GeneralFadTestingHelpers.hpp
  packages/teuchos/core/src/Teuchos_TestingHelpers.hpp
Labels: pkg: Phalanx, pkg: Sacado

#8011 Xpetra: Guard Kokkos fences for Tpetra only
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: pkg: Xpetra

#8004 Sacado: Allow copy-assign of ViewStorage<T,...> to ViewStorage<const T,...>
  packages/sacado/src/mpl/Sacado_mpl_is_convertible.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_ViewStorage.hpp
  packages/sacado/test/UnitTests/Fad_KokkosTests.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#8013 ATDM: Use registered custom configuration if no known configuratin matches (#8008)
  cmake/ctest/drivers/atdm/README.md
  cmake/std/atdm/README.md
  cmake/std/atdm/test/unit_tests/CMakeLists.txt
  cmake/std/atdm/test/unit_tests/dummy_custom_system/environment.sh
  cmake/std/atdm/test/unit_tests/get_system_info_unit_tests.sh
  cmake/std/atdm/test/unit_tests/sems_rhel6_get_platform.sh
  cmake/std/atdm/test/unit_tests/sems_rhel7_get_platform.sh
  cmake/std/atdm/utils/get_custom_system_info.sh
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/get_system_info.sh
  cmake/std/atdm/utils/set_custom_system_info_vars.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#8019 TrilinosCouplings/MueLu/Ctest: Adding Avatar to 2D tests, enabling rocketman tests
  cmake/ctest/drivers/rocketman/CMakeLists.txt
  packages/muelu/src/Utils/MueLu_AvatarInterface.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE

#7994 Muelu: regionMG add rebalance before coarse AMG iterations
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/test/structured/CMakeLists.txt
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8026 ATDM: Add more tests, fix small typo
  cmake/ctest/drivers/atdm/README.md
  cmake/std/atdm/test/unit_tests/get_system_info_unit_tests.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#8000 Tempus: app action for newmark explicit a form
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormAppAction.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormModifierBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormModifierDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormModifierXBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAFormModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_impl.hpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_NewmarkExplicitAForm_HarmonicOscillator_Damped.xml
  packages/tempus/unit_test/Tempus_UnitTest_NewmarkExplicitAForm.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#7985 Adjust runKernelOnHost threshold
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: STALE, pkg: Tpetra

#8032 atdm/contributed: add script for kokkos-dev-2 test bed
  cmake/std/atdm/contributed/kokkos-dev-2/environment.sh
Labels: ATDM Config, client: ATDM

#8031 tpetra: workaround gcc/7.2.0 bug with c++14
  packages/tpetra/core/test/CrsMatrix/Equilibration.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8021 Belos: Register SolverFactory for ScalarType = float
  packages/belos/src/BelosSolverFactory_Belos.hpp
  packages/belos/src/Belos_Details_registerSolverFactory.cpp
  packages/belos/test/Factory/Factory.cpp
Labels: pkg: Belos

#8027 ATDM: tlcc2: Change time limit from 1:30 to 3:00 for debug build (ATDV-392)
  cmake/ctest/drivers/atdm/tlcc2/drivers/Trilinos-atdm-tlcc2-intel-debug-openmp.sh
Labels: ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#8038 MueLu: Improve RegionRFactory and Tests
  packages/muelu/research/regionMG/test/structured/CMakeLists.txt
  packages/muelu/research/regionMG/test/structured/structured_linear_R_3dof.xml
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8040 Tpetra: remove Kokkos::parallel_scan workaround implemented for 2019 parallel_scan bug
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8043 Amesos2: SuperLUDist fixes
  packages/amesos2/src/Amesos2_Superludist_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
  packages/amesos2/src/Amesos2_Superludist_decl.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/superludist_test.xml
Labels: AT: AUTOMERGE, pkg: Amesos2

#8053 Minor tweak to van1-tx2 environment
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM Sev: Nonblocker

#8058 Geminga: Fix issue finding CUDA
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/cron_driver.sh
Labels: AT: AUTOMERGE

#8033 Tpetra: removed CUDA-specific code that doesn't work with CUDA 11.
  packages/tpetra/core/src/Tpetra_Details_checkPointer.cpp
  packages/tpetra/core/src/Tpetra_Details_checkPointer.hpp
  packages/tpetra/core/src/Tpetra_Details_checkView.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/CheckMemoryType.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8056 Set standard to C++14 on Clang builds
  cmake/std/PullRequestLinuxClang10.0.0TestingSettings.cmake
  cmake/std/PullRequestLinuxClang9.0.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8065 Geminga: Next round of cuda fixes
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_debug_muelu_kokkos_refactor_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_amgx_cuda_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_kokkos_refactor_cuda_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8054 7891 app action for hht
  packages/tempus/src/Tempus_StepperHHTAlphaAppAction.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaModifierBase.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaModifierDefault.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaModifierXBase.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaObserverBase.hpp
  packages/tempus/src/Tempus_StepperHHTAlphaObserverDefault.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_decl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_BDF2.cpp
  packages/tempus/unit_test/Tempus_UnitTest_HHTAlpha.cpp
Labels: pkg: Tempus

#7460 App action interface for leapfrog 7334
  packages/tempus/src/Tempus_StepperLeapfrogAppAction.hpp
  packages/tempus/src/Tempus_StepperLeapfrogAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperLeapfrogModifierBase.hpp
  packages/tempus/src/Tempus_StepperLeapfrogModifierDefault.hpp
  packages/tempus/src/Tempus_StepperLeapfrogModifierXBase.hpp
  packages/tempus/src/Tempus_StepperLeapfrogModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperLeapfrogObserverBase.hpp
  packages/tempus/src/Tempus_StepperLeapfrogObserverDefault.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_decl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_Leapfrog.cpp
Labels: pkg: Tempus

#8069 Tpetra: Fix for removeEmptyProcessesInPlace
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_removeEmptyProcesses.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8060 Ifpack Hypre: Port fix by @ecoon
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/ifpack/src/Ifpack_Hypre.h
Labels: pkg: Ifpack

#8080 Lower case diff
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
Labels: AT: AUTOMERGE, client: ATDM, client: EMPIRE, pkg: Panzer

#8075 MueLu: free fine-level composite operator as soon as possible
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8086 Phalanx: fix for gcc 5/6 lambda bug on cuda
  packages/phalanx/example/FiniteElementAssembly/evaluators/GatherSolution_Def.hpp
  packages/phalanx/example/FiniteElementAssembly/evaluators/ScatterResidual_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_MixedFieldTypes/evaluators/GatherSolution_Def.hpp
  packages/phalanx/example/FiniteElementAssembly_MixedFieldTypes/evaluators/ScatterResidual_Def.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Phalanx

#8063 Add <fullTestName>_SET_RUN_SERIAL and use on 'ride' (#7112), fix MaxOSX install (#7881)
  cmake/ctest/TrilinosCTestDriverCore.cmake
  cmake/std/atdm/ride/tweaks/Tweaks.cmake
  cmake/tribits/core/installation/set_installed_group_and_permissions.cmake.in
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddInstallGroupAndPermsFixups.cmake
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
  cmake/tribits/core/package_arch/TribitsAddTestHelpers.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#8088 Tests: Fixing geminga test
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_amgx_cuda_geminga.cmake
Labels: AT: AUTOMERGE

#8089 Tpetra: fix warnings
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_checkView.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_idot.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8045 Zoltan2: Refactor directory to use Teuchos comm
  packages/zoltan2/core/src/directory/Zoltan2_Directory.hpp
  packages/zoltan2/core/src/directory/Zoltan2_Directory_Comm.cpp
  packages/zoltan2/core/src/directory/Zoltan2_Directory_Comm.hpp
  packages/zoltan2/test/core/directory/directoryTest_Impl.hpp
  packages/zoltan2/test/core/directory/directoryTest_KokkosSimple.cpp
  packages/zoltan2/test/core/directory/directoryTest_findUniqueGids.cpp
Labels: pkg: Zoltan2

#8074 Panzer/edge block updates
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SculptMeshFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusEdgeBlock.cpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#8078 TrilinosCouplings: Enabling machine learning tests
  packages/trilinoscouplings/cmake/TrilinosCouplings_config.h.in
  packages/trilinoscouplings/examples/scaling/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/Maxwell_avatar.xml
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_Statistics.hpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8083 Tpetra: workarounds to compiler bug in #8047
  packages/tpetra/tsqr/src/Tsqr_FullTsqrTest.hpp
  packages/tpetra/tsqr/test/Tsqr_TestNodeTsqr.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8094 Geminga: Fix AMGx build
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_amgx_cuda_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8081 Create new Serial GCC7.2.0 PR build with C++14 set
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/PullRequestLinuxGCC7.2.0SerialTestingSettings.cmake
  cmake/std/sems/PullRequestGCC7.2.0SerialTestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8082 Tempus: AppAction for newmark implicit d form
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormAppAction.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormModifierBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormModifierDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormModifierXBase.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDFormModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_NewmarkImplicitDForm.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#8092 Set standard to C++14 for Intel 17.0.1 PR build
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8095 Geminga: Remove valgrind option
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8100 Set standard to C++14 for GCC 7.2.0 PR build
  cmake/std/PullRequestLinuxGCC7.2.0DebugTestingSettings.cmake
  cmake/std/PullRequestLinuxGCC7.2.0TestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8109 Geminga: Set valgrind suppression file
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8098 Seacas fix symmetric communication
  packages/seacas/libraries/ioss/src/cgns/Iocgns_StructuredZoneData.C
  packages/seacas/libraries/ioss/src/main/cgns_decomp.C
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#8116 Tempus: update documentation for TSC
  packages/tempus/src/Tempus_TimeStepControlStrategyComposite.hpp
  packages/tempus/src/Tempus_TimeStepControl_decl.hpp
Labels: AT: AUTOMERGE

#8106 MueLu: fix compile when Tpetra/Kokkos are disabled.
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_decl.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_def.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/unit_tests/Adapters/CreatePreconditioner.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests_kokkos/CMakeLists.txt
  packages/muelu/test/unit_tests_kokkos/MueLu_TestHelpers_kokkos.hpp
  packages/muelu/test/unit_tests_kokkos/NotayAggregationFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8117 Xpetra: Fix output
  packages/xpetra/test/MultiVector/MultiVector_UnitTests.cpp
Labels: pkg: Xpetra

#8120 Stokhos: Remove duplication for deep_copy specializations
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
Labels: pkg: Stokhos

#8096 Tpetra: remove unused files and deprecate one unused function
  packages/tpetra/core/ext/TpetraExt_TypeStack.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_get1DConstView.hpp
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/TypeStack/CMakeLists.txt
  packages/tpetra/core/test/TypeStack/TypeStackTest.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8119 Tpetra: Rollback #7972
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: pkg: Tpetra

#8121 TrilinosCouplings: Adding diffusive CFL output to Maxwell example
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8046 Tpetra - change the logic in set all to scalar
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
Labels: pkg: Tpetra

#8123 Intrepid2 - uvm removal on test
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefCloneScale.hpp
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefContractions.hpp
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefDot.hpp
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefScalar.hpp
  packages/intrepid2/src/Shared/Intrepid2_RealSpaceToolsDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_Utils.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/Cuda/test_01.cpp
  packages/intrepid2/unit-test/Shared/ArrayTools/Cuda/test_02.cpp
  packages/intrepid2/unit-test/Shared/ArrayTools/Cuda/test_03.cpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_01.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_02.hpp
  packages/intrepid2/unit-test/Shared/ArrayTools/test_03.hpp
Labels: AT: AUTOMERGE, pkg: Intrepid2

#8114 Framework/ifpack2/kokkos-kernels: Set standard to C++14 for CUDA 9.2 PR build
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainerUtil.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestOverlappingRowMatrix.cpp
  packages/kokkos-kernels/src/batched/KokkosBatched_SetTriangular_Internal.hpp
  packages/kokkos-kernels/unit_test/batched/Test_Batched_TeamVectorSolveUTV.hpp
  packages/kokkos-kernels/unit_test/batched/Test_Batched_TeamVectorSolveUTV2.hpp
  packages/kokkos-kernels/unit_test/batched/Test_Batched_TeamVectorUTV.hpp
Labels: AT: AUTOMERGE, Framework tasks, PA: Framework

#8127 Geminga+Enigma: Set CDash track for experimental builds
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_muelu_no_int_no_serial_openmp_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_no_serial_openmp_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_openmp_no_epetra_no_int_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_no_int_openmp_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_serial_release_muelu_experimental_enigma.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_no_epetra_no_serial_openmp_geminga.cmake
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_tpetra_no_int_no_serial_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#8128 MueLu: fix user guide
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
Labels: AT: AUTOMERGE, pkg: MueLu

#8122 Teuchos: Add Git SHA as Watchr metadata
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: AT: AUTOMERGE, pkg: Teuchos, type: enhancement
