Repository trilinos/Trilinos, pull requests merged in 2020-01, with the labels that each got.

#6099 Set up new ATDM Trilinos 'cts1' env and automated builds
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-2.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-2.0.3_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cts1/local-driver.sh
  cmake/std/atdm/README.md
  cmake/std/atdm/apps/sparc/SPARCTrilinosPackagesList.cmake
  cmake/std/atdm/common/define_run_on_slurm_compute_node_func.sh
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/cts1/all_supported_builds.sh
  cmake/std/atdm/cts1/custom_builds.sh
  cmake/std/atdm/cts1/environment.sh
  cmake/std/atdm/cts1/tweaks/INTEL_DEBUG_OPENMP_BDW.cmake
  cmake/std/atdm/cts1/tweaks/INTEL_RELEASE_OPENMP_BDW.cmake
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/get_system_info_utils.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#6513 Piro: fix redundant calls to observeSolution
  packages/piro/src/Piro_NOXSolver_Def.hpp
Labels: AT: AUTOMERGE, pkg: Piro

#6515 MueLu: implementing logic to build composite nullspace for Elasticity in SetupRegionHierarchy
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6473 Phalanx shared fields
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory_impl.hpp
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
  packages/panzer/disc-fe/src/Panzer_Dimension.cpp
  packages/panzer/disc-fe/src/Panzer_Dimension.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Constant_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointValues.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointValues_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_Epetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ReorderADValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/test/closure_model/user_app_ConstantModel_impl.hpp
  packages/phalanx/build_scripts/build_phalanx_gcc_mac_s1002730.sh
  packages/phalanx/src/Phalanx_DAG_Manager.hpp
  packages/phalanx/src/Phalanx_DAG_Manager_Def.hpp
  packages/phalanx/src/Phalanx_DataLayout.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Base_Def.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
  packages/phalanx/src/Phalanx_Evaluator.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/src/Phalanx_ExtentTraits.hpp
  packages/phalanx/src/Phalanx_Field.hpp
  packages/phalanx/src/Phalanx_FieldManager.hpp
  packages/phalanx/src/Phalanx_FieldManager_Def.hpp
  packages/phalanx/src/Phalanx_KokkosView_AllocationSize.hpp
  packages/phalanx/src/Phalanx_KokkosView_CreateView.hpp
  packages/phalanx/src/Phalanx_KokkosView_HiddenDimensionForSFINAE.hpp
  packages/phalanx/src/Phalanx_Kokkos_PrintViewValues.hpp
  packages/phalanx/src/Phalanx_MDField.hpp
  packages/phalanx/src/Phalanx_MemoryManager.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Constant.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Constant_Def.hpp
  packages/phalanx/test/DagManager/DagManagerTest.cpp
  packages/phalanx/test/Field/CMakeLists.txt
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Field/MDField_Compiletime.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
  packages/phalanx/test/Field/ViewAllocationSize.cpp
  packages/phalanx/test/Kokkos/tKokkosAllocationTracker.cpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG.hpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG_Def.hpp
Labels: PA: Discretizations, pkg: Panzer, pkg: Phalanx

#6524 Fix cmake error where stk config file wasn't being installed.
  packages/stk/CMakeLists.txt
  packages/stk/stk_search/cmake/Dependencies.cmake
  packages/stk/stk_util/stk_util/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: STK

#6523 ATDM: Add cee-rhel6 openmpi-4.0.1 builds (ATDV-237)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-4.0.1_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_gnu-7.2.0_openmpi-4.0.1_serial_shared_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/ctest-s-local-test-driver.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6505 Tempus: creating test for Newmark d-Form stepper
  packages/tempus/test/Newmark/CMakeLists.txt
  packages/tempus/test/Newmark/Tempus_NewmarkImplicitDForm_HarmonicOscillator_Damped_SecondOrder.xml
  packages/tempus/test/Newmark/Tempus_NewmarkTest.cpp
  packages/tempus/test/TestModels/HarmonicOscillatorModel_decl.hpp
  packages/tempus/test/TestModels/HarmonicOscillatorModel_impl.hpp
Labels: AT: AUTOMERGE

#6526 MueLu: updating the nightly configuration from geminga's cuda build
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_kokkos_refactor_cuda_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6530 ATDM: cts1: Eliminate usage of 'sparc' and old 'atdv' modules (ATDV-212)
  cmake/std/atdm/common/toss3/environment_new.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Blocker, client: ATDM, client: EMPIRE, type: bug

#6529 Teuchos utils: Improve stacked timer visualization script
  packages/teuchos/comm/utils/plotStackedTimers.py
Labels: pkg: Teuchos

#6353 tpetra: work around one parallel_scan as an experiment on stria for #6345
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: AT: STALE, AT: WIP, pkg: Tpetra

#6533 Promote new cee-rhel6 openmpi-4.0.1 builds to ATDM group (ATDV-237)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-4.0.1_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_gnu-7.2.0_openmpi-4.0.1_serial_shared_opt.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#6514 Zoltan2: Fixes for #6440
  packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/test/helpers/GeometricGenerator.hpp
Labels: pkg: Zoltan2

#6549 ATDM: Update cmake version to 3.12.2 in tlcc2 env
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
  cmake/std/atdm/tlcc2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#6535 MueLu: Exposing aggregation algorithm via easy parameterlist
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6546 Amesos2: fixing gcc 8.3.0 warnings for #6295
  packages/amesos2/example/quick_solve.cpp
  packages/amesos2/example/quick_solve_epetra.cpp
  packages/amesos2/test/solvers/Solver_Test.cpp
Labels: AT: AUTOMERGE, pkg: Amesos2, type: enhancement

#6539 Intrepid2: Allow using Kokkos with deprecated code
  packages/intrepid2/src/Shared/Intrepid2_Kernels.hpp
Labels: AT: AUTOMERGE

#6536 make 'cts1' env the default on CTS-1 systems and remove 'serrano'
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-debug-openmp-panzer.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp-panzer.sh
  cmake/ctest/drivers/atdm/serrano/drivers/Trilinos-atdm-serrano-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/serrano/local-driver.sh
  cmake/std/atdm/serrano/all_supported_builds.sh
  cmake/std/atdm/serrano/environment.sh
  cmake/std/atdm/serrano/tweaks/INTEL_DEBUG_OPENMP_BDW.cmake
  cmake/std/atdm/serrano/tweaks/INTEL_RELEASE_OPENMP_BDW.cmake
  cmake/std/atdm/utils/get_known_system_info.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#6544 Panzer: Adding domain EXTERNAL to DomainEvaluator
  packages/panzer/adapters-stk/test/evaluator_tests/domain_interface.cpp
  packages/panzer/disc-fe/src/Panzer_Evaluator_DomainInterface.cpp
  packages/panzer/disc-fe/src/Panzer_Evaluator_DomainInterface.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Panzer

#6548 Ifpack: fixing gcc 8.3.0 warnings for #6295
  packages/ifpack/src/Ifpack_Utils.cpp
Labels: AT: AUTOMERGE, pkg: Ifpack, type: enhancement

#6556 ATDM: Promote new cts1 intel-19 builds to ATDM CDAsh group (ATDV-281)
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_opt.sh
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#6537 MueLu: update region MG keep mechanism
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/examples/structured/CMakeLists.txt
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
  packages/muelu/research/regionMG/examples/structured/structured_1dof-complex.xml
  packages/muelu/research/regionMG/examples/structured/structured_1dof.xml
  packages/muelu/research/regionMG/examples/structured/structured_linear_1dof.xml
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6452 Teuchos: SyncTimeMonitor
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.hpp
  packages/teuchos/comm/test/TimeMonitor/CMakeLists.txt
  packages/teuchos/comm/test/TimeMonitor/SyncTimeMonitor.cpp
Labels: client: EMPIRE, pkg: MueLu, pkg: Teuchos

#6558 SEACAS: Fix for nvcc compilation problems
  packages/seacas/libraries/ioss/src/fmt/format-inl.h
  packages/seacas/libraries/suplib_cpp/fmt/format-inl.h
Labels: AT: AUTOMERGE, PA: Data Services, impacting: build, pkg: seacas, system: gpu

#6562 Phalanx: fix data layout test #6554
  packages/phalanx/test/DataLayout/MDALayout.cpp
Labels: AT: AUTOMERGE, ATDM Sev: Critical, client: ATDM, client: EMPIRE, pkg: Phalanx

#6564 Remove cee-rhel6 openmpi-1.10.2 builds (ATDV-237)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_gnu-7.2.0_openmpi-1.10.2_serial_shared_opt.sh
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#6559 EXODUS: Handle mesh with no elements in parallel
  packages/seacas/libraries/exodus/include/exodusII.h
  packages/seacas/libraries/exodus/src/ex_get_init_ext.c
  packages/seacas/libraries/exodus/src/ex_get_init_global.c
  packages/seacas/libraries/exodus/test/testrd.c
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas, type: bug

#6568 Revert "EXPLORE: Comma-sep output in id ranges"
  packages/seacas/applications/explore/exp_ckmap.f
  packages/seacas/applications/explore/exp_prinit.f
  packages/seacas/applications/explore/exp_qainfo.blk
  packages/seacas/applications/explore/explore.f
  packages/seacas/cmake/Dependencies.cmake
  packages/seacas/libraries/suplib/CMakeLists.txt
  packages/seacas/libraries/suplib/cmake/Dependencies.cmake
  packages/seacas/libraries/suplib/convert.C
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, impacting: build, pkg: seacas

#6567 Zoltan2: Restore Epetra support for Multijagged (#6424)
  packages/zoltan2/src/input/Zoltan2_XpetraMultiVectorAdapter.hpp
  packages/zoltan2/test/partition/CMakeLists.txt
  packages/zoltan2/test/partition/mj_epetra.cpp
Labels: pkg: Zoltan2

#6572 MueLu: coarse coordinates
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/examples/structured/amg_3dof_rebalance.xml
  packages/muelu/research/regionMG/examples/structured/structured_linear_3dof.xml
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#6577 TrilinosCouplings: removing warnings related to unused local typedefs
  packages/trilinoscouplings/examples/fenl/main.cpp
  packages/trilinoscouplings/examples/fenl/main_ensemble.cpp
  packages/trilinoscouplings/examples/fenl/main_pce.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings, type: enhancement

#6576 ML: fixing warnings for GCC 8.3.0
  packages/ml/src/MLAPI/MLAPI_Workspace.cpp
  packages/ml/src/Utils/ml_MultiLevelPreconditioner.cpp
  packages/ml/src/Utils/ml_epetra_utils.cpp
Labels: AT: AUTOMERGE, pkg: ML, type: bug

#6579 Percept: removing warning related to exception catching see #6295
  packages/percept/src/percept/RunEnvironment.cpp
Labels: AT: AUTOMERGE, pkg: Percept, type: enhancement

#6578 Panzer: swap catch by value with catch by reference for #6295
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
Labels: AT: AUTOMERGE, pkg: Panzer, type: enhancement

#6580 ROL: removing warning due to exception catching by value see #6295
  packages/rol/example/PDE-OPT/TOOLS/solver_def.hpp
Labels: AT: AUTOMERGE, pkg: ROL, type: enhancement

#6551 Panzer: Bugfix for sideset definitions on processor boundaries
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/local_mesh/CMakeLists.txt
  packages/panzer/adapters-stk/test/local_mesh/parallel_local_mesh_utilities.cpp
  packages/panzer/adapters-stk/test/local_mesh/test_mesh.exo.2.0
  packages/panzer/adapters-stk/test/local_mesh/test_mesh.exo.2.1
  packages/panzer/adapters-stk/test/local_mesh/test_mesh.jou
Labels: AT: AUTOMERGE, client: ATDM, pkg: Panzer

#6582 Rythmos: removing shadowed type definition, see issue #6295
  packages/rythmos/src/Rythmos_ThetaStepper_def.hpp
Labels: AT: AUTOMERGE, pkg: Rythmos, type: enhancement

#6581 Thyra: removing shadowing typedef, see issue #6295
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_MultiVectorStdOpsTester_def.hpp
Labels: AT: AUTOMERGE, pkg: Thyra, type: enhancement

#6586 Tpetra: Making MMM_Timings play nicer with stacked timers
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6584 Tpetra::CrsGraph: Improve exception messages on insert failure
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra

#6588 Tpetra: More MMM Timings / StackedTimer fixes
  packages/tpetra/core/src/Tpetra_Import_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6583 TSQR: Automatically detect CUBLAS & CUSOLVER TPLs; improve TPL handle wrappers
  packages/tpetra/tsqr/cmake/Dependencies.cmake
  packages/tpetra/tsqr/src/CMakeLists.txt
  packages/tpetra/tsqr/src/Tsqr_CombineDefault.hpp
  packages/tpetra/tsqr/src/Tsqr_CuSolverNodeTsqr.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuBlas.cpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuBlas.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuBlasHandle.cpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuBlasHandle.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuBlasHandle_fwd.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuSolver.cpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuSolver.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuSolverHandle.cpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuSolverHandle.hpp
  packages/tpetra/tsqr/src/Tsqr_Impl_CuSolverHandle_fwd.hpp
  packages/tpetra/tsqr/src/Tsqr_Test_MpiAndKokkosScope.cpp
  packages/tpetra/tsqr/test/CuSolver.cpp
  packages/tpetra/tsqr/test/Tsqr_TestDistTsqr.cpp
  packages/tpetra/tsqr/test/Tsqr_TestFullTsqr.cpp
  packages/tpetra/tsqr/test/Tsqr_TestNodeTsqr.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, system: gpu

#6591 Tpetra: removed unused field and CUDA compiler warning
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_decl.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6593 Tpetra: Fix overflow for TpetraCore_MatrixMatrix_UnitTests
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra

#6597 zoltan2: add missing include file for non-ETI builds
  packages/zoltan2/src/input/Zoltan2_XpetraTraits.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#6600 Disable Teko_testdriver_tpetra_MPI_4 in all atdm 'waterman' builds (#6463)
  cmake/std/atdm/waterman/tweaks/Tweaks.cmake
Labels: AT: AUTOMERGE, ATDM DevOps, PA: Linear Solvers, client: ATDM, client: EMPIRE, pkg: Teko, type: bug

#6602 SEACAS: go back to lib:fmt 6.0.0 until fix issue on vortex xl/cuda build
  packages/seacas/libraries/ioss/src/fmt/chrono.h
  packages/seacas/libraries/ioss/src/fmt/color.h
  packages/seacas/libraries/ioss/src/fmt/compile.h
  packages/seacas/libraries/ioss/src/fmt/core.h
  packages/seacas/libraries/ioss/src/fmt/format-inl.h
  packages/seacas/libraries/ioss/src/fmt/format.h
  packages/seacas/libraries/ioss/src/fmt/locale.h
  packages/seacas/libraries/ioss/src/fmt/ostream.h
  packages/seacas/libraries/ioss/src/fmt/posix.h
  packages/seacas/libraries/ioss/src/fmt/printf.h
  packages/seacas/libraries/suplib_cpp/fmt/chrono.h
  packages/seacas/libraries/suplib_cpp/fmt/color.h
  packages/seacas/libraries/suplib_cpp/fmt/compile.h
  packages/seacas/libraries/suplib_cpp/fmt/core.h
  packages/seacas/libraries/suplib_cpp/fmt/format-inl.h
  packages/seacas/libraries/suplib_cpp/fmt/format.h
  packages/seacas/libraries/suplib_cpp/fmt/locale.h
  packages/seacas/libraries/suplib_cpp/fmt/ostream.h
  packages/seacas/libraries/suplib_cpp/fmt/posix.h
  packages/seacas/libraries/suplib_cpp/fmt/printf.h
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#6598 Tpetra: use created subviews of communication buffers
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6606 Tpetra: index change from #6598
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6557 Framework: updating the autotester env to remove dependency on atdm-env
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnvSERIAL.sh
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
  cmake/std/sems/PullRequestGCC7.3.0TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
Labels: AT: AUTOMERGE, AT: STALE, Framework tasks, PA: Framework, type: enhancement

#6604 Tpetra: Start work on #6603 (optimize CrsMatrix GPU unpack for long rows)
  packages/tpetra/core/src/Epetra_TsqrMessenger.cpp
  packages/tpetra/core/src/Epetra_TsqrMessenger.hpp
  packages/tpetra/core/src/Tpetra_ApplyOp.hpp
  packages/tpetra/core/src/Tpetra_Assembly_Helpers.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_fwd.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_fwd.hpp
  packages/tpetra/core/src/Tpetra_ConfigDefs.hpp
  packages/tpetra/core/src/Tpetra_Core.cpp
  packages/tpetra/core/src/Tpetra_Core.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_copyOffsets.hpp
  packages/tpetra/core/test/Behavior/Behavior_Default.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6619 SEACAS: Remove locale setting
  packages/seacas/libraries/ioss/src/Ioss_Initializer.C
Labels: AT: AUTOMERGE, ATDM Sev: Blocker, ATDM Sev: Critical, PA: Data Services, client: ATDM, client: EMPIRE, client: SPARC, impacting: sanity, pkg: seacas

#6594 Intrepid2: making tests more robust to architectural differences.
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/AnalyticPolynomialsMatchTests.cpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/IntegratedJacobiTests.cpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/IntegratedLegendreTests.cpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/LegendreTests.cpp
Labels: AT: AUTOMERGE

#6620 Teuchos utils: fix another stacked timer plotting bug
  packages/teuchos/comm/utils/plotStackedTimers.py
Labels: pkg: Teuchos

#6624 Ifpack2: pass correct "symmetric" flag to MTSGS setup
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
Labels: AT: AUTOMERGE, type: bug

#6623 MueLu: Adding timer granularity to Kokkos-ized prolongator smoothing
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6628 Tpetra: Correcting unecessary extraction of remotes for A matrix in Jacobi
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6627 Kokkos: fix threadfence issue in scan
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_ReduceScan.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Blocker, client: EMPIRE, impacting: sanity, pkg: Kokkos, results impacting, system: gpu, type: bug

#6615 spadd bugfix, cleanup for performance
  packages/kokkos-kernels/src/sparse/KokkosSparse_spadd.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: type: bug, type: enhancement

#6631 Fix cluster MTSGS crashing with remote neighbors/columnss
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_cluster_gauss_seidel_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_partitioning_impl.hpp
Labels: pkg: KokkosKernels, type: bug

#6635 Remove some useless matvecs from region MG
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/main.cpp
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE

#6634 Tpetra,Anasazi: Fix #6611, #6612, & #6633
  packages/anasazi/src/AnasaziMVOPTester.hpp
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_hb_df.cpp
  packages/kokkos-kernels/src/Kokkos_InnerProductSpaceTraits.hpp
  packages/kokkos-kernels/src/blas/KokkosBlas1_dot.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_dot_impl.hpp
  packages/teuchos/numerics/src/Teuchos_MatrixMarket_generic.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: impacting: build, pkg: Anasazi, pkg: Tpetra

#6645 Sacado: Use more overflow-safe implementation of d(tanh(x))/dx.
  packages/sacado/src/Sacado_CacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRCacheFad_Ops.hpp
  packages/sacado/src/Sacado_ELRFad_Ops.hpp
  packages/sacado/src/Sacado_Fad_Ops.hpp
  packages/sacado/src/Sacado_Fad_SimpleFadOps.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#6647 Sacado: Remove DMFad (both old and new design).
  packages/sacado/doc/index.doc
  packages/sacado/example/CMakeLists.txt
  packages/sacado/example/dmfad_example.cpp
  packages/sacado/src/CMakeLists.txt
  packages/sacado/src/Sacado.hpp
  packages/sacado/src/Sacado_DisableKokkosCuda.hpp
  packages/sacado/src/Sacado_Fad_BLAS.hpp
  packages/sacado/src/Sacado_Fad_DMFad.hpp
  packages/sacado/src/Sacado_Fad_DMFadTraits.hpp
  packages/sacado/src/Sacado_Fad_MemPool.hpp
  packages/sacado/src/Sacado_Fad_MemPoolImp.hpp
  packages/sacado/src/Sacado_Fad_MemPoolManager.hpp
  packages/sacado/src/Sacado_Fad_MemPoolManagerImp.hpp
  packages/sacado/src/Sacado_Fad_MemPoolStorage.hpp
  packages/sacado/src/Sacado_No_Kokkos.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_DMFad.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_MemPoolStorage.hpp
  packages/sacado/test/TestSuite/TraitsTests.cpp
  packages/sacado/test/TestSuite/TraitsTests.hpp
  packages/sacado/test/UnitTests/ConversionTests.cpp
  packages/sacado/test/UnitTests/Fad_SerializationTests.cpp
  packages/sacado/test/UnitTests/MoveTests.cpp
  packages/sacado/test/UnitTests/PromoteTests.cpp
  packages/sacado/test/performance/fad_expr.cpp
  packages/sacado/test/performance/fad_fe_jac_fill.cpp
  packages/sacado/test/performance/fad_lj_grad.cpp
Labels: AT: AUTOMERGE, pkg: Sacado

#6644 Tempus: Initial Documentation for Iteration Matrix.
  packages/tempus/src/Tempus_StepperBDF2_decl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_decl.hpp
Labels: AT: AUTOMERGE, impacting: documentation, pkg: Tempus

#6649 Tacho - disable to use a recursive function
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_FactorizeCholPanel.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_TaskFunctor_SolveUpperChol.hpp
Labels: AT: AUTOMERGE

#6630 Added os.path.abspath to find the full path to the tested file
  cmake/std/unittests/TestPullRequestLinuxDriverMerge.py
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#6653 Resolve 6652 Intrepid2: Renaming variable to avoid shadow warning.
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Intrepid2

#6587 Tpetra: Fix export/import to local graph/matrix
  packages/tpetra/core/test/CrsGraph/CrsGraph_StaticImportExport.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_StaticImportExport.cpp
Labels: pkg: Tpetra

#6617 Tpetra: Resolve CUDA_LAUNCH_BLOCKING requirements for serial
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_transform_MultiVector.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests4.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: pkg: Tpetra, system: gpu

#6646 Patching in team-level bitonic sort
  packages/kokkos-kernels/src/common/KokkosKernels_Sorting.hpp
  packages/kokkos-kernels/test_common/Test_Common_Sorting.hpp
  packages/kokkos-kernels/unit_test/CMakeLists.txt
  packages/kokkos-kernels/unit_test/cuda/Test_Cuda_Common_Sorting.cpp
  packages/kokkos-kernels/unit_test/openmp/Test_OpenMP_Common_Sorting.cpp
  packages/kokkos-kernels/unit_test/serial/Test_Serial_Common_Sorting.cpp
  packages/kokkos-kernels/unit_test/threads/Test_Threads_Common_Sorting.cpp
Labels: pkg: KokkosKernels, pkg: Tpetra, type: enhancement

#6641 Teuchos: Add operator bool() to Teuchos::RCP
  packages/teuchos/core/src/Teuchos_RCP.hpp
  packages/teuchos/core/src/Teuchos_RCPDecl.hpp
  packages/teuchos/core/test/MemoryManagement/RCP_UnitTests.cpp
Labels: pkg: Teuchos

#6658 MueLu: Fix to RegionVector unit test
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#6657 Refactoring sideset construction to remove slow lookup calls.
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Panzer

#6668 ML: fix build on Windows Intel 2015
  packages/ml/src/Smoother/ml_smoother.c
Labels: AT: AUTOMERGE, PA: Linear Solvers, pkg: ML

#6662 Tpetra: Refactor withLocalAccess so we don't need CUDA_LAUNCH_BLOCKING or extra fences
  packages/tpetra/core/src/Tpetra_transform_MultiVector.hpp
  packages/tpetra/core/src/Tpetra_withLocalAccess.hpp
  packages/tpetra/core/src/Tpetra_withLocalAccess_MultiVector.hpp
  packages/tpetra/core/test/MultiVector/WithLocalAccess.cpp
  packages/tpetra/core/test/Utils/withLocalAccess_generic.cpp
Labels: pkg: Tpetra, system: gpu

#6642 Stokhos: Update the Mask implementation to use mask_assign
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/stokhos/src/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector_ops.hpp
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits.hpp
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits_expr_relops_tmpl.hpp
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits_sfs_relops_tmpl.hpp
  packages/stokhos/src/sacado/kokkos/vector/Stokhos_MP_Vector_MaskTraits_vector_relops_tmpl.hpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoMPVectorUnitTest_MaskTraits.cpp
Labels: pkg: Stokhos

#6661 Tacho - external user interface example for collaboration
  packages/shylu/shylu_node/tacho/example/CMakeLists.txt
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Solver.hpp
Labels: AT: AUTOMERGE

#6669 Fix warnings from missing include directories when Trilinos is a subrepository
  packages/amesos/src/CMakeLists.txt
  packages/amesos2/src/CMakeLists.txt
  packages/amesos2/src/KLU2/Source/CMakeLists.txt
  packages/ifpack/src/CMakeLists.txt
Labels: AT: AUTOMERGE, PA: Data Services, PA: Linear Solvers, pkg: Amesos, pkg: Amesos2, pkg: Ifpack, pkg: KokkosKernels

#6676 Address #6675
  packages/zoltan2/src/algorithms/order/Zoltan2_Sort.hpp
  packages/zoltan2/src/problems/Zoltan2_OrderingProblem.hpp
Labels: client: Sierra, pkg: Ifpack2, pkg: Zoltan2, results impacting

#6547 Initial support for ATS2 systems (CDOFA-72)
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats2/all_supported_builds.sh
  cmake/std/atdm/ats2/custom_builds.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/common/define_atdm_run_script_on_local_node.sh
  cmake/std/atdm/common/define_run_on_lsf_compute_node_func.sh
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#6651 Moertel: Small improvements linked to the perpendicular test (bis)
  packages/moertel/src/mortar/Moertel_Tolerances.hpp
  packages/moertel/src/mortar/mrtr_manager.H
  packages/moertel/src/mortar/mrtr_overlap_Def.hpp
Labels: pkg: Moertel

#6680 This turns off the Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4 test
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
Labels: AT: AUTOMERGE, Disabled Tests, PA: Framework

#6682 MueLu: adding thresholding of the interpolation values in GeometricInterpolationPFactory, see issue #6681
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
  packages/muelu/test/unit_tests/RegionVector.cpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#6686 PyTrilinos: Update to use SWIG 4
  packages/PyTrilinos/CMakeLists.txt
  packages/PyTrilinos/cmake/PyTrilinos_config.h.in
  packages/PyTrilinos/src/CMakeLists.txt
  packages/PyTrilinos/src/Domi.i
  packages/PyTrilinos/src/Epetra_Base.i
  packages/PyTrilinos/src/Isorropia.i
  packages/PyTrilinos/src/Teuchos_ParameterList.i
  packages/PyTrilinos/src/Teuchos_RCP_DAP.i
  packages/PyTrilinos/src/Teuchos_RCP_typemaps.i
  packages/PyTrilinos/src/Tpetra.i
Labels: pkg: PyTrilinos

#6689 Made default clang7, tested with openmp and empire
  cmake/std/atdm/sems-rhel7/environment.sh
  cmake/std/atdm/utils/set_build_options.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: EMPIRE, type: enhancement

#6690 MueLu ParameterListInterpreter test: Remove and regenerate xml
  packages/muelu/test/interface/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#6699 Moertel: fix warnings due to signed/unsigned comparison, see issue #6698
  packages/moertel/src/mortar/mrtr_manager.H
  packages/moertel/src/mortar/mrtr_overlap_Def.hpp
Labels: AT: AUTOMERGE, pkg: Moertel, type: bug

#6693 Tpetra: adding benchmark for CrsMatrix::apply, see issue #6692
  packages/tpetra/core/example/advanced/Benchmarks/CMakeLists.txt
  packages/tpetra/core/example/advanced/Benchmarks/CrsMatrixMatVec.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: enhancement

#6685 Tpetra::Crs{Graph,Matrix}: Add verbose debugging output for memory allocations
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
  packages/tpetra/core/test/Utils/TpetraUtils_crsUtils.cpp
Labels: pkg: Tpetra
