Repository trilinos/Trilinos, pull requests merged in 2020-04, with the labels that each got.

#7107 TrilinosCouplings: Adding coordinate dump option to Tpetra Poisson example
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_Tpetra_main.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#7108 MiniEM: Don't use kokkos refactor code path
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell.xml
Labels: AT: AUTOMERGE, pkg: Panzer

#7105 KokkosKernels/Tpetra stack: local CRS device types
  packages/kokkos-kernels/src/sparse/KokkosSparse_CrsMatrix.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_decl.hpp
  packages/phalanx/example/FiniteElementAssembly/LinearObjectFactory.hpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/stokhos/src/sacado/kokkos/pce/linalg/Kokkos_CrsMatrix_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/linalg/Kokkos_CrsMatrix_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/linalg/Kokkos_CrsMatrix_MP_Vector_Cuda.hpp
  packages/stokhos/test/Performance/MPVectorKernels/TestSpMv.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixMPVectorUnitTest.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_LocalCrsMatrixOperator_decl.hpp
  packages/trilinoscouplings/examples/fenl/fenl_functors.hpp
  packages/trilinoscouplings/examples/fenl/fenl_functors_pce.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: KokkosKernels, pkg: MueLu, pkg: Tpetra, pkg: Xpetra

#7109 cts1, tlcc2: Switch from Ninja to Unix Makefiles (#7094, ATDV-328)
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Critical, client: ATDM

#7106 MueLu Maxwell test: Spring cleaning
  packages/muelu/test/maxwell/Belos.xml
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7124 Tacho - fix a race condition.
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleCholLevelSet.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.hpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleSolver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Solver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_External.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LevelSetTools.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Solver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_OnDevice.hpp
Labels: AT: AUTOMERGE

#7113 Tempus imex ssp2 a l stable
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_impl.hpp
Labels: AT: AUTOMERGE

#7103 MueLu: new experimental smooth randvec coalescedrop factory
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Graph/MatrixTransformation/MueLu_SmooVecCoalesceDropFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_SmooVecCoalesceDropFactory_def.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesOrdinal.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_FilteredAFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_SmooVecCoalesceDropFactory_fwd.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/smooVec.mm
  packages/muelu/test/scaling/smooVecCoalesce.xml
Labels: AT: AUTOMERGE, pkg: MueLu

#7120 ROL Trilinos Sync 02-Apr-2020
  packages/rol/adapters/pebbl/src/algorithm/ROL_PEBBL_Interface.hpp
  packages/rol/example/PDE-OPT/TOOLS/ncdumpPartition.sh
  packages/rol/example/PDE-OPT/binary/adv-diff-TEST/opfactory.hpp
  packages/rol/src/function/dynamic/ROL_SerialObjective.hpp
Labels: AT: AUTOMERGE, client: ATDM, pkg: ROL

#6920 Amesos2: Upgrade Cholmod for GPU
  packages/amesos2/src/Amesos2_Cholmod.cpp
  packages/amesos2/src/Amesos2_Cholmod_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Cholmod_TypeMap.hpp
  packages/amesos2/src/Amesos2_Cholmod_decl.hpp
  packages/amesos2/src/Amesos2_Cholmod_def.hpp
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/SolverFactory.cpp
  packages/amesos2/test/solvers/cholmod_test.xml
Labels: pkg: Amesos2

#7119 MueLu: Make 'verbosity' parameter case-insensitive
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7131 MueLu: modifying region coarse grid setup
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/mmayr/composite_to_regions/src/SetupRegionSmoothers_def.hpp
  packages/muelu/research/regionMG/examples/structured/CMakeLists.txt
  packages/muelu/research/regionMG/examples/structured/Driver_Structured_Regions.cpp
  packages/muelu/research/regionMG/examples/structured/coarse_smoother.xml
Labels: AT: AUTOMERGE, pkg: MueLu, type: enhancement

#7114 Xpetra_*CrsGraph: fix return of getLocalGraph
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#7138 Tribits update 20200407 (#7136)
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/cdash_analyze_and_report.py
  cmake/tribits/common_tpls/FindTPLHDF5.cmake
  cmake/tribits/core/installation/TribitsPackageConfigTemplate.cmake.in
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/devtools_install/InstallProgramDriver.py
  cmake/tribits/devtools_install/install-cmake.py
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/python_utils/SnapshotDir.py
  cmake/tribits/python_utils/gitdist-setup.sh
Labels: AT: AUTOMERGE, type: enhancement

#7126 ATDM: Simplify finding and using TrilinosConfig.cmake (#7125)
  cmake/std/atdm/README.md
  cmake/std/atdm/utils/load_matching_env.sh.in
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7118 NOX: fix issues with matrix free operator and decorator
  packages/nox/src-thyra/NOX_MatrixFree_ModelEvaluatorDecorator.hpp
  packages/nox/src-thyra/NOX_Thyra_MatrixFreeJacobianOperator.hpp
  packages/nox/src-thyra/NOX_Thyra_MatrixFreeJacobianOperator_impl.hpp
  packages/rol/adapters/thyra/src/function/ROL_ThyraProductME_Objective.hpp
  packages/thyra/core/src/support/nonlinear/model_evaluator/client_support/Thyra_ModelEvaluatorDelegatorBase.hpp
Labels: AT: AUTOMERGE, ATDM Sev: Nonblocker, PA: Nonlinear Solvers, client: ATDM, client: SPARC, pkg: NOX, pkg: ROL, pkg: Thyra

#7148 MueLu: make Galeri a required test dependency
  packages/muelu/cmake/Dependencies.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#7145 Fix fpe in clang, not sure why this makes it go away, but it does
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/teuchos/core/src/Teuchos_ScalarTraits.hpp
Labels: AT: AUTOMERGE

#7147 Add SmooVecRandCoalesceDrop to long xml interface
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7086 Commiting the Forward Euler AppAction changes
  packages/tempus/src/Tempus_StepperForwardEulerAppAction.hpp
  packages/tempus/src/Tempus_StepperForwardEulerAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierBase.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierXBase.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierXDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEulerObserverBase.hpp
  packages/tempus/src/Tempus_StepperForwardEulerObserverDefault.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperForwardEuler_impl.hpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_ForwardEuler.cpp
Labels: client: EMPIRE, pkg: Tempus, type: enhancement

#6967 Amesos2 add cuSolver solver
  packages/amesos2/CMakeLists.txt
  packages/amesos2/cmake/Amesos2_config.h.in
  packages/amesos2/src/Amesos2_Details_LinearSolverFactory_def.hpp
  packages/amesos2/src/Amesos2_Factory.cpp
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_Kokkos_View_Copy_Assign.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/src/Amesos2_cuSOLVER.cpp
  packages/amesos2/src/Amesos2_cuSOLVER.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_FunctionMap.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_TypeMap.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_decl.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_def.hpp
  packages/amesos2/src/CMakeLists.txt
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/amesos2/test/solvers/cuSOLVER_test.xml
Labels: pkg: Amesos2

#7144 Add adelus
  PackagesList.cmake
  packages/adelus/CMakeLists.txt
  packages/adelus/Copyright.txt
  packages/adelus/LICENSE
  packages/adelus/README.md
  packages/adelus/cmake/Adelus_config.h.in
  packages/adelus/cmake/Dependencies.cmake
  packages/adelus/doc/Doxyfile
  packages/adelus/doc/DoxyfileWeb
  packages/adelus/doc/build_docs
  packages/adelus/doc/index_my.doc
  packages/adelus/doc/matrix_12.gif
  packages/adelus/doc/matrix_21.gif
  packages/adelus/doc/matrix_22.gif
  packages/adelus/doc/matrix_22_eq.gif
  packages/adelus/example/CMakeLists.txt
  packages/adelus/example/adelus_driver.cpp
  packages/adelus/src/Adelus.hpp
  packages/adelus/src/AdelusVersion.cpp
  packages/adelus/src/AdelusVersion.hpp
  packages/adelus/src/Adelus_ConfigDefs.hpp
  packages/adelus/src/Adelus_block.h
  packages/adelus/src/Adelus_defines.h
  packages/adelus/src/Adelus_distribute.cpp
  packages/adelus/src/Adelus_distribute.hpp
  packages/adelus/src/Adelus_factor.hpp
  packages/adelus/src/Adelus_macros.h
  packages/adelus/src/Adelus_mytime.hpp
  packages/adelus/src/Adelus_pcomm.cpp
  packages/adelus/src/Adelus_pcomm.hpp
  packages/adelus/src/Adelus_perm1.hpp
  packages/adelus/src/Adelus_solve.hpp
  packages/adelus/src/Adelus_vars.hpp
  packages/adelus/src/Adelus_xlu_solve.hpp
  packages/adelus/src/BlasWrapper_copy.hpp
  packages/adelus/src/BlasWrapper_copy_spec.hpp
  packages/adelus/src/CMakeLists.txt
  packages/adelus/test/CMakeLists.txt
  packages/adelus/test/definition
  packages/adelus/test/vector_random/CMakeLists.txt
  packages/adelus/test/vector_random/cxx_main.cpp
Labels: PA: Framework, client: Gemma, type: enhancement

#7154 MueLu: Remove use of undefined MueLu_ENABLE_Galeri
  packages/muelu/doc/Tutorial/src/CMakeLists.txt
  packages/muelu/example/ParameterList/CMakeLists.txt
  packages/muelu/example/advanced/blockcrs/CMakeLists.txt
  packages/muelu/example/advanced/levelwrap/CMakeLists.txt
  packages/muelu/example/advanced/memory/CMakeLists.txt
  packages/muelu/example/advanced/multiplesolve/CMakeLists.txt
  packages/muelu/example/advanced/separatesetups/CMakeLists.txt
  packages/muelu/example/basic/CMakeLists.txt
  packages/muelu/research/tawiesn/aria/CMakeLists.txt
  packages/muelu/research/tawiesn/crada/CMakeLists.txt
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/test/blockedtransfer/CMakeLists.txt
  packages/muelu/test/convergence/CMakeLists.txt
  packages/muelu/test/helmholtz/CMakeLists.txt
  packages/muelu/test/interface/CMakeLists.txt
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/interface/default/FactoryParameterListInterpreter/aggregatequalities.xml
  packages/muelu/test/interface/default/Output/MLaux_tpetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse1_tpetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse2_tpetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse3_tpetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse4_tpetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse5_tpetra.gold
  packages/muelu/test/interface/default/Output/MLpgamg1_tpetra.gold
  packages/muelu/test/interface/default/Output/MLrepartitioning1_tpetra.gold
  packages/muelu/test/interface/default/Output/MLrepartitioning2_tpetra.gold
  packages/muelu/test/interface/default/Output/MLrepartitioning3_tpetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother1_tpetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother2_tpetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother3_tpetra.gold
  packages/muelu/test/interface/default/Output/MLunsmoothed1_tpetra.gold
  packages/muelu/test/interface/default/Output/aggregatequalities_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLaux_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLcoarse1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLcoarse2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLcoarse3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLcoarse4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLcoarse5_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLpgamg1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLrepartitioning1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLrepartitioning2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLrepartitioning3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLsmoother1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLsmoother2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLsmoother3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLunsmoothed1_tpetra.gold
  packages/muelu/test/longlong/CMakeLists.txt
  packages/muelu/test/perf_tests_kokkos/CMakeLists.txt
  packages/muelu/test/profiling/CMakeLists.txt
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/simple1D/CMakeLists.txt
  packages/muelu/test/structured/CMakeLists.txt
  packages/muelu/test/toggletransfer/CMakeLists.txt
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests_kokkos/CMakeLists.txt
  packages/muelu/test/viz/CMakeLists.txt
Labels: pkg: MueLu

#7162 Revert "cts1, tlcc2: Switch from Ninja to Unix Makefiles (#7094, ATDV-328)"
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
Labels: ATDM Config, ATDM DevOps

#7156 Tpetra Distributor: add method to get reverse distributor
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/xpetra/src/Export/Xpetra_TpetraExport_def.hpp
  packages/xpetra/src/Import/Xpetra_TpetraImport_def.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Tpetra

#7163 MueLu: Agg Viz 2D convex hulls fix
  packages/muelu/src/Utils/MueLu_VisualizationHelpers_decl.hpp
  packages/muelu/src/Utils/MueLu_VisualizationHelpers_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7151 ATDM: Add new 'van-tx2' env to support ASTRA systems
  cmake/ctest/drivers/atdm/ctest-s-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/local-driver-on-allocation.sh
  cmake/ctest/drivers/atdm/van1-tx2/local-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/README.md
  cmake/std/atdm/load-env.sh
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
  cmake/std/atdm/van1-tx2/all_supported_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds.sh
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#6482 Intrepid2: add support for hierarchical H(grad) bases on triangle and tetrahedron.
  packages/intrepid2/src/Discretization/Basis/Intrepid2_Basis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_I1_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_WEDGE_C2_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_C0_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TET.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TRI.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_NodalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
  packages/intrepid2/src/Shared/Intrepid2_Polynomials.hpp
  packages/intrepid2/src/Shared/Intrepid2_TestUtils.hpp
  packages/intrepid2/unit-test/Discretization/Basis/BasisEquivalenceTests.cpp
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/AnalyticPolynomialsMatchTests.cpp
  packages/intrepid2/unit-test/Discretization/Basis/HierarchicalBases/SubBasisInclusionTests.cpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/IntegratedJacobiTests.cpp
  packages/intrepid2/unit-test/Shared/Polylib/LegendreJacobiPolynomials/JacobiTests.cpp
Labels: AT: AUTOMERGE

#7165 MueLu: add documentation to InterfaceAggregationFactory
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_def.hpp
Labels: AT: AUTOMERGE, impacting: documentation, pkg: MueLu

#7009 MueLu: pairwise multipass aggregation, see issue #7008
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_decl.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/pairwise.xml
  packages/muelu/test/unit_tests/NotayAggregationFactory.cpp
  packages/stokhos/src/sacado/kokkos/pce/muelu/MueLu_ETI_UQ_PCE.tmpl
  packages/stokhos/src/sacado/kokkos/vector/muelu/MueLu_ETI_MP_Vector.tmpl
Labels: client: SPARC, pkg: MueLu, type: enhancement

#7167 MueLu: Adding CM/RCM support to MueLu::Utilities_kokkos
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/CMakeLists.txt
  packages/muelu/test/unit_tests_kokkos/Utilities_kokkos.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7168 Improve watchr output
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
Labels: AT: AUTOMERGE, pkg: Teuchos, type: bug, type: enhancement

#7173 MueLu RefMaxwell: Improve communication
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell.xml
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: MueLu

#7150 Tempus: Add AppAction to DIRK Stepper
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperFactory.hpp
  packages/tempus/src/Tempus_StepperForwardEulerModifierXBase.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/unit_test/Tempus_UnitTest_BackwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_1Stage1stOrderRadauIA.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_1StageTheta.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_2Stage2ndOrderLobattoIIIB.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_BackwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_General.cpp
  packages/tempus/unit_test/Tempus_UnitTest_EDIRK_2Stage3rdOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_EDIRK_2StageTheta.cpp
  packages/tempus/unit_test/Tempus_UnitTest_EDIRK_TrapezoidalRule.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_3Stage3rdOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_3Stage3rdOrderHeun.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_3Stage3rdOrderTVD.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_3_8Rule.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_4Stage3rdOrderRunge.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_4Stage4thOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_5Stage3rdOrderKandG.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_BogackiShampine32.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_General.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_Merson45.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_Midpoint.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ERK_Trapezoidal.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_21Pair.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_2Stage2ndOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_2Stage3rdOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_3Stage4thOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_5Stage4thOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_5Stage5thOrder.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_ImplicitMidpoint.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Utils.hpp
Labels: client: EMPIRE, pkg: Tempus, type: enhancement

#7177 MueLu: Adding Cuthill-McKee ordering support to pairwise
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests/NotayAggregationFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7171 tpetra: do not build a TSQR test if Trilinos_ENABLE_TpetraTSQR=OFF
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/test/Tsqr/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Tpetra

#7178 MueLu: Minor code / test cleanup
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests/AggregateQualityEstimateFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7180 new matrix scaling utility for PDE systems
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
Labels: AT: AUTOMERGE

#7128 WIP: Stokhos: add an optimized GEMV for the ensemble GMRES without ensemble reduction
  packages/stokhos/CMakeLists.txt
  packages/stokhos/cmake/Stokhos_config.h.in
  packages/stokhos/src/CMakeLists.txt
  packages/stokhos/src/sacado/kokkos/vector/KokkosBlas2_gemv_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosBlas_MP_Vector.hpp
Labels: AT: AUTOMERGE, pkg: Stokhos

#7185 MueLu: Disabling very finicky test
  packages/muelu/test/unit_tests/AggregateQualityEstimateFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7183 fix installation of generated ETI headers
  packages/kokkos-kernels/src/CMakeLists.txt
Labels: AT: AUTOMERGE

#7189 ATDM Config: Match 'arm' Without Version
  cmake/std/atdm/van1-tx2/custom_builds.sh
Labels: ATDM Config

#7192 Amesos2: fixing depency check on cuSPARSE for cuSOLVER, see issue #7191
  packages/amesos2/CMakeLists.txt
  packages/amesos2/cmake/Amesos2_config.h.in
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/CMakeLists.txt
  packages/amesos2/test/solvers/CMakeLists.txt
Labels: AT: AUTOMERGE, client: ExaWind, pkg: Amesos2, type: bug

#7190 Removing "boost_signals" from REQUIRED_LIBS_NAMES in FindTPLBoostAlbLib.cmake
  cmake/TPLs/FindTPLBoostAlbLib.cmake
Labels: AT: AUTOMERGE

#7199 STK snapshot as of 4/17/2020
  packages/stk/stk_search/integrationtest/MeshUtilsForBoundingVolumes.hpp
  packages/stk/stk_search/integrationtest/UnitTestNaluPerformance.cpp
  packages/stk/stk_search/integrationtest/UnitTestPerformance.cpp
  packages/stk/stk_search/stk_search/CommonSearchUtil.hpp
  packages/stk/stk_search/unit_tests/UnitTestCoarseSearch.cpp
  packages/stk/stk_search/unit_tests/UnitTestGhostingSearch.cpp
  packages/stk/stk_unit_tests/stk_util/command_line/UnitTestCommandLineParser.cpp
  packages/stk/stk_unit_tests/stk_util/diag/UnitTestTimer.cpp
  packages/stk/stk_unit_tests/stk_util/environment/UnitTestOptionsSpecification.cpp
  packages/stk/stk_util/stk_util/command_line/CommandLineParser.hpp
  packages/stk/stk_util/stk_util/diag/Timer.cpp
  packages/stk/stk_util/stk_util/environment/OptionsSpecification.cpp
  packages/stk/stk_util/stk_util/environment/OptionsSpecification.hpp
  packages/stk/stk_util/stk_util/environment/ParseCommandLineArgs.cpp
Labels: AT: AUTOMERGE, pkg: STK

#7198 TrilinosCouplings: Adding coordinates to solve ofr 2D poisson example
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE

#7202 ATDM: Switch to true keyword matching for utils/set_build_options.sh and add strong unit tests (#4063, #5939, CDOFA-27)
  PackagesList.cmake
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/README.md
  cmake/std/atdm/cmake/Dependencies.cmake
  cmake/std/atdm/test/CMakeLists.txt
  cmake/std/atdm/test/shunit2/.githooks/generic
  cmake/std/atdm/test/shunit2/.githooks/pre-commit.shellcheck
  cmake/std/atdm/test/shunit2/.gitignore
  cmake/std/atdm/test/shunit2/.travis.yml
  cmake/std/atdm/test/shunit2/CODE_OF_CONDUCT.md
  cmake/std/atdm/test/shunit2/LICENSE
  cmake/std/atdm/test/shunit2/README.md
  cmake/std/atdm/test/shunit2/doc/CHANGES-2.1.md
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.0.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.1.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.2.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.3.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.4.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.5.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.6.txt
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.7.md
  cmake/std/atdm/test/shunit2/doc/RELEASE_NOTES-2.1.8.md
  cmake/std/atdm/test/shunit2/doc/TODO.txt
  cmake/std/atdm/test/shunit2/doc/contributors.md
  cmake/std/atdm/test/shunit2/doc/design_doc.txt
  cmake/std/atdm/test/shunit2/examples/equality_test.sh
  cmake/std/atdm/test/shunit2/examples/lineno_test.sh
  cmake/std/atdm/test/shunit2/examples/math.inc
  cmake/std/atdm/test/shunit2/examples/math_test.sh
  cmake/std/atdm/test/shunit2/examples/mkdir_test.sh
  cmake/std/atdm/test/shunit2/examples/mock_file.sh
  cmake/std/atdm/test/shunit2/examples/mock_file_test.sh
  cmake/std/atdm/test/shunit2/examples/party_test.sh
  cmake/std/atdm/test/shunit2/examples/suite_test.sh
  cmake/std/atdm/test/shunit2/init_githooks.sh
  cmake/std/atdm/test/shunit2/lib/shflags
  cmake/std/atdm/test/shunit2/lib/versions
  cmake/std/atdm/test/shunit2/shunit2
  cmake/std/atdm/test/shunit2/shunit2_args_test.sh
  cmake/std/atdm/test/shunit2/shunit2_asserts_test.sh
  cmake/std/atdm/test/shunit2/shunit2_failures_test.sh
  cmake/std/atdm/test/shunit2/shunit2_macros_test.sh
  cmake/std/atdm/test/shunit2/shunit2_misc_test.sh
  cmake/std/atdm/test/shunit2/shunit2_standalone_test.sh
  cmake/std/atdm/test/shunit2/shunit2_test_helpers
  cmake/std/atdm/test/shunit2/test_runner
  cmake/std/atdm/test/unit_tests/CMakeLists.txt
  cmake/std/atdm/test/unit_tests/atdm_match_any_keyword_unit_tests.sh
  cmake/std/atdm/test/unit_tests/atdm_match_keyword_unit_tests.sh
  cmake/std/atdm/test/unit_tests/set_build_options_unit_tests.sh
  cmake/std/atdm/utils/define_atdm_match_keyword.sh
  cmake/std/atdm/utils/kokkos_arch_array.sh
  cmake/std/atdm/utils/set_build_options.sh
  cmake/std/atdm/van1-tx2/CMakeLists.txt
  cmake/std/atdm/van1-tx2/custom_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds_unit_tests.sh
  commonTools/framework/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7205 Fix capitalization of Kokkos_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE in ShyLU dependencies.
  cmake/RepositoryDependenciesSetup.cmake
Labels: AT: AUTOMERGE

#7207 MueLu RefMaxwell: Copy D0 matrix
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: MueLu

#7211 TrilinosCouplings: More Poisson2D cleanup
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE

#7208 MueLu: Avoid throwing exceptions in smoother construction
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_AmesosSmoother.cpp
  packages/muelu/src/Smoothers/MueLu_BelosSmoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_DirectSolver_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.cpp
  packages/muelu/src/Smoothers/MueLu_SmootherBase.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
Labels: pkg: MueLu

#7213 Disabling Tacho test with kokkos task scheduler instance.
  cmake/std/PullRequestLinuxGCC4.8.4TestingSettings.cmake
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleExternalInterface.hpp
Labels: AT: AUTOMERGE

#7204 ATDM: cee-rhel6: switch from clang-5.0.1 to clang-9.0.1 (ATDV-322)
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-9.0.1_openmpi-4.0.2_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel6/drivers/Trilinos-atdm-cee-rhel6_clang-9.0.1_openmpi-4.0.2_serial_static_opt.sh
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/cee-rhel6/CMakeLists.txt
  cmake/std/atdm/cee-rhel6/all_supported_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds.sh
  cmake/std/atdm/cee-rhel6/custom_builds_unit_tests.sh
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/test/unit_tests/set_build_options_unit_tests.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#7212 Make timer unit-tests more robust to prevent failures due to noise.
  packages/stk/stk_unit_tests/stk_util/diag/UnitTestTimer.cpp
Labels: AT: AUTOMERGE, pkg: STK

#7194 MueLu: pass primal/dual interface node mapping via user data sublist
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_decl.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/test/meshtying/MeshTyingBlocked_SimpleSmoother.cpp
  packages/muelu/test/meshtying/myXML.xml
Labels: pkg: MueLu, type: enhancement

#7222 ATDM: van1-tx2: Address problem of 'van1-tx2' matching KOKKOS_ARCH=TX2 (#4063, CDOFA-27)
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, type: bug

#7226 RefMaxwell&Epetra stuff
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/scaling/circ_nsp_dependency.xml
Labels: AT: AUTOMERGE, pkg: MueLu

#7196 CONFIG: Need to specify use of parallel netcdf
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: AT: AUTOMERGE, ATDM Config, PA: Data Services, client: EMPIRE, pkg: seacas

#7186 Tpetra: batchedApply() prototype
  packages/tpetra/core/src/Tpetra_Apply_Helpers.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests4.cpp
Labels: pkg: Tpetra

#7227 Xpetra: Fix for CheckRepairMainDiagonal
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: pkg: Xpetra

#7235 set Tpetra_INST_INT_INT = ON in a PR test
  cmake/std/PullRequestLinuxIntelTestingSettings.cmake
Labels: AT: AUTOMERGE, Framework tasks

#7239 ATDM Config: Don't get-platform on Vortex
  cmake/std/atdm/utils/get_known_system_info.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Sev: Nonblocker, client: EMPIRE

#7238 Warning dup st
  packages/stratimikos/adapters/belos/src/BelosThyraAdapter.hpp
Labels: AT: AUTOMERGE

#7237 MueLu: fix build error in Notay pairwise agg
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
Labels: AT: AUTOMERGE, impacting: build, type: bug

#7214 Tpetra: Use KokkosKernels' Jacobi-fused SpGEMM
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
  packages/tpetra/core/test/MatrixMatrix/CMakeLists.txt
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
  packages/tpetra/core/test/MatrixMatrix/matrices/rectAPa_v2.mtx
  packages/tpetra/core/test/MatrixMatrix/matrices/rectAPc_v2.mtx
  packages/tpetra/core/test/MatrixMatrix/matrices/syn1a_v2.mtx
  packages/tpetra/core/test/MatrixMatrix/matrices/syn1c_v2.mtx
  packages/tpetra/core/test/MatrixMatrix/matrixsystems.xml
Labels: client: ExaWind, pkg: Tpetra, type: enhancement

#7240 Perf test cleanup, new Mini-EM perf test
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/MatrixMatrixMultiply.cpp
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/maxwell-large.xml
  packages/percept/CMakeLists.txt
  packages/seacas/CMakeLists.txt
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_main.cpp
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.hpp
Labels: MueLuReview, pkg: MueLu, pkg: Panzer, pkg: Teuchos, pkg: Tpetra, type: bug, type: enhancement

#7244 Pamgen: Exposing some innards
  packages/pamgen/src/CMakeLists.txt
  packages/pamgen/src/element_density_function.h
  packages/pamgen/src/geometry_transform.h
  packages/pamgen/src/inline_mesh_desc.C
  packages/pamgen/src/inline_mesh_desc.h
Labels: AT: AUTOMERGE, pkg: Pamgen

#7225 Panzer: set virtual cells to have appropriate normals and rotation matrices
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/check_rotation_matrices.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
Labels: AT: AUTOMERGE, client: EMPIRE

#7243 MueLu/Ifpack2: Making BlockRelaxation+LinearPartitioner grab the FixedBlockSize by default
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/Smoothers/Ifpack2Smoother.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7252 SEACAS: lib::fmt - fix shadow variable warnings
  packages/seacas/libraries/ioss/src/fmt/chrono.h
  packages/seacas/libraries/ioss/src/fmt/core.h
  packages/seacas/libraries/ioss/src/fmt/format-inl.h
  packages/seacas/libraries/ioss/src/fmt/format.h
  packages/seacas/libraries/suplib_cpp/fmt/chrono.h
  packages/seacas/libraries/suplib_cpp/fmt/core.h
  packages/seacas/libraries/suplib_cpp/fmt/format-inl.h
  packages/seacas/libraries/suplib_cpp/fmt/format.h
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#7182 Kokkos: Configure and install version file when building Kokkos
  packages/kokkos/cmake/kokkos_install.cmake
Labels: AT: AUTOMERGE, client: ExaWind, pkg: Kokkos, type: enhancement

#7263 MueLu: fix build error w/ Zoltan but w/o Zoltan2
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, type: bug

#7241 Compadre: Initial snapshot intro Trilinos
  PackagesList.cmake
  packages/compadre/.zenodo.json
  packages/compadre/CMakeLists.txt
  packages/compadre/LICENSE.md
  packages/compadre/README.md
  packages/compadre/cmake/Dependencies.cmake
  packages/compadre/cmake/bob.cmake
  packages/compadre/doc/Doxyfile.in
  packages/compadre/doc/DoxygenLayout.xml
  packages/compadre/examples/CMakeLists.tribits.cmake
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_DivergenceFree.cpp
  packages/compadre/examples/GMLS_Host.cpp
  packages/compadre/examples/GMLS_Manifold.cpp
  packages/compadre/examples/GMLS_Manifold.hpp
  packages/compadre/examples/GMLS_Manifold.py.in
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.py.in
  packages/compadre/examples/GMLS_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_NeumannGradScalar.cpp
  packages/compadre/examples/GMLS_SmallBatchReuse_Device.cpp
  packages/compadre/examples/GMLS_Staggered.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.py.in
  packages/compadre/examples/GMLS_Tutorial.hpp
  packages/compadre/examples/GMLS_Vector.cpp
  packages/compadre/examples/NeighborSearchTest.cpp
  packages/compadre/examples/UnitTest_ThreadedLapack.cpp
  packages/compadre/examples/UtilityTest.cpp
  packages/compadre/src/CMakeLists.tribits.cmake
  packages/compadre/src/CMakeLists.txt
  packages/compadre/src/Compadre_Evaluator.hpp
  packages/compadre/src/Compadre_Functors.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_GMLS_ApplyTargetEvaluations.hpp
  packages/compadre/src/Compadre_GMLS_Basis.hpp
  packages/compadre/src/Compadre_GMLS_Targets.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_KokkosParser.hpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_LinearAlgebra_Declarations.hpp
  packages/compadre/src/Compadre_LinearAlgebra_Definitions.hpp
  packages/compadre/src/Compadre_Manifold_Functions.hpp
  packages/compadre/src/Compadre_Misc.hpp
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_ParallelManager.hpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
  packages/compadre/src/Compadre_Quadrature.hpp
  packages/compadre/src/Compadre_Typedefs.hpp
  packages/compadre/src/Compadre_Utilities.hpp
  packages/compadre/src/USER_ManifoldTargetFunctionals.hpp
  packages/compadre/src/USER_StandardTargetFunctionals.hpp
  packages/compadre/src/basis/CreateConstraints.hpp
  packages/compadre/src/basis/DivergenceFree3D.hpp
  packages/compadre/src/tpl/nanoflann.hpp
Labels: PA: Discretizations, PA: Framework, pkg: New Package

#7245 Stupid changes to resolve FPEs
  packages/belos/src/BelosStatusTestGenResNorm.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
Labels: AT: AUTOMERGE

#7257 Tpetra Distributor: getReverse changes
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
  packages/xpetra/src/Export/Xpetra_TpetraExport_def.hpp
  packages/xpetra/src/Import/Xpetra_TpetraImport_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7197 CONFIG: Update NetCDF and HDF5 TPL version
  cmake/std/PullRequestLinuxClang7.0.1TestingSettings.cmake
  cmake/std/PullRequestLinuxClang9.0.0TestingSettings.cmake
  cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake
  cmake/std/PullRequestLinuxDriverTest.py
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/cee-rhel6/environment.sh
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
  cmake/std/atdm/examples/my-sems-rhel6-config/environment.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/ride/environment.sh
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/sems-rhel7/environment.sh
  cmake/std/atdm/shiller/environment.sh
  cmake/std/atdm/spack-rhel/environment.sh
  cmake/std/atdm/van1-tx2/environment.sh
  cmake/std/atdm/waterman/environment.sh
  cmake/std/sems/PullRequestClang7.0.1TestingEnv.sh
  cmake/std/sems/PullRequestClang9.0.0TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnvSERIAL.sh
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
  cmake/std/sems/PullRequestGCC8.3.0TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/sems/PullRequestPython2TestingEnv.sh
  cmake/std/sems/PullRequestPython3TestingEnv.sh
  cmake/std/sems/SEMSDevEnv.cmake
  cmake/std/sems/get_default_modules.sh
  cmake/std/unittests/TestPullRequestLinuxDriverTest.py
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
Labels: ATDM Config, PA: Data Services, client: ATDM, client: EMPIRE, client: SPARC, pkg: seacas

#7233 Tpetra: unit test to reproduce failure after kokkos 3.1 promotion
  packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  packages/tpetra/core/test/BugTests/BugTests.cpp
Labels: AT: AUTOMERGE, PA: Data Services, client: EMPIRE, pkg: Kokkos, pkg: Panzer, pkg: Tpetra

#7256 tpetra: removed unused code and comments that no longer are relevant
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#7268 ATDM: Remove new package Compadre from ATDM Trilinos testing (#6934)
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7253 Panzer: partial rollback/amendment of 7225 due to EMPIRE reliance on previous behavior.
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/check_rotation_matrices.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
Labels: AT: AUTOMERGE, client: EMPIRE

#7258 7188 app action interface for operator splitstepper
  packages/tempus/src/Tempus_StepperOperatorSplitAppAction.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitAppActionComposite.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierBase.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitModifierXBase.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitObserver.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitObserverBase.hpp
  packages/tempus/src/Tempus_StepperOperatorSplitObserverDefault.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_OperatorSplit.cpp
Labels: pkg: Tempus, type: enhancement

#7271 Compadre package CMake logic update
  packages/compadre/CMakeLists.txt
  packages/compadre/cmake/Dependencies.cmake
  packages/compadre/examples/CMakeLists.tribits.cmake
  packages/compadre/src/Compadre_GMLS_ApplyTargetEvaluations.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Compadre

#7267 SEACAS: Fix enabling of ParMETIS; clean up
  packages/seacas/libraries/ioss/src/CMakeLists.txt
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.C
  packages/seacas/libraries/ioss/src/Ioss_Decomposition.h
  packages/seacas/libraries/ioss/src/Ioss_IOFactory.C
  packages/seacas/libraries/ioss/src/Ioss_Version.h
  packages/seacas/libraries/ioss/src/cgns/CMakeLists.txt
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DecompositionData.h
  packages/seacas/libraries/ioss/src/exo_fac/Ioex_IOFactory.C
  packages/seacas/libraries/ioss/src/exo_par/Iopx_DecompositionData.C
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Config, PA: Data Services, client: EMPIRE, pkg: seacas

#7246 Tpetra: fixed incorrect directory results
  packages/tpetra/core/src/Tpetra_DirectoryImpl_decl.hpp
  packages/tpetra/core/src/Tpetra_DirectoryImpl_def.hpp
  packages/tpetra/core/test/Directory/CMakeLists.txt
  packages/tpetra/core/test/Directory/Directory_Issue7223.cpp
  packages/tpetra/core/test/Map/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Tpetra

#7272 ATDM/common/toss3: Update TPLs
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-4.0.1_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-18.0.2_openmpi-4.0.1_openmp_static_opt.sh
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/cts1/all_supported_builds.sh
  cmake/std/atdm/cts1/custom_builds.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, type: enhancement

#7279 CONFIG: Fix pnetcdf and netcdf setting broke in #7197
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/sems-rhel6/environment.sh
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, PA: Data Services, client: EMPIRE, pkg: seacas

#7269 ATDM/ats1: Add initial ats1 env (ATDV-271)
  cmake/ctest/drivers/atdm/TrilinosCTestDriverCore.atdm.cmake
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/local-driver-on-allocation.sh
  cmake/ctest/drivers/atdm/ats1/local-driver.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/CMakeLists.txt
  cmake/std/atdm/README.md
  cmake/std/atdm/ats1/CMakeLists.txt
  cmake/std/atdm/ats1/all_supported_builds.sh
  cmake/std/atdm/ats1/custom_builds.sh
  cmake/std/atdm/ats1/custom_builds_unit_tests.sh
  cmake/std/atdm/ats1/environment.sh
  cmake/std/atdm/ats1/tweaks/Tweaks.cmake
  cmake/std/atdm/common/define_run_on_slurm_compute_node_func.sh
  cmake/std/atdm/mutrino/environment.sh
  cmake/std/atdm/utils/define_atdm_match_keyword.sh
  cmake/std/atdm/utils/get_known_system_info.sh
  cmake/std/atdm/utils/unset_atdm_config_vars_environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#7270 MueLu: Adding Dirichlet Boundary support to BrickAggregation
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/BrickAggregation/MueLu_BrickAggregationFactory_decl.hpp
  packages/muelu/src/Graph/BrickAggregation/MueLu_BrickAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/interface/default/Output/aggregation5_epetra.gold
  packages/muelu/test/interface/default/Output/aggregation5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/aggregation5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/aggregation5_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#7276 ATDM: Add back removed BOOST_ROOT env vars (#7275)
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
  cmake/std/atdm/sems-rhel6/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, type: bug

#7248 ifpack2: Reduce memory usage of Ifpack2::IlukGraph::initialize().
  packages/ifpack2/src/Ifpack2_IlukGraph.hpp
Labels: pkg: Ifpack2

#7277 MueLu: Fixing Dirichlet handling for distance Laplacian
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
Labels: AT: AUTOMERGE, AT: RETEST, pkg: MueLu

#7280 MueLu: remove unused arg to KokkosSparse::CrsMatrix
  packages/muelu/test/perf_tests_kokkos/KokkosKernels.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#7278 tpetra: Minor change to use general communicator rather than MPI-ifdefs
  packages/tpetra/core/test/BugTests/BugTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#6964 Ifpack2: Remove Deprecated Clone Methods
  packages/ifpack2/src/Ifpack2_Chebyshev_decl.hpp
  packages/ifpack2/src/Ifpack2_Factory_decl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2

#7262 ShyLU/FROSch: Collection of different improvements for FROSch
  packages/shylu/shylu_dd/frosch/src/Adapters/Stratimikos_FROSchXpetra.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_def.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchLinearOp_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_ConstantPartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_GDSWInterfacePartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_GDSWStarInterfacePartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_LocalPartitionOfUnityBasis_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_RGDSWInterfacePartitionOfUnity_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_EntitySet_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_InterfaceEntity_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_AlgebraicOverlappingOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_AlgebraicOverlappingOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_MultiplicativeOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_MultiplicativeOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_OverlappingOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SchwarzOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SumOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SumOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_AlgebraicOverlappingPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_AlgebraicOverlappingPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_GDSWPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_GDSWPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_OneLevelPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_OneLevelPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_RGDSWPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_RGDSWPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_SchwarzPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_ExtractSubmatrices_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_ExtractSubmatrices_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/Gathering/main.cpp
  packages/shylu/shylu_dd/frosch/test/Import_Tpetra/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Import_Tpetra/main.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#7283 MueLu Zoltan2Interface: Handle blockSize>1
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
Labels: pkg: MueLu

#7288 MueLu: More fixes to BrickAggregation for Dirichlet handling
  packages/muelu/src/Graph/BrickAggregation/MueLu_BrickAggregationFactory_decl.hpp
  packages/muelu/src/Graph/BrickAggregation/MueLu_BrickAggregationFactory_def.hpp
Labels: pkg: MueLu
