Repository trilinos/Trilinos, pull requests merged in 2021-10, with the labels that each got.

#9769 Zoltan2: remove compiler warnings by using std::cout<< instead of printf
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybrid2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1.hpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#9771 Remove link to trac.trilinos.org (TRILINOSHD-11)
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: impacting: documentation, AT: AUTOMERGE

#9768 Tpetra: minor changes and some cleanup
  packages/tpetra/core/inout/Tpetra_Distribution2D.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#9760 KokkosKernels: Fix #9155: spgemm on ampere
  packages/kokkos-kernels/src/common/KokkosKernels_HashmapAccumulator.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spgemm_impl_compression.hpp
Labels: type: bug, AT: AUTOMERGE

#9772 SEACAS: Move logic to disable SEACAS subpackages that depend on Fortran (trilinos/Trilinos#3346)
  cmake/RepositoryDependenciesSetup.cmake
  packages/seacas/CMakeLists.txt
  packages/seacas/cmake/SeacasDisableSubpackagesDependingOnFortran.cmake
Labels: type: bug, pkg: seacas, AT: AUTOMERGE

#9762 Framework: packages/framework: add --ctest-drop-site
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#9728 STK: Snapshot 09-22-21 10:32
  packages/stk/stk_expreval/stk_expreval/Constants.hpp
  packages/stk/stk_expreval/stk_expreval/Evaluator.cpp
  packages/stk/stk_expreval/stk_expreval/Evaluator.hpp
  packages/stk/stk_expreval/stk_expreval/Function.cpp
  packages/stk/stk_expreval/stk_expreval/Function.hpp
  packages/stk/stk_expreval/stk_expreval/Lexer.hpp
  packages/stk/stk_expreval/stk_expreval/Variable.cpp
  packages/stk/stk_expreval/stk_expreval/Variable.hpp
  packages/stk/stk_expreval/unit_tests/UnitTestEvaluator.cpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.hpp
  packages/stk/stk_math/stk_math/StkVector.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/DeviceField.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldDataManager.hpp
  packages/stk/stk_mesh/stk_mesh/base/GetNgpField.hpp
  packages/stk/stk_mesh/stk_mesh/base/HostField.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldParallel.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldSyncDebugger.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpSpaces.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpTypes.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpUtils.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/EntityRepository.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/NgpFieldAux.hpp
  packages/stk/stk_performance_tests/stk_mesh/NgpFieldAccess.cpp
  packages/stk/stk_performance_tests/stk_mesh/calculate_centroid.hpp
  packages/stk/stk_unit_tests/stk_io/UnitTestWriteSTKMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpFieldAsyncTest.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_AccessDuringMeshModification.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_MeshModification.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_PartialAllocation.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_PartialSync.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/ngpFieldTest.cpp
  packages/stk/stk_unit_tests/stk_simd_old/UnitTestStkSimdView3d.cpp
  packages/stk/stk_unit_tests/stk_topology/unit_test_tet.cpp
  packages/stk/stk_unit_tests/stk_util/environment/UnitTestRuntimeWarning.cpp
  packages/stk/stk_util/stk_util/environment/RuntimeMessage.cpp
  packages/stk/stk_util/stk_util/environment/RuntimeMessage.hpp
  packages/stk/stk_util/stk_util/environment/RuntimeWarning.cpp
  packages/stk/stk_util/stk_util/environment/RuntimeWarning.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
  packages/stk/stk_util/stk_util/stk_config.h
  packages/stk/stk_util/stk_util/util/AlignedAllocator.cpp
  packages/stk/stk_util/stk_util/util/FieldDataAllocator.cpp
  packages/stk/stk_util/stk_util/util/FieldDataAllocator.hpp
  packages/stk/stk_util/stk_util/util/PageAlignedAllocator.hpp
Labels: pkg: STK, AT: AUTOMERGE

#9777 Tempus: Zero out initial guess for adjoint initial conditions solve
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
Labels: AT: AUTOMERGE

#9779 TrilinosCouplings: Adding support for rotated diffusion
  packages/trilinoscouplings/examples/scaling/IntrepidPoisson_Pamgen_Tpetra_main.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_IntrepidPoissonExampleHelpers.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_IntrepidPoissonExampleHelpers.hpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp
Labels: AT: AUTOMERGE

#9616 Tpetra: Reimplementation of MultiVector using WrappedDualView
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
  packages/tpetra/core/src/Tpetra_Details_checkView.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_get2dView.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualView.cpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraMultiVectorAdapter.hpp
  packages/zoltan2/test/core/driver/driverinputs/kuberry/kuberry.xml
Labels: pkg: Tpetra, AT: AUTOMERGE

#9804 Tpetra: Removing const to allow deprecated code to compile
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: AT: AUTOMERGE

#9783 Panzer: fix 1D line mesh issue on cuda
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#9822 MueLu/TrilinosCouplings: Adding signed SA style dropping option / Adding Anisotropic Diffusion Example
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/test/unit_tests/CoalesceDropFactory.cpp
  packages/trilinoscouplings/examples/scaling/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_IntrepidPoissonExampleHelpers.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_IntrepidPoissonExampleHelpers.hpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE

#9837 Tpetra: Fixing subtle Kokkos use error
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#9883 tpetra: #9799 changed HAVE_TEUCHOS_DEBUG to HAVE_TPETRA_DEBUG
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_checkGlobalError.cpp
  packages/tpetra/core/src/Tpetra_HashTable_decl.hpp
  packages/tpetra/core/src/Tpetra_HashTable_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE
