Repository trilinos/Trilinos, pull requests merged in 2021-06, with the labels that each got.

#9199 Tacho - remove debug output overriding
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: AT: AUTOMERGE

#9191 MueLu: Additional coarsening options
  packages/epetra/src/Epetra_CrsGraph.cpp
  packages/epetra/src/Epetra_CrsGraph.h
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Graph/Containers/MueLu_GraphBase.hpp
  packages/muelu/src/Graph/Containers/MueLu_Graph_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_Zoltan2GraphAdapter.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_LocalOrdinalTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_LocalOrdinalTransferFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalMapFactory_decl.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalMapFactory_def.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalPFactory_decl.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalPFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_ClassicalMapFactory_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_ClassicalPFactory_fwd.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/ClassicalPFactory.cpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_decl.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
  packages/xpetra/src/Import/Xpetra_EpetraImport.hpp
  packages/xpetra/src/Import/Xpetra_Import.hpp
  packages/xpetra/src/Import/Xpetra_TpetraImport_decl.hpp
  packages/xpetra/src/Import/Xpetra_TpetraImport_def.hpp
  packages/xpetra/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/xpetra/src/Utils/Xpetra_ImportUtils.hpp
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
Labels: MueLuReview, pkg: MueLu

#9201 Ifpack2: Adding unit test for BlockTriDi via the Ifpack2::Factory
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestFactory.cpp
Labels: AT: AUTOMERGE

#9203 SEACAS: Add fortran settings for cray fortran
  packages/seacas/cmake/FortranSettings.cmake
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#8997 NOX: Tpetra householder solver can optionally update prec with U*V^T
  packages/nox/src-loca/src-tpetra/LOCA_BorderedSolver_TpetraHouseholder.cpp
  packages/nox/src-loca/src-tpetra/LOCA_BorderedSolver_TpetraHouseholder.hpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_LowRankUpdateRowMatrix.hpp
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/nox/src-thyra/NOX_Thyra_Group.H
  packages/nox/test/tpetra/CMakeLists.txt
  packages/nox/test/tpetra/tTpetra_HouseholderBorderedSolve_WithUVInPrec.cpp
Labels: AT: STALE, PA: Nonlinear Solvers, pkg: LOCA

#9208 Zoltan2: (Coloring) Fixed D1 performance bug, added timing argument to coloring code
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybrid2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1-2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD2.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridPD2.hpp
  packages/zoltan2/core/src/problems/Zoltan2_ColoringProblem.hpp
  packages/zoltan2/test/core/color/CMakeLists.txt
  packages/zoltan2/test/core/color/coloring1.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#9207 Xpetra: fixes for ETI-off build
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_decl.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVectorFactory.cpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVectorFactory_decl.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#8934 atdm/ats2: Only run Adelus tests with TPETRA_ASSUME_CUDA_AWARE_MPI=1
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/std/atdm/ats2/tweaks/Tweaks.cmake
Labels: AT: STALE, ATDM Config

#9213 Panzer: fix doxygen tag file
  packages/panzer/doc/Doxyfile
Labels: AT: AUTOMERGE, pkg: Panzer

#9219 MueLu: Avoid CMake warning about source file extensions
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/unit_tests/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#9218 FROSch: Some fixes from ALCF Workshop
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_AlgebraicOverlappingOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SchwarzOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SchwarzOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Output.h
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/main.cpp
Labels: AT: AUTOMERGE, pkg: ShyLU

#9223 Phalanx: enable package for no-UVM PR testing
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Phalanx

#9225 TrilinosCouplings: Fix instatiation
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_p2_tpetra.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#9215 Automatic snapshot commit from seacas at 2619280790
  packages/seacas/applications/epu/EP_ExodusFile.C
  packages/seacas/applications/epu/EP_ExodusFile.h
  packages/seacas/applications/epu/EP_SystemInterface.C
  packages/seacas/applications/epu/EP_SystemInterface.h
  packages/seacas/applications/epu/EP_Version.h
  packages/seacas/applications/exodiff/MinMaxData.h
  packages/seacas/applications/mapvar-kd/optkd.h
  packages/seacas/applications/nem_spread/ps_pario.h
  packages/seacas/applications/nem_spread/rf_allo.h
  packages/seacas/applications/nem_spread/rf_io.h
  packages/seacas/applications/nem_spread/sort_utils.h
  packages/seacas/libraries/aprepro_lib/apr_stats.h
  packages/seacas/libraries/exodus/test/CMakeLists.txt
  packages/seacas/libraries/exodus/test/exodus_nc4_unit_tests.gold
  packages/seacas/libraries/exodus/test/exodus_unit_tests.gold
  packages/seacas/libraries/exodus/test/exodus_unit_tests.gold_ts
  packages/seacas/libraries/exodus/test/testall.in
  packages/seacas/libraries/exodus/test/testnc4.in
  packages/seacas/libraries/ioss/src/Ioss_CopyDatabase.C
  packages/seacas/libraries/ioss/src/Ioss_DatabaseIO.C
  packages/seacas/libraries/ioss/src/Ioss_DatabaseIO.h
  packages/seacas/libraries/ioss/src/Ioss_FileInfo.C
  packages/seacas/libraries/ioss/src/Ioss_Initializer.h
  packages/seacas/libraries/ioss/src/Ioss_NodeBlock.C
  packages/seacas/libraries/ioss/src/Ioss_NodeBlock.h
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.h
  packages/seacas/libraries/ioss/src/Ioss_VariableType.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.h
  packages/seacas/libraries/ioss/src/exodus/Ioex_IOFactory.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Utils.C
  packages/seacas/libraries/ioss/src/faodel/Iofaodel_PropertySerialization.h
  packages/seacas/libraries/ioss/src/fmt
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
  packages/seacas/libraries/ioss/src/main/cgns_decomp.C
  packages/seacas/libraries/ioss/src/main/info_interface.C
  packages/seacas/libraries/ioss/src/main/io_info.C
  packages/seacas/libraries/ioss/src/main/modify_interface.C
  packages/seacas/libraries/ioss/src/main/shell_interface.C
  packages/seacas/libraries/ioss/src/main/skinner_interface.C
  packages/seacas/libraries/ioss/src/main/volume.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp.h
  packages/seacas/libraries/ioss/src/visualization/utils/Iovs_Utils.C
  packages/seacas/libraries/suplib_c/add_to_log.h
  packages/seacas/libraries/suplib_cpp/to_string.h
  packages/seacas/libraries/svdi/cgi/cdrcom.h
  packages/seacas/libraries/svdi/cgi/cgidef.h
  packages/seacas/libraries/svdi/cgi/devid.h
  packages/seacas/libraries/svdi/cgi/ifdefx.h
  packages/seacas/libraries/svdi/cgi/mdcgi.h
  packages/seacas/libraries/svdi/cgi/vdicgi.h
  packages/seacas/scripts/tests/exomerge_unit_test.e
  packages/seacas/scripts/tests/exomerge_unit_test.py
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#9222 Tempus: add setter for integrator status
  packages/tempus/src/Tempus_Integrator.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorBasicOld_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasicOld_impl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/test/Integrator/Tempus_IntegratorTest.cpp
Labels: AT: AUTOMERGE

#9189 TriBITS: treat compiler flags verbatim for installation
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  packages/kokkos/CMakeLists.txt
Labels: AT: AUTOMERGE, PA: Data Services, PA: Framework, TriBITS, impacting: build, pkg: Kokkos, type: bug

#9211 MueLu: PlaneSmoothing via Stratimikos and recursive AMG
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/recurMG.xml
  packages/muelu/utils/misc/patchLinkForRecurMG
Labels: AT: AUTOMERGE

#9238 Tpetra: fix cuda 9.2 compiler error reported in #9237 and nightly testing
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualView.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9239 EXODUS: Fix the fortran units tests to avoid grepping stdout
  packages/seacas/libraries/exoIIv2for32/test/CMakeLists.txt
  packages/seacas/libraries/exoIIv2for32/test/exodus_i64_unit_tests.gold
  packages/seacas/libraries/exoIIv2for32/test/exodus_unit_tests.gold
  packages/seacas/libraries/exoIIv2for32/test/testall.in
  packages/seacas/libraries/exoIIv2for32/test/testall_i64.in
  packages/seacas/libraries/exodus_for/test/CMakeLists.txt
  packages/seacas/libraries/exodus_for/test/exodus_unit_tests.gold
  packages/seacas/libraries/exodus_for/test/testall.in
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#9086 Tpetra: Allow enabling SYCL backend in Tpetra
  packages/tpetra/CMakeLists.txt
  packages/tpetra/classic/NodeAPI/CMakeLists.txt
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.cpp
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.hpp
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.hpp
  packages/tpetra/classic/NodeAPI/cmake/KokkosClassic_DefaultNode_config.h.in
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrs.cpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_SYCL.cpp
  packages/tpetra/core/src/Tpetra_Details_StaticView.cpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_WithGraph_SYCL.cpp
  packages/tpetra/core/test/CrsMatrix/assembleElement.cpp
  packages/tpetra/core/test/MatrixMatrix/FECrs_MatrixMatrix_UnitTests.cpp
Labels: pkg: Kokkos, pkg: KokkosKernels, pkg: Tpetra

#9241 Tpetra: speed up sortAndMerge (#9228)
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: AT: AUTOMERGE, impacting: performance, pkg: Tpetra

#9246 Intrepid2: fix warning for empire sync
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Intrepid2

#9224 Tpetra: fix MiniFE example vectors for >1 rank
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
  packages/tpetra/core/test/TpetraUtils_MatrixGenerator.hpp
Labels: AT: AUTOMERGE, type: bug, type: enhancement

#9236 Ctest: ascicgpu testing changes
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.crs.cmake
Labels: AT: AUTOMERGE, UVM removal

#9240 Tpetra - fix failing test in block crs
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#9248 Removes unnecessary BLAS/LAPACK class usage and exception handling
  packages/belos/src/BelosBiCGStabIter.hpp
  packages/belos/src/BelosBiCGStabSolMgr.hpp
  packages/belos/src/BelosBlockCGIter.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGCRODRSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosFixedPointIteration.hpp
  packages/belos/src/BelosFixedPointSolMgr.hpp
  packages/belos/src/BelosLSQRIter.hpp
  packages/belos/src/BelosLSQRIteration.hpp
  packages/belos/src/BelosLSQRSolMgr.hpp
  packages/belos/src/BelosMinresIter.hpp
  packages/belos/src/BelosMinresIteration.hpp
  packages/belos/src/BelosMinresSolMgr.hpp
  packages/belos/src/BelosPCPGIter.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGIter.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGIter.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockTFQMRIter.hpp
  packages/belos/src/BelosPseudoBlockTFQMRSolMgr.hpp
  packages/belos/src/BelosRCGIter.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRIter.hpp
  packages/belos/src/BelosTFQMRSolMgr.hpp
  packages/belos/src/BelosTsqrOrthoManagerImpl.hpp
Labels: pkg: Belos, type: enhancement

#9249 Teuchos: add hooks to disable/reenable stacked timers for async tasks.
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/test/StackedTimer/stacked_timer.cpp
Labels: AT: AUTOMERGE, PA: Framework, client: EMPIRE, pkg: Teuchos

#9090 Tpetra: enable and fix tests for HIP
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrs.cpp
  packages/tpetra/core/example/BlockCrs/Tpetra_TestBlockCrsMeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_FE.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_typedefs.hpp
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/05_solve.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
  packages/tpetra/core/src/Tpetra_Details_makeColMap_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_RowMatrixTransposer_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport2/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Tpetra

#9260 MueLu Stratimikos Smoother: Fix include
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9257 Tpetra: enable block crs matrix tests in UVM-free PR builds
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#9258 Tpetra warnings
  packages/thyra/adapters/tpetra/src/Thyra_TpetraVector_def.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_FECrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
  packages/tpetra/core/src/Tpetra_leftAndOrRightScaleCrsMatrix_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9187 9184 winllvmparbuild: fix winllvm parallel builds with modification to muelu, zoltan2, belos
  packages/belos/src/BelosBiCGStabSolMgr.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosFixedPointSolMgr.hpp
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosGmresPolyOp.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockTFQMRSolMgr.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRSolMgr.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybrid2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1-2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD2.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridPD2.hpp
  packages/zoltan2/core/src/input/Zoltan2_InputTraits.hpp
Labels: AT: STALE, pkg: Belos, pkg: MueLu, pkg: Zoltan2

#9254 Extension to allow for 'long double' ScalarType in Trilinos software stack
  cmake/CallbackSetupExtraOptions.cmake
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosSolverManager.hpp
  packages/ifpack2/adapters/thyra/RTOpPack_ROpGetSubVector_longdouble.cpp
  packages/ifpack2/adapters/thyra/RTOpPack_RTOpTHelpers_longdouble.cpp
  packages/ifpack2/adapters/thyra/RTOpPack_RTOpT_longdouble.cpp
  packages/ifpack2/adapters/thyra/RTOpPack_SPMD_apply_op_longdouble.cpp
  packages/ifpack2/adapters/thyra/RTOpPack_TOpLinearCombination_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultColumnwiseMultiVector_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultPreconditioner_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultSpmdMultiVector_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultSpmdVectorSpaceFactory_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultSpmdVectorSpace_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_DefaultSpmdVector_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_EuclideanScalarProd_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_LinearOpBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_LinearOpDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_MultiVectorAdapterBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_MultiVectorBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_MultiVectorDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_MultiVectorStdOps_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_PreconditionerFactoryBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_ScalarProdBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_ScalarProdVectorSpaceBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_SpmdLocalDataAccess_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_SpmdMultiVectorDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_SpmdVectorDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_SpmdVectorSpaceDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_VectorDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_VectorSpaceBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_VectorSpaceDefaultBase_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_VectorStdOps_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_apply_op_helper_longdouble.cpp
  packages/ifpack2/adapters/thyra/Thyra_describeLinearOp_longdouble.cpp
  packages/ifpack2/src/CMakeLists.txt
  packages/teuchos/CMakeLists.txt
  packages/teuchos/comm/src/Teuchos_SerializationTraits.hpp
  packages/teuchos/core/cmake/Teuchos_config.h.in
  packages/teuchos/core/src/Teuchos_ExplicitInstantiationHelpers.hpp
  packages/teuchos/core/src/Teuchos_ScalarTraits.hpp
  packages/teuchos/core/src/Teuchos_TypeNameTraits.hpp
  packages/teuchos/core/src/Teuchos_toString.hpp
  packages/teuchos/numerics/src/Teuchos_Details_LapackLongDouble.cpp
  packages/teuchos/numerics/src/Teuchos_Details_LapackLongDouble.hpp
  packages/teuchos/numerics/src/Teuchos_ExpandScalarTypeMacros.hpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.hpp
  packages/teuchos/parameterlist/src/Teuchos_StandardParameterEntryValidators.hpp
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/test/Block/BlockView.cpp
Labels: AT: AUTOMERGE

#9271 Ifpack2: fix refcount related errors
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockCrsUtil.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainer.cpp
Labels: AT: AUTOMERGE, impacting: tests, pkg: Tpetra, type: bug

#9220 Belos & Amesos2: changes following Tpetra_UVM_Removal branch
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_Kokkos_View_Copy_Assign.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_MatrixTraits.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/test/adapters/CrsMatrix_Adapter_Consistency_Tests.cpp
  packages/amesos2/test/adapters/Epetra_RowMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Tpetra_CrsMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/belos/tpetra/example/WrapTpetraSolver/wrapTpetraSolver.cpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgPipeline.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_CgSingleReduce.hpp
  packages/belos/tpetra/test/FixedPoint/test_fp_hb.cpp
  packages/belos/tpetra/test/Native/diagonal_matrix.cpp
  packages/belos/tpetra/test/OrthoManager/belos_orthomanager_tpetra.cpp
  packages/tpetra/core/src/Tpetra_EpetraRowMatrix.hpp
  packages/tpetra/tsqr/src/Tsqr_CuSolverNodeTsqr.hpp
Labels: UVM removal, pkg: Amesos2, pkg: Belos

#9286 New proxy setting to match the change Friday
  cmake/std/PullRequestLinuxDriver-old.sh
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/common.bash
Labels: AT: AUTOMERGE

#9295 Add .sandia.gov bacj into the no_proxy variable
  cmake/std/PullRequestLinuxDriver.sh
Labels: Framework tasks

#9297 Change The intel license info temporarily
  cmake/std/pr_config/pullrequest.ini
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/sems/PullRequestIntel19.0.5TestingEnv.sh
Labels: AT: AUTOMERGE, Framework tasks

#9276 Tpetra: fix performance in LocalCrsMatrixOp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_LocalCrsMatrixOperator_decl.hpp
  packages/tpetra/core/src/Tpetra_LocalCrsMatrixOperator_def.hpp
Labels: impacting: performance

#9277 Xpetra Thyra Utils: Wrap Xpetra (Multi)Vector instead of deepcopy
  packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#9294 MueLu: half precision preconditioner
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9301 Ifpack2: fixed some deprecated code
  packages/ifpack2/src/Ifpack2_Details_Amesos2Wrapper_def.hpp
Labels: UVM removal, pkg: Ifpack2

#9288 Ctest: Enabling Amesos2/Belos/Ifpack2 tests w/o UVM in PR
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
Labels: AT: AUTOMERGE

#9303 MueLu Stratimikos adapter: Enable half precision for factory-style PLs
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/example/basic/Stratimikos.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9281 Ifpack2: writing test for Belos Block GMRES solver + new extended ScalarTypes (float128, long double)
  packages/ifpack2/test/CMakeLists.txt
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/belos_solve_float128.cpp
  packages/ifpack2/test/belos/belos_solve_longdouble.cpp
Labels: AT: AUTOMERGE

#9278 Work around team size AUTO issue on kepler
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_gauss_seidel_impl.hpp
Labels: AT: AUTOMERGE, impacting: tests, pkg: Ifpack2, pkg: KokkosKernels, type: bug

#9279 Tpetra: Use HIPSpace for HIPWrapperNode
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.cpp
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: enhancement

#9296 Piro: minor changes related to sensitivities and optimization
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/src/Piro_ThyraProductME_Constraint_SimOpt.hpp
  packages/piro/src/Piro_ThyraProductME_Objective_SimOpt.hpp
  packages/rol/adapters/thyra/src/vector/ROL_ThyraVector.hpp
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers, client: Albany, pkg: Piro, pkg: ROL, type: bug

#8638 Trilinos: Fix/Update build stats tools
  cmake/ctest/drivers/atdm/ats1/local-driver.sh
  cmake/ctest/drivers/atdm/ats2/local-driver.sh
  cmake/ctest/drivers/atdm/cee-rhel7/local-driver.sh
  cmake/ctest/drivers/atdm/cts1/local-driver.sh
  cmake/ctest/drivers/atdm/cts1empire/local-driver.sh
  cmake/ctest/drivers/atdm/ride/local-driver.sh
  cmake/ctest/drivers/atdm/sems-rhel7/local-driver.sh
  cmake/ctest/drivers/atdm/tlcc2/local-driver.sh
  cmake/ctest/drivers/atdm/utils/setup_env.sh
  cmake/ctest/drivers/atdm/van1-tx2/local-driver.sh
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
  cmake/std/PullRequestLinuxCommonTestingSettingsSERIAL.cmake
  cmake/std/atdm/ats2/all_supported_builds.sh
  cmake/std/atdm/sems-rhel7/all_supported_builds.sh
  commonTools/build_stats/BuildStatsData.py
  commonTools/build_stats/BuildStatsGatherTarget.cmake
  commonTools/build_stats/BuildStatsSharedVars.cmake
  commonTools/build_stats/BuildStatsWrappers.cmake
  commonTools/build_stats/CMakeLists.txt
  commonTools/build_stats/build_stat_lang_wrapper.sh.in
  commonTools/build_stats/build_stat_wrapper.sh.in
  commonTools/build_stats/gather_build_stats.py
  commonTools/build_stats/gather_build_stats.sh
  commonTools/build_stats/summarize_build_stats.py
  commonTools/build_stats/unit_tests/CMakeLists.txt
  commonTools/build_stats/unit_tests/bad_timing_build_stats_files/target1.timing.bad_type_filesize
  commonTools/build_stats/unit_tests/bad_timing_build_stats_files/target1.timing.empty
  commonTools/build_stats/unit_tests/bad_timing_build_stats_files/target1.timing.junk
  commonTools/build_stats/unit_tests/bad_timing_build_stats_files/target1.timing.missing_col_filename
  commonTools/build_stats/unit_tests/bad_timing_build_stats_files/target1.timing.two_data_rows
  commonTools/build_stats/unit_tests/dummy_build_dir/README.md
  commonTools/build_stats/unit_tests/dummy_build_dir/packages/pkga/src/target2.timing
  commonTools/build_stats/unit_tests/dummy_build_dir/some/base/dir/target1.timing
  commonTools/build_stats/unit_tests/dummy_build_dir/some/base/target3.timing
  commonTools/build_stats/unit_tests/dummy_build_dir/target4.timing
  commonTools/build_stats/unit_tests/gather_build_stats_UnitTests.py
  commonTools/build_stats/unit_tests/summarize_build_stats_UnitTests.py
  commonTools/build_stats/wrapper/NMParser.py
  commonTools/build_stats/wrapper/WrapperCommandLineParser.py
  commonTools/build_stats/wrapper/WrapperOpTimer.py
  commonTools/build_stats/wrapper/magic_wrapper.py
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: AT: AUTOMERGE, ATDM DevOps, client: ATDM, type: enhancement

#9284 Disable support for Makefile.export.* files (#8498)
  CMakeLists.txt
Labels: AT: AUTOMERGE, PA: Framework, TriBITS

#9274 STK: Snapshot 06-11-21 09:00
  packages/stk/stk_doc_tests/stk_mesh/howToUseNgpFieldAsyncCopy.cpp
  packages/stk/stk_emend/Jamfile
  packages/stk/stk_emend/stk_emend/independent_set/CMakeLists.txt
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_no_stk_io_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_no_stk_mesh_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_serial_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_user_facing
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/load_gcc_modules
  packages/stk/stk_integration_tests/cmake_install_test/run_cmake_stk
  packages/stk/stk_integration_tests/cmake_install_test/run_cmake_stk_user_facing
  packages/stk/stk_integration_tests/cmake_install_test/stk_test_app/run_cmake_stk_test_app
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/GetNgpExecutionSpace.hpp
  packages/stk/stk_mesh/stk_mesh/base/GetNgpField.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpField.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldSyncDebugger.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpUtils.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/FieldBaseImpl.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/FieldBaseImpl.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshImplUtils.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/Visitors.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ElemElemGraph.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ElemElemGraph.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/SideConnector.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/SideConnector.hpp
  packages/stk/stk_performance_tests/stk_mesh/NgpFieldAsync.cpp
  packages/stk/stk_performance_tests/stk_mesh/timer.hpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCommInfoObserver.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestElemGraphCoincidentElements.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestField.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpFieldAsyncTest.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpUnitTestUtils.hpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_PartialSync.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/ngpFieldTest.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: AT: AUTOMERGE, pkg: STK

#9145 Tpetra: split doImport/Export into "post"/"wait" halves to enable future asynchronous calls
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9302 Tpetra: remove some deprecated stuff
  packages/tpetra/core/src/Tpetra_EpetraRowMatrix.hpp
  packages/tpetra/core/src/Tpetra_RowMatrixTransposer_def.hpp
Labels: AT: AUTOMERGE, impacting: build, pkg: Tpetra

#9308 Tpetra: Remove some output from the Bug7758 test
  packages/tpetra/core/test/MultiVector/Bug7758.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9313 Zoltan2: fixed memory leak when using 32-bit Scotch
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgScotch.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#9315 Gracefully exist with 0 when build_stats.csv file is empty (#9314)
  commonTools/build_stats/summarize_build_stats.py
  commonTools/build_stats/unit_tests/build_stats.empty.csv
  commonTools/build_stats/unit_tests/summarize_build_stats_UnitTests.py
Labels: AT: AUTOMERGE, PA: Framework, type: bug

#9310 Xpetra/MueLu testing: change proxy settings
  cmake/ctest/drivers/enigma/cron_driver.sh
  cmake/ctest/drivers/geminga/cron_driver.sh
  cmake/ctest/drivers/rocketman/cron_driver.sh
  cmake/ctest/drivers/rocketman/cron_driver_tpetra.sh
  cmake/ctest/drivers/trappist/cron_driver.sh
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#9132 Skip view initializations
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_def.hpp
  packages/muelu/adapters/xpetra/MueLu_XpetraOperator_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_normImpl.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: MueLu, pkg: Tpetra

#9304 Amesos2, Belos, Ifpack2: build with HIP
  packages/amesos2/CMakeLists.txt
  packages/amesos2/src/Amesos2_Cholmod_decl.hpp
  packages/amesos2/src/Amesos2_Kokkos_Impl.hpp
  packages/ifpack2/src/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_ETI_LO_GO_HIP.tmpl
  packages/ifpack2/src/Ifpack2_ETI_SC_LO_GO_HIP.tmpl
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
Labels: PA: Linear Solvers, client: ExaWind, pkg: Amesos2, pkg: Belos, pkg: Ifpack2, system: gpu, type: enhancement

#9227 Teuchos: Add "isReady" method to CommRequest
  packages/teuchos/comm/src/Teuchos_Comm.hpp
  packages/teuchos/comm/src/Teuchos_DefaultMpiComm.hpp
  packages/teuchos/comm/test/Comm/DefaultMpiComm_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Teuchos

#9316 Tpetra: fix several warnings
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/05_solve.cpp
  packages/tpetra/core/example/advanced/Benchmarks/blockCrsMatrixMatVec.cpp
  packages/tpetra/core/example/advanced/Benchmarks/localView.cpp
  packages/tpetra/core/guide/src/Examples/SourceCode/power_method_1.cpp
  packages/tpetra/core/src/Tpetra_Details_scaleBlockDiagonal.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_RowMatrixTransposer_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_LeftRightScale.cpp
  packages/tpetra/core/test/CrsMatrix/Regression/Albany182.cpp
  packages/tpetra/core/test/MultiVector/Issue46.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_get2dView.cpp
  packages/tpetra/core/test/RowMatrixTransposer/main.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsMatrix_FileTest.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsMatrix_InOutTest.cpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_OperatorTest.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9320 MueLu: fix rocketman testing
  cmake/ctest/drivers/rocketman/sendTestSummary.sh
  cmake/ctest/drivers/rocketman/setSshEnv.py
Labels: AT: AUTOMERGE, pkg: MueLu

#9318 Ifpack2: fix arithmetic error on device
  packages/ifpack2/src/Ifpack2_IlukGraph.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestHelpers.hpp
Labels: client: ExaWind, pkg: Amesos2, pkg: Belos, pkg: Ifpack2, type: enhancement

#9282 PyTrilinos: Update fixes to Teuchos::ParameterListModifier
  packages/PyTrilinos/CMakeLists.txt
  packages/PyTrilinos/src/Teuchos_ParameterList.i
Labels: AT: AUTOMERGE, pkg: PyTrilinos

#9324 Disable test_Jacobi_bcsstk14_hb test due to random failure
  packages/ifpack2/test/belos/CMakeLists.txt
Labels: pkg: Belos

#9230 Xpetra mv
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_MapExtractor_def.hpp
  packages/xpetra/src/BlockedMultiVector/Xpetra_BlockedMultiVector_decl.hpp
  packages/xpetra/src/BlockedVector/Xpetra_BlockedVector_decl.hpp
  packages/xpetra/src/BlockedVector/Xpetra_BlockedVector_def.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_decl.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
  packages/xpetra/src/Utils/Xpetra_Access.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraVector.hpp
  packages/xpetra/src/Vector/Xpetra_TpetraVector_decl.hpp
  packages/xpetra/src/Vector/Xpetra_TpetraVector_def.hpp
  packages/xpetra/src/Vector/Xpetra_Vector.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_def.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTestsXpetraSpecific.cpp
Labels: pkg: Xpetra

#9328 MueLu: another fix for testing on rocketman
  cmake/ctest/drivers/rocketman/cron_driver.sh
Labels: AT: AUTOMERGE, pkg: MueLu

#9131 MueLu: update blocked coord transfer fact
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_BlockedCoordinatesTransferFactory_def.hpp
  packages/muelu/test/unit_tests/BlockedRepartition.cpp
Labels: pkg: MueLu

#9133 Tpetra: Skip unpackAndCombine
  packages/tpetra/core/src/Tpetra_Details_Transfer_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_def.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Export_def.hpp
  packages/tpetra/core/src/Tpetra_ImportExportData_decl.hpp
  packages/tpetra/core/src/Tpetra_Import_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: pkg: Tpetra

#9330 MueLu stuff
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/RAPShiftFactory.cpp
  packages/muelu/test/unit_tests/Smoothers/BelosSmoother.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9334 Tpetra: It's Over 9000!!! [Fixing bug 9332]
  packages/tpetra/core/src/Tpetra_Details_unpackCrsGraphAndCombine_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9321 MueLu: More alternative coarsening
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_InitialBlockNumberFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalMapFactory_def.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/test/unit_tests/ClassicalPFactory.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9305 Amesos2: add new options for SuperLU
  packages/amesos2/src/Amesos2_Superlu_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superlu_decl.hpp
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/src/Amesos2_cuSOLVER_def.hpp
Labels: AT: AUTOMERGE, pkg: Amesos2

#9335 Tpetra: Strengthen unit test that skips unpack
  packages/tpetra/core/src/Tpetra_Details_Transfer_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9342 MueLu: Adding aggregate-level smoothing
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.cpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.hpp
  packages/muelu/src/Smoothers/MueLu_TrilinosSmoother_def.hpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9331 Tpetra: adding missing code for proper ETI with 'long double' ST for TpetraExt routines
  packages/ifpack2/test/belos/belos_solve_longdouble.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9343 Removed overrides to be consistent
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
Labels: AT: AUTOMERGE, pkg: Xpetra

#9340 Tpetra: Fix for #9336
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: pkg: Tpetra

#9323 Framework: Dashboard restructuring to reflect triaging support model
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.15_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.15_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_complex_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-rolling_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-xl-2020.03.18_spmpi-rolling_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-cuda-10.1.243-xl-2020.03.18_spmpi-rolling_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-rolling_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-rolling_serial_static_opt.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-xl-2020.03.18_spmpi-rolling_serial_static_dbg.sh
  cmake/ctest/drivers/atdm/ats2/drivers/Trilinos-atdm-ats2-xl-2020.03.18_spmpi-rolling_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_clang-9.0.1_openmpi-4.0.3_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_shared_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_shared_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_gnu-7.2.0_openmpi-4.0.3_serial_shared_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_intel-19.0.3_intelmpi-2018.4_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_intel-19.0.3_mpich2-3.2_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_clang-9.0.1_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_cuda-10.1.243_gnu-7.2.0_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_gnu-7.2.0_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_intel-19.0.3_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_clang-9.0.1_openmpi-4.0.3_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_static_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_gnu-7.2.0_openmpi-4.0.3_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_intel-19.0.3_mpich2-3.2_static_opt.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.4_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1/drivers/Trilinos-atdm-cts1-intel-19.0.4_openmpi-4.0.3_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/cts1empire/drivers/Trilinos-atdm-cts1empire-intel-18.0.2_openmpi-4.0.1_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/cts1empire/drivers/Trilinos-atdm-cts1empire-intel-18.0.2_openmpi-4.0.1_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-release-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-release.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-7.2.0-openmp-debug.sh
  cmake/ctest/drivers/atdm/ride/drivers/Trilinos-atdm-white-ride-gnu-7.2.0-openmp-release.sh
  cmake/ctest/drivers/atdm/sems-rhel7/drivers/Trilinos-atdm-sems-rhel7-cuda-10.1-Volta70-complex-shared-release-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel7/drivers/Trilinos-atdm-sems-rhel7-gnu-7.2.0-openmp-complex-shared-release-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel7/drivers/Trilinos-atdm-sems-rhel7-intel-18.0.5-openmp-shared-debug.sh
  cmake/ctest/drivers/atdm/sems-rhel7/drivers/Trilinos-atdm-sems-rhel7-intel-18.0.5-openmp-shared-release-debug.sh
  cmake/ctest/drivers/atdm/tlcc2/drivers/Trilinos-atdm-tlcc2-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/tlcc2/drivers/Trilinos-atdm-tlcc2-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.5_openmp_static_opt.sh
Labels: PA: Framework

#9347 MueLu/Ifpack: Aggregate Block Smoothing Singleton Handling
  packages/ifpack/src/Ifpack_UserPartitioner.cpp
  packages/ifpack/src/Ifpack_UserPartitioner.h
  packages/ifpack/src/Ifpack_ValidParameters.cpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9346 enabled xpetra tests
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
Labels: UVM removal, pkg: Xpetra

#9350 MueLu: Aggregate smoothing for >1 PDE per node
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Smoothers/MueLu_IfpackSmoother.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9159 Tpetra: residual changes
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestOverlappingRowMatrix.cpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_Transfer_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets.cpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_residual.hpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests1.cpp
  packages/tpetra/core/test/ImportExport/ImportExport_UnitTests.cpp
Labels: pkg: Tpetra

#9353 MueLu: Create cuBLAS and cuSPARSE handles up front
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9354 MueLu: regionMG add missing Node templates
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9349 RefMaxwell stuff
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Smoothers/MueLu_SmootherFactory_def.hpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/xpetra/src/DistObject/Xpetra_DistObject.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
Labels: pkg: MueLu, pkg: Xpetra

#9338 Muelu tpetra dep
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_VariableDofLaplacianFactory_def.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase1Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_PreserveDirichletAggregationAlgorithm_kokkos_def.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_NullspaceFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/perf_tests_kokkos/Redirection.cpp
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
  packages/muelu/test/structured/Driver_Structured.cpp
  packages/muelu/test/unit_tests/GeneralGeometricPFactory.cpp
  packages/muelu/test/unit_tests/Utilities.cpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/LWGraph_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/NotayAggregationFactory.cpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer.hpp
  packages/zoltan2/test/core/color/coloring1.cpp
  packages/zoltan2/test/core/unit/models/GraphModel.cpp
Labels: UVM removal, pkg: MueLu

#9360 Panzer: UVM removal from DofMgr subpackage
  packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp
  packages/panzer/dof-mgr/src/Panzer_Filtered_GlobalIndexer.cpp
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer_Utilities.cpp
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer_Utilities_impl.hpp
  packages/panzer/dof-mgr/test/dofmngr_test/tFilteredUGI.cpp
  packages/panzer/dof-mgr/test/dofmngr_test/tGlobalIndexerUtilities.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, pkg: Panzer
