Repository trilinos/Trilinos, pull requests merged in 2021-07, with the labels that each got.

#9300 Framework: Revert 9297
  cmake/std/pr_config/pullrequest.ini
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/sems/PullRequestIntel19.0.5TestingEnv.sh
Labels: AT: AUTOMERGE

#9367 Framework: Disable build stats
  cmake/ctest/drivers/atdm/utils/setup_env.sh
Labels: AT: AUTOMERGE, PA: Framework

#9361 MueLu: classical with Tpetra
  packages/muelu/src/Misc/MueLu_LocalOrdinalTransferFactory_def.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalMapFactory_def.hpp
  packages/muelu/src/Transfers/Classical/MueLu_ClassicalPFactory_def.hpp
  packages/muelu/test/unit_tests/ClassicalPFactory.cpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_decl.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
Labels: pkg: MueLu

#9373 MueLu RefMaxwell: Change default behavior for applying BCs to A_nodal
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9210 Ifpack2/MueLu: Improving Tests
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestFactory.cpp
  packages/muelu/test/unit_tests/Smoothers/Ifpack2Smoother.cpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: MueLu

#9376 MueLu: Update structured region Brick3D gold test to match gold file on Trappist
  packages/muelu/research/regionMG/test/structured/gold_files/Brick3D_linear_4.log.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#9389 Revert "MueLu RefMaxwell: Change default behavior for applying BCs to…
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: MueLu

#9386 TrilinosCouplings: Skip QR in Maxwell example
  packages/trilinoscouplings/examples/scaling/Maxwell.xml
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#9383 Fixed deprecated code
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9396 MueLu: Switch default for enforcing BCs on auxiliary matrix
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#9402 Update stale bot
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#9405 Ifpack2: Improving BlockTriDi Unit test
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestFactory.cpp
Labels: AT: AUTOMERGE, pkg: Ifpack2

#9406 Sacado fix non cuda aware mpi
  packages/sacado/test/UnitTests/Fad_CommTests.hpp
  packages/sacado/test/performance/fenl_assembly/fenl_functors.hpp
  packages/sacado/test/performance/fenl_assembly_view/fenl_functors.hpp
Labels: AT: AUTOMERGE

#9413 STK: Snapshot 07-11-21 08:17
  packages/stk/stk_expreval/stk_expreval/Evaluator.cpp
  packages/stk/stk_expreval/stk_expreval/Evaluator.hpp
  packages/stk/stk_expreval/stk_expreval/Variable.hpp
  packages/stk/stk_expreval/unit_tests/UnitTestEvaluator.cpp
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_mesh/stk_mesh/base/Bucket.cpp
  packages/stk/stk_mesh/stk_mesh/base/Bucket.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkDataInlinedMethods.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldDataManager.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldDataManager.hpp
  packages/stk/stk_mesh/stk_mesh/base/StkFieldSyncDebugger.cpp
  packages/stk/stk_mesh/stk_mesh/base/StkFieldSyncDebugger.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/ForEachEntityLoopAbstractions.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/Partition.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/Partition.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/BucketTester.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBucket.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkDataAura.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkData_Destroy.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkData_new.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestModificationEnd.hpp
  packages/stk/stk_unit_tests/stk_util/parallel/UnitTestCommNeighbors.cpp
  packages/stk/stk_util/Jamfile
  packages/stk/stk_util/stk_util/parallel/CommNeighbors.cpp
  packages/stk/stk_util/stk_util/parallel/CommNeighbors.hpp
  packages/stk/stk_util/stk_util/parallel/MPI.hpp
  packages/stk/stk_util/stk_util/parallel/ParallelComm.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: AT: AUTOMERGE, pkg: STK

#9415 Piro: changes related to the option of explicitly transposing the Jacobian
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_SteadyStateSolver.hpp
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/src/Piro_ThyraProductME_Constraint_SimOpt.hpp
  packages/piro/src/Piro_ThyraProductME_Objective_SimOpt.hpp
Labels: PA: Nonlinear Solvers, client: Albany, pkg: Piro, type: enhancement

#9416 enabled teko testing
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
Labels: AT: AUTOMERGE

#9421 Muelu: Fix structured region unit tests
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9410 Ifpack2: Fix #9400 and add test
  packages/ifpack2/src/Ifpack2_Details_GaussSeidel.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestRelaxation.cpp
Labels: pkg: Ifpack2

#9417 TrilinosCouplings: Fix some issue in Tpetra Maxwell example
  packages/trilinoscouplings/examples/scaling/example_Maxwell_Tpetra.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#8609 Panzer: 8605 Updates to BasisValues2 to allow lazy evaluation
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
Labels: AT: AUTOMERGE, pkg: Panzer

#9423 MueLu: Adding new unit test
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#9431 Tpetra: Removing deprecated code in test
  packages/tpetra/core/test/FECrsMatrix/FECrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#9427 Piro: enable "Explicit Matrix Transpose" option when computing adjoint senstivies
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
Labels: PA: Nonlinear Solvers, client: Albany, pkg: Piro

#9414 Framework: Remove atdm environments
  cmake/std/atdm/ats2/CMakeLists.txt
  cmake/std/atdm/ats2/all_supported_builds.sh
  cmake/std/atdm/ats2/custom_builds.sh
  cmake/std/atdm/ats2/custom_builds_unit_tests.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/van1-tx2/all_supported_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds_unit_tests.sh
  cmake/std/atdm/van1-tx2/environment.sh
Labels: PA: Framework

#9424 Panzer: remove UVM use from IntegrationValues
  packages/panzer/disc-fe/src/Panzer_ConvertNormalToRotationMatrix.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_IntrepidOrientation.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.cpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Sum_impl.hpp
  packages/panzer/disc-fe/test/core_tests/evaluators.cpp
  packages/panzer/disc-fe/test/core_tests/hierarchic_team_policy.cpp
  packages/panzer/disc-fe/test/core_tests/integration_values2.cpp
  packages/panzer/disc-fe/test/core_tests/zero_sensitivities.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Panzer

#9390 Tpetra: add test and fix for #9160
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra, type: bug

#9437 Panzer: implemet a method to add IOSS information records to the output
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tSTK_IO.cpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#9443 PyTrilinos: Get CMAKE_BINARY_DIR directly from CMake
  packages/PyTrilinos/util/copyWithCMakeSubstitutions.py.in
Labels: pkg: PyTrilinos

#9384 Make zoltan2 UVM free
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
  packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.hpp
  packages/muelu/src/Transfers/Petrov-Galerkin-SA/MueLu_PgPFactory_def.hpp
  packages/muelu/test/unit_tests/IntrepidPCoarsenFactory.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers_HO.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybrid2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1-2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD2.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridPD2.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgND.hpp
  packages/zoltan2/core/src/algorithms/zoltan/Zoltan2_AlgZoltanCallbacks.hpp
  packages/zoltan2/core/src/input/Zoltan2_MatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_TpetraRowMatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraCrsMatrixAdapter.hpp
  packages/zoltan2/core/src/models/Zoltan2_CoordinateModel.hpp
  packages/zoltan2/core/src/models/Zoltan2_GraphModel.hpp
  packages/zoltan2/test/core/TpetraCrsColorer/TpetraCrsColorer.cpp
  packages/zoltan2/test/core/color/coloring1.cpp
  packages/zoltan2/test/core/unit/input/TpetraRowMatrixInput.cpp
  packages/zoltan2/test/core/unit/input/XpetraCrsMatrixInput.cpp
Labels: UVM removal, pkg: MueLu, pkg: Zoltan2

#9439 Ifpack2 - separate jacobi setup from tridiag setup
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE

#9458 Xpetra: Fix bug in CheckRepairMainDiagonal
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Xpetra

#9457 removal of tpetra deprecated code
  packages/nox/src-loca/src-tpetra/LOCA_BorderedSolver_TpetraHouseholder.cpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_ConstraintModelEvaluator.cpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_LowRankUpdateRowMatrix.cpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_LowRankUpdateRowMatrix.hpp
  packages/panzer/adapters-stk/example/PoissonInterfaceTpetra/main.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.cpp
  packages/panzer/adapters-stk/test/face_to_elem/Panzer_Relations.cpp
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_OrientationsInterface.cpp
  packages/panzer/disc-fe/src/Panzer_TpetraVector_ReadOnly_GlobalEvaluationData_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/lof/Panzer_BlockedTpetraLinearObjFactory_impl.hpp
  packages/panzer/disc-fe/src/lof/Panzer_TpetraLinearObjFactory_impl.hpp
  packages/panzer/disc-fe/test/la_factory/tBlockedTpetraLinearObjFactory.cpp
  packages/panzer/disc-fe/test/la_factory/tTpetraLinearObjFactory.cpp
  packages/panzer/disc-fe/test/la_factory/tTpetra_GlbEvalData.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: LOCA, pkg: NOX, pkg: Panzer

#9392 Tpetra wrapped dual view microbenchmark
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualView.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewFixture.hpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewMicrobench.cpp
Labels: AT: STALE

#9461 Tempus: change integrator pl validation depth to 1
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
Labels: client: Drekar, pkg: Tempus

#9459 Panzer: Allow for multiple types of mesh rebalancing in ExodusReaderFactory
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.hpp
Labels: pkg: Panzer

#9464 Panzer: fix surface rotation matrices
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#9409 [Intrepid2] Allow using Intrepid2::Kernels::Serial::norm also for rank-1 views
  packages/intrepid2/src/Shared/Intrepid2_Kernels.hpp
Labels: pkg: Intrepid2, type: bug

#9468 EPU: Fix nodal variable output after memory optimization
  packages/seacas/applications/epu/EP_Version.h
  packages/seacas/applications/epu/epu.C
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#9469 ML: Adding debugging output
  packages/ml/src/Utils/ml_MultiLevelPreconditioner.cpp
  packages/ml/src/Utils/ml_ValidateParameters.cpp
Labels: AT: AUTOMERGE

#9474 Panzer: check overlapping sidesets
  packages/panzer/adapters-stk/src/Panzer_STK_CheckSidesetOverlap.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_CheckSidesetOverlap.hpp
  packages/panzer/adapters-stk/test/CMakeLists.txt
  packages/panzer/adapters-stk/test/sideset_overlap/CMakeLists.txt
  packages/panzer/adapters-stk/test/sideset_overlap/sideset_overlap.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#9466 Xpetra: HIP support
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.cpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.cpp
  packages/xpetra/src/Export/Xpetra_EpetraExport.cpp
  packages/xpetra/src/Import/Xpetra_EpetraImport.cpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.cpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.cpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.cpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVector_decl.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.cpp
  packages/xpetra/src/Vector/Xpetra_EpetraVector.cpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE, pkg: Xpetra, type: enhancement

#9299 Tpetra: Fix compiling and running with SYCL and MPI
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/Distributor/Issue1454.cpp
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
Labels: AT: STALE, pkg: Tpetra

#9473 Half-precision Ifpack2 preconditioners
  packages/ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/stratimikos/test/CMakeLists.txt
  packages/stratimikos/test/galeri_driver.cpp
  packages/stratimikos/test/stratimikos_jacobi.xml
  packages/stratimikos/test/stratimikos_jacobi_half.xml
  packages/tpetra/core/cmake/ExplicitInstantiationSupport.cmake
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_ETI_SOUT_SIN_LO_GO_NT.tmpl
  packages/tpetra/core/src/Tpetra_MixedScalarMultiplyOp.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/Operator/CMakeLists.txt
  packages/tpetra/core/test/Operator/MixedScalarMultiplyOp_UnitTests.cpp
  packages/xpetra/src/Operator/Xpetra_TpetraHalfPrecisionOperator.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack2, pkg: Stratimikos, pkg: Tpetra

#9450 8932 tempus convert integrator fsa new
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/rol/example/tempus/ROL_TempusReducedObjective.hpp
  packages/rol/example/tempus/example_01.cpp
  packages/rol/example/tempus/example_parabolic.xml
  packages/rol/example/tempus/example_parabolic_modeleval.cpp
  packages/rol/example/tempus/example_parabolic_modeleval_forward-adjoint.cpp
  packages/rol/example/tempus/example_sincos.xml
  packages/tempus/src/Tempus_IntegratorForwardSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BDF2/Tempus_BDF2_FSA.hpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_FSA.hpp
  packages/tempus/test/DIRK/Tempus_DIRK_FSA.hpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_FSA.hpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RK_FSA.hpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_Partitioned_FSA.hpp
Labels: AT: AUTOMERGE

#9478 Tempus: FSA - update the documentation
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
Labels: AT: AUTOMERGE

#9374 9362 tempus convert integrator pseudo transient forward sensitivity to integrator basic
  packages/rol/example/tempus/ROL_TempusReducedObjective.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_PseudoTransient_SA.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_PseudoTransient_SA.cpp
  packages/tempus/test/DIRK/Tempus_DIRK_PseudoTransient_SA.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_PseudoTransient_SA.cpp
Labels: AT: AUTOMERGE, pkg: Tempus

#9470 TrilinosCouplings tpetra deprecated code removal
  packages/trilinoscouplings/examples/fenl/BelosSolve.hpp
  packages/trilinoscouplings/examples/fenl/fenl_impl.hpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson2DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson3DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidStructuredPoissonExample.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_p2_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE_Tpetra.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: TrilinosCouplings

#9441 Zoltan2 no UVM testing
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
  packages/zoltan2/core/src/input/Zoltan2_BasicKokkosIdentifierAdapter.hpp
  packages/zoltan2/example/block/kokkosBlock.cpp
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
  packages/zoltan2/test/core/TpetraCrsColorer/TpetraCrsColorer.cpp
  packages/zoltan2/test/core/partition/mj_backwardcompat.cpp
  packages/zoltan2/test/core/temp/ddirectoryTest.cpp
Labels: UVM removal, pkg: Zoltan2

#9486 Fix some warnings
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/muelu/doc/Tutorial/src/ScalingTest.cpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/test/simple1D/Emin.cpp
  packages/muelu/test/simple1D/mainMergedSmoo.cpp
  packages/muelu/test/simple1D/simple1D-UncoupledAggregation.cpp
  packages/muelu/test/toggletransfer/main.cpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
  packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp
Labels: AT: AUTOMERGE, pkg: Galeri, pkg: MueLu, pkg: Thyra, pkg: Xpetra

#9479 Panzer: Add tests to cover mesh rebalancing options
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tSTKRebalancing.cpp
Labels: pkg: Panzer

#9482 Trilinos couplings uvm
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell_Tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: MueLu, pkg: TrilinosCouplings

#9429 Tempus: ASA - convert integrator
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/rol/example/tempus/ROL_TempusReducedObjective.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_ASA.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_ASA.cpp
  packages/tempus/test/DIRK/Tempus_DIRK_ASA.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_ASA.cpp
Labels: AT: AUTOMERGE

#9494 Fixed include ordering errors, create_mirror_view now works for panze…
  packages/phalanx/src/Phalanx_KokkosDeviceTypes.hpp
  packages/phalanx/src/Phalanx_Traits.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Phalanx

#9493 IOSS: Use file with earlier CGNS lib version
  packages/seacas/libraries/ioss/src/main/test/sparc_fields.cgns
Labels: AT: AUTOMERGE, PA: Data Services, client: SPARC, pkg: seacas

#9490 Panzer: fix edge vs face typo that could crash in faceGlobalId()
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer, type: bug

#9495 Have space correct for get orientations
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.hpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Panzer

#9503 Xpetra: Fixed bug in return type
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
Labels: pkg: Xpetra

#9491 Panzer: make the edge/face block parameters consistent across mesh factories
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareQuadMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareQuadMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareTriMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareTriMeshFactory.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tCubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tCubeTetMeshFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusEdgeBlock.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusFaceBlock.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusReaderFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tSquareQuadMeshFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tSquareTriMeshFactory.cpp
Labels: PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer, type: bug

#9501 Piro: work on the Hessain based implementation of ROL dot product
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_ThyraProductME_Objective_SimOpt.hpp
  packages/piro/test/_input_Analysis_ROL_Tpetra.xml
Labels: PA: Nonlinear Solvers, client: Albany, pkg: Piro, type: enhancement

#9502 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20210729_000547 branch to master
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/doc/Tutorial/src/ScalingTest.cpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/test/simple1D/Emin.cpp
  packages/muelu/test/simple1D/mainMergedSmoo.cpp
  packages/muelu/test/simple1D/simple1D-UncoupledAggregation.cpp
  packages/muelu/test/toggletransfer/main.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tSTKRebalancing.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.hpp
  packages/phalanx/src/Phalanx_KokkosDeviceTypes.hpp
  packages/phalanx/src/Phalanx_Traits.hpp
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/rol/example/tempus/ROL_TempusReducedObjective.hpp
  packages/seacas/libraries/aprepro_lib/apr_aprepro.cc
  packages/seacas/libraries/ioss/src/main/test/sparc_fields.cgns
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2_ASA.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEuler_ASA.cpp
  packages/tempus/test/DIRK/Tempus_DIRK_ASA.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRK_ASA.cpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell_Tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
  packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp
Labels: AT: RETEST
