Repository trilinos/Trilinos, pull requests merged in 2021-03, with the labels that each got.

#8775 sems-rhel7 env: Add clang-10.0.0
  cmake/std/atdm/sems-rhel7/all_supported_builds.sh
  cmake/std/atdm/sems-rhel7/environment.sh
  cmake/std/atdm/utils/set_build_options.sh
Labels: AT: AUTOMERGE, ATDM Config, client: EMPIRE

#8805 MueLu: Minor fix to AggregateQualityFactory
  packages/muelu/src/Misc/MueLu_AggregateQualityEstimateFactory_def.hpp
Labels: AT: AUTOMERGE

#8786 Fix to NOX/LOCA
  packages/nox/src-loca/src-tpetra/LOCA_BorderedSolver_TpetraHouseholder.cpp
Labels: AT: AUTOMERGE, pkg: LOCA, pkg: NOX

#8793 Framework: Update STALE issue closer
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8815 tpetra: removed Doxygen comments with incorrect advice on including _decl files
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_decl.hpp
  packages/tpetra/core/src/Tpetra_Vector_def.hpp
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_decl.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8792 MueLu: Fix missing parameters in ML2MueLuParameterTranslator
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: pkg: MueLu

#8806 Piro: solve a bug when more than 1 response is used
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
Labels: AT: AUTOMERGE, pkg: Piro, type: bug

#8812 STK: Snapshot 02-24-21 10:53
  packages/stk/stk_integration_tests/mock_apps/SparcMesh.hpp
  packages/stk/stk_integration_tests/mock_apps/StkMesh.hpp
  packages/stk/stk_integration_tests/mock_apps/StkSendAdapter.hpp
  packages/stk/stk_integration_tests/mock_apps/mock_aria.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_fuego.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_salinas.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_sparc.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestSyncInfo.cpp
Labels: AT: AUTOMERGE, pkg: STK

#8823 Teuchos core: Reorder noreturn and DLL export
  packages/teuchos/core/src/Teuchos_TestForException.hpp
Labels: AT: AUTOMERGE

#8822 Fix for ghost orientations.
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.hpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/CMakeLists.txt
  packages/panzer/adapters-stk/test/panzer_workset_builder/parallel_apply_orientations.cpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.hpp
  packages/panzer/disc-fe/src/Panzer_OrientationsInterface.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: ATDM, client: EMPIRE, pkg: Panzer

#8819 Intrepid2: modifications for CUDA 10.1.243 opt build
  packages/intrepid2/src/Cell/Intrepid2_CellGeometry.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_ProjectedGeometry.hpp
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/CellGeometryTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/ProjectedGeometryTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests.cpp
  packages/intrepid2/unit-test/performance/StructuredIntegration/StructuredIntegrationPerformance.cpp
Labels: AT: AUTOMERGE

#8810 Tempus: Move Stepper Helper Functions to Implementation
  packages/tempus/src/Tempus_Stepper.cpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/src/Tempus_Stepper_impl.hpp
Labels: pkg: Tempus, type: enhancement

#8824 Intrepid2 - uvm removal on orientation tools
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEM_ORTH.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HCURL.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HDIV.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HGRAD.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefMatrixData.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyBasis.hpp
  packages/intrepid2/unit-test/Orientation/Cuda/test_orientationtools_modify_basis_hcurl.cpp
  packages/intrepid2/unit-test/Orientation/Cuda/test_orientationtools_modify_basis_hdiv.cpp
  packages/intrepid2/unit-test/Orientation/Cuda/test_orientationtools_modify_basis_hgrad.cpp
  packages/intrepid2/unit-test/Orientation/Cuda/test_orientationtools_modify_basis_lower_order.cpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_hex_hcurl.hpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_hex_hgrad.hpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_quad_hcurl.hpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_quad_hcurl_i1.hpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_quad_hgrad.hpp
  packages/intrepid2/unit-test/Orientation/test_orientationtools_modify_basis_tri_hgrad.hpp
Labels: AT: AUTOMERGE

#8829 SEACAS: Disable tests that are failing on vortex
  cmake/std/PullRequestLinuxCuda10.1.243TestingSettings.cmake
Labels: AT: AUTOMERGE, ATDM Env Issue, PA: Data Services, pkg: seacas

#8833 Update Compadre to v1.3.3
  packages/compadre/CMakeLists.txt
  packages/compadre/README.md
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/cmake/Dependencies.cmake
  packages/compadre/examples/CMakeLists.tribits.cmake
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/examples/CommandLineProcessor.hpp
  packages/compadre/examples/Compadre_UnitTests.cpp
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_DivergenceFree.cpp
  packages/compadre/examples/GMLS_Host.cpp
  packages/compadre/examples/GMLS_Manifold.cpp
  packages/compadre/examples/GMLS_Manifold.py.in
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.py.in
  packages/compadre/examples/GMLS_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_NeumannGradScalar.cpp
  packages/compadre/examples/GMLS_SmallBatchReuse_Device.cpp
  packages/compadre/examples/GMLS_Staggered.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.py.in
  packages/compadre/examples/GMLS_Vector.cpp
  packages/compadre/examples/UnitTest_ThreadedLapack.cpp
  packages/compadre/examples/unittests/test_LinearAlgebra.hpp
  packages/compadre/examples/unittests/test_NeighborLists.hpp
  packages/compadre/examples/unittests/test_PointCloudSearch.hpp
  packages/compadre/examples/unittests/test_XYZ.hpp
  packages/compadre/src/CMakeLists.txt
  packages/compadre/src/Compadre_Evaluator.hpp
  packages/compadre/src/Compadre_Functors.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_GMLS_ApplyTargetEvaluations.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_KokkosParser.hpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_LinearAlgebra_Declarations.hpp
  packages/compadre/src/Compadre_LinearAlgebra_Definitions.hpp
  packages/compadre/src/Compadre_Manifold_Functions.hpp
  packages/compadre/src/Compadre_Misc.hpp
  packages/compadre/src/Compadre_NeighborLists.hpp
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_ParallelManager.hpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_Decl_Compadre.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_TeamVector_Impl_Compadre.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_TeamVector_Internal_Compadre.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Compadre

#8831 MueLu: Adding Aggregates Output
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_misc.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8740 Disable Kokkos unit test Random_XorShift64 and Random_XorShift1024
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config

#8839 Correct setenv left in bash scripts
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/sems/PullRequestIntel19.0.5TestingEnv.sh
Labels: AT: AUTOMERGE

#8828 MueLu: Adding more Phase2a controls
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/interface/default/Output/MLcoarse1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse3b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse4b_epetra.gold
  packages/muelu/test/interface/default/Output/MLemptyb_epetra.gold
  packages/muelu/test/interface/default/Output/MLpgamg1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLpgamg2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother3b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother4b_epetra.gold
  packages/muelu/test/interface/default/Output/MLunsmoothed1b_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#8840 Phalanx: utilities for virtual functions on device
  packages/phalanx/src/Phalanx_VirtualFunctionOnDevice.hpp
  packages/phalanx/test/Kokkos/CMakeLists.txt
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/Kokkos/tKokkosVirtualFunctionOnDevice.cpp
Labels: PA: Discretizations, pkg: Phalanx

#8841 Fix an error introduced in PR 8829
  cmake/std/PullRequestLinuxCuda10.1.243TestingSettings.cmake
Labels: AT: AUTOMERGE

#8817 Zoltan : minor changes to make compliant with non-c99 compilers
  packages/zoltan/src/params/free_params.c
  packages/zoltan/test/misc_tests/copyZZ.c
Labels: AT: AUTOMERGE, AT: STALE, pkg: Zoltan

#8854 drivers/atdm: Fix proxy environment
  cmake/ctest/drivers/atdm/utils/setup_env.sh
Labels: AT: AUTOMERGE

#8827 MueLu ML2MueLuParameterTranslator: Correctly translate verbosity
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/interface/default/Output/MLcoarse1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse3b_epetra.gold
  packages/muelu/test/interface/default/Output/MLcoarse4b_epetra.gold
  packages/muelu/test/interface/default/Output/MLemptyb_epetra.gold
  packages/muelu/test/interface/default/Output/MLpgamg1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLpgamg2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother1b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother2b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother3b_epetra.gold
  packages/muelu/test/interface/default/Output/MLsmoother4b_epetra.gold
  packages/muelu/test/interface/default/Output/MLunsmoothed1b_epetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#8789 Added viable overload '=' for Zoltan2_AlgMultiJagged
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#8842 Only add -lcurl if NetCDF has DAP enabled.
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
Labels: client: EMPIRE

#8853 Rythmos: null test failing
  packages/rythmos/test/UnitTest/Rythmos_StepperBuilder_UnitTest.cpp
Labels: pkg: Rythmos

#8862 Correct gcc module loaded for tlcc2 builds
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
Labels: AT: AUTOMERGE

#8860 MueLu: Add phase2a agg factor to param list for hybrid aggregation
  packages/muelu/src/Graph/HybridAggregation/MueLu_HybridAggregationFactory_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8804 Tpetra: replace serial search with unordered_map for inserting into dense rows #8794
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/test/CrsMatrix/Bug8794.cpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/Utils/insertCrsIndicesThreshold.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8795 This will resolve #8756 by changing CXX_FLAGS
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE

#8849 Piro: use observers while using ROL in PerformAnalysis and add an option to PerformSolve
  packages/piro/src/CMakeLists.txt
  packages/piro/src/Piro_Epetra_NOXSolver.cpp
  packages/piro/src/Piro_LOCAAdaptiveSolver_Def.hpp
  packages/piro/src/Piro_LOCASolver_Def.hpp
  packages/piro/src/Piro_NOXSolver_Def.hpp
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_PerformAnalysis.hpp
  packages/piro/src/Piro_ROL_ObserverBase.hpp
  packages/piro/src/Piro_SteadyStateSolver.hpp
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/src/Piro_ThyraProductME_Constraint_SimOpt.hpp
  packages/piro/src/Piro_ThyraProductME_Objective_SimOpt.hpp
  packages/piro/test/Main_AnalysisDriver.cpp
  packages/piro/test/Main_AnalysisDriver_Tpetra.cpp
Labels: AT: AUTOMERGE, pkg: Piro

#8832 Tempus: Remove ParameterList from SolutionHistory
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_SolutionHistory_decl.hpp
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/src/Tempus_SolutionState_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref2.xml
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_UnitTest_SolutionHistory.cpp
Labels: pkg: Tempus, type: enhancement

#8859 KokkosKernels: std::
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance1ColorHandle.hpp
  packages/kokkos-kernels/src/graph/KokkosGraph_Distance2ColorHandle.hpp
Labels: pkg: KokkosKernels

#8867 Update instructions/examples for building against installed Trilinos and update related doc files (#8498)
  INSTALL.rst
  README.md
  demos/buildAgainstTrilinos/CMakeLists.txt
  demos/buildAgainstTrilinos/README
  demos/buildAgainstTrilinos/build/.gitignore
  demos/buildAgainstTrilinos/build/do-cmake
  demos/buildAgainstTrilinos/src/CMakeLists.txt
  demos/buildAgainstTrilinos/src/main_file.cpp
  demos/buildAgainstTrilinos/src/src_file.cpp
  demos/buildAgainstTrilinos/src/src_file.hpp
  demos/buildAgainstTrilinos/test/CMakeLists.txt
  demos/buildAgainstTrilinos/test/ex1/CMakeLists.txt
  demos/buildAgainstTrilinos/test/ex1/input.xml
  demos/buildAgainstTrilinos/test/ex2/CMakeLists.txt
  demos/simpleBuildAgainstTrilinos/CMakeLists.txt
  demos/simpleBuildAgainstTrilinos/README.md
  demos/simpleBuildAgainstTrilinos/app.cpp
  demos/simpleBuildAgainstTrilinos/input.xml
Labels: PA: Framework, TriBITS, impacting: documentation, type: bug, type: enhancement

#8868 MiniEM: Enable reuse, test it
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellEpetra.xml
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.hpp
Labels: client: EMPIRE, pkg: Panzer

#8744 Adelus: Set up performance test
  packages/adelus/CMakeLists.txt
  packages/adelus/cmake/Adelus_config.h.in
  packages/adelus/cmake/Dependencies.cmake
  packages/adelus/src/Adelus_block.h
  packages/adelus/src/Adelus_xlu_solve.hpp
  packages/adelus/test/CMakeLists.txt
  packages/adelus/test/perf_test/CMakeLists.txt
  packages/adelus/test/perf_test/cxx_main.cpp
Labels: AT: AUTOMERGE, PA: Framework, client: Gemma, type: enhancement

#8875 Geminga: Another attempt to get valgrind suppressions working
  cmake/ctest/drivers/geminga/valgrind_suppressions.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#8871 Ctest: Adding tests for ascicgpu031
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/cron_driver.sh
  cmake/ctest/drivers/ascicgpu031/crontab.txt
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_nouvm_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/sendTestSummary.sh
  cmake/ctest/drivers/ascicgpu031/setSshEnv.py
Labels: AT: AUTOMERGE

#8814 Dirk dahlquist
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/test/TestModels/DahlquistTestModel_decl.hpp
  packages/tempus/test/TestModels/DahlquistTestModel_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_EDIRK_TrapezoidalRule.cpp
  packages/tempus/unit_test/Tempus_UnitTest_SDIRK_21Pair.cpp
Labels: AT: AUTOMERGE

#8807 Tempus: set App nonlinear solver PL if available
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_DIRK_VanDerPol.xml
  packages/tempus/unit_test/Tempus_UnitTest_DIRK_BackwardEuler.cpp
Labels: AT: AUTOMERGE, client: Drekar, pkg: Tempus

#8882 Enable Zoltan ULLONG_IDS for all ATDM apps
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM Sev: Nonblocker, client: EMPIRE

#8885 Piro: use nominal parameter values by default in NOXSolver
  packages/piro/src/Piro_NOXSolver_Def.hpp
Labels: AT: AUTOMERGE, pkg: Piro

#8891 Geminga: next attempt to get valgrind to work
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
  cmake/ctest/drivers/geminga/valgrind_suppressions.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#8892 Ctest: More updates for ascicgpu031 driver
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/sendTestSummary.sh
Labels: AT: AUTOMERGE, AT: RETEST

#8876 Pull in TriBITS that requires CMake 3.17 and other TriBITS changes (#8401)
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/TriBITS.cmake
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/CreateIssueTrackerFromCDashQuery.py
  cmake/tribits/ci_support/cdash_analyze_and_report.py
  cmake/tribits/core/installation/add_install_group_and_perms_fixups/CMakeLists.txt
  cmake/tribits/core/installation/add_project_install_commands/CMakeLists.txt
  cmake/tribits/core/installation/cmake_pbp_install.cmake.in
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsCMakePolicies.cmake
  cmake/tribits/core/package_arch/TribitsConstants.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsPackageMacros.cmake
  cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/build_ref/create-project-build-ref.py
  cmake/tribits/doc/developers_guide/TribitsDevelopersGuide.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_ConvertAProject.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_HelloWorld.rst
  cmake/tribits/examples/RawAndTribitsHelloWorld/CMakeLists.txt
  cmake/tribits/examples/RawHelloWorld/hello_world/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleMetaProject/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProjectAddons/CMakeLists.txt
  cmake/tribits/examples/TribitsHelloWorld/CMakeLists.txt
  cmake/tribits/examples/tpls/SimpleTpl/CMakeLists.txt
  cmake/tribits/python_utils/Python2and3.py
Labels: AT: AUTOMERGE, PA: Framework, TriBITS, type: enhancement

#8894 STK: Snapshot 03-17-21 07:17
  packages/stk/stk_balance/stk_balance/balanceUtils.hpp
  packages/stk/stk_balance/stk_balance/internal/StkBalanceUtils.cpp
  packages/stk/stk_balance/stk_balance/internal/Zoltan2ParallelGraph.cpp
  packages/stk/stk_balance/stk_balance/m2n_main/m2nMain.cpp
  packages/stk/stk_coupling/stk_coupling/OldCommSplitting.cpp
  packages/stk/stk_coupling/stk_coupling/OldCommSplitting.hpp
  packages/stk/stk_coupling/stk_coupling/OldSyncInfo.cpp
  packages/stk/stk_coupling/stk_coupling/SplitComms.cpp
  packages/stk/stk_coupling/stk_coupling/SplitComms.hpp
  packages/stk/stk_coupling/stk_coupling/SyncInfo.cpp
  packages/stk/stk_coupling/stk_coupling/SyncInfo.hpp
  packages/stk/stk_coupling/stk_coupling/impl_NamedValues.hpp
  packages/stk/stk_integration_tests/mock_apps/MockUtils.hpp
  packages/stk/stk_integration_tests/mock_apps/mock_aria.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_fuego.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_salinas.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_sparc.cpp
  packages/stk/stk_integration_tests/stk_balance/IntegrationTestIncrementalRebalance.cpp
  packages/stk/stk_integration_tests/stk_balance/IntegrationTestLoadBalance.cpp
  packages/stk/stk_io/example/io_mesh_read_write_example.cpp
  packages/stk/stk_tools/stk_tools/scripts/test_coupling_today_to_yesterday.sh
  packages/stk/stk_unit_tests/stk_balance/UnitTestBoundingBoxSearch.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestBoundingBoxSearch2D.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestCrossProcessorEdge.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestNamedValues.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestOldCommSplitting.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestOldSyncInfo.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestSplitComm.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestSyncInfo.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestVersion.cpp
Labels: AT: AUTOMERGE, pkg: STK

#8858 ats2: Disable IBM optimized collectives for complex builds (#8474)
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/ats2/trilinos_jsrun
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, impacting: tests, type: bug

#8506 MueLu: only loop interface rows in MakeQuasiRegionMatrices
  packages/muelu/research/regionMG/src/SetupRegionMatrix_def.hpp
  packages/muelu/research/regionMG/src/SetupRegionUtilities.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
  packages/muelu/research/regionMG/test/structured/compare_residual_history.py
  packages/muelu/test/unit_tests/RegionMatrix.cpp
  packages/muelu/test/unit_tests/RegionRFactory.cpp
Labels: AT: STALE, AT: WIP, pkg: MueLu, type: enhancement

#8898 Ctest: More ascicgpu031 updates
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
  cmake/ctest/drivers/ascicgpu031/sendTestSummary.sh
Labels: AT: AUTOMERGE

#8901 Ctest: More ascicgpu fixes
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_deprecated_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_nodeprecated_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
Labels: AT: AUTOMERGE

#8902 Ctest: More updates to ascic
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
  cmake/std/PullRequestLinuxCuda10.1.105uvmTestingSettings.cmake
Labels: AT: AUTOMERGE

#8907 Adding unique identifier to partitioned worksets
  packages/panzer/disc-fe/src/Panzer_SetupPartitionedWorksetUtilities.cpp
Labels: AT: AUTOMERGE, pkg: Panzer

#8909 Framework: Update the auto-closer github action script to v3.0.18
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8911 MiniEM: add test-name param to BlockPrec
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/main.cpp
Labels: AT: AUTOMERGE, pkg: Panzer, type: bug

#8910 Panzer cuda stream support
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.hpp
  packages/panzer/disc-fe/test/core_tests/CMakeLists.txt
  packages/panzer/disc-fe/test/core_tests/hierarchic_team_policy.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#8915 Turn off tests for UVM build blocking dev->master
  cmake/std/PullRequestLinuxCuda10.1.105uvmTestingSettings.cmake
Labels: AT: AUTOMERGE

#8922 Geminga: Stop testing Valgrind+MPI
  cmake/ctest/drivers/geminga/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: MueLu

#8912 MueLu RefMaxwell work
  packages/epetraext/src/CMakeLists.txt
  packages/ifpack/src/Ifpack.cpp
  packages/ifpack/src/Ifpack_ValidParameters.cpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Factory.cpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell.xml
  packages/muelu/test/maxwell/Maxwell2.xml
  packages/muelu/test/maxwell/Maxwell3.xml
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/maxwell/Stratimikos.xml
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVectorFactory.cpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVectorFactory_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVectorFactory_def.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_decl.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Ifpack, pkg: Ifpack2, pkg: MueLu, pkg: Xpetra

#8935 Sacado: Reorder SFad<> val and dx fields for stria
  packages/sacado/src/new_design/Sacado_Fad_Exp_StaticFixedStorage.hpp
Labels: AT: AUTOMERGE, client: ATDM, pkg: Sacado

#8884 Frosch: use paralllel-for in compute phase
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
Labels: AT: AUTOMERGE

#8937 MueLu: Adding a weighted distance Laplacian capability
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/unit_tests/CoalesceDropFactory.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/Smoothers/Ifpack2Smoother.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8942 tpetra: adding auto-testing for CrsRefactor branch
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_nouvm_crs_ascicgpu031.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8924 Belos: Update Gmres polynomial so degrees match in all versions
  packages/belos/src/BelosGmresPolyOp.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
Labels: pkg: Belos

#8943 Belos Stratimikos adapter: Add options for writing LHS/RHS to disk
  packages/muelu/example/basic/CMakeLists.txt
  packages/muelu/example/basic/Stratimikos.cpp
  packages/muelu/example/basic/set3-mg-sgs-reuse.xml
  packages/stratimikos/adapters/belos/src/CMakeLists.txt
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_decl.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_def.hpp
Labels: AT: AUTOMERGE, pkg: Belos
