Repository trilinos/Trilinos, pull requests merged in 2021-08, with the labels that each got.

#9505 cmake/TPLS: Update libs for linking KokkosKernels_sparse_sptrsv
  cmake/TPLs/FindTPLCholmod.cmake
Labels: AT: AUTOMERGE, pkg: KokkosKernels

#9509 panzer: Face to elem
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_GatherRefCoords_impl.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/face_to_elem/Panzer_Relations.cpp
  packages/panzer/adapters-stk/test/local_mesh/parallel_local_mesh_utilities.cpp
  packages/panzer/adapters-stk/test/local_mesh/parallel_periodic_local_mesh_utilities.cpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder_impl.hpp
  packages/panzer/disc-fe/test/evaluator_tests/gather_coordinates.cpp
  packages/panzer/disc-fe/test/local_mesh/Panzer_UnitTest_LocalMeshUtilities.hpp
Labels: UVM removal, pkg: Panzer

#9510 Update MueLu's GetMatrixDiagonal function (Kokkos version), to return RCP<Vector>
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: pkg: MueLu

#9476 Fixes for building piro and rythmos
  packages/piro/test/Piro_TempusSolver_SensitivitySinCosUnitTests.cpp
  packages/rythmos/src/Rythmos_BackwardEulerStepper_def.hpp
  packages/rythmos/src/Rythmos_ThetaStepper_def.hpp
Labels: AT: AUTOMERGE, Framework tasks

#9520 MueLu changes
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_decl.hpp
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell_Tpetra.cpp
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
Labels: pkg: MueLu, pkg: Xpetra

#9499 SEACAS: Test fixes and clang-format
  packages/seacas/Jamfile
  packages/seacas/applications/aprepro/CMakeLists.txt
  packages/seacas/applications/epu/epu.C
  packages/seacas/applications/nas2exo/N2EDataTypes.h
  packages/seacas/applications/nas2exo/N2EExoWriter.C
  packages/seacas/applications/nem_slice/elb_loadbal.C
  packages/seacas/applications/zellij/Cell.h
  packages/seacas/applications/zellij/Decompose.C
  packages/seacas/applications/zellij/UnitCell.h
  packages/seacas/applications/zellij/ZE_SystemInterface.C
  packages/seacas/libraries/aprepro_lib/apr_aprepro.cc
  packages/seacas/libraries/aprepro_lib/apr_array.cc
  packages/seacas/libraries/exodus/src/ex_open.c
  packages/seacas/libraries/exodus/src/ex_utils.c
  packages/seacas/libraries/exodus/test/test-add-assembly.c
  packages/seacas/libraries/exodus/test/testrd-blob.c
  packages/seacas/libraries/ioss/src/Ioss_Compare.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.h
  packages/seacas/libraries/ioss/src/Ioss_VariableType.C
  packages/seacas/libraries/ioss/src/Ioss_VariableType.h
  packages/seacas/libraries/ioss/src/adios/Ioad_Initializer.C
  packages/seacas/libraries/ioss/src/bhopscotch_map.h
  packages/seacas/libraries/ioss/src/bhopscotch_set.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/ioss/src/heartbeat/Iohb_Layout.C
  packages/seacas/libraries/ioss/src/hopscotch_growth_policy.h
  packages/seacas/libraries/ioss/src/hopscotch_hash.h
  packages/seacas/libraries/ioss/src/hopscotch_map.h
  packages/seacas/libraries/ioss/src/hopscotch_set.h
  packages/seacas/libraries/ioss/src/init/Ionit_Initializer.C
  packages/seacas/libraries/ioss/src/main/CMakeLists.txt
  packages/seacas/libraries/ioss/src/main/cgns_decomp.C
  packages/seacas/libraries/ioss/src/main/io_modify.C
  packages/seacas/libraries/ioss/src/main/struc_to_unstruc.C
  packages/seacas/libraries/ioss/src/main/test/8-block.cgns.gold
  packages/seacas/libraries/ioss/src/main/test/exodus_to_unstructured_cgns.gold
  packages/seacas/libraries/ioss/src/main/test/generated.cgns.gold
  packages/seacas/libraries/ioss/src/main/test/generated_to_unstructured_cgns.gold
  packages/seacas/libraries/ioss/src/main/test/pamgen.cgns.gold
  packages/seacas/libraries/ioss/src/main/test/pamgen_to_unstructured_cgns.gold
  packages/seacas/libraries/ioss/src/pamgen/Iopg_DatabaseIO.C
  packages/seacas/libraries/ioss/src/pdqsort.h
  packages/seacas/libraries/ioss/src/robin_growth_policy.h
  packages/seacas/libraries/ioss/src/robin_hash.h
  packages/seacas/libraries/ioss/src/robin_map.h
  packages/seacas/libraries/ioss/src/robin_set.h
  packages/seacas/libraries/ioss/src/utest/CMakeLists.txt
  packages/seacas/libraries/ioss/src/utest/Utst_blob_write_read.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp_herron.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp_rocket.C
  packages/seacas/libraries/suplib_cpp/GetLongOpt.C
  packages/seacas/libraries/suplib_cpp/pdqsort.h
  packages/seacas/scripts/exodus3.in.py
Labels: pkg: seacas, impacting: tests, AT: AUTOMERGE, PA: Data Services

#9530 MueLu: Adding complete hierarchy Factory graph dump capability
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_decl.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9529 Panzer: remove UVM use in BasisValues object
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/test/core_tests/basis_values2.cpp
  packages/phalanx/src/Phalanx_Field.hpp
  packages/phalanx/src/Phalanx_Field_Def.hpp
  packages/phalanx/src/Phalanx_MDField.hpp
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Field/MDField_Compiletime.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
Labels: pkg: Panzer, PA: Discretizations

#9540 panzer: Fixed local mesh computation for UVM
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/test/local_mesh/setup_sublocal_mesh_info.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9526 MueLu/Ifpack2/Tpetra: Adding Reitzinger / Hiptmair support / Fixing SpGEMM bug
  cmake/std/PullRequestLinuxCuda10.1.105uvmOffTestingSettings.cmake
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Hiptmair_decl.hpp
  packages/ifpack2/src/Ifpack2_Hiptmair_def.hpp
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/adapters/xpetra/MueLu_Maxwell1_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_Maxwell1_def.hpp
  packages/muelu/adapters/xpetra/MueLu_Maxwell_Utils_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_Maxwell_Utils_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_Level.cpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_ReitzingerPFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_ReitzingerPFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_Maxwell1_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_ReitzingerPFactory_fwd.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/maxwell/Maxwell_Reitzinger.xml
  packages/muelu/test/maxwell/ReitzingerPFactory.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/ReitzingerPFactory.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: MueLu

#9541 STK: Snapshot 08-09-21 12:15
  packages/stk/stk_balance/stk_balance/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_io/parameterTestUtils.hpp
  packages/stk/stk_doc_tests/stk_util/parameters.cpp
  packages/stk/stk_io/cmake/Dependencies.cmake
  packages/stk/stk_io/stk_io/Heartbeat.cpp
  packages/stk/stk_io/stk_io/Heartbeat.hpp
  packages/stk/stk_io/stk_io/IOHelpers.cpp
  packages/stk/stk_io/stk_io/IOHelpers.hpp
  packages/stk/stk_io/stk_io/IossBridge.hpp
  packages/stk/stk_io/stk_io/OutputFile.cpp
  packages/stk/stk_io/stk_io/OutputFile.hpp
  packages/stk/stk_io/stk_io/StkIoUtils.cpp
  packages/stk/stk_io/stk_io/StkIoUtils.hpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.cpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.hpp
  packages/stk/stk_util/cmake/Dependencies.cmake
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
  packages/stk/stk_util/stk_util/util/ParameterList.cpp
  packages/stk/stk_util/stk_util/util/ParameterList.hpp
Labels: pkg: STK, AT: AUTOMERGE

#9545 Panzer: remove uvm from point values
  packages/panzer/disc-fe/src/Panzer_PointValues2.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2_impl.hpp
  packages/panzer/disc-fe/test/core_tests/point_values2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#9549 This just changes the python job name to match the jenkins job
  packages/framework/pr_tools/pullrequest-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/pullrequest-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE

#9539 Belos: Fix Output Style Crash, Issue #9522
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosStatusTestOutputFactory.hpp
Labels: pkg: Belos, AT: AUTOMERGE

#9488 Zoltan2: small modifications for HIP
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorerUtils.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1-2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD1.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridD2.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridPD2.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_TaskMapping.hpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraMultiVectorAdapter.hpp
  packages/zoltan2/test/core/partition/CMakeLists.txt
  packages/zoltan2/test/core/partition/MultiJaggedTest.cpp
Labels: type: enhancement, pkg: Zoltan2, AT: AUTOMERGE

#9536 Merge level graphs
  packages/muelu/utils/MergeLevelGraphs/README.md
  packages/muelu/utils/MergeLevelGraphs/mergeLevelGraphs.py
Labels: pkg: MueLu

#9550 Remove UVM from PanzerAdaptersSTK (partially)
  packages/panzer/adapters-stk/src/Panzer_STK_SetupLOWSFactory.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_Utilities.cpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgVector_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellQuantity_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterFields_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterVectorFields_impl.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CustomMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CustomMeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusEdgeBlock.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusFaceBlock.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tSTK_IO.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder_impl.hpp
  packages/phalanx/src/CMakeLists.txt
Labels: pkg: Panzer, UVM removal

#9554 MueLu: update details of bibliographic reference
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_decl.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9553 panzer: Fixed poinrfield test for UVM
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointField_impl.hpp
  packages/panzer/disc-fe/test/evaluator_tests/dof_pointfield.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9557 MueLu: fix misleading indentation in unit test
  packages/muelu/test/unit_tests/MapTransferFactory.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9551 MueLu: Xpetra: improve matrix filtering
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrixFactory.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
  packages/xpetra/src/Export/Xpetra_TpetraExport_decl.hpp
  packages/xpetra/src/Import/Xpetra_TpetraImport_decl.hpp
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE, client: ExaWind

#9546 panzer: fixed gather coords test for UVM removal
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherBasisCoordinates_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherIntegrationCoordinates_impl.hpp
  packages/panzer/disc-fe/test/evaluator_tests/gather_coordinates.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9556 Panzer: fix view of views for integrator scalar
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_Scalar_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_Scalar_impl.hpp
  packages/panzer/disc-fe/test/evaluator_tests/integrator_scalar.cpp
  packages/phalanx/src/Phalanx_KokkosDeviceTypes.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#9560 Panzer: remove unused code
  packages/panzer/adapters-stk/test/gather_scatter_evaluators/gs_evaluators.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, client: Sierra, PA: Discretizations

#9565 Intrepid2: fix 9531
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
Labels: AT: AUTOMERGE

#9463 Tpetra: Split Distributor into Plan/Actor
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/Distributor/CMakeLists.txt
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#9559 Phalanx: add example of View of Views for no-UVM
  packages/phalanx/test/Kokkos/CMakeLists.txt
  packages/phalanx/test/Kokkos/tKokkosViewOfViews.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations

#9561 Phalanx: add some utilities for view of views
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/CMakeLists.txt
  packages/phalanx/test/ViewOfViews/CMakeLists.txt
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations

#9569 phalanx: Mdfield cast
  packages/phalanx/src/Phalanx_MDField.hpp
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Field/MDField_Compiletime.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
Labels: pkg: Phalanx

#9573 panzer: Fixed PanzerAdaptersSTK_tPointBasisValuesEvaluator.exe from UVM errors
  packages/panzer/adapters-stk/test/evaluator_tests/RandomFieldEvaluator.hpp
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_PointValues_Evaluator_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9574 panzer: Face to elem
  packages/panzer/adapters-stk/test/face_to_elem/Panzer_Relations.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9571 Panzer: Fixed basis_times_vector for UVM
  packages/panzer/adapters-stk/test/evaluator_tests/basis_times_vector.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9548 9547 panzer default lazy basis values from workset
  packages/panzer/adapters-stk/test/panzer_workset_builder/apply_orientations.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/hdiv_basis.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/parallel_apply_orientations.cpp
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.cpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFCurl_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFDiv_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFGradient_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_CurlBasisDotVector_impl.hpp
Labels: AT: AUTOMERGE

#9570 Fix Panzer's workset_builder tests with UVM disabled (1/2)
  packages/panzer/adapters-stk/test/panzer_workset_builder/d_workset_builder.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/d_workset_builder_3d.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9577 panzer: Gather scatter1
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_impl.hpp
  packages/panzer/adapters-stk/test/gather_scatter_evaluators/scatter_field_evaluator.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9480 Tempus: Stepper_ErrorNorm - initial add
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_Stepper_ErrorNorm.cpp
  packages/tempus/src/Tempus_Stepper_ErrorNorm_decl.hpp
  packages/tempus/src/Tempus_Stepper_ErrorNorm_impl.hpp
Labels: AT: AUTOMERGE, client: Drekar

#9575 Teuchos/Tpetra: Fix for #9572
  packages/teuchos/core/src/Teuchos_as.hpp
  packages/teuchos/core/test/TypeConversions/TypeConversions_UnitTest.cpp
  packages/tpetra/core/src/Tpetra_MixedScalarMultiplyOp.hpp
Labels: pkg: Tpetra, pkg: Teuchos, AT: AUTOMERGE

#9586 MueLu: Don't require Epetra for ML defaults
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_def.hpp
Labels: pkg: MueLu

#9585 SEACAS: Aprepro - do not diff stderr in tests
  packages/seacas/applications/aprepro/CMakeLists.txt
  packages/seacas/applications/aprepro/test.stderr.gold
  packages/seacas/libraries/aprepro_lib/CMakeLists.txt
  packages/seacas/libraries/aprepro_lib/test.stderr.gold
Labels: pkg: seacas, impacting: tests, AT: AUTOMERGE, PA: Data Services

#9589 Tpetra: BlockCrsMatrix -> CrsMatrix Converer
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#9580 Muelu hip
  packages/muelu/CMakeLists.txt
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/example/ParameterList/MLParameterList.cpp
  packages/muelu/research/tawiesn/aria/Driver.cpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_def.hpp
  packages/muelu/src/Graph/MueLu_AggregationAlgorithmBase_kokkos.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_AggregationStructuredAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_kokkos_decl.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_kokkos_def.hpp
  packages/muelu/src/Graph/StructuredAggregation/MueLu_StructuredAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase1Algorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase1Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_IsolatedNodeAggregationAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_IsolatedNodeAggregationAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_OnePtAggregationAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_OnePtAggregationAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_PreserveDirichletAggregationAlgorithm_kokkos_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_PreserveDirichletAggregationAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_kokkos_decl.hpp
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/perf_tests_kokkos/KokkosKernels.cpp
  packages/muelu/test/permutation/Permutation.cpp
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/IndexManager_kokkos.cpp
  packages/muelu/test/vardofpernode/VarDofDriver.cpp
  packages/muelu/test/viz/Viz.cpp
Labels: type: enhancement, pkg: MueLu, AT: AUTOMERGE

#9582 Thyra-Ifpack2 Mixed Precision: Deal with complex
  packages/ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp
Labels: pkg: Ifpack2, pkg: Thyra, AT: AUTOMERGE

#9594 MueLu: Bug out when mode!=NO_TRANS
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_def.hpp
  packages/muelu/adapters/xpetra/MueLu_XpetraOperator_decl.hpp
Labels: pkg: MueLu

#9588 Intrepid2: rename variable to fix shadow warning
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHCURL.hpp
Labels: pkg: Intrepid2, client: Sierra

#9592 Fix Panzer's worket_builder test with UVM off (2/2)
  packages/panzer/adapters-stk/test/panzer_workset_builder/d_workset_builder.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/workset_builder.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder_impl.hpp
  packages/phalanx/src/Phalanx_MDField.hpp
Labels: pkg: Panzer, UVM removal

#9597 Zoltan2: update doxygen main file to reflect new directory structure
  packages/zoltan2/doc/Doxyfile
Labels: pkg: Zoltan2, AT: AUTOMERGE

#9600 MueLu: minor cleanup of Block Gauss-Seidel smoother
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BlockedGaussSeidelSmoother_decl.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BlockedGaussSeidelSmoother_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9268 Zoltan2: small coloring cleanup
  packages/zoltan2/test/core/color/CMakeLists.txt
  packages/zoltan2/test/core/color/coloring1.cpp
Labels: pkg: Zoltan2, AT: RETEST, AT: AUTOMERGE

#9610 packages/framework: pip3 is no longer in PATH
  packages/framework/pr_tools/pr_python_test_driver.sh
  packages/framework/pr_tools/trilinosprhelpers/unittests/config-specs.ini
Labels: AT: AUTOMERGE, PA: Framework

#9611 atdm: mark KokkosKernels_sparse_cuda as RUN_SERIAL
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, PA: Framework

#9613 MueLu: collect region MG solver stuff in one file
  packages/muelu/research/regionMG/src/SetupRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/src/SolveRegionHierarchy_def.hpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9619 Framework: Reset boostrap code path
  packages/framework/pr_tools/PullRequestLinuxCudaDriver.sh
  packages/framework/pr_tools/PullRequestLinuxCudaVortexDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriver-old.sh
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, PA: Framework

#9632 panzer: Tangent gather
  packages/panzer/adapters-stk/test/evaluator_tests/gather_solution.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_Epetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_Epetra.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_Epetra_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal

#9637 Panzer: have more examples running
  packages/panzer/adapters-stk/example/PoissonInterfaceExample/Example_SimpleSource_impl.hpp
  packages/panzer/adapters-stk/example/PoissonInterfaceExample/Example_Solution_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOFCurl_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, UVM removal
