Repository trilinos/Trilinos, pull requests merged in 2021-04, with the labels that each got.

#8917 Intrepid2: Work on CellTools to make it UVM free
  packages/intrepid2/src/Cell/Intrepid2_CellData.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellDataDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefControlVolume.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefInclusion.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefJacobian.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefNodeInfo.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefParametrization.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefPhysToRef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefRefToPhys.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellTools_Serial.hpp
  packages/intrepid2/src/Cell/Intrepid2_ProjectedGeometry.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_C0_FEMDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HCURL.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HDIV.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HGRAD.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyPoints.hpp
  packages/intrepid2/src/Projection/Intrepid2_LagrangianInterpolationDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStructDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHCURL.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHDIV.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHGRAD.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefL2.hpp
  packages/intrepid2/src/Shared/Intrepid2_PointToolsDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_Utils.hpp
  packages/intrepid2/unit-test/Cell/CMakeLists.txt
  packages/intrepid2/unit-test/Cell/Cuda/test_01.cpp
  packages/intrepid2/unit-test/Cell/Cuda/test_02.cpp
  packages/intrepid2/unit-test/Cell/Cuda/test_03.cpp
  packages/intrepid2/unit-test/Cell/Cuda/test_04.cpp
  packages/intrepid2/unit-test/Cell/Cuda/test_06.cpp
  packages/intrepid2/unit-test/Cell/test_01.hpp
  packages/intrepid2/unit-test/Cell/test_02.hpp
  packages/intrepid2/unit-test/Cell/test_03.hpp
  packages/intrepid2/unit-test/Cell/test_04.hpp
  packages/intrepid2/unit-test/Cell/test_05.hpp
  packages/intrepid2/unit-test/Cell/test_06.hpp
  packages/intrepid2/unit-test/Cell/test_07.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_QUAD_Cn_FEM/test_02.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HVOL_C0_FEM/test_01.hpp
  packages/intrepid2/unit-test/Discretization/Integration/test_01.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/HostCopyTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherNormals_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherNormals_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangents_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangents_impl.hpp
Labels: PA: Discretizations, pkg: Intrepid2, pkg: Panzer, type: enhancement

#8921 STK: Snapshot 03-25-21 06:41
  packages/stk/stk_balance/stk_balance/balanceUtils.cpp
  packages/stk/stk_balance/stk_balance/balanceUtils.hpp
  packages/stk/stk_balance/stk_balance/internal/Balancer.cpp
  packages/stk/stk_balance/stk_balance/internal/DetectAndFixMechanisms.cpp
  packages/stk/stk_balance/stk_balance/internal/M2NDecomposer.cpp
  packages/stk/stk_balance/stk_balance/internal/MxNutils.cpp
  packages/stk/stk_balance/stk_balance/internal/StkBalanceUtils.cpp
  packages/stk/stk_balance/stk_balance/internal/Zoltan2ParallelGraph.cpp
  packages/stk/stk_balance/stk_balance/internal/privateDeclarations.cpp
  packages/stk/stk_balance/stk_balance/internal/privateDeclarations.hpp
  packages/stk/stk_integration_tests/cmake_install_test/cron_build_stk_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/cuda_recipe
  packages/stk/stk_integration_tests/stk_balance/IntegrationTestLoadBalance.cpp
  packages/stk/stk_io/Jamfile
  packages/stk/stk_io/example/io_mesh.cpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldSyncDebugger.hpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetUtil.cpp
  packages/stk/stk_mesh/stk_mesh/base/SkinMeshUtil.cpp
  packages/stk/stk_mesh/stk_mesh/base/SkinMeshUtil.hpp
  packages/stk/stk_mesh/stk_mesh/base/Stencils.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/BulkDataIdMapper.hpp
  packages/stk/stk_tools/stk_tools/mesh_tools/CustomAura.hpp
  packages/stk/stk_tools/stk_tools/scripts/trilinos_snapshot.sh
  packages/stk/stk_tools/stk_tools/transfer_utils/TransientFieldTransferById.cpp
  packages/stk/stk_tools/stk_tools/transfer_utils/TransientFieldTransferById.hpp
  packages/stk/stk_transfer/stk_transfer/copy_by_id/TransferCopyById.cpp
  packages/stk/stk_transfer/stk_transfer/copy_by_id/TransferCopyById.hpp
  packages/stk/stk_transfer/stk_transfer/copy_by_id/TransferCopyByIdMeshAdapter.hpp
  packages/stk/stk_transfer/stk_transfer/copy_by_id/TransferCopyByIdStkMeshAdapter.hpp
  packages/stk/stk_unit_test_utils/Jamfile
  packages/stk/stk_unit_tests/stk_balance/UnitTestBlockWeights.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestSettingVertexWeights.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestStkBalancePartitioning.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestZoltanGraphGeneration.cpp
  packages/stk/stk_unit_tests/stk_coupling/UnitTestNamedValues.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpDebugFieldSync_Fixtures.hpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/UnitTestNgpDebugFieldSync_PartialAllocation.cpp
  packages/stk/stk_unit_tests/stk_tools/mesh_tools/UnitTestCustomAura.cpp
  packages/stk/stk_unit_tests/stk_tools/mesh_tools/UnitTestCustomAura.hpp
  packages/stk/stk_unit_tests/stk_util/parallel/UnitTestCommSparse.cpp
  packages/stk/stk_unit_tests/stk_util/util/UnitTestThrowMacros.cpp
  packages/stk/stk_util/Jamfile
  packages/stk/stk_util/stk_util/parallel/CommSparse.cpp
  packages/stk/stk_util/stk_util/parallel/CommSparse.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
  packages/stk/stk_util/stk_util/util/ReportHandler.cpp
  packages/stk/stk_util/stk_util/util/ReportHandler.hpp
  packages/stk/stk_util/stk_util/util/Signal.cpp
Labels: AT: AUTOMERGE, pkg: STK

#8953 Belos: Add error message to avoid divide by zero crash.
  packages/belos/src/BelosGmresPolyOp.hpp
Labels: pkg: Belos

#8938 Tpetra: enable build for HIP backend
  packages/tpetra/CMakeLists.txt
  packages/tpetra/classic/NodeAPI/CMakeLists.txt
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.cpp
  packages/tpetra/classic/NodeAPI/KokkosCompat_ClassicNodeAPI_Wrapper.hpp
  packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.hpp
  packages/tpetra/classic/NodeAPI/cmake/KokkosClassic_DefaultNode_config.h.in
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_DefaultTypes.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_HIP.cpp
  packages/tpetra/core/src/Tpetra_Details_StaticView.cpp
  packages/tpetra/core/src/Tpetra_Details_StaticView.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/Distributor/Issue1454.cpp
  packages/tpetra/core/test/HashTable/computeOffsetsFromCounts.cpp
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/ImportExport2/CMakeLists.txt
  packages/tpetra/core/test/MultiVector/WithLocalAccess.cpp
Labels: type: enhancement

#8961 Nox better error message
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_ConstraintModelEvaluator.cpp
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers, pkg: NOX

#8963 Fix unclosed <tt> in tpetra lesson04 documentation
  packages/tpetra/core/example/Lesson04-Sparse-Matrix-Fill/index.doc
Labels: AT: AUTOMERGE, pkg: Tpetra

#8964 Automatic snapshot commit from seacas at ba4155619b
  packages/seacas/libraries/exodus/include/ExodusLargeModel.md
  packages/seacas/libraries/ioss/src/Ioss_DBUsage.h
  packages/seacas/libraries/ioss/src/Ioss_Region.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_StructuredZoneData.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.h
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.h
  packages/seacas/libraries/ioss/src/exodus/Ioex_DecompositionData.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_ParallelDatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_ParallelDatabaseIO.h
  packages/seacas/libraries/ioss/src/fmt
  packages/seacas/libraries/ioss/src/main/io_modify.C
  packages/seacas/libraries/ioss/src/visualization/catalyst/include/ParaViewCatalystCGNSAdapter.h
  packages/seacas/libraries/ioss/src/visualization/catalyst/include/ParaViewCatalystIossAdapter.h
  packages/seacas/libraries/ioss/src/visualization/catalyst/include/vtkCGNSMultiBlockDataSet.h
  packages/seacas/libraries/ioss/src/visualization/catalyst/include/vtkExodusIIMultiBlockDataSet.h
  packages/seacas/libraries/supes/ext_lib/exdate.c
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#8960 tpetra: fixes for MatrixMatrix products
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: UVM removal, pkg: Tpetra

#8972 Ctest: Fixing TMPDIR issue
  cmake/ctest/drivers/ascicgpu031/cron_driver.sh
Labels: AT: AUTOMERGE

#8954 Rythmos: StepperBuilder test failing
  packages/rythmos/test/UnitTest/Rythmos_StepperBuilder_UnitTest.cpp
Labels: pkg: Rythmos, type: bug

#8973 Tpetra: add missing fence in WrappedDualView
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8975 Tpetra: zoltan enabled on ascicgpu tests
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.crs.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8974 RefMaxwell stuff
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/trilinoscouplings/examples/scaling/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
  packages/trilinoscouplings/examples/scaling/stratimikos.xml
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: TrilinosCouplings

#8971 SEACAS: Fix include path
  packages/seacas/libraries/ioss/src/visualization/cgns/Iovs_cgns_DatabaseIO.h
  packages/seacas/libraries/ioss/src/visualization/exodus/Iovs_exodus_DatabaseIO.h
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#8983 Update get_default_modules.sh, second attempt.
  cmake/std/sems/get_default_modules.sh
Labels: AT: AUTOMERGE, client: Sierra, pkg: ROL

#8987 Ifpack2: fix gauss-seidel numerical issues (#8985)
  packages/ifpack2/src/Ifpack2_Details_GaussSeidel.hpp
Labels: type: bug

#8992 Zoltan: new release for iMOAB team
  packages/zoltan/README.md
  packages/zoltan/src/include/zoltan.h
Labels: AT: AUTOMERGE, pkg: Zoltan

#8990 Shylu - disable tests and examples explicitly when gtest is not available
  packages/shylu/shylu_dd/bddc/CMakeLists.txt
  packages/shylu/shylu_node/tacho/CMakeLists.txt
Labels: AT: AUTOMERGE, ATDM Env Issue, client: ATDM

#8993 Turn off tests that are not running and causing dev2master to fail.
  cmake/std/PullRequestLinuxCuda10.1.105uvmTestingSettings.cmake
Labels: AT: AUTOMERGE, PA: Framework

#8996 Tpetra: made ascicgpu031 test names consistent
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_nodeprecated_ascicgpu031_crs.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8864 Transition SEMS RHEL7 builds in ATDM scripts from CUDA 9 to CUDA 10
  cmake/ctest/drivers/atdm/sems-rhel7/drivers/Trilinos-atdm-sems-rhel7-cuda-10.1-Volta70-complex-shared-release-debug.sh
  cmake/std/atdm/sems-rhel7/all_supported_builds.sh
  cmake/std/atdm/sems-rhel7/environment.sh
Labels: AT: STALE, ATDM DevOps, PA: Framework, client: EMPIRE

#8995 Zoltan: add test to ensure that MPI MINLOC works correctly for gold-standard testing
  packages/zoltan/test/TestMPI/CMakeLists.txt
  packages/zoltan/test/TestMPI/mpiMinLoc.c
Labels: AT: AUTOMERGE, pkg: Zoltan

#8976 Allow ATDM Trilinos 'ats1', 'ats2', 'cts1', and 'van1-tx2' envs to be used with SPARC TPL installer (ATDV-408)
  cmake/std/atdm/ats1/environment.sh
  cmake/std/atdm/ats2/environment.sh
  cmake/std/atdm/common/toss3/environment_new.sh
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, AT: STALE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC, type: enhancement

#9002 Tpetra: another test update to allow Zoltan tests to build
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_nouvm_ascicgpu031_crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_deprecated_ascicgpu031_crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_nodeprecated_ascicgpu031_crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_nouvm_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_deprecated_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_nodeprecated_ascicgpu031.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8968 ShyLU/HTS: Fix incorrect placement of omp flush.
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/shylu/shylu_node/hts/src/shylu_hts_impl_def.hpp
Labels: AT: AUTOMERGE, impacting: tests, pkg: ShyLU, type: bug

#9003 ROL Trilinos Sync 12-Apr-2021
  packages/rol/Version-2.0.md
  packages/rol/src/vector/ROL_StdVector.hpp
Labels: AT: AUTOMERGE, client: ATDM, client: SPARC, client: Sierra, pkg: Piro, pkg: ROL

#9006 Ifpack2 Hypre: Fix link errors when multiple node types are used
  packages/ifpack2/src/Ifpack2_Hypre.cpp
  packages/ifpack2/src/Ifpack2_Hypre_FunctionParameters.hpp
  packages/ifpack2/src/Ifpack2_Hypre_decl.hpp
  packages/ifpack2/src/Ifpack2_Hypre_def.hpp
  packages/ifpack2/test/unit_tests/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Ifpack2

#9001 ATDM/van1-tx2: Add openmpi 4.0.5 toolchain
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.5_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.5_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/local-driver.sh
  cmake/std/atdm/van1-tx2/all_supported_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds.sh
  cmake/std/atdm/van1-tx2/custom_builds_unit_tests.sh
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, Primary Build

#9007 MueLu: Enable reuse of Ifpack2 smoothers
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: pkg: MueLu

#9011 MueLu: Gold files
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_7_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_7_np4_tpetra.gold
Labels: AT: AUTOMERGE, pkg: MueLu

#8956 Ifpack2: add new options for two-stage GS
  packages/ifpack2/src/Ifpack2_Relaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/kokkos-kernels/src/common/KokkosKernels_Handle.hpp
  packages/kokkos-kernels/src/sparse/KokkosSparse_gauss_seidel_handle.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_twostage_gauss_seidel_impl.hpp
  packages/kokkos-kernels/unit_test/sparse/Test_Sparse_gauss_seidel.hpp
Labels: pkg: Ifpack2

#9015 Ctest: Fixing emailer for ascicgpu031
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
Labels: AT: AUTOMERGE

#9008 Amesos2: Fixes mismatched new/delete and memory leaks in reused solver objects
  packages/amesos2/src/basker/basker_def.hpp
Labels: pkg: Amesos2, type: bug

#9016 Update TriBITS snapshot to address the max num TEST_<idx> block issue (TriBITSPub/TriBITS#136)
  cmake/tribits/ReleaseNotes.txt
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/cdash_analyze_and_report.py
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddAdvancedTestHelpers.cmake
Labels: AT: AUTOMERGE, PA: Framework, TriBITS

#9018 Tempus: Replace Logical Operators
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorObserverBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorObserverSubcycling_impl.hpp
  packages/tempus/src/Tempus_SolutionHistory_decl.hpp
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/src/Tempus_SolutionStateMetaData_decl.hpp
  packages/tempus/src/Tempus_StepperBDF2_decl.hpp
  packages/tempus/src/Tempus_StepperBackwardEuler_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_decl.hpp
  packages/tempus/src/Tempus_StepperDIRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_decl.hpp
  packages/tempus/src/Tempus_StepperExplicitRK_impl.hpp
  packages/tempus/src/Tempus_StepperExplicit_decl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_decl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_decl.hpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_StepperLeapfrog_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkExplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_decl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_decl.hpp
  packages/tempus/src/Tempus_StepperOperatorSplit_impl.hpp
  packages/tempus/src/Tempus_StepperRKBase.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_StepperTrapezoidal_decl.hpp
  packages/tempus/src/Tempus_Stepper_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_Basic_impl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_CombinedFSA_impl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_StaggeredFSA_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/ForwardEuler/Tempus_ForwardEulerTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RK_FSA.hpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_PartitionedTest.cpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_Partitioned_FSA.hpp
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplitTest.cpp
  packages/tempus/test/Subcycling/Tempus_SubcyclingTest.cpp
  packages/tempus/test/Trapezoidal/Tempus_TrapezoidalTest.cpp
Labels: pkg: ROL, pkg: Tempus

#9014 SEACAS: Fix warnings and memory leaks
  packages/seacas/Jamfile
  packages/seacas/applications/exodiff/ED_Version.h
  packages/seacas/applications/exodiff/exoII_read.C
  packages/seacas/applications/zellij/CMakeLists.txt
  packages/seacas/applications/zellij/Decompose.C
  packages/seacas/libraries/aprepro_lib/apr_aprepro.cc
  packages/seacas/libraries/aprepro_lib/apr_array.cc
  packages/seacas/libraries/aprepro_lib/apr_builtin.cc
  packages/seacas/libraries/aprepro_lib/apr_exodus.cc
  packages/seacas/libraries/aprepro_lib/apr_parser.cc
  packages/seacas/libraries/aprepro_lib/aprepro.h
  packages/seacas/libraries/aprepro_lib/aprepro.ll
  packages/seacas/libraries/aprepro_lib/aprepro.yy
  packages/seacas/libraries/ioss/src/Ioss_CopyDatabase.C
  packages/seacas/libraries/ioss/src/Ioss_CopyDatabase.h
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/pdqsort.h
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp_herron.C
  packages/seacas/libraries/ioss/src/utest/Utst_structured_decomp_rocket.C
  packages/seacas/libraries/plt/pltloa.f
  packages/seacas/libraries/plt/siorpt.f
  packages/seacas/libraries/suplib_cpp/pdqsort.h
Labels: AT: AUTOMERGE, PA: Data Services, pkg: seacas

#9019 Galeri Xpetra: Add anisotropic diffusion problem
  packages/galeri/src-xpetra/Galeri_StencilProblems.hpp
  packages/galeri/src-xpetra/Galeri_XpetraParameters.hpp
  packages/galeri/src-xpetra/Galeri_XpetraProblemFactory.hpp
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: pkg: Galeri

#9030 Geminga CUDA nightly: Enable complex
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_muelu_kokkos_refactor_cuda_geminga.cmake
Labels: AT: AUTOMERGE, pkg: MueLu

#9031 Turn off 3 Zoltan tests that fail due to a bug in spectrummpi
  cmake/std/PullRequestLinuxCuda10.1.243TestingSettings.cmake
Labels: AT: AUTOMERGE

#9029 MueLu: changes needed to handle Kokkos::complex in Cuda builds
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: MueLuReview, pkg: MueLu

#9035 TrilinosCouplings: Fix scaling of CurlCurl in Maxwell example
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE, pkg: TrilinosCouplings

#9037 Tpetra: add tests of Tpetra_UVM_Removal branch for SAKE
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.sake.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_nouvm_ascicgpu031_sake.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_deprecated_ascicgpu031_sake.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_nodeprecated_ascicgpu031_sake.cmake
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#9024 MueLu: fix agg export for multiple dofs per node
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
Labels: pkg: MueLu, type: bug

#9057 Turn on Intrepid2 in UVM = OFF build
  cmake/std/PullRequestLinuxCuda10.1.105uvmTestingSettings.cmake
Labels: AT: AUTOMERGE, PA: Framework

#9061 Ifpack2 Relaxation&Chebyshev: Use offsets in more cases
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
Labels: pkg: Ifpack2

#9062 Framework: update messaging on issue autocloser bot
  .github/workflows/stale.yml
Labels: AT: AUTOMERGE, PA: Framework

#8410 MueLu RefMaxwell: Pass corrected nullspace to coarse (1,1) hierarchy
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/xpetra/src/Operator/Xpetra_EpetraOperator.hpp
Labels: AT: STALE, pkg: MueLu

#9063 Ctest/drivers: ascicgpu updates
  cmake/ctest/drivers/ascicgpu031/CMakeLists.txt
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_nouvm_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_deprecated_ascicgpu031.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_release_uvm_nodeprecated_ascicgpu031.cmake
Labels: AT: AUTOMERGE

#9050 Zoltan2: MultiJagged captures this in a lambda which breaks Clang 11 + Cuda
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: client: ATDM, pkg: Zoltan2

#8944 Tpetra: add backup of scripts for perf testing
  packages/tpetra/scripts/PerformanceTesting/README.txt
  packages/tpetra/scripts/PerformanceTesting/eclipse/JenkinsAction.sh
  packages/tpetra/scripts/PerformanceTesting/eclipse/configBuildTest.sh
  packages/tpetra/scripts/PerformanceTesting/eclipse/launch.sh
  packages/tpetra/scripts/PerformanceTesting/stria/JenkinsAction.sh
  packages/tpetra/scripts/PerformanceTesting/stria/configBuildTest.sh
  packages/tpetra/scripts/PerformanceTesting/stria/launch.sh
  packages/tpetra/scripts/PerformanceTesting/vortex/JenkinsAction.sh
  packages/tpetra/scripts/PerformanceTesting/vortex/configBuild.sh
  packages/tpetra/scripts/PerformanceTesting/vortex/launch.sh
  packages/tpetra/scripts/PerformanceTesting/vortex/test.sh
Labels: AT: AUTOMERGE, pkg: Tpetra, type: enhancement

#9069 Ctest: Updating reporting script
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
Labels: AT: AUTOMERGE

#9071 ATDM: Enable Tpetra deprecated code for now
  cmake/std/atdm/ATDMDevEnvSettings.cmake
Labels: PA: Framework, UVM removal, pkg: Tpetra

#9074 KokkosKernels: Fix bug in Serial specialization of spmv
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spmv_impl.hpp
Labels: AT: AUTOMERGE

#9075 Disable tests in the UVM Off build
  cmake/std/PullRequestLinuxCuda10.1.105uvmTestingSettings.cmake
Labels: AT: AUTOMERGE

#9064 Ifpack & Ifpack2: Fix tiny bug in L1 method
  packages/ifpack/src/Ifpack_PointRelaxation.cpp
  packages/ifpack2/src/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_Details_InverseDiagonalKernel_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_InverseDiagonalKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
Labels: pkg: Ifpack, pkg: Ifpack2

#9060 MueLu: Add test for aggregation export
  packages/muelu/src/Utils/MueLu_VisualizationHelpers_def.hpp
  packages/muelu/test/CMakeLists.txt
  packages/muelu/test/viz/AggExport.cpp
  packages/muelu/test/viz/CMakeLists.txt
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc1.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc2.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc3.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc1.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc2.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc3.gold
  packages/muelu/test/viz/MPI-Viz-Output-Elasticity3D-PointCloud-Level0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc1.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc2.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc3.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc0.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc1.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc2.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc3.gold
  packages/muelu/test/viz/MPI-Viz-Output-Laplace3D-PointCloud-Level0.gold
  packages/muelu/test/viz/vizElasticity3DConvexHulls.xml
  packages/muelu/test/viz/vizElasticity3DPointCloud.xml
  packages/muelu/test/viz/vizLaplace3DConvexHulls.xml
  packages/muelu/test/viz/vizLaplace3DPointCloud.xml
Labels: pkg: MueLu
