Repository trilinos/Trilinos, pull requests merged in 2021-01, with the labels that each got.

#8538 MueLu RefMaxwell: Stratimikos subsolves
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell3.xml
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp
Labels: pkg: MueLu, pkg: Xpetra

#8528 ML: Tweaks for RefMaxwell
  packages/ml/src/RefMaxwell/ml_EdgeMatrixFreePreconditioner.cpp
  packages/ml/src/RefMaxwell/ml_RefMaxwell.cpp
  packages/ml/src/RefMaxwell/ml_RefMaxwell_Utils.cpp
  packages/ml/src/RefMaxwell/ml_RefMaxwell_Utils.h
  packages/ml/src/Utils/ml_ValidateParameters.cpp
Labels: AT: AUTOMERGE, pkg: ML

#8539 Ifpack/Ifpack2: Hypre fix
  packages/ifpack/src/Ifpack_Hypre.cpp
  packages/ifpack/src/Ifpack_ValidParameters.cpp
  packages/ifpack2/src/Ifpack2_Hypre_def.hpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/stratimikos/adapters/ifpack/src/Thyra_IfpackPreconditionerFactory.cpp
Labels: pkg: Ifpack, pkg: Ifpack2

#8518 MueLu: Mixed precision RefMaxwell
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
  packages/xpetra/src/Headers/Xpetra_UseShortNamesScalar.hpp
  packages/xpetra/src/Operator/Xpetra_EpetraOperator.hpp
  packages/xpetra/src/Operator/Xpetra_TpetraHalfPrecisionOperator.hpp
  packages/xpetra/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/xpetra/src/Utils/ForwardDeclaration/Xpetra_TpetraHalfPrecisionOperator_fwd.hpp
Labels: AT: AUTOMERGE, pkg: MueLu, pkg: Xpetra

#8552 MueLu RefMaxwell: Fix #8551
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_decl.hpp
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8550 Sacado: Fix two errors when configured without Kokkos or Teuchos.
  packages/sacado/src/Sacado_DynamicArrayTraits.hpp
  packages/sacado/test/GTestSuite/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Sacado

#8556 Intrepid2 - issue 8357
  packages/intrepid2/unit-test/Shared/RealSpaceTools/test_01.hpp
Labels: AT: AUTOMERGE

#8557 Sacado: Add 'using Sacado::if_then_else' in several places for MS Visual Studio
  packages/sacado/src/Sacado_Fad_Ops.hpp
  packages/sacado/src/new_design/Sacado_Fad_Exp_Ops.hpp
Labels: AT: AUTOMERGE, pkg: Sacado

#8563 Removed warnings
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
  packages/panzer/adapters-stk/test/evaluator_tests/domain_interface.cpp
Labels: AT: AUTOMERGE

#8558 Intrepid2: fix issue with L2 projection to run w/out CUDA UVM
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefL2.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Intrepid2, type: enhancement

#8531 Switch to SSH github authentication for inner Trilinos repo to fix 'sems-rhel7' builds (ATDV-416)
  cmake/ctest/drivers/atdm/sems-rhel7/local-driver.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, client: ATDM, client: EMPIRE, type: bug

#8536 Finish renaming of 'gcc' to 'gnu' left over from ATDV-272 and ATDV-391
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_shared_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_shared_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_cuda-10.1.243_gnu-7.2.0_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_static_dbg.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini_cuda-10.1.243_gnu-7.2.0_openmpi-4.0.3_static_opt.sh
  cmake/std/atdm/cee-rhel7/all_supported_builds.sh
  cmake/std/atdm/cee-rhel7/custom_builds_unit_tests.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM, client: SPARC

#8565 Tacho - remove uninitialized variable warnings
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Solver_Impl.hpp
Labels: AT: AUTOMERGE

#8566 ATDM/ats2: Update to CMake 3.18
  cmake/std/atdm/ats2/environment.sh
Labels: AT: AUTOMERGE

#8572 MueLu: Fix Stratimikos smoother
  packages/muelu/src/Smoothers/MueLu_StratimikosSmoother_def.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolveFactory_decl.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolveFactory_def.hpp
Labels: pkg: MueLu, pkg: Stratimikos

#8574 Intrepid2: Fix #8516.
  packages/intrepid2/unit-test/MonolithicExecutable/AnalyticPolynomialsMatchTests.cpp
Labels: AT: AUTOMERGE

#8570 Intrepid2: resolve warnings under CUDA.
  packages/intrepid2/src/Cell/Intrepid2_CellGeometry.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
Labels: AT: AUTOMERGE

#8493 Disable Tempus for EMPIRE
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config, client: EMPIRE

#8495 ATDM/ats1: Drop intel-18 support and fix intel-19 environment
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.15_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-hsw_intel-19.0.4_mpich-7.7.15_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-18.0.5_mpich-7.7.6_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/ats1/drivers/Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.6_openmp_static_opt.sh
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/std/atdm/ats1/all_supported_builds.sh
  cmake/std/atdm/ats1/custom_builds.sh
  cmake/std/atdm/ats1/custom_builds_unit_tests.sh
  cmake/std/atdm/ats1/environment.sh
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, ATDM Env Issue, client: ATDM

#8530 Sacado: Enable dynamic linking of host code using Sacado in Cuda buil…
  packages/sacado/src/Sacado_DynamicArrayTraits.hpp
Labels: AT: AUTOMERGE

#8578 Phalanx: update tests for layout swap
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/UnmanagedFields/KokkosView/View_TestEvaluators.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Phalanx

#8577 Tpetra: fix warning about unused local typedef
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8589 MueLu: cleanup and documentation
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_SimpleSmoother_decl.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_SimpleSmoother_def.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedCoarseMapFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_CoarseMapFactory_decl.hpp
Labels: pkg: MueLu

#8571 zoltan: remove extraneous characters in HTML
  packages/zoltan/doc/Zoltan_html/Zoltan.html
Labels: pkg: Zoltan

#8582 Added code which rounds down the vector length
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.cpp
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: EMPIRE, pkg: Panzer

#8590 Panzer: fix ExprEval subpackage
  packages/panzer/expr-eval/src/Panzer_ExprEval.cpp
  packages/panzer/expr-eval/src/Panzer_ExprEval.hpp
  packages/panzer/expr-eval/src/Panzer_ExprEval_impl.hpp
  packages/panzer/expr-eval/test/ExprEvalTest.cpp
Labels: AT: AUTOMERGE, PA: Discretizations, client: Albany, pkg: Panzer

#8595 MueLu: cleanup various block smoothers
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BraessSarazinSmoother_decl.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BraessSarazinSmoother_def.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_UzawaSmoother_decl.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_UzawaSmoother_def.hpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8601 LOCA: Update householder constraints for case with model evaluator decorator
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_ConstraintModelEvaluator.cpp
  packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp
  packages/nox/test/tpetra/tTpetra_1DFEM_ME_UnitTests.cpp
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers, pkg: LOCA

#8576 Zoltan2: Add quotient algorithm and communication graph model
  packages/muelu/src/Rebalancing/MueLu_Zoltan2Interface_def.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgParMETIS.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgQuotient.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_PartitioningAlgorithms.hpp
  packages/zoltan2/core/src/models/Zoltan2_CommGraphModel.hpp
  packages/zoltan2/core/src/models/Zoltan2_Model.hpp
  packages/zoltan2/core/src/problems/Zoltan2_PartitioningProblem.hpp
  packages/zoltan2/core/src/problems/Zoltan2_Problem.hpp
  packages/zoltan2/test/core/partition/CMakeLists.txt
  packages/zoltan2/test/core/partition/partitioning1.cpp
Labels: AT: AUTOMERGE, pkg: Zoltan2

#8602 Framework: Expand the envvars that get fully printed out in PR's
  cmake/std/trilinosprhelpers/TrilinosPRConfigurationBase.py
Labels: AT: AUTOMERGE, PA: Framework

#8594 Added a reset call
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.hpp
Labels: AT: AUTOMERGE

#8600 Tpetra: enable ReplaceDiagonal to work for CrsMatrix with overlapped row map
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_replaceDiagonalCrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ReplaceDiagonal.cpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8606 ATDM: Update CMake on Chama to 3.19.1
  cmake/std/atdm/common/toss3/environment_tlcc2.sh
Labels: ATDM Env Issue, ATDM Sev: Nonblocker, client: EMPIRE

#8608 Teuchos TimeMonitor: Print more info on overlapping timers
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: Teuchos

#8616 intrepid2: fix clang warning autological overlap compare.
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureTensorDef.hpp
Labels: AT: AUTOMERGE

#8611 Tpetra: Add per-process binary reader
  packages/tpetra/core/inout/MatrixMarket_TpetraNew.hpp
  packages/tpetra/core/inout/Tpetra_DistributionLowerTriangularBlock.hpp
Labels: AT: AUTOMERGE, pkg: Tpetra

#8621 TrilinosCouplings: Maxwell enhancements
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
Labels: AT: AUTOMERGE

#8625 cmake/std/atdm: Disable Kokkos timing based test
  cmake/std/atdm/ATDMDisables.cmake
Labels: ATDM Config, ATDM DevOps, client: ATDM

#8626 cmake/std/atdm: Run Kokkos interOp tests in serial
  cmake/std/atdm/ATDMDisables.cmake
Labels: AT: AUTOMERGE, ATDM Config, ATDM DevOps, client: ATDM

#8622 MueLu: Fix BGS and Blocked Jacobi logic when InitialGuessIsZero
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BlockedGaussSeidelSmoother_def.hpp
  packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BlockedJacobiSmoother_def.hpp
  packages/muelu/test/unit_tests/Smoothers/BlockedSmoother.cpp
Labels: pkg: MueLu, type: bug

#8629 MueLu: various changes
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_decl.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/Smoothers/StratimikosSmoother.cpp
Labels: AT: AUTOMERGE, client: EMPIRE, pkg: MueLu

#8652 Phalanx: add queries to DAG Manager
  packages/phalanx/example/FiniteElementAssembly/FiniteElementAssembly.cpp
  packages/phalanx/src/Phalanx_DAG_Manager.hpp
  packages/phalanx/src/Phalanx_DAG_Manager_Def.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
  packages/phalanx/src/Phalanx_FieldManager.hpp
  packages/phalanx/src/Phalanx_FieldManager_Def.hpp
Labels: AT: AUTOMERGE, PA: Discretizations, pkg: Phalanx

#8640 ATDM: Turn Anasazi on for EMPIRE
  cmake/std/atdm/apps/empire/EMPIRETrilinosPackagesList.cmake
Labels: AT: AUTOMERGE, ATDM Config, client: EMPIRE

#8647 Piro: close #8641
  packages/piro/CMakeLists.txt
  packages/piro/cmake/Dependencies.cmake
  packages/piro/cmake/Piro_config.hpp.in
  packages/piro/src/Piro_PerformAnalysis.cpp
Labels: AT: AUTOMERGE, pkg: Piro

#8651 MiniTensor: Fix inconsistent KOKKOS_INLINE_FUNCTION markings
  packages/minitensor/src/MiniTensor_Geometry.t.h
  packages/minitensor/src/MiniTensor_Mechanics.t.h
Labels: AT: AUTOMERGE

#8636 MueLu: RegionMG cleaning up test example driver
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
Labels: AT: AUTOMERGE, pkg: MueLu

#8631 tpetra: removed use of device_type in BlockView test
  packages/tpetra/core/test/Block/BlockView.cpp
Labels: AT: AUTOMERGE, UVM removal, pkg: Tpetra

#8521 Framework: Preparation for CMake minimum required version update
  cmake/std/PullRequestLinuxIntel17.0.1TestingSettings.cmake
  cmake/std/PullRequestLinuxIntel19.0.5TestingSettings.cmake
  cmake/std/pr_config/pullrequest.ini
  cmake/std/sems/PullRequestClang7.0.1TestingEnv.sh
  cmake/std/sems/PullRequestClang9.0.0TestingEnv.sh
  cmake/std/sems/PullRequestCuda10.1.105TestingEnv.sh
  cmake/std/sems/PullRequestCuda9.2TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.8.4TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnv.sh
  cmake/std/sems/PullRequestGCC4.9.3TestingEnvSERIAL.sh
  cmake/std/sems/PullRequestGCC7.2.0SerialTestingEnv.sh
  cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh
  cmake/std/sems/PullRequestIntel17.0.1TestingEnv.sh
  cmake/std/sems/PullRequestIntel19.0.5TestingEnv.sh
  cmake/std/sems/PullRequestPython2TestingEnv.sh
  cmake/std/sems/PullRequestPython3TestingEnv.sh
  cmake/std/sems/get_default_modules.sh
Labels: AT: AUTOMERGE, PA: Framework
