Repository trilinos/Trilinos, pull requests merged in 2022-08, with the labels that each got.

#10764 Add C++17 standard for Python 3 PR build
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10741 Solves #10740
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_TpetraAdapter_MP_Vector.hpp
  packages/stokhos/test/UnitTest/Stokhos_TpetraCrsMatrixMPVectorUnitTest.hpp
Labels: AT: AUTOMERGE

#10809 Set C++17 for MueLu's nightlies
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.clang.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.gcc.cmake
Labels: pkg: MueLu

#10812 MueLu: Add a test for distance Laplacian with emin
  packages/muelu/test/vardofpernode/CMakeLists.txt
  packages/muelu/test/vardofpernode/driver_EminDistLapl.xml
Labels: pkg: MueLu

#10803 Zoltan2 : add Metis interface to ordering
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgMetis.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_OrderingAlgorithms.hpp
  packages/zoltan2/core/src/problems/Zoltan2_OrderingProblem.hpp
  packages/zoltan2/test/core/order/CMakeLists.txt
  packages/zoltan2/test/core/order/orderingMetis.cpp
Labels: pkg: Zoltan2

#10819 ShyLU FastILU: simple optimizations
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: type: enhancement, pkg: ShyLU, impacting: performance, AT: AUTOMERGE

#10793 amesos2: update shylubasker for removed deprecated code
  packages/amesos2/src/Amesos2_ShyLUBasker.cpp
  packages/amesos2/src/Amesos2_ShyLUBasker_FunctionMap.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_TypeMap.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_decl.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10805 MueLu RefMaxwell: Fix donut bug
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
Labels: pkg: MueLu, client: EMPIRE, AT: AUTOMERGE

#10778 Check and abort if existing subdirs are not git repos (#10766)
  packages/framework/.gitignore
  packages/framework/get_dependencies.sh
Labels: type: enhancement, AT: AUTOMERGE

#10814 Amesos2 : Update Pardiso interface for deprecated codes
  packages/amesos2/src/Amesos2_PardisoMKL_TypeMap.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_decl.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_def.hpp
Labels: pkg: Amesos2

#10837 Amesos2 : adds iterative refinement example (plus ShyLU-Basker singularity-check fix)
  packages/amesos2/example/CMakeLists.txt
  packages/amesos2/example/SimpleSolve_IR.cpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_btf.hpp
Labels: pkg: Amesos2, pkg: ShyLU, AT: AUTOMERGE

#10817 MueLu: integrate MIS-2 based aggregation
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options.tex
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/UncoupledAggregationFactory_kokkos.cpp
Labels: type: enhancement, pkg: MueLu, AT: AUTOMERGE

#10831 Amesos2 : support non-standard scalar type for IR
  packages/amesos2/src/Amesos2_SolverCore_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE

#10815 MueLu_Utilities_kokkos: GetMatrixDiagonalInverse Kokkos impl for all GO
  packages/muelu/example/basic/mg-gpu.xml
  packages/muelu/example/basic/set3-mg-chebyshev.xml
  packages/muelu/example/basic/set3-mg-gs.xml
  packages/muelu/example/basic/set3-mg-jacobi.xml
  packages/muelu/example/basic/set3-mg-sgs-reuse.xml
  packages/muelu/example/basic/set3-mg-sgs.xml
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: pkg: MueLu

#10848 Fix TeuchosParser for C++17
  packages/teuchos/parser/src/Teuchos_Grammar.cpp
  packages/teuchos/parser/src/Teuchos_Graph.cpp
  packages/teuchos/parser/src/Teuchos_Language.cpp
  packages/teuchos/parser/src/Teuchos_Parser.cpp
  packages/teuchos/parser/src/Teuchos_Reader.cpp
  packages/teuchos/parser/src/Teuchos_Table.hpp
  packages/teuchos/parser/src/Teuchos_make_lalr1_parser.cpp
  packages/teuchos/parser/src/Teuchos_regex.cpp
Labels: AT: AUTOMERGE

#10860 Tacho - change hip stream destruction order.
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: AT: AUTOMERGE

#10772 Panzer periodicbcbbox
  packages/panzer/adapters-stk/CMakeLists.txt
  packages/panzer/adapters-stk/cmake/Dependencies.cmake
  packages/panzer/adapters-stk/cmake/PanzerAdaptersSTK_config.hpp.in
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeHexMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CubeTetMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_CustomMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_LineMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_MeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_MatchConditions.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher_impl.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Parser.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Parser.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Search.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Search_impl.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Quad8ToQuad4MeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SculptMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareQuadMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_SquareTriMeshFactory.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/CMakeLists.txt
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_32bit_int_limit.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_search.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tCoarseSearch.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10872 Disable pseudo package ShyLU in ATS-2 builds (#10865)
  packages/framework/ini-files/config-specs.ini
Labels: type: bug, Framework tasks, AT: AUTOMERGE, PA: Framework

#10880 Panzer MiniEM: Adjust rebalancing targets for RefMaxwell sub-problems
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwell.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuRefMaxwellEpetra.xml
Labels: pkg: Panzer, AT: AUTOMERGE

#10871 Disable randomly failing Tpetra test (#10847), remove FORCE from all test disables (#10870)
  packages/framework/ini-files/config-specs.ini
Labels: pkg: Tpetra, Framework tasks, AT: AUTOMERGE, PA: Framework

#10877 Panzer: Convert meshes/data with second-order elements to first order
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_QuadraticToLinearMeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_QuadraticToLinearMeshFactory.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/hex20.gen
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/hex20.jou
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/tet10.gen
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/tet10.jou
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/tri6.gen
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/tri6.jou
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/twoblock_cube_multitopo.gen
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/twoblock_cube_multitopo.jou
  packages/panzer/adapters-stk/test/stk_interface_test/tQuadraticToLinearMeshFactory.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10864 Intrepid2: fix shadowed ExecutionSpace using
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_TRI.hpp
Labels: pkg: Intrepid2

#10796 Add citation message to CMakeLists.txt
  CMakeLists.txt
Labels: AT: AUTOMERGE

#10802 Fix for 10800
  packages/tpetra/core/src/Tpetra_FECrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
Labels: AT: AUTOMERGE

#10834 Tpetra: Additions to get performance data from Distributor unit test
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10888 Tpetra: Remove informational output from passing tests
  packages/tpetra/core/test/MultiVector/Bug7745.cpp
  packages/tpetra/core/test/MultiVector/MultiVector_LocalViewTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10894 Fix #10892
  packages/teuchos/core/src/Teuchos_Utils.hpp
  packages/teuchos/parser/src/Teuchos_FiniteAutomaton.cpp
  packages/teuchos/parser/src/Teuchos_FiniteAutomaton.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#10904 Amesos2-IR & ShyLU-Basker fixes
  packages/amesos2/src/Amesos2_Control.cpp
  packages/amesos2/src/Amesos2_SolverCore_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
Labels: pkg: Amesos2, pkg: ShyLU

#10900 Ifpack2: add AVG Combine Mode option to Schwarz DD
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_decl.hpp
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/blkSmooEquivOlapSchwarz.xml
  packages/muelu/test/scaling/oLapSchwarzEquivBlkSmoo.xml
  packages/muelu/test/scaling/regularOverLap.dat
Labels: AT: AUTOMERGE

#10912 Improve TrilinosInstallTests to make more clear (#10896)
  packages/TrilinosInstallTests/CMakeLists.txt
Labels: PA: Framework

#10902 MueLu: Add ComputeNodesInAggregate for Aggregates_kokkos
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_def.hpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
Labels: pkg: MueLu

#10801 Tpetra: Fix CMake test for default ordinal type
  packages/tpetra/CMakeLists.txt
Labels: pkg: Tpetra

#10827 Tpetra: Fix a deprecated call to Kokkos::parallel_scan
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10908 Fix typos in some docs
  INSTALL.rst
  doc/DocumentingParameterLists/memo/SMemo_PListDoc.tex
  doc/DocumentingParameterLists/memo/smemo.cls
  doc/build_docs.pl
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: impacting: documentation, AT: AUTOMERGE

#10920 Tpetra: code reduction in MultiVector async group transfer tests
  packages/tpetra/core/test/ImportExport2/AsyncTransfer_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10851 Tpetra: code reduction in MultiVector async group transfer tests
  packages/tpetra/core/test/ImportExport2/AsyncTransfer_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10829 MueLu: Enabling BlockCrs through the hierarchy
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/muelu/adapters/tpetra/MueLu_CreateTpetraPreconditioner.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationInfo_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_kokkos_decl.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeometricInterpolationPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter.cpp
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter/BlockCrs1.xml
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter/BlockCrs2.xml
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter/Comparison1.xml
  packages/muelu/test/unit_tests/Smoothers/Ifpack2Smoother.cpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrixFactory.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_def.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
  packages/xpetra/sup/Utils/Xpetra_IO.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp
  packages/xpetra/sup/Utils/Xpetra_TripleMatrixMultiply.hpp
Labels: AT: AUTOMERGE

#10928 Panzer: move periodic helper typedefs into namespace
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.hpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_search.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10751 Tpetra: add BlockCrsMatrix::importAndFillComplete
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/test/Block/BlockCrsMatrix.cpp
Labels: pkg: Tpetra

#10785 Change to C++17 standard for new CUDA 11 build
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10905 Testing on Geminga: Do not disable Kokkos in Epetra build
  cmake/ctest/drivers/geminga/ctest_linux_nightly_serial_debug_muelu_epetra_geminga.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10907 Amesos2 : trying to fix issues with including MKL headers..
  packages/amesos2/src/Amesos2_PardisoMKL_TypeMap.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10913 Phalanx: remove cuda compiler warnings and add test for new use case …
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/Kokkos/CMakeLists.txt
  packages/phalanx/test/Kokkos/tKokkosClassOnDevice.cpp
Labels: pkg: Phalanx, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10929 Intrepid2: Update TensorData.setFirstComponentExtentInDimension0 to modify extents_[0]
  packages/intrepid2/src/Shared/Intrepid2_TensorData.hpp
Labels: pkg: Intrepid2

#10930 Final fixes for TriBITS upgrade to modern CMake targets (#10614, #10774)
  cmake/tribits/CHANGELOG.md
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
  cmake/tribits/common_tpls/find_modules/FindHDF5.cmake
  cmake/tribits/common_tpls/find_modules/FindNetCDF.cmake
  cmake/tribits/core/installation/TribitsPackageConfigTemplate.cmake.in
  cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddLibrary.cmake
  cmake/tribits/core/package_arch/TribitsAddOptionAndDefine.cmake
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
  cmake/tribits/core/package_arch/TribitsAddTestHelpers.cmake
  cmake/tribits/core/package_arch/TribitsAdjustPackageEnables.cmake
  cmake/tribits/core/package_arch/TribitsExternalPackageWriteConfigFile.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsPackageMacros.cmake
  cmake/tribits/core/package_arch/TribitsPkgExportCacheVars.cmake
  cmake/tribits/core/package_arch/TribitsSubPackageMacros.cmake
  cmake/tribits/core/package_arch/TribitsTplFindIncludeDirsAndLibraries.cmake
  cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake
  cmake/tribits/ctest_driver/TribitsAddDashboardTarget.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/guides/TribitsGuidesBody.rst
  cmake/tribits/doc/guides/TribitsMacroFunctionDocTemplate.rst
  cmake/tribits/examples/TribitsExampleApp/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/simple_cxx/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/A.cpp
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/A.hpp
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/cmake/WithSubpackagesA_config.h.in
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/tests/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/a/tests/a_test.cpp
  demos/simpleBuildAgainstTrilinos/CMakeLists.txt
  packages/TrilinosInstallTests/find_package_Trilinos/CMakeLists.txt
  packages/framework/ini-files/config-specs.ini
  packages/pliris/CMakeLists.txt
Labels: type: bug, type: enhancement, AT: RETEST, AT: AUTOMERGE, TriBITS

#10932 Tpetra: configure option to disable Kokkos integration test
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/CMakeLists.txt
Labels: AT: AUTOMERGE

#10825 Move host allocations to symbolic and change layout of iw
  packages/kokkos-kernels/src/sparse/KokkosSparse_spiluk_handle.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spiluk_numeric_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spiluk_symbolic_impl.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE, client: Sierra, AT: PRE-TEST INSPECTED

#10811 MueLu: Allow to print Kokkos config when default node type is used
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10951 Geminga: Disable Intrepid2 tests on CUDA
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10953 Phalanx: remove deprecated code
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointValues_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis_impl.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Density.hpp
  packages/phalanx/test/AssemblyHeatFluxFad/evaluators/Evaluator_Density_Def.hpp
Labels: pkg: Phalanx, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10935 Tpetra: specialize deep_copy_offset on Distributor::doPosts 3-arg slow path
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10957 Drivers: Cutting lightsaber float build down until it works
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: AT: AUTOMERGE

#10961 Drivers/ML: Fixing memory leaks and other valgrind errors
  cmake/ctest/drivers/geminga/ctest_linux_nightly_serial_debug_valgrind_muelu_geminga.cmake
  packages/ml/src/MLAPI/MLAPI_Aggregation.cpp
  packages/ml/src/MLAPI/MLAPI_DistributedMatrix.h
  packages/ml/src/MatrixFree/ml_MatrixFreePreconditioner.cpp
  packages/ml/src/RefMaxwell/ml_RefMaxwell_Utils.cpp
  packages/ml/test/LevelWrap/LevelTest.cpp
  packages/ml/test/MatrixFree/MatrixFree.cpp
  packages/ml/test/MultiLevelPreconditioner_Restart/MultiLevelPreconditioner_Restart.cpp
  packages/ml/test/MultiLevelPreconditioner_Sys/MultiLevelPreconditioner_Sys.cpp
  packages/ml/test/ValidateParams/cxx_main.cpp
Labels: AT: AUTOMERGE

#10956 MueLu: Fixing complex issue
  packages/muelu/test/unit_tests/InverseApproximationFactory.cpp
Labels: AT: AUTOMERGE

#10958 Teuchos fix
  packages/teuchos/core/src/Teuchos_StrUtils.hpp
  packages/teuchos/parameterlist/src/Teuchos_StandardParameterEntryValidators.cpp
  packages/teuchos/parameterlist/test/ParameterList/cxx_main.cpp
  packages/tpetra/core/inout/Tpetra_DistributionLowerTriangularBlock.hpp
Labels: pkg: Tpetra, pkg: Teuchos, AT: AUTOMERGE
