Repository trilinos/Trilinos, pull requests merged in 2022-05, with the labels that each got.

#10485 Ifpack2/ShyLU_node, FastILU : fix build errors with complex scalar type
  packages/ifpack2/src/Ifpack2_Details_CrsArrays.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Fic_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Fic_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Fildl_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Fildl_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastic.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastildl.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: Ifpack2, pkg: ShyLU, AT: PRE-TEST INSPECTED

#10489 Seacas fix bad cgns symbol detect
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services, AT: PRE-TEST INSPECTED

#10430 Tpetra - unroll guard Nathan's patch
  packages/tpetra/core/src/Tpetra_BlockView.hpp
Labels: AT: STALE, AT: AUTOMERGE, client: Sierra

#10488 Tpetra: Moving selected deep_copy calls back to 2-arg for Panzer
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE

#10472 Framework: Disable 3 Zoltan tests in the Intel 17.0.1 build
  cmake/std/PullRequestLinuxIntel17.0.1TestingSettings.cmake
Labels: AT: AUTOMERGE

#10471 Sacado: Fix Cuda 11 error about variables being undefined in device code
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
Labels: pkg: Sacado, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10490 MueLu MueMex: re-enable multiple Belos solvers
  packages/muelu/matlab/bin/CMakeLists.txt
  packages/muelu/matlab/bin/matlab
  packages/muelu/matlab/bin/muemex.cpp
  packages/muelu/matlab/tests/ApplyMueLu/ApplyUnitTest.m
  packages/muelu/matlab/tests/ApplyMueLu/CMakeLists.txt
  packages/muelu/matlab/tests/Brick/CMakeLists.txt
  packages/muelu/matlab/tests/CustomP/CMakeLists.txt
  packages/muelu/matlab/tests/JacobiSmooth/CMakeLists.txt
  packages/muelu/matlab/tests/PCoarsen/CMakeLists.txt
  packages/muelu/matlab/tests/ReentrantDemo/CMakeLists.txt
  packages/muelu/matlab/tests/UnsmoothedP/CMakeLists.txt
Labels: type: enhancement, pkg: MueLu

#10473 tpetra: update value_type and const_value_type used in checks
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10493 Ifpack2/ShyLU_node, FastILU : fix errors calling FastILU for Ifpack2 …
  packages/ifpack2/src/Ifpack2_Details_CrsArrays.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/test/belos/5w_bel_tif_FIC_schwarz.xml
  packages/ifpack2/test/belos/5w_bel_tif_FILDL_schwarz.xml
  packages/ifpack2/test/belos/5w_bel_tif_FILU_schwarz.xml
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/shylu/shylu_node/fastilu/src/shylu_fastic.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastildl.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU

#10494 Update to Compadre Test Timeouts
  packages/compadre/examples/CMakeLists.tribits.cmake
Labels: AT: AUTOMERGE, pkg: Compadre

#10496 STK: Snapshot 05-04-22 17:49
  packages/stk/stk_balance/stk_balance/balanceUtils.cpp
  packages/stk/stk_integration_tests/cmake_install_test/stk_test_app/src/test_stk_io.cpp
  packages/stk/stk_integration_tests/cmake_install_test/stk_test_app/test_stk_app.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/MeshBuilder.cpp
  packages/stk/stk_mesh/stk_mesh/base/MeshBuilder.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestMeshBuilder.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#10413 Ctest: Disabling randomly failing tests
  cmake/std/PullRequestLinuxCommonTestingSettings.cmake
  cmake/std/PullRequestLinuxWeaverTestingSettings.cmake
  cmake/std/PullRequestLinuxWeaverUvmOffTestingSettings.cmake
Labels: AT: AUTOMERGE

#10497 Fix intrepid2 kokkos 4992
  packages/intrepid2/src/Shared/Intrepid2_Utils.hpp
Labels: AT: PRE-TEST INSPECTED

#10501 STK: Snapshot 05-06-22 13:38
  packages/krino/delete_small_elements/Akri_DeleteSmallElementsMain.cpp
  packages/percept/src/ngp/example.cpp
  packages/percept/src/percept/FieldTypes.hpp
  packages/percept/src/percept/PerceptMesh.cpp
  packages/percept/src/percept/PerceptMesh.hpp
  packages/percept/src/percept/RebalanceMesh.cpp
  packages/percept/src/percept/mesh/gen/SweepMesher.cpp
  packages/percept/src/percept/mesh/gen/SweepMesher.hpp
  packages/percept/src/percept/mesh/geometry/stk_geom/3D/FitGregoryPatchesPBGL.cpp
  packages/stk/stk_tools/stk_tools/scripts/trilinos_snapshot.sh
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_balance/UnitTestDiagnosticsContainer.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#10499 TrilinosCouplings: Minor Improvements to the Poisson STK example
  packages/trilinoscouplings/examples/scaling/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE

#10502 MueLu add greedy dirichlet option for kokkos CoalesceDropFactory
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10512 Teuchos: fix doxygen
  packages/teuchos/core/src/Teuchos_ArrayRCPDecl.hpp
  packages/teuchos/core/src/Teuchos_ArrayViewDecl.hpp
Labels: pkg: Teuchos, impacting: documentation, AT: AUTOMERGE

#10009 Framework: Move PR build GCC 8.3.0 to use SEMS' current spack-cm TPL modules
  cmake/std/PullRequestLinuxDriver.sh
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
  cmake/std/pr_config/pullrequest.ini
  cmake/std/trilinosprhelpers/unittests/trilinos_pr_test.ini
Labels: AT: AUTOMERGE, PA: Framework

#10460 Panzer: Use global_set for PANZER_HAVE_EPETRA Cmake variable, so it i…
  packages/panzer/core/CMakeLists.txt
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10457 Panzer: Make Epetra optional for adapter-stk
  packages/panzer/adapters-stk/example/CMakeLists.txt
  packages/panzer/adapters-stk/example/CurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedCurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedPoissonExample/main.cpp
  packages/panzer/adapters-stk/test/CMakeLists.txt
  packages/panzer/adapters-stk/test/bcstrategy/CMakeLists.txt
  packages/panzer/adapters-stk/test/evaluator_tests/CMakeLists.txt
  packages/panzer/adapters-stk/test/evaluator_tests/basis_times_vector.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
  packages/panzer/adapters-stk/test/model_evaluator/thyra_model_evaluator.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/CMakeLists.txt
  packages/panzer/adapters-stk/test/response_library/CMakeLists.txt
  packages/panzer/adapters-stk/test/response_library/volumetric_side_response.cpp
  packages/panzer/adapters-stk/tutorial/CMakeLists.txt
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#10517 Panzer: remove use of deprecated stk and kokkos code
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPamgenMeshFactory.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10515 Phalanx: add unit test for alternate view-of-views use case
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10520 Sacado: try to fix doc rendering error
  packages/sacado/test/GTestSuite/googletest/googlemock/docs/cook_book.md
Labels: pkg: Sacado, AT: AUTOMERGE

#10516 Intrepid2 CellGeometry node-based constructor may take (C,N,D) containers for indexing
  packages/intrepid2/src/Cell/Intrepid2_CellGeometry.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/CellGeometryTests.cpp
Labels: pkg: Intrepid2

#10529 Update Version.cmake
  Version.cmake
Labels: Framework tasks, AT: AUTOMERGE

#10525 TrilinosCouplings: Fixing bug in STK driver
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_Statistics.hpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: AT: AUTOMERGE

#10546 TrilinosCouplings: Minor driver fixes
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: AT: AUTOMERGE

#10544 Disable 3 tests for Intel 17 - Zoltan
  cmake/std/PullRequestLinuxIntel17.0.1TestingSettings.cmake
Labels: AT: AUTOMERGE, PA: Framework

#10315 Fix panzer normal boundary conditions set up
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp
Labels: pkg: Panzer, AT: AUTOMERGE

#10545 Teuchos: use reinterpret_cast instead of invalid implicit cast for co…
  packages/teuchos/numerics/src/Teuchos_LAPACK.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#10541 Fix issue with Clang gpu compilation.
  packages/belos/src/BelosBiCGStabSolMgr.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosFixedPointSolMgr.hpp
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosGmresPolyOp.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockTFQMRSolMgr.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRSolMgr.hpp
Labels: pkg: Belos, client: ATDM, AT: AUTOMERGE

#10523 CMakeLists.txt for Intrelab
  packages/intrepid/matlab/intrelab/CMakeLists.txt
Labels: pkg: Intrepid, AT: AUTOMERGE

#10550 Phalanx: Array of Views acceptance test.
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/Kokkos/tKokkosViewOfViews.cpp
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10533 More backward-compatible changes to Trilinos 'develop' for updated TriBITS
  cmake/std/atdm/ATDMDevEnvSettings.cmake
  cmake/tribits/common_tpls/FindTPLBLAS.cmake
  cmake/tribits/common_tpls/FindTPLLAPACK.cmake
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
  packages/isorropia/src/CMakeLists.txt
  packages/isorropia/test/CMakeLists.txt
  packages/sacado/test/tradoptest/CMakeLists.txt
  packages/zoltan2/test/core/temp/CMakeLists.txt
Labels: type: bug, type: enhancement, pkg: Zoltan2, pkg: Sacado, AT: AUTOMERGE
