Repository trilinos/Trilinos, pull requests merged in 2022-06, with the labels that each got.

#10572 MiniEM: Fix lambda capture issues in evaluators
  packages/panzer/mini-em/src/closures/MiniEM_Conductivity_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_InversePermeability_impl.hpp
  packages/panzer/mini-em/src/closures/MiniEM_TensorConductivity_impl.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10571 MueLu LowPrecisionFactory: Fix for other combos of enables Scalar types
  packages/muelu/src/Misc/MueLu_LowPrecisionFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_LowPrecisionFactory_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra

#10484 MueLu: Change schur complement inverse data type
  packages/muelu/src/Misc/MueLu_InverseApproximationFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_InverseApproximationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_SchurComplementFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_SchurComplementFactory_def.hpp
  packages/muelu/test/unit_tests/InverseApproximationFactory.cpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp
  packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp
  packages/xpetra/test/BlockedCrsMatrix/BlockedCrsMatrix_UnitTests.cpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: pkg: MueLu, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10581 Phalanx: more utilities for empire
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10605 Stratimikos: Glob auto-generated headers
  packages/stratimikos/src/CMakeLists.txt
Labels: pkg: Stratimikos, AT: AUTOMERGE

#10528 Update Version.cmake
  Version.cmake
Labels: Framework tasks, AT: AUTOMERGE

#10584 ShyLU_FastILU : fix a bug for non-symmetric matrix
  packages/belos/tpetra/src/solvers/Belos_Tpetra_SolverManagerBase.hpp
  packages/ifpack2/test/belos/belos_solve.cpp
  packages/ifpack2/test/belos/build_problem.hpp
  packages/ifpack2/test/belos/test_FILDL_calore1_mm.xml
  packages/ifpack2/test/belos/test_FILDL_calore1_mm_sptrsv.xml
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#10613 Only add Krino tests when tests are enabled (TriBITSPub/TriBITS#299)
  packages/krino/krino/CMakeLists.txt
Labels: type: bug, impacting: configure or build, AT: AUTOMERGE, pkg: Krino

#10603 FROSch: Propagate changes for Scalar!=double to FROSch
  packages/shylu/shylu_dd/frosch/src/Adapters/Stratimikos_FROSch_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Stratimikos_FROSch_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_OverlappingOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_SubdomainSolver_def.hpp
  packages/shylu/shylu_dd/frosch/test/Overlap/main.cpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/main.cpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/main.cpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Stokes_HDF5/main.cpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#10590 Convert Panzer to use MeshBuilder instead of constructing BulkData.
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPamgenMeshFactory.cpp
Labels: pkg: Panzer, client: ATDM, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10615 Panzer: Fixing orientations in lazy evaluation path
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10617 documentation(html) : add timestamp to html doc
  packages/common/Doxyfile
Labels: AT: AUTOMERGE

#10623 packages/framework: Try to override dynamic package enables
  packages/framework/pr_tools/pullrequest-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/pullrequest-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
Labels: type: bug, AT: AUTOMERGE, PA: Framework

#10626 MueLu: Adding more options for testing
  packages/muelu/cmake/Dependencies.cmake
Labels: AT: AUTOMERGE

#10636 Tempus/Zoltan2: Merge latest changes for adjoint sensitivities
  packages/tempus/src/Tempus_AdjointSensitivityModelEvaluator_impl.hpp
  packages/tempus/src/Tempus_CombinedForwardSensitivityModelEvaluator_decl.hpp
  packages/tempus/src/Tempus_CombinedForwardSensitivityModelEvaluator_impl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_StaggeredForwardSensitivityModelEvaluator_decl.hpp
  packages/tempus/src/Tempus_StaggeredForwardSensitivityModelEvaluator_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_WrapCombinedFSAModelEvaluator.hpp
  packages/tempus/src/Tempus_WrapStaggeredFSAModelEvaluator.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairIMEX_CombinedFSA.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairIMEX_StaggeredFSA.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_CombinedFSA_impl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_StaggeredFSA_decl.hpp
  packages/tempus/src/Tempus_WrapperModelEvaluatorPairPartIMEX_StaggeredFSA_impl.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan.hpp
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan2.hpp
Labels: pkg: Zoltan2, pkg: Tempus, AT: AUTOMERGE

#10627 Tacho code cleaning
  packages/shylu/shylu_node/tacho/src/impl/Tacho_ApplyPermutation_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_ApplyPivots_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_External.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Copy_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_GemmTriangular_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemm_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Herk_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_Supernodes_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_External.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Scale2x2_BlockInverseDiagonals_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Symmetrize_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsm_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
Labels: AT: AUTOMERGE, client: Sierra

#10594 Intrepid2: support for (L2) boundary projections
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefNodeInfo.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_LINE_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/FunctionSpaceTools/Intrepid2_FunctionSpaceTools.hpp
  packages/intrepid2/src/Discretization/FunctionSpaceTools/Intrepid2_FunctionSpaceToolsDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_Orientation.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HCURL.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HGRAD.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HVOL.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefMatrixData.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyBasis.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyPoints.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionTools.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefL2.hpp
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefTensor.hpp
  packages/intrepid2/src/Shared/Intrepid2_RealSpaceTools.hpp
  packages/intrepid2/src/Shared/Intrepid2_RealSpaceToolsDef.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_LINE_Cn_FEM/test_01.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_HEX.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_QUAD.hpp
  packages/intrepid2/unit-test/Projection/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_TET.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/panzer/dof-mgr/test/cartesian_topology/CartesianConnManager.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/CartesianConnManager.hpp
  packages/panzer/dof-mgr/test/fe_assembly/CMakeLists.txt
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
Labels: pkg: Panzer, pkg: Intrepid2, client: ATDM, client: EMPIRE, PA: Discretizations

#10639 Tacho solver for and
  packages/shylu/shylu_node/tacho/src/Tacho.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_CrsMatrixBase.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_CholSupernodes_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_GemmTriangular_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemm_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Herk_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Herk_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_External.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SupernodeInfo.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsm_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsm_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestUtil.cpp
Labels: AT: AUTOMERGE, client: Sierra

#10643 Address a real defect, use GenConfig without generated symlink version tracking, improve maintainability, improve readability of STDOUT
  .gitdist.default
  packages/framework/get_dependencies.sh
Labels: type: enhancement, AT: AUTOMERGE, PA: Framework

#10632 FastILU : reshuffle symbolic
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#9830 Framework: Add the Kokkos_ENABLE_SERIAL=OFF option to the GCC 8.3.0 PR build
  cmake/std/PullRequestLinuxGCC8.3.0TestingSettings.cmake
Labels: AT: AUTOMERGE

#10565 Kokkos + KokkosKernels Promotion To 3.6.01
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/master_history.txt
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_getDiagCopyWithOffsets_impl.hpp
  packages/kokkos/CHANGELOG.md
  packages/kokkos/CMakeLists.txt
  packages/kokkos/Makefile.kokkos
  packages/kokkos/algorithms/src/Kokkos_Sort.hpp
  packages/kokkos/algorithms/unit_tests/TestSort.hpp
  packages/kokkos/containers/src/Kokkos_ScatterView.hpp
  packages/kokkos/containers/src/Kokkos_Vector.hpp
  packages/kokkos/containers/unit_tests/TestVector.hpp
  packages/kokkos/core/src/CMakeLists.txt
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_View.hpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Instance.cpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_KernelLaunch.hpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Locks.cpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Space.cpp
  packages/kokkos/core/src/HPX/Kokkos_HPX.cpp
  packages/kokkos/core/src/Kokkos_Cuda.hpp
  packages/kokkos/core/src/Kokkos_HIP_Space.hpp
  packages/kokkos/core/src/Kokkos_HPX.hpp
  packages/kokkos/core/src/Kokkos_OpenMP.hpp
  packages/kokkos/core/src/Kokkos_OpenMPTarget.hpp
  packages/kokkos/core/src/Kokkos_SYCL.hpp
  packages/kokkos/core/src/Kokkos_Serial.hpp
  packages/kokkos/core/src/Kokkos_Threads.hpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Exec.cpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Exec.hpp
  packages/kokkos/core/src/SYCL/Kokkos_SYCL_Instance.hpp
  packages/kokkos/core/src/Threads/Kokkos_ThreadsExec.cpp
  packages/kokkos/core/src/Threads/Kokkos_ThreadsExec.hpp
  packages/kokkos/core/src/impl/Kokkos_Profiling_Interface.hpp
  packages/kokkos/core/src/impl/Kokkos_Serial.cpp
  packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewTracker.hpp
  packages/kokkos/core/unit_test/TestViewAPI.hpp
  packages/kokkos/core/unit_test/TestViewAPI_e.hpp
  packages/kokkos/core/unit_test/tools/TestEventCorrectness.hpp
  packages/kokkos/master_history.txt
  packages/kokkos/scripts/docker/Dockerfile.kokkosllvmproject
  packages/kokkos/scripts/docker/Dockerfile.nvcc
  packages/kokkos/scripts/docker/Dockerfile.openmptarget
  packages/kokkos/scripts/docker/Dockerfile.sycl
Labels: pkg: Kokkos, pkg: KokkosKernels, AT: PRE-TEST INSPECTED

#10651 Tpetra/KokkosKernels: Fix #10612 (HIP + complex build)
  packages/kokkos-kernels/src/Kokkos_ArithTraits.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
Labels: type: bug, pkg: Tpetra, impacting: configure or build, pkg: KokkosKernels

#10653 Fix ML test build failure
  packages/ml/test/MultiLevelPreconditioner_Sym/MultiLevelPreconditioner_Sym.cpp
Labels: pkg: ML, AT: AUTOMERGE

#10661 MueLu: Adding more options to matvec driver
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
Labels: AT: AUTOMERGE

#10664 Zoltan2: fix inverse permutation logic
  packages/zoltan2/core/src/problems/Zoltan2_OrderingSolution.hpp
Labels: type: bug, pkg: Zoltan2, AT: AUTOMERGE

#10659 Resolve stratimikos/Galeri test build issue
  packages/stratimikos/test/CMakeLists.txt
Labels: AT: AUTOMERGE

#10657 STK: Snapshot 06-23-22 06:43
  packages/stk/stk_balance/stk_balance/balanceUtils.cpp
  packages/stk/stk_balance/stk_balance/balanceUtils.hpp
  packages/stk/stk_balance/stk_balance/internal/Zoltan2ParallelGraph.cpp
  packages/stk/stk_balance/stk_balance/internal/privateDeclarations.cpp
  packages/stk/stk_balance/stk_balance/setup/DefaultSettings.hpp
  packages/stk/stk_balance/stk_balance/setup/Parser.cpp
  packages/stk/stk_balance/stk_balance/setup/Parser.hpp
  packages/stk/stk_integration_tests/cmake_install_test/run_cmake_stk_user_facing
  packages/stk/stk_io/stk_io/StkMeshIoBroker.cpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.hpp
  packages/stk/stk_mesh/stk_mesh/base/EntityProcMapping.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldParallel.cpp
  packages/stk/stk_mesh/stk_mesh/base/NgpReductions.hpp
  packages/stk/stk_performance_tests/stk_mesh/CommunicateFieldData.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestCommandLineParsing.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestEntityProcMapping.cpp
  packages/stk/stk_unit_tests/stk_util/parallel/UnitTestParallelComm.cpp
  packages/stk/stk_util/stk_util/parallel/CouplingVersions.cpp
  packages/stk/stk_util/stk_util/parallel/CouplingVersions.hpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternBlocking.hpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternBlockingBuffer.hpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternNonBlocking.cpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternNonBlocking.hpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternNonBlockingBuffer.hpp
  packages/stk/stk_util/stk_util/parallel/ParallelComm.hpp
  packages/stk/stk_util/stk_util/parallel/ParallelReduce.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#10665 ShyLU FastILU : add an option to use Kokkos-Kernels SpMV for FastSpTRSV
  packages/ifpack2/test/belos/belos_solve.cpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU

#10644 Ifpack2: general block smoothing for MueLu
  packages/ifpack2/doc/UsersGuide/ifpack2guide.pdf
  packages/ifpack2/doc/UsersGuide/options.tex
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_Container_decl.hpp
  packages/ifpack2/src/Ifpack2_Container_def.hpp
  packages/ifpack2/src/Ifpack2_Details_OverlappingRowGraph_def.hpp
  packages/ifpack2/src/Ifpack2_Details_UserPartitioner_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_UserPartitioner_def.hpp
  packages/ifpack2/src/Ifpack2_OverlappingPartitioner_decl.hpp
  packages/ifpack2/src/Ifpack2_OverlappingPartitioner_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/GblkAmat.dat
  packages/muelu/test/scaling/GblkMap.dat
  packages/muelu/test/scaling/GblkRhs.dat
  packages/muelu/test/scaling/Gblks.dat
  packages/muelu/test/scaling/MatrixLoad.hpp
  packages/muelu/test/scaling/generalBlkSmoothing.xml
Labels: type: enhancement, pkg: Ifpack2, AT: AUTOMERGE

#10668 MueLu: More performance test improvements
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10656 Tpetra local row scaled column norms
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
Labels: pkg: Tpetra

#10689 amesos2: update lapack wrapper for tpetra deprecations
  packages/amesos2/src/Amesos2_Lapack.cpp
  packages/amesos2/src/Amesos2_Lapack_decl.hpp
  packages/amesos2/src/Amesos2_Lapack_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE
