Repository trilinos/Trilinos, pull requests merged in 2022-03, with the labels that each got.

#10257 MueLu: Fix more deprecated issues
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/scaling/JacobiKernelDriver.cpp
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/muelu/test/scaling/TwoMatrixMMKernelDriver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10258 MueLu: Testing: fix another enigma test issue
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_no_serial_openmp_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_mpi_release_openmp_no_epetra_no_int_complex_experimental_enigma.cmake
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_no_int_openmp_experimental_enigma.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10261 Panzer: remove tpetra deprecated code
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/face_to_elem/Panzer_Relations.cpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/lof/Panzer_BlockedTpetraLinearObjFactory_impl.hpp
  packages/panzer/disc-fe/src/lof/Panzer_TpetraLinearObjFactory_impl.hpp
  packages/panzer/disc-fe/test/la_factory/tTpetraLinearObjFactory.cpp
  packages/panzer/disc-fe/test/la_factory/tTpetra_GlbEvalData.cpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp
  packages/panzer/dof-mgr/test/dofmngr_test/tGlobalIndexerUtilities.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteGradient.hpp
Labels: pkg: Panzer, client: ATDM, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations

#10262 Piro/PyTrilinos: remove tpetra deprecated code
  packages/PyTrilinos/example/exEpetra_DAP.py.in
  packages/PyTrilinos/src/PyTrilinos_Tpetra_Util.cpp
  packages/PyTrilinos/test/testTpetra_Map.py.in
  packages/piro/test/MockModelEval_A_Tpetra.cpp
  packages/piro/test/MockModelEval_B_Tpetra.cpp
Labels: PA: Nonlinear Solvers

#10185 Tpetra bcrs layoutleft
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_BlockView.hpp
Labels: AT: AUTOMERGE

#10011 Tpetra: Reproducer for #10008
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/Bug10008.cpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#10268 NOX: remove use of tpetra deprecated code
  packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp
  packages/nox/test/tpetra/ME_Tpetra_Heq_def.hpp
  packages/nox/test/tpetra/Tpetra_OperatorTests.cpp
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#10269 Update UMR integration unit test in Panzer
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusReaderFactory.cpp
Labels: pkg: NOX, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10277 amesos2: update umfpack wrapper for Tpetra deprecated code changes
  packages/amesos2/src/Amesos2_Umfpack_decl.hpp
  packages/amesos2/src/Amesos2_Umfpack_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10279 Teuchos,Epetra,Tpetra,Amesos2: Avoid CMP0115 warnings
  packages/amesos2/example/CMakeLists.txt
  packages/amesos2/test/adapters/CMakeLists.txt
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/epetra/test/MultiVector/CMakeLists.txt
  packages/teuchos/comm/test/Comm/CMakeLists.txt
  packages/teuchos/parameterlist/test/XMLParser/CMakeLists.txt
  packages/tpetra/core/test/Behavior/CMakeLists.txt
  packages/tpetra/core/test/Blas/CMakeLists.txt
  packages/tpetra/core/test/Block/CMakeLists.txt
  packages/tpetra/core/test/BugTests/CMakeLists.txt
  packages/tpetra/core/test/Comm/CMakeLists.txt
  packages/tpetra/core/test/Core/CMakeLists.txt
  packages/tpetra/core/test/CrsGraph/CMakeLists.txt
  packages/tpetra/core/test/CrsGraphTransposer/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/Regression/CMakeLists.txt
  packages/tpetra/core/test/Directory/CMakeLists.txt
  packages/tpetra/core/test/Distributor/CMakeLists.txt
  packages/tpetra/core/test/EpetraRowMatrix/CMakeLists.txt
  packages/tpetra/core/test/FECrsGraph/CMakeLists.txt
  packages/tpetra/core/test/FECrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/HashTable/CMakeLists.txt
  packages/tpetra/core/test/ImportExport/CMakeLists.txt
  packages/tpetra/core/test/Map/CMakeLists.txt
  packages/tpetra/core/test/Merge/CMakeLists.txt
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
  packages/tpetra/core/test/Node/CMakeLists.txt
  packages/tpetra/core/test/Operator/CMakeLists.txt
  packages/tpetra/core/test/RowMatrixTransposer/CMakeLists.txt
  packages/tpetra/core/test/Sort/CMakeLists.txt
  packages/tpetra/core/test/Tsqr/CMakeLists.txt
  packages/tpetra/core/test/Utils/CMakeLists.txt
  packages/tpetra/core/test/inout/CMakeLists.txt
Labels: pkg: Tpetra, pkg: Teuchos, pkg: Amesos2, pkg: Epetra, AT: AUTOMERGE

#10272 MueLu & Tpetra: Fix bugs
  packages/muelu/adapters/xpetra/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_AlgebraicPermutationStrategy_def.hpp
  packages/muelu/src/Utils/MueLu_LocalPermutationStrategy_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests/SemiCoarsenPFactoryWithSemiRestriction.cpp
  packages/tpetra/core/src/Tpetra_BlockView.hpp
  packages/tpetra/core/src/Tpetra_Details_extractBlockDiagonal.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixUtils.hpp
Labels: pkg: Tpetra, pkg: MueLu, AT: AUTOMERGE

#10282 Piro: Const Issue In getValidTempusParameters
  packages/piro/src/Piro_TempusSolverForwardOnly.hpp
  packages/piro/src/Piro_TempusSolverForwardOnly_Def.hpp
Labels: type: bug, pkg: Piro, pkg: Tempus, AT: AUTOMERGE

#10283 Update muemex/mlmex library links to new CMake syntax
  packages/ml/matlab/CMakeLists.txt
  packages/muelu/matlab/bin/CMakeLists.txt
Labels: pkg: MueLu, pkg: ML, impacting: configure or build, AT: AUTOMERGE

#10284 Fix build of MortarSurfaceCoupling with complex
  packages/muelu/test/meshtying/CMakeLists.txt
  packages/muelu/test/meshtying/MortarSurfaceCoupling_DofBased.cpp
Labels: pkg: MueLu, impacting: configure or build, AT: AUTOMERGE

#10290 SEACAS: STK: compile fixes under cuda 11.4.2 gcc 10.2
  packages/seacas/libraries/ioss/src/text_mesh/Iotm_TextMeshUtils.h
  packages/seacas/libraries/ioss/src/unit_tests/UnitTestIotmTextMeshFixture.h
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMeshUtils.hpp
Labels: pkg: STK, pkg: seacas, AT: AUTOMERGE, client: ExaWind

#10291 MueLu: Reorder AlgebraicPermutationStrategy memory access
  packages/muelu/src/Utils/MueLu_AlgebraicPermutationStrategy_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10292 MueLu: Add 'apply' feature to MueMex
  packages/muelu/matlab/bin/muelu.m
  packages/muelu/matlab/bin/muemex.cpp
  packages/muelu/matlab/bin/muemex.h
  packages/muelu/matlab/tests/ApplyMueLu/ApplyUnitTest.m
  packages/muelu/matlab/tests/ApplyMueLu/CMakeLists.txt
  packages/muelu/matlab/tests/ApplyMueLu/laplacianfun.m
  packages/muelu/matlab/tests/ApplyMueLu/mueluParams.xml
  packages/muelu/matlab/tests/Brick/BrickAggregationUnitTest.m
  packages/muelu/matlab/tests/Brick/BrickAggregationUnitTestEasy.m
  packages/muelu/matlab/tests/CMakeLists.txt
  packages/muelu/matlab/tests/CustomP/CustomPTest.m
  packages/muelu/matlab/tests/JacobiSmooth/JacobiSmoother_UnitTest.m
  packages/muelu/matlab/tests/PCoarsen/PCoarsenTest.m
  packages/muelu/matlab/tests/ReentrantDemo/Reentrant_Test.m
  packages/muelu/matlab/tests/UnsmoothedP/PtentEasy_UnitTest.m
  packages/muelu/matlab/tests/UnsmoothedP/Ptent_UnitTest.m
Labels: type: enhancement, pkg: MueLu

#10293 Intrepid2 - compiling on hip compiler
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_I1_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_HEX_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_QUAD_Cn_FEMDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_TestUtils.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests.cpp
  packages/sacado/src/Sacado.hpp
  packages/sacado/src/Sacado_DynamicArrayTraits.hpp
  packages/sacado/src/Sacado_StaticArrayTraits.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE

#10301 Tpetra: Documentation update
  packages/tpetra/core/example/Lesson04-Sparse-Matrix-Fill/index.doc
Labels: AT: AUTOMERGE

#10305 MueLu: Localize host view access in more spots
  packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10307 Xpetra: Deprecated methods instead of deleting them
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_Matrix.hpp
  packages/xpetra/sup/StridedMap/Xpetra_StridedMap_decl.hpp
Labels: pkg: Xpetra, AT: AUTOMERGE

#10313 LOCA: Add support for arc-length continuation with tpetra Housholder constraints
  packages/nox/src-loca/src-tpetra/LOCA_BorderedSolver_TpetraHouseholder.cpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_ConstraintModelEvaluator.cpp
  packages/nox/src-loca/src-tpetra/LOCA_Tpetra_ConstraintModelEvaluator.hpp
  packages/nox/test/tpetra/CMakeLists.txt
  packages/nox/test/tpetra/ME_Tpetra_1DFEM.hpp
  packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp
  packages/nox/test/tpetra/ME_Tpetra_Heq_def.hpp
  packages/nox/test/tpetra/tTpetra_1DFEM_ME_UnitTests.cpp
  packages/nox/test/tpetra/tTpetra_HouseholderBorderedSolve.cpp
  packages/nox/test/tpetra/tTpetra_HouseholderBorderedSolve_Continuation.cpp
  packages/nox/test/tpetra/tTpetra_HouseholderBorderedSolve_WithUVInPrec.cpp
Labels: pkg: NOX, pkg: LOCA, AT: AUTOMERGE, PA: Nonlinear Solvers

#10303 ShyLU_DDD/FROSch: Some fixes, mostly related to the TwoLevelBlockPreconditioner
  packages/shylu/shylu_dd/frosch/src/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_SchwarzPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_TwoLevelBlockPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Types.h
Labels: pkg: ShyLU, AT: AUTOMERGE

#10316 ROL: Remove calls to deprecated Tpetra code
  packages/rol/adapters/tpetra/src/function/ROL_TpetraBoundConstraint.hpp
  packages/rol/adapters/tpetra/src/vector/ROL_TpetraMultiVector.hpp
  packages/rol/adapters/tpetra/test/vector/test_01.cpp
  packages/rol/example/PDE-OPT/0ld/TOOLS/PDE_FEM.hpp
  packages/rol/example/PDE-OPT/0ld/adv-diff-react/data.hpp
  packages/rol/example/PDE-OPT/0ld/elasticitySIMP_topologyOptimization/filter.hpp
  packages/rol/example/PDE-OPT/0ld/poisson/data.hpp
  packages/rol/example/PDE-OPT/0ld/stefan-boltzmann/data.hpp
  packages/rol/example/PDE-OPT/0ld/stoch-adv-diff/data.hpp
  packages/rol/example/PDE-OPT/TOOLS/sysbuilder.hpp
  packages/rol/src/utils/ROL_ScalarMinimizationTest01.hpp
  packages/rol/test/elementwise/test_02.cpp
Labels: AT: AUTOMERGE, PA: Nonlinear Solvers

#10203 Ifpack2: Move Trisolve symbolic to initialize phase
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
Labels: type: enhancement, pkg: Ifpack2, AT: AUTOMERGE

#10321 Ctest: Fixing typo for lightsaber
  cmake/ctest/drivers/lightsaber/CMakeLists.txt
Labels: AT: AUTOMERGE

#10324 Amesos2_Superludist : to be consistent with SuperLU_DIST
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: AT: AUTOMERGE

#10327 Panzer add tempus support
  packages/panzer/adapters-stk/CMakeLists.txt
  packages/panzer/adapters-stk/cmake/Dependencies.cmake
  packages/panzer/adapters-stk/cmake/PanzerAdaptersSTK_config.hpp.in
  packages/panzer/adapters-stk/example/main_driver/CMakeLists.txt
  packages/panzer/adapters-stk/example/main_driver/energy-transient-tempus-blocked.xml
  packages/panzer/adapters-stk/example/main_driver/main_driver.cpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TempusObserverFactory.hpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TempusObserver_WriteToExodus.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory_impl.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_TempusObserverFactory.hpp
  packages/piro/src/Piro_TempusSolverForwardOnly_Def.hpp
Labels: pkg: Panzer, pkg: Piro, AT: AUTOMERGE, PA: Discretizations

#10328 Xpetra/MueLu: binary matrix reading
  packages/muelu/utils/matrix/ascii2binary.cpp
  packages/xpetra/test/CMakeLists.txt
  packages/xpetra/test/IO/CMakeLists.txt
  packages/xpetra/test/IO/IO_UnitTests.cpp
  packages/xpetra/test/IO/test.mtx
  packages/xpetra/test/IO/test.mtx.bin
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE

#10337 Cmake: Updates for lightsaber
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: AT: AUTOMERGE

#10335 Tpetra - remove unscoped using Teuchos rcpFromRef
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10333 Enabling CUDA test of projection tools.
  packages/intrepid2/src/Projection/Intrepid2_ProjectionTools.hpp
  packages/intrepid2/unit-test/Projection/CMakeLists.txt
Labels: pkg: Intrepid2, AT: AUTOMERGE, UVM removal

#10336 Panzer: Make Epetra optional (CMake setup)
  packages/panzer/core/CMakeLists.txt
  packages/panzer/core/cmake/PanzerCore_config.hpp.in
  packages/panzer/disc-fe/cmake/Dependencies.cmake
  packages/panzer/dof-mgr/CMakeLists.txt
  packages/panzer/dof-mgr/cmake/PanzerDofMgr_config.hpp.in
Labels: pkg: Panzer, client: ATDM, AT: AUTOMERGE, PA: Discretizations

#10330 Tpetra: fix Vector_offsetViewCtor test
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
  packages/tpetra/core/test/MultiVector/Vector_offsetViewCtor.cpp
Labels: pkg: Tpetra

#10325 packages/framework: Add LaunchDriver.py
  packages/framework/pr_tools/LaunchDriver.py
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/unittests/DriverTest0.sh
  packages/framework/pr_tools/unittests/DriverTest1.sh
  packages/framework/pr_tools/unittests/supporting_files/supported-systems.ini
  packages/framework/pr_tools/unittests/test_LaunchDriver.py
Labels: AT: AUTOMERGE

#10341 MueLu & Tpetra: Half precision transfer ops
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_misc.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_LowPrecisionFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_LowPrecisionFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_LowPrecisionFactory_fwd.hpp
  packages/muelu/test/scaling/scaling.xml
  packages/muelu/test/toggletransfer/main.cpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/LowPrecision.cpp
  packages/muelu/test/unit_tests/Smoothers/BlockedSmoother.cpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_LocalCrsMatrixOperator_def.hpp
Labels: pkg: Tpetra, pkg: MueLu, AT: AUTOMERGE

#10326 Tpetra: tell user about runtime CUDA-aware setting
  packages/tpetra/CMakeLists.txt
Labels: pkg: Tpetra, impacting: documentation, AT: AUTOMERGE

#10351 NOX: Fix missing initialization of variables in NOX::Solver::TensorBased
  packages/nox/src/NOX_Solver_TensorBased.C
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#8327 WIP: Tpetra kokkos counter regression test
  packages/tpetra/core/test/KokkosIntegration/ApiTest.cpp
  packages/tpetra/core/test/KokkosIntegration/ApiTest.h
  packages/tpetra/core/test/KokkosIntegration/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/Intercept.cpp
  packages/tpetra/core/test/KokkosIntegration/KokkosDeepcopy.cpp
Labels: AT: STALE

#10352 Panzer: fix issue with gcc 11 and view of views
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisTimesScalar_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisTimesScalar_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Framework, client: Drekar, AT: PRE-TEST INSPECTED

#10344 PyTrilinos: Fix Tpetra bindings when compiled with -DTpetra_INST_INT_…
  packages/PyTrilinos/cmake/PyTrilinos_config.h.in
  packages/PyTrilinos/src/Tpetra.i
Labels: pkg: Tpetra, pkg: PyTrilinos

#10364 Ctest/Drivers: Testing updates for ascicgpu031 and lightsaber
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_nouvm_ascicgpu031_crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_deprecated_ascicgpu031_crs.cmake
  cmake/ctest/drivers/ascicgpu031/ctest_linux_nightly_mpi_debug_uvm_nodeprecated_ascicgpu031_crs.cmake
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: AT: AUTOMERGE

#10370 Ifpack2: add nnz for ILU factor descriptions
  packages/ifpack2/doc/UsersGuide/ifpack2guide.pdf
  packages/ifpack2/doc/UsersGuide/options.tex
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/muelu/test/interface/default/Output/default_mhd_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/default_mhd_tpetra.gold
  packages/muelu/test/interface/default/Output/smoother13_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_mhd_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/default_mhd_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/smoother13_tpetra.gold
Labels: type: enhancement, pkg: Ifpack2, AT: AUTOMERGE

#10357 Panzer: Use HGRAD_*_Cn instead of HGrad_*_C2
  packages/panzer/disc-fe/src/Panzer_IntrepidBasisFactory.hpp
  packages/panzer/disc-fe/test/evaluator_tests/dof_basistobasis.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10372 Tempus: Cleanup Validation of ParameterLists
  packages/piro/src/Piro_TempusSolverForwardOnly_Def.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyBasicVS.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyComposite.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyConstant.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
Labels: type: enhancement, pkg: Tempus, AT: AUTOMERGE

#10375 Cmake: Fixing nightlies
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.crs.cmake
  cmake/ctest/drivers/ascicgpu031/TrilinosCTestDriverCore.ascicgpu031.gcc-cuda.sake.cmake
Labels: AT: AUTOMERGE

#10367 PyTrilinos: Add a cmake define for HAVE_TPETRA_INST_INT_LONG_LONG.
  packages/PyTrilinos/cmake/PyTrilinos_config.h.in
  packages/PyTrilinos/src/CMakeLists.txt
  packages/PyTrilinos/src/Tpetra.i
Labels: pkg: PyTrilinos

#10376 Tpetra: Making cmake happy
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
Labels: AT: AUTOMERGE

#10377 Panzer fix initialization issue in Integrator_BasisTimesVector
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, client: Drekar, AT: PRE-TEST INSPECTED
