Repository trilinos/Trilinos, pull requests merged in 2022-11, with the labels that each got.

#11216 Ctest: Lightsaber updates
  cmake/ctest/drivers/lightsaber/cron_driver.sh
Labels: AT: AUTOMERGE

#11215 MueLu: Cleanup up matrix dumping
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: AT: AUTOMERGE

#11217 Ifpack2: fix bug when import/export not needed to combine overlap when performing block relaxation in serial
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_Details_UserPartitioner_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11223 Ctest: Well, that was fun while it lasted
  cmake/ctest/drivers/lightsaber/cron_driver.sh
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_sycl_cpu_lightsaber.cmake
Labels: AT: AUTOMERGE

#11221 Tpetra: De-CUDA-ification as per @seanofthemillers
  packages/tpetra/CMakeCuda.txt
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_allReduceView.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/Behavior/Behavior_Default.cpp
  packages/tpetra/core/test/Behavior/Behavior_Off.cpp
  packages/tpetra/core/test/Behavior/Behavior_On.cpp
  packages/tpetra/core/test/Comm/CMakeLists.txt
  packages/tpetra/core/test/Comm/gpuAwareMpi.cpp
  packages/tpetra/core/test/Comm/gpuMpi_CanaryTest.cpp
  packages/tpetra/core/test/Distributor/Issue1454.cpp
Labels: pkg: Tpetra

#11225 Lightsaber: Enable Float+Double to allow for multiprecision
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#11227 Lightsaber: Modify package enables for multiprecision
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10758 Stokhos: support for custom types in `Sacado::MP::Vector`
  packages/stokhos/src/sacado/kokkos/Stokhos_DynamicStorage.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_DynamicStridedStorage.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_DynamicThreadedStorage.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_StaticFixedStorage.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_StaticStorage.hpp
  packages/stokhos/src/sacado/kokkos/Stokhos_StorageHelpers.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector_ops.hpp
  packages/stokhos/test/UnitTest/CMakeLists.txt
  packages/stokhos/test/UnitTest/Stokhos_ExponentialRandomFieldUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixMPVectorUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewFadMPVectorUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewMPVectorUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosViewUQPCEUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoMPVectorUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoMPVectorUnitTest_MaskTraits.cpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoUQPCECommTests.cpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoUQPCESerializationTests.cpp
  packages/stokhos/test/UnitTest/Stokhos_SacadoUQPCEUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_UnitTestBase.cpp
  packages/stokhos/test/UnitTest/Stokhos_UnitTestHelpers.hpp
Labels: AT: AUTOMERGE

#11233 Ifpack2: Upgrading BlockTriDi example
  packages/ifpack2/example/BlockTriDi.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11238 Lightsaber: Enable Stratimikos examples & tests
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_float_lightsaber.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#11232 Tacho : fix segfalut with LDLt using multiple CUDA streams
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
Labels: pkg: ShyLU

#11242 NOX: fix logic to disable tests if ifpack2 is disabled
  packages/nox/test/CMakeLists.txt
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers, AT: PRE-TEST INSPECTED

#11134 Trilinos 13 4 superlu dist 8 patch
  packages/amesos2/src/Amesos2_Superludist_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: pkg: Amesos2

#11246 Panzer: fix issue with uvm=off in Dirichlet_Residual_EdgeBasis
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_EdgeBasis_impl.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#11245 Intrepid2: fix shadow variables
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HCURL_TET.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_TET.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_HEX_C1_FEM/test_02.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_LINE_C1_FEM/test_01.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_QUAD_C1_FEM/test_01.hpp
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_QUAD_C2_FEM/test_01.hpp
Labels: pkg: Intrepid2, client: Sierra, PA: Discretizations

#11252 Update Version.cmake for 13.4.1 patch release
  Version.cmake
Labels: client: xSDK

#11120 Tpetra: Reduce device-to-host memcpy calls in non-uvm builds
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/Block/BlockMultiVector.cpp
Labels: type: enhancement, pkg: Tpetra

#11266 AztecOO: fix misleading indentation
  packages/aztecoo/src/az_precond.c
Labels: pkg: AztecOO, AT: AUTOMERGE

#11161 Cleanup warnings and refactor deprecated code
  packages/aztecoo/src/az_gmres_condnum.c
  packages/aztecoo/src/az_scaling.c
  packages/belos/tpetra/src/solvers/Belos_Tpetra_SolverManagerBase.hpp
  packages/epetraext/src/coloring/EpetraExt_MapColoring.cpp
  packages/ml/src/Operator/ml_op_utils.c
  packages/ml/src/Operator/ml_rap_utils.c
  packages/stratimikos/adapters/belos/src/Thyra_BelosTpetrasSolverAdapter.hpp
  packages/zoltan/src/lb/lb_init.c
  packages/zoltan/src/params/free_params.c
Labels: pkg: Belos, pkg: Epetra, pkg: AztecOO, pkg: EpetraExt, pkg: ML, pkg: Zoltan, AT: STALE

#11230 Teuchos: Fixes errors in LAPACK wrappers
  packages/teuchos/numerics/src/Teuchos_LAPACK.cpp
  packages/teuchos/numerics/src/Teuchos_LAPACK.hpp
  packages/teuchos/numerics/src/Teuchos_LAPACK_wrappers.hpp
  packages/teuchos/numerics/test/LAPACK/cxx_main.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#11251 tpetra: drop device views before requesting host in `TPETRA_VERBOSE=1`
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
Labels: pkg: Tpetra

#11265 tpetra: toLayout routine compatibility update
  packages/tpetra/core/src/Tpetra_Details_temporaryViewUtils.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11278 KokkosKernels: Fix #11033
  packages/kokkos-kernels/src/sparse/KokkosSparse_Utils_mkl.hpp
Labels: impacting: configure or build, pkg: KokkosKernels, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11254 tpetra: make distributor plan createFromSends throw on bad proc ID when `TPETRA_DEBUG=1`
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
Labels: pkg: Tpetra

#11277 doxygen: improvements for amesos2, intrepid2 and kokkos
  packages/amesos2/doc/Doxyfile
  packages/intrepid2/doc/Doxyfile
Labels: AT: AUTOMERGE

#11248 tpetra: compares no. of packed values to packed row pointers
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11281 panzer: update to remove use of deprecated code
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotTensorTimesVector_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11282 TrilinosCouplings: check if MueLu enabled
  packages/trilinoscouplings/examples/scaling/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp
  packages/trilinoscouplings/examples/scaling/example_Maxwell.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_p2_tpetra.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson2D_pn_tpetra.cpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE

#11283 PIRO: fix bug with ostream
  packages/piro/src/Piro_PerformAnalysis.cpp
Labels: pkg: Piro, client: EMPIRE, AT: AUTOMERGE, ATDM Sev: Blocker, PA: Nonlinear Solvers, AT: PRE-TEST INSPECTED

#11287 Add missing Stokhos_StorageHelpers.hpp to sources list
  packages/stokhos/src/CMakeLists.txt
Labels: pkg: Stokhos, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11229 Clean up ATDM builds for CMake upgrade (#10355)
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_clang-9.0.1_serial_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_cuda-10.1.243_gnu-7.2.0_static_opt.sh
  cmake/ctest/drivers/atdm/cee-rhel7/drivers/Trilinos-atdm-cee-rhel7_mini-no-mpi_gnu-7.2.0_serial_static_opt.sh
  cmake/ctest/drivers/atdm/tlcc2/drivers/Trilinos-atdm-tlcc2-intel-debug-openmp.sh
  cmake/ctest/drivers/atdm/tlcc2/drivers/Trilinos-atdm-tlcc2-intel-opt-openmp.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.0_openmpi-4.0.2_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.3_openmp_static_opt.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.5_openmp_static_dbg.sh
  cmake/ctest/drivers/atdm/van1-tx2/drivers/Trilinos-atdm-van1-tx2_arm-20.1_openmpi-4.0.5_openmp_static_opt.sh
  cmake/std/atdm/ATDMDisables.cmake
Labels: ATDM Config, AT: AUTOMERGE

#11289 Ifpack2: fix wrapped dualview error
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson2DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson3DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidStructuredPoissonExample.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_NoFE_Tpetra.cpp
Labels: pkg: MueLu, pkg: Ifpack2, pkg: TrilinosCouplings, AT: AUTOMERGE

#11290 Piro: use implicitly defined adjoint model evaluator for transient sensitivities
  packages/piro/src/Piro_TempusSolver_Def.hpp
  packages/piro/test/Piro_TempusSolver_AdjointSensitivitySinCosUnitTests.cpp
Labels: type: enhancement, pkg: Piro, AT: AUTOMERGE

#11288 Panzer: fix lifetimes of local views in FaceToElement
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, ATDM Sev: Blocker, PA: Discretizations, AT: PRE-TEST INSPECTED

#11218 Tpetra: (local map) device default constructor fix for #11186
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
  packages/tpetra/core/src/Tpetra_Details_LocalMap.hpp
  packages/tpetra/core/test/Map/Map_LocalMap.cpp
Labels: pkg: Tpetra

#11226 fix Zoltan CMake config
  packages/zoltan/test/ch_7944/CMakeLists.txt
  packages/zoltan/test/ch_simple/CMakeLists.txt
Labels: AT: AUTOMERGE

#11308 Kokkos-Kernels: Disable compile-time check on supported scalar types for cuSPARSE
  packages/kokkos-kernels/src/sparse/KokkosSparse_Utils_cusparse.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE

#11311 Ifpack2: Call cuSPARSE SPTRSV if scalar type is supported by cuSPARSE
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11013 Use C99 Datatype for return value of complex blas functions
  packages/teuchos/numerics/src/Teuchos_BLAS_wrappers.hpp
Labels: pkg: Teuchos

#11312 Panzer: move dirichlet residual face basis computation to device
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_FaceBasis_impl.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, ATDM Sev: Blocker, PA: Discretizations, AT: PRE-TEST INSPECTED

#11313 STK: Snapshot 11-28-22 08:16
  packages/stk/stk_integration_tests/stk_io/IntegrationTestStkIo.cpp
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_tools/stk_tools/mesh_clone/MeshClone.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestPartAlias.cpp
  packages/stk/stk_unit_tests/stk_tools/mesh_clone/UnitTestMeshClone.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11314 Panzer: allow users to scale the output exodus fields
  packages/panzer/adapters-stk/src/Panzer_STK_IOClosureModel_Factory.cpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_decl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgVector_decl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgVector_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellQuantity_decl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellQuantity_impl.hpp
  packages/panzer/adapters-stk/src/responses/Panzer_STK_ResponseEvaluatorFactory_SolutionWriter_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#11295 Tempus: Example Problem to Use ModelEvaluator
  packages/tempus/doc/index.doc
  packages/tempus/examples/00_Basic_Problem/00_Basic_Problem.cpp
  packages/tempus/examples/01_Utilize_Thyra/01_Utilize_Thyra.cpp
  packages/tempus/examples/02_Use_ModelEvaluator/02_Use_ModelEvaluator.cpp
  packages/tempus/examples/02_Use_ModelEvaluator/CMakeLists.txt
  packages/tempus/examples/02_Use_ModelEvaluator/VanDerPol_ModelEvaluator_02.cpp
  packages/tempus/examples/02_Use_ModelEvaluator/VanDerPol_ModelEvaluator_02.hpp
  packages/tempus/examples/CMakeLists.txt
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_TimeEventComposite.hpp
Labels: pkg: Tempus

#11317 tpetra: Remove unused `execSpace` parameter from checkMapInputArray
  packages/tpetra/core/src/Tpetra_Map_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11319 README: Update the README to point users to the Trilinos package owners wiki
  README.md
Labels: type: enhancement, AT: AUTOMERGE
