Repository trilinos/Trilinos, pull requests merged in 2022-01, with the labels that each got.

#10044 Stokhos: Include power_of_two from Kokkos
  packages/stokhos/src/kokkos/Stokhos_CrsProductTensor.hpp
  packages/stokhos/src/kokkos/Stokhos_Multiply.hpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10031 STK: Snapshot 12-16-21 11:58
  packages/krino/cmake_install_test/build_Trilinos_krino_package.sh
  packages/krino/cmake_install_test/build_sierra_krino_as_Trilinos_package.sh
  packages/krino/cmake_install_test/load_gcc_modules
  packages/krino/cmake_install_test/run_cmake_krino
  packages/krino/cmake_install_test/run_cmake_krino_pull_request
  packages/krino/krino/krino_lib/Akri_CDMesh.cpp
  packages/krino/krino/krino_lib/Akri_CDMesh.hpp
  packages/krino/krino/krino_lib/Akri_Eikonal_Calc.cpp
  packages/krino/krino/krino_lib/Akri_Eikonal_Calc.hpp
  packages/krino/krino/krino_lib/Akri_Fast_Marching.cpp
  packages/krino/krino/krino_lib/Akri_Fast_Marching.hpp
  packages/krino/krino/krino_lib/Akri_MeshClone.cpp
  packages/krino/krino/krino_lib/Akri_MeshHelpers.cpp
  packages/krino/krino/krino_lib/Akri_Phase_Support.cpp
  packages/krino/krino/krino_lib/Akri_Phase_Support.hpp
  packages/krino/krino/unit_tests/Akri_Unit_Analytic_CDMesh.cpp
  packages/krino/krino/unit_tests/Akri_Unit_CDMesh.cpp
  packages/krino/krino/unit_tests/Akri_Unit_Part_Decomposition_Fixture.cpp
  packages/krino/krino/unit_tests/Akri_Unit_Phase_Support.cpp
  packages/percept/src/adapt/main/MeshAdapt.cpp
  packages/percept/src/percept/FieldTypes.hpp
  packages/percept/src/percept/PerceptMesh.cpp
  packages/percept/src/percept/mesh/geometry/stk_geom/3D/FitGregoryPatchesPBGL.cpp
  packages/stk/stk_integration_tests/stk_mesh_doc/IntegrationTestBulkData.cpp
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_io/stk_io/ProcessSetsOrBlocks.cpp
  packages/stk/stk_mesh/stk_mesh/base/DataTraits.cpp
  packages/stk/stk_mesh/stk_mesh/base/Field.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldDataManager.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/FieldRepository.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/FieldRepository.hpp
  packages/stk/stk_simd/stk_simd/SimdBool.hpp
  packages/stk/stk_simd/stk_simd/SimdBoolF.hpp
  packages/stk/stk_tools/stk_tools/mesh_clone/MeshClone.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/MeshFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMesh.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMeshFixture.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMeshFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMeshStkTopologyMapping.hpp
  packages/stk/stk_unit_tests/stk_io/UnitTestFieldTypes.cpp
  packages/stk/stk_unit_tests/stk_io/UnitTestIossTextMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestFieldDataManager.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestStkTextMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestTextMesh.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestTextMeshFixture.hpp
  packages/stk/stk_unit_tests/stk_ngp_test/utest_VirtualFunction.cpp
  packages/stk/stk_unit_tests/stk_util/ngp/UnitTestNgpVirtualFunction.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#10035 Tempus: Deprecate Some Functions
  packages/tempus/src/Tempus_Integrator.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorBasicOld_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_SolutionState_decl.hpp
  packages/tempus/src/Tempus_StepperHHTAlpha_impl.hpp
  packages/tempus/src/Tempus_StepperIMEX_RK_Partition_impl.hpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_StepperImplicit_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_impl.hpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitDForm_impl.hpp
  packages/tempus/src/Tempus_Stepper_decl.hpp
  packages/tempus/src/Tempus_Stepper_impl.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategy.hpp
  packages/tempus/src/Tempus_TimeStepControl_decl.hpp
Labels: pkg: Tempus

#10038 Framework: Python3 build: Fix/move to SEMS-archive TPLs
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE

#10061 Sacado: Add overloaded function scalarValue() for extracting scalars.
  packages/sacado/src/Sacado_Traits.hpp
  packages/sacado/test/UnitTests/Fad_KokkosTests.hpp
Labels: pkg: Sacado, client: ATDM, AT: AUTOMERGE

#10041 Panzer: fix periodic bc matcher for HDiv gid passing 32bit int limit
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_PeriodicBC_Matcher.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/CMakeLists.txt
  packages/panzer/adapters-stk/test/periodic_bcs/README.txt
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_32bit_int_limit.cpp
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_32bit_int_limit.exo
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_32bit_int_limit.jou
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#10039 Zoltan2: reduce output in GraphModel unit test
  packages/zoltan2/test/core/unit/models/GraphModel.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#10000 Tpetra CrsMatrix: Add CombineMode option to "insertLocalValues"
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: pkg: Tpetra

#10064 MueLu: update ssh-agent utility script
  packages/muelu/utils/misc/setSshEnv.python
Labels: pkg: MueLu, AT: AUTOMERGE

#10054 MueLu: build restriction with semicoarsening
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_multigrid.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Transfers/Generic/MueLu_RfromP_Or_TransP_decl.hpp
  packages/muelu/src/Transfers/Generic/MueLu_RfromP_Or_TransP_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_decl.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_TogglePFactory_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_RfromP_Or_TransP_fwd.hpp
  packages/muelu/test/toggletransfer/CMakeLists.txt
  packages/muelu/test/toggletransfer/parameters_semi_tentWithR.xml
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/SemiCoarsenPFactoryWithSemiRestriction.cpp
  packages/muelu/test/unit_tests/TestMatrices/semiRblkTestver.mm
Labels: pkg: MueLu, AT: AUTOMERGE

#10062 Tempus: Remove IntegratorBasicOld PART 2
  packages/piro/src/Piro_TempusIntegrator.hpp
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/deprecated/CMakeLists.txt
  packages/tempus/src/deprecated/Readme.txt
  packages/tempus/src/deprecated/Tempus_IntegratorBasicOld.cpp
  packages/tempus/src/deprecated/Tempus_IntegratorBasicOld_decl.hpp
  packages/tempus/src/deprecated/Tempus_IntegratorBasicOld_impl.hpp
Labels: type: enhancement, pkg: Tempus, AT: AUTOMERGE

#9832 MueLu: Improve code coverage
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_decl.hpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/AmalgamationInfo.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/CoalesceDropFactory.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
  packages/muelu/test/unit_tests/LWGraph.cpp
  packages/muelu/test/unit_tests/PgPFactory.cpp
  packages/muelu/test/unit_tests/RebalanceAcFactory.cpp
  packages/muelu/test/unit_tests/UncoupledAggregationFactory.cpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/AmalgamationInfo_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/CMakeLists.txt
  packages/muelu/test/unit_tests_kokkos/UncoupledAggregationFactory_kokkos.cpp
Labels: type: enhancement, pkg: MueLu, AT: PRE-TEST INSPECTED

#10067 Testing: sync all the ssh-agent scripts
  cmake/ctest/drivers/ascicgpu031/setSshEnv.py
  cmake/ctest/drivers/geminga/setSshEnv.py
  cmake/ctest/drivers/lightsaber/setSshEnv.py
  cmake/ctest/drivers/rocketman/setSshEnv.py
  cmake/ctest/drivers/typhon/setSshEnv.python
  packages/muelu/utils/misc/setSshEnv.python
Labels: pkg: MueLu

#10027 MueLu: Fix failing CuthillMcKee tests
  packages/muelu/test/unit_tests_kokkos/Utilities_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10070 packages/framework: Update ini file
  packages/framework/pr_tools/trilinos_pr.ini
Labels: AT: AUTOMERGE, PA: Framework

#10072 Panzer: fix uninitialized variable
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Quad8ToQuad4MeshFactory.cpp
Labels: pkg: Panzer, client: ATDM, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations

#10074 Finish transition from sems-xyz to sems-archive-xyz (SEHELPD-2963)
  cmake/load_sems_dev_env.sh
Labels: type: bug, Framework tasks, AT: AUTOMERGE, PA: Framework

#10077 Attempt to fix nightlies on geminga
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
  cmake/ctest/drivers/geminga/cron_driver.sh
Labels: pkg: MueLu

#10073 Tempus: Changes in support of pseudo-transient adjoint sensitivities for SPARC
  packages/tempus/src/Tempus_AdjointSensitivityModelEvaluator_decl.hpp
  packages/tempus/src/Tempus_AdjointSensitivityModelEvaluator_impl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_decl.hpp
  packages/tempus/src/Tempus_StepperStaggeredForwardSensitivity_impl.hpp
Labels: pkg: Tempus, client: ATDM, AT: AUTOMERGE

#10028 Patch in Kokkos Kernels #1204 to fix #9856
  packages/anasazi/tpetra/test/MVOPTester/MultiVecTraitsTest2.cpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_dot_mv_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_dot_spec.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_iamax_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_nrm1_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_nrm2_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_nrm2w_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_nrminf_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas1_sum_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas3_gemm_dotbased_impl.hpp
  packages/kokkos-kernels/src/blas/impl/KokkosBlas_util.hpp
Labels: type: enhancement, pkg: KokkosKernels, AT: AUTOMERGE

#10084 Ifpack2 FastILU: Fix MV access
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
Labels: pkg: Ifpack2

#10079 ShyLU_DDD/FROSch: fix build without Tpetra deprecated code
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_decl.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
Labels: pkg: ShyLU

#10091 Geminga: Fix cron driver
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/cron_driver.sh
Labels: pkg: MueLu

#10092 Tpetra: remove unused device_type typedef in functor
  packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp
Labels: pkg: Kokkos, pkg: Tpetra

#10095 MueLu: Add parameter translation for ML Maxwell1
  packages/muelu/adapters/xpetra/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/test/maxwell/CMakeLists.txt
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/maxwell/Maxwell_ML1_MueLu.xml
Labels: pkg: MueLu

#10103 Driver: Lightsaber update
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/lightsaber/cron_driver.csh
  cmake/ctest/drivers/lightsaber/ctest_linux_experimental_mpi_release_avatar_lightsaber.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10104 Enigma, Rocketman, Trappist: update nightlies
  cmake/ctest/drivers/eleanor/CMakeLists.txt
  cmake/ctest/drivers/eleanor/TrilinosCTestDriverCore.eleanor.gcc.cmake
  cmake/ctest/drivers/eleanor/cron_driver.sh
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_mpi_release_muelu_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_debug_muelu_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_debug_muelu_epetra_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_debug_muelu_extratypes_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_debug_muelu_tpetra_eleanor.cmake
  cmake/ctest/drivers/eleanor/ctest_linux_nightly_serial_release_muelu_experimental_eleanor.cmake
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/enigma/cron_driver.sh
  cmake/ctest/drivers/enigma/muelu-gcc.lua
  cmake/ctest/drivers/magret/CMakeLists.txt
  cmake/ctest/drivers/magret/TrilinosCTestDriverCore.magret.gcc.cmake
  cmake/ctest/drivers/magret/cron_driver.sh
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_epetra_magret.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_extratypes_ei_magret.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_extratypes_magret.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_magret.cmake
  cmake/ctest/drivers/magret/ctest_linux_nightly_serial_debug_muelu_tpetra_magret.cmake
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/rocketman/cron_driver.sh
  cmake/ctest/drivers/rocketman/muelu-gcc.lua
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.clang.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.gcc.cmake
  cmake/ctest/drivers/trappist/cron_driver.sh
  cmake/ctest/drivers/trappist/ctest_linux_nightly_mpi_experimental_openmp_refactor_muelu_trappist.gcc.cmake
  cmake/ctest/drivers/trappist/muelu-clang.lua
  cmake/ctest/drivers/trappist/muelu-gcc.lua
  cmake/ctest/drivers/typhon/CMakeLists.txt
  cmake/ctest/drivers/typhon/TrilinosCTestDriverCore.typhon.clang.cmake
  cmake/ctest/drivers/typhon/TrilinosCTestDriverCore.typhon.gcc.cmake
  cmake/ctest/drivers/typhon/cron_driver.sh
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_debug_muelu_extratypes_ei_typhon_clang.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_debug_muelu_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_mpi_release_muelu_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_debug_muelu_epetra_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_debug_muelu_extratypes_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_debug_muelu_tpetra_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_debug_muelu_typhon.cmake
  cmake/ctest/drivers/typhon/ctest_linux_nightly_serial_release_muelu_experimental_typhon.cmake
  cmake/ctest/drivers/typhon/valgrind_suppressions_typhon_mpich2_1.4.1p1.txt
Labels: pkg: MueLu

#10106 Driver: More lightsaber fixes
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/lightsaber/cron_driver.csh
Labels: pkg: MueLu, AT: AUTOMERGE

#9941 MueLu: convert nullspace dimension error to warning
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_misc.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10109 Drivers: Lightsaber again
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/lightsaber/cron_driver.csh
Labels: AT: AUTOMERGE

#10096 Piro: remove extraneous print statement.
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter_Def.hpp
Labels: pkg: Piro, AT: AUTOMERGE, client: Albany

#10110 Piro: add routines to disable initial acceleration solve in Trap. Rule stepper
  packages/piro/src/Piro_TrapezoidRuleSolver.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
Labels: AT: AUTOMERGE, client: LCM

#10083 Tempus: Setup First Example Problem
  packages/tempus/CMakeLists.txt
  packages/tempus/doc/Doxyfile
  packages/tempus/doc/Doxyfile.options
  packages/tempus/doc/index.doc
  packages/tempus/doc/index.dox
  packages/tempus/examples/00_Basic_Problem/00_Basic_Problem.cpp
  packages/tempus/examples/00_Basic_Problem/CMakeLists.txt
  packages/tempus/examples/CMakeLists.txt
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity_impl.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
Labels: impacting: documentation, pkg: Tempus, AT: AUTOMERGE

#10102 UMR as optional external package in Panzer
  PackagesList.cmake
  packages/panzer/adapters-stk/CMakeLists.txt
  packages/panzer/adapters-stk/cmake/Dependencies.cmake
  packages/panzer/adapters-stk/cmake/PanzerAdaptersSTK_config.hpp.in
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/2block_cylinders_30deg.g
  packages/panzer/adapters-stk/test/stk_interface_test/meshes/2block_cylinders_30deg.stp
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusReaderFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPamgenMeshFactory.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations
