Repository trilinos/Trilinos, pull requests merged in 2022-10, with the labels that each got.

#10991 Belos/Thyra: Remove extra fences after Tpetra multiply in Belos and Thyra interfaces.
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraMultiVector_def.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraVector_def.hpp
Labels: pkg: Belos, pkg: Thyra, AT: STALE, AT: AUTOMERGE

#11093 Change TriBITS/Trilinos TPLs to use find_package(CUDATookit) to fix builds with downstream customers using find_package(CUDATookit) (#10954)
  cmake/TPLs/FindTPLCUBLAS.cmake
  cmake/TPLs/FindTPLCUBLASDependencies.cmake
  cmake/TPLs/FindTPLCUSPARSE.cmake
  cmake/TPLs/FindTPLCUSPARSEDependencies.cmake
  cmake/tribits/CHANGELOG.md
  cmake/tribits/ci_support/TribitsWriteXmlDependenciesFiles.cmake
  cmake/tribits/ci_support/get-tribits-packages-from-files-list.py
  cmake/tribits/ci_support/get-tribits-packages.py
  cmake/tribits/core/package_arch/TribitsAddAdvancedTest.cmake
  cmake/tribits/core/package_arch/TribitsAddExecutable.cmake
  cmake/tribits/core/package_arch/TribitsAddLibrary.cmake
  cmake/tribits/core/package_arch/TribitsAddOptionAndDefine.cmake
  cmake/tribits/core/package_arch/TribitsAddTest.cmake
  cmake/tribits/core/package_arch/TribitsAdjustPackageEnables.cmake
  cmake/tribits/core/package_arch/TribitsCopyFilesToBinaryDir.cmake
  cmake/tribits/core/package_arch/TribitsExternalPackageFindTplHelpers.cmake
  cmake/tribits/core/package_arch/TribitsFindMostRecentFileTimestamp.cmake
  cmake/tribits/core/package_arch/TribitsGeneralMacros.cmake
  cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake
  cmake/tribits/core/package_arch/TribitsListHelpers.cmake
  cmake/tribits/core/package_arch/TribitsPackageDefineDependencies.cmake
  cmake/tribits/core/package_arch/TribitsPackageDependencies.cmake
  cmake/tribits/core/package_arch/TribitsPackageMacros.cmake
  cmake/tribits/core/package_arch/TribitsPrintDependencyInfo.cmake
  cmake/tribits/core/package_arch/TribitsPrintEnabledPackagesLists.cmake
  cmake/tribits/core/package_arch/TribitsProcessEnabledTpl.cmake
  cmake/tribits/core/package_arch/TribitsProcessExtraRepositoriesList.cmake
  cmake/tribits/core/package_arch/TribitsProcessPackagesAndDirsLists.cmake
  cmake/tribits/core/package_arch/TribitsProcessTplsLists.cmake
  cmake/tribits/core/package_arch/TribitsProjectImpl.cmake
  cmake/tribits/core/package_arch/TribitsReadAllProjectDepsFilesCreateDepsGraph.cmake
  cmake/tribits/core/package_arch/TribitsReadDepsFilesCreateDepsGraph.cmake
  cmake/tribits/core/package_arch/TribitsSystemDataStructuresMacrosFunctions.rst
  cmake/tribits/core/package_arch/TribitsTplFindIncludeDirsAndLibraries.cmake
  cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake
  cmake/tribits/core/std_tpls/FindTPLCUDA.cmake
  cmake/tribits/core/utils/PrintNonemptyVarWithSpaces.cmake
  cmake/tribits/ctest_driver/TribitsAddDashboardTarget.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCore.cmake
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableAllPackages.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableEpetra_EnableRTOp_DisableTeuchos.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableEpetra_EnableRTOp_DisableTeuchos_DisableEnabledFwdDepPackages.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyraCoreLibs_EnableTests.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyraEpetra_EnableTests.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyra_DisableEpetra_EnableTests.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyra_EnableTests.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyra_EnableTests_EnableBoost_ST.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/EnableThyra_EnableTests_EnableBoost_ST_RequiredOnly.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/ExpectedDependencies.txt
  cmake/tribits/doc/guides/ReducedMockTrilinosOutput/NoEnables.txt
  cmake/tribits/doc/guides/TribitsCoreDetailedReference.rst
  cmake/tribits/doc/guides/TribitsDesignConsiderations.rst
  cmake/tribits/doc/guides/TribitsGuidesBody.rst
  cmake/tribits/doc/guides/TribitsSystemMacroFunctionDocTemplate.rst
  cmake/tribits/doc/guides/maintainers_guide/TribitsMaintainersGuide.rst
  cmake/tribits/doc/guides/users_guide/TribitsUsersGuide.rst
  cmake/tribits/examples/TribitsExampleProject/packages/with_subpackages/b/tests/testlib/ShowLibErrors.cmake
Labels: type: bug, type: enhancement, impacting: configure or build, AT: AUTOMERGE, TriBITS, PA: Framework

#11108 Seacas snapshot zellij oct 2022
  packages/seacas/applications/zellij/CMakeLists.txt
  packages/seacas/applications/zellij/Doxyfile
  packages/seacas/applications/zellij/Grid.C
  packages/seacas/applications/zellij/Grid.h
  packages/seacas/applications/zellij/ZE_SystemInterface.C
  packages/seacas/applications/zellij/ZE_SystemInterface.h
  packages/seacas/applications/zellij/ZE_Version.h
  packages/seacas/applications/zellij/Zellij.C
  packages/seacas/applications/zellij/Zellij.md
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, AT: PRE-TEST INSPECTED

#11082 stk: remove use of Kokkos::finalize_all
  packages/stk/stk_ngp_test/stk_ngp_test/ngp_test.cpp
Labels: pkg: STK

#11112 Tpetra: Removing floating point hard-equality check in test
  packages/tpetra/core/test/MatrixMatrix/FECrs_MatrixMatrix_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11119 Revert PR 10991
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraMultiVector_def.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraVector_def.hpp
Labels: pkg: Tpetra, pkg: Belos, pkg: Thyra, AT: AUTOMERGE

#11114 Intrepid2: loosen tolerance of HVol basis equivalent test
  packages/intrepid2/unit-test/MonolithicExecutable/BasisEquivalenceTests_Wedge.cpp
Labels: pkg: Intrepid2, AT: AUTOMERGE, PA: Discretizations

#11128 SEACAS: Fix pepu build
  packages/seacas/applications/epu/pepu.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany, AT: PRE-TEST INSPECTED

#11131 Teuchos: Fix parallel XML reader to correctly handle special characters
  packages/teuchos/comm/test/ParameterList/ParameterList_UnitTest_Parallel.cpp
  packages/teuchos/comm/test/ParameterList/inputSpecialChars.xml
  packages/teuchos/parameterlist/src/Teuchos_XMLObjectImplem.cpp
Labels: pkg: Teuchos

#11130 Tempus: Tempus IntegratorBasic Termination Improvement
  packages/tempus/src/Tempus_IntegratorBasic_decl.hpp
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
  packages/tempus/test/CMakeLists.txt
  packages/tempus/test/DIRK/Tempus_DIRKTest.cpp
  packages/tempus/test/ExplicitRK/Tempus_ExplicitRKTest.cpp
  packages/tempus/test/ForwardEuler/Tempus_ForwardEulerTest.cpp
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RKTest.cpp
  packages/tempus/test/IMEX_RK/Tempus_IMEX_RK_FSA.hpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_PartitionedTest.cpp
  packages/tempus/test/IMEX_RK_Partitioned/Tempus_IMEX_RK_Partitioned_FSA.hpp
  packages/tempus/test/Integrator/CMakeLists.txt
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorTest.cpp
  packages/tempus/test/Leapfrog/Tempus_LeapfrogTest.cpp
  packages/tempus/test/Newmark/Tempus_NewmarkTest.cpp
  packages/tempus/test/OperatorSplit/Tempus_OperatorSplitTest.cpp
  packages/tempus/test/PhysicsState/Tempus_PhysicsStateTest.cpp
  packages/tempus/test/Subcycling/Tempus_SubcyclingTest.cpp
  packages/tempus/test/Trapezoidal/Tempus_TrapezoidalTest.cpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_IntegratorBasic_default.xml
  packages/tempus/unit_test/Tempus_IntegratorBasic_ref.xml
  packages/tempus/unit_test/Tempus_UnitTest_ERK_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_ForwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IMEX_RK_Partition.cpp
  packages/tempus/unit_test/Tempus_UnitTest_IntegratorBasic.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventList.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventListIndex.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventRangeIndex.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeStepControl.cpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeStepControlStrategyBasicVS.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Utils.hpp
Labels: type: enhancement, pkg: Tempus

#11132 Amesos2: Fix failing Epetra test
  packages/amesos2/test/adapters/Epetra_RowMatrix_Adapter_UnitTests.cpp
Labels: pkg: Amesos2

#11092 ci: add minimum GitHub token permissions for workflows
  .github/workflows/stale.yml
  .github/workflows/tpetra_muelu_label_to_project.yml
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11094 Stratimikos: New Tpetra stratimikos ex/test
  packages/amesos/test/Test_Basic/In_FourByFour.mtx
  packages/stratimikos/cmake/Dependencies.cmake
  packages/stratimikos/test/CMakeLists.txt
  packages/stratimikos/test/Makefile.in
  packages/stratimikos/test/TpetraBelosTest.xml
  packages/stratimikos/test/TpetraSingReduceTest.xml
  packages/stratimikos/test/definition
  packages/stratimikos/test/galeri_xpetra_driver.cpp
  packages/stratimikos/test/test_belos_epetra_gcrodr.cpp
  packages/stratimikos/test/test_single_epetra_stratimikos_solver.cpp
  packages/stratimikos/test/test_single_epetra_stratimikos_solver.hpp
  packages/stratimikos/test/test_single_epetra_stratimikos_solver_driver.cpp
  packages/stratimikos/test/test_stratimikos_driver.cpp
  packages/stratimikos/test/test_thyra_tpetra_ifpack2_issue_535.cpp
  packages/stratimikos/test/test_tpetra_belos_ex.cpp
  packages/stratimikos/test/test_tpetra_stratimikos_solver.cpp
  packages/stratimikos/test/test_tpetra_stratimikos_solver.hpp
  packages/stratimikos/test/test_tpetra_stratimikos_solver_driver.cpp
Labels: pkg: Stratimikos

#10184 Zoltan2: Move creation of Models from Problems to Algorithms (during solve/color method)
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybrid2GL.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgHybridPD2.hpp
  packages/zoltan2/core/src/algorithms/color/Zoltan2_AlgSerialGreedy.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgAMD.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgMetis.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgND.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgNatural.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgRCM.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgRandom.hpp
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgSortedDegree.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgBlock.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgParMETIS.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgQuotient.hpp
  packages/zoltan2/core/src/input/Zoltan2_Adapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_GraphAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_MatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_MeshAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_VectorAdapter.hpp
  packages/zoltan2/core/src/models/Zoltan2_CommGraphModel.hpp
  packages/zoltan2/core/src/models/Zoltan2_CoordinateModel.hpp
  packages/zoltan2/core/src/models/Zoltan2_IdentifierModel.hpp
  packages/zoltan2/core/src/models/Zoltan2_Model.hpp
  packages/zoltan2/core/src/problems/Zoltan2_ColoringProblem.hpp
  packages/zoltan2/core/src/problems/Zoltan2_OrderingProblem.hpp
  packages/zoltan2/core/src/problems/Zoltan2_PartitioningProblem.hpp
  packages/zoltan2/core/src/problems/Zoltan2_Problem.hpp
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
  packages/zoltan2/sphynx/src/Zoltan2_SphynxProblem.hpp
  packages/zoltan2/test/core/driver/test_driver.cpp
  packages/zoltan2/test/core/order/orderingScotch.cpp
  packages/zoltan2/test/core/unit/models/CoordinateModel.cpp
  packages/zoltan2/test/core/unit/models/IdentifierModel.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#11135 Tpetra TSQR: fix lwork in LAPACK tester
  packages/framework/ini-files/config-specs.ini
  packages/tpetra/tsqr/test/Tsqr_TestNodeTsqr.cpp
Labels: type: bug, pkg: Tpetra

#11133 Frosch : fix how MV is accessed from Kokkos execution space
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_OverlappingOperator_def.hpp
Labels: pkg: ShyLU

#11145 STK: Snapshot 10-14-22 07:12
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_io/stk_io/ProcessSetsOrBlocks.cpp
  packages/stk/stk_io/stk_io/SidesetTranslator.hpp
  packages/stk/stk_math/stk_math/StkPlane.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetEntry.cpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetEntry.hpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetHelper.cpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetHelper.hpp
  packages/stk/stk_mesh/stk_mesh/base/SideSetUtil.cpp
  packages/stk/stk_mesh/stk_mesh/base/SidesetUpdater.cpp
  packages/stk/stk_mesh/stk_mesh/base/SidesetUpdater.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshModification.cpp
  packages/stk/stk_performance_tests/stk_mesh/timer.hpp
  packages/stk/stk_simd/stk_simd_view/simd_view.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/algorithmTimer.hpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkData.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestChangeParts.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestGhostingWithModification.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestSideSet.cpp
  packages/stk/stk_unit_tests/stk_util/algorithmTimerTest.cpp
  packages/stk/stk_unit_tests/stk_util/parallel/UnitTestParallelVectorConcat.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#11138 Ctest/Drivers: Update to lightsaber
  cmake/ctest/drivers/lightsaber/cron_driver.sh
Labels: AT: AUTOMERGE

#11146 rol: remove volatile from join in ROL_TpetraMultiVector.hpp
  packages/rol/adapters/tpetra/src/vector/ROL_TpetraMultiVector.hpp
Labels: AT: AUTOMERGE

#11149 rol: remove volatile from join in ROL_TpetraBoundConstraint.hpp
  packages/rol/adapters/tpetra/src/function/ROL_TpetraBoundConstraint.hpp
Labels: pkg: ROL, AT: AUTOMERGE

#11151 Geminga: Pass max-stracktrace to Valgrind to avoid Intrepid2 issues
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#11113 MueLu: Adding parameters to control performance and tracing of AMG
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/muelu/src/Utils/MueLu_TimeMonitor.cpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.cpp
  packages/tpetra/core/src/Tpetra_Details_Profiling.hpp
Labels: pkg: Tpetra, pkg: MueLu, AT: AUTOMERGE

#11142 Intrepid2: Fix some shadow variable warnings
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_TET.hpp
Labels: pkg: Intrepid2

#11157 Teko fix return of temporary address
  packages/teko/src/Epetra/Teko_EpetraHelpers.cpp
  packages/teko/src/Epetra/Teko_EpetraHelpers.hpp
Labels: pkg: Teko

#11154 Remove listing of undefined TPL deps (#11152)
  .gitdist.default
  packages/kokkos-kernels/cmake/Dependencies.cmake
  packages/kokkos/algorithms/cmake/Dependencies.cmake
  packages/kokkos/containers/cmake/Dependencies.cmake
  packages/kokkos/core/cmake/Dependencies.cmake
  packages/kokkos/simd/cmake/Dependencies.cmake
  packages/rythmos/cmake/Dependencies.cmake
  packages/seacas/libraries/aprepro_lib/cmake/Dependencies.cmake
  packages/seacas/libraries/exodus/cmake/Dependencies.cmake
  packages/seacas/libraries/ioss/cmake/Dependencies.cmake
  packages/zoltan/cmake/Dependencies.cmake
  packages/zoltan2/cmake/Dependencies.cmake
  packages/zoltan2/core/cmake/Dependencies.cmake
Labels: pkg: Kokkos, pkg: seacas, pkg: Zoltan2, pkg: Rythmos, pkg: Zoltan, pkg: KokkosKernels, AT: AUTOMERGE, PA: Framework

#11156 SEACAS: Add optional TPLs used by Seacas
  TPLsList.cmake
Labels: pkg: seacas, impacting: configure or build, AT: AUTOMERGE, PA: Data Services

#11105 adding automation script for daily table update
  README.md
  packages/framework/dailyTableUpdates/table_Automation.py
Labels: AT: AUTOMERGE

#11166 MueLu: fix simultaneous host/device access
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
Labels: pkg: MueLu, pkg: Panzer, AT: AUTOMERGE

#11148 FROSch : add option to use HalfPrecisionOperator
  packages/belos/tpetra/src/solvers/Belos_Tpetra_Krylov.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/FROSch_TpetraPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/FROSch_TpetraPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchFactory_def.hpp
  packages/shylu/shylu_dd/frosch/src/Adapters/Thyra_FROSchLinearOp_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_EntitySet_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_CoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_ExtractSubmatrices_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
  packages/shylu/shylu_dd/frosch/test/LocalPartitionOfUnityBasis/main.cpp
  packages/shylu/shylu_dd/frosch/test/Overlap/main.cpp
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/CMakeLists.txt
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_RGDSWPreconditioner_Klu_Half.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/main.cpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosTpetrasSolverAdapter.hpp
Labels: pkg: ShyLU

#11177 MueLu nightlies: Attempt to not pull extra repos
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc-cuda.cmake
  cmake/ctest/drivers/geminga/TrilinosCTestDriverCore.geminga.gcc.cmake
  cmake/ctest/drivers/rocketman/TrilinosCTestDriverCore.rocketman.gcc.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.clang.cmake
  cmake/ctest/drivers/trappist/TrilinosCTestDriverCore.trappist.gcc.cmake
Labels: pkg: MueLu

#11150 Overload Kokkos::Impl::as_view_of_rank_n for Sacado/Stokhos scalar types
  packages/kokkos/containers/src/Kokkos_DynRankView.hpp
  packages/kokkos/core/src/Kokkos_View.hpp
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
  packages/sacado/src/Kokkos_View_Fad_Fwd.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/pce/Kokkos_View_UQ_PCE_Fwd.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/Kokkos_View_MP_Vector_Fwd.hpp
Labels: pkg: Sacado, pkg: Stokhos, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11172 Teuchos: Add a constructor to Teuchos::RCP
  packages/teuchos/core/src/Teuchos_RCP.hpp
  packages/teuchos/core/src/Teuchos_RCPDecl.hpp
  packages/teuchos/core/test/MemoryManagement/RCP_UnitTests.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#11185 Piro: fix tests for cuda 11 builds
  packages/nox/src/NOX_Multiphysics_Solver_Generic.H
  packages/nox/src/NOX_Multiphysics_Solver_Manager.C
  packages/nox/src/NOX_Multiphysics_Solver_Manager.H
  packages/nox/src/NOX_Solver_Generic.H
  packages/piro/test/MockModelEval_A_Tpetra.cpp
Labels: pkg: NOX, pkg: Piro, client: ATDM, AT: AUTOMERGE, PA: Nonlinear Solvers, AT: PRE-TEST INSPECTED

#11188 Ctest: lightsaber update
  cmake/ctest/drivers/lightsaber/cron_driver.sh
Labels: AT: AUTOMERGE

#11162 STK: Snapshot 10-19-22 06:42
  packages/percept/src/adapt/AdaptedMeshVerifier.cpp
  packages/percept/src/adapt/HangingNodeAdapter.hpp
  packages/percept/src/adapt/TransitionElementAdapter.hpp
  packages/percept/src/adapt/UniformRefinerPattern.cpp
  packages/percept/src/adapt/main/RunAdaptRun.hpp
  packages/percept/src/adapt/markers/Marker.cpp
  packages/percept/src/percept/ExceptionWatch.hpp
  packages/percept/src/percept/PerceptMesh.cpp
  packages/percept/src/percept/function/internal/STKSearcherDef.hpp
  packages/percept/src/percept/mesh/geometry/volume/sierra_only/FiniteVolumeMesh.cpp
  packages/percept/src/percept/pooled_alloc.h
  packages/percept/src/percept/util/Loops.cpp
  packages/stk/stk_coupling/stk_coupling/OldSyncInfo.cpp
  packages/stk/stk_coupling/stk_coupling/SyncInfo.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/EntityCommDatabase.hpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_performance_tests/stk_mesh/CommunicateFieldData.cpp
  packages/stk/stk_performance_tests/stk_mesh/NgpMeshUpdate.cpp
  packages/stk/stk_performance_tests/stk_mesh/SkinningLargeCube.cpp
  packages/stk/stk_performance_tests/stk_mesh/perfEntityCommDatabase.cpp
  packages/stk/stk_performance_tests/stk_mesh/perfParallelGraphInfo.cpp
  packages/stk/stk_performance_tests/stk_mesh/timer.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMesh.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/meshCreationHelpers.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestAura.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkModification.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestField.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestTextMeshFixture.hpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpParallelSumTest.cpp
  packages/stk/stk_unit_tests/stk_util/parallel/UnitTestCommBroadcast.cpp
  packages/stk/stk_util/stk_util/parallel/CommBuffer.hpp
  packages/stk/stk_util/stk_util/parallel/CommBufferV.hpp
  packages/stk/stk_util/stk_util/parallel/CommSparse.hpp
  packages/stk/stk_util/stk_util/parallel/CommTagInUseList.hpp
  packages/stk/stk_util/stk_util/parallel/DataExchangeUnknownPatternNonBlocking.hpp
  packages/stk/stk_util/stk_util/parallel/IallreduceReplacement.hpp
  packages/stk/stk_util/stk_util/parallel/MPIDatatypeGenerator.hpp
  packages/stk/stk_util/stk_util/parallel/ManagedBufferBase.hpp
  packages/stk/stk_util/stk_util/parallel/ParallelComm.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#11170 Tpetra: Avoid double instantiation of CrsMatrix< SCALAR , LO , GO , NODE >::convert< SCALAR >
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11193 Ctest: lightsaber update
  cmake/ctest/drivers/lightsaber/cron_driver.sh
Labels: AT: AUTOMERGE

#11190 Sacado: Fix memory leaks in Rad when using DFad nested scalar type.
  packages/sacado/example/trad_dfad_example.cpp
  packages/sacado/example/trad_example.cpp
  packages/sacado/src/Sacado_trad.hpp
Labels: type: bug, pkg: Sacado, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11175 Improve the TriBITS Netcdf and MPI TPLs
  cmake/tribits/common_tpls/FindTPLHDF5.cmake
  cmake/tribits/common_tpls/FindTPLNetcdf.cmake
  cmake/tribits/common_tpls/FindTPLNetcdfDependencies.cmake
  cmake/tribits/core/package_arch/TribitsTplFindIncludeDirsAndLibraries.cmake
Labels: AT: AUTOMERGE

#11199 MueLu: reenable libmuelu-adapters.a
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/adapters/muelu-trivial-adapter.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11182 Add include guards for *_def.hpp file (#10507)
  packages/stratimikos/src/Stratimikos_LinearSolverBuilder_def.hpp
Labels: type: bug, pkg: Stratimikos, AT: AUTOMERGE

#11198 Stokhos: Fixes for compiling on HIP
  packages/stokhos/src/sacado/kokkos/Kokkos_View_Utils.hpp
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#11191 Frosch : add an option to call Zoltan2 before local ILU
  packages/ifpack2/src/Ifpack2_Details_CrsArrays.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_decl.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_DDInterface_def.hpp
  packages/shylu/shylu_dd/frosch/src/InterfaceSets/FROSch_InterfaceEntity_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_AlgebraicOverlappingOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_AlgebraicOverlappingOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_FROSchPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_Ifpack2PreconditionerTpetra_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_Ifpack2PreconditionerTpetra_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_ThyraSolver_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
Labels: pkg: ShyLU

#11203 updating bug_report.md template instructions
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: AT: AUTOMERGE

#11194 MueLu: Add AT PR script
  packages/muelu/utils/misc/pullBuilds.py
Labels: pkg: MueLu

#11200 Tool to automate creation of GitHub Issue for PR test failures
  commonTools/framework/CMakeLists.txt
  commonTools/framework/github_issue_creator/CMakeLists.txt
  commonTools/framework/github_issue_creator/FindTribitsModuleDirs.py
  commonTools/framework/github_issue_creator/create_trilinos_github_test_failure_issue.py
  commonTools/framework/github_issue_creator/create_trilinos_github_test_failure_issue_driver.sh
  commonTools/framework/github_issue_creator/create_trilinos_github_test_failure_issue_unit_tests.py
Labels: stage: in review, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11208 Ctest: More lightsaber mods
  cmake/ctest/drivers/lightsaber/TrilinosCTestDriverCore.lightsaber.gcc.cmake
  cmake/ctest/drivers/lightsaber/cron_driver.sh
Labels: AT: AUTOMERGE

#9878 Belos: Add Tpetra Orthogonalization Example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/Orthog/CMakeLists.txt
  packages/belos/tpetra/example/Orthog/TpetraOrthogEx.cpp
Labels: pkg: Belos

#11174 Compadre update to v1.5.4
  packages/compadre/CMakeLists.txt
  packages/compadre/README.md
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/examples/Compadre_UnitTests.cpp
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_Manifold.py.in
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.py.in
  packages/compadre/examples/GMLS_NeumannGradScalar.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.py.in
  packages/compadre/examples/NeighborSearchTest.cpp
  packages/compadre/examples/UtilityTest.cpp
  packages/compadre/examples/unittests/test_Targets.hpp
  packages/compadre/src/CMakeLists.txt
  packages/compadre/src/Compadre_Basis.hpp
  packages/compadre/src/Compadre_Functors.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_KokkosParser.hpp
  packages/compadre/src/Compadre_LinearAlgebra_Definitions.hpp
  packages/compadre/src/Compadre_Misc.hpp
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_PointConnections.hpp
  packages/compadre/src/Compadre_Quadrature.hpp
  packages/compadre/src/Compadre_Targets.hpp
  packages/compadre/src/Compadre_Typedefs.hpp
Labels: pkg: Compadre, AT: PRE-TEST INSPECTED

#11207 Don't unconditionally enable STK subpackages (#11205)
  packages/framework/ini-files/config-specs.ini
Labels: stage: in review, AT: AUTOMERGE

#11206 MiniTensor: add doxygen site
  packages/minitensor/CMakeLists.txt
  packages/minitensor/doc/CMakeLists.txt
  packages/minitensor/doc/COPYRIGHT_AND_LICENSE
  packages/minitensor/doc/Doxyfile.in
  packages/minitensor/doc/Doxyfile.options
  packages/minitensor/doc/MiniTensor_DoxygenDocumentation.hpp
  packages/minitensor/doc/README.md
Labels: impacting: documentation, pkg: minitensor, AT: AUTOMERGE

#11210 SEACAS: Fix some cmake issues
  packages/seacas/applications/exo_format/cmake/Dependencies.cmake
  packages/seacas/applications/nas2exo/cmake/Dependencies.cmake
  packages/seacas/libraries/ioss/cmake/Dependencies.cmake
  packages/seacas/libraries/nemesis/CMakeLists.txt
  packages/seacas/scripts/cmake/Dependencies.cmake
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services
