Repository trilinos/Trilinos, pull requests merged in 2022-02, with the labels that each got.

#10117 Tempus: Fix Erroneous Warning from TimeEventComposite
  packages/tempus/src/Tempus_IntegratorBasic_impl.hpp
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/src/Tempus_TimeEventComposite.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyBasicVS.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyConstant.hpp
  packages/tempus/src/Tempus_TimeStepControlStrategyIntegralController.hpp
  packages/tempus/src/Tempus_TimeStepControl_impl.hpp
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref.xml
  packages/tempus/test/Integrator/Tempus_IntegratorBasic_ref2.xml
  packages/tempus/unit_test/Tempus_UnitTest_TimeStepControl.cpp
Labels: pkg: Tempus, AT: AUTOMERGE

#10135 Teuchos: replace curly braces with parens in Watchr
  packages/teuchos/comm/src/Teuchos_StackedTimer.cpp
Labels: pkg: Teuchos

#10143 zoltan: the MPI standard says message tags should have numbers <= 32767
  packages/zoltan/src/matrix/matrix_distribute.c
Labels: pkg: Zoltan, AT: AUTOMERGE

#10149 Workflow: Fixing the auto-project for Tpetra
  .github/workflows/tpetra_muelu_label_to_project.yml
Labels: AT: AUTOMERGE

#10138 zoltan: better link to downloads for stand-alone zoltan
  packages/zoltan/docs/Zoltan.html
  packages/zoltan/docs/Zoltan_FAQ.html
  packages/zoltan/docs/Zoltan_bugreport.html
  packages/zoltan/docs/Zoltan_cite.html
  packages/zoltan/docs/Zoltan_phil.html
  packages/zoltan/docs/Zoltan_pubs.html
  packages/zoltan/docs/dev_html/dev.html
  packages/zoltan/docs/ug_html/ug.html
Labels: pkg: Zoltan, AT: AUTOMERGE

#10126 Correct mismatch between ATDM_CONFIG_COMPILER=INTEL-19.0.5 and module load sems-intel/19.0.5
  cmake/std/atdm/contributed/kokkos-dev-2/environment.sh
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10156 Workflow: Updating Tpetra and MueLu auto-project
  .github/workflows/tpetra_muelu_label_to_project.yml
Labels: AT: AUTOMERGE

#10155 teuchos recommended by @nate945 for #10154
  packages/teuchos/comm/src/Teuchos_DefaultMpiComm.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#10123 Stokhos: Remove use of deprecated code
  packages/stokhos/src/sacado/kokkos/Stokhos_Tpetra_Utilities.hpp
  packages/stokhos/src/sacado/kokkos/pce/amesos2/Amesos2_Solver_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/belos/Belos_TpetraAdapter_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_Utilities_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/amesos2/Amesos2_Solver_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_Utilities_MP_Vector.hpp
  packages/stokhos/test/UnitTest/Stokhos_TpetraCrsMatrixMPVectorUnitTest.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#10128 Tempus: Allow separating forward and adjoint psuedo-transient evaluations
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_decl.hpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
Labels: pkg: Tempus, client: ATDM, AT: AUTOMERGE

#10132 MueLu: Fixing repeated using error generated by GCC 10
  packages/muelu/example/advanced/multiplesolve/ReuseSequence.cpp
  packages/muelu/example/advanced/multiplesolve/StandardReuse.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#9954 MueLu: add kokkos version of new SaP row constraint. Unit test for new SaP row constraint.
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/SaPFactory.cpp
  packages/muelu/test/unit_tests/TestMatrices/SaP_constrainTest_P.mat
  packages/muelu/test/unit_tests_kokkos/SaPFactory_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10148 Fixes Householder transform so that it is correct for complex numbers
  packages/belos/epetra/test/BlockGmres/test_bl_gmres_hb.cpp
  packages/belos/src/BelosBlockGmresIter.hpp
  packages/belos/src/BelosPseudoBlockGmresIter.hpp
  packages/belos/test/BlockGmres/CMakeLists.txt
  packages/belos/test/BlockGmres/cg05.cua
  packages/belos/test/BlockGmres/test_bl_gmres_complex_hb.cpp
Labels: pkg: Belos, AT: AUTOMERGE

#10165 Tpetra: Remove statistics from Distributor
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10141 10140 panzer out of bounds error in li ds
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, client: Drekar, AT: PRE-TEST INSPECTED

#10142 ShyLU_DD, BDDC: add deprecation message
  packages/shylu/shylu_dd/bddc/CMakeLists.txt
  packages/shylu/shylu_dd/bddc/cmake/ShyLU_DDBDDC_config.h.in
Labels: pkg: ShyLU

#9860 Tpetra: reproducer for #9856
  packages/tpetra/core/test/MultiVector/Bug9856.cpp
  packages/tpetra/core/test/MultiVector/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#10176 MueLu: update project action
  .github/workflows/tpetra_muelu_label_to_project.yml
Labels: pkg: MueLu, AT: RETEST, AT: AUTOMERGE

#10032 Add coloring algo as option for Ifpack2 MTGS/MTSGS
  packages/ifpack2/doc/UsersGuide/ifpack2guide.pdf
  packages/ifpack2/doc/UsersGuide/options.tex
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/ifpack2/src/Ifpack2_Relaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/calore1_rhs.mtx
  packages/ifpack2/test/belos/mueluMatrix_rhs.mtx
  packages/ifpack2/test/belos/test_4_GS_muelu.xml
  packages/ifpack2/test/belos/test_4_MTGS_muelu.xml
  packages/ifpack2/test/belos/test_4_MTSGS_muelu.xml
  packages/ifpack2/test/belos/test_4_SGS_muelu.xml
  packages/ifpack2/test/belos/test_Cheby_calore1_mm.xml
  packages/ifpack2/test/belos/test_Diagonal_bicgstab_calore1_mm.xml
  packages/ifpack2/test/belos/test_Diagonal_gcrodr_calore1_mm.xml
  packages/ifpack2/test/belos/test_Diagonal_tfqmr_calore1_mm.xml
  packages/ifpack2/test/belos/test_FIC_calore1_mm.xml
  packages/ifpack2/test/belos/test_FILDL_calore1_mm.xml
  packages/ifpack2/test/belos/test_FILU_calore1_mm.xml
  packages/ifpack2/test/belos/test_GS_calore1_mm.xml
  packages/ifpack2/test/belos/test_ILUT_calore1_mm.xml
  packages/ifpack2/test/belos/test_ILUT_tfqmr_calore1_mm.xml
  packages/ifpack2/test/belos/test_Jacobi_calore1_mm.xml
  packages/ifpack2/test/belos/test_MTGS_calore1_mm.xml
  packages/ifpack2/test/belos/test_MTSGS_calore1_mm.xml
  packages/ifpack2/test/belos/test_RILUK_calore1_mm.xml
  packages/ifpack2/test/belos/test_SGS_calore1_mm.xml
  packages/kokkos-kernels/src/common/KokkosKernels_Handle.hpp
  packages/kokkos-kernels/src/sparse/KokkosSparse_gauss_seidel_handle.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_cluster_gauss_seidel_impl.hpp
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_gauss_seidel_impl.hpp
Labels: pkg: Ifpack2, pkg: KokkosKernels

#10157 NOX: Fix race condition in HouseholderBorderedSolve unit test
  packages/nox/test/tpetra/1DFEM_Functors.hpp
Labels: pkg: NOX, client: ATDM, AT: AUTOMERGE, PA: Nonlinear Solvers

#10057 Adelus: Add support for HIP backend
  packages/adelus/CMakeLists.txt
  packages/adelus/README.md
  packages/adelus/cmake/Adelus_config.h.in
  packages/adelus/example/CMakeLists.txt
  packages/adelus/example/adelus_driver.cpp
  packages/adelus/src/Adelus.hpp
  packages/adelus/src/Adelus_factor.hpp
  packages/adelus/src/Adelus_perm1.hpp
  packages/adelus/src/Adelus_solve.hpp
  packages/adelus/src/BlasWrapper_copy_spec.hpp
  packages/adelus/src/CMakeLists.txt
  packages/adelus/test/perf_test/cxx_main.cpp
  packages/adelus/test/vector_random/CMakeLists.txt
  packages/adelus/test/vector_random/cxx_main.cpp
Labels: type: enhancement, AT: AUTOMERGE, PA: Linear Solvers, client: Gemma, pkg: Adelus

#10181 zoltan2: better output control
  packages/zoltan2/test/core/TpetraCrsColorer/Bug9500.cpp
  packages/zoltan2/test/core/TpetraCrsColorer/TpetraCrsColorer.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#10192 Tpetra: Fixing compiler warnings
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
  packages/tpetra/core/inout/MatrixMarket_TpetraNew.hpp
Labels: AT: AUTOMERGE

#10179 FMT: Fixes for intel-19 compiler
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/core.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format.h
  packages/seacas/libraries/suplib_cpp/fmt/core.h
  packages/seacas/libraries/suplib_cpp/fmt/format.h
Labels: pkg: seacas, impacting: configure or build, AT: AUTOMERGE, ATDM Sev: Critical, PA: Data Services, client: ExaWind, AT: PRE-TEST INSPECTED

#10161 ShyLU,Basker : fix threaded factorization
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_diag.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_amd.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_btf.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_solve_rhs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_structs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: ShyLU

#10198 Panzer fix dof manager
  packages/panzer/adapters-stk/example/CurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedCurlLaplacianExample/main.cpp
  packages/panzer/adapters-stk/example/MixedPoissonExample/main.cpp
  packages/panzer/adapters-stk/example/main_driver/energy-ss-blocked-tp.xml
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, client: Drekar

#10200 Tempus: Example Problem on Utilizing Thyra
  packages/tempus/doc/index.doc
  packages/tempus/examples/00_Basic_Problem/00_Basic_Problem.cpp
  packages/tempus/examples/01_Utilize_Thyra/01_Utilize_Thyra.cpp
  packages/tempus/examples/01_Utilize_Thyra/CMakeLists.txt
  packages/tempus/examples/CMakeLists.txt
Labels: impacting: documentation, pkg: Tempus, AT: AUTOMERGE

#10188 Tpetra: make CRS accessors consistent with UVM-free interface and fixed matrix constructor
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSingleProcessRILUK.cpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/stokhos/src/sacado/kokkos/pce/amesos2/Amesos2_Solver_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/amesos2/Amesos2_Solver_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_Utilities_MP_Vector.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests_LocalAccessors.cpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrixKernels_UnitTests.cpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
Labels: pkg: Tpetra, UVM removal

#10218 MueLu: control if dropping creates new Dirichlet
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
Labels: type: enhancement, pkg: MueLu, AT: AUTOMERGE

#10221 Piro: overwriting solver defaults w/o mass lumping
  packages/piro/src/Piro_InvertMassMatrixDecorator_Def.hpp
Labels: pkg: Piro, AT: AUTOMERGE, client: Albany, client: LCM

#10215 ShyLU, FROSch : fix compile errors with deprecated codes off
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_decl.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp
Labels: pkg: ShyLU

#10214 Pytrilinos: Actually use MPI_BASE_DIR
  packages/PyTrilinos/src/gen_teuchos_rcp.py.in
Labels: pkg: PyTrilinos

#10226 Piro: Create a Forward Only Tempus Solver
  packages/piro/src/Piro_TempusSolverForwardOnly.hpp
  packages/piro/src/Piro_TempusSolverForwardOnly_Def.hpp
  packages/piro/test/CMakeLists.txt
  packages/piro/test/Piro_TempusSolverForwardOnly_UnitTests.cpp
Labels: type: enhancement, pkg: Piro, pkg: Tempus, AT: AUTOMERGE

#10186 Xpetra&MueLu: Fix some build/test failures
  cmake/ctest/drivers/geminga/ctest_linux_nightly_mpi_release_tpetra_no_int_experimental_geminga.cmake
  packages/muelu/src/Graph/StructuredAggregation/MueLu_IndexManager_def.hpp
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTests.cpp
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE

#10204 MueLu: Maxwell1 improvements
  packages/muelu/adapters/xpetra/MueLu_Maxwell1_def.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/test/maxwell/Maxwell3D.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10224 Teuchos: Convert KokkosCompat::deep_copy_offset to use 3-arg deep_copy to avoid fences
  packages/teuchos/kokkoscompat/src/KokkosCompat_View.hpp
Labels: pkg: Tpetra, pkg: Teuchos, AT: AUTOMERGE

#10196 zoltan: webpage updates
  packages/zoltan/docs/Zoltan.html
  packages/zoltan/docs/tu_html/examples.tex
  packages/zoltan/docs/tu_html/tutorial.html
  packages/zoltan/docs/tu_html/tutorial.pdf
Labels: pkg: Zoltan, AT: AUTOMERGE

#10124 Geminga: Disable AMGX build
  cmake/ctest/drivers/geminga/cron_driver.sh
Labels: pkg: MueLu, AT: AUTOMERGE

#10205 Tpetra: add transferArrived function to DistObject
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/test/ImportExport2/AsyncTransfer_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10232 Amesos2, Superludist : fixing compilation errors with Tpetra deprecatated code off
  packages/amesos2/src/Amesos2_Superludist_decl.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: pkg: Amesos2

#10197 Tpetra: Fixed example
  packages/tpetra/core/example/Lesson02-Map-Vector/lesson02_init_map_vec.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10223 MueLu: enable user-supplied eigen-value for SaP
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: type: enhancement, pkg: MueLu, AT: AUTOMERGE

#10231 Stokhos: Fix static initialization
  packages/stokhos/src/sacado/Sacado_ETPCE_OrthogPoly.hpp
  packages/stokhos/src/sacado/Sacado_ETPCE_OrthogPolyImp.hpp
  packages/stokhos/src/sacado/Sacado_PCE_OrthogPoly.hpp
  packages/stokhos/src/sacado/Sacado_PCE_OrthogPolyImp.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10219 Add support for subpackage-specific compiler flags (#10111)
  cmake/tribits/core/package_arch/TribitsPackageSetupCompilerFlags.cmake
  cmake/tribits/core/package_arch/TribitsSubPackageMacros.cmake
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
Labels: type: enhancement, AT: AUTOMERGE, TriBITS

#10237 STK: Snapshot 02-23-22 17:02
  packages/stk/stk_balance/stk_balance/internal/Balancer.cpp
  packages/stk/stk_balance/stk_balance/internal/DetectAndFixMechanisms.cpp
  packages/stk/stk_balance/stk_balance/internal/privateDeclarations.cpp
  packages/stk/stk_balance/stk_balance/internal/privateDeclarations.hpp
  packages/stk/stk_integration_tests/stk_balance/IntegrationTestLoadBalanceMxN.cpp
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_io/stk_io/SidesetTranslator.hpp
  packages/stk/stk_io/stk_io/StkMeshIoBroker.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/CompositeRank.cpp
  packages/stk/stk_mesh/stk_mesh/base/CompositeRank.hpp
  packages/stk/stk_mesh/stk_mesh/base/ModificationNotifier.hpp
  packages/stk/stk_mesh/stk_mesh/base/ModificationObserver.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommVerify.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ElemElemGraphUpdater.hpp
  packages/stk/stk_unit_tests/stk_balance/MeshFixtureDecomposer.hpp
  packages/stk/stk_unit_tests/stk_balance/MeshFixtureM2NDecomposer.hpp
  packages/stk/stk_unit_tests/stk_balance/MeshFixtureM2NRebalance.hpp
  packages/stk/stk_unit_tests/stk_balance/MeshFixtureRebalance.hpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestBlockWeights.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestColoring.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestCommandLineParsing.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestCrossProcessorEdge.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestElementConnectivity.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestLifeCycle.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestLogFile.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestMechanismBuster.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestSearchTolerance.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestSettingVertexWeights.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestStkBalanceDecomposition.cpp
  packages/stk/stk_unit_tests/stk_balance/UnitTestStkBalancePartitioning.cpp
  packages/stk/stk_unit_tests/stk_io/Assembly.hpp
  packages/stk/stk_unit_tests/stk_io/IOMeshFixture.hpp
  packages/stk/stk_unit_tests/stk_io/UnitTestGetAssemblyEntities.cpp
  packages/stk/stk_unit_tests/stk_io/UnitTestReadWriteAssemblies.cpp
  packages/stk/stk_unit_tests/stk_io/UnitTestReadWriteSideSets.cpp
  packages/stk/stk_unit_tests/stk_io/UnitTestSideSetPolarity.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkDataNotifications.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestCommInfoObserver.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestElemGraphCoincidentElements.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestMeshModNotifier.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestSideSet.cpp
  packages/stk/stk_unit_tests/stk_mesh/face_creation/element_graph/UnitTestElemElemGraphChangeOwner.cpp
  packages/stk/stk_unit_tests/stk_mesh/face_creation/element_graph/UnitTestElemElemGraphDeathIntegration.cpp
  packages/stk/stk_util/stk_util/ngp/NgpSpaces.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE

#9956 MueLu: Increase code coverage
  packages/muelu/adapters/tpetra/MueLu_TpetraOperator_decl.hpp
  packages/muelu/test/unit_tests/Adapters/TpetraOperatorAdapter.cpp
  packages/muelu/test/unit_tests/AlgebraicPermutationStrategy.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/MueLu_CoupledRBMFactory.cpp
  packages/muelu/test/unit_tests/PermutationFactory.cpp
  packages/muelu/test/unit_tests/RigidBodyModeFactory.cpp
  packages/muelu/test/unit_tests_kokkos/Utilities_kokkos.cpp
Labels: pkg: MueLu, AT: PRE-TEST INSPECTED

#10241 MueLu: testing: fix enigma nightlies
  cmake/ctest/drivers/enigma/ctest_linux_nightly_mpi_release_muelu_no_int_openmp_experimental_enigma.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#10216 Zoltan2: fewer compiler warnings in PR builds
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer_Zoltan.hpp
  packages/zoltan2/core/src/algorithms/Zoltan2_TPLTraits.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/core/src/algorithms/zoltan/Zoltan2_AlgZoltan.hpp
  packages/zoltan2/core/src/algorithms/zoltan/Zoltan2_AlgZoltanCallbacks.hpp
  packages/zoltan2/core/src/problems/Zoltan2_PartitioningSolution.hpp
  packages/zoltan2/test/core/helpers/UserInputForTests.hpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#10151 Implementing fix to resolve compilation error in Amesos2 with SuperLU 5 and clang 12
  packages/amesos2/src/Amesos2_Superlu_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superlu_decl.hpp
Labels: AT: PRE-TEST INSPECTED

#10213 Update 3-Level ParameterLists
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_GDSW_Klu.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_GDSW_Klu_ML.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Elasticity/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_RGDSW_Klu_ML.xml
  packages/shylu/shylu_dd/frosch/test/Thyra_Xpetra_Laplace/ParameterLists/ParameterList_TwoLevelPreconditioner_IPOUHarmonic_GDSW_ML.xml
Labels: pkg: ShyLU

#10187 Panzer add hip support
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgVector_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellQuantity_impl.hpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Constant_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_Functors.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_DOF_PointField_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_FieldSpy_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesTensorTimesVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisCrossVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisDotVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisTimesScalar_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_GradBasisTimesScalar_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Neumann_Residual_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Normals_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Normals_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseScatterEvaluator_IPCoordinates_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_Response_ExtremeValue_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_Response_Functional_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_Response_Probe_impl.hpp
  packages/panzer/disc-fe/test/core_tests/hierarchic_team_policy.cpp
  packages/panzer/disc-fe/test/evaluator_tests/dof_pointfield.cpp
  packages/panzer/disc-fe/test/evaluator_tests/gather_coordinates.cpp
  packages/panzer/disc-fe/test/evaluator_tests/hessian_test.cpp
  packages/panzer/disc-fe/test/evaluator_tests/hessian_test_k.cpp
  packages/panzer/disc-fe/test/evaluator_tests/integrator_scalar.cpp
  packages/panzer/disc-fe/test/evaluator_tests/normals.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
  packages/panzer/mini-em/src/closures/MiniEM_GaussianPulse_impl.hpp
  packages/phalanx/src/Phalanx_Field_Def.hpp
  packages/phalanx/src/Phalanx_MDField.hpp
  packages/phalanx/src/Phalanx_Scratch_Utilities.hpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/Kokkos/tKokkosViewOfViews.cpp
Labels: pkg: Panzer, client: ATDM, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations

#10245 Tpetra: fixed used of deprecated code
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_localDeepCopyRowMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_localDeepCopyRowMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_localRowOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_localRowOffsets_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests_LocalAccessors.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10252 MiniEM: Speed up assembly of discrete ops
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteGradient.hpp
Labels: pkg: Panzer

#10250 Amesos2: update Tpetra getNode* names to getLocal*
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_STRUMPACK_def.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/test/solvers/SolverFactory.cpp
  packages/amesos2/test/tklu_simple/tklu_simple.cpp
Labels: pkg: Amesos2, AT: AUTOMERGE, client: Albany
