Repository trilinos/Trilinos, pull requests merged in 2022-07, with the labels that each got.

#10671 Panzer: Add a communicator parameter to FaceToElement methods
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/CMakeLists.txt
  packages/panzer/adapters-stk/test/face_to_element/CMakeLists.txt
  packages/panzer/adapters-stk/test/face_to_element/test_face_to_element.cpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement.hpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
Labels: type: bug, pkg: Panzer, client: EMPIRE, PA: Discretizations

#10693 Tempus: Improve Format of Examples
  packages/tempus/doc/index.doc
  packages/tempus/examples/00_Basic_Problem/00_Basic_Problem.cpp
  packages/tempus/examples/01_Utilize_Thyra/01_Utilize_Thyra.cpp
  packages/tempus/src/Tempus_StepperImplicit_decl.hpp
  packages/tempus/src/Tempus_StepperRKButcherTableau.hpp
Labels: impacting: documentation, pkg: Tempus

#10680 Adds getEigenEstimates() method and changes positive-definite error
  packages/belos/epetra/test/BlockCG/test_pseudo_pcg_hb.cpp
  packages/belos/src/BelosCGIter.hpp
  packages/belos/src/BelosCGIteration.hpp
  packages/belos/src/BelosCGSingleRedIter.hpp
  packages/belos/src/BelosPseudoBlockCGIter.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockStochasticCGIter.hpp
  packages/belos/tpetra/test/BlockCG/test_pseudo_bl_cg_hb.cpp
Labels: type: enhancement, pkg: Belos

#10688 MueLu: Fix formatting issues with RegionRFactory
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_def.hpp
Labels: pkg: MueLu

#10698 Belos: Removes unused Failure classes inheriting from Belos::Error
  packages/belos/src/BelosFixedPointIteration.hpp
  packages/belos/src/BelosLSQRIteration.hpp
  packages/belos/src/BelosMinresIteration.hpp
  packages/belos/src/BelosPCPGIter.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresIter.hpp
  packages/belos/src/BelosPseudoBlockTFQMRIter.hpp
  packages/belos/src/BelosRCGIter.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRIter.hpp
Labels: type: enhancement, pkg: Belos

#10705 Tempus: Add missing instantiations for non-member ctor's
  packages/tempus/src/Tempus_IntegratorForwardSensitivity.cpp
  packages/tempus/src/Tempus_IntegratorPseudoTransientForwardSensitivity.cpp
Labels: pkg: Tempus, AT: AUTOMERGE

#10702 Intrepid2: add getHostBasis() implementation to HGrad Basis classes
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_C2_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_WEDGE_C1_FEM.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_WEDGE_C2_FEM.hpp
Labels: pkg: Intrepid2

#10685 panzer: use Kokkos::ScopeGuard in periodic_32bit_int_limit.cpp test
  packages/panzer/adapters-stk/test/periodic_bcs/periodic_32bit_int_limit.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10682 Intrepid2: Add Serendipity Bases, Hyperdimensional Bases
  packages/intrepid2/src/Discretization/Basis/Intrepid2_Basis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_BasisDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_BasisValues.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HCURL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HDIV_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HVOL_HEX.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HVOL_QUAD.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DirectSumBasis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TET.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_TRI.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_LegendreBasis_HVOL_LINE.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_SerendipityBasis.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_SerendipityBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_TensorBasis.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_IntegrationToolsDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_CellTopology.hpp
  packages/intrepid2/src/Shared/Intrepid2_TensorData.hpp
  packages/intrepid2/src/Shared/Intrepid2_TestUtils.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisCardinalityTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisEquivalenceTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisOpDecompositionTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisValuesTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/SubBasisInclusionTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/TensorBasisTests.cpp
Labels: type: enhancement, pkg: Intrepid2

#10645 ini configuration for Cuda 11 build in GenConfig
  cmake/std/PullRequestLinuxCuda11.4.2uvmOffDisabledPackagesTestingSettings.cmake
  cmake/std/PullRequestLinuxCuda11.4.2uvmOffTestingSettings.cmake
  cmake/std/pr_config/pullrequest.ini
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: PA: Framework

#10604 Panzer: Add Tpetra tests for disc-fe/la_factory
  packages/panzer/disc-fe/test/la_factory/CMakeLists.txt
  packages/panzer/disc-fe/test/la_factory/tEpetra_tCloneLOF.cpp
  packages/panzer/disc-fe/test/la_factory/tTpetra_LOF_FilteredGlobalIndexer.cpp
  packages/panzer/disc-fe/test/la_factory/tTpetra_tCloneLOF.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10697 Ifpack2/Tpetra: Fix some warnings on Cuda
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_ReorderFilter_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
Labels: pkg: Tpetra, pkg: Ifpack2, AT: AUTOMERGE

#10707 MueLu: Toggle/SemiCoarsening Additions
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_multigrid.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Transfers/Generic/MueLu_RfromP_Or_TransP_def.hpp
  packages/muelu/src/Transfers/Petrov-Galerkin-SA/MueLu_PgPFactory_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_decl.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_SemiCoarsenPFactory_def.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_TogglePFactory_decl.hpp
  packages/muelu/src/Transfers/SemiCoarsen/MueLu_TogglePFactory_def.hpp
  packages/muelu/test/toggletransfer/CMakeLists.txt
  packages/muelu/test/toggletransfer/linPconstR_pg.xml
  packages/muelu/test/toggletransfer/semiPsemiR_pg.xml
Labels: type: enhancement, pkg: MueLu, AT: AUTOMERGE

#10561 Panzer: Add tests for Tpetra in adapter-stk/evaluator_tests
  packages/panzer/adapters-stk/test/evaluator_tests/CMakeLists.txt
  packages/panzer/adapters-stk/test/evaluator_tests/epetra_gather_solution.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/epetra_scatter_dirichlet_residual.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/epetra_scatter_residual.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_gather_solution.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_scatter_dirichlet_residual.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_scatter_residual.cpp
Labels: pkg: Panzer, client: ATDM, AT: AUTOMERGE, PA: Discretizations

#10621 Phalanx: add darma serialization support to vov
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/src/design/ViewOfViewsDarmaSerialization.hpp
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10717 Phalanx: rename include guard that used KOKKOS_ prefix
  packages/phalanx/src/Phalanx_KokkosViewFactoryFunctor.hpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#10708 ShyLU FastILU : add option to call Metis for pre-ordering
  packages/ifpack2/CMakeLists.txt
  packages/ifpack2/cmake/Dependencies.cmake
  packages/ifpack2/cmake/Ifpack2_config.h.in
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/ifpack2/test/belos/build_problem.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastic.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastildl.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: Ifpack2, pkg: ShyLU, AT: AUTOMERGE

#10300 Tpetra: Added a test for multiple asynchronous transfers
  packages/tpetra/core/test/ImportExport2/AsyncTransfer_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#10721 MueLu: Adding fence to MatvecKernelDriver
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#10722 Panzer MiniEM: Fix input file for performance tests
  packages/panzer/mini-em/example/BlockPrec/maxwell-large.xml
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10723 Tpetra: address Cuda 10 compiler bug
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
Labels: pkg: Tpetra, impacting: configure or build, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10725 Intrepid2: fix for #10714
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HVOL.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyPoints.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE, PA: Discretizations

#10710 Stokhos: adresses #10703 and #10696
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_TpetraAdapter_MP_Vector.hpp
  packages/stokhos/test/UnitTest/tpetra_mat_vec.cpp
Labels: AT: AUTOMERGE

#10733 Panzer MiniEM: Fix memory spaces for discrete curl
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.hpp
Labels: pkg: Panzer, AT: PRE-TEST INSPECTED

#10709 Ifpack2: fix build+test with Ifpack2_ENABLE_DEBUG
  packages/ifpack2/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_LocalFilter_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/src/Ifpack2_TriDiContainer_def.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
Labels: type: bug, pkg: Ifpack2, impacting: configure or build, AT: AUTOMERGE

#10673 Amesos2: Issue 10652, Adding SuperLU_Dist 8.0.0 interface
  packages/amesos2/src/Amesos2_Superludist_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: pkg: Amesos2, AT: STALE, client: xSDK

#10739 Ifpack2 Relaxation: Don't check for bit-by-bit identity
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#10750 MueLu Stratimikos interface: Fix mixed precision compilation with complex
  packages/muelu/adapters/stratimikos/Thyra_MueLuMaxwell1PreconditionerFactory_def.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuRefMaxwellPreconditionerFactory_def.hpp
Labels: pkg: MueLu

#10756 Tpetra: adding matrix market reading option to Matvec test
  packages/tpetra/core/example/advanced/Benchmarks/CrsMatrixMatVec.cpp
Labels: type: enhancement, AT: AUTOMERGE

#10749 Xpetra: Expanding Tpetra::BlockCrs report
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_decl.hpp
  packages/xpetra/src/Headers/Xpetra_UseShortNamesScalar.hpp
  packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp
  packages/xpetra/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE

#10706 Ifpack2: Speedup additive schwarz, fix #9606
  packages/ifpack2/src/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_decl.hpp
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/ifpack2/src/Ifpack2_Details_AdditiveSchwarzFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_AdditiveSchwarzFilter_def.hpp
  packages/ifpack2/src/Ifpack2_Details_InverseDiagonalKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_getCrsMatrix.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_decl.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestAdditiveSchwarz.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestLocalSparseTriangularSolver.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestOverlappingRowMatrix.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: type: bug, type: enhancement, impacting: performance, AT: AUTOMERGE

#10768 Framework: fix #10684 (van1/stria mpiexec)
  cmake/std/atdm/van1-tx2/environment.sh
Labels: AT: AUTOMERGE, PA: Framework

#10736 FastILU : metis-chec & skip-sort options
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastic.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastildl.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#10770 Ifpack2: importing rowmap option
  packages/ifpack2/test/belos/build_problem.hpp
Labels: pkg: Ifpack2, client: Sierra

#10762 Add C++17 standard for Clang 10.0.0 PR build
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10763 Add C++17 standard for GCC 7.2.0 and GCC 7.2.0 serial
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10786 Revert "Add C++17 standard for GCC 7.2.0 and GCC 7.2.0 serial"
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10784 Fix <tplName>Config.cmake files to not point into build dir (#10774)
  cmake/tribits/CHANGELOG.md
  cmake/tribits/core/package_arch/TribitsExternalPackageWriteConfigFile.cmake
  cmake/tribits/core/package_arch/TribitsProcessTplsLists.cmake
  cmake/tribits/ctest_driver/README
  cmake/tribits/ctest_driver/TribitsGetCDashUrlsInsideCTestS.cmake
  cmake/tribits/examples/MixedSharedStaticLibs/README
Labels: type: bug, AT: AUTOMERGE, TriBITS, AT: PRE-TEST INSPECTED

#10788 cuda 11.4.2 don't run all packages in PR
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#10776 Panzer: MiniEM: fix HIP compile error
  packages/panzer/mini-em/src/closures/MiniEM_Conductivity_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#10777 Ifpack2: fix Schwarz+FastILU sort skipping
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
Labels: pkg: Ifpack2, impacting: performance, AT: RETEST, AT: AUTOMERGE, client: Sierra

#10779 Stokhos: Provide algorithm and math overloads for Sacado::MP::Vector
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector_ops.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#10547 ShyLU_Basker : improve numerical stability of threaded factorization
  packages/amesos2/src/Amesos2_Control.cpp
  packages/amesos2/src/Amesos2_Control.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_MultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/src/Amesos2_SolverCore_decl.hpp
  packages/amesos2/src/Amesos2_SolverCore_def.hpp
  packages/amesos2/src/Amesos2_Solver_decl.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_diag.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_btf.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_solve_rhs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_structs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: Amesos2, pkg: ShyLU, AT: STALE, AT: AUTOMERGE

#10783 Stokhos: Make sure deep_copy uses contiguous layouts where intended
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE, AT: PRE-TEST INSPECTED
