Repository trilinos/Trilinos, pull requests merged in 2023-09, with the labels that each got.

#12190 Stokhos: update for new KokkosSparse::spmv overloads
  packages/stokhos/src/sacado/kokkos/pce/linalg/Kokkos_CrsMatrix_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/linalg/Kokkos_CrsMatrix_MP_Vector.hpp
Labels: pkg: Stokhos

#12174 Disable Epetra stack in CUDA PR builds
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12202 NOX: Fix font and formatting in screen output
  packages/nox/src/NOX_Utils.C
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#12169 Framework: Add SimpleTesting to Trilinos
  cmake/SimpleTesting/README.md
  cmake/SimpleTesting/cmake/ctest-CTestConfig.cmake
  cmake/SimpleTesting/cmake/ctest-cdash-setup.cmake
  cmake/SimpleTesting/cmake/ctest-common.cmake
  cmake/SimpleTesting/cmake/ctest-driver.cmake
  cmake/SimpleTesting/cmake/ctest-functions.cmake
  cmake/SimpleTesting/cmake/ctest-stage-build.cmake
  cmake/SimpleTesting/cmake/ctest-stage-configure.cmake
  cmake/SimpleTesting/cmake/ctest-stage-coverage.cmake
  cmake/SimpleTesting/cmake/ctest-stage-test.cmake
  cmake/SimpleTesting/cmake/ctest-submit.cmake
  cmake/SimpleTesting/img/CMake-structure.graffle
  cmake/SimpleTesting/img/CMake-structure.pdf
  cmake/SimpleTesting/img/CMake-structure.png
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: PA: Framework

#12207 Stokhos: fix KokkosKernels #1959
  packages/stokhos/src/sacado/kokkos/pce/linalg/Kokkos_CrsMatrix_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/linalg/Kokkos_CrsMatrix_MP_Vector.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#12187 Tpetra: Removing the incorrect ETI_DEVICES
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/guide/src/Obtaining/Building.rst
Labels: AT: AUTOMERGE

#12212 KokkosKernels: extract diagonal blocks from a CRS matrix into separate CRS matrices
  packages/kokkos-kernels/sparse/src/KokkosSparse_Utils.hpp
  packages/kokkos-kernels/sparse/unit_test/Test_Sparse.hpp
  packages/kokkos-kernels/sparse/unit_test/Test_Sparse_extractCrsDiagonalBlocks.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE

#12198 Tpetra: move unpack and combine to device in TAFC
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11737 Amesos2: Use ternary in conditionals involving is_contiguous.
  packages/amesos2/src/Amesos2_Basker_def.hpp
  packages/amesos2/src/Amesos2_Cholmod_def.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_Lapack_def.hpp
  packages/amesos2/src/Amesos2_MUMPS_def.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_def.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/amesos2/src/Amesos2_Umfpack_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE

#12089 Zoltan2: Refactor of BasisVectorAdapter to use Kokkos data structures
  packages/zoltan2/core/src/input/Zoltan2_Adapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_BasicVectorAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_VectorAdapter.hpp
  packages/zoltan2/test/core/unit/CMakeLists.txt
  packages/zoltan2/test/core/unit/input/BasicVectorAdapter.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12221 teuchos(cleaning): remove old type traits is_same
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolveFactory_def.hpp
  packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_def.hpp
  packages/teuchos/core/src/Teuchos_TypeTraits.hpp
  packages/teuchos/core/test/ScalarTraits/ScalarTraits_test.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTests.cpp
  packages/xpetra/test/MultiVector/MultiVector_UnitTestsThyraSpecific.cpp
Labels: type: enhancement, pkg: Teuchos

#12216 Framework: Remove LFS image objects
  cmake/SimpleTesting/img/CMake-structure.graffle
  cmake/SimpleTesting/img/CMake-structure.pdf
  cmake/SimpleTesting/img/CMake-structure.png
Labels: AT: AUTOMERGE, PA: Framework, AT: PRE-TEST INSPECTED

#12196 Shylu: FastILU fixes to handle large matrices
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/ifpack2/test/belos/6w_bel_tif_FILU_blockcrs.xml
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: pkg: Tpetra, pkg: Ifpack2, pkg: ShyLU, AT: AUTOMERGE

#12233 Extend Ifpack2 BlockTriDi example to enable repeating compute & solve…
  packages/ifpack2/example/BlockTriDi.cpp
Labels: AT: AUTOMERGE

#12225 Belos: Fixed the CG multi-precision test for Tpetra
  packages/belos/epetra/example/BlockCG/Dummy
  packages/belos/epetra/example/BlockGmres/Dummy
  packages/belos/epetra/example/GCRODR/Dummy
  packages/belos/epetra/example/RCG/Dummy
  packages/belos/epetra/example/TFQMR/Dummy
  packages/belos/epetra/test/BlockCG/Dummy
  packages/belos/epetra/test/BlockGmres/Dummy
  packages/belos/epetra/test/GCRODR/Dummy
  packages/belos/epetra/test/MINRES/Dummy
  packages/belos/epetra/test/RCG/Dummy
  packages/belos/epetra/test/TFQMR/Dummy
  packages/belos/test/BlockCG/Dummy
  packages/belos/test/BlockGmres/Dummy
  packages/belos/test/GCRODR/Dummy
  packages/belos/test/MVOPTester/Dummy
  packages/belos/test/TFQMR/Dummy
  packages/belos/tpetra/test/BlockCG/CMakeLists.txt
  packages/belos/tpetra/test/BlockCG/Dummy
  packages/belos/tpetra/test/BlockCG/test_bl_cg_hb_df.cpp
  packages/belos/tpetra/test/BlockGmres/Dummy
  packages/belos/tpetra/test/MVOPTester/Dummy
Labels: pkg: Belos, AT: AUTOMERGE

#12227 Amesos2: Update the STRUMPACK interface
  packages/amesos2/src/Amesos2_STRUMPACK_decl.hpp
  packages/amesos2/src/Amesos2_STRUMPACK_def.hpp
  packages/amesos2/test/solvers/STRUMPACK_UnitTests.cpp
Labels: pkg: Amesos2, AT: AUTOMERGE

#12222 teuchos(cleaning): remove old `remove_const_t` trait
  packages/teuchos/core/src/Teuchos_ArrayView.hpp
  packages/teuchos/core/src/Teuchos_ArrayViewDecl.hpp
  packages/teuchos/core/src/Teuchos_ConstTypeTraits.hpp
  packages/teuchos/core/src/Teuchos_TypeNameTraits.hpp
Labels: type: enhancement, pkg: Teuchos

#12188 Tpetra: Getting random pools correct
  packages/muelu/test/unit_tests/Smoothers/BlockedSmoother.cpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_Random.cpp
  packages/tpetra/core/src/Tpetra_Details_Random.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/xpetra/src/MultiVector/Xpetra_TpetraMultiVector_def.hpp
Labels: AT: AUTOMERGE

#12208 shards: update Doxyfile for tag file
  packages/shards/doc/Doxyfile
Labels: PA: Discretizations

#12240 Update zoltan table formatting
  packages/zoltan2/core/src/util/Zoltan2_ImbalanceMetrics.hpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#12253 Framework: Add action to prevent LFS files from being added
  .github/workflows/detect-git-lfs.yml
  commonTools/test/utilities/check-lfs-oids.sh
Labels: AT: AUTOMERGE, PA: Framework

#12254 SLICE: Bring up-to-date with seacas refactoring/fixes
  packages/seacas/applications/slice/CMakeLists.txt
  packages/seacas/applications/slice/SL_Decompose.C
  packages/seacas/applications/slice/SL_Decompose.h
  packages/seacas/applications/slice/SL_SystemInterface.C
  packages/seacas/applications/slice/SL_SystemInterface.h
  packages/seacas/applications/slice/SL_Version.h
  packages/seacas/applications/slice/Slice.C
  packages/seacas/applications/slice/cmake/Dependencies.cmake
  packages/seacas/cmake/Dependencies.cmake
  packages/seacas/libraries/ioss/src/Ioss_ChainGenerator.C
  packages/seacas/libraries/ioss/src/Ioss_ChainGenerator.h
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services

#11751 Tpetra: device version of sort_and_merge_crs
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE, client: ExaWind

#12226 Anasazi: create tpetra version of ModalSolverUtils test
  packages/anasazi/tpetra/test/CMakeLists.txt
  packages/anasazi/tpetra/test/ModalSolverUtils/CMakeLists.txt
  packages/anasazi/tpetra/test/ModalSolverUtils/cxx_main.cpp
Labels: pkg: Anasazi

#12257 Tpetra: Fix #12118 (adding checks)
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
Labels: pkg: Tpetra

#12259 Tpetra: Adding labels to Kokkos::fence(), fixing bug
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
  packages/tpetra/core/src/Tpetra_Details_makeColMap_def.hpp
  packages/tpetra/core/src/Tpetra_Details_residual.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: AT: AUTOMERGE

#12264 Tpetra_Details_Random.cpp: Spelling fix HipSpace->HIPSpace
  packages/tpetra/core/src/Tpetra_Details_Random.cpp
Labels: type: bug, pkg: Tpetra, AT: AUTOMERGE

#12241 Belos: Update all *_diag.cpp tests to use tpetra
  packages/belos/tpetra/test/BiCGStab/CMakeLists.txt
  packages/belos/tpetra/test/BiCGStab/test_bicgstab_diag.cpp
  packages/belos/tpetra/test/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_diag.cpp
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/MultiMatrixSolve/BelosLinearMultiShiftProblem.hpp
  packages/belos/tpetra/test/MultiMatrixSolve/CMakeLists.txt
  packages/belos/tpetra/test/MultiMatrixSolve/test_pseudo_gmres_multidiag.cpp
  packages/belos/tpetra/test/MultipleSolves/CMakeLists.txt
Labels: pkg: Belos

#12267 Zoltan: Remove `inline` specifier from `comm_default.c` functions to avoid warnings
  packages/zoltan/src/Utilities/Communication/comm_default.c
Labels: pkg: Zoltan, AT: AUTOMERGE

#12262 Tpetra: remove unnecessary copy to host in TAFC
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE, client: ExaWind

#12274 Tpetra: Fix to WrappedDualView which should (in theory) help support GH/MI300
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: AT: AUTOMERGE

#12275 Tpetra: modify deep copy tracking
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_KokkosTeuchosTimerInjection.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12194 Panzer: Remove use of hardcoded MPI_COMM_WORLD
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Quad8ToQuad4MeshFactory.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_QuadraticToLinearMeshFactory.hpp
  packages/panzer/core/src/Panzer_PauseToAttach.hpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#12269 Belos: create Tpetra version of GCRODR example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/GCRODR/CMakeLists.txt
  packages/belos/tpetra/example/GCRODR/GCRODRTpetraExFile.cpp
  packages/belos/tpetra/example/GCRODR/sherman5.hb
Labels: pkg: Belos

#12242 Anasazi: Fix OrthoManager tests for Tpetra and non-Petra
  packages/anasazi/epetra/test/BlockKrylovSchur/Dummy
  packages/anasazi/test/BlockDavidson/Dummy
  packages/anasazi/test/BlockKrylovSchur/Dummy
  packages/anasazi/test/IRTR/Dummy
  packages/anasazi/test/LOBPCG/Dummy
  packages/anasazi/test/MVOPTester/Dummy
  packages/anasazi/test/OrthoManager/CMakeLists.txt
  packages/anasazi/test/OrthoManager/Dummy
  packages/anasazi/test/OrthoManager/cxx_gentest_complex.cpp
  packages/anasazi/test/OrthoManager/cxx_main_complex.cpp
  packages/anasazi/test/OrthoManager/cxx_mattest_complex.cpp
  packages/anasazi/tpetra/test/BlockDavidson/Dummy
  packages/anasazi/tpetra/test/BlockKrylovSchur/Dummy
  packages/anasazi/tpetra/test/IRTR/Dummy
  packages/anasazi/tpetra/test/LOBPCG/Dummy
  packages/anasazi/tpetra/test/OrthoManager/CMakeLists.txt
  packages/anasazi/tpetra/test/OrthoManager/Dummy
  packages/anasazi/tpetra/test/OrthoManager/cxx_main_complex.cpp
  packages/anasazi/tpetra/test/OrthoManager/cxx_main_tsqr.cpp
Labels: pkg: Anasazi

#12278 MueLu: Improvements for pseudo-inverse in Amesos2Smoother
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_decl.hpp
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
  packages/muelu/src/Utils/MueLu_PerfModels_def.hpp
Labels: pkg: MueLu

#12271 Remove std::cout printing from Zoltan2 rebalance call
  packages/zoltan2/core/src/problems/Zoltan2_PartitioningSolution.hpp
Labels: pkg: Zoltan2

#12258 Famework: Change defaults for Trilinos-specific CMake flags
  CMakeLists.txt
  RELEASE_NOTES
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12263 Ifpack2: add option to use stream interfaces of KK SPILUK and KK SPTRSV in RILUK and local triangular solver
  packages/ifpack2/doc/UsersGuide/options.tex
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/test_2_RILUK_2streams_nos1_hb.xml
  packages/ifpack2/test/belos/test_2_RILUK_4streams_nos1_hb.xml
  packages/ifpack2/test/belos/test_4_RILUK_2streams_nos1_hb.xml
  packages/ifpack2/test/belos/test_4_RILUK_4streams_nos1_hb.xml
Labels: type: enhancement, pkg: Ifpack2, AT: AUTOMERGE, client: Sierra

#12280 Belos: Provide `Tpetra` version of BlockGmres examples
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraExFile.cpp
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraGaleriEx.cpp
  packages/belos/tpetra/example/BlockGmres/CMakeLists.txt
  packages/belos/tpetra/example/BlockGmres/PseudoBlockGmresTpetraExFile.cpp
  packages/belos/tpetra/example/BlockGmres/identity.mtx
  packages/belos/tpetra/example/BlockGmres/orsirr1.hb
  packages/belos/tpetra/example/BlockGmres/orsirr1_scaled.hb
  packages/belos/tpetra/example/CMakeLists.txt
Labels: pkg: Belos

#12268 Belos: add Tpetra PCPG test
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/PCPG/CMakeLists.txt
  packages/belos/tpetra/test/PCPG/test_pcpg_tpetraex.cpp
Labels: pkg: Belos

#12283 Belos: Provide `Tpetra` version of BlockCG example
  packages/belos/tpetra/example/BlockCG/BlockCGTpetraExFile.cpp
  packages/belos/tpetra/example/BlockCG/CMakeLists.txt
  packages/belos/tpetra/example/BlockCG/PseudoBlockCGTpetraExFile.cpp
  packages/belos/tpetra/example/CMakeLists.txt
Labels: pkg: Belos, AT: AUTOMERGE

#12289 Shylu::FastILU fix for complex types
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#11334 Tpetra: cleanup: unused parameters in Tpetra_Details_Hash.hpp
  packages/tpetra/core/src/Tpetra_Details_Hash.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12232 amesos2(KLU2): enhance standalone testing
  packages/amesos2/src/KLU2/Include/klu2_internal.h
  packages/amesos2/src/KLU2/Source/CMakeLists.txt
  packages/amesos2/src/KLU2/Source/examples/klu2_simple.cpp
  packages/amesos2/src/KLU2/Source/klu2.hpp
  packages/amesos2/src/KLU2/Source/tests/CMakeLists.txt
  packages/amesos2/src/KLU2/Source/tests/klu2_simple.cpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12307 teuchos: Add missing export annotation for windows
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE, PA: Data Services

#12286 Intrepid2: add hierarchical bases for H(div) pyramids
  packages/intrepid2/src/Cell/Intrepid2_CellGeometry.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasisFamily.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_PYR.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_PYR_ETI.cpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefCoeffMatrix_HDIV.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStructDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHDIV.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisCardinalityTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/CMakeLists.txt
  packages/intrepid2/unit-test/MonolithicExecutable/CellGeometryTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/SubBasisInclusionTests.cpp
  packages/intrepid2/unit-test/Orientation/test_orientation_PYR_QuadFace_newBasis.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_PYR_TriFace_newBasis.hpp
  packages/intrepid2/unit-test/Projection/CMakeLists.txt
  packages/intrepid2/unit-test/Projection/eti/test_convergence_PYR_ETI.in
  packages/intrepid2/unit-test/Projection/test_convergence_PYR.hpp
Labels: pkg: Intrepid2

#12301 teko: Guard ProbingPreconditionerFactory by TEKO_HAVE_EPETRA
  packages/teko/src/Teko_PreconditionerFactory.cpp
Labels: pkg: Teko, AT: AUTOMERGE, PA: Linear Solvers, AT: PRE-TEST INSPECTED

#12316 Tempus: Split Up Backward Euler Tests
  packages/tempus/test/BackwardEuler/CMakeLists.txt
  packages/tempus/test/BackwardEuler/Tempus_BackwardEulerTest.cpp
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_CDR.cpp
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_OptInterface.cpp
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_SinCos.cpp
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_VanDerPol.cpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_BackwardEuler_SinCos.xml
  packages/tempus/unit_test/Tempus_UnitTest_BackwardEuler.cpp
  packages/tempus/unit_test/Tempus_UnitTest_Utils.hpp
Labels: pkg: Tempus, AT: AUTOMERGE

#11350 Tpetra: throw when requesting off-rank offsets in non-fill-complete graph
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12288 Belos: Provide `Tpetra` version of RCG example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/RCG/CMakeLists.txt
  packages/belos/tpetra/example/RCG/RCGTpetraExFile.cpp
Labels: pkg: Belos

#12261 Intrepid2: Use rational number representation in `CubatureDirectTriSymmetric`.
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectTriSymmetricDef.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE, PA: Discretizations

#12319 Fix warning 'Rank' is deprecated
  packages/amesos2/src/Amesos2_Kokkos_View_Copy_Assign.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_ScaledDampedResidual_def.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
Labels: pkg: Ifpack2, pkg: Amesos2, pkg: Panzer, AT: AUTOMERGE

#11805 Tpetra: fix uninitialized const ref complaints from clang 14 compiler
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12321 Improve release note for using GNUInstallDirs by default (#12104)
  RELEASE_NOTES
Labels: TriBITS, AT: PRE-TEST INSPECTED

#12309 Belos: add Tpetra GCRODR test
  packages/belos/tpetra/test/GCRODR/CMakeLists.txt
  packages/belos/tpetra/test/GCRODR/test_block_gcrodr.cpp
  packages/belos/tpetra/test/GCRODR/test_gcrodr_complex_hb.cpp
  packages/belos/tpetra/test/GCRODR/test_gcrodr_hb.cpp
Labels: pkg: Belos

#12327 Belos: Provide `Tpetra` version of TFQMR examples
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/TFQMR/CMakeLists.txt
  packages/belos/tpetra/example/TFQMR/PseudoBlockTFQMRTpetraExFile.cpp
  packages/belos/tpetra/example/TFQMR/TFQMRTpetraExFile.cpp
  packages/belos/tpetra/example/TFQMR/osrirr1.hb
Labels: pkg: Belos

#12330 KokkosKernels: fix block_layout type alias in RocSparse TPL
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_bsrmatrix_tpl_spec_decl.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE

#12331 Tpetra: Fixing vortex compile issue
  packages/tpetra/core/src/Tpetra_Details_fill.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12322 Belos: add `Tpetra` MINRES tests
  packages/belos/tpetra/test/CMakeLists.txt
  packages/belos/tpetra/test/MINRES/CMakeLists.txt
  packages/belos/tpetra/test/MINRES/test_minres_diag.cpp
  packages/belos/tpetra/test/MINRES/test_minres_hb.cpp
  packages/belos/tpetra/test/MINRES/test_minres_indefinite.cpp
Labels: pkg: Belos

#12303 Tpetra: Updates to deep_copy / fence counting tools
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_DeepCopyCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.hpp
  packages/tpetra/core/test/MultiVector/MultiVector_UnitTests.cpp
Labels: AT: AUTOMERGE

#12334 tpetra: compatibility update with kokkos-kernels
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_ExtractSubmatrices_def.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12336 MueLu: Update MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12323 Belos: Provide `Tpetra` version of PCPG example
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/PCPG/CMakeLists.txt
  packages/belos/tpetra/example/PCPG/PCPGTpetraExFile.cpp
Labels: pkg: Belos

#12299 Belos: add Tpetra TFQMR test
  packages/belos/tpetra/test/TFQMR/CMakeLists.txt
  packages/belos/tpetra/test/TFQMR/test_tfqmr_diag.cpp
  packages/belos/tpetra/test/TFQMR/test_tfqmr_hb.cpp
Labels: pkg: Belos

#12219 amesos2(cleaning): removing old type traits that are not supported by C++17
  packages/amesos2/CMakeLists.txt
  packages/amesos2/cmake/Amesos2_config.h.in
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_Kokkos_View_Copy_Assign.hpp
  packages/amesos2/src/Amesos2_Meta.hpp
  packages/amesos2/src/Amesos2_MultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_TypeMap.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_decl.hpp
  packages/amesos2/src/Amesos2_PardisoMKL_def.hpp
  packages/amesos2/src/Amesos2_SolverTraits.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/src/Amesos2_Version.cpp
  packages/amesos2/test/adapters/CrsMatrix_Adapter_Consistency_Tests.cpp
  packages/amesos2/test/adapters/Epetra_MultiVector_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Epetra_RowMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Tpetra_CrsMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/adapters/Tpetra_MultiVector_Adapter_UnitTests.cpp
  packages/amesos2/test/solvers/Basker_UnitTests.cpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
  packages/amesos2/test/solvers/MUMPS_UnitTests.cpp
  packages/amesos2/test/solvers/STRUMPACK_UnitTests.cpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
  packages/amesos2/test/solvers/Superlu_UnitTests.cpp
  packages/stokhos/src/sacado/kokkos/pce/amesos2/Amesos2_Solver_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/amesos2/Amesos2_Basker_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/amesos2/Amesos2_Solver_MP_Vector.hpp
Labels: AT: AUTOMERGE

#12308 Framework: Trilframe 512 add son nightly cuda build module load fix
  cmake/tribits/ci_support/get-tribits-packages-from-files-list.py
  packages/framework/pr_tools/LaunchDriver.py
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: PA: Framework

#12343 Belos: Adds Triutils guard to TFQMR example
  packages/belos/tpetra/example/TFQMR/CMakeLists.txt
Labels: pkg: Belos

#12342 Tempus: Implement `CDR_Model_Tpetra` and use it for `BackwardEuler` and `BDF2`
  packages/tempus/src/Tempus_ExplicitTemplateInstantiation.hpp
  packages/tempus/test/BDF2/Tempus_BDF2Test.cpp
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_CDR.cpp
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
  packages/tempus/test/TestModels/CDR_Model.cpp
  packages/tempus/test/TestModels/CDR_Model_Functors.hpp
  packages/tempus/test/TestModels/CDR_Model_Tpetra_decl.hpp
  packages/tempus/test/TestModels/CDR_Model_Tpetra_impl.hpp
Labels: pkg: Tempus, AT: AUTOMERGE

#12230 Pamgen: Remove use of hardcoded MPI_COMM_WORLD
  packages/pamgen/extra_functions/pamgen_extras.cpp
  packages/pamgen/extra_functions/pamgen_global_comm.h
  packages/pamgen/src/CMakeLists.txt
Labels: pkg: Pamgen, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12347 MueLu_Amesos2Smoother: Fixes for projection and non-contiguous maps
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
Labels: pkg: MueLu

#12281 Belos: add Tpetra pseudo_cg_indefinite test
  packages/belos/tpetra/test/BlockCG/CMakeLists.txt
  packages/belos/tpetra/test/BlockCG/test_pseudo_cg_indefinite.cpp
Labels: pkg: Belos, AT: PRE-TEST INSPECTED
