Repository trilinos/Trilinos, pull requests merged in 2023-12, with the labels that each got.

#12578 STK: Fix compiling with SYCL
  packages/stk/stk_unit_tests/stk_expreval/UnitTestEvaluator.cpp
  packages/stk/stk_unit_tests/stk_ngp_test/utest_VirtualFunction.cpp
  packages/stk/stk_unit_tests/stk_topology/utest_b/unit_test_quad.cpp
  packages/stk/stk_unit_tests/stk_topology/utest_b/unit_test_wedge.cpp
  packages/stk/stk_util/stk_util/util/ReportHandler.hpp
Labels: pkg: STK, AT: AUTOMERGE

#12566 Ifpack2: Do not allocate views associated to the Schur complements if the number of sublines per line is not at least 2
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#12570 Fix #12565 and Tpetra::MatrixMatrix::Add in general
  packages/muelu/test/unit_tests/ParameterList/ParameterListInterpreter.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: type: bug, type: enhancement, pkg: Tpetra, pkg: MueLu

#12576 Phalanx: Fix compiling with SYCL
  packages/phalanx/CMakeLists.txt
  packages/phalanx/cmake/Phalanx_config.hpp.in
  packages/phalanx/src/Phalanx_Field_Def.hpp
  packages/phalanx/src/Phalanx_KokkosDeviceTypes.hpp
  packages/phalanx/test/Kokkos/tKokkosClassOnDevice.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE

#12580 PyTrilinos2 : Fix the include logic broken since the creation of kokkos/algorithms/src/sorting
  packages/PyTrilinos2/CMakeLists.txt
  packages/PyTrilinos2/scripts/gather_includes.py
Labels: AT: AUTOMERGE, pkg: PyTrilinos2

#12588 CHACO: Revert unsigned changes
  packages/seacas/libraries/chaco/util/chaco_random.h
  packages/seacas/libraries/chaco/util/random.c
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, AT: PRE-TEST INSPECTED

#12583 Stokhos: Fix tests for SYCL
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE_Imp.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#12567 Tpetra: Adding a H2D regression test for matvecs inspired by #12560
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecH2D.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12582 Zoltan2: Fix compiling with SYCL
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorerUtils.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
  packages/zoltan2/test/core/TpetraCrsColorer/Bug9500.cpp
  packages/zoltan2/test/core/TpetraCrsColorer/TpetraCrsColorer.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#12577 Tacho: Fix compiling with SYCL
  packages/shylu/shylu_node/tacho/src/CMakeLists.txt
  packages/shylu/shylu_node/tacho/src/impl/Tacho_ApplyPermutation_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_ApplyPivots_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Copy_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Scale2x2_BlockInverseDiagonals_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Symmetrize_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#12581 Framework: Increase mem/core from 3 to 4 Gb
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: impacting: configure or build, AT: AUTOMERGE, PA: Framework

#12591 Ifpack2: Add the option to pass the number of sublines per line inside a parameterlist
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_decl.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainerUtil.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#12593 MueLu: add --watchr-problem-name option to Driver
  packages/muelu/test/scaling/Driver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12589 Panzer: move some evaluator code to device
  packages/panzer/disc-fe/src/evaluators/Panzer_ConstantFlux_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ConstantVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ConstantVector_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ReorderADValues_Evaluator_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ReorderADValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Sum_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12524 Amesos2 : CUDA-enabled Superlu_DIST
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
  packages/amesos2/test/adapters/Tpetra_CrsMatrix_Adapter_UnitTests.cpp
  packages/amesos2/test/solvers/SolverFactory.cpp
Labels: pkg: Amesos2, 15.1 release note

#12587 Compadre: Fix enums for SYCL
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_Quadrature.hpp
Labels: AT: AUTOMERGE, pkg: Compadre

#12601 MueLu RefMaxwell: Handle another corner case for rebalancing
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12600 Phalanx: temporary disable of failing test
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#12548 FRAMEWORK: Fix updates on Kokkos Integration build
  cmake/SimpleTesting/cmake/ctest-cdash-setup.cmake
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/SetKokkosDevelop.sh
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/supported-systems.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE

#12575 Intrepid2: Fix compiling with SYCL
  packages/intrepid2/src/Shared/Intrepid2_Utils.hpp
Labels: pkg: Intrepid2, AT: PRE-TEST INSPECTED

#12602 Framework: Fix argument from bool -> string
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE

#12605 PyTrilinos2: Fix PyTrilinos2 PYTHONPATH for the tests
  packages/PyTrilinos2/CMakeLists.txt
  packages/PyTrilinos2/cmake/PyTrilinos2MakeTest.cmake
Labels: AT: AUTOMERGE, pkg: PyTrilinos2

#12604 Framework: Correct list/string joining
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE

#12608 Panzer: Assembly improvements
  packages/panzer/adapters-stk/src/Panzer_STK_WorksetFactory.cpp
  packages/panzer/disc-fe/src/Panzer_AssemblyEngine_impl.hpp
  packages/panzer/disc-fe/src/Panzer_FieldManagerBuilder.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherBasisCoordinates_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherIntegrationCoordinates_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_BasisTimesVector_impl.hpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_SchurComplement_impl.hpp
  packages/panzer/mini-em/src/eqn_sets/MiniEM_AuxiliaryEquationSet_WeakGradient_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#12539 Added support for copying modifiers in `setParameters` and `setParame…
  packages/teuchos/parameterlist/src/Teuchos_ParameterList.cpp
  packages/teuchos/parameterlist/src/Teuchos_ParameterListModifier.hpp
  packages/teuchos/parameterlist/test/ParameterList/ParameterListModifier_UnitTests.cpp
  packages/teuchos/parameterlist/test/ParameterList/ParameterList_UnitTests.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12607 Intrepid2: Optimizations for pullbacks (among others)
  packages/intrepid2/src/Shared/Intrepid2_ArrayToolsDefTensor.hpp
  packages/intrepid2/unit-test/Discretization/Integration/test_util.hpp
Labels: pkg: Intrepid2, client: Sierra

#11391 Framework: Speed up CUDA PR builds/tests
  packages/framework/ini-files/config-specs.ini
  packages/framework/pr_tools/LaunchDriver.py
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/gpu_utils.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/unittests/test_gpu_utils.py
  packages/framework/pr_tools/unittests/test_LaunchDriver.py
Labels: impacting: tests, impacting: configure or build, PA: Framework, autotester

#12614 MueLu: Fix scripts that generate fwd headers and short names
  packages/muelu/src/Headers/LO-GO-NO.tmpl
  packages/muelu/src/Headers/SC-LO-GO-NO.tmpl
  packages/muelu/src/Headers/gen_UseShortNames.sh
  packages/muelu/src/Utils/ForwardDeclaration/LO-GO-NO.tmpl
  packages/muelu/src/Utils/ForwardDeclaration/Non-Templated.tmpl
  packages/muelu/src/Utils/ForwardDeclaration/SC-LO-GO-NO.tmpl
  packages/muelu/src/Utils/ForwardDeclaration/gen_fwdFiles.sh
Labels: pkg: MueLu, AT: AUTOMERGE

#12597 GitHub PR template: Add reminder about release notes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: AT: AUTOMERGE

#12616 Ignore commits with changes from clang format
  .git-blame-ignore-revs
Labels: pkg: MueLu, AT: AUTOMERGE

#12619 MueLu Amesos2Smoother: Call numericFactorization during setup
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12618 Framework: Add '-fp-model=precise' when using OneAPI compiler
  cmake/ProjectCompilerPostConfig.cmake
  packages/framework/ini-files/config-specs.ini
Labels: impacting: configure or build, AT: AUTOMERGE, PA: Framework

#12620 Tpetra: Potential fix for #12574
  packages/tpetra/core/src/Tpetra_Details_LocalMap.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecH2D.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12622 Tpetra: Adding cmake support for making Tpetra allocate in shared space
  packages/tpetra/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/compat/Tpetra_KokkosCompat_ClassicNodeAPI_Wrapper.hpp
Labels: AT: AUTOMERGE

#12624 Tempus: Disable Tests That Run Too Long
  packages/framework/ini-files/config-specs.ini
Labels: type: enhancement, pkg: Tempus, AT: AUTOMERGE

#12625 Teuchos: remove spurious test output
  packages/teuchos/comm/test/Comm/DefaultMpiComm_UnitTests.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#12630 Belos: Avoid duplicate doxygen anchors. Add missing closing \f$.
  packages/belos/doc/index.doc
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosStatusTestGenResSubNorm.hpp
Labels: AT: AUTOMERGE

#12627 Kokkos: Silence warning
  packages/kokkos/core/src/Kokkos_HostSpace.hpp
Labels: pkg: Kokkos, AT: AUTOMERGE
