Repository trilinos/Trilinos, pull requests merged in 2023-03, with the labels that each got.

#11617 Add tribits_disable_optional_dependency() (#11612)
  cmake/tribits/core/package_arch/TribitsPackageMacros.cmake
  packages/ml/CMakeLists.txt
  packages/xpetra/CMakeLists.txt
Labels: pkg: Xpetra, pkg: ML, AT: AUTOMERGE, TriBITS

#11528 Framework: Updating script for daily Trilinos Status Table
  packages/framework/dailyTableUpdates/table_Automation.py
Labels: AT: AUTOMERGE

#11625 Upgrade to CMake 3.23 (#10355)
  INSTALL.rst
Labels: type: bug, impacting: documentation, AT: AUTOMERGE

#11623 Ifpack2/Tpetra: Fixing multiproc issue in BlockCrs example
  packages/ifpack2/example/BlockTriDi.cpp
  packages/teuchos/numerics/src/Teuchos_MatrixMarket_Raw_Adder.hpp
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
  packages/tpetra/core/test/inout/MatrixMarket_Tpetra_CrsMatrix_InOutTest.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11604 Tpetra remove zeros from CrsMatrix
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsGraph/CrsGraph_UnitTests1.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests4.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11626 MueLu: Fix fscanf and system warnings
  packages/muelu/test/scaling/MatrixLoad.hpp
  packages/muelu/test/viz/AggExport.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11616 Framework: Enable ccache for PR builds
  CMakeLists.txt
  launch-c.in
  launch-cxx.in
  packages/framework/ini-files/config-specs.ini
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE

#11633 Snapshot of kokkos-kernels.git - fixups to 4.0
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/cmake/kokkoskernels_components.cmake
  packages/kokkos-kernels/example/gmres/test_prec.cpp
  packages/kokkos-kernels/perf_test/CMakeLists.txt
  packages/kokkos-kernels/sparse/src/KokkosSparse_MatrixPrec.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_Preconditioner.hpp
Labels: pkg: KokkosKernels, client: EMPIRE, AT: AUTOMERGE

#11636 Panzer: Epetra deprecation
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#11637 enigma nightlies: Disable ShyLU_Node
  cmake/ctest/drivers/enigma/TrilinosCTestDriverCore.enigma.gcc.cmake
Labels: pkg: MueLu, AT: AUTOMERGE

#11629 MueLu: Suppress more system and mkstemp warnings, update affiliations
  packages/muelu/doc/MueLu_DoxygenDocumentation.hpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/unit_tests/Hierarchy.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11638 Teko: Fix warnings and test
  packages/teko/tests/CMakeLists.txt
  packages/teko/tests/src/tLSCIntegrationTest_tpetra.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#11639 MueLu: Add option to build Graham's matrix-free
  packages/muelu/research/CMakeLists.txt
  packages/muelu/research/graham/CMakeLists.txt
  packages/muelu/research/graham/mf_example_01.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11587 Framework: Enable shadowing errors in more fixed packages
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#11640 STK: Snapshot 03-08-23 09:14 from Sierra 5.11.7-769-g2f3aeaa1
  packages/stk/stk_integration_tests/mock_apps/mock_conservative_transfer_mpmd.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_conservative_transfer_spmd.cpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface.cpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_impl.cpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_impl.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_mpmd.cpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_mpmd.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_spmd.cpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/application_interface_fake_parallel_spmd.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/communication_api.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/communication_api_mpmd.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/field_base.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/field_scatter_from_root.hpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/mesh_gather_to_root.cpp
  packages/stk/stk_middle_mesh/stk_middle_mesh/mesh_gather_to_root.hpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_application_interface_mpmd.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_application_interface_spmd.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_communication_api_mpmd.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_communication_api_spmd.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_field.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/test_mesh_gather_to_root.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11648 MueLu: Add sendBuilds.sh utils/misc script
  packages/muelu/utils/misc/sendBuilds.sh
Labels: pkg: MueLu, AT: AUTOMERGE

#11646 Amesos2/Ifpack2: Adding SYCL support
  packages/amesos2/src/Amesos2_Kokkos_Impl.hpp
  packages/ifpack2/src/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/src/Ifpack2_ETI_LO_GO_SYCL.tmpl
  packages/ifpack2/src/Ifpack2_ETI_SC_LO_GO_SYCL.tmpl
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11484 teuchos(fix): add missing move constructors for Teuchos::any and Teuchos::ParameterEntry
  packages/teuchos/core/src/Teuchos_StringIndexedOrderedValueObjectContainer.hpp
  packages/teuchos/core/src/Teuchos_any.hpp
  packages/teuchos/parameterlist/src/Teuchos_ParameterEntry.cpp
  packages/teuchos/parameterlist/src/Teuchos_ParameterEntry.hpp
  packages/teuchos/parameterlist/src/Teuchos_ParameterList.hpp
  packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp
  packages/teuchos/parameterlist/test/ParameterList/ParameterEntry_UnitTest.cpp
  packages/teuchos/parser/src/Teuchos_MathExpr.cpp
Labels: type: enhancement, pkg: Teuchos, AT: AUTOMERGE

#11642 Tpetra: Transpose fix
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra, client: EMPIRE

#11653 Tpetra/MueLu: More SYCL improvements
  packages/muelu/CMakeLists.txt
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/example/ParameterList/MLParameterList.cpp
  packages/muelu/research/tawiesn/aria/Driver.cpp
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/interface/ParameterListInterpreter.cpp
  packages/muelu/test/perf_tests_kokkos/KokkosKernels.cpp
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
  packages/muelu/test/unit_tests_kokkos/IndexManager_kokkos.cpp
  packages/muelu/test/vardofpernode/VarDofDriver.cpp
  packages/muelu/test/viz/Viz.cpp
  packages/tpetra/core/compat/KokkosCompat_ClassicNodeAPI_Wrapper.cpp
  packages/tpetra/core/compat/KokkosCompat_ClassicNodeAPI_Wrapper.hpp
  packages/xpetra/CMakeLists.txt
Labels: pkg: Tpetra, pkg: MueLu, AT: AUTOMERGE

#11649 Piro: Improvements to Analysis capability
  packages/piro/src/CMakeLists.txt
  packages/piro/src/Piro_CustomLBFGSSecant.hpp
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/test/_input_Analysis_ROL_FullSpace_AugmentedLagrangian_BoundConstrained.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_LineSearch.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_LineSearch_AdjointSensitivities_CheckGradients.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_LineSearch_HessianBasedDotProduct.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_TrustRegion_BoundConstrained_ExplicitAdjointME_NOXSolver.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_TrustRegion_BoundConstrained_NOXSolver.xml
  packages/piro/test/_input_Analysis_ROL_ReducedSpace_TrustRegion_HessianBasedDotProduct.xml
  packages/rol/adapters/thyra/src/vector/ROL_LinearOpScaledThyraVector.hpp
  packages/rol/src/algorithm/ROL_Solver.hpp
  packages/rol/src/algorithm/ROL_Solver_Def.hpp
  packages/rol/src/algorithm/TypeB/ROL_TypeB_AlgorithmFactory.hpp
  packages/rol/src/algorithm/TypeB/ROL_TypeB_InteriorPointAlgorithm.hpp
  packages/rol/src/algorithm/TypeB/ROL_TypeB_InteriorPointAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeB/ROL_TypeB_MoreauYosidaAlgorithm.hpp
  packages/rol/src/algorithm/TypeB/ROL_TypeB_MoreauYosidaAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_AlgorithmFactory.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_AugmentedLagrangianAlgorithm.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_AugmentedLagrangianAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_FletcherAlgorithm.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_FletcherAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_StabilizedLCLAlgorithm.hpp
  packages/rol/src/algorithm/TypeE/ROL_TypeE_StabilizedLCLAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_AlgorithmFactory.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_AugmentedLagrangianAlgorithm.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_AugmentedLagrangianAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_InteriorPointAlgorithm.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_InteriorPointAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_MoreauYosidaAlgorithm.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_MoreauYosidaAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_StabilizedLCLAlgorithm.hpp
  packages/rol/src/algorithm/TypeG/ROL_TypeG_StabilizedLCLAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeU/ROL_TypeU_AlgorithmFactory.hpp
  packages/rol/src/algorithm/TypeU/ROL_TypeU_LineSearchAlgorithm.hpp
  packages/rol/src/algorithm/TypeU/ROL_TypeU_LineSearchAlgorithm_Def.hpp
  packages/rol/src/algorithm/TypeU/linesearch/descent/ROL_DescentDirection_U_Factory.hpp
  packages/rol/src/algorithm/TypeU/linesearch/descent/ROL_NewtonKrylov_U.hpp
  packages/rol/src/step/secant/ROL_lBFGS.hpp
Labels: type: enhancement, pkg: Piro, pkg: ROL, PA: Nonlinear Solvers, client: Albany

#11627 Muelu: lumped diag device
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/test/unit_tests/Memory.cpp
  packages/muelu/test/unit_tests/Utilities.cpp
Labels: pkg: MueLu, AT: AUTOMERGE, client: ExaWind

#11664 MueLu: Rename MatrixFree*_kokkos objects and files
  packages/muelu/research/graham/mf_example_01.cpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativePFactory_decl.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativePFactory_def.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativeP_decl.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativeP_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_MatrixFreeTentativePFactory_fwd.hpp
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_MatrixFreeTentativeP_fwd.hpp
  packages/muelu/test/unit_tests_kokkos/MatrixFree_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11647 MueLu: Fixes for MKL and cuda 12 (#11643)
  packages/muelu/test/scaling/JacobiKernelDriver.cpp
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
  packages/muelu/test/scaling/TwoMatrixMMKernelDriver.cpp
  packages/muelu/test/unit_tests/RegionMatrix.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11663 KokkosKernels: temp. fix for #11655
  packages/kokkos-kernels/sparse/src/KokkosSparse_spgemm_symbolic.hpp
Labels: pkg: Tpetra, pkg: KokkosKernels

#11669 ShyLU/Ifpack2: fix #11656 (FastILU w/ Sacado)
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: Ifpack2, pkg: ShyLU, impacting: configure or build, AT: AUTOMERGE

#11668 MueLu: Fix abstract type in matrix-free
  packages/muelu/research/graham/CMakeLists.txt
  packages/muelu/research/graham/mf_example_01.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11673 STK: Snapshot 03-14-23 07:20 from Sierra 5.13.1-89-g47f02a9c
  packages/stk/stk_integration_tests/mock_apps/StkMesh.hpp
  packages/stk/stk_integration_tests/mock_apps/mock_aria.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_fuego.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_salinas.cpp
  packages/stk/stk_integration_tests/mock_apps/mock_sparc.cpp
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_mesh/stk_mesh/base/Bucket.hpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBLAS.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBLAS.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldBase.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldRestriction.hpp
  packages/stk/stk_mesh/stk_mesh/base/SkinMeshUtil.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ParallelInfoForGraph.cpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/elementGraph/ParallelInfoForGraph.hpp
  packages/stk/stk_performance_tests/stk_mesh/ChangeEntityPartPerfTest.cpp
  packages/stk/stk_performance_tests/stk_mesh/ManyBlocksSidesetsPerformance.cpp
  packages/stk/stk_performance_tests/stk_mesh/multi_block.cpp
  packages/stk/stk_performance_tests/stk_mesh/multi_block.hpp
  packages/stk/stk_transfer/stk_transfer/ReducedDependencyGeometricTransfer.hpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestChangeParts.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestFieldImpl.cpp
  packages/stk/stk_util/stk_util/parallel/CouplingVersions.cpp
  packages/stk/stk_util/stk_util/parallel/CouplingVersions.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11641 MueLu: Utilities cleanup
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_decl.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_decl.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell_Utils_decl.hpp
  packages/muelu/src/Operators/MueLu_Maxwell_Utils_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/MueLu_NullspacePresmoothFactory_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_CGSolver_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_GMRESSolver_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_SteepestDescentSolver_def.hpp
  packages/muelu/src/Transfers/GeneralGeometric/MueLu_RegionRFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativePFactory_decl.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativePFactory_def.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativeP_decl.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativeP_def.hpp
  packages/muelu/src/Transfers/Petrov-Galerkin-SA/MueLu_PgPFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_kokkos_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_Utilities_kokkos_fwd.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/SaPFactory_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/SemiCoarsenPFactory_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/Utilities_kokkos.cpp
  packages/xpetra/src/Utils/ForwardDeclaration/Xpetra_BlockedMap_fwd.hpp
Labels: pkg: MueLu, pkg: Xpetra, MueLuReview

#11672 Piro: fix compilation error when Teko is not enabled
  packages/piro/src/Piro_PerformAnalysis.cpp
Labels: type: bug, client: LCM

#11675 MueLu: Fix matrix-free for GO!=long long
  packages/muelu/research/graham/mf_example_01.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11657 Tacho : remove KOKKOS_ACTIVE_EXECUTION_MEMORY_SPACE_*
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_CholSupernodes_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_CholSupernodes_SerialPanel.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemm.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_GemmTriangular_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemm_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Gemv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Herk.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Herk_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsm.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsm_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Trsv_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
Labels: pkg: ShyLU

#11676 teuchos: Add missing <cstdint> include in teuchos for GCC 13
  packages/teuchos/core/src/Teuchos_BigUIntDecl.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#11645 Framework: Update versions to reflect 14.0 release
  Version.cmake
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#11681 sacado: move shfl out of Experimental namespace for Hip
  packages/sacado/src/new_design/Sacado_Fad_Exp_Atomic.hpp
Labels: pkg: Sacado, AT: AUTOMERGE

#11661 MueLu: Merge CoordinatesFactory_kokkos into CoordinatesFactory
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Interface/MueLu_FactoryFactory_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_decl.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_kokkos_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Utils/ClassList/SC-LO-GO-NO.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
  packages/muelu/src/Utils/ForwardDeclaration/MueLu_CoordinatesTransferFactory_kokkos_fwd.hpp
  packages/muelu/test/interface/kokkos/Output/aggregation4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition3_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition4_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/repartition4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RAP-2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-RP-2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-S-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-S-1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-full-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-full-1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-none_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-none_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-3_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/reuse-tP-3_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose2_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose3_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/transpose3_tpetra.gold
  packages/muelu/test/structured/structured_interp_kokkos.xml
  packages/muelu/test/structured/structured_interp_sa_kokkos.xml
  packages/muelu/test/structured/structured_tentative_kokkos.xml
Labels: pkg: MueLu, AT: AUTOMERGE

#11685 Moves KokkosContainers from an optional to a required dependency
  packages/stokhos/cmake/Dependencies.cmake
Labels: pkg: Stokhos

#11686 Epetra: Throw if CrsGraph indices are negative
  packages/epetra/src/Epetra_CrsGraph.cpp
Labels: pkg: Epetra, AT: AUTOMERGE

#11688 Tpetra: add more timers to transferAndFillComplete
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11680 Framework: Add nightly build with Epetra stack disabled
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-config-flags.ini
Labels: AT: AUTOMERGE, PA: Framework

#11700 Correct issues in Tpetra's Kokkos Deprecation
  packages/tpetra/core/compat/CMakeLists.txt
  packages/tpetra/core/compat/Tpetra_KokkosCompat_ClassicNodeAPI_Wrapper.hpp
Labels: pkg: Tpetra

#11702 Tacho : catch invalid pivots in teamed factorization
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLU.hpp
Labels: pkg: ShyLU

#11703 Tpetra: Drop host views before apply, since apply may use the device.
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
Labels: pkg: Tpetra

#11480 Amesos2: Add row permutation option to SuperLU_dist
  packages/amesos2/src/Amesos2_SolverCore_def.hpp
  packages/amesos2/src/Amesos2_Superludist_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_decl.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: type: enhancement, pkg: Amesos2

#11466 zoltan2: Workaround c++20 deprecation of implicit this capture via [=].
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: pkg: Zoltan2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11710 Amesos2::SuperLU_DIST: fix compilation errors with complex scalar
  packages/amesos2/example/SimpleSolve_IR.cpp
  packages/amesos2/src/Amesos2_Superludist_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
Labels: pkg: Amesos2, AT: AUTOMERGE

#11713 MueLu Utilities: Fix compile issue on HIP
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
Labels: pkg: MueLu

#11705 Tpetra: set all row-pointer entries in readSparse
  packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp
  packages/tpetra/core/test/inout/CMakeLists.txt
  packages/tpetra/core/test/inout/Issue11704.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11715 Tpetra: early exit from CRS remove zeros
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
Labels: type: enhancement, pkg: Tpetra, impacting: performance

#11723 intrepid2: compatibility update has_rank_member
  packages/intrepid2/src/Shared/Intrepid2_Utils.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE

#11708 Ifpack2: Fix tests for SYCL
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: pkg: Ifpack2, client: ATDM

#11722 stokhos: update include for compatibililty with kokkos
  packages/stokhos/src/sacado/kokkos/Stokhos_StaticFixedStorage.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#11729 MueLu: Fix build issues seen in Nalu build
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/test/meshtying/MeshTyingBlocked_SimpleSmoother.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11733 stokhos: remove ArithTraits from Details namespace post Kokkos@4.0
  packages/stokhos/src/sacado/kokkos/vector/linalg/Kokkos_ArithTraits_MP_Vector.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#11738 Amesos2: fix build with HIP, complex enabled
  packages/amesos2/src/Amesos2_Lapack_decl.hpp
  packages/amesos2/src/Amesos2_MatrixTraits.hpp
Labels: type: bug, pkg: Amesos2, impacting: configure or build, AT: AUTOMERGE

#11679 Tpetra: fix tests with both Cuda & OpenMP
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_ExtraKernels_def.hpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11744 MueLu: Adding CPU memory diagnostic to Driver
  packages/muelu/test/scaling/Driver.cpp
Labels: AT: AUTOMERGE

#11741 Intrepid2: bugfix to project-field test
  packages/intrepid2/unit-test/Projection/test_project_fields.hpp
Labels: type: bug, pkg: Intrepid2, PA: Discretizations
