Repository trilinos/Trilinos, pull requests merged in 2023-01, with the labels that each got.

#11413 Tempus: Enable Shadow Warnings
  packages/tempus/src/Tempus_IntegratorPseudoTransientAdjointSensitivity_impl.hpp
Labels: pkg: Tempus, AT: STALE

#11433 Ifpack2: remove last ifpack2 shadow warnings
  packages/ifpack2/src/Ifpack2_ReorderFilter_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#11434 KokkosKernels: Performance fixup from #11074
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/src/sparse/impl/KokkosSparse_spiluk_symbolic_impl.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11436 Framework: Ignore warnings in pytest tests
  commonTools/framework/CMakeLists.txt
Labels: impacting: tests, AT: AUTOMERGE, PA: Framework

#11435 Panzer fix bugs
  packages/panzer/adapters-stk/src/Panzer_STK_SetupLOWSFactory.cpp
  packages/panzer/disc-fe/src/Panzer_SubcellConnectivity.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#11432 Adelus: Add original factorsolve interfaces back for calls within EIGER
  packages/adelus/src/Adelus.hpp
Labels: type: help wanted, AT: AUTOMERGE, PA: Linear Solvers, pkg: Adelus

#11422 Tpetra+Teko: Silence shadow warnings
  packages/teko/src/NS/Teko_ALOperator.cpp
  packages/teko/src/NS/Teko_PCDStrategy.cpp
  packages/teko/src/Teko_BlockLowerTriInverseOp.cpp
  packages/teko/src/Teko_BlockUpperTriInverseOp.cpp
  packages/teko/src/Teko_BlockedReordering.cpp
  packages/teko/src/Teko_GaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_JacobiPreconditionerFactory.cpp
  packages/teko/src/Teko_LU2x2DiagonalStrategy.cpp
  packages/teko/src/Teko_LU2x2InverseOp.cpp
  packages/teko/src/Teko_ReorderedLinearOp.cpp
  packages/teko/src/Tpetra/Teko_TpetraHelpers.cpp
  packages/teko/tests/Test_Utils.cpp
  packages/teko/tests/Test_Utils.hpp
  packages/teko/tests/src/Tpetra/tBlockedTpetraOperator.cpp
  packages/teko/tests/src/Tpetra/tStridedTpetraOperator.cpp
  packages/teko/tests/src/Tpetra/tTpetraOperatorWrapper.cpp
  packages/teko/tests/unit_tests/tIterativePreconditionerFactory.cpp
  packages/teko/tests/unit_tests/tRequestInterface.cpp
  packages/tpetra/core/inout/Tpetra_Details_CooMatrix.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
Labels: pkg: Tpetra, pkg: Teko, AT: AUTOMERGE

#11448 MiniEM: Remove leftover augmentation solver operator
  packages/panzer/mini-em/example/BlockPrec/maxwell.xml
Labels: pkg: Panzer, AT: AUTOMERGE

#11451 shylubasker: rename KOKKOS_NOINIT macro
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#11417 Create gcc-8.3.0 builds that use the new sems tpls
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: STALE, PA: Framework

#11442 SEACAS: Update embedded lib{fmt} version to 9.1.0
  cmake-config
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/args.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/chrono.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/color.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/compile.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/core.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format-inl.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/os.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ostream.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/printf.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ranges.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/std.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/xchar.h
  packages/seacas/libraries/suplib_cpp/fmt/args.h
  packages/seacas/libraries/suplib_cpp/fmt/chrono.h
  packages/seacas/libraries/suplib_cpp/fmt/color.h
  packages/seacas/libraries/suplib_cpp/fmt/compile.h
  packages/seacas/libraries/suplib_cpp/fmt/core.h
  packages/seacas/libraries/suplib_cpp/fmt/format-inl.h
  packages/seacas/libraries/suplib_cpp/fmt/format.h
  packages/seacas/libraries/suplib_cpp/fmt/os.h
  packages/seacas/libraries/suplib_cpp/fmt/ostream.h
  packages/seacas/libraries/suplib_cpp/fmt/printf.h
  packages/seacas/libraries/suplib_cpp/fmt/ranges.h
  packages/seacas/libraries/suplib_cpp/fmt/std.h
  packages/seacas/libraries/suplib_cpp/fmt/xchar.h
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#11440 Hands off `Kokkos::Impl::if_c`
  packages/PyTrilinos/src/Tpetra.i
  packages/adelus/src/BlasWrapper_copy.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/Kokkos_View_MP_Vector_Interlaced.hpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_View.hpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_View_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/xpetra/src/Vector/Xpetra_Vector.hpp
Labels: pkg: Tpetra, pkg: Xpetra, pkg: Teuchos, pkg: PyTrilinos, pkg: Sacado, pkg: Stokhos, pkg: Adelus

#11445 Compadre: Do not define `KOKKOS_*` macros, add `COMPADRE_` prefix
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_Typedefs.hpp
Labels: pkg: Compadre

#11457 SEACAS: temporary fix to fmt TPL for gcc 7.2
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format.h
  packages/seacas/libraries/suplib_cpp/fmt/format.h
Labels: pkg: seacas, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#11460 CMake: Update Rocketman Avatar nightly, update Avatar repository location
  cmake/ExtraRepositoriesList.cmake
  cmake/ctest/drivers/rocketman/ctest_linux_experimental_mpi_release_avatar_rocketman.cmake
Labels: AT: AUTOMERGE

#11450 Shards: make Particle topology 0-dimensional
  packages/shards/src/Shards_BasicTopologies.cpp
  packages/shards/src/Shards_BasicTopologies.hpp
  packages/shards/src/Shards_CellTopologyTraits.hpp
Labels: pkg: Shards, PA: Discretizations, client: Albany, AT: PRE-TEST INSPECTED

#11462 Tpetra: Beginning deprecation of files that start with Kokkos_
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/tpetra/Stokhos_Tpetra_MP_Vector.hpp
  packages/tpetra/core/compat/CMakeLists.txt
  packages/tpetra/core/compat/Kokkos_BufferMacros.hpp
  packages/tpetra/core/compat/Kokkos_LinAlgVersion.hpp
  packages/tpetra/core/compat/Kokkos_MultiVectorKernelOps.hpp
  packages/tpetra/core/compat/Kokkos_NodeAPIConfigDefs.hpp
  packages/tpetra/core/compat/Kokkos_Version.hpp
Labels: AT: AUTOMERGE

#11276 Amesos2: Fixes for LAPACK adapter
  packages/amesos2/CMakeLists.txt
  packages/amesos2/cmake/Dependencies.cmake
  packages/amesos2/src/Amesos2_Lapack_def.hpp
Labels: pkg: Amesos2

#11357 Framework: Make C++17 the default
  CMakeLists.txt
Labels: AT: AUTOMERGE

#11136 Xpetra&MueLu: Stop warnings about unused short names
  packages/muelu/src/Headers/LO-GO-NO.tmpl
  packages/muelu/src/Headers/MueLu_UseShortNamesOrdinal.hpp
  packages/muelu/src/Headers/MueLu_UseShortNamesScalar.hpp
  packages/muelu/src/Headers/Non-Templated.tmpl
  packages/muelu/src/Headers/SC-LO-GO-NO.tmpl
  packages/xpetra/src/Headers/Xpetra_UseShortNamesOrdinal.hpp
  packages/xpetra/src/Headers/Xpetra_UseShortNamesScalar.hpp
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE

#11416 Zoltan2: Allow coloring interface to process only chunks of colors at a time
  packages/zoltan2/core/src/TpetraCrsColorer/Zoltan2_TpetraCrsColorer.hpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#11471 Rocketman: Pull in changes to base repo
  cmake/ctest/drivers/rocketman/cron_driver.sh
Labels: pkg: MueLu

#11473 Tpetra: Fix wrong execution space in CrsGraph
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11474 Testing: geminga: suppress valgrind warnings about leaks in system perl library
  cmake/ctest/drivers/geminga/valgrind_suppressions.txt
Labels: AT: AUTOMERGE

#11476 KokkosKernels: fix MIS2 agg determinism, valgrind
  packages/kokkos-kernels/src/graph/impl/KokkosGraph_Distance1Color_impl.hpp
  packages/kokkos-kernels/src/graph/impl/KokkosGraph_Distance2MIS_impl.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE

#11478 Tpetra: Fix last shadowing warning
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11486 add congfig for clang 11 sems v2 build
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: PA: Framework

#11489 SEACAS: Remove uses of fmt in include files
  packages/seacas/libraries/ioss/src/Ioss_StructuredBlock.h
  packages/seacas/libraries/ioss/src/Ioss_ZoneConnectivity.h
  packages/seacas/libraries/ioss/src/heartbeat/Iohb_DatabaseIO.C
  packages/seacas/libraries/ioss/src/heartbeat/Iohb_Layout.C
  packages/seacas/libraries/ioss/src/heartbeat/Iohb_Layout.h
Labels: pkg: seacas, client: EMPIRE, AT: AUTOMERGE, client: SPARC, PA: Data Services, client: Albany, client: ExaWind, impacting: sanity, client: Nalu

#11397 Framework: Enable shadow warnings everywhere we use -Wall
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, client: Sierra

#11495 Fix for 2 gcc-8.3.0 new PR builds
  packages/framework/ini-files/config-specs.ini
Labels: PA: Framework

#11498 Tpetra: work around subview of managed view slowdown
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_FE.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_utility.hpp
Labels: pkg: Tpetra, impacting: performance

#11443 Adelus: Do not use `Kokkos::Impl::throw_runtime_exception`
  packages/adelus/src/Adelus_factor.hpp
  packages/adelus/src/BlasWrapper_copy.hpp
Labels: AT: AUTOMERGE, pkg: Adelus

#11503 Compadre: Fix shadow warnings
  packages/compadre/CMakeLists.txt
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/examples/unittests/test_NeighborLists.hpp
  packages/compadre/src/Compadre_Basis.hpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_SolutionSet.hpp
Labels: AT: AUTOMERGE, pkg: Compadre

#11444 Adelus: Do not use `Kokkos::Impl::clock_tic`
  packages/adelus/example/adelus_driver.cpp
Labels: AT: AUTOMERGE, pkg: Adelus

#11505 Intrepid2: remove extraneous Kokkos finalize
  packages/intrepid2/unit-test/Discretization/Integration/test_01.hpp
Labels: type: bug, pkg: Intrepid2

#11507 SEACAS: Make getline termios symbols unique across uses
  packages/seacas/libraries/aprepro_lib/apr_getline_int.c
  packages/seacas/libraries/ioss/src/Ioss_Getline.C
  packages/seacas/libraries/supes/ext_lib/getline_int.c
Labels: pkg: seacas, client: EMPIRE, AT: AUTOMERGE, PA: Data Services

#11514 MueLu: read matrix and parallelize without requiring rowmap file
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11513 Intrepid, Intrepid2, Piro: Fix shadow warnings
  packages/intrepid/example/Drivers/example_02.cpp
  packages/intrepid/example/Drivers/example_03.cpp
  packages/intrepid/example/Drivers/example_05.cpp
  packages/intrepid/example/Drivers/example_06.cpp
  packages/intrepid/example/Drivers/example_07.cpp
  packages/intrepid/example/Drivers/example_08.cpp
  packages/intrepid/example/Drivers/example_09.cpp
  packages/intrepid/example/Drivers/example_10.cpp
  packages/intrepid/example/Drivers/example_11.cpp
  packages/intrepid/example/Drivers/example_12.cpp
  packages/intrepid/example/Drivers/example_13.cpp
  packages/intrepid/example/Drivers/example_14.cpp
  packages/intrepid/example/Drivers/example_15.cpp
  packages/intrepid/example/Drivers/example_16.cpp
  packages/intrepid/example/Drivers/example_17.cpp
  packages/intrepid/src/Discretization/Basis/Intrepid_HGRAD_TET_Cn_FEM_ORTHDef.hpp
  packages/intrepid/src/Discretization/Integration/Intrepid_CubatureSparseHelper.hpp
  packages/intrepid/test/Discretization/Basis/HCURL_HEX_In_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HCURL_QUAD_I1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HDIV_TET_I1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HDIV_WEDGE_I1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_LINE_Hermite_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_PYR_I2_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_QUAD_C1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_TRI_C1_FEM/test_01.cpp
  packages/intrepid/test/Discretization/Basis/HGRAD_WEDGE_C2_FEM/test_01.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/BasisEquivalenceHelpers.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TRI.hpp
  packages/intrepid2/unit-test/performance/DataCombination/DataCombinationPerformance.cpp
  packages/piro/src/Piro_Epetra_LOCASolver.cpp
  packages/piro/src/Piro_Epetra_NOXSolver.cpp
  packages/piro/src/Piro_InvertMassMatrixDecorator_Def.hpp
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/src/Piro_TempusSolver_Def.hpp
  packages/piro/src/Piro_ThyraProductME_Constraint_SimOpt.hpp
  packages/piro/src/Piro_ThyraProductME_Objective_SimOpt.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver.hpp
  packages/piro/src/Piro_TrapezoidRuleSolver_Def.hpp
Labels: type: enhancement, PA: Nonlinear Solvers, PA: Discretizations

#11500 TrilinosCouplings: resolve shadow warning
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_Statistics.hpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE

#11521 MueLu: fix stack timer usage with reruns
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11520 Piro: fix sensitivity computation when ROL is not enabled
  packages/piro/src/Piro_SteadyStateSolver_Def.hpp
  packages/piro/test/Main_AnalysisDriver_Tpetra.cpp
  packages/piro/test/MockModelEval_A_Tpetra.cpp
  packages/piro/test/MockModelEval_A_Tpetra.hpp
  packages/piro/test/MockModelEval_B_Tpetra.cpp
  packages/piro/test/MockModelEval_B_Tpetra.hpp
Labels: type: bug, pkg: Piro, client: Albany
