Repository trilinos/Trilinos, pull requests merged in 2023-08, with the labels that each got.

#12093 MueLu: Fix for Cuda in PerfModel
  packages/muelu/src/Utils/MueLu_PerfModels_def.hpp
Labels: AT: AUTOMERGE

#12097 KokkosKernels: patch in PR 1927
  packages/kokkos-kernels/common/src/KokkosKernels_BlockHashmapAccumulator.hpp
  packages/kokkos-kernels/common/src/KokkosKernels_HashmapAccumulator.hpp
  packages/kokkos-kernels/common/src/KokkosKernels_Macros.hpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spgemm_impl_compression.hpp
Labels: type: bug, pkg: KokkosKernels

#12071 SEACAS: decomp, nem_slice better handling of no-zoltan case
  packages/seacas/applications/nem_slice/elb_loadbal.C
  packages/seacas/libraries/aprepro_lib/apr_aprepro.cc
  packages/seacas/libraries/aprepro_lib/apr_test.cc
  packages/seacas/libraries/aprepro_lib/apr_util.cc
  packages/seacas/scripts/CMakeLists.txt
  packages/seacas/scripts/decomp
  packages/seacas/scripts/decomp.in
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#12036 Tpetra: move unpack and combine to device in TAFC
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: pkg: Tpetra

#12098 Framework: Add deprecated-off nopackages config
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, PA: Framework

#12109 Converted Panzer to the new STK simple_fields workflow
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_GatherFields_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgQuantity_impl.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ScatterCellAvgVector_impl.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/gather_scatter_evaluators/gs_evaluators.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPamgenMeshFactory.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tPointLocationSearch.cpp
  packages/panzer/adapters-stk/test/stk_interface_test/tSTKInterface.cpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12114 Tpetra: Adding verbose mode for Kokkos::deep_copy timer injection
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_DeepCopyTeuchosTimerInjection.cpp
Labels: AT: AUTOMERGE

#12096 kokkos-kernels: Add new BsrMatrix SpMV to Kokkos Kernels
  packages/kokkos-kernels/common/CMakeLists.txt
  packages/kokkos-kernels/common/impl/KokkosKernels_ViewUtils.hpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_bsrmatrix_impl_v42.hpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_bsrmatrix_spec.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_BsrMatrix.hpp
Labels: pkg: KokkosKernels, client: ATDM

#12115 Revert "Tpetra: move unpack and combine to device in TAFC"
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: AT: AUTOMERGE

#12080 ShyLU core : testing it as PT
  packages/shylu/shylu_dd/cmake/Dependencies.cmake
  packages/shylu/shylu_dd/core/cmake/Dependencies.cmake
  packages/shylu/shylu_dd/core/cmake/ShyLU_DDCore_config.h.in
  packages/shylu/shylu_dd/core/src/epetra/shylu.h
  packages/shylu/shylu_dd/core/src/epetra/shylu_directsolver_interface_decl.hpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_factor.cpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_local_schur_operator.cpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_partition_interface_decl.hpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_partition_interface_def.hpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_probing_operator.cpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_schur.cpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_solve.cpp
  packages/shylu/shylu_dd/core/src/epetra/shylu_util.h
  packages/shylu/shylu_dd/core/src/interfaces/shylu_iterativesolver_interface_decl.hpp
  packages/shylu/shylu_dd/core/test/epetra_interface_test.cpp
  packages/shylu/shylu_dd/core/test/shylu_belos_driver.cpp
  packages/shylu/shylu_dd/core/test/tpetra_interface_test.cpp
Labels: pkg: ShyLU, AT: STALE

#12122 Tempus: Split Up Newmark Tests
  packages/tempus/test/HHTAlpha/Tempus_HHTAlphaTest.cpp
  packages/tempus/test/Leapfrog/Tempus_LeapfrogTest.cpp
  packages/tempus/test/Newmark/CMakeLists.txt
  packages/tempus/test/Newmark/Tempus_NewmarkTest.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_BallParabolic.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_BallParabolic.xml
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_HarmonicOscillator_Damped.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_HarmonicOscillator_Damped.xml
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_SinCos.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkExplicitAForm_SinCos.xml
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitAForm_HarmonicOscillator_Damped_FirstOrder.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitAForm_HarmonicOscillator_Damped_FirstOrder.xml
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitAForm_HarmonicOscillator_Damped_SecondOrder.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitAForm_HarmonicOscillator_Damped_SecondOrder.xml
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitDForm_HarmonicOscillator_Damped_SecondOrder.cpp
  packages/tempus/test/Newmark/Tempus_Test_NewmarkImplicitDForm_HarmonicOscillator_Damped_SecondOrder.xml
  packages/tempus/test/Trapezoidal/Tempus_TrapezoidalTest.cpp
  packages/tempus/unit_test/CMakeLists.txt
  packages/tempus/unit_test/Tempus_NewmarkImplicitDForm_HarmonicOscillator_Damped_SecondOrder.xml
  packages/tempus/unit_test/Tempus_UnitTest_NewmarkImplicitAForm.cpp
  packages/tempus/unit_test/Tempus_UnitTest_NewmarkImplicitDForm.cpp
Labels: pkg: Tempus, AT: AUTOMERGE

#12083 Zoltan2: Update GraphAdapters to use Kokkos data structures and impro…
  packages/zoltan2/core/src/input/Zoltan2_Adapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_GraphAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_IdentifierAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_MatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_MeshAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_TpetraCrsGraphAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_TpetraRowGraphAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_TpetraRowMatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_VectorAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraCrsGraphAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraCrsMatrixAdapter.hpp
  packages/zoltan2/core/src/input/Zoltan2_XpetraMultiVectorAdapter.hpp
  packages/zoltan2/core/src/util/Zoltan2_Util.hpp
  packages/zoltan2/test/core/helpers/Zoltan2_TestHelpers.hpp
  packages/zoltan2/test/core/scaling/rcbPerformanceZ1.cpp
  packages/zoltan2/test/core/unit/CMakeLists.txt
  packages/zoltan2/test/core/unit/input/MatrixAdapter.cpp
  packages/zoltan2/test/core/unit/input/TpetraRowGraphInput.cpp
  packages/zoltan2/test/core/unit/input/TpetraRowGraphInputKokkos.cpp
  packages/zoltan2/test/core/unit/input/TpetraRowMatrixInput.cpp
Labels: pkg: Zoltan2, AT: RETEST, AT: AUTOMERGE

#12125 Panzer MiniEM: Remove old code
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteCurl.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteGradient.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_DiscreteGradient.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
Labels: pkg: Panzer

#11364 Panzer q2 mesh support
  packages/panzer/adapters-stk/cmake/PanzerAdaptersSTK_config.hpp.in
  packages/panzer/adapters-stk/example/PoissonExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/PoissonExample/Example_ClosureModel_Factory_impl.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSolution.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSolution_impl.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSource.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSource_impl.hpp
  packages/panzer/adapters-stk/example/PoissonExample/PoissonExampleCurvilinear_3_Q1.gold
  packages/panzer/adapters-stk/example/PoissonExample/PoissonExampleCurvilinear_3_Q2.gold
  packages/panzer/adapters-stk/example/PoissonExample/annulus.jou
  packages/panzer/adapters-stk/example/PoissonExample/annulus_rad_intervals_3_Q1.exo.2.0
  packages/panzer/adapters-stk/example/PoissonExample/annulus_rad_intervals_3_Q1.exo.2.1
  packages/panzer/adapters-stk/example/PoissonExample/annulus_rad_intervals_3_Q2.exo.2.0
  packages/panzer/adapters-stk/example/PoissonExample/annulus_rad_intervals_3_Q2.exo.2.1
  packages/panzer/adapters-stk/example/PoissonExample/compareWithGold_Curvilinear.py
  packages/panzer/adapters-stk/example/PoissonExample/main.cpp
  packages/panzer/adapters-stk/src/Panzer_STKConnManager.cpp
  packages/panzer/adapters-stk/src/Panzer_STKConnManager.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities_impl.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/evaluator_tests/point_basis_values_evaluator.cpp
  packages/panzer/adapters-stk/test/face_to_elem/Panzer_Relations.cpp
  packages/panzer/adapters-stk/test/gather_scatter_evaluators/scatter_field_evaluator.cpp
  packages/panzer/adapters-stk/test/panzer_workset_builder/workset_builder.cpp
  packages/panzer/adapters-stk/test/projection/project_field.cpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_CellData.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_IntrepidBasisFactory.hpp
  packages/panzer/disc-fe/src/Panzer_IntrepidOrientation.cpp
  packages/panzer/disc-fe/src/Panzer_LocalMeshInfo.hpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_OrientationsInterface.cpp
  packages/panzer/disc-fe/src/Panzer_PointValues2.hpp
  packages/panzer/disc-fe/src/Panzer_PointValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_Workset.cpp
  packages/panzer/disc-fe/src/Panzer_Workset.hpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder.cpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder_decl.hpp
  packages/panzer/disc-fe/src/Panzer_Workset_Builder_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_CoordinatesEvaluator_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Dirichlet_Residual_FaceBasis_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_PointValues_Evaluator_impl.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseScatterEvaluator_Probe_impl.hpp
  packages/panzer/disc-fe/test/core_tests/integration_values2.cpp
  packages/panzer/disc-fe/test/evaluator_tests/dof_pointfield.cpp
  packages/panzer/disc-fe/test/evaluator_tests/gather_coordinates.cpp
  packages/panzer/disc-fe/test/evaluator_tests/integrator_scalar.cpp
  packages/panzer/disc-fe/test/evaluator_tests/normals.cpp
  packages/panzer/disc-fe/test/local_mesh/Panzer_UnitTest_LocalMeshUtilities.hpp
  packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp
  packages/panzer/dof-mgr/src/Panzer_IntrepidFieldPattern.cpp
  packages/panzer/dof-mgr/src/Panzer_IntrepidFieldPattern.hpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#12129 Framework: Correct spec inheritance for CXX20 build
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, PA: Framework

#12112 Kokkos: Disable default oneDPL support
  packages/kokkos/cmake/kokkos_tpls.cmake
Labels: pkg: Kokkos, AT: STALE, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12126 Add option to test against develop for kokkos and kokkos-kernels packages
  packages/framework/pr_tools/LaunchDriver.py
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/SetKokkosDevelop.sh
Labels: AT: AUTOMERGE, PA: Framework

#12137 MueLu/Tpetra: More deep copy counting cleanup
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_kokkos_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_kokkos_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DeepCopyTeuchosTimerInjection.cpp
Labels: pkg: Tpetra, pkg: MueLu, AT: AUTOMERGE

#12078 ifpack2: fix ambiguous MDF unit test
  packages/ifpack2/src/Ifpack2_MDF_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestMDF.cpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_mdf_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_mdf.hpp
Labels: type: bug, client: SPARC, AT: PRE-TEST INSPECTED

#12110 Tpetra: created Kokkos version for lowCommunicationMakeColMapAndReindex function
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: type: enhancement, pkg: Tpetra, AT: PRE-TEST INSPECTED

#12146 MueLu: Removing H2D/D2H transfers in CoordinatesTransferFactory for Scalar PDEs
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_def.hpp
Labels: AT: AUTOMERGE

#12103 Tpetra: use kokkos kernels BsrMatrix spmv
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_bsrmatrix_impl.hpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_bsrmatrix_spec.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/pce/linalg/Kokkos_CrsMatrix_UQ_PCE.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
Labels: client: ATDM, AT: AUTOMERGE

#12152 TRILFRAME-571 hotfix
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/SetKokkosDevelop.sh
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12158 Stokhos: fixing issue #12157
  packages/stokhos/test/UnitTest/Stokhos_SDMUtilsUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_UnitTestHelpers.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#12159 Fix to call SetKokkosDevelop.sh correctly
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE

#12156 Fix warnings coming from this header.
  packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Output.h
Labels: pkg: ShyLU, AT: AUTOMERGE

#12162 MueLu: cleanup errors
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/scaling/ComboPDriver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12124 Shylu: allow fastilu to work with block CRS matrices
  packages/ifpack2/src/Ifpack2_Details_CrsArrays.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_FastILU_Base_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Filu_def.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Details_getCrsMatrix.hpp
  packages/ifpack2/test/belos/6w.mtx
  packages/ifpack2/test/belos/6w.vec
  packages/ifpack2/test/belos/6w_bel_tif_FILU_blockcrs.xml
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: AT: AUTOMERGE

#12141 Intrepid2: Removing Experimental namespace used for projections (part1)
  packages/intrepid2/CMakeLists.txt
  packages/intrepid2/cmake/Intrepid2_config.h.in
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefRefToPhys.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefValidateArguments.hpp
  packages/intrepid2/src/Cell/Intrepid2_ProjectedGeometry.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_IntegratedLegendreBasis_HGRAD_PYR.hpp
  packages/intrepid2/src/Projection/Intrepid2_LagrangianInterpolation.hpp
  packages/intrepid2/src/Projection/Intrepid2_LagrangianInterpolationDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStruct.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionStructDef.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionTools.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHCURL.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHDIV.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHGRAD.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefHVOL.hpp
  packages/intrepid2/src/Projection/Intrepid2_ProjectionToolsDefL2.hpp
  packages/intrepid2/unit-test/Cell/test_01.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_TET.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_DeRham_commutativity_WEDGE.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TET.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_convergence_WEDGE.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_HEX.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_QUAD.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TET.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_TRI.hpp
  packages/intrepid2/unit-test/Projection/test_interpolation_projection_WEDGE.hpp
  packages/intrepid2/unit-test/Projection/test_project_fields.hpp
  packages/panzer/adapters-stk/src/evaluators/Panzer_STK_ProjectField_impl.hpp
  packages/panzer/adapters-stk/test/projection/project_field.cpp
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_assembly_HEX.hpp
  packages/panzer/dof-mgr/test/fe_assembly/test_fe_projection.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_MatrixFreeInterpolationOp.cpp
Labels: pkg: Intrepid2, client: EMPIRE

#12168 Adelus: Don't use hardcoded `MPI_COMM_WORLD`
  packages/adelus/src/Adelus.hpp
  packages/adelus/src/Adelus_global_comm.hpp
Labels: AT: AUTOMERGE, pkg: Adelus

#12171 Fixing compiling of RBGen
  packages/anasazi/epetra/src-rbgen/RBGen_AnasaziPOD.cpp
  packages/anasazi/epetra/src-rbgen/RBGen_BurkardtFileIOHandler.cpp
  packages/anasazi/epetra/src-rbgen/RBGen_EpetraCrsMatrixFileIOHandler.cpp
  packages/anasazi/epetra/src-rbgen/RBGen_LapackPOD.cpp
  packages/anasazi/epetra/src-rbgen/RBGen_MatrixMarketFileIOHandler.cpp
  packages/anasazi/epetra/src-rbgen/RBGen_NetCDFFileIOHandler.cpp
Labels: AT: AUTOMERGE, client: Albany

#12172 Adelus: Add inline to get_seconds and showtime functions
  packages/adelus/src/Adelus_mytime.hpp
Labels: type: bug, AT: AUTOMERGE, client: Gemma, pkg: Adelus

#12173 Adelus: Include Adelus_global_comm.hpp in Trilino build
  packages/adelus/src/CMakeLists.txt
Labels: type: bug, AT: AUTOMERGE, client: Gemma, pkg: Adelus

#12147 MueLu: Adding ML compatibility support for Phase2b aggregation
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ML2MueLuParameterTranslator.cpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/test/unit_tests/UncoupledAggregationFactory.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12177 Anasazi: Add AnasaziGlobalComm.hpp to CMake source files
  packages/anasazi/src/CMakeLists.txt
Labels: pkg: Anasazi

#12151 Tpetra: fix #12148 - avoid CrsGraph rowptrs D->H
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_computeOffsets.hpp
Labels: type: enhancement, impacting: performance

#12165 ROL: SplitComm allow for user to pass custom communicator
  packages/rol/src/oed/utilities/OED_SplitComm.hpp
Labels: pkg: ROL, AT: AUTOMERGE

#12181 Panzer: add scaling factors to the stk io closure model factory
  packages/panzer/adapters-stk/src/Panzer_STK_IOClosureModel_Factory.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#12180 NOX: Remove use of hardcoded MPI_COMM_WORLD from NOX package
  packages/nox/src/CMakeLists.txt
  packages/nox/src/NOX_Description.H
  packages/nox/src/NOX_GlobalComm.H
  packages/nox/src/NOX_Utils.C
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#12182 Ifpack2: Adds missing cmake logic to address test dependency on Xpetra
  packages/ifpack2/test/unit_tests/CMakeLists.txt
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestILUT.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSingleProcessILUT.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#12111 Framework: Prohibit MPI_COMM_WORLD usages
  .github/workflows/detect-mpi-comm-world.yml
  commonTools/test/utilities/check-mpi-comm-world-usage.py
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12185 MueLu: Adding finer grained profiling regions for H2D/D2H diagnosis
  packages/muelu/src/Rebalancing/MueLu_RebalanceAcFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_def.hpp
Labels: AT: AUTOMERGE
