Repository trilinos/Trilinos, pull requests merged in 2023-06, with the labels that each got.

#11909 Framework: Add OneAPI build spec
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/framework/pr_tools/LaunchDriver.py
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, PA: Framework

#11925 Xpetra: Don't use std::binary_function
  packages/tpetra/core/src/Tpetra_ConfigDefs.hpp
  packages/xpetra/src/Headers/Xpetra_ConfigDefs.hpp
Labels: pkg: Xpetra

#11939 Sacado, Stokhos: resolve issue #11890
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
Labels: AT: AUTOMERGE

#11888 Tpetra: HIP Testing Fixes
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_WithGraph_HIP.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_createDeepCopy.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11943 Stokhos: Add missing KOKKOS_INLINE_FUNCTION to fix build errors on HIP
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE_Imp.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#11947 Tpetra: Changes to StaticView for Kokkos PTHREAD to THREADS change
  packages/tpetra/core/test/Utils/StaticView.cpp
Labels: AT: AUTOMERGE

#11949 TrilinosSS: include <omp.h> (Fix #11867)
  packages/common/auxiliarySoftware/SuiteSparse/src/KLU/Include/trilinos_klu_internal.h
Labels: pkg: Amesos2, impacting: configure or build, AT: AUTOMERGE, PA: Linear Solvers

#11948 MueLu hierarchical: Fix build error
  packages/muelu/research/caglusa/Tpetra_HierarchicalOperator_decl.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11946 Teuchos: Automatically enabling Tecuhos_ENABLE_THREAD_SAFE if you have Kokkos THREADS or OPENMP for the host
  packages/kokkos-kernels/common/CMakeLists.txt
  packages/teuchos/CMakeLists.txt
  packages/teuchos/core/test/MemoryManagement/ArrayView_MT_UnitTests_Decl.hpp
  packages/teuchos/core/test/MemoryManagement/Array_MT_UnitTests_Decl.hpp
  packages/teuchos/core/test/MemoryManagement/Ptr_MT_UnitTests_Decl.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#11950 fastilu: Fix memory leak.
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: AT: AUTOMERGE

#11954 Stokhos: allow explicit conversions of ensembles to integral types
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_Vector_SFS.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#11953 Xpetra,MueLu,Zoltan2: Fix build errors
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
  packages/zoltan2/test/sphynx/Sphynx_Research_Driver.cpp
Labels: pkg: MueLu, pkg: Xpetra, pkg: Zoltan2

#11961 Improve simpleBuildAgainstTrilinos/README.md
  demos/simpleBuildAgainstTrilinos/README.md
Labels: type: enhancement, impacting: documentation

#11971 MueLu RefMaxwell: Accept "aggregation: phase3 avoid singletons"
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
Labels: pkg: MueLu, client: EMPIRE

#11966 Tpetra: Improving std::move-ability of BlockMultiVector
  packages/kokkos-kernels/batched/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_def.hpp
  packages/tpetra/core/test/Block/CMakeLists.txt
  packages/tpetra/core/test/Block/Issue11931.cpp
Labels: AT: AUTOMERGE

#11972 MueLu: Enabling better dumps for Maxwell1
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
Labels: AT: AUTOMERGE

#11973 Framework: Add a spec for all packages + complex<float>
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, PA: Framework, AT: PRE-TEST INSPECTED

#11977 Fix reduced tarball configuration (#11976)
  CMakeLists.txt
  cmake/CallbackSetupExtraOptions.cmake
  cmake/tribits/core/package_arch/TribitsReadDepsFilesCreateDepsGraph.cmake
Labels: AT: AUTOMERGE, TriBITS, PA: Framework

#11667 Intrepid2: Support Orientations with Structured Integration
  packages/intrepid2/assembly-examples/GRADGRADStandardAssembly.hpp
  packages/intrepid2/assembly-examples/GRADGRADStructuredAssembly.hpp
  packages/intrepid2/assembly-examples/H1StandardAssembly.hpp
  packages/intrepid2/assembly-examples/H1StructuredAssembly.hpp
  packages/intrepid2/assembly-examples/HCURLStandardAssembly.hpp
  packages/intrepid2/assembly-examples/HCURLStructuredAssembly.hpp
  packages/intrepid2/assembly-examples/HDIVStandardAssembly.hpp
  packages/intrepid2/assembly-examples/HDIVStructuredAssembly.hpp
  packages/intrepid2/assembly-examples/HVOLStandardAssembly.hpp
  packages/intrepid2/assembly-examples/HVOLStructuredAssembly.hpp
  packages/intrepid2/assembly-examples/JacobianFlopEstimate.hpp
  packages/intrepid2/assembly-examples/StandardAssembly.hpp
  packages/intrepid2/assembly-examples/StructuredAssembly.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometry.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellGeometryDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefJacobian.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_DerivedBasis_HGRAD_QUAD.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_IntegrationToolsDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationDef.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefMatrixData.hpp
  packages/intrepid2/src/Orientation/Intrepid2_OrientationToolsDefModifyBasis.hpp
  packages/intrepid2/src/Shared/CMakeLists.txt
  packages/intrepid2/src/Shared/Intrepid2_CellGeometryTestUtils.hpp
  packages/intrepid2/src/Shared/Intrepid2_Data.cpp
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataCombiners.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataCombiners_Difference.cpp
  packages/intrepid2/src/Shared/Intrepid2_DataCombiners_Product.cpp
  packages/intrepid2/src/Shared/Intrepid2_DataCombiners_Quotient.cpp
  packages/intrepid2/src/Shared/Intrepid2_DataCombiners_Sum.cpp
  packages/intrepid2/src/Shared/Intrepid2_DataDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataDimensionInfo.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataFunctors.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataTools.hpp
  packages/intrepid2/src/Shared/Intrepid2_DataVariationType.hpp
  packages/intrepid2/src/Shared/Intrepid2_TransformedBasisValues.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/CMakeLists.txt
  packages/intrepid2/unit-test/MonolithicExecutable/DataTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_GeneralStandardIntegration.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_GeneralStructuredIntegration.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_QuadratureSynthetic.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_QuadratureUniformMesh.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_StructuredVersusStandard.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_TagDefs.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/StructuredIntegrationTests_Utils.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/TransformedBasisValuesTests.cpp
  packages/intrepid2/unit-test/Orientation/test_orientation_HEX_newBasis.hpp
Labels: pkg: Intrepid2

#11975 trilinos-release-14-2-branch-update
  Version.cmake
Labels: AT: AUTOMERGE

#11974 trilinos-release-14-2-branch-update
  Version.cmake
Labels: AT: AUTOMERGE

#11992 MueLu: Another round of Maxwell1 Cleanup
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell_Utils_decl.hpp
  packages/muelu/src/Operators/MueLu_Maxwell_Utils_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#11980 Tpetra: mark `BlockMultiVector::checkSizes` as `override`
  packages/tpetra/core/src/Tpetra_BlockMultiVector_decl.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11993 MueLu: Yet another round of Maxwell1 fixes
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell_Utils_decl.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrixFactory.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_def.hpp
  packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.hpp
  packages/xpetra/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: AT: AUTOMERGE

#11982 MueLu: Small updates on ReorderBlockAFactory
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_ReorderBlockAFactory_decl.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_ReorderBlockAFactory_def.hpp
Labels: AT: AUTOMERGE

#11997 MueLu: Next Maxwell1 fix
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/utils/misc/makepr.sh
Labels: AT: AUTOMERGE

#11998 Tpetra: mark `BlockMultiVector::{packAndPrepare, unpackAndCombine}` as override
  packages/tpetra/core/src/Tpetra_BlockMultiVector_decl.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#11989 Belos: Change argument order in MvDot in BelosBiCGStabIter.hpp
  packages/belos/src/BelosBiCGStabIter.hpp
Labels: pkg: Belos, AT: AUTOMERGE, client: Gemma

#12005 Intrepid2: Pass non const value type to mapToPhysicalFrame.
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefRefToPhys.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE, PA: Discretizations

#12001 Fix windows symlink configure issue (#6241)
  packages/kokkos/cmake/kokkos_install.cmake
Labels: pkg: Kokkos, AT: AUTOMERGE

#12007 Phalanx/Sacado: Fix kokkos 4.1 deprecation warnings
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/src/Phalanx_Field.hpp
  packages/phalanx/src/Phalanx_Field_Def.hpp
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
Labels: pkg: Phalanx, pkg: Sacado, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED
