Repository trilinos/Trilinos, pull requests merged in 2024-05, with the labels that each got.

#12974 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: AT: AUTOMERGE

#12964 Tacho: fix missing constexpr in amd_order usage
  packages/shylu/shylu_node/tacho/src/impl/Tacho_GraphTools_Metis.cpp
Labels: AT2-Start

#12983 SLICE: Make easier for sparc to spawn slice
  packages/seacas/applications/slice/Slice.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services

#12986 NOX: Reuse prec across multiple nonlinear solves
  packages/nox/src-thyra/NOX_Observer_ReusePreconditioner.cpp
  packages/nox/src-thyra/NOX_Observer_ReusePreconditioner.hpp
  packages/nox/src-thyra/NOX_Observer_ReusePreconditionerFactory.cpp
  packages/nox/test/tpetra/Tpetra_1DFEM.cpp
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers, AT: PRE-TEST INSPECTED

#12987 Nox fix doxygen
  _config.yml
  packages/nox/src/NOX_LineSearch_Polynomial.H
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers, AT: PRE-TEST INSPECTED

#12991 Tpetra: use non-fused residual if TPLs available
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
Labels: impacting: performance, AT: AUTOMERGE, client: Sierra

#12990 Teko: Add ability to use preconditioned sub-solves in Teko NS SIMPLE
  packages/teko/src/NS/Teko_SIMPLEPreconditionerFactory.cpp
  packages/teko/src/NS/Teko_SIMPLEPreconditionerFactory.hpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.cpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.hpp
Labels: pkg: Teko, AT: AUTOMERGE

#12997 Ifpack2: Add timers for potentially costly regions of the driver
  packages/ifpack2/example/BlockTriDi.cpp
Labels: AT: AUTOMERGE

#12979 Intrepid2: add support to Data for taking the transpose of a matrix when performing a mat-vec.
  packages/intrepid2/src/Shared/Intrepid2_Data.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/DataTests.cpp
Labels: AT: STALE

#13000 Panzer: fix cuda 12 compiler issue
  packages/panzer/disc-fe/src/evaluators/Panzer_CellExtreme_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13008 SEACAS: Fix exodus3.py copyTransfer
  packages/seacas/scripts/exodus3.in.py
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#13014 Teko: Fix clang-format
  packages/teko/src/NS/Teko_SIMPLEPreconditionerFactory.cpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13021 Panzer: IntegrationValues2 optimization
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations

#13019 Belos: Fix Doxygen documentation to include Tpetra examples
  packages/belos/doc/DoxyfileWeb
  packages/belos/epetra/example/BlockGmres/BlockGmresEpetraGaleriEx.cpp
  packages/belos/epetra/example/BlockGmres/BlockPrecGmresEpetraGaleriEx.cpp
  packages/belos/src/BelosBiCGStabSolMgr.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosBlockGmresSolMgr.hpp
  packages/belos/src/BelosGCRODRSolMgr.hpp
  packages/belos/src/BelosGmresPolySolMgr.hpp
  packages/belos/src/BelosLSQRStatusTest.hpp
  packages/belos/src/BelosPCPGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/belos/src/BelosPseudoBlockGmresSolMgr.hpp
  packages/belos/src/BelosPseudoBlockTFQMRSolMgr.hpp
  packages/belos/src/BelosRCGSolMgr.hpp
  packages/belos/src/BelosTFQMRSolMgr.hpp
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraGaleriEx.cpp
Labels: pkg: Belos, AT: AUTOMERGE

#12978 Framework: Gcc8 sems v2 pr build
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: RETEST

#13033 KokkosKernels: disable cuBLAS dot wrapper
  packages/kokkos-kernels/blas/tpls/KokkosBlas1_dot_tpl_spec_avail.hpp
  packages/kokkos-kernels/blas/tpls/KokkosBlas1_dot_tpl_spec_decl.hpp
Labels: impacting: performance, pkg: KokkosKernels

#13024 Tpetra/KokkosKernels: fix apply/spmv performance regressions
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_spec.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_spmv.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_spmv_handle.hpp
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_bsrmatrix_tpl_spec_decl.hpp
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_mv_tpl_spec_decl.hpp
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_tpl_spec_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, impacting: performance, pkg: KokkosKernels, client: Sierra

#13043 Framework: Change all `python` invocations to `python3`
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/trilinosprhelpers/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/gitutility/GitUtility.py
  packages/framework/pr_tools/trilinosprhelpers/gitutility/unittests/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/gitutility/unittests/test_GitUtility.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/EnvvarHelper.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/JenkinsEnv.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/TrilinosJenkinsEnv.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/unittests/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/unittests/test_EnvvarHelper.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/unittests/test_JenkinsEnv.py
  packages/framework/pr_tools/trilinosprhelpers/jenkinsenv/unittests/test_TrilinosJenkinsEnv.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/SysInfo.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/unittests/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/unittests/test_SysInfo.py
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/unittests/test_gpu_utils.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/__init__.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/unittests/__init__.py
  packages/panzer/adapters-stk/example/CurlLaplacianExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/MixedCurlLaplacianExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/MixedPoissonExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/MixedPoissonExample/analyze_performance.py
  packages/panzer/adapters-stk/example/PoissonExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/PoissonInterfaceExample/CMakeLists.txt
  packages/panzer/adapters-stk/example/PoissonInterfaceTpetra/CMakeLists.txt
  packages/panzer/maintenance/replacePanzerEvaluatorMacros.py
Labels: AT: AUTOMERGE, 16.0 release note

#13045 Tpetra: fix SYCL mem space name in test
  packages/tpetra/core/test/Comm/gpuAwareMpi.cpp
Labels: type: bug, pkg: Tpetra, AT: AUTOMERGE

#13038 Tpetra: Fixing #13037
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: AT: AUTOMERGE

#13031 ifpack2: add missing print guard in blocktridiagcontainer
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE

#13023 Muelu: Add Thyra style submaps to subblock factory
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_SubBlockAFactory_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13017 Tpetra: Add team parallelism to a couple kernels associated with matrix equilibration
  packages/tpetra/core/src/Tpetra_Details_leftScaleLocalCrsMatrix.hpp
  packages/tpetra/core/src/Tpetra_Details_rightScaleLocalCrsMatrix.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
Labels: pkg: Tpetra, impacting: performance, AT: AUTOMERGE, 15.2 release note

#13028 Ifpack2: add the option to use a point crs matrix with BTDS
  packages/ifpack2/src/Ifpack2_BlockComputeResidualVector.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_decl.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainer.cpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainerUtil.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE, client: Albany

#13032 Actions: Update clang_format.yml
  .github/workflows/clang_format.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13046 Ifpack2: Fix a floating point exception error when num_teams=0
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13040 Teko: Add Hierarchical Block Gauss-Seidel Capability
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.hpp
  packages/teko/src/Teko_PreconditionerFactory.cpp
  packages/teko/src/Teko_Utilities.hpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.cpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.hpp
Labels: pkg: Teko, AT: AUTOMERGE

#13048 Tpetra: get accurate timing in CG perf test
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
Labels: type: enhancement, pkg: Tpetra

#13050 Framework: Add Clang RHEL8 configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE

#12909 MueLu: Minor Tweaks to MultiPhys
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12894 Amesos2,MueLu,Panzer: Coarse solver changes
  packages/amesos2/src/Amesos2_Tacho_decl.hpp
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Smoothers/MueLu_Amesos2Smoother_def.hpp
  packages/panzer/mini-em/cmake/Dependencies.cmake
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/MiniEM_helpers.cpp
  packages/panzer/mini-em/example/BlockPrec/MiniEM_helpers.hpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/maxwell-1stOrder.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-analyticSolution.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-bdot-large.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-bdot-medium.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-bdot-small.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-blob-R0.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-blob-R1.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-blob-R2.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-blob-R3.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-blob-R4.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-donut.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-exterior-large.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-exterior-medium.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-exterior-small.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell-large.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell.xml
  packages/panzer/mini-em/example/BlockPrec/maxwell2D.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLu.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuCuda.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuTPL.xml
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_MatrixFreeInterpolationOp.cpp
Labels: pkg: MueLu, pkg: Amesos2, pkg: Panzer

#13018 Tpetra: check that CrsMatrix::apply uses TPLs when expected
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ApplyUsesTPLs.cpp
Labels: pkg: Tpetra
