Repository trilinos/Trilinos, pull requests merged in 2024-08, with the labels that each got.

#13313 MueLu: Fix regression test logic
  packages/muelu/test/unit_tests/Regression.cpp
  packages/muelu/test/unit_tests_kokkos/Regression.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13301 MueLu: Clean up some headers
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_decl.hpp
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_Factory.cpp
  packages/muelu/src/MueCentral/MueLu_Factory.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_decl.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_Level.cpp
  packages/muelu/src/MueCentral/MueLu_Level.hpp
  packages/muelu/src/MueCentral/MueLu_NoFactory.cpp
  packages/muelu/src/MueCentral/MueLu_NoFactory.hpp
  packages/muelu/src/MueCentral/MueLu_SingleLevelFactoryBase.cpp
  packages/muelu/src/MueCentral/MueLu_SingleLevelFactoryBase.hpp
  packages/muelu/src/MueCentral/MueLu_TwoLevelFactoryBase.cpp
  packages/muelu/src/MueCentral/MueLu_TwoLevelFactoryBase.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceAcFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceAcFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionFactory_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionHeuristicFactory_decl.hpp
  packages/muelu/src/Rebalancing/MueLu_RepartitionHeuristicFactory_def.hpp
  packages/muelu/src/Smoothers/MueLu_SmootherFactory_decl.hpp
  packages/muelu/src/Smoothers/MueLu_SmootherFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_CoarseMapFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_CoarseMapFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_decl.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_SaPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_decl.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
  packages/muelu/src/Utils/MueLu_Monitor.cpp
  packages/muelu/src/Utils/MueLu_Monitor.hpp
  packages/muelu/test/simple1D/simple1D-UncoupledAggregation.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13315 Tempus: Change Recovery State
  packages/tempus/src/Tempus_SolutionHistory_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_SolutionHistory.cpp
Labels: pkg: Tempus, AT: AUTOMERGE

#13288 STK: Interim update to turn off flaky test
  packages/krino/krino/unit_tests/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_mesh/CMakeLists.txt
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13307 MueLu: fix configure with ETI off
  packages/muelu/CMakeLists.txt
Labels: pkg: MueLu, AT: AUTOMERGE

#13312 MueLu, Panzer, TrilinosCouplings, Pamgen: Fix warnings
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_ReitzingerPFactory_def.hpp
  packages/pamgen/test/rtc_test/rtcompiler-test.cc
  packages/panzer/adapters-stk/test/interpolation/interpolation.cpp
  packages/panzer/disc-fe/src/Panzer_Interpolation.cpp
  packages/panzer/dof-mgr/src/Panzer_GlobalIndexer.hpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianDOFMgr_DynRankView.cpp
  packages/trilinoscouplings/examples/scaling/example_CVFEM.cpp
Labels: pkg: MueLu, pkg: Panzer, pkg: Pamgen, pkg: TrilinosCouplings, AT: AUTOMERGE

#13316 Phalanx: another use of space accessibility
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13323 ILUT: Must resize before copy
  packages/ifpack2/src/Ifpack2_ILUT_def.hpp
Labels: AT: AUTOMERGE

#13327 Panzer: fix PoissonExample area calc for gcc 12
  packages/panzer/adapters-stk/example/PoissonExample/compareWithGold_Curvilinear.py
  packages/panzer/adapters-stk/example/PoissonExample/main.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13308 Framework: Enable additional warnings-as-errors in Trilinos
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, PA: Framework

#13318 Tacho : memory-management for SpMV option
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Base.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SupernodeInfo.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_ExtractCRS.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#13337 tacho: fix unused variable triggering -Werror
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13340 Tpetra: Force CrsMatrix::getLocalMatrixDevice to be inlined on ARM.
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13336 Framework: Retry git operations for AutoTester
  packages/framework/get_dependencies.sh
Labels: AT: AUTOMERGE

#13331 Fix: Trilinos issue #13292
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecFence.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13343 tacho: match macro names at construction/destruction of handles
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: AT: AUTOMERGE

#13314 Ifpack2 (and Tpetra): refined timers and parallel createMeshMap
  packages/ifpack2/src/Ifpack2_BlockComputeResidualVector.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper_Timers.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: AT: AUTOMERGE, client: Albany

#13350 Teko: Build DiagonalPreconditionerFactory for Tpetra
  packages/teko/src/CMakeLists.txt
  packages/teko/src/Teko_DiagonalPreconditionerFactory.cpp
  packages/teko/src/Teko_PreconditionerFactory.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13349 ifpack2 : add option to use Zoltan2 for testing with belos
  packages/ifpack2/cmake/Dependencies.cmake
  packages/ifpack2/test/belos/build_problem.hpp
Labels: pkg: Ifpack2, AT: PRE-TEST INSPECTED

#13354 Panzer: add point evaluator
  packages/panzer/adapters-stk/example/main_driver/CMakeLists.txt
  packages/panzer/adapters-stk/example/main_driver/energy-ss-point-calc.xml
  packages/panzer/adapters-stk/example/main_driver/main_driver.cpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseScatterEvaluator_Probe.hpp
  packages/panzer/disc-fe/src/responses/Panzer_ResponseScatterEvaluator_Probe_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Framework, AT: PRE-TEST INSPECTED

#13319 Corrected functions to compile with VS2022
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_CholSupernodes_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_CholSupernodes_SerialPanel.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LDL_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_OnDevice.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_LU_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLU.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13353 Ifpack2: add use a LIDs option and a `are_same` to skip serial
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE, client: Albany

#13359 Teko: Silence warning
  packages/teko/src/Teko_DiagonalPreconditionerFactory.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13360 Tpetra and Ifpack2: Use `TEUCHOS_FUNC_TIME_MONITOR_DIFF` instead of `TEUCHOS_FUNC_TIME_MONITOR`
  packages/ifpack2/src/Ifpack2_BlockComputeResidualVector.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper_Timers.hpp
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: pkg: Tpetra, pkg: Ifpack2, AT: AUTOMERGE

#13352 MueLu: Fix CoalesceDropFactory_kokkos unit test w/ Cuda UVM
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13365 Stratimikos, Piro, Panzer: Silence warnings
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Quad8ToQuad4MeshFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_QuadraticToLinearMeshFactory.cpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_LocalPartitioningUtilities.cpp
  packages/panzer/disc-fe/src/Panzer_TpetraVector_ReadOnly_GlobalEvaluationData_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Integrator_DivBasisTimesScalar_impl.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_FullDarcyPreconditionerFactory.cpp
  packages/piro/src/Piro_ThyraProductME_Constraint_SimOpt.hpp
  packages/stratimikos/src/Stratimikos_LinearSolverBuilder_def.hpp
Labels: pkg: Panzer, pkg: Piro, pkg: Stratimikos

#13362 MueLu: Silence warnings
  packages/muelu/src/Misc/MueLu_FilteredAFactory_def.hpp
  packages/muelu/test/unit_tests/Repartition.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13322 Teko: Use implicit operator for Block Jacobi
  packages/teko/src/Teko_BlockDiagonalInverseOp.cpp
  packages/teko/src/Teko_BlockDiagonalInverseOp.hpp
  packages/teko/src/Teko_JacobiPreconditionerFactory.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13372 STK: Snapshot 08-19-24 17:06 from Sierra 5.21.3-349-g841d4587
  packages/stk/CHANGELOG.md
  packages/stk/CMakeLists.txt
  packages/stk/cmake/STK_Trilinos_config.h.in
  packages/stk/stk_integration_tests/cmake_install_test/spack.gcc.yaml
  packages/stk/stk_integration_tests/cmake_install_test/stk_spack_build_test_gcc.sh
  packages/stk/stk_mesh/Jamfile
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/DeviceMesh.cpp
  packages/stk/stk_mesh/stk_mesh/base/DeviceMesh.hpp
  packages/stk/stk_mesh/stk_mesh/base/FieldParallel.cpp
  packages/stk/stk_mesh/stk_mesh/base/FieldParallel.hpp
  packages/stk/stk_mesh/stk_mesh/base/HostMesh.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldParallel.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpTypes.hpp
  packages/stk/stk_mesh/stk_mesh/base/Types.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/BucketConnDynamic.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/DeviceMeshHostData.hpp
  packages/stk/stk_performance_tests/stk_mesh/perfCommNeighbors.cpp
  packages/stk/stk_search_util/cmake/Dependencies.cmake
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_tests/cmake/Dependencies.cmake
  packages/stk/stk_unit_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBucketConnectivity.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/NgpMeshTest.cpp
  packages/stk/stk_unit_tests/stk_search_util/UnitTestIsInElement.cpp
  packages/stk/stk_util/stk_util/diag/WriterParser.cpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
  packages/stk/stk_util/stk_util/stk_config.h
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13375 Ifpack2 (and Tpetra): use while loop for Ctest perf tests
  packages/ifpack2/example/CMakeLists.txt
  packages/tpetra/core/test/PerformanceCGSolve/CMakeLists.txt
Labels: pkg: Tpetra, pkg: Ifpack2, AT: AUTOMERGE

#13368 KokkosKernels: restore size_t as default offset
  packages/kokkos-kernels/cmake/kokkoskernels_eti_offsets.cmake
Labels: pkg: KokkosKernels

#13379 Ifpack2: Add the number of ranks in the problemName
  packages/ifpack2/example/CMakeLists.txt
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13380 Tpetra: missing fence in lowCommunicationMakeColMapAndReindex
  packages/tpetra/core/src/Tpetra_Import_Util2.hpp
Labels: type: bug, pkg: Tpetra, AT: AUTOMERGE

#13387 Seacas fix fmt use in external include
  packages/seacas/libraries/ioss/src/Ioss_Field.h
  packages/seacas/libraries/ioss/src/Ioss_Region.h
  packages/seacas/libraries/ioss/src/Ioss_StructuredBlock.h
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/Ioss_ZoneConnectivity.h
  packages/seacas/libraries/ioss/src/main/io_info.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany, client: ExaWind, client: Nalu

#13384 Percept: Adding host/device attributes to function in header
  packages/percept/src/percept/mesh/mod/smoother/GenericAlgorithm_total_element_metric.hpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13385 Intrepid2: Improve implementation of inclusion checks and related testing
  packages/intrepid2/src/Cell/Intrepid2_CellData.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellDataDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefInclusion.hpp
  packages/intrepid2/unit-test/Cell/CMakeLists.txt
  packages/intrepid2/unit-test/Cell/test_07.hpp
Labels: client: Sierra

#13390 IOSS: Fix serialize io issue in timestep query
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
Labels: type: bug, pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Nalu

#13386 Phalanx: fix hip issue, add test for UniqueToken
  packages/phalanx/test/Kokkos/CMakeLists.txt
  packages/phalanx/test/Kokkos/tKokkos.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13395 sacado: update Kokkos_ViewMapping.hpp location
  packages/sacado/src/KokkosExp_View_Fad_Contiguous.hpp
  packages/sacado/src/Kokkos_LayoutContiguous.hpp
  packages/sacado/src/Kokkos_LayoutNatural.hpp
Labels: pkg: Sacado

#13402 RTOps,Phalanx: fixes for cpp20
  packages/phalanx/test/DagManager/DagManagerTest.cpp
  packages/phalanx/test/EvaluatorMacros/EvaluatorMacrosTest.cpp
  packages/phalanx/test/EvaluatorMacros/EvaluatorWithMacros.hpp
  packages/phalanx/test/EvaluatorMacros/EvaluatorWithMacros_Def.hpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG.hpp
  packages/phalanx/test/Utilities/Evaluator_MockDAG_Def.hpp
  packages/rtop/src/support/RTOpPack_SPMD_apply_op_decl.hpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13404 Seacas update embedded fmt version
  packages/seacas/applications/cpup/cpup.C
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/args.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/base.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/chrono.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/color.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/compile.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/core.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format-inl.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/os.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ostream.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/printf.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ranges.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/std.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/xchar.h
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany

#13405 Changes for building with c++20
  packages/seacas/applications/epu/epu.C
  packages/seacas/applications/exodiff/edge_block.C
  packages/seacas/applications/exodiff/exo_block.C
  packages/seacas/applications/exodiff/face_block.C
  packages/seacas/applications/nem_spread/pe_input.C
  packages/seacas/libraries/ioss/src/Ioss_DecompositionUtils.C
  packages/seacas/libraries/ioss/src/Ioss_DynamicTopology.C
  packages/seacas/libraries/ioss/src/main/cgns_decomp.C
  packages/seacas/libraries/ioss/src/visualization/cgns/Iovs_cgns_DatabaseIO.C
  packages/seacas/libraries/suplib_cpp/iqsort.C
Labels: pkg: seacas, impacting: configure or build, AT: AUTOMERGE, PA: Data Services, client: Albany

#13408 tpetra: modify expected instance fence counts in MatvecFence
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecFence.cpp
Labels: pkg: Tpetra

#13403 KokkosKernels: patch #2296
  packages/kokkos-kernels/sparse/src/KokkosSparse_spadd_handle.hpp
Labels: pkg: KokkosKernels

#13414 Framework: Disable deprecated header warnings for pr
  packages/framework/ini-files/config-specs.ini
  packages/muelu/cmake/MueLu_config.hpp.in
  packages/muelu/src/Interface/MueLu_MLParameterListInterpreter_decl.hpp
Labels: AT: AUTOMERGE

#13412 sacado: workaround icpc ice with is_same_v
  packages/sacado/src/Kokkos_LayoutContiguous.hpp
Labels: pkg: Sacado, AT: AUTOMERGE

#13401 KokkosKernels: improve CRS sorting performance
  packages/kokkos-kernels/common/src/KokkosKernels_SimpleUtils.hpp
  packages/kokkos-kernels/common/src/KokkosKernels_Utils.hpp
  packages/kokkos-kernels/perf_test/sparse/CMakeLists.txt
  packages/kokkos-kernels/perf_test/sparse/KokkosSparse_sort_crs.cpp
  packages/kokkos-kernels/sparse/impl/KokkosSparse_sort_crs_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_SortCrs.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_Utils.hpp
Labels: impacting: performance, pkg: KokkosKernels, client: Sierra
