Repository trilinos/Trilinos, pull requests merged in 2024-09, with the labels that each got.

#13416 Intrepid2: Explicitly cast pt0 + pt1 - 1 term in intrepid2 to ScalarType
  packages/intrepid2/src/Cell/Intrepid2_CellDataDef.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE

#13421 Framework: Fix AT2 update column
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13383 Framework: Fix duplicate AutoTester2 runs with a dependent pre-check job
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13425 Framework: Clean up all RHEL7 configurations
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13426 STK: Snapshot 09-04-24 16:01 from Sierra 5.21.3-843-gf6bffc7c
  packages/stk/CHANGELOG.md
  packages/stk/cmake/Dependencies.cmake
  packages/stk/stk_balance/stk_balance/balanceUtils.cpp
  packages/stk/stk_doc_tests/stk_io/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_middle_mesh/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_search/CMakeLists.txt
  packages/stk/stk_doc_tests/stk_simd/CMakeLists.txt
  packages/stk/stk_expreval/stk_expreval/Function.hpp
  packages/stk/stk_expreval/stk_expreval/ParsedEval.hpp
  packages/stk/stk_expreval/stk_expreval/ParsedEvalBase.hpp
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_no_stk_io_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/build_stk_using_cmake
  packages/stk/stk_integration_tests/cmake_install_test/run_cmake_stk_no_stk_io
  packages/stk/stk_mesh/stk_mesh/base/MetaData.cpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldBLAS.hpp
  packages/stk/stk_search_util/Jamfile
  packages/stk/stk_tools/stk_tools/CMakeLists.txt
  packages/stk/stk_topology/stk_topology/apply_functor.hpp
  packages/stk/stk_topology/stk_topology/topology.cpp
  packages/stk/stk_topology/stk_topology/topology_decl.hpp
  packages/stk/stk_topology/stk_topology/topology_defn.hpp
  packages/stk/stk_topology/stk_topology/topology_detail/meta_functions.hpp
  packages/stk/stk_topology/stk_topology/topology_detail/topology_data.cpp
  packages/stk/stk_topology/stk_topology/topology_detail/topology_data.hpp
  packages/stk/stk_topology/stk_topology/types.hpp
  packages/stk/stk_unit_tests/stk_expreval/UnitTestEvaluator.cpp
  packages/stk/stk_unit_tests/stk_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestMetaData.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/ngpFieldBLASTest.cpp
  packages/stk/stk_unit_tests/stk_middle_mesh/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_search_util/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_topology/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_topology/utest_b/unit_test_validate_topology_data.cpp
  packages/stk/stk_unit_tests/stk_topology/utest_c/unit_test_shell_quad_all_face_sides.cpp
  packages/stk/stk_unit_tests/stk_topology/utest_c/unit_test_shell_tri_all_face_sides.cpp
  packages/stk/stk_util/stk_util/Version.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13428 Intrepid2: Fix inclusion test
  packages/intrepid2/src/Cell/Intrepid2_CellDataDef.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellToolsDefInclusion.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectLineGaussJacobi20Def.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectTetDefaultDef.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectTetSymmetricDef.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectTriDefaultDef.hpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_CubatureDirectTriSymmetricDef.hpp
  packages/intrepid2/src/Shared/Intrepid2_Types.hpp
  packages/intrepid2/unit-test/Cell/CMakeLists.txt
  packages/intrepid2/unit-test/Cell/test_01.hpp
  packages/intrepid2/unit-test/Cell/test_02.hpp
  packages/intrepid2/unit-test/Cell/test_03.hpp
  packages/intrepid2/unit-test/Cell/test_04.hpp
  packages/intrepid2/unit-test/Cell/test_06.hpp
  packages/intrepid2/unit-test/Cell/test_07.hpp
Labels: AT: AUTOMERGE

#13409 Teuchos: pass `value_in` to `tpl::set` by universal ref
  packages/teuchos/parameterlist/src/Teuchos_ParameterList.hpp
  packages/teuchos/parameterlist/test/ParameterList/ParameterList_UnitTests.cpp
Labels: AT: AUTOMERGE

#13431 Piro: update FinalObjective and fix the tempus redirection
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/src/Piro_ThyraProductME_Tempus_FinalObjective.hpp
  packages/piro/test/Main_AnalysisDriver_Tempus.cpp
Labels: pkg: Piro, AT: AUTOMERGE

#13430 Framework: hotfix for DoozyX/clang-format
  .github/workflows/clang_format.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13434 Phalanx: fix for gcc 15
  packages/phalanx/src/Phalanx_TemplateIterator.hpp
  packages/phalanx/test/TemplateManager/TemplateManagerTest.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13438 IOSS: Fix shadow variable in region
  packages/seacas/libraries/ioss/src/Ioss_Region.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany

#13424 Tpetra MatrixMatrix: sort for cuSparse
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
Labels: pkg: Tpetra

#13442 Framework: CXX20 gcc container config
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE

#13433 Stokhos: refactor `create_mirror` specialisation for `View` of `MP::Vector`
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/Kokkos_View_MP_Vector_Fwd.hpp
Labels: AT: AUTOMERGE

#13443 Panzer: fix basis values for hip unified memory
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13446 Kokkos + KokkosKernels Promotion To 4.4.01
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/master_history.txt
  packages/kokkos-kernels/sparse/src/KokkosSparse_coo2crs.hpp
  packages/kokkos/.jenkins
  packages/kokkos/CHANGELOG.md
  packages/kokkos/CMakeLists.txt
  packages/kokkos/Makefile.kokkos
  packages/kokkos/cmake/KokkosCore_config.h.in
  packages/kokkos/cmake/kokkos_enable_options.cmake
  packages/kokkos/containers/unit_tests/TestWithoutInitializing.hpp
  packages/kokkos/core/src/Cuda/Kokkos_CudaSpace.cpp
  packages/kokkos/core/src/Cuda/Kokkos_CudaSpace.hpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  packages/kokkos/core/src/Kokkos_View.hpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP.cpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.cpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.hpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_UniqueToken.hpp
  packages/kokkos/core/src/View/Kokkos_ViewAlloc.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewCtor.hpp
  packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  packages/kokkos/core/unit_test/TestViewOfViews.hpp
  packages/kokkos/core/unit_test/cuda/TestCuda_Spaces.cpp
  packages/kokkos/master_history.txt
  packages/kokkos/simd/src/Kokkos_SIMD_AVX2.hpp
  packages/kokkos/simd/unit_tests/TestSIMD.cpp
  packages/kokkos/simd/unit_tests/include/TestSIMD_Construction.hpp
  packages/tpetra/CMakeLists.txt
Labels: pkg: Kokkos, pkg: KokkosKernels

#13449 Stokhos: use exec instance in `deep_copy` of `View` of `MP::Vector`
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
Labels: AT: AUTOMERGE

#13450 Trilinos: fix project actions
  .github/workflows/tpetra_muelu_label_to_project.yml
Labels: pkg: Tpetra, pkg: MueLu, AT2-SpecialApprove

#13413 Framework: Enhance CDash reporting
  .github/workflows/AT2.yml
  cmake/SimpleTesting/cmake/ctest-cdash-setup.cmake
  cmake/SimpleTesting/cmake/ctest-functions.cmake
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13448 Framework: Add python container configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/environment-specs.ini
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#13457 Thyra TpetraAdapters: Check that ETI matches Tpetra scalar types
  packages/thyra/adapters/tpetra/CMakeLists.txt
Labels: pkg: Thyra

#13459 Stokhos: Deprecate the PCE scalar type
  packages/stokhos/CMakeLists.txt
  packages/stokhos/cmake/Stokhos_config.h.in
  packages/stokhos/src/sacado/kokkos/pce/Stokhos_Sacado_Kokkos_UQ_PCE.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#13466 Pamgen: block length nonneg
  packages/pamgen/src/parse_routines.C
Labels: AT: AUTOMERGE

#13468 Fix incomplete type in fmt formatter
  packages/seacas/applications/cpup/cpup.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services

#13472 Tpetra: fix typo: atre -> are
  packages/tpetra/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#13471 SEACAS: install scripts using GNUInstallDirs folders
  packages/seacas/scripts/CMakeLists.txt
Labels: pkg: seacas, impacting: configure or build

#13477 SEACAS: Kluge/Fix for NVCC compiler error and warning
  packages/seacas/applications/cpup/cpup.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_ParallelDatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services, impacting: sanity
