Repository trilinos/Trilinos, pull requests merged in 2024-07, with the labels that each got.

#13185 Update Compadre to version 1.5.9
  packages/compadre/CMakeLists.txt
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/cmake/Dependencies.cmake
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/src/CMakeLists.txt
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_Operators.hpp
Labels: AT: AUTOMERGE, pkg: Compadre

#13102 Amesos : add MKL Cluster Sparse Solver interface
  packages/amesos/CMakeLists.txt
  packages/amesos/cmake/Amesos_config.h.in
  packages/amesos/cmake/Dependencies.cmake
  packages/amesos/src/Amesos.cpp
  packages/amesos/src/Amesos_CssMKL.cpp
  packages/amesos/src/Amesos_CssMKL.h
  packages/amesos/src/CMakeLists.txt
  packages/amesos/test/Test_Basic/Amesos_TestDriver.cpp
  packages/amesos/test/Test_Basic/Amesos_TestSolver.cpp
  packages/amesos/test/Test_Basic/Amesos_TestSolver.h
Labels: pkg: Amesos, AT: PRE-TEST INSPECTED

#13190 Ifpack2: fix a bad memory access on V100
  packages/ifpack2/example/BlockTriDi.cpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: type: bug, pkg: Ifpack2, AT: RETEST, AT: AUTOMERGE

#13200 Ifpack2: add an option to skip the reading of the line file
  packages/ifpack2/example/BlockTriDi.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13202 Tacho : fix version check for CuSparse SpMV/SpMM flags
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU

#13207 MueLu: Adapt offset calculation in amalgamation
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_def.hpp
  packages/muelu/test/unit_tests/AmalgamationFactory.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13197 Tpetra: Fixing Doxygen for FECrsMatrix
  packages/tpetra/core/src/Tpetra_FECrsMatrix_decl.hpp
Labels: pkg: Tpetra

#13211 Intrepid2: Add Developer
  packages/intrepid2/README.md
Labels: pkg: Intrepid2, AT: AUTOMERGE

#13210 Tacho : Re-create CuSparse CSR for each SpMV/SpMM call
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#13196 Amesos : add Amesos::Create interface to CSS MKL
  packages/amesos/src/Amesos.cpp
  packages/amesos/src/Amesos_CssMKL.cpp
  packages/amesos/src/Amesos_CssMKL.h
  packages/amesos/test/Test_Detailed/cxx_main.cpp
Labels: pkg: Amesos, AT: PRE-TEST INSPECTED

#13174 Compadre: Update the License and Copyright
  packages/compadre/COPYRIGHT.md
  packages/compadre/LICENSE.md
  packages/compadre/README.md
  packages/compadre/examples/CommandLineProcessor.hpp
  packages/compadre/examples/Compadre_UnitTests.cpp
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_DivergenceFree.cpp
  packages/compadre/examples/GMLS_Host.cpp
  packages/compadre/examples/GMLS_Manifold.cpp
  packages/compadre/examples/GMLS_Manifold.hpp
  packages/compadre/examples/GMLS_Manifold.py.in
  packages/compadre/examples/GMLS_Manifold_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_Multiple_Evaluation_Sites.cpp
  packages/compadre/examples/GMLS_NeumannGradScalar.cpp
  packages/compadre/examples/GMLS_SmallBatchReuse_Device.cpp
  packages/compadre/examples/GMLS_Staggered.cpp
  packages/compadre/examples/GMLS_Staggered_Manifold.cpp
  packages/compadre/examples/GMLS_Tutorial.hpp
  packages/compadre/examples/GMLS_Vector.cpp
  packages/compadre/examples/NeighborSearchTest.cpp
  packages/compadre/examples/UtilityTest.cpp
  packages/compadre/examples/unittests/test_LinearAlgebra.hpp
  packages/compadre/examples/unittests/test_NeighborLists.hpp
  packages/compadre/examples/unittests/test_PointCloudSearch.hpp
  packages/compadre/examples/unittests/test_Targets.hpp
  packages/compadre/examples/unittests/test_XYZ.hpp
  packages/compadre/src/Compadre_ApplyTargetEvaluations.hpp
  packages/compadre/src/Compadre_Basis.hpp
  packages/compadre/src/Compadre_Evaluator.hpp
  packages/compadre/src/Compadre_Functors.hpp
  packages/compadre/src/Compadre_GMLS.cpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_KokkosParser.hpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_LinearAlgebra_Declarations.hpp
  packages/compadre/src/Compadre_LinearAlgebra_Definitions.hpp
  packages/compadre/src/Compadre_Manifold_Functions.hpp
  packages/compadre/src/Compadre_Misc.hpp
  packages/compadre/src/Compadre_NeighborLists.hpp
  packages/compadre/src/Compadre_Operators.hpp
  packages/compadre/src/Compadre_ParallelManager.hpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
  packages/compadre/src/Compadre_PointConnections.hpp
  packages/compadre/src/Compadre_Quadrature.hpp
  packages/compadre/src/Compadre_SolutionSet.hpp
  packages/compadre/src/Compadre_Targets.hpp
  packages/compadre/src/Compadre_Typedefs.hpp
  packages/compadre/src/Compadre_USER_ManifoldTargetFunctionals.hpp
  packages/compadre/src/Compadre_USER_StandardTargetFunctionals.hpp
  packages/compadre/src/Compadre_Utilities.hpp
  packages/compadre/src/basis/Compadre_BernsteinPolynomial.hpp
  packages/compadre/src/basis/Compadre_ScalarTaylorPolynomial.hpp
  packages/compadre/src/constraints/Compadre_CreateConstraints.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_Decl_Compadre.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_TeamVector_Impl_Compadre.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_TeamVector_Internal_Compadre.hpp
  packages/compadre/src/tpl/nanoflann.hpp
Labels: AT: AUTOMERGE, pkg: Compadre

#13213 Tpetra: fix warnings
  packages/tpetra/core/example/advanced/Benchmarks/import.cpp
  packages/tpetra/core/example/advanced/Benchmarks/vector.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE, client: Albany

#13216 Belos: Fix missing $ in latex docstring
  packages/belos/src/BelosStatusTestGenResSubNorm.hpp
Labels: pkg: Belos, AT: AUTOMERGE

#13219 IOSS: Add property to control enhanced field metadata output
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services, impacting: sanity

#13217 Panzer: convert poisson example to tpetra
  packages/panzer/adapters-stk/example/CMakeLists.txt
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSolution.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSolution_impl.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSource.hpp
  packages/panzer/adapters-stk/example/PoissonExample/Example_SimpleSource_impl.hpp
  packages/panzer/adapters-stk/example/PoissonExample/main.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13222 MiniTensor: Update the License and Copyright
  packages/minitensor/COPYRIGHT
  packages/minitensor/LICENSE
  packages/minitensor/README.md
  packages/minitensor/doc/COPYRIGHT_AND_LICENSE
  packages/minitensor/license.txt
  packages/minitensor/src/MiniTensor.h
  packages/minitensor/src/MiniTensor_Definitions.h
  packages/minitensor/src/MiniTensor_FunctionSet.h
  packages/minitensor/src/MiniTensor_Geometry.h
  packages/minitensor/src/MiniTensor_Geometry.i.h
  packages/minitensor/src/MiniTensor_Geometry.t.h
  packages/minitensor/src/MiniTensor_LinearAlgebra.h
  packages/minitensor/src/MiniTensor_LinearAlgebra.i.h
  packages/minitensor/src/MiniTensor_LinearAlgebra.t.h
  packages/minitensor/src/MiniTensor_Matrix.h
  packages/minitensor/src/MiniTensor_Matrix.i.h
  packages/minitensor/src/MiniTensor_Matrix.t.h
  packages/minitensor/src/MiniTensor_Mechanics.h
  packages/minitensor/src/MiniTensor_Mechanics.i.h
  packages/minitensor/src/MiniTensor_Mechanics.t.h
  packages/minitensor/src/MiniTensor_Solvers.h
  packages/minitensor/src/MiniTensor_Solvers.t.h
  packages/minitensor/src/MiniTensor_Storage.h
  packages/minitensor/src/MiniTensor_Storage.i.h
  packages/minitensor/src/MiniTensor_Tensor.h
  packages/minitensor/src/MiniTensor_Tensor.i.h
  packages/minitensor/src/MiniTensor_Tensor.t.h
  packages/minitensor/src/MiniTensor_Tensor3.h
  packages/minitensor/src/MiniTensor_Tensor3.i.h
  packages/minitensor/src/MiniTensor_Tensor3.t.h
  packages/minitensor/src/MiniTensor_Tensor4.h
  packages/minitensor/src/MiniTensor_Tensor4.i.h
  packages/minitensor/src/MiniTensor_Tensor4.t.h
  packages/minitensor/src/MiniTensor_TensorBase.h
  packages/minitensor/src/MiniTensor_TensorBase.i.h
  packages/minitensor/src/MiniTensor_TensorBase.t.h
  packages/minitensor/src/MiniTensor_Utilities.h
  packages/minitensor/src/MiniTensor_Utilities.i.h
  packages/minitensor/src/MiniTensor_Vector.h
  packages/minitensor/src/MiniTensor_Vector.i.h
  packages/minitensor/src/MiniTensor_Vector.t.h
  packages/minitensor/src/MiniTensor_version.cc
  packages/minitensor/src/MiniTensor_version.h
  packages/minitensor/test/perf_test_01.cc
  packages/minitensor/test/test_01.cc
  packages/minitensor/test/test_02.cc
Labels: pkg: minitensor, AT: AUTOMERGE

#13218 Framework: Update config for RHEL8 Intel PR
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE

#13220 Framework: Add several upgraded RHEL8 Nightly configurations
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE, PA: Framework

#13235 MueLu: Clang-Format Patch for 13223
  packages/muelu/src/Transfers/BaseClass/MueLu_PFactory_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13237 MueLu: Set up matvec performance test
  packages/ifpack2/src/Ifpack2_Hypre_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/MatvecKernelDriver.cpp
Labels: pkg: MueLu

#13234 Teuchos & Thyra: Include fixes
  packages/teuchos/parameterlist/src/Teuchos_ValidatorMaps.hpp
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_describeLinearOp_def.hpp
Labels: pkg: Teuchos, pkg: Thyra, AT: AUTOMERGE

#13238 Phalanx: replace PHX::any with std::any
  packages/phalanx/src/Phalanx_EvaluationContainer.hpp
  packages/phalanx/src/Phalanx_EvaluationContainer_Def.hpp
  packages/phalanx/src/Phalanx_Evaluator.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl.hpp
  packages/phalanx/src/Phalanx_Evaluator_WithBaseImpl_Def.hpp
  packages/phalanx/src/Phalanx_Field.hpp
  packages/phalanx/src/Phalanx_FieldManager_Def.hpp
  packages/phalanx/src/Phalanx_Field_Def.hpp
  packages/phalanx/src/Phalanx_Field_UnmanagedAllocator.hpp
  packages/phalanx/src/Phalanx_KokkosViewFactory.hpp
  packages/phalanx/src/Phalanx_KokkosViewFactoryFunctor.hpp
  packages/phalanx/src/Phalanx_KokkosView_AllocationSize.hpp
  packages/phalanx/src/Phalanx_KokkosView_CreateView.hpp
  packages/phalanx/src/Phalanx_KokkosView_HiddenDimensionForSFINAE.hpp
  packages/phalanx/src/Phalanx_MDField.hpp
  packages/phalanx/src/Phalanx_MDField_UnmanagedAllocator.hpp
  packages/phalanx/src/Phalanx_MemoryManager.hpp
  packages/phalanx/src/Phalanx_any.hpp
  packages/phalanx/src/deprecated/Phalanx_DimTag.cpp
  packages/phalanx/src/deprecated/Phalanx_DimTag.hpp
  packages/phalanx/src/deprecated/Phalanx_KokkosUtilities.cpp
  packages/phalanx/src/deprecated/Phalanx_KokkosUtilities.hpp
  packages/phalanx/src/deprecated/Phalanx_MDField.hpp
  packages/phalanx/src/deprecated/Phalanx_MDFieldToKokkos.hpp
  packages/phalanx/src/deprecated/Phalanx_MDField_Def.hpp
  packages/phalanx/src/deprecated/REAMDE.txt
  packages/phalanx/test/EvaluatorMacros/EvaluatorWithMacros.hpp
  packages/phalanx/test/EvaluatorMacros/EvaluatorWithMacros_Def.hpp
  packages/phalanx/test/Field/Field.cpp
  packages/phalanx/test/Field/MDField_Compiletime.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/Kokkos/tKokkosPerf.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13251 Tpetra: Restricting test output to rank-0
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
Labels: pkg: Tpetra

#13252 Eliminate Unused variable
  packages/seacas/libraries/ioss/src/exodus/Ioex_DecompositionData.C
Labels: pkg: seacas, impacting: configure or build, AT: AUTOMERGE, PA: Data Services, client: Albany

#13260 Ifpack2: fix sign compare warning (#13259)
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13264 Teko: Auto 'un-box' single sub-block hierarchical blocks
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.hpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13267 MueLu: Update ATPESC input decks
  packages/muelu/example/basic/set1-cg.xml
  packages/muelu/example/basic/set1-gmres.xml
  packages/muelu/example/basic/set2-sgs1.xml
  packages/muelu/example/basic/set2-sgs3.xml
  packages/muelu/example/basic/set3-mg-mtgs.xml
  packages/muelu/example/basic/set3-mg-mtsgs.xml
Labels: pkg: MueLu, AT: AUTOMERGE

#13270 MueLu: Add option to compute eigenvalue and condition number estimates to Driver
  packages/muelu/example/basic/Simple.cpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13280 Xpetra: Make deprecation warnings optional
  packages/xpetra/cmake/Xpetra_config.hpp.in
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/Export/Xpetra_EpetraExport.hpp
  packages/xpetra/src/Import/Xpetra_EpetraImport.hpp
  packages/xpetra/src/Map/Xpetra_EpetraMap.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraIntMultiVector.hpp
  packages/xpetra/src/MultiVector/Xpetra_EpetraMultiVector.hpp
  packages/xpetra/src/Operator/Xpetra_EpetraOperator.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraIntVector.hpp
  packages/xpetra/src/Vector/Xpetra_EpetraVector.hpp
Labels: AT: AUTOMERGE

#13277 Tpetra&Ifpack2: Silence warnings
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/tpetra/core/src/Tpetra_computeRowAndColumnOneNorms_def.hpp
Labels: pkg: Tpetra, pkg: Ifpack2, AT: AUTOMERGE

#13276 Panzer: fix interpolation for debug builds
  packages/panzer/CMakeLists.txt
  packages/panzer/disc-fe/src/Panzer_Interpolation.cpp
Labels: pkg: Panzer, AT: AUTOMERGE

#13243 Framework: Fix PR unit tests
  packages/framework/pr_tools/trilinosprhelpers/sysinfo/unittests/test_SysInfo.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/config-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/environment-specs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/supported-envs.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/supported-systems.ini
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/supporting_files/supported-systems.ini
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE

#13263 Tpetra: remove deprecated compatibility headers
  packages/tpetra/core/compat/CMakeLists.txt
  packages/tpetra/core/compat/KokkosCompat_ClassicNodeAPI_Wrapper.hpp
  packages/tpetra/core/compat/KokkosCompat_DefaultNode.hpp
  packages/tpetra/core/compat/Kokkos_BufferMacros.hpp
  packages/tpetra/core/compat/Kokkos_ConfigDefs.hpp
  packages/tpetra/core/compat/Kokkos_DefaultNode.hpp
  packages/tpetra/core/compat/Kokkos_LinAlgVersion.hpp
  packages/tpetra/core/compat/Kokkos_MultiVectorKernelOps.hpp
  packages/tpetra/core/compat/Kokkos_NodeAPIConfigDefs.hpp
  packages/tpetra/core/compat/Kokkos_Version.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#12797 Belos CGSingleRedIter: Reorder memory so that MvTransMv arguments have constant stride
  packages/belos/src/BelosCGSingleRedIter.hpp
Labels: pkg: Belos, AT: AUTOMERGE

#13283 Xpetra: Add IteratorOps to CMake
  packages/xpetra/src/CMakeLists.txt
Labels: pkg: Xpetra

#13165 Tpetra: Add test that counts fences in matvec
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecFence.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13286 MueLu MultiPhys: Fix includes
  packages/muelu/src/Operators/MueLu_MultiPhys_decl.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13052 Tpetra: Call KokkosSparse::spgemm with integer row pointers
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spgemm_symbolic_tpl_spec_decl.hpp
  packages/muelu/test/unit_tests/Regression.cpp
  packages/muelu/test/unit_tests_kokkos/Regression.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_SYCL.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/TpetraExt_MatrixMatrix_fwd.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_fwd.hpp
  packages/tpetra/core/src/Tpetra_Details_IntRowPtrHelper.hpp
  packages/tpetra/core/src/Tpetra_Details_MatrixApplyHelper.hpp
  packages/tpetra/core/test/MatrixMatrix/FECrs_MatrixMatrix_UnitTests.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: pkg: Tpetra

#13247 Panzer: convert main driver tests to tpetra
  packages/panzer/adapters-stk/example/CMakeLists.txt
  packages/panzer/adapters-stk/example/main_driver/CMakeLists.txt
  packages/panzer/adapters-stk/example/main_driver/energy-neumann.xml
  packages/panzer/adapters-stk/example/main_driver/energy-periodic-32bit-limit.xml
  packages/panzer/adapters-stk/example/main_driver/energy-ss-blocked-tp.xml
  packages/panzer/adapters-stk/example/main_driver/energy-ss-loca-eigenvalue.xml
  packages/panzer/adapters-stk/example/main_driver/energy-ss-tp.xml
  packages/panzer/adapters-stk/example/main_driver/energy-transient-tempus-blocked.xml
  packages/panzer/adapters-stk/example/main_driver/main_driver.cpp
  packages/panzer/adapters-stk/example/main_driver/periodic_wedge.xml
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13249 Shards: Update License and Copyright
  packages/shards/COPYRIGHT
  packages/shards/LICENSE
  packages/shards/README.md
  packages/shards/copyright.txt
  packages/shards/example/example_01.cpp
  packages/shards/example/example_02.cpp
  packages/shards/example/example_03.cpp
  packages/shards/src/Shards_Array.cpp
  packages/shards/src/Shards_Array.hpp
  packages/shards/src/Shards_ArrayVector.hpp
  packages/shards/src/Shards_BasicTopologies.cpp
  packages/shards/src/Shards_BasicTopologies.hpp
  packages/shards/src/Shards_CellTopology.cpp
  packages/shards/src/Shards_CellTopology.hpp
  packages/shards/src/Shards_CellTopologyData.c
  packages/shards/src/Shards_CellTopologyData.h
  packages/shards/src/Shards_CellTopologyManagedData.cpp
  packages/shards/src/Shards_CellTopologyManagedData.hpp
  packages/shards/src/Shards_CellTopologyTraits.hpp
  packages/shards/src/Shards_IndexList.hpp
  packages/shards/src/Shards_SimpleArrayOps.hpp
  packages/shards/src/Shards_TypeList.hpp
  packages/shards/test/Test_Main.cpp
  packages/shards/test/Test_Shards_Array.cpp
  packages/shards/test/Test_Shards_CellTopology.cpp
Labels: pkg: Shards, AT: AUTOMERGE

#13287 Phalanx: fixes for kokkos release 4.4
  packages/phalanx/example/FiniteElementAssembly/PrintValues.hpp
  packages/phalanx/example/FiniteElementAssembly/auxiliary_tests/Example_FEM_LinearObjectFactory_AuxTest.cpp
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
  packages/phalanx/test/Kokkos/tKokkosViewOfViews.cpp
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13294 Sacado: Update Kokkos File Headers
  packages/sacado/test/performance/fenl_assembly/BoxElemFixture.hpp
  packages/sacado/test/performance/fenl_assembly/BoxElemPart.cpp
  packages/sacado/test/performance/fenl_assembly/BoxElemPart.hpp
  packages/sacado/test/performance/fenl_assembly/HexElement.hpp
  packages/sacado/test/performance/fenl_assembly/fenl_functors.hpp
  packages/sacado/test/performance/fenl_assembly_view/BoxElemFixture.hpp
  packages/sacado/test/performance/fenl_assembly_view/BoxElemPart.cpp
  packages/sacado/test/performance/fenl_assembly_view/BoxElemPart.hpp
  packages/sacado/test/performance/fenl_assembly_view/HexElement.hpp
  packages/sacado/test/performance/fenl_assembly_view/fenl_functors.hpp
Labels: pkg: Sacado, AT: AUTOMERGE

#13293 Stokhos: Update Kokkos File Headers
  packages/stokhos/test/Performance/FadMPAssembly/BoxElemFixture.hpp
  packages/stokhos/test/Performance/FadMPAssembly/BoxElemPart.cpp
  packages/stokhos/test/Performance/FadMPAssembly/BoxElemPart.hpp
  packages/stokhos/test/Performance/FadMPAssembly/HexElement.hpp
  packages/stokhos/test/Performance/FadMPAssembly/VectorImport.hpp
  packages/stokhos/test/Performance/FadMPAssembly/fenl_functors.hpp
  packages/stokhos/test/Performance/MPAssembly/BoxElemFixture.hpp
  packages/stokhos/test/Performance/MPAssembly/BoxElemPart.cpp
  packages/stokhos/test/Performance/MPAssembly/BoxElemPart.hpp
  packages/stokhos/test/Performance/MPAssembly/HexElement.hpp
  packages/stokhos/test/Performance/MPAssembly/VectorImport.hpp
  packages/stokhos/test/Performance/MPAssembly/fenl_functors.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#13295 Teuchos: Update Kokkos File Headers
  packages/teuchos/kokkoscomm/src/Kokkos_MpiTypeTraits.hpp
  packages/teuchos/kokkoscomm/src/Kokkos_TeuchosCommAdapters.hpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_TMM.hpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_View.cpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_View.hpp
  packages/teuchos/kokkoscompat/src/KokkosCompat_View_def.hpp
  packages/teuchos/kokkoscompat/test/linkTest.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#13300 Phalanx: fix vov for CUDA UVM
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13302 Add-License-Identifier
  packages/PyTrilinos2/LICENSE
  packages/TrilinosInstallTests/LICENSE
  packages/adelus/LICENSE
  packages/amesos2/LICENSE
  packages/amesos2/src/KLU2/LICENSE
  packages/amesos2/src/basker/LICENSE
  packages/anasazi/LICENSE
  packages/belos/LICENSE
  packages/galeri/LICENSE
  packages/ifpack2/LICENSE
  packages/intrepid2/LICENSE
  packages/minitensor/LICENSE
  packages/muelu/LICENSE
  packages/pamgen/LICENSE
  packages/panzer/LICENSE
  packages/phalanx/LICENSE
  packages/tempus/LICENSE
Labels: pkg: MueLu, pkg: Ifpack2, pkg: Amesos2, pkg: Belos, pkg: Phalanx, pkg: Panzer, pkg: Anasazi, pkg: Pamgen, pkg: Tempus, AT: AUTOMERGE

#13284 Adelus: Fix unstable commnication pattern in back solve
  packages/adelus/src/Adelus_solve.hpp
Labels: type: bug, AT: AUTOMERGE, PA: Linear Solvers, client: Gemma, pkg: Adelus

#13306 Tpetra: Fixing cmake logic error
  packages/tpetra/core/ext/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#13278 MueLu: Prep for CoalesceDrop refactor
  packages/muelu/src/Graph/Containers/MueLu_LWGraphBase.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_decl.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_decl.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/MueLu_TestHelpers_kokkos.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13309 Ifpack2: Fix repeat calls to ILUT::compute
  packages/ifpack2/src/Ifpack2_ILUT_decl.hpp
  packages/ifpack2/src/Ifpack2_ILUT_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED
