Repository trilinos/Trilinos, pull requests merged in 2024-06, with the labels that each got.

#12976 Framework: Add CDash reporting to AT2 builds
  .github/workflows/AT2.yml
  cmake/SimpleTesting/cmake/ctest-driver.cmake
Labels: AT2-SpecialApprove

#13063 Framework: Display image used for AT2 run
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13064 Framework: Use PR-format build name based on group
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
Labels: AT: AUTOMERGE

#13058 Teuchos: add option to Kokkos::fence in timers
  packages/teuchos/CMakeLists.txt
  packages/teuchos/comm/test/Time/TimeMonitor_UnitTests.cpp
  packages/teuchos/core/cmake/Teuchos_config.h.in
  packages/teuchos/core/src/Teuchos_Time.cpp
Labels: type: enhancement, pkg: Teuchos

#13068 Tpetra: Build TPL test on HIP, test both MV with 1 and 3 columns
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ApplyUsesTPLs.cpp
Labels: pkg: Tpetra

#13065 Tpetra: remove fences from PerformanceCGSolve
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13062 Framework: Force genconfig system for DetermineSystem
  packages/framework/pr_tools/LaunchDriver.py
Labels: AT: AUTOMERGE

#13080 Actions: Pull Requests are Issues... Except when they aren't
  .github/workflows/clang_format.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13075 Tpetra: Removing superfluous intercept test
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/ApiTest.cpp
  packages/tpetra/core/test/KokkosIntegration/ApiTest.h
  packages/tpetra/core/test/KokkosIntegration/CMakeLists.txt
  packages/tpetra/core/test/KokkosIntegration/Intercept.cpp
  packages/tpetra/core/test/KokkosIntegration/KokkosDeepcopy.cpp
Labels: AT: AUTOMERGE

#13067 Framework: Added RHEL8 CUDA configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE, PA: Framework

#13057 Ifpack2 AdditiveSchwarz & RILUK performance improvements
  packages/ifpack2/src/Ifpack2_AdditiveSchwarz_def.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
Labels: pkg: Ifpack2

#13088 Belos: Adds example for SolverManager using Epetra and Tpetra
  packages/belos/doc/DoxyfileWeb
  packages/belos/epetra/example/CMakeLists.txt
  packages/belos/epetra/example/SolverFactory/CMakeLists.txt
  packages/belos/epetra/example/SolverFactory/SolverFactoryEpetraGaleriEx.cpp
  packages/belos/src/BelosSolverFactory_Belos.hpp
  packages/belos/tpetra/example/CMakeLists.txt
  packages/belos/tpetra/example/SolverFactory/CMakeLists.txt
  packages/belos/tpetra/example/SolverFactory/SolverFactoryTpetraGaleriEx.cpp
Labels: pkg: Belos

#13091 Tpetra: skip test that spmv_mv used cusparse
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ApplyUsesTPLs.cpp
Labels: pkg: Tpetra

#13081 Fix mistake in #13058: cmake option default
  packages/teuchos/CMakeLists.txt
Labels: type: bug, pkg: Teuchos, AT: AUTOMERGE

#13089 KokkosKernels: patch in #2240
  packages/kokkos-kernels/sparse/impl/KokkosSparse_spmv_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_spmv_handle.hpp
  packages/kokkos-kernels/sparse/unit_test/Test_Sparse_spmv.hpp
Labels: type: bug, pkg: KokkosKernels, AT: AUTOMERGE

#13061 Tacho : SpMV option for Chol & LU
  packages/shylu/shylu_node/tacho/cmake/Tacho_config.h.in
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/CMakeLists.txt
  packages/shylu/shylu_node/tacho/src/Tacho_CuSolver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SupernodeInfo.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_ExtractCRS.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveLowerLU.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperChol.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperLDL.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperLU.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#13044 Framework: Add AT2 CUDA build
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13092 Panzer: changes requested by Drekar for epetra removal
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory_impl.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13096 Ifpack2: Tiny fix for extra tokens at end of #endif directive
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13095 Framework: Force LoadEnv to use the system found in the build name
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
Labels: AT: AUTOMERGE, PA: Framework

#13072 Panzer: Minor updates to `CartesianConn/DOFMgr`
  packages/panzer/dof-mgr/test/cartesian_topology/CMakeLists.txt
  packages/panzer/dof-mgr/test/cartesian_topology/CartesianConnManager.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/CartesianConnManager.hpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianDOFMgr.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianDOFMgr_DG.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianDOFMgr_DynRankView.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianDOFMgr_HighOrder.cpp
  packages/panzer/dof-mgr/test/cartesian_topology/tCartesianTop.cpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#13099 Framework: Add RHEL8 GCC OpenMPI configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE, PA: Framework

#13053 Teko: Add sub-solve capability in hierarchical Block Gauss-Seidel
  packages/teko/src/Teko_BlockLowerTriInverseOp.cpp
  packages/teko/src/Teko_BlockLowerTriInverseOp.hpp
  packages/teko/src/Teko_BlockUpperTriInverseOp.cpp
  packages/teko/src/Teko_BlockUpperTriInverseOp.hpp
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_HierarchicalGaussSeidelPreconditionerFactory.hpp
  packages/teko/tests/src/tSIMPLEPreconditionerFactory_tpetra.cpp
Labels: pkg: Teko, AT: AUTOMERGE, 16.0 release note

#13103 Additions to release notes
  RELEASE_NOTES
Labels: PA: Framework, 16.0 release note

#13105 Framework: Finalize RHEL8 Clang build (disable failing test)
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#13090 Tpetra: test that CrsMatrix::apply overwrites NaNs
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13104 ShyLu fixes for ROCm 6
  packages/shylu/shylu_node/tacho/cmake/Dependencies.cmake
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SupernodeInfo.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13109 Tpetra: add getBlockCrsGraph free function to ETI
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
Labels: pkg: Tpetra

#13111 Amesos2: Fix build issue with CSS
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/amesos2/src/CMakeLists.txt
Labels: pkg: Amesos2, AT: PRE-TEST INSPECTED

#13117 Tpetra: Use a stable sort only for makeColMap and makeOptimizedColMap
  packages/tpetra/core/src/Tpetra_Details_makeColMap_def.hpp
  packages/tpetra/core/src/Tpetra_Details_makeOptimizedColMap.hpp
  packages/tpetra/core/src/Tpetra_Util.hpp
Labels: AT: AUTOMERGE

#13070 Framework: Add GCC RHEL8 configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE

#13121 zoltan2: replace use of char* code with std::string with istringstream
  packages/zoltan2/test/core/unit/input/XpetraMultiVectorInput.cpp
Labels: pkg: Zoltan2

#13122 Ifpack2: Fix #13118 and cleanup copy-pasted function
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13126 Thyra,Belos,Anasazi: Fix valgrind findings
  packages/anasazi/src/AnasaziMVOPTester.hpp
  packages/belos/src/BelosMVOPTester.hpp
  packages/thyra/core/test/operator_vector/DefaultProductVectorSpace_UnitTests.cpp
  packages/thyra/core/test/operator_vector/DefaultSpmdMultiVector_UnitTests.cpp
Labels: pkg: Belos, pkg: Thyra, pkg: Anasazi, AT: AUTOMERGE

#13129 ifpack: Fix-Non-UTF-8-Encoded-Characters
  packages/PyTrilinos/doc/UsersGuide/biblio.bib
  packages/ifpack/doc/UsersGuide/biblio.bib
Labels: pkg: Ifpack, pkg: PyTrilinos, AT: AUTOMERGE

#13128 Trilinos: Remove CRs
  .git-blame-ignore-revs
  cmake/ctest/drivers/ascicgpu031/drakify-email.pl
Labels: AT: AUTOMERGE

#13130 Epetra: Garbage Characters
  packages/epetra/ReleaseNotes.txt
Labels: pkg: Epetra

#13137 Add missing parameters in `Ifpack2::getValidParameters()`
  packages/ifpack2/src/Ifpack2_Parameters.cpp
Labels: pkg: Ifpack2

#13110 Framework: Unify deprecated packages list
  CMakeLists.txt
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#13142 PyTrilinos2: Update License and Copyright
  packages/PyTrilinos2/CMakeLists.txt
  packages/PyTrilinos2/COPYRIGHT
  packages/PyTrilinos2/LICENSE
  packages/PyTrilinos2/README.md
  packages/PyTrilinos2/cmake/Dependencies.cmake
  packages/PyTrilinos2/cmake/PyTrilinos2MakeTest.cmake
  packages/PyTrilinos2/examples/CG.py
  packages/PyTrilinos2/python/__init__.py
  packages/PyTrilinos2/scripts/PyTrilinos2_config.cfg
  packages/PyTrilinos2/scripts/gather_ETI.py
  packages/PyTrilinos2/scripts/gather_includes.py
  packages/PyTrilinos2/src/CMakeLists.txt
  packages/PyTrilinos2/src/PyTrilinos2_Binder_Input.hpp
  packages/PyTrilinos2/src/PyTrilinos2_MueLu_ETI.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Teuchos_Custom.cpp
  packages/PyTrilinos2/src/PyTrilinos2_Teuchos_Custom.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Teuchos_ETI.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Tpetra_Custom.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Tpetra_Types.hpp
  packages/PyTrilinos2/src/checkNumberFiles.cmake
  packages/PyTrilinos2/test/CG.py
  packages/PyTrilinos2/test/CMakeLists.txt
  packages/PyTrilinos2/test/parameterList.py
Labels: pkg: PyTrilinos2

#13145 Tempus: fix missing include in backward euler test
  packages/tempus/test/BackwardEuler/Tempus_Test_BackwardEuler_OptInterface.cpp
Labels: pkg: Tempus

#13155 IOSS: Remove use of fmt in installed header
  packages/seacas/libraries/ioss/src/Ioss_Field.h
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services, client: Albany, impacting: sanity

#13131 Packages: Remove CRs
  .git-blame-ignore-revs
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestSGSMT.cpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/utils/MergeLevelGraphs/mergeLevelGraphs.py
  packages/muelu/utils/misc/drakify-email.pl
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/piro/src/Piro_TempusSolver_Def.hpp
  packages/piro/src/Piro_TransientSolver_Def.hpp
  packages/teuchos/core/src/Teuchos_RCPNode.cpp
Labels: pkg: MueLu, pkg: Ifpack2, pkg: Teuchos, pkg: Piro, AT: AUTOMERGE

#13166 IOSS: Fix another include of fmt header
  packages/seacas/libraries/ioss/src/Ioss_Region.h
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services, client: Albany, client: ExaWind

#13066 Panzer: Refactor interpolation operators
  packages/panzer/adapters-stk/test/CMakeLists.txt
  packages/panzer/adapters-stk/test/interpolation/CMakeLists.txt
  packages/panzer/adapters-stk/test/interpolation/interpolation.cpp
  packages/panzer/adapters-stk/test/projection/project_field.cpp
  packages/panzer/disc-fe/src/Panzer_Interpolation.cpp
  packages/panzer/disc-fe/src/Panzer_Interpolation.hpp
  packages/panzer/disc-fe/test/la_factory/CMakeLists.txt
  packages/panzer/dof-mgr/test/dofmngr_test/CMakeLists.txt
  packages/panzer/dof-mgr/test/dofmngr_test/tBlockedDOFManager.cpp
  packages/panzer/dof-mgr/test/dofmngr_test/tFilteredUGI.cpp
  packages/panzer/dof-mgr/test/dofmngr_test/tGlobalIndexerUtilities.cpp
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/src/solvers/MiniEM_HigherOrderMaxwellPreconditionerFactory.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_MatrixFreeInterpolationOp.cpp
  packages/teko/src/Teko_Utilities.cpp
  packages/teko/src/Teko_Utilities.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE

#13169 MiniTensor: remove boost
  packages/minitensor/cmake/Dependencies.cmake
  packages/minitensor/src/MiniTensor_Matrix.h
  packages/minitensor/src/MiniTensor_Tensor.h
Labels: pkg: minitensor

#13147 Adelus: Update License and Copyright
  packages/adelus/COPYRIGHT
  packages/adelus/Copyright.txt
  packages/adelus/LICENSE
  packages/adelus/example/adelus_driver.cpp
  packages/adelus/src/Adelus.hpp
  packages/adelus/src/AdelusVersion.cpp
  packages/adelus/src/AdelusVersion.hpp
  packages/adelus/src/Adelus_ConfigDefs.hpp
  packages/adelus/src/Adelus_defines.h
  packages/adelus/src/Adelus_distribute.cpp
  packages/adelus/src/Adelus_distribute.hpp
  packages/adelus/src/Adelus_factor.hpp
  packages/adelus/src/Adelus_forward.hpp
  packages/adelus/src/Adelus_global_comm.hpp
  packages/adelus/src/Adelus_macros.h
  packages/adelus/src/Adelus_mytime.hpp
  packages/adelus/src/Adelus_perm1.hpp
  packages/adelus/src/Adelus_perm_mat.hpp
  packages/adelus/src/Adelus_perm_rhs.hpp
  packages/adelus/src/Adelus_solve.hpp
  packages/adelus/src/Adelus_vars.hpp
  packages/adelus/src/Adelus_x_factor.hpp
  packages/adelus/src/Adelus_x_solve.hpp
  packages/adelus/src/Adelus_xlu_solve.hpp
  packages/adelus/src/BlasWrapper_copy.hpp
  packages/adelus/src/BlasWrapper_copy_spec.hpp
  packages/adelus/test/perf_test/cxx_main.cpp
  packages/adelus/test/vector_random/cxx_main.cpp
  packages/adelus/test/vector_random_fs/cxx_main.cpp
  packages/adelus/test/vector_random_mc/cxx_main.cpp
Labels: impacting: documentation, pkg: Adelus

#13164 teuchos: rename namespace Profiling->Tools for kokkos-tools
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/core/src/Teuchos_Time.cpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#12889 Panzer: Remove extensive recomputing of Jacobian from IntegrationValues2
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13158 Framework: Deprecated packages
  CMakeLists.txt
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#13167 Teko: Add preconditioned iterative solves to diagnostic preconditioner factory
  packages/teko/src/Teko_DiagnosticPreconditionerFactory.cpp
  packages/teko/src/Teko_DiagnosticPreconditionerFactory.hpp
  packages/teko/tests/unit_tests/tDiagnosticLinearOp.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#13112 Framework: Add RHEL8 Anaconda3 configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE

#13183 Tacho : support for CUDA 12
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13180 Tpetra: Fix hanging tests after Serial thread-safety fixes
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra

#13157 Framework: Drop verbosity level under Jenkins
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE

#13188 Phalanx: Fix for kokkos serial changes
  packages/phalanx/src/Phalanx_KokkosViewOfViews.hpp
  packages/phalanx/test/ViewOfViews/tPhalanxViewOfViews.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED
