Repository trilinos/Trilinos, pull requests merged in 2024-10, with the labels that each got.

#13469 belos: Use a pooling strategy for Tpetra MultiVectors.
  packages/belos/tpetra/example/Orthog/TpetraOrthogEx.cpp
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
  packages/belos/tpetra/src/solvers/Belos_Tpetra_GmresSstep.hpp
Labels: pkg: Belos, AT: AUTOMERGE

#13480 Framework: DCO guarantee
  .github/workflows/per-commit.yml
  commonTools/test/utilities/check-commit-signoffs.sh
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13486 STK: Snapshot 09-30-24 18:31 from Sierra 5.21.5-353-g60799ad8
  packages/stk/CHANGELOG.md
  packages/stk/stk_mesh/stk_mesh/base/BulkData.cpp
  packages/stk/stk_mesh/stk_mesh/base/BulkData.hpp
  packages/stk/stk_mesh/stk_mesh/base/FEMHelpers.cpp
  packages/stk/stk_mesh/stk_mesh/base/FEMHelpers.hpp
  packages/stk/stk_mesh/stk_mesh/base/NgpFieldBLAS.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/NgpFieldBLASImpl.hpp
  packages/stk/stk_search/stk_search/morton_lbvh/CoarseSearchMortonLBVH.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/MeshUtilsForBoundingVolumes.cpp
  packages/stk/stk_unit_tests/stk_mesh/ngp/ngpFieldBLASTest.cpp
  packages/stk/stk_unit_tests/stk_search/UnitTestCoarseSearch.cpp
  packages/stk/stk_util/stk_util/Version.hpp
  packages/stk/stk_util/stk_util/parallel/CMakeLists.txt
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13490 Update SECURITY.md
  SECURITY.md
Labels: AT: AUTOMERGE, PA: Framework

#13494 Framework: Add DCO instructions
  CONTRIBUTING.md
Labels: AT: AUTOMERGE

#13482 Tacho : compile warnings on Mi300
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU

#13496 Framework/Zoltan: Fix Fortran typo
  commonTools/buildTools/external/makefileSupport.mak
  packages/TrilinosInstallTests/CMakeLists.txt
  packages/zoltan/config/zac_arg_config_mpi.m4
  packages/zoltan/configure
  packages/zoltan/docs/dev_html/dev_view.html
Labels: AT: AUTOMERGE

#13464 Framework: Add Framework tests AT2 job
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13487 tpetra: compatibility update with KOKKOS_VERSION>=40499
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosTeuchosTimerInjection.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13503 KokkosKernels: patch PR 2345
  packages/kokkos-kernels/batched/dense/impl/KokkosBatched_SVD_Serial_Internal.hpp
  packages/kokkos-kernels/batched/dense/unit_test/Test_Batched_SerialSVD.hpp
Labels: type: bug, pkg: KokkosKernels

#13444 FROSch : fix issues with multiple blocks
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_GDSWCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_HarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_IPOUHarmonicCoarseOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_RGDSWCoarseOperator_def.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#12355 Sacado: Fix clang -Wdtor-name warning
  packages/sacado/src/Sacado_Fad_VectorImp.hpp
Labels: pkg: Sacado, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13514 Fix 13512
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
Labels: pkg: Belos

#13502 KokkosKernels: match #2353
  packages/kokkos-kernels/sparse/impl/KokkosSparse_sort_crs_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_SortCrs.hpp
Labels: pkg: KokkosKernels

#13518 IOSS: Fix single-rank file open integer size
  packages/seacas/libraries/ioss/src/exodus/Ioex_DecompositionData.C
Labels: pkg: seacas, AT: AUTOMERGE, client: SPARC, PA: Data Services

#13521 sacado,stokhos: remove use of Kokkos::Impl::MirrorType
  packages/sacado/src/KokkosExp_View_Fad.hpp
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
  packages/sacado/src/Kokkos_View_Fad_Fwd.hpp
  packages/stokhos/src/sacado/kokkos/pce/KokkosExp_View_UQ_PCE_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/pce/Kokkos_View_UQ_PCE_Fwd.hpp
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
  packages/stokhos/src/sacado/kokkos/vector/Kokkos_View_MP_Vector_Fwd.hpp
Labels: pkg: Sacado, pkg: Stokhos

#13529 IOSS: Turn of field metadata output by default
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Nalu

#13535 Stokhos: Do not specify template arg when using Kokkos atomics
  packages/stokhos/src/sacado/kokkos/vector/KokkosBlas2_gemv_MP_Vector.hpp
Labels: pkg: Stokhos, AT2-Start, AT2-SpecialApprove

#13528 Framework: Update workflows using AT2
  .github/workflows/AT2.yml
  .github/workflows/spack.yml
Labels: PA: Framework, AT2-SpecialApprove

#13533 Framework: Fix kokkos integration cdash group
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
Labels: AT: AUTOMERGE

#13536 kokkos-kernels: Block Sptrsv fixes (kokkos/kokkos-kernels#2376)
  packages/kokkos-kernels/sparse/impl/KokkosSparse_sptrsv_solve_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_sptrsv_handle.hpp
  packages/kokkos-kernels/sparse/unit_test/Test_Sparse_sptrsv.hpp
Labels: pkg: KokkosKernels, AT: AUTOMERGE

#13539 Fixup `Kokkos::atomic_{inc,dec}[rement]`
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase1Algorithm_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase3Algorithm_def.hpp
  packages/nox/test/tpetra/1DFEM_Functors.hpp
  packages/sacado/test/performance/fenl_assembly/fenl_functors.hpp
  packages/sacado/test/performance/fenl_assembly_view/fenl_functors.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_thread.hpp
  packages/stk/stk_performance_tests/stk_mesh/calculate_centroid.hpp
  packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp
  packages/trilinoscouplings/examples/fenl/fenl_functors.hpp
Labels: AT: AUTOMERGE

#13543 MueLu regionMG: Fix for Python CMake logic
  packages/muelu/research/regionMG/test/structured/CMakeLists.txt
Labels: pkg: MueLu, AT: AUTOMERGE

#13542 Tacho : move workspace allocation to symbolic from numeric
  packages/amesos2/src/Amesos2_Tacho_decl.hpp
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Base.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU

#13540 RBILUK: Use new KK::sptrsv block support instead of KK::trsv
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13491 Tpetra: Transfer and fill complete refactor
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13556 Tpetra, PyTrilinos2: Expose Tpetra::FE*
  packages/PyTrilinos2/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_ConfigDefs.hpp
  packages/tpetra/core/src/Tpetra_FECrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_FECrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_FECrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_FEMultiVector_def.hpp
Labels: pkg: Tpetra, pkg: PyTrilinos2

#13538 ShyLU - Basker : add SequentialHostInit to View-of-Views
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_error_manager.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_stats.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_structs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#13559 Teuchos: Delete ConstNonconstObjectContainer::count method
  packages/teuchos/core/src/Teuchos_ConstNonconstObjectContainer.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE

#13561 tpetra: replace use of impl_dualview_is_single_device
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/ImportExport2/ImportExport2_UnitTests.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13563 shylubasker: remove unused code
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_thread.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13557 Framework: Fix broken Trilinos Spack action
  .github/workflows/AT2.yml
  .github/workflows/spack.yml
Labels: PA: Framework, AT2-SpecialApprove
