Repository trilinos/Trilinos, pull requests merged in 2024-02, with the labels that each got.

#12713 Change from http to https to submit to moved testing.sandia.gov/cdash
  CTestConfig.cmake
Labels: AT: AUTOMERGE

#12711 ifpack2: Update the list of block sizes to specialize block tridiag kernels for.
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: AUTOMERGE

#12714 Tempus: Fix Doxygen Issues
  packages/tempus/examples/03_Intro_SolutionState/03_Intro_SolutionState.cpp
  packages/tempus/src/Tempus_StepperNewmarkImplicitAForm_decl.hpp
  packages/tempus/test/TestModels/SteadyQuadraticModel_decl.hpp
Labels: type: bug, pkg: Tempus

#12692 Panzer MiniEM: Assert that error in analytic example is below threshold
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/maxwell-analyticSolution.xml
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12707 Kokkos + KokkosKernels Promotion To 4.2.1
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/blas/tpls/KokkosBlas1_swap_tpl_spec_decl.hpp
  packages/kokkos-kernels/master_history.txt
  packages/kokkos-kernels/sparse/src/KokkosSparse_Utils_rocsparse.hpp
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_bsrmatrix_tpl_spec_decl.hpp
  packages/kokkos-kernels/sparse/tpls/KokkosSparse_spmv_tpl_spec_decl.hpp
  packages/kokkos/CHANGELOG.md
  packages/kokkos/CMakeLists.txt
  packages/kokkos/Makefile.kokkos
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsCommon.hpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamCopyIf.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamIsPartitioned.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamPartitionCopy.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamPartitionPoint.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamRemoveCopyIf.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamRemoveIf.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamReplaceCopyIf.cpp
  packages/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamReplaceIf.cpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_MDRange.hpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  packages/kokkos/core/src/HIP/Kokkos_HIP_Graph_Impl.hpp
  packages/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.cpp
  packages/kokkos/core/src/Serial/Kokkos_Serial.cpp
  packages/kokkos/core/src/Serial/Kokkos_Serial.hpp
  packages/kokkos/core/src/Threads/Kokkos_ThreadsExec.cpp
  packages/kokkos/core/unit_test/TestMathematicalFunctions.hpp
  packages/kokkos/core/unit_test/TestNumericTraits.hpp
  packages/kokkos/master_history.txt
  packages/kokkos/simd/src/Kokkos_SIMD_Scalar.hpp
  packages/kokkos/simd/unit_tests/include/TestSIMD_GeneratorCtors.hpp
  packages/tpetra/CMakeLists.txt
Labels: pkg: Kokkos, pkg: KokkosKernels

#12723 MueLu UncoupledAggregationFactory: Kokkosify OnePt Map
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
Labels: pkg: MueLu

#12681 Updates for ROCm 6 support
  TPLsList.cmake
  cmake/TPLs/FindTPLROCSOLVER.cmake
  packages/percept/src/percept/mesh/mod/smoother/GenericAlgorithm_total_element_metric.hpp
  packages/shylu/shylu_node/tacho/cmake/Dependencies.cmake
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE_Imp.hpp
Labels: AT: AUTOMERGE

#12724 Panzer: change access type for scatter
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterDirichletResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#12727 Build documentation: remove mention of "memkind" as a Kokkos TPL
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: AT: AUTOMERGE

#12734 Panzer improve mass matrix assembly
  packages/panzer/adapters-stk/src/Panzer_STK_LocalMeshUtilities.cpp
  packages/panzer/adapters-stk/test/projection/projection.cpp
  packages/panzer/disc-fe/src/Panzer_BasisDescriptor.cpp
  packages/panzer/disc-fe/src/Panzer_BasisDescriptor.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
  packages/panzer/disc-fe/src/Panzer_BasisValues2_impl.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/panzer/disc-fe/src/Panzer_IntrepidOrientation.cpp
  packages/panzer/disc-fe/src/Panzer_IntrepidOrientation.hpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
  packages/panzer/disc-fe/src/Panzer_PureBasis.hpp
  packages/panzer/disc-fe/src/Panzer_WorksetContainer.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.hpp
  packages/panzer/mini-em/src/solvers/MiniEM_MatrixFreeInterpolationOp.cpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#12675 Teko: Enable preconditioned sub-solves in block Jacobi and Gauss-Seidel
  packages/teko/cmake/Dependencies.cmake
  packages/teko/src/Teko_BlockInvDiagonalStrategy.cpp
  packages/teko/src/Teko_BlockInvDiagonalStrategy.hpp
  packages/teko/src/Teko_GaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_JacobiPreconditionerFactory.cpp
  packages/teko/tests/src/tBlockJacobiPreconditionerFactory_tpetra.cpp
  packages/teko/tests/src/tBlockJacobiPreconditionerFactory_tpetra.hpp
Labels: pkg: Teko, AT: STALE, AT: AUTOMERGE, client: Sierra

#12738 Xpetra&MueLu: Fix for diagonal extraction
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_EpetraCrsGraph.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_decl.hpp
  packages/xpetra/src/CrsGraph/Xpetra_TpetraCrsGraph_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_EpetraCrsMatrix.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraBlockCrsMatrix_def.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_decl.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_TpetraCrsMatrix_def.hpp
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE

#12742 Framework: Disable debug symbols
  packages/framework/ini-files/config-specs.ini
Labels: impacting: configure or build, AT: AUTOMERGE, PA: Framework

#12726 Tpetra: Remove all references to `Kokkos::Experimental::HBWSpace`
  packages/tpetra/core/compat/Tpetra_KokkosCompat_ClassicNodeAPI_Wrapper.hpp
Labels: AT: AUTOMERGE

#12746 Framework: Warn users if they enable deprecated packages
  CMakeLists.txt
Labels: AT: AUTOMERGE

#12741 TriBITS snapshot 2024-02-13
  cmake/tribits/ci_support/CDashAnalyzeReportRandomFailures.py
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/core/package_arch/TribitsPackageDefineDependencies.cmake
  cmake/tribits/doc/guides/TribitsGuidesBody.rst
Labels: type: enhancement, AT: AUTOMERGE, TriBITS

#12748 Docs: Update README.md
  README.md
Labels: AT: AUTOMERGE

#12749 Piro: Fix ProductModelEvaluator
  packages/piro/src/Piro_ProductModelEval.hpp
  packages/piro/test/Main_ThyraSolver_Tpetra.cpp
Labels: type: bug, pkg: Piro, PA: Discretizations, client: Albany

#12754 Panzer: vector basis mass matrix
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.hpp
  packages/panzer/disc-fe/src/Panzer_IntrepidOrientation.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.cpp
  packages/panzer/disc-fe/src/Panzer_L2Projection.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#12747 KokkosKernels: Adding iostream include statement to source file
  packages/kokkos-kernels/example/wiki/sparse/KokkosSparse_wiki_bsrmatrix.cpp
Labels: AT: PRE-TEST INSPECTED

#12753 Xpetra&MueLu: Fixes
  packages/muelu/adapters/stratimikos/Xpetra_ThyraLinearOp.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_decl.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_decl.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Operators/MueLu_XpetraOperator_decl.hpp
  packages/muelu/src/Operators/MueLu_XpetraOperator_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_def.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/muelu/src/Transfers/Matrix-Free/MueLu_MatrixFreeTentativeP_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_MultiplicativeOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_MultiplicativeOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SchwarzOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SchwarzOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SumOperator_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzOperators/FROSch_SumOperator_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_AlgebraicOverlappingPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_AlgebraicOverlappingPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_OneLevelPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_OneLevelPreconditioner_def.hpp
  packages/shylu/shylu_dd/frosch/src/SchwarzPreconditioners/FROSch_SchwarzPreconditioner_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_Solver_decl.hpp
  packages/shylu/shylu_dd/frosch/src/SolverInterfaces/FROSch_Solver_def.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix.hpp
  packages/xpetra/src/Operator/Xpetra_EpetraOperator.hpp
  packages/xpetra/src/Operator/Xpetra_Operator.hpp
  packages/xpetra/src/Operator/Xpetra_TpetraOperator.hpp
  packages/xpetra/src/RowMatrix/Xpetra_RowMatrix.hpp
  packages/xpetra/src/RowMatrix/Xpetra_TpetraRowMatrix.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_decl.hpp
  packages/xpetra/sup/Matrix/Xpetra_CrsMatrixWrap_def.hpp
Labels: pkg: MueLu, pkg: Xpetra, AT: AUTOMERGE

#12752 Amesos2 : remove "Disabling Amesos2_ENABLE_ShyLU_NodeTacho because CUDA or HIP is enabled in Kokkos"
  packages/amesos2/CMakeLists.txt
Labels: pkg: Amesos2

#12756 Tpetra: Add more warnings about complex
  packages/tpetra/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#12758 stk: Changed the deprecation strategy for the legacy Field template parameters
  packages/stk/stk_io/stk_io/IossBridge.cpp
  packages/stk/stk_io/stk_io/ProcessSetsOrBlocks.cpp
  packages/stk/stk_mesh/stk_mesh/base/CoordinateSystems.hpp
  packages/stk/stk_mesh/stk_mesh/base/LegacyCoordinateSystems.cpp
  packages/stk/stk_mesh/stk_mesh/base/LegacyCoordinateSystems.hpp
  packages/stk/stk_mesh/stk_mesh/base/LegacyTopologyDimensions.cpp
  packages/stk/stk_mesh/stk_mesh/base/LegacyTopologyDimensions.hpp
  packages/stk/stk_mesh/stk_mesh/base/MetaData.hpp
  packages/stk/stk_mesh/stk_mesh/base/TopologyDimensions.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/ConstructedMesh.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/ElemGraphMultipleSharedSidesUtils.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/GeneratedMeshToFile.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/GeneratedMeshToFile.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/TextMesh.cpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/Gear.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/GearsFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/Hex20Fixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/Hex27Fixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/HexFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/PyramidFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/QuadFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/QuadShellFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/Tet10Fixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/TetFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/TriFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/WedgeFixture.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/degenerate_mesh.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/stk_mesh_fixtures/heterogeneous_mesh.hpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#12757 Fix naming of constructor of template class.
  packages/teuchos/parameterlist/src/Teuchos_StandardParameterEntryValidators.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE, PA: Data Services

#12728 Ifpack2 : add Zoltan2Partition
  packages/ifpack2/src/Ifpack2_BlockRelaxation_def.hpp
  packages/ifpack2/src/Ifpack2_LocalFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalFilter_def.hpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/ifpack2/src/Ifpack2_Zoltan2Partitioner_decl.hpp
  packages/ifpack2/src/Ifpack2_Zoltan2Partitioner_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/test_BlockRelaxationZoltan2_calore1_mm.xml
Labels: pkg: Ifpack2

#12716 NOX: add tests, fix NOX::Epetra::MatrixFree for backward difference (12715)
  packages/nox/src-epetra/NOX_Epetra_MatrixFree.C
  packages/nox/test/epetra/NOX_Operators/test.C
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#12415 MueLu: More options in SegregatedAfactory
  packages/muelu/src/Misc/MueLu_InterfaceAggregationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_SegregatedAFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_SegregatedAFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/test/CMakeLists.txt
  packages/muelu/test/contact/CMakeLists.txt
  packages/muelu/test/contact/SegregatedAggFromFactory.cpp
  packages/muelu/test/contact/SegregatedAggFromFactoryBlockedA.cpp
  packages/muelu/test/contact/SegregatedAggFromFile.cpp
  packages/muelu/test/contact/contact_Helpers.cpp
  packages/muelu/test/contact/contact_Helpers.hpp
  packages/muelu/test/contact/segregatedAgg_block_matrix.mm
  packages/muelu/test/contact/segregatedAgg_filtered_matrix.mm
  packages/muelu/test/contact/segregatedAgg_interface_dof_map_MPI1.mm
  packages/muelu/test/contact/segregatedAgg_interface_dof_map_MPI3.mm
  packages/muelu/test/contact/segregatedAgg_matrix.mm
  packages/muelu/test/contact/segregatedAgg_nullspace.mm
  packages/muelu/test/meshtying/CMakeLists.txt
  packages/muelu/test/meshtying/MeshTyingBlocked_NodeBased.cpp
  packages/muelu/test/meshtying/MortarSurfaceCoupling_DofBased.cpp
  packages/muelu/test/meshtying/meshtying2D_medium_interface_dof_map_MPI1.mm
  packages/muelu/test/meshtying/meshtying2D_medium_interface_dof_map_MPI4.mm
  packages/muelu/test/meshtying/meshtying2D_small_interface_dof_map_MPI1.mm
  packages/muelu/test/meshtying/meshtying2D_small_interface_dof_map_MPI4.mm
  packages/muelu/test/unit_tests/SegregatedAFactory.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12762 Krino: Do not process krino tests if testing is disabled
  packages/krino/krino/CMakeLists.txt
Labels: AT: AUTOMERGE

#12763 Framework: UVM updates
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#12765 Tpetra: Fix fillComplete in matrix addition
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra

#12766 MueLu: Fix EpetraVsTpetra test
  packages/muelu/test/unit_tests/Utilities.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12768 MueLu: Fixes
  packages/muelu/research/caglusa/Xpetra_HierarchicalOperator_decl.hpp
  packages/muelu/research/graham/mf_example_01.cpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/test/interface/CreateOperator.cpp
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#12769 Tpetra, Teko: SpAdd issues
  packages/teko/src/Teko_Utilities.cpp
  packages/teko/tests/src/tExplicitOps_tpetra.cpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrix_UnitTests.cpp
Labels: pkg: Tpetra, pkg: Teko, client: EMPIRE, AT: AUTOMERGE

#12761 Add draft of release notes for 15.1
  RELEASE_NOTES
Labels: pkg: Kokkos, pkg: Tpetra, pkg: MueLu, pkg: Ifpack2, pkg: Amesos2, pkg: Teko, pkg: Panzer, pkg: ROL, pkg: KokkosKernels, PA: Framework, pkg: PyTrilinos2

#12774 Add URLs to release notes
  RELEASE_NOTES
Labels: AT: AUTOMERGE

#12781 Framework: Add PR UVM build config
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#12776 Framework: Trilinos 15.1.0 version update
  RELEASE_NOTES
  Version.cmake
Labels: AT: AUTOMERGE, PA: Framework

#12731 Zoltan: fix crashes in phg and hierarchical partitioning
  packages/zoltan/src/hier/hier.c
  packages/zoltan/src/phg/phg_build_calls.c
Labels: pkg: Zoltan

#12775 ifpack2 : reorganize symbolic/numeric setup of SparseContainer
  packages/ifpack2/src/Ifpack2_SparseContainer_decl.hpp
  packages/ifpack2/src/Ifpack2_SparseContainer_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/test_BlockRelaxationAmesos2_calore1_mm.xml
Labels: pkg: Ifpack2

#12787 Tpetra_Details_Behavior.cpp: add missing <array> include
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
Labels: AT: AUTOMERGE

#12785 Sacado/Panzer: updates for HIP performance testing
  packages/panzer/adapters-stk/example/MixedPoissonExample/main.cpp
  packages/panzer/disc-fe/src/Panzer_HierarchicParallelism.cpp
  packages/sacado/test/performance/mat_vec/common.hpp
  packages/sacado/test/performance/mat_vec/driver.cpp
  packages/sacado/test/performance/mat_vec/fad_kokkos_mat_vec_perf.cpp
  packages/sacado/test/performance/mat_vec/mat_vec.cpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical.cpp
  packages/sacado/test/performance/mat_vec/mat_vec_hierarchical_dfad.cpp
Labels: pkg: Panzer, pkg: Sacado, AT: AUTOMERGE, PA: Data Services, PA: Discretizations, AT: PRE-TEST INSPECTED

#12777 Framework: Post 15.1.0 version update
  RELEASE_NOTES
  Version.cmake
Labels: PA: Framework

#12788 Panzer MiniEM: Refactor interpolations, assemble fewer operators
  packages/panzer/mini-em/example/BlockPrec/MiniEM_helpers.cpp
  packages/panzer/mini-em/example/BlockPrec/maxwell-large.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLu.xml
  packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_HigherOrderMaxwellPreconditionerFactory.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.hpp
  packages/teko/src/Teko_Utilities.cpp
  packages/teko/src/Teko_Utilities.hpp
Labels: pkg: Panzer, AT: AUTOMERGE, AT: PRE-TEST INSPECTED
