Repository trilinos/Trilinos, pull requests merged in 2024-11, with the labels that each got.

#13549 config-specs: set Kokkos_CoreUnitTest_Cuda1 to run serial
  packages/framework/ini-files/config-specs.ini
Labels: AT: STALE, PA: Framework

#13566 MueLu: Make AggregateQualityEstimateFactory a transfer factory
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Utils/MueLu_AggregateQualityEstimateFactory_decl.hpp
  packages/muelu/src/Utils/MueLu_AggregateQualityEstimateFactory_def.hpp
  packages/muelu/test/interface/default/EasyParameterListInterpreter/aggregatequalities.xml
  packages/muelu/test/interface/default/FactoryParameterListInterpreter/aggregatequalities.xml
  packages/muelu/test/interface/default/Output/aggregatequalities_epetra.gold
  packages/muelu/test/interface/default/Output/aggregatequalities_tpetra.gold
  packages/muelu/test/unit_tests/AggregateQualityEstimateFactory.cpp
Labels: pkg: MueLu

#13582 Remove the use of `Kokkos::Impl::DynRankViewFill` in Sacado
  packages/sacado/src/Kokkos_DynRankView_Fad.hpp
Labels: AT: AUTOMERGE

#13282 MueLu: Cut drop refactor
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/test/unit_tests/CoalesceDropFactory.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13577 MueLu: Tell aggregate export about Graph and Aggregates
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_decl.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
Labels: pkg: MueLu

#13590 Framework: Enable CCache on RHEL8
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, PA: Framework

#13588 Panzer MiniEM: Propagate parameter change from MueLu
  packages/panzer/mini-em/example/BlockPrec/solverMueLu.xml
  packages/panzer/mini-em/example/BlockPrec/solverMueLuEpetra.xml
Labels: pkg: Panzer, AT: AUTOMERGE

#13579 Tpetra: Add LinearProblem
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_LinearProblem_decl.hpp
  packages/tpetra/core/src/Tpetra_LinearProblem_def.hpp
  packages/tpetra/core/src/Tpetra_LinearProblem_fwd.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/test/CMakeLists.txt
  packages/tpetra/core/test/LinearProblem/CMakeLists.txt
  packages/tpetra/core/test/LinearProblem/LinearProblem_UnitTests.cpp
Labels: type: enhancement, pkg: Tpetra, 17.0 release note

#13583 Panzer tangent unit tests (Scatter Tpetra)
  packages/panzer/adapters-stk/test/evaluator_tests/CMakeLists.txt
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_blocked_scatter_residual.cpp
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_scatter_residual.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherSolution_Tpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_Tpetra_decl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_Tpetra_impl.hpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#13592 MueLu: add quality measure as data field
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_decl.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
  packages/muelu/test/viz/AggExport.cpp
  packages/muelu/test/viz/CMakeLists.txt
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-ConvexHulls-Level0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-PointCloud-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Elasticity3D-PointCloud-Level0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-AggregateQuality-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-AggregateQuality-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-AggregateQuality-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-AggregateQuality-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-AggregateQuality-Level0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-ConvexHulls-Level0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-AggregateQuality-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-AggregateQuality-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-AggregateQuality-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-AggregateQuality-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-AggregateQuality-Level0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc0.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc1.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc2.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-Level0-Proc3.gold
  packages/muelu/test/viz/Output/MPI-Viz-Output-Laplace3D-PointCloud-Level0.gold
  packages/muelu/test/viz/Viz.cpp
  packages/muelu/test/viz/vizLaplace3DConvexHullsAggregateQuality.xml
  packages/muelu/test/viz/vizLaplace3DPointCloudAggregateQuality.xml
Labels: pkg: MueLu, AT: AUTOMERGE, 17.0 release note

#13602 Framework: Match CPU parallelism with AT1 args
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13600 Update .gitignore to exclude clangd-related stuff
  .gitignore
Labels: AT: AUTOMERGE

#13614 Framework: Use new container env vars
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13620 Panzer :: Var wasn't getting initialized
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_Tpetra_impl.hpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13606 MueLu: Remove unused variable
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13569 ShyLU - Basker : tune memory pre-allocation
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_error_manager.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_btf.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_structs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_thread.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: ShyLU

#13608 MueLu: Fix boundary detection for non-kokkos distance laplacian dropping
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
Labels: pkg: MueLu

#13607 Tpetra: revert TAFC changes
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13623 fix unenclosed brackets.
  packages/nox/src-petsc/NOX_Petsc_Group.C
Labels: pkg: NOX, AT: AUTOMERGE

#13578 MueLu: Fix for phase 2b
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/test/interface/kokkos/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/muelu/test/unit_tests_kokkos/Regression.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13625 NOX,Panzer: minor changes to logic for a new Charon solver
  packages/nox/src-thyra/NOX_Thyra_Group.C
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator_impl.hpp
Labels: pkg: NOX, pkg: Panzer, AT: AUTOMERGE, PA: Nonlinear Solvers, PA: Discretizations, AT: PRE-TEST INSPECTED

#13601 Panzer tangent scatter blocked tpetra
  packages/panzer/adapters-stk/test/evaluator_tests/tpetra_blocked_scatter_residual.cpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_BlockedTpetra.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_GatherTangent_BlockedTpetra_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_ScatterResidual_BlockedTpetra_impl.hpp
Labels: pkg: Panzer, PA: Discretizations, AT: PRE-TEST INSPECTED

#13629 Add "reorder" as promoted warning
  cmake/ProjectCompilerPostConfig.cmake
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2bAlgorithm_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE, PA: Framework

#13616 Framework: Update at2 build names
  .github/workflows/AT2.yml
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13634 Zoltan2: Fix runtime_error message with METIS
  packages/zoltan2/core/src/algorithms/order/Zoltan2_AlgMetis.hpp
Labels: AT: AUTOMERGE, AT: PRE-TEST INSPECTED
