Repository trilinos/Trilinos, pull requests merged in 2025-10, with the labels that each got.

#14493 Zoltan2: Add performance tests
  packages/zoltan2/test/core/driver/CMakeLists.txt
  packages/zoltan2/test/core/driver/driverinputs/CMakeLists.txt
  packages/zoltan2/test/core/driver/driverinputs/galeriTestsPerformance16.xml
  packages/zoltan2/test/core/driver/driverinputs/galeriTestsPerformance4.xml
  packages/zoltan2/test/core/driver/test_driver.cpp
  packages/zoltan2/test/core/helpers/Zoltan2_ComparisonHelper.hpp
  packages/zoltan2/test/core/helpers/Zoltan2_ProblemFactory.hpp
Labels: pkg: Zoltan2, AT: STALE

#14518 stokhos,zoltan2: lambda capture by ref instead of value
  packages/stokhos/src/sacado/kokkos/vector/KokkosBlas2_gemv_MP_Vector.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp
Labels: pkg: Zoltan2, pkg: Stokhos, AT: AUTOMERGE

#14521 Krino: Snapshot 10-02-25 19:27 from Sierra 5.25.8-622-g45003ee7
  packages/krino/krino/krino_lib/Akri_AdaptiveContourTet.cpp
  packages/krino/krino/krino_lib/Akri_AdaptiveContourTet.hpp
  packages/krino/krino/krino_lib/Akri_AdaptiveContourTri.cpp
  packages/krino/krino/krino_lib/Akri_AdaptiveContourTri.hpp
  packages/krino/krino/krino_lib/Akri_AdaptiveContourUtils.cpp
  packages/krino/krino/krino_lib/Akri_AdaptiveContourUtils.hpp
  packages/krino/krino/krino_lib/Akri_ContourUtils.cpp
  packages/krino/krino/krino_lib/Akri_ContourUtils.hpp
  packages/krino/krino/krino_lib/Akri_Element.cpp
  packages/krino/krino/krino_lib/Akri_Element.hpp
  packages/krino/krino/krino_lib/Akri_FieldPenaltySensitivities.cpp
  packages/krino/krino/krino_lib/Akri_FieldPenaltySensitivities.hpp
  packages/krino/krino/krino_lib/Akri_LevelSet.cpp
  packages/krino/krino/krino_lib/Akri_SemiLagrangian.cpp
  packages/krino/krino/krino_lib/Akri_SubElement.cpp
  packages/krino/krino/krino_lib/Akri_SubElement.hpp
  packages/krino/krino/quality_metric/Akri_QualityMetric.cpp
  packages/krino/krino/quality_metric/Akri_QualityMetric.hpp
  packages/krino/krino/refinement/Akri_Refinement.cpp
  packages/krino/krino/refinement/Akri_RefinerUtils.hpp
  packages/krino/krino/unit_tests/Akri_Unit_CDMesh.cpp
  packages/krino/krino/unit_tests/Akri_Unit_DecomposeWithSensitivities.cpp
  packages/krino/krino/unit_tests/Akri_Unit_SignedDistancePenalty.cpp
Labels: pkg: Krino

#14522 Muelu soc
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CutDrop.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager_def.hpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
Labels: pkg: MueLu

#14526 Krino: Split up unit tests
  packages/krino/krino/unit_tests/CMakeLists.txt
Labels: AT: AUTOMERGE, pkg: Krino

#14525 Looks like an invalid loop index in a Zoltan2 class
  packages/zoltan2/core/src/input/Zoltan2_TpetraRowMatrixAdapter.hpp
Labels: type: bug, pkg: Zoltan2, AT: AUTOMERGE

#14524 Tpetra: fix invalid Kokkos::View CTOR call
  packages/tpetra/core/example/advanced/Benchmarks/blockCrsMatrixMatVec.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE
