Repository trilinos/Trilinos, pull requests merged in 2025-07, with the labels that each got.

#14177 IOSS: Fix map error reporting refactor; update version
  packages/seacas/libraries/ioss/src/Ioss_Map.C
  packages/seacas/libraries/ioss/src/Ioss_Version.h
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#14181 Tpetra: Remove old Kokkos-Kernels code
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraphTransposer_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14127 Ifpack2: Add stream support to RBILUK
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_decl.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/test/belos/CMakeLists.txt
  packages/ifpack2/test/belos/nos2.rsa
  packages/ifpack2/test/belos/test_RBILUK_2streams_nos2_hb_block.xml
  packages/tpetra/core/inout/Tpetra_MatrixIO.cpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
Labels: pkg: Tpetra, pkg: Ifpack2, AT: AUTOMERGE

#14185 MueLu: Add missing parsing of new CoalesceDropFactory_kokkos params
  packages/muelu/src/Graph/MatrixTransformation/MueLu_ClassicalDropping.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_DistanceLaplacianDropping.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14187 MueLu: Fix another sign error in RS distance Laplacian
  packages/muelu/src/Graph/MatrixTransformation/MueLu_ClassicalDropping.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_DistanceLaplacianDropping.hpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14195 Galeri: Build coordinates on device
  packages/galeri/src-xpetra/Galeri_XpetraUtils.hpp
Labels: pkg: Galeri, AT: AUTOMERGE

#14201 Tempus: Switch BDF2_CDR and BackwardEuler_CDR to run in serial
  packages/tempus/test/BDF2/CMakeLists.txt
  packages/tempus/test/BackwardEuler/CMakeLists.txt
Labels: pkg: Tempus

#14203 MueLu CoalesceDropFactory_Kokkos: Improve debug output
  packages/muelu/src/Graph/MatrixTransformation/MueLu_ClassicalDropping.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CutDrop.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_DistanceLaplacianDropping.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14205 TrilinosCouplings: Remembering to initialize/finalize Kokkos
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE

#14204 MueLu: Remove Utilities::MyOldScaleMatrix
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_CGSolver_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_GMRESSolver_def.hpp
  packages/muelu/src/Transfers/Energy-Minimization/Solvers/MueLu_SteepestDescentSolver_def.hpp
  packages/muelu/src/Transfers/Petrov-Galerkin-SA/MueLu_PgPFactory_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities_def.hpp
  packages/muelu/test/unit_tests_kokkos/Utilities_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra

#14211 Sacado: Revert "Sacado: Reorder SFad<> val and dx fields for stria"
  packages/sacado/src/new_design/Sacado_Fad_Exp_StaticFixedStorage.hpp
Labels: pkg: Sacado, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#14202 fixing some minor typos in tutorials
  packages/tpetra/core/example/Lesson03-Power-Method/lesson03_power_method.cpp
  packages/tpetra/core/example/Lesson05-Redistribution/lesson05_redistribution.cpp
Labels: pkg: Tpetra

#14234 Amesos2: Removed repeated typedef to remove shadow warning.
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
Labels: pkg: Amesos2

#14231 Belos: Add performance tests
  packages/belos/tpetra/example/SolverFactory/CMakeLists.txt
  packages/belos/tpetra/example/SolverFactory/SolverFactoryTpetraGaleriEx.cpp
Labels: pkg: Belos, AT: AUTOMERGE

#14229 Zoltan: Shadow warnings
  packages/zoltan/src/lb/lb_init.c
  packages/zoltan/src/zz/zz_gen_files.c
Labels: pkg: Zoltan, AT: AUTOMERGE

#14232 Pamgen: Changes to remove shadow warnings.
  packages/pamgen/mesh_spec_lt/pamgen_mesh_specification.C
  packages/pamgen/src/inline_mesh_desc.C
  packages/pamgen/src/inline_mesh_desc.h
Labels: pkg: Pamgen, AT: AUTOMERGE, PA: Discretizations

#14238 Vjleung/14237trilinoscouplings shadow warnings
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson2DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidHybridPoisson3DExample.cpp
  packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidStructuredPoissonExample.cpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE

#14244 Revert "Ifpack2: use empirical heuristic for Schur sublines"
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: AT: WIP

#14146 Tpetra: Add "Ialltofewv" send type
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.hpp
  packages/tpetra/core/src/Tpetra_Details_Ialltofewv.cpp
  packages/tpetra/core/src/Tpetra_Details_Ialltofewv.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/test/ImportExport2/CMakeLists.txt
Labels: pkg: Tpetra, 16.2 release note

#14250 TpetraExt: Use ETI functions
  packages/tpetra/cmake/ETI_functions.cmake
  packages/tpetra/core/ext/CMakeLists.txt
  packages/tpetra/core/ext/TpetraExt_ETI_SC_LO_GO_NT.tmpl
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix.cpp
  packages/tpetra/core/src/CMakeLists.txt
Labels: pkg: Tpetra, AT: AUTOMERGE

#14256 piro: removed overloaded virtual and unused typedef warnings
  packages/piro/src/Piro_ThyraProductME_ROL_DynamicObjective.hpp
Labels: pkg: Piro, AT: AUTOMERGE

#14260 Stokhos: Fix compile error due to ambiguous operator==
  packages/stokhos/test/UnitTest/Stokhos_SacadoMPVectorUnitTest_MaskTraits.cpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#14261 Belos: Adjust size of performance tests
  packages/belos/tpetra/example/SolverFactory/CMakeLists.txt
  packages/belos/tpetra/example/SolverFactory/SolverFactoryTpetraGaleriEx.cpp
Labels: pkg: Belos, AT: AUTOMERGE

#14138 MueLu: GPU scaling.xml
  packages/muelu/example/basic/Simple.cpp
  packages/muelu/src/Utils/ML_Linker.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/scaling/MatrixLoad.hpp
  packages/muelu/test/scaling/scaling-gpu.xml
Labels: pkg: MueLu, MueLuReview
