Repository trilinos/Trilinos, pull requests merged in 2025-06, with the labels that each got.

#14095 Teko: Add logic to avoid sub-block assembly for single block case
  packages/teko/src/Tpetra/Teko_TpetraBlockedMappingStrategy.cpp
  packages/teko/tests/src/Tpetra/tBlockedTpetraOperator.cpp
  packages/teko/tests/src/Tpetra/tBlockedTpetraOperator.hpp
Labels: pkg: Teko, AT: AUTOMERGE, client: Sierra

#13947 Tpetra: Reorder operations in transfer
  packages/tpetra/core/src/Tpetra_BlockMultiVector_def.hpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/test/CrsMatrix/Bug8794.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14110 STK: Snapshot 06-09-25 09:12 from Sierra 5.25.3-133-gd77dca46
  packages/stk/CHANGELOG.md
  packages/stk/CMakeLists.txt
  packages/stk/stk_mesh/stk_mesh/base/HostField.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/EntityGhostData.hpp
  packages/stk/stk_mesh/stk_mesh/baseImpl/MeshCommVerify.cpp
  packages/stk/stk_performance_tests/stk_mesh/NgpFieldAccess.cpp
  packages/stk/stk_performance_tests/stk_mesh/perfParts.cpp
  packages/stk/stk_performance_tests/stk_mesh/perfSidesetPolarity.cpp
  packages/stk/stk_search_util/stk_search_util/PointProjection.cpp
  packages/stk/stk_transfer_util/stk_transfer_util/CMakeLists.txt
  packages/stk/stk_transfer_util/stk_transfer_util/spmd/GeometricTransferOptions.hpp
  packages/stk/stk_transfer_util/stk_transfer_util/spmd/SimpleTransfer.cpp
  packages/stk/stk_transfer_util/stk_transfer_util/spmd/SimpleTransfer.hpp
  packages/stk/stk_unit_test_utils/stk_unit_test_utils/CMakeLists.txt
  packages/stk/stk_unit_tests/stk_mesh/UnitTestAura.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestBulkData.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestFieldAsync.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestFieldBytesAccess.cpp
  packages/stk/stk_unit_tests/stk_mesh/UnitTestFieldSynchronization.cpp
  packages/stk/stk_unit_tests/stk_transfer_util/UnitTestMockSimpleTransfer.cpp
  packages/stk/stk_util/stk_util/Version.hpp
  packages/stk/stk_util/stk_util/registry/ProductRegistry.cpp
  packages/stk/stk_util/stk_util/util/FPExceptions.hpp
Labels: pkg: STK, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#14111 MueLu: Clean up leftover from ETI'ing Hierarchy
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager_decl.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14107 Seacas v2025 06 07
  packages/seacas/applications/conjoin/CJ_Internals.C
  packages/seacas/applications/ejoin/CMakeLists.txt
  packages/seacas/applications/ejoin/EJ_SystemInterface.C
  packages/seacas/applications/ejoin/EJ_SystemInterface.h
  packages/seacas/applications/ejoin/EJ_Version.h
  packages/seacas/applications/ejoin/EJ_mapping.C
  packages/seacas/applications/ejoin/EJ_mapping.h
  packages/seacas/applications/ejoin/EJ_match.C
  packages/seacas/applications/ejoin/EJ_match.h
  packages/seacas/applications/ejoin/EJoin.C
  packages/seacas/applications/ejoin/test/2block-gold.g
  packages/seacas/applications/ejoin/test/2block-ne-gold.g
  packages/seacas/applications/ejoin/test/2block-nes-gold.g
  packages/seacas/applications/ejoin/test/2block-ns-gold.g
  packages/seacas/applications/ejoin/test/2block1.g
  packages/seacas/applications/exodiff/map.C
  packages/seacas/applications/nem_slice/elb.h
  packages/seacas/applications/nem_slice/elb_groups.C
  packages/seacas/applications/nem_slice/elb_groups.h
  packages/seacas/applications/nem_slice/elb_loadbal.C
  packages/seacas/applications/nem_slice/elb_main.C
  packages/seacas/libraries/aprepro_lib/apr_scanner.cc
  packages/seacas/libraries/aprepro_lib/aprepro.ll
  packages/seacas/libraries/ioss/src/Ioss_CopyDatabase.C
  packages/seacas/libraries/ioss/src/Ioss_EntityBlock.C
  packages/seacas/libraries/ioss/src/Ioss_Field.C
  packages/seacas/libraries/ioss/src/Ioss_Field.h
  packages/seacas/libraries/ioss/src/Ioss_MeshCopyOptions.h
  packages/seacas/libraries/ioss/src/Ioss_Version.h
  packages/seacas/libraries/ioss/src/main/io_shell.C
  packages/seacas/libraries/ioss/src/main/shell_interface.C
  packages/seacas/libraries/ioss/src/main/shell_interface.h
  packages/seacas/scripts/exodus3.in.py
Labels: pkg: seacas, PA: Data Services

#14116 accept `TPETRA_DEFAULT_SEND_TYPE` behavior as string
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.hpp
  packages/tpetra/core/src/Tpetra_Distributor.cpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
Labels: pkg: Tpetra

#14119 Teko: Fix import/export bug related to single block Teko assembly
  packages/teko/src/Tpetra/Teko_TpetraBlockedMappingStrategy.cpp
  packages/teko/tests/src/Tpetra/tBlockedTpetraOperator.cpp
Labels: pkg: Teko, AT: AUTOMERGE, client: Sierra

#14121 Tacho : option to read RHS from a file
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_MatrixMarket.hpp
Labels: pkg: ShyLU

#14061 Framework: Add CompSim AUE configuration
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/supported-config-flags.ini
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, PA: Framework

#14137 Tpetra: Add missing namespace
  packages/tpetra/core/src/Tpetra_Distributor.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14067 Make Pliris compatible with C23.
  packages/pliris/src/x_factor.c
  packages/pliris/src/xlu_solve_new.c
Labels: pkg: Pliris

#14097 Documentation: updating and cleaning the build guide.
  doc/build_ref/TrilinosBuildReferenceTemplate.rst
Labels: impacting: documentation, AT: AUTOMERGE

#14143 Tacho: Doing the PERF enable correctly
  packages/shylu/shylu_node/tacho/example/CMakeLists.txt
Labels: pkg: ShyLU, AT: AUTOMERGE

#14145 Tpetra: `default` the DistributorActor copy-ctor
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
Labels: pkg: Tpetra

#14148 MueLu & Ifpack2: Fixes
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/SpMVPerformance.cpp
Labels: pkg: MueLu, pkg: Ifpack2, AT: AUTOMERGE

#14151 Tacho: Updating test to copy matrices
  packages/shylu/shylu_node/tacho/example/CMakeLists.txt
Labels: pkg: ShyLU, AT: AUTOMERGE

#14153 Tpetra: more detailed timings
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_main.cpp
  packages/tpetra/core/test/PerformanceCGSolve/cg_solve_file.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14154 Ifpack2: Chebyshev Kernel spmv heuristic
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
Labels: pkg: Ifpack2, impacting: performance, AT: AUTOMERGE

#14120 Galeri: Add Kokkos assembly code path
  packages/galeri/CMakeLists.txt
  packages/galeri/cmake/Dependencies.cmake
  packages/galeri/cmake/Galeri_config.h.in
  packages/galeri/src-xpetra/Galeri_MatrixTraits.hpp
  packages/galeri/src-xpetra/Galeri_StencilProblems.hpp
  packages/galeri/src-xpetra/Galeri_XpetraMatrixTypes.hpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/Regression.cpp
  packages/muelu/test/unit_tests_kokkos/Regression.cpp
Labels: pkg: Galeri, AT: AUTOMERGE, 16.2 release note

#14156 Amesos2: fix MUMPS interface
  packages/amesos2/src/Amesos2_MUMPS_def.hpp
Labels: pkg: Amesos2

#14084 NOX: WIP add Tpetra implementation
  packages/nox/CMakeLists.txt
  packages/nox/cmake/Dependencies.cmake
  packages/nox/cmake/ExplicitInstantiationSupport.cmake
  packages/nox/cmake/NOX_Config.h.in
  packages/nox/cmake/NOX_Tpetra_ETIHelperMacros.hpp.in
  packages/nox/src-thyra-tpetra/NOX_TpetraTypedefs.hpp
  packages/nox/src-tpetra/NOX_Tpetra_Vector.hpp
  packages/nox/src-tpetra/NOX_Tpetra_Vector_def.hpp
  packages/nox/src/CMakeLists.txt
  packages/nox/src/NOX_Tpetra_ETI_SC_LO_GO_NT.tmpl
  packages/nox/test/CMakeLists.txt
  packages/nox/test/thyra-tpetra/1DFEM_Functors.hpp
  packages/nox/test/thyra-tpetra/CMakeLists.txt
  packages/nox/test/thyra-tpetra/Heq_Functors.hpp
  packages/nox/test/thyra-tpetra/ME_Tpetra_1DFEM.hpp
  packages/nox/test/thyra-tpetra/ME_Tpetra_1DFEM_def.hpp
  packages/nox/test/thyra-tpetra/ME_Tpetra_Heq.hpp
  packages/nox/test/thyra-tpetra/ME_Tpetra_Heq_def.hpp
  packages/nox/test/thyra-tpetra/Tpetra_1DFEM.cpp
  packages/nox/test/thyra-tpetra/Tpetra_Heq.cpp
  packages/nox/test/thyra-tpetra/Tpetra_MultiVectorOpsTests.cpp
  packages/nox/test/thyra-tpetra/Tpetra_OperatorTests.cpp
  packages/nox/test/thyra-tpetra/Tpetra_VectorOpsTests.cpp
  packages/nox/test/thyra-tpetra/UnitTestMainWithKokkos.cpp
  packages/nox/test/thyra-tpetra/tTpetra_1DFEM_ME_UnitTests.cpp
  packages/nox/test/thyra-tpetra/tTpetra_ConstraintModelEvaluator.cpp
  packages/nox/test/thyra-tpetra/tTpetra_HouseholderBorderedSolve.cpp
  packages/nox/test/thyra-tpetra/tTpetra_HouseholderBorderedSolve_Continuation.cpp
  packages/nox/test/thyra-tpetra/tTpetra_HouseholderBorderedSolve_WithUVInPrec.cpp
  packages/nox/test/tpetra/CMakeLists.txt
  packages/nox/test/tpetra/VectorOpsTests.cpp
Labels: pkg: NOX, AT: AUTOMERGE

#14160 Fix multiple reruns in the MueLu Driver
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14161 Galeri: clang-format & timer labels
  .github/workflows/clang_format.yml
  packages/galeri/.clang-format
  packages/galeri/example-tpetra/CrsMatrix_Tpetra.cpp
  packages/galeri/example-tpetra/LinearProblem_Tpetra.cpp
  packages/galeri/example-tpetra/Map_Tpetra.cpp
  packages/galeri/example-xpetra/XpetraMap.cpp
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/galeri/src-xpetra/Galeri_HelmholtzFEM2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_HelmholtzFEM3DProblem.hpp
  packages/galeri/src-xpetra/Galeri_MapTraits.hpp
  packages/galeri/src-xpetra/Galeri_MatrixTraits.hpp
  packages/galeri/src-xpetra/Galeri_MultiVectorTraits.hpp
  packages/galeri/src-xpetra/Galeri_Problem.hpp
  packages/galeri/src-xpetra/Galeri_Problem_Helmholtz.hpp
  packages/galeri/src-xpetra/Galeri_StencilProblems.hpp
  packages/galeri/src-xpetra/Galeri_StencilProblems_Helmholtz.hpp
  packages/galeri/src-xpetra/Galeri_VectorTraits.hpp
  packages/galeri/src-xpetra/Galeri_VelocityModel.hpp
  packages/galeri/src-xpetra/Galeri_XpetraCartesian.hpp
  packages/galeri/src-xpetra/Galeri_XpetraMaps.hpp
  packages/galeri/src-xpetra/Galeri_XpetraMatrixTypes.hpp
  packages/galeri/src-xpetra/Galeri_XpetraMatrixTypes_Helmholtz.hpp
  packages/galeri/src-xpetra/Galeri_XpetraParameters.hpp
  packages/galeri/src-xpetra/Galeri_XpetraProblemFactory.hpp
  packages/galeri/src-xpetra/Galeri_XpetraProblemFactory_Helmholtz.hpp
  packages/galeri/src-xpetra/Galeri_XpetraUtils.hpp
  packages/galeri/test/VerySimple/cxx_main.cpp
  packages/galeri/test/VerySimple/cxx_main_tpetra.cpp
  packages/galeri/test/bug_5851.cpp
Labels: pkg: Galeri, AT2-SpecialApprove
