Repository trilinos/Trilinos, pull requests merged in 2025-02, with the labels that each got.

#13775 MueLu: Remove unused data structure MueLu::LinkedList
  packages/muelu/src/CMakeLists.txt
  packages/muelu/src/Graph/Containers/MueLu_LinkedList.cpp
  packages/muelu/src/Graph/Containers/MueLu_LinkedList.hpp
Labels: pkg: MueLu, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13766 ROL: Fix missing switch-case compilation error in OptimizationSolver
  cmake/ProjectCompilerPostConfig.cmake
  packages/rol/adapters/sacado/test/test_01.cpp
  packages/rol/src/algorithm/ROL_OptimizationSolver.hpp
Labels: type: bug, pkg: ROL, AT: AUTOMERGE, client: Sierra

#13780 MueLu: Add MueLu::HierarchyManager to ETI
  packages/muelu/src/Utils/ClassList/EI-Exceptions.classList
  packages/muelu/src/Utils/ExplicitInstantiation/ETI_SC_LO_GO_NO_classes.cmake
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra, AT: PRE-TEST INSPECTED

#13771 Framework: Only disable GCC warnings for GCC
  cmake/ProjectCompilerPostConfig.cmake
Labels: AT: AUTOMERGE

#13779 Tpetra: Fix typo in CrsGraph<LocalOrdinal, GlobalOrdinal, Node>::isIdenticalTo()
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13782 Fixes to SEACAS-Snapshot-01-2025
  packages/seacas/libraries/exodus/src/ex_get_init_ext.c
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany, client: Nalu

#13751 Belos CG: Caching of state vectors
  packages/belos/src/BelosBlockCGIter.hpp
  packages/belos/src/BelosBlockCGSolMgr.hpp
  packages/belos/src/BelosCGIter.hpp
  packages/belos/src/BelosCGIteration.hpp
  packages/belos/src/BelosCGSingleRedIter.hpp
  packages/belos/src/BelosPseudoBlockCGIter.hpp
  packages/belos/src/BelosPseudoBlockCGSolMgr.hpp
  packages/stokhos/src/sacado/kokkos/vector/belos/Belos_PseudoBlockCGIter_MP_Vector.hpp
Labels: pkg: Belos

#13783 MueLu CoalesceDropFactory_kokkos: Add cut-drop using material-aware coarsening
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
Labels: pkg: MueLu

#13791 Epetra: Missing Tutorial Code
  packages/epetra/doc/Doxyfile.options
  packages/epetra/doc/DoxyfileWeb
  packages/epetra/doc/build_docs
  packages/epetra/src/Epetra_BasicRowMatrix.h
  packages/epetra/src/Epetra_CrsMatrix.h
  packages/epetra/src/Epetra_FastCrsMatrix.h
  packages/epetra/src/Epetra_InvOperator.h
  packages/epetra/src/Epetra_Operator.h
  packages/epetra/src/Epetra_RowMatrix.h
  packages/epetra/src/Epetra_SerialDenseOperator.h
  packages/epetra/src/Epetra_SerialDenseSVD.h
  packages/epetra/src/Epetra_VbrMatrix.h
Labels: pkg: Epetra, impacting: documentation, AT: AUTOMERGE

#13749 ShyLU-Basker : move ND data-struc setup to symbolic
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/shylubasker_test.xml
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/shylu/shylu_node/basker/test/amesos2_interface_coverage_test.cpp
  packages/shylu/shylu_node/basker/test/singular_matrix_check.cpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13790 Amesos2 : matrix-gather when colMap does not match rowMap
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
Labels: pkg: Amesos2

#13792 Ifpack2: BlockTriDi fix for large blocks
  packages/ifpack2/example/CMakeLists.txt
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: type: bug, pkg: Ifpack2, client: SPARC

#13800 Belos: Add virtual dtor to `CGIterationStateBase`
  packages/belos/src/BelosCGIteration.hpp
Labels: pkg: Belos, AT: AUTOMERGE, client: Sierra

#13742 MueLu: Async comm in RefMaxwell
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13772 Framework: export GENCONFIG_BUILD_NAME for AT2 jobs
  .github/workflows/AT2.yml
Labels: AT: RETEST, AT: STALE, AT: AUTOMERGE, AT2-Start, AT2-SpecialApprove

#13789 Belos: Don't access DualView's [h|d]_view directly
  packages/belos/tpetra/src/BelosMultiVecTraits_Tpetra.hpp
Labels: pkg: Belos, AT: AUTOMERGE

#13787 Zoltan2: Don't access DualView's [h|d]_view directly
  packages/zoltan2/core/src/input/Zoltan2_BasicKokkosIdentifierAdapter.hpp
  packages/zoltan2/sphynx/src/Zoltan2_Sphynx.hpp
  packages/zoltan2/test/core/partition/mj_backwardcompat.cpp
Labels: pkg: Zoltan2, AT: AUTOMERGE

#13809 [MueLu] Fix toTpetra operator cast
  packages/muelu/src/Utils/MueLu_Utilities_decl.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13786 ShyLU: Don't access DualView's [h|d]_view directly
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestDenseLinearAlgebra.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#13806 Tacho : add LevelSet scheduling with Serial build
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Blas_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_SolveUpperLDL.hpp
  packages/shylu/shylu_node/tacho/unit-test/CMakeLists.txt
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestSolver.cpp
Labels: pkg: ShyLU

#13799 ROL: add some override keywords to eliminate -Winconsistent-override …
  packages/rol/src/sol/function/randvarfunctional/risk/ROL_MixedCVaR.hpp
  packages/rol/src/sol/function/randvarfunctional/risk/ROL_QuantileRadius.hpp
  packages/rol/src/sol/function/randvarfunctional/risk/spectral/ROL_SpectralRisk.hpp
Labels: pkg: ROL, AT: AUTOMERGE, client: Sierra, AT: PRE-TEST INSPECTED

#13714 Tpetra: copy and permute improvements
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
Labels: pkg: Tpetra, PA: Data Services, AT: PRE-TEST INSPECTED

#13816 Tpetra: Adding test for symmetric equlibration
  packages/tpetra/core/test/CrsMatrix/Equilibration.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13807 SEACAS: Default field metadata output to false
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Nalu

#13821 Tpetra: revert 13714
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
  packages/tpetra/core/src/Tpetra_Details_crsUtils.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13822 MueLu & MiniEM: More barriers
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/panzer/mini-em/example/BlockPrec/CMakeLists.txt
  packages/panzer/mini-em/example/BlockPrec/MiniEM_helpers.cpp
  packages/panzer/mini-em/example/BlockPrec/MiniEM_helpers.hpp
  packages/panzer/mini-em/example/BlockPrec/main.cpp
  packages/panzer/mini-em/example/BlockPrec/solverMueLuBarrier.xml
Labels: pkg: MueLu, pkg: Panzer

#13823 Tpetra: fix performance regressions
  packages/tpetra/core/src/Tpetra_Details_WrappedDualView.hpp
Labels: pkg: Kokkos, pkg: Tpetra, AT: AUTOMERGE

#13827 Tpetra: Fix assignment to DualView::view_[host|device]
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13831 Update TriBITS snapshot 2025-02-23
  cmake/tribits/CHANGELOG.md
  cmake/tribits/ci_support/CDashQueryAnalyzeReport.py
  cmake/tribits/ci_support/CreateIssueTrackerFromCDashQuery.py
  cmake/tribits/ci_support/TribitsDumpDepsXmlScript.cmake
  cmake/tribits/ci_support/TribitsPackageFilePathUtils.py
  cmake/tribits/ci_support/cdash_build_testing_date.py
  cmake/tribits/ci_support/is_checkin_tested_commit.py
  cmake/tribits/core/config_tests/BLASMangling.cmake
  cmake/tribits/core/config_tests/FortranMangling.cmake
  cmake/tribits/core/package_arch/TribitsAddLibrary.cmake
  cmake/tribits/core/package_arch/TribitsAdjustPackageEnables.cmake
  cmake/tribits/core/package_arch/TribitsPackageMacros.cmake
  cmake/tribits/core/package_arch/TribitsProcessTplsLists.cmake
  cmake/tribits/core/package_arch/TribitsTplFindIncludeDirsAndLibraries.cmake
  cmake/tribits/ctest_driver/README
  cmake/tribits/ctest_driver/TribitsCTestDriverCoreHelpers.cmake
  cmake/tribits/ctest_driver/experimental_build_test.cmake
  cmake/tribits/devtools_install/install-openmpi.py
  cmake/tribits/doc/build_ref/TribitsBuildReferenceBody.rst
  cmake/tribits/doc/guides/TribitsCoreDetailedReference.rst
  cmake/tribits/doc/guides/TribitsGuidesBody.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_ConvertAProject.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_Dependencies.rst
  cmake/tribits/doc/tutorial/src/TribitsTutorial_HelloWorld.rst
  cmake/tribits/examples/TribitsExampleProject/packages/mixed_lang/src/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/mixed_lang/src/vector/CMakeLists.txt
  cmake/tribits/examples/TribitsExampleProject/packages/mixed_lang/src/vector/Vector_Lite.hh
  cmake/tribits/examples/TribitsExampleProject/packages/mixed_lang/test/tstRay_Tracer.cc
  cmake/tribits/python_utils/generic-looping-demon.py
  cmake/tribits/python_utils/gitdist.py
  commonTools/build_stats/unit_tests/gather_build_stats_UnitTests.py
Labels: AT: AUTOMERGE

#13830 Doxygen LaTeX fixes
  packages/anasazi/src/AnasaziDenseMatTraits.hpp
  packages/ifpack2/src/Ifpack2_Details_AdditiveSchwarzFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_DenseSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_TriDiSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_DiagonalFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_Diagonal_decl.hpp
  packages/ifpack2/src/Ifpack2_DropFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_OverlappingRowMatrix_decl.hpp
  packages/ifpack2/src/Ifpack2_Preconditioner.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_decl.hpp
  packages/ifpack2/src/Ifpack2_ReorderFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_SingletonFilter_decl.hpp
  packages/ifpack2/src/Ifpack2_SparsityFilter_decl.hpp
  packages/intrepid2/src/Cell/Intrepid2_CellTools.hpp
  packages/muelu/src/Transfers/BlockedTransfers/MueLu_BlockedPFactory_decl.hpp
  packages/rol/example/gross-pitaevskii/example_02.hpp
  packages/rol/src/algorithm/TypeB/pqn/ROL_PQNObjective.hpp
  packages/rol/src/algorithm/TypeG/stabilizedlcl/ROL_ElasticObjective.hpp
  packages/rol/src/function/dynamic/ROL_DynamicTrackingFEMObjective.hpp
  packages/rol/src/function/dynamic/ROL_DynamicTrackingObjective.hpp
  packages/rol/src/function/operator/ROL_HouseholderReflector.hpp
  packages/rol/src/function/operator/ROL_SchurComplement.hpp
  packages/rol/src/function/std/ROL_StdTridiagonalOperator.hpp
  packages/rol/src/sol/function/randvarfunctional/risk/ROL_MeanSemiDeviation.hpp
  packages/rol/src/sol/function/randvarfunctional/risk/ROL_MeanSemiDeviationFromTarget.hpp
  packages/rol/src/step/interiorpoint/ROL_PrimalDualInteriorPointReducedResidual.hpp
  packages/rol/src/zoo/ROL_Types.hpp
  packages/rol/test/function/test_18.cpp
  packages/stokhos/src/Stokhos_JacobiBasis.hpp
  packages/stokhos/src/Stokhos_Lanczos.hpp
  packages/thyra/core/example/operator_vector/ExampleTridiagSerialLinearOp.hpp
  packages/thyra/core/example/operator_vector/ExampleTridiagSpmdLinearOp.hpp
  packages/thyra/doc/groups.doc
  packages/tpetra/core/src/Tpetra_RowMatrix_decl.hpp
Labels: pkg: Tpetra, pkg: MueLu, pkg: Ifpack2, pkg: Thyra, pkg: Intrepid2, pkg: Anasazi, pkg: ROL, pkg: Stokhos, impacting: documentation

#13805 Ifpack2: BlockTriDi/Block Jacobi residual improvements
  packages/ifpack2/src/Ifpack2_BlockComputeResidualVector.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_def.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
Labels: pkg: Ifpack2, impacting: performance, AT: AUTOMERGE, client: SPARC

#13825 Use netlib-lapack in CUDA AT2 builds
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#13764 Framework: Add upload-artifact step to AT2 jobs
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13842 MueLu: Fix aggregate material visualization
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13844 MueLu: Do not hard code "aggregation: dropping may create Dirichlet"
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13843 Teko: Improve Tpetra subblock re-assembly performance
  packages/teko/src/Tpetra/Teko_BlockingTpetra.cpp
  packages/teko/src/Tpetra/Teko_BlockingTpetra.hpp
  packages/teko/src/Tpetra/Teko_TpetraBlockedMappingStrategy.cpp
  packages/teko/src/Tpetra/Teko_TpetraBlockedMappingStrategy.hpp
Labels: pkg: Teko, AT: AUTOMERGE, client: Sierra, AT: PRE-TEST INSPECTED
