Repository trilinos/Trilinos, pull requests merged in 2025-03, with the labels that each got.

#13832 Amesos2 : add an option to gather/scatter vectors
  packages/amesos2/example/GappedMtxGIDs-1proc.cpp
  packages/amesos2/example/SimpleSolve.cpp
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_KLU2_decl.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KokkosMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_decl.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/src/Amesos2_SolverCore_decl.hpp
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/test/solvers/KLU2_UnitTests.cpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_solve_rhs_tr.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
  packages/teuchos/comm/src/Teuchos_CommHelpers.cpp
  packages/teuchos/comm/src/Teuchos_CommHelpers.hpp
  packages/teuchos/comm/test/Comm/CMakeLists.txt
  packages/teuchos/comm/test/Comm/scatterv.cpp
Labels: pkg: Amesos2

#13808 Framework: Clarify Spack cdash name
  .github/workflows/spack.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13850 Set MPI_ALLOW_PACKAGE_PREFIND=FALSE by default (#13839)
  cmake/tribits/core/std_tpls/FindTPLMPI.cmake
Labels: type: bug, impacting: configure or build, AT: AUTOMERGE

#13857 IOSS: Disable field meta data output
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services, client: Albany, client: ExaWind, impacting: sanity

#13855 ShyLU-Basker : fix compile errors/warnings (e.g., with float)
  packages/shylu/shylu_node/basker/src/mwm2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/test/amesos2_interface_test.cpp
Labels: pkg: ShyLU

#13869 STK: swap macro order
  packages/stk/stk_topology/stk_topology/topology_type.hpp
Labels: pkg: STK, AT: AUTOMERGE

#13860 Teuchos, Xpetra, MueLu: Small fixes
  packages/muelu/adapters/tpetra/MueLu_ShiftedLaplacian_decl.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/teuchos/numerics/src/Teuchos_SerialDenseMatrix.hpp
  packages/teuchos/numerics/src/Teuchos_SerialSymDenseMatrix.hpp
  packages/xpetra/src/BlockedCrsMatrix/Xpetra_BlockedCrsMatrix_def.hpp
  packages/xpetra/src/Map/Xpetra_MapFactory_def.hpp
  packages/xpetra/src/Matrix/Xpetra_CrsMatrixWrap_def.hpp
Labels: pkg: MueLu, pkg: Xpetra, pkg: Teuchos, AT: AUTOMERGE

#13874 Shards: Remove unimplemented methods
  packages/shards/src/Shards_CellTopology.hpp
Labels: pkg: Shards, AT: AUTOMERGE

#13870 ShyLU-Basker : compile errors with complex variables
  packages/amesos2/src/Amesos2_ShyLUBasker_FunctionMap.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_TypeMap.hpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
  packages/shylu/shylu_node/basker/src/mwm2.hpp
  packages/shylu/shylu_node/basker/test/amesos2_interface_test.cpp
Labels: pkg: ShyLU

#13877 Panzer: add a variant of setupExodusFile() with a vector<IossProperty> arg
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/CMakeLists.txt
  packages/panzer/adapters-stk/test/stk_interface_test/tExodusIossProperties.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13887 Update the stk poisson example.
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: pkg: TrilinosCouplings, AT: AUTOMERGE, AT: PRE-TEST INSPECTED

#13862 Framework: Update development branch version to 16.2.0-dev
  Version.cmake
Labels: AT: AUTOMERGE, PA: Framework, AT: PRE-TEST INSPECTED

#13888 Panzer: performance improvements for exodus reader and DG workset constructiton path
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13890 MueLu Ifpack2Smoother: Skip generation of unneeded PL.
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13575 Tpetra: CrsMatrix getLocalDiagCopy hang, see issue #13498
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_getLocalDiagCopy.cpp
Labels: type: bug, pkg: Tpetra, client: SPARC

#13897 Panzer: Disable failing test
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#13891 Thyra: Comment out fence in Tpetra operator apply
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
Labels: pkg: Tpetra, pkg: Thyra

#13899 EXODUS: Protect use of function not introduced until 4.4.1
  packages/seacas/libraries/exodus/src/ex_utils.c
Labels: pkg: seacas, impacting: configure or build, AT: AUTOMERGE, PA: Data Services, client: Nalu

#13900 Framework: Ignore ctest submit errors
  cmake/SimpleTesting/README.md
  cmake/SimpleTesting/cmake/ctest-common.cmake
  cmake/SimpleTesting/cmake/ctest-functions.cmake
  cmake/SimpleTesting/cmake/ctest-stage-configure.cmake
  cmake/SimpleTesting/cmake/ctest-stage-test.cmake
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#13889 Framework: Update release branch version to 16.1.0
  .github/workflows/AT2.yml
  .github/workflows/codeql.yml
  .github/workflows/spack.yml
  RELEASE_NOTES
  Version.cmake
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13904 ShyLU-Basker : error handling
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
Labels: pkg: ShyLU

#13903 Tacho : solver option for chol
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Driver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_External.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_Internal.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Chol_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Lapack_Team.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Base.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Serial.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_TeamFunctor_FactorizeChol.hpp
  packages/shylu/shylu_node/tacho/unit-test/Tacho_TestSolver.cpp
Labels: pkg: ShyLU

#13892 Tpetra: Track recv and send requests separately
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
Labels: pkg: Tpetra, AT: STALE

#13910 Tpetra: Update TpetraExt_TripleMatrixMultiply_decl.hpp Docs
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_decl.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13909 Port Trilinos to CMake 4.0.0 (#13731)
  cmake/get-tribits-mainline-merge-commits.sh
  cmake/tribits/CHANGELOG.md
  cmake/tribits/core/common/TribitsCMakePolicies.cmake
  cmake/tribits/examples/RawHelloWorld/CMakeLists.txt
  cmake/update-tribits-snapshot.sh
  demos/simpleBuildAgainstTrilinos/CMakeLists.by_package.cmake
  demos/simpleBuildAgainstTrilinos/CMakeLists.txt
  packages/TrilinosInstallTests/find_package_Trilinos/CMakeLists.txt
Labels: AT: AUTOMERGE

#13914 MueLuL Update TpetraExt_TripleMatrixMultiply_decl.hpp docs
  packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_decl.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13908 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20250321_175818 branch to master
  CTestConfig.cmake
  Version.cmake
  cmake/SimpleTesting/README.md
  cmake/SimpleTesting/cmake/ctest-common.cmake
  cmake/SimpleTesting/cmake/ctest-functions.cmake
  cmake/SimpleTesting/cmake/ctest-stage-configure.cmake
  cmake/SimpleTesting/cmake/ctest-stage-test.cmake
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/framework/ini-files/config-specs.ini
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationInstallation.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_C1_FEM.hpp
  packages/muelu/src/Smoothers/MueLu_Ifpack2Smoother_def.hpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/disc-fe/src/Panzer_FaceToElement_impl.hpp
  packages/seacas/libraries/exodus/src/ex_utils.c
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp
  packages/tpetra/core/test/CrsMatrix/CMakeLists.txt
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_getLocalDiagCopy.cpp
  packages/trilinoscouplings/examples/scaling/example_Poisson_stk.cpp
Labels: AT2-SpecialApprove

#13901 Framework: Remove target branch limitations for AT2 workflows
  .github/workflows/AT2.yml
  .github/workflows/codeql.yml
  .github/workflows/spack.yml
Labels: AT: AUTOMERGE, PA: Framework, AT: PRE-TEST INSPECTED, AT2-SpecialApprove

#13923 Framework: Add artifacts to help with reproducing runs
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13902 Teko: Perform as much of the sub-block reassembly operation on the device as possible
  packages/teko/src/Tpetra/Teko_BlockingTpetra.cpp
Labels: pkg: Teko, client: Sierra, AT: PRE-TEST INSPECTED
