Repository trilinos/Trilinos, pull requests merged in 2025-08, with the labels that each got.

#14275 Belos: Expose single-reduce CG via alias in solver factory
  packages/belos/src/Belos_Details_EBelosSolverType.cpp
  packages/belos/tpetra/example/SolverFactory/CMakeLists.txt
Labels: pkg: Belos

#14272 panzer removed unused typedef to eliminate warning 14271
  packages/panzer/adapters-stk/test/panzer_workset_builder/exodus_workset_builder_internal_sideset_check.cpp
Labels: pkg: Panzer, AT: AUTOMERGE

#14267 rtop removed unused typedefs to eliminate warnings 14265
  packages/rtop/test/ops_lib/ROpMinIndex_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpMin_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpNorm1_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpNormInf_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpSum_UnitTests.cpp
Labels: pkg: RTOp, AT: AUTOMERGE

#14264 adelus unused typedef warning
  packages/adelus/src/Adelus_x_solve.hpp
Labels: pkg: Adelus, AT: PRE-TEST INSPECTED

#14295 Galeri: Resolve compilation error in Galeri_MatpTraits.hpp
  packages/galeri/src-xpetra/Galeri_MapTraits.hpp
Labels: pkg: Galeri, AT: AUTOMERGE

#14296 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20250808_175818 branch to master
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecards.yml
  cmake/ProjectCompilerPostConfig.cmake
  packages/adelus/src/Adelus_x_solve.hpp
  packages/framework/ini-files/config-specs.ini
  packages/rtop/test/ops_lib/ROpMinIndex_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpMin_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpNorm1_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpNormInf_UnitTests.cpp
  packages/rtop/test/ops_lib/ROpSum_UnitTests.cpp
Labels: AT2-SpecialApprove

#14301 Ifpack2: fix apparent macro error
  packages/ifpack2/src/Ifpack2_Factory.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#14309 Framework: Skip ccache configuration when performing coverage build
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
Labels: AT: AUTOMERGE, PA: Framework

#14291 Framework: Upgrade GCC serial PR
  .github/workflows/AT2.yml
  cmake/ProjectCompilerPostConfig.cmake
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/framework/ini-files/supported-systems.ini
Labels: AT: AUTOMERGE

#14325 MueLu: Change default value of "fuse prolongation and update"
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14281 Tpetra, Galeri, MueLu, Ifpack2: Small performance improvements
  packages/galeri/src-xpetra/Galeri_XpetraUtils.hpp
  packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/tpetra/core/src/Tpetra_Map_decl.hpp
  packages/tpetra/core/src/Tpetra_Map_def.hpp
Labels: pkg: Tpetra, pkg: MueLu, pkg: Galeri, AT: AUTOMERGE

#14287 Stratimikos : Add Amesos2 interface to CSS
  packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolveFactory_def.hpp
  packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2Types.cpp
  packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2Types.hpp
  packages/stratimikos/adapters/amesos2/test/CMakeLists.txt
Labels: pkg: Stratimikos, AT: AUTOMERGE

#14286 ShyLU-Basker : worker-thread for nestted factorization
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_diag.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_solve_rhs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_structs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
Labels: pkg: ShyLU

#14335 Seacas snapshot 2025 08 19
  packages/seacas/applications/conjoin/CJ_ExodusFile.C
  packages/seacas/applications/conjoin/Conjoin.C
  packages/seacas/applications/cpup/cpup.C
  packages/seacas/applications/epu/epu.C
  packages/seacas/applications/exodiff/exodiff.C
  packages/seacas/applications/exodiff/util.C
  packages/seacas/applications/exodiff/util.h
  packages/seacas/applications/explore/exp_ckmap.f
  packages/seacas/applications/explore/exp_qainfo.blk
  packages/seacas/applications/grepos/gp_comand.F
  packages/seacas/applications/grepos/gp_dbpelb.f
  packages/seacas/applications/grepos/gp_qainfo.blk
  packages/seacas/applications/grepos/gp_showfl.f
  packages/seacas/applications/mapvar-kd/CMakeLists.txt
  packages/seacas/applications/mapvar/CMakeLists.txt
  packages/seacas/applications/slice/SL_Decompose.C
  packages/seacas/libraries/aprepro_lib/apr_builtin.cc
  packages/seacas/libraries/aprepro_lib/apr_builtin.h
  packages/seacas/libraries/aprepro_lib/apr_getline.cc
  packages/seacas/libraries/aprepro_lib/apr_scanner.cc
  packages/seacas/libraries/aprepro_lib/aprepro.ll
  packages/seacas/libraries/chaco/util/smalloc.c
  packages/seacas/libraries/exodus/include/exodusII.h
  packages/seacas/libraries/exodus/src/ex_create_par.c
  packages/seacas/libraries/exodus/src/ex_err.c
  packages/seacas/libraries/exodus/src/ex_field_utils.c
  packages/seacas/libraries/exodus/src/ex_get_field_metadata.c
  packages/seacas/libraries/exodus/src/ex_put_field_metadata.c
  packages/seacas/libraries/exodus_for/src/exo_jack-windows.c
  packages/seacas/libraries/exodus_for/src/exo_jack.c
  packages/seacas/libraries/ioss/src/Ioss_CodeTypes.h
  packages/seacas/libraries/ioss/src/Ioss_Utils.C
  packages/seacas/libraries/ioss/src/Ioss_Utils.h
  packages/seacas/libraries/ioss/src/Ioss_Version.h
  packages/seacas/libraries/ioss/src/cgns/Iocgns_DatabaseIO.C
  packages/seacas/libraries/ioss/src/cgns/Iocgns_Utils.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_BaseDatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_DatabaseIO.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Utils.C
  packages/seacas/libraries/ioss/src/exodus/Ioex_Utils.h
  packages/seacas/libraries/ioss/src/exonull/Ioexnl_BaseDatabaseIO.C
  packages/seacas/libraries/ioss/src/utest/Utst_utils.C
  packages/seacas/libraries/mapvarlib/rda1.f
  packages/seacas/libraries/mapvarlib/trutbl.f
  packages/seacas/libraries/supes/ext_lib/exname.c
  packages/seacas/libraries/suplib/CMakeLists.txt
  packages/seacas/libraries/suplib/format_list.c
  packages/seacas/libraries/suplib_cpp/time_stamp.C
  packages/seacas/libraries/svdi/cgi/sdcgi.c
  packages/seacas/scripts/exodus3.in.py
  packages/seacas/scripts/exomerge3.py
  packages/seacas/scripts/tests/exomerge_unit_test.py
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#14338 stokhos localized variables to eliminate shadow warnings 14328
  packages/stokhos/example/dimension_reduction/stieltjes_coupled.cpp
  packages/stokhos/src/Stokhos_BlockPreconditionerImp.hpp
  packages/stokhos/src/Stokhos_CGDivisionExpansionStrategy.hpp
  packages/stokhos/src/Stokhos_ClenshawCurtisLegendreBasisImp.hpp
  packages/stokhos/src/Stokhos_CompletePolynomialBasisImp.hpp
  packages/stokhos/src/Stokhos_DenseDirectDivisionExpansionStrategy.hpp
  packages/stokhos/src/Stokhos_DiscretizedStieltjesBasisImp.hpp
  packages/stokhos/src/Stokhos_GMRESDivisionExpansionStrategy.hpp
  packages/stokhos/src/Stokhos_GaussPattersonLegendreBasisImp.hpp
  packages/stokhos/src/Stokhos_HermiteBasisImp.hpp
  packages/stokhos/src/Stokhos_JacobiBasisImp.hpp
  packages/stokhos/src/Stokhos_JacobiPreconditioner.hpp
  packages/stokhos/src/Stokhos_LanczosPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_LanczosProjPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_LegendreBasisImp.hpp
  packages/stokhos/src/Stokhos_MonomialGramSchmidtPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_MonomialProjGramSchmidtPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_ProductLanczosGramSchmidtPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_PseudoSpectralOrthogPolyExpansionImp.hpp
  packages/stokhos/src/Stokhos_QuadOrthogPolyExpansionImp.hpp
  packages/stokhos/src/Stokhos_ReducedQuadratureFactoryImp.hpp
  packages/stokhos/src/Stokhos_RysBasis.hpp
  packages/stokhos/src/Stokhos_SPDDenseDirectDivisionExpansionStrategy.hpp
  packages/stokhos/src/Stokhos_SchurPreconditionerImp.hpp
  packages/stokhos/src/Stokhos_StieltjesBasisImp.hpp
  packages/stokhos/src/Stokhos_StieltjesPCEBasisImp.hpp
  packages/stokhos/src/Stokhos_TensorProductPseudoSpectralOperator.hpp
  packages/stokhos/src/sacado/Sacado_ETPCE_OrthogPolyTraits.hpp
  packages/stokhos/src/sacado/Sacado_PCE_OrthogPolyTraits.hpp
  packages/stokhos/src/sacado/kokkos/pce/Sacado_UQ_PCE_Traits.hpp
  packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp
  packages/stokhos/src/sacado/kokkos/vector/Sacado_MP_VectorTraits.hpp
  packages/stokhos/test/UnitTest/Stokhos_AlgebraicExpansionUnitTest.cpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixMPVectorUnitTest_Serial.cpp
  packages/stokhos/test/UnitTest/Stokhos_QuadExpansionUnitTest.cpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#14341 Tpetra: standardize ialltofewv profiling labels
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14343 Tpetra: fix doxygen
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14307 Framework Add clang-openmpi job to AutoTester2
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/framework/ini-files/supported-systems.ini
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#14350 Seacas update embedded fmt to 11.2.0
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/args.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/base.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/chrono.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/color.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/compile.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format-inl.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/format.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/os.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ostream.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/printf.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/ranges.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/std.h
  packages/seacas/libraries/ioss/src/private_copy_fmt/fmt/xchar.h
Labels: pkg: seacas, AT: AUTOMERGE, PA: Data Services

#14358 Framework: Add cuda12-uvm AT2 job
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#14340 ShyLU-Basker: OpenMP + CUDA build (+ PT testings)
  packages/amesos2/CMakeLists.txt
  packages/amesos2/src/Amesos2_ShyLUBasker_decl.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/test/solvers/ShyLUBasker_UnitTests.cpp
  packages/amesos2/test/solvers/SolverFactory.cpp
  packages/shylu/shylu_node/basker/CMakeLists.txt
  packages/shylu/shylu_node/basker/src/mwm2.hpp
  packages/shylu/shylu_node/basker/src/shylubasker.cpp
  packages/shylu/shylu_node/basker/src/shylubasker_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_view_decl.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_matrix_view_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_blk_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_col_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_diag.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_amd.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_btf.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor_kokkos.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor_old.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_solve_rhs.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_stats.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_types.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_util.hpp
  packages/shylu/shylu_node/basker/test/CMakeLists.txt
  packages/shylu/shylu_node/basker/test/amesos2_interface_coverage_test.cpp
  packages/shylu/shylu_node/basker/test/amesos2_interface_test.cpp
  packages/shylu/shylu_node/basker/test/basker_test.cpp
  packages/shylu/shylu_node/basker/test/basker_test_inc.cpp
  packages/shylu/shylu_node/basker/test/simple_test_check.cpp
  packages/shylu/shylu_node/basker/test/singular_matrix_check.cpp
Labels: pkg: ShyLU, AT: PRE-TEST INSPECTED

#14359 Teuchos: mark Teuchos::MatrixMarket::Raw::Element::operator== and operator!= as const to avoid C++20 warnings
  packages/teuchos/numerics/src/Teuchos_MatrixMarket_Raw_Adder.hpp
Labels: pkg: Teuchos, AT: AUTOMERGE, client: Sierra

#14369 Intrepid2 ProjectedGeometryTests: Loosen tolerance
  packages/intrepid2/unit-test/MonolithicExecutable/ProjectedGeometryTests.cpp
Labels: pkg: Intrepid2, AT: AUTOMERGE

#14367 Framework: Fix AutoTester2 cuda-uvm CDash build name
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#14374 MueLu UncoupledAggregationFactory: Perform communication in setup routine
  packages/muelu/example/basic/Stratimikos.cpp
  packages/muelu/src/Graph/MueLu_AggregationAlgorithmBase.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_decl.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_AggregationPhase2aAlgorithm_def.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14377 belos: fixes for gcc/12.2.0 and c++20
  packages/belos/kokkos/src/BelosKokkosAdapter.hpp
  packages/belos/tpetra/test/BiCGStab/test_bicgstab_diag.cpp
  packages/belos/tpetra/test/BlockGmres/test_bl_gmres_diag.cpp
  packages/belos/tpetra/test/MINRES/test_minres_diag.cpp
  packages/belos/tpetra/test/MultiMatrixSolve/test_pseudo_gmres_multidiag.cpp
  packages/belos/tpetra/test/TFQMR/test_tfqmr_diag.cpp
Labels: pkg: Belos

#14368 Zoltan2/Teuchos: Mark additional operator>, operator==, etc. as const
  packages/teuchos/numerics/src/Teuchos_MatrixMarket_Raw_Graph_Adder.hpp
  packages/zoltan2/core/src/algorithms/partition/Zoltan2_TaskMapping.hpp
  packages/zoltan2/core/src/directory/Zoltan2_Directory.hpp
  packages/zoltan2/core/src/util/Zoltan2_GraphMetricsUtility.hpp
Labels: pkg: Teuchos, pkg: Zoltan2, AT: AUTOMERGE, client: Sierra
