Repository trilinos/Trilinos, pull requests merged in 2025-04, with the labels that each got.

#13920 Framework: Add ccache stats output to AT2 jobs
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13931 Framework: Improve AT2 summary info
  .github/workflows/AT2.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#13937 MueLu: Improving reproducibility in test
  packages/muelu/test/scaling/MatrixMatrixMultiply.cpp
Labels: AT: AUTOMERGE

#13936 Tpetra: Kokkos::StaticCrsGraph -> KokkosSparse::StaticCrsGraph
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_determineLocalTriangularStructure.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphDiagOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphDiagOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getNumDiags.hpp
  packages/tpetra/core/test/CrsGraph/DetermineLocalTriangularStructure.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualView.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewFixture.hpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewMicrobench.cpp
Labels: AT: AUTOMERGE

#13938 Tpetra: Amesos2: MueLu: fix warnings
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/muelu/src/Utils/MueLu_KokkosTuningInterface.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra, pkg: MueLu, pkg: Amesos2, AT: AUTOMERGE

#13942 Tpetra: Removing old C++14 support code which breaks C++20 compiles
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13935 Framework: Update list of tests to run serially with CUDA
  packages/framework/ini-files/config-specs.ini
Labels: PA: Framework

#13951 Ifpack2: Change namespace for symbols that Kokkos-Kernels moved out of Experimental
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraGaleriEx.cpp
  packages/belos/tpetra/example/SolverFactory/SolverFactoryTpetraGaleriEx.cpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_IlukGraph.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestChebyshev2.cpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#13950 Tpetra: Fix leftover from switch to profiling regions
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#13952 Xpetra: Use Kokkos-Kernels include instead of deprecated Kokkos header
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
Labels: pkg: Xpetra, AT: AUTOMERGE

#13948 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20250404_175819 branch to master
  .github/workflows/AT2.yml
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/framework/ini-files/config-specs.ini
  packages/krino/cmake/Dependencies.cmake
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_decl.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_AmalgamationFactory_def.hpp
  packages/muelu/src/Misc/MueLu_CoordinatesTransferFactory_def.hpp
  packages/muelu/src/Misc/MueLu_MultiVectorTransferFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/src/Utils/MueLu_KokkosTuningInterface.cpp
  packages/muelu/test/scaling/MatrixMatrixMultiply.cpp
  packages/muelu/test/unit_tests/Aggregates.cpp
  packages/muelu/test/unit_tests/AmalgamationFactory.cpp
  packages/muelu/test/unit_tests/MueLu_TestHelpers.hpp
  packages/muelu/test/unit_tests/MultiVectorTransferFactory.cpp
  packages/muelu/test/unit_tests/UncoupledAggregationFactory.cpp
  packages/teko/src/Tpetra/Teko_BlockingTpetra.cpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp
  packages/tpetra/core/src/Tpetra_Details_determineLocalTriangularStructure.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphDiagOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphDiagOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_getGraphOffRankOffsets_def.hpp
  packages/tpetra/core/src/Tpetra_Details_getNumDiags.hpp
  packages/tpetra/core/test/CrsGraph/DetermineLocalTriangularStructure.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualView.cpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewFixture.hpp
  packages/tpetra/core/test/Utils/TpetraUtils_WrappedDualViewMicrobench.cpp
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13939 Framework: Increase warning limit
  cmake/SimpleTesting/cmake/ctest-common.cmake
Labels: AT: AUTOMERGE

#13960 MueLu: Add material vector information into MueLu multiphysics class
  packages/muelu/src/Operators/MueLu_MultiPhys_decl.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra

#13954 Panzer: Silence warnings
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
Labels: pkg: Panzer, AT: AUTOMERGE

#13963 MueLu: Making SetupSolve perf test scale up
  packages/muelu/test/scaling/CMakeLists.txt
Labels: pkg: MueLu, AT: AUTOMERGE

#13965 MueLu: small fixes for Aurora testing
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13967 MueLu: Fixing one-character typo
  packages/muelu/test/scaling/CMakeLists.txt
Labels: pkg: MueLu, AT: AUTOMERGE

#13934 Tpetra DistributorActor: Split Recvs and Sends
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.hpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_getLocalDiagCopy.cpp
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
Labels: pkg: Tpetra, AT: PRE-TEST INSPECTED

#13966 MueLu: Add optional OmitSubblockSmoother argument to MultiPhys class
  packages/muelu/src/Operators/MueLu_MultiPhys_decl.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra

#13972 FROSch: Amesos2: silence warnings
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
Labels: pkg: Amesos2, pkg: ShyLU, AT: AUTOMERGE

#13971 Ifpack2: Ifpack2: local trsv cusparse spec selector missing impl_scalar_type (fixes #13970)
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_decl.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
Labels: pkg: Ifpack2

#13881 Framework: Add OneAPI PR build
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
Labels: AT2-SpecialApprove

#13974 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20250411_175818 branch to master
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecards.yml
  cmake/SimpleTesting/cmake/ctest-common.cmake
  packages/amesos2/src/Amesos2_Superlu_def.hpp
  packages/amesos2/src/Amesos2_TpetraMultiVecAdapter_def.hpp
  packages/belos/tpetra/example/BlockGmres/BlockGmresTpetraGaleriEx.cpp
  packages/belos/tpetra/example/SolverFactory/SolverFactoryTpetraGaleriEx.cpp
  packages/ifpack2/src/Ifpack2_Experimental_RBILUK_def.hpp
  packages/ifpack2/src/Ifpack2_IlukGraph.hpp
  packages/ifpack2/src/Ifpack2_LocalSparseTriangularSolver_def.hpp
  packages/ifpack2/src/Ifpack2_RILUK_def.hpp
  packages/ifpack2/src/Ifpack2_Relaxation_def.hpp
  packages/ifpack2/test/unit_tests/Ifpack2_UnitTestChebyshev2.cpp
  packages/muelu/src/Graph/Containers/MueLu_Aggregates_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraphBase.hpp
  packages/muelu/src/Graph/PairwiseAggregation/MueLu_NotayAggregationFactory_def.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_decl.hpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/unit_tests/MueLu_Test_ETI.hpp
  packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp
  packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp
  packages/tpetra/core/CMakeLists.txt
  packages/tpetra/core/cmake/TpetraCore_config.h.in
  packages/tpetra/core/example/Finite-Element-Assembly/CMakeLists.txt
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_CrsGraphTransposer_def.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorActor.hpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.cpp
  packages/tpetra/core/src/Tpetra_Details_DistributorPlan.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_Distributor.hpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_UnitTests.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_getLocalDiagCopy.cpp
  packages/tpetra/core/test/Distributor/Distributor_UnitTests.cpp
  packages/xpetra/src/CrsGraph/Xpetra_CrsGraph.hpp
  packages/xpetra/src/CrsMatrix/Xpetra_CrsMatrix.hpp
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13986 MueLu: Add support for "Nullspace[1-9]" user data input
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
Labels: pkg: MueLu

#13973 Intrepid2, fix compiler bug (issue 13135)
  packages/intrepid2/src/Orientation/Intrepid2_OrientationTools.hpp
Labels: pkg: Intrepid2, client: EMPIRE, AT: AUTOMERGE

#13989 ShyLU: MueLu: Fix warnings
  packages/muelu/test/perf_tests_kokkos/KokkosKernels.cpp
  packages/muelu/test/unit_tests_kokkos/Aggregates_kokkos.cpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastic.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastildl.hpp
  packages/shylu/shylu_node/fastilu/src/shylu_fastilu.hpp
Labels: pkg: MueLu, pkg: ShyLU, AT: AUTOMERGE

#13988 Phalanx: fix use of deprecated kokkos 4 code
  packages/phalanx/example/FiniteElementAssembly/LinearObjectFactory.hpp
  packages/phalanx/example/FiniteElementAssembly/PrintValues.hpp
  packages/phalanx/example/FiniteElementAssembly/auxiliary_tests/Example_FEM_LinearObjectFactory_AuxTest.cpp
  packages/phalanx/test/Field/MDField_Runtime.cpp
  packages/phalanx/test/Kokkos/tKokkos.cpp
Labels: pkg: Phalanx, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13964 Intrepid2: fix 13945 (MKL Failures PYR_QuadFace, PYR_TriFace)
  packages/framework/ini-files/config-specs.ini
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HierarchicalBasis_HDIV_PYR.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_PyramidCoords.hpp
  packages/intrepid2/src/Shared/Intrepid2_PointToolsDef.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_PYR_QuadFace_newBasis.hpp
  packages/intrepid2/unit-test/Orientation/test_orientation_PYR_TriFace_newBasis.hpp
Labels: pkg: Intrepid2

#13994 Deprecations
  packages/ifpack2/src/Ifpack2_ILUT_def.hpp
  packages/sacado/cmake/Dependencies.cmake
  packages/sacado/test/performance/fenl_assembly/CMakeLists.txt
  packages/sacado/test/performance/fenl_assembly/fenl_functors.hpp
  packages/sacado/test/performance/fenl_assembly_view/CMakeLists.txt
  packages/sacado/test/performance/fenl_assembly_view/fenl_functors.hpp
  packages/stokhos/cmake/Dependencies.cmake
  packages/stokhos/src/kokkos/Stokhos_BlockCrsMatrix.hpp
  packages/stokhos/src/kokkos/Stokhos_CrsMatrix.hpp
  packages/stokhos/src/kokkos/Stokhos_SymmetricDiagonalSpec.hpp
  packages/stokhos/test/Performance/FadMPAssembly/TestAssembly.hpp
  packages/stokhos/test/Performance/FadMPAssembly/fenl_functors.hpp
  packages/stokhos/test/Performance/MPAssembly/TestAssembly.hpp
  packages/stokhos/test/Performance/MPAssembly/fenl_functors.hpp
  packages/trilinoscouplings/examples/fenl/fenl_impl.hpp
  packages/zoltan2/core/src/input/Zoltan2_Adapter.hpp
  packages/zoltan2/test/core/unit/input/MatrixAdapter.cpp
  packages/zoltan2/test/core/unit/models/CoordinateModel.cpp
Labels: pkg: Ifpack2, pkg: Zoltan2, pkg: Sacado, pkg: Stokhos, pkg: TrilinosCouplings, AT: AUTOMERGE

#13999 Silence warnings
  packages/muelu/src/Misc/MueLu_MultiVectorTransferFactory_def.hpp
  packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp
  packages/muelu/test/scaling/MMKernelDriver.cpp
  packages/muelu/test/unit_tests/KokkosTuning.cpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraLinearOp_def.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraMultiVector_def.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraVector_def.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_Cuda.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_HIP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp
  packages/tpetra/core/ext/TpetraExt_MatrixMatrix_SYCL.hpp
  packages/tpetra/core/test/MatrixMatrix/MatrixMatrixKernels_UnitTests.cpp
  packages/zoltan/src/rcb/inertial.h
  packages/zoltan/src/rcb/rcb_util.c
  packages/zoltan/src/rcb/rib.h
Labels: pkg: Tpetra, pkg: MueLu, pkg: Thyra, pkg: Zoltan, AT: AUTOMERGE

#14002 Replace algorithm for log() of tensors
  packages/minitensor/src/MiniTensor_LinearAlgebra.t.h
  packages/minitensor/test/test_01.cc
Labels: type: enhancement, pkg: minitensor, AT: AUTOMERGE, client: Sierra, client: LCM

#13992 Panzer: improve mpi communication in mesh initialization
  packages/panzer/adapters-stk/cmake/Dependencies.cmake
  packages/panzer/adapters-stk/src/Panzer_STKConnManager.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_ExodusReaderFactory.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.cpp
  packages/panzer/adapters-stk/src/stk_interface/Panzer_STK_Interface.hpp
  packages/panzer/adapters-stk/test/stk_interface_test/tLineMeshFactory.cpp
Labels: pkg: Panzer, client: EMPIRE, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13982 Add comment with CDash urls to PRs
  .github/workflows/cdash_urls.yml
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13991 Framework: Uniformize container configs
  packages/framework/ini-files/config-specs.ini
Labels: AT: AUTOMERGE

#14006 Panzer: fix interior bc issue
  packages/panzer/adapters-stk/src/Panzer_STK_SetupUtilities.cpp
Labels: pkg: Panzer, AT: AUTOMERGE, PA: Discretizations, AT: PRE-TEST INSPECTED

#13990 Amesos2: reindex for SuperLU_DIST
  packages/amesos2/example/GappedMtxGIDs-1proc.cpp
  packages/amesos2/src/Amesos2_Superludist_decl.hpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/test/CMakeLists.txt
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/amesos2/test/solvers/superludist_gapped_test.xml
Labels: pkg: Amesos2

#14009 Teko: Add adaptive sub-block solver option
  packages/teko/src/Teko_AdaptivePreconditionerFactory.cpp
  packages/teko/src/Teko_AdaptivePreconditionerFactory.hpp
  packages/teko/src/Teko_PreconditionerFactory.cpp
  packages/teko/tests/CMakeLists.txt
  packages/teko/tests/unit_tests/tAdaptivePreconditionerFactory.cpp
Labels: pkg: Teko, AT: AUTOMERGE, client: Sierra

#13993 Framework: Always copy ci artifacts
  .github/workflows/AT2.yml
Labels: AT2-SpecialApprove

#13880 Zoltan: HSFC curve options
  packages/zoltan/src/hsfc/hsfc.c
  packages/zoltan/src/hsfc/hsfc_box_assign.c
  packages/zoltan/src/hsfc/hsfc_hilbert.c
  packages/zoltan/src/hsfc/hsfc_hilbert_const.h
  packages/zoltan/src/hsfc/hsfc_params.h
Labels: pkg: Zoltan

#14018 Amesos2 SuperLU_Dist : fix contig rowmap for contig GIDs reindex
  packages/amesos2/example/SimpleSolve_File.cpp
  packages/amesos2/src/Amesos2_Superludist_def.hpp
  packages/amesos2/test/solvers/Superludist_UnitTests.cpp
Labels: pkg: Amesos2

#14017 NOX: Make `Solver::SingleStep` independent on the group's `getNewton()` implementation
  packages/nox/src/NOX_Solver_SingleStep.C
  packages/nox/src/NOX_Solver_SingleStep.H
Labels: pkg: NOX, AT: AUTOMERGE, PA: Nonlinear Solvers

#14022 Muelu: deprecated code fixes
  packages/muelu/src/Graph/Containers/MueLu_LWGraphBase.hpp
  packages/muelu/test/perf_tests_kokkos/KokkosKernels.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14019 Amesos2 Tacho : load device nzvals..
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/Tacho_UnitTests.cpp
Labels: pkg: Amesos2

#14015 shylubasker: add missing Teuchos_ScalarTraits.hpp
  packages/amesos2/test/solvers/shylubasker_test.xml
  packages/shylu/shylu_node/basker/src/shylubasker_scalar_traits.hpp
Labels: pkg: ShyLU, AT: AUTOMERGE

#14025 Amesos2 Tacho : add complex tests
  packages/amesos2/test/solvers/Tacho_UnitTests.cpp
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_MatrixMarket.hpp
Labels: pkg: Amesos2

#14031 MueLu: Fixing docs and misleading variable names
  packages/muelu/src/Graph/MatrixTransformation/MueLu_ClassicalDropping.hpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14023 stokhos: namespace updates for moved Kokkos_StaticCrsGraph.hpp
  packages/stokhos/test/Performance/KokkosSpMM/TestSpMM.hpp
  packages/stokhos/test/Performance/MPVectorKernels/TestSpMv.hpp
  packages/stokhos/test/Performance/PCEMeanMultiply/TestMeanMultiply.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixMPVectorUnitTest.hpp
  packages/stokhos/test/UnitTest/Stokhos_KokkosCrsMatrixUQPCEUnitTest.hpp
Labels: pkg: Stokhos

#14014 Tpetra: updates for disabled kokkos deprecated code
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_Helpers_def.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_Details_checkLaunchBlocking.hpp
  packages/tpetra/core/src/Tpetra_Details_crsMatrixAssembleElement.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
Labels: pkg: Tpetra

#14028 MueLu: Galeri: Recirc2D matrix type for Tpetra
  packages/galeri/src-xpetra/Galeri_StencilProblems.hpp
  packages/galeri/src-xpetra/Galeri_XpetraMatrixTypes.hpp
  packages/galeri/src-xpetra/Galeri_XpetraParameters.hpp
  packages/galeri/src-xpetra/Galeri_XpetraProblemFactory.hpp
  packages/muelu/test/helmholtz/Helmholtz1D.cpp
  packages/muelu/test/helmholtz/Helmholtz2D.cpp
  packages/muelu/test/helmholtz/Helmholtz3D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM2D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM3D.cpp
  packages/muelu/test/scaling/MatrixLoad.hpp
Labels: pkg: MueLu, pkg: Galeri, AT: AUTOMERGE

#14020 Ifpack2, Amesos2, MueLu: Stratimikos adapter changes
  packages/ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Factory_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Factory_def.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_OneLevelFactory_def.hpp
  packages/ifpack2/src/Ifpack2_Factory_decl.hpp
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/adapters/stratimikos/Thyra_MueLuPreconditionerFactory_def.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolveFactory_def.hpp
  packages/teuchos/parameterlist/src/Teuchos_StandardParameterEntryValidators.cpp
  packages/teuchos/parameterlist/src/Teuchos_StandardParameterEntryValidators.hpp
  packages/teuchos/parameterlist/test/Validators/Validator_UnitTest.cpp
Labels: pkg: MueLu, pkg: Ifpack2, pkg: Teuchos, pkg: Amesos2, AT: AUTOMERGE

#14033 Actions: Give clang-format action a better name
  .github/workflows/clang_format.yml
Labels: AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove

#14038 Kokkos + KokkosKernels Promotion To 4.6.1
  packages/kokkos-kernels/CHANGELOG.md
  packages/kokkos-kernels/CMakeLists.txt
  packages/kokkos-kernels/docs/source/API/sparse-index.rst
  packages/kokkos-kernels/docs/source/API/sparse/par_ilut.rst
  packages/kokkos-kernels/master_history.txt
  packages/kokkos-kernels/sparse/impl/KokkosSparse_par_ilut_numeric_impl.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_par_ilut.hpp
  packages/kokkos-kernels/sparse/src/KokkosSparse_par_ilut_handle.hpp
  packages/kokkos/CHANGELOG.md
  packages/kokkos/CMakeLists.txt
  packages/kokkos/Makefile.kokkos
  packages/kokkos/Makefile.targets
  packages/kokkos/README.md
  packages/kokkos/cmake/KokkosCore_config.h.in
  packages/kokkos/cmake/build_env_info.cmake
  packages/kokkos/cmake/compile_tests/cuda_compute_capability.cc
  packages/kokkos/cmake/kokkos_arch.cmake
  packages/kokkos/core/src/Cuda/Kokkos_Cuda_BlockSize_Deduction.hpp
  packages/kokkos/core/src/Kokkos_Clamp.hpp
  packages/kokkos/core/src/Kokkos_Core_fwd.hpp
  packages/kokkos/core/src/Kokkos_MinMax.hpp
  packages/kokkos/core/src/impl/Kokkos_Core.cpp
  packages/kokkos/core/src/impl/Kokkos_NvidiaGpuArchitectures.hpp
  packages/kokkos/core/unit_test/TestTeamTeamSize.hpp
  packages/kokkos/master_history.txt
  packages/tpetra/CMakeLists.txt
Labels: pkg: Kokkos, pkg: KokkosKernels
