Repository trilinos/Trilinos, pull requests merged in 2025-09, with the labels that each got.

#14384 Tpetra: Removing old code
  packages/tpetra/core/example/Lesson07-Kokkos-Fill/05_solve.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14305 Framework: Add CUDA 12 PR build
  .github/workflows/AT2.yml
  packages/framework/ini-files/config-specs.ini
  packages/framework/ini-files/environment-specs.ini
  packages/framework/ini-files/supported-envs.ini
  packages/kokkos-kernels/sparse/src/KokkosSparse_spmv.hpp
  packages/kokkos-kernels/sparse/unit_test/Test_Sparse_spmv.hpp
Labels: AT: STALE, AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove, 17.0 release note

#14253 MueLu: Timers
  packages/muelu/doc/Tutorial/src/ScalingTestParamList.cpp
  packages/muelu/doc/Tutorial/src/laplace2d.cpp
  packages/muelu/doc/Tutorial/src/recirc2d.cpp
  packages/muelu/doc/Tutorial/src/recirc2d_api.cpp
  packages/muelu/example/advanced/clone/Clone-Tpetra.cpp
  packages/muelu/example/basic/Simple.cpp
  packages/muelu/research/luc/region_algorithms/Driver_Structured_Regions.cpp
  packages/muelu/research/max/AdditiveMG/Test.cpp
  packages/muelu/research/regionMG/test/structured/Driver_Structured_Regions.cpp
  packages/muelu/research/tawiesn/crada/Driver.cpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/Utils/MueLu_Monitor.cpp
  packages/muelu/src/Utils/MueLu_Monitor.hpp
  packages/muelu/src/Utils/MueLu_MutuallyExclusiveTime.cpp
  packages/muelu/src/Utils/MueLu_MutuallyExclusiveTime.hpp
  packages/muelu/src/Utils/MueLu_TimeMonitor.cpp
  packages/muelu/src/Utils/MueLu_TimeMonitor.hpp
  packages/muelu/test/helmholtz/Helmholtz1D.cpp
  packages/muelu/test/helmholtz/Helmholtz3D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM2D.cpp
  packages/muelu/test/helmholtz/HelmholtzFEM3D.cpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/ImportPerformance.cpp
  packages/muelu/test/scaling/ReadMatrix.cpp
  packages/muelu/test/scaling/Reuse.cpp
  packages/muelu/test/scaling/TAFCPerformance.cpp
  packages/muelu/test/structured/Driver_Structured.cpp
  packages/muelu/test/viz/AggExport.cpp
  packages/muelu/test/viz/Viz.cpp
  packages/teuchos/comm/src/Teuchos_StackedTimer.hpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.cpp
  packages/teuchos/comm/src/Teuchos_TimeMonitor.hpp
  packages/teuchos/comm/test/Time/TimeMonitor_UnitTests.cpp
  packages/teuchos/core/src/Teuchos_Behavior.cpp
  packages/teuchos/core/src/Teuchos_Behavior.hpp
  packages/teuchos/core/src/Teuchos_EnvVariables.cpp
  packages/teuchos/core/src/Teuchos_EnvVariables.hpp
  packages/teuchos/core/src/Teuchos_StrUtils.cpp
  packages/teuchos/core/src/Teuchos_StrUtils.hpp
  packages/teuchos/core/src/Teuchos_Time.cpp
  packages/tpetra/core/src/Tpetra_Details_Behavior.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosTeuchosTimerInjection.cpp
Labels: pkg: Tpetra, pkg: MueLu, pkg: Teuchos, AT: AUTOMERGE

#14399 MueLu: Fix stacked timer usage
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/Utils/MueLu_TimeMonitor.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#14415 Tpetra: Removing SYCL technical debt
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14387 MueLu: Add option to use max levels for 'multigrid algorithm: combine'
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_decl.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
  packages/muelu/src/Transfers/Generic/MueLu_CombinePFactory_def.hpp
  packages/muelu/test/scaling/comboP.xml
Labels: pkg: MueLu, AT: AUTOMERGE, client: Sierra

#14283 MueLu: Use hashmap in MIS2
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
Labels: pkg: MueLu

#14402 Ifpack2, MueLu: alloc changes
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
Labels: pkg: MueLu, pkg: Ifpack2, AT: AUTOMERGE

#14443 stk: replace DBL_MIN with numeric_traits min
  packages/stk/stk_expreval/stk_expreval/Function.hpp
Labels: pkg: STK

#14426 Galeri Elasticity&HelmholtzFEM: Use Kokkos Views
  packages/galeri/src-xpetra/Galeri_Elasticity2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_Elasticity3DProblem.hpp
  packages/galeri/src-xpetra/Galeri_HelmholtzFEM2DProblem.hpp
  packages/galeri/src-xpetra/Galeri_HelmholtzFEM3DProblem.hpp
Labels: pkg: Galeri

#14445 Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20250912_175811 branch to master
  .github/workflows/AT2.yml
  .github/workflows/clang_format.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/tpetra_muelu_label_to_project.yml
  packages/amesos2/src/Amesos2_Details_LinearSolverFactory_def.hpp
  packages/ifpack2/src/Ifpack2_BlockHelper.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_Chebyshev_def.hpp
  packages/ifpack2/src/Ifpack2_Parameters.cpp
  packages/intrepid2/src/Discretization/Integration/Intrepid2_IntegrationToolsDef.hpp
  packages/intrepid2/unit-test/MonolithicExecutable/AnalyticPolynomialsMatchTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/LegendreTests.cpp
  packages/intrepid2/unit-test/MonolithicExecutable/TensorTopologyMapTests.cpp
  packages/intrepid2/unit-test/performance/StructuredIntegration/StructuredIntegrationPerformance.cpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/research/tawiesn/aria/CMakeLists.txt
  packages/muelu/research/tawiesn/aria/Driver.cpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_DroppingCommon.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_MatrixConstruction.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_RAPFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_decl.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Operators/MueLu_MultiPhys_def.hpp
  packages/muelu/src/Transfers/Generic/MueLu_CombinePFactory_def.hpp
  packages/muelu/src/Utils/MueLu_UtilitiesBase_def.hpp
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/scaling/comboP.xml
  packages/shylu/shylu_node/tacho/src/Tacho.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_SupernodeInfo.hpp
  packages/teko/src/Tpetra/Teko_TpetraThyraConverter.cpp
  packages/teko/src/Tpetra/Teko_TpetraThyraConverter.hpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraThyraWrappers.cpp
  packages/thyra/adapters/tpetra/src/Thyra_TpetraThyraWrappers_decl.hpp
  packages/tpetra/cmake/ETI_functions.cmake
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_Element.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_InsertGlobalIndices_FE.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_MeshDatabase.hpp
  packages/tpetra/core/example/Finite-Element-Assembly/fem_assembly_TotalElementLoop.hpp
  packages/tpetra/core/src/CMakeLists.txt
  packages/tpetra/core/src/Tpetra_Details_Random.cpp
  packages/tpetra/core/src/Tpetra_Details_Random.hpp
  packages/tpetra/core/src/Tpetra_Details_Random_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_Random_def.hpp
  packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp
  packages/tpetra/core/src/Tpetra_ETI_NT.tmpl
  packages/xpetra/src/CMakeLists.txt
  packages/xpetra/src/FakeKokkos/Kokkos_ConfigDefs.hpp
  packages/xpetra/src/FakeKokkos/Kokkos_DefaultNode.hpp
  packages/xpetra/src/FakeKokkos/Kokkos_SerialNode.hpp
  packages/xpetra/src/FakeKokkos/README
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#14392 piro changes to eliminate shadow warnings 14375
  packages/piro/src/Piro_PerformAnalysis.cpp
  packages/piro/test/Piro_TempusSolver_AdjointSensitivitySinCosUnitTests.hpp
  packages/piro/test/Piro_TempusSolver_SensitivitySinCos_FSA.hpp
Labels: pkg: Piro, AT: AUTOMERGE

#14276 MueLu: Refactor size of some elasticity tests
  packages/muelu/test/scaling/CMakeLists.txt
Labels: pkg: MueLu

#14464 tpetra: remove unused typdef
  packages/tpetra/core/src/Tpetra_Details_Random_def.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14468 Tpetra: Remove clang-format directives
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_BlockCrsMatrix_def.hpp
  packages/tpetra/core/src/Tpetra_BlockMultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsGraph_decl.hpp
  packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.hpp
  packages/tpetra/core/src/Tpetra_DistObject_decl.hpp
  packages/tpetra/core/src/Tpetra_DistObject_def.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_decl.hpp
  packages/tpetra/core/src/Tpetra_MultiVector_def.hpp
  packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRefactor_Details_MultiVectorDistObjectKernels.hpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14412 Compadre: Update to v1.6.4
  packages/compadre/CMakeLists.txt
  packages/compadre/README.md
  packages/compadre/cmake/Compadre_Version.txt
  packages/compadre/doc/Doxyfile
  packages/compadre/examples/CMakeLists.tribits.cmake
  packages/compadre/examples/CMakeLists.txt
  packages/compadre/examples/CommandLineProcessor.hpp
  packages/compadre/examples/GMLS_Device.cpp
  packages/compadre/examples/GMLS_Manifold.hpp
  packages/compadre/src/Compadre_GMLS.hpp
  packages/compadre/src/Compadre_KokkosParser.cpp
  packages/compadre/src/Compadre_LinearAlgebra.cpp
  packages/compadre/src/Compadre_PointCloudSearch.hpp
  packages/compadre/src/Compadre_Typedefs.hpp
  packages/compadre/src/tpl/KokkosBatched_SolveUTV_TeamVector_Internal_Compadre.hpp
Labels: AT: AUTOMERGE, pkg: Compadre, AT: PRE-TEST INSPECTED

#14467 Tpetra: Removing ifdefs for no-long-supported Kokkos/KokkosKernels versions
  packages/tpetra/core/src/Tpetra_Details_KokkosCounter.cpp
  packages/tpetra/core/src/Tpetra_Details_KokkosTeuchosTimerInjection.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_ApplyUsesTPLs.cpp
  packages/tpetra/core/test/CrsMatrix/CrsMatrix_MatvecFence.cpp
Labels: pkg: Tpetra, AT: AUTOMERGE

#14477 tpetra: ialltofewv: supply missing extent to view ctor
  packages/tpetra/core/src/Tpetra_Details_Ialltofewv.cpp
Labels: type: bug, pkg: Tpetra, AT: AUTOMERGE

#14478 Use pre-commit
  .github/workflows/pre_commit_comment.yml
  .github/workflows/pre_commit_run.yml
  .gitignore
  .pre-commit-config.yaml
Labels: PA: Framework, AT2-SpecialApprove

#14472 Amesos2 Tacho: local matrix allocation issue
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/amesos2/src/Amesos2_Util.hpp
  packages/amesos2/test/solvers/CMakeLists.txt
  packages/amesos2/test/solvers/Solver_Test.cpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
Labels: pkg: Amesos2, AT: PRE-TEST INSPECTED

#14499 Teko: Use user-facing Tpetra::Access tags in Thyra multivector conversion code
  packages/teko/src/Tpetra/Teko_TpetraThyraConverter.cpp
Labels: pkg: Teko, AT: AUTOMERGE

#14500 Tacho : expose option to select graph algorithm type
  packages/shylu/shylu_node/tacho/example/Tacho_ExampleDriver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_Driver.hpp
  packages/shylu/shylu_node/tacho/src/Tacho_MatrixMarket.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_GraphTools_Metis.cpp
Labels: pkg: ShyLU

#14504 Tacho : to remove compiler warnings
  packages/shylu/shylu_node/tacho/src/Tacho_CuSolver.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Util.hpp
Labels: pkg: ShyLU

#14506 Ifpack2 Chebyshev: Skip repeated vector construction in non-native spmv code path
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_decl.hpp
  packages/ifpack2/src/Ifpack2_Details_ChebyshevKernel_def.hpp
Labels: pkg: Ifpack2, AT: AUTOMERGE

#14514 MueLu Helmholtz test: Set success flag
  packages/muelu/test/helmholtz/Helmholtz2D.cpp
  packages/muelu/test/unit_tests/CMakeLists.txt
Labels: pkg: MueLu, AT: AUTOMERGE
