Repository trilinos/Trilinos, pull requests merged in 2025-01, with the labels that each got.

#13700 Draft: Framework: Promote all clean warnings
  RELEASE_NOTES
  cmake/ProjectCompilerPostConfig.cmake
  packages/framework/ini-files/config-specs.ini
Labels: impacting: configure or build, AT: AUTOMERGE, PA: Framework, AT2-SpecialApprove, 16.1 release note

#13690 PyTrilinos2: Add Thyra and Stratimikos
  packages/PyTrilinos2/CMakeLists.txt
  packages/PyTrilinos2/cmake/Dependencies.cmake
  packages/PyTrilinos2/cmake/PyTrilinos2MakeTest.cmake
  packages/PyTrilinos2/cmake/PyTrilinos2_config.hpp.in
  packages/PyTrilinos2/examples/CMakeLists.txt
  packages/PyTrilinos2/examples/exampleCG.py
  packages/PyTrilinos2/python/__init__.py
  packages/PyTrilinos2/scripts/PyTrilinos2_config.cfg
  packages/PyTrilinos2/src/CMakeLists.txt
  packages/PyTrilinos2/src/PyTrilinos2_Binder_Input.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Stratimikos_ETI.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Thyra_Custom.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Thyra_ETI.hpp
  packages/PyTrilinos2/src/PyTrilinos2_Tpetra_Custom.hpp
  packages/PyTrilinos2/src/PyTrilinos2_stream.hpp
  packages/PyTrilinos2/test/CMakeLists.txt
  packages/PyTrilinos2/test/Stratimikos.py
  packages/muelu/adapters/CMakeLists.txt
  packages/muelu/adapters/stratimikos/Thyra_MueLuTpetraQ2Q1PreconditionerFactory_def.hpp
  packages/muelu/adapters/tpetra/MueLu_TpetraOperatorAsRowMatrix.hpp
  packages/thyra/core/src/interfaces/operator_solve/fundamental/Thyra_LinearOpWithSolveBase_decl.hpp
Labels: AT: STALE, pkg: PyTrilinos2

#13671 intrepid2: compatibility update with kokkos-kernels
  packages/intrepid2/src/Projection/Intrepid2_ProjectionTools.hpp
Labels: pkg: Intrepid2, AT: AUTOMERGE

#13689 MueLu: Remove MLParameterListInterpreter unit testing
  packages/muelu/test/unit_tests/CMakeLists.txt
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter.cpp
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter/CMakeLists.txt
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter/ml_SmootherParamAtTopLevel.xml
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter/ml_SmootherParamMixed.xml
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter/ml_SmootherParamPerLevel.xml
  packages/muelu/test/unit_tests/ParameterList/MLParameterListInterpreter/ml_SmootherParamSubLists.xml
Labels: pkg: MueLu, AT: AUTOMERGE

#13707 Intrepid2: Disable test
  packages/intrepid2/unit-test/Discretization/Basis/HGRAD_TRI_Cn_FEM/CMakeLists.txt
Labels: AT: AUTOMERGE

#13712 Framework: Stop specifying compilers for container configs
  packages/framework/ini-files/config-specs.ini
Labels: impacting: configure or build, AT: AUTOMERGE, PA: Framework

#13716 Tempus: fix type limits
  packages/tempus/src/Tempus_TimeEventRange_decl.hpp
  packages/tempus/src/Tempus_TimeEventRange_impl.hpp
  packages/tempus/unit_test/Tempus_UnitTest_TimeEventRange.cpp
Labels: type: bug, pkg: Tempus

#13692 Piro: tempus/transient solver mods.
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter.hpp
  packages/piro/src/Piro_ObserverToTempusIntegrationObserverAdapter_Def.hpp
  packages/piro/src/Piro_TempusIntegrator.hpp
  packages/piro/src/Piro_TempusIntegrator_Def.hpp
  packages/piro/src/Piro_TempusSolver.hpp
  packages/piro/src/Piro_TempusSolver_Def.hpp
  packages/piro/src/Piro_TransientSolver_Def.hpp
  packages/piro/test/CMakeLists.txt
  packages/piro/test/MockModelEval_A_Tpetra.cpp
  packages/piro/test/Piro_TempusSolver_UnitTests.cpp
  packages/piro/test/Piro_Test_MockTempusObserver.hpp
  packages/piro/test/_input_tempus_be_nox_solver.yaml
Labels: pkg: Piro

#13698 fix(Intrepid2): implicit by-copy capture of this is deprecated warnings
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HCURL_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_HEX_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_QUAD_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TET_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HDIV_TRI_In_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_HEX_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_LINE_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_QUAD_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HGRAD_TRI_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_HEX_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_LINE_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_QUAD_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TET_Cn_FEMDef.hpp
  packages/intrepid2/src/Discretization/Basis/Intrepid2_HVOL_TRI_Cn_FEMDef.hpp
Labels: AT: AUTOMERGE

#13726 README.md: More badges!
  README.md
Labels: AT: AUTOMERGE

#13581 Panzer: add capability for transient optimization with ROL and Tempus
  packages/nox/src/NOX_Direction_Factory.C
  packages/nox/src/NOX_Direction_Newton.C
  packages/nox/src/NOX_Observer_Print.cpp
  packages/nox/src/NOX_Observer_Print.hpp
  packages/nox/test/lapack/StatusTests/StatusTests.C
  packages/panzer/adapters-stk/cmake/Dependencies.cmake
  packages/panzer/adapters-stk/example/main_driver/CMakeLists.txt
  packages/panzer/adapters-stk/example/main_driver/Panzer_ROLTempusReducedObjective.hpp
  packages/panzer/adapters-stk/example/main_driver/Panzer_xml_to_yaml.cpp
  packages/panzer/adapters-stk/example/main_driver/energy-transient-tempus-opt-blocked.xml
  packages/panzer/adapters-stk/example/main_driver/main_driver.cpp
  packages/panzer/adapters-stk/example/main_driver/main_driver_opt.cpp
  packages/panzer/adapters-stk/example/main_driver/rol_params.xml
  packages/panzer/adapters-stk/example/main_driver/user_app_ROLTempusReducedObjective.hpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TempusObserver_WriteToExodus.hpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TransientObjective.cpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TransientObjective.hpp
  packages/panzer/adapters-stk/example/main_driver/user_app_TransientObjective_impl.hpp
  packages/panzer/adapters-stk/example/main_driver/user_app_Utilities.cpp
  packages/panzer/adapters-stk/example/main_driver/user_app_Utilities.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory.hpp
  packages/panzer/adapters-stk/src/Panzer_STK_ModelEvaluatorFactory_impl.hpp
  packages/panzer/disc-fe/src/Panzer_ModelEvaluator_impl.hpp
  packages/panzer/disc-fe/src/evaluators/Panzer_Parameter_impl.hpp
  packages/panzer/disc-fe/test/equation_set/user_app_EquationSetFactory.hpp
Labels: pkg: Panzer, AT: PRE-TEST INSPECTED

#13715 Framework: Enable building of tests but skip running tests in cuda-uvm PR builds
  cmake/SimpleTesting/README.md
  cmake/SimpleTesting/cmake/ctest-common.cmake
  cmake/SimpleTesting/cmake/ctest-stage-test.cmake
  packages/framework/ini-files/config-specs.ini
  packages/framework/pr_tools/PullRequestLinuxDriver.sh
  packages/framework/pr_tools/PullRequestLinuxDriverTest.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationBase.py
  packages/framework/pr_tools/trilinosprhelpers/TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/trilinosprhelpers/unittests/test_TrilinosPRConfigurationStandard.py
  packages/framework/pr_tools/unittests/test_PullRequestLinuxDriverTest.py
Labels: AT: AUTOMERGE, PA: Framework

#13729 Increase default maxRcpRawObjAccessRatio from 13.5 to 20.0 (#8648, #13728)
  packages/teuchos/core/test/MemoryManagement/RCP_Performance_UnitTests.cpp
Labels: AT: AUTOMERGE

#13733 Panzer BasisValues2: Remove undefined method
  packages/panzer/disc-fe/src/Panzer_BasisValues2.hpp
Labels: pkg: Panzer, AT: AUTOMERGE

#13701 Amesos2 : Use Teuchos to gather matrix
  packages/amesos2/cmake/Amesos2_config.h.in
  packages/amesos2/cmake/Dependencies.cmake
  packages/amesos2/example/SimpleSolve.cpp
  packages/amesos2/src/Amesos2_CssMKL_def.hpp
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_EpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_KLU2_def.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_KokkosCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_decl.hpp
  packages/amesos2/src/Amesos2_ShyLUBasker_def.hpp
  packages/amesos2/src/Amesos2_SolverCore_decl.hpp
  packages/amesos2/src/Amesos2_Tacho_def.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraRowMatrix_AbstractMatrixAdapter_def.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_nfactor_inc.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_order_scotch.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_sfactor.hpp
  packages/shylu/shylu_node/basker/src/shylubasker_tree.hpp
  packages/teuchos/comm/src/Teuchos_CommHelpers.cpp
  packages/teuchos/comm/src/Teuchos_CommHelpers.hpp
Labels: pkg: Amesos2

#13738 Thyra DefaultMultipliedLinearOp: Caching of intermediate vectors
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_DefaultMultipliedLinearOp_decl.hpp
  packages/thyra/core/src/support/operator_vector/client_support/Thyra_DefaultMultipliedLinearOp_def.hpp
Labels: pkg: Thyra, AT: AUTOMERGE

#13662 MueLu: Material dropping
  packages/muelu/adapters/tpetra/MueLu_CreateTpetraPreconditioner.hpp
  packages/muelu/doc/UsersGuide/masterList.xml
  packages/muelu/doc/UsersGuide/options_aggregation.tex
  packages/muelu/doc/UsersGuide/paramlist.tex
  packages/muelu/doc/UsersGuide/paramlist_hidden.tex
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_decl.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_def.hpp
  packages/muelu/src/Graph/Containers/MueLu_LWGraph_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_CoalesceDropFactory_kokkos_def.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_DistanceLaplacianDropping.hpp
  packages/muelu/src/Graph/MatrixTransformation/MueLu_MatrixConstruction.hpp
  packages/muelu/src/Graph/UncoupledAggregation/MueLu_UncoupledAggregationFactory_def.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager_decl.hpp
  packages/muelu/src/Interface/MueLu_HierarchyManager_def.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_decl.hpp
  packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp
  packages/muelu/src/Misc/MueLu_MultiVectorTransferFactory_decl.hpp
  packages/muelu/src/Misc/MueLu_MultiVectorTransferFactory_def.hpp
  packages/muelu/src/MueCentral/MueLu_FactoryManager_def.hpp
  packages/muelu/src/MueCentral/MueLu_HierarchyUtils_def.hpp
  packages/muelu/src/MueCentral/MueLu_Hierarchy_def.hpp
  packages/muelu/src/MueCentral/MueLu_MasterList.cpp
  packages/muelu/src/Operators/MueLu_Maxwell1_decl.hpp
  packages/muelu/src/Operators/MueLu_Maxwell1_def.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_decl.hpp
  packages/muelu/src/Operators/MueLu_RefMaxwell_def.hpp
  packages/muelu/src/Rebalancing/MueLu_RebalanceTransferFactory_def.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_decl.hpp
  packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp
  packages/muelu/src/Utils/MueLu_MatrixAnalysisFactory_def.hpp
  packages/muelu/src/Utils/MueLu_Utilities.cpp
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_1_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_5_np4_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np1_tpetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_epetra.gold
  packages/muelu/test/interface/default/Output/operator_solve_6_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/MLaux_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/aggregation4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar1_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_np4_tpetra.gold
  packages/muelu/test/interface/kokkos/Output/driver_drekar2_tpetra.gold
  packages/muelu/test/maxwell/Maxwell3D.cpp
  packages/muelu/test/scaling/CMakeLists.txt
  packages/muelu/test/scaling/Driver.cpp
  packages/muelu/test/scaling/DriverCore.hpp
  packages/muelu/test/scaling/MatrixLoad.hpp
  packages/muelu/test/scaling/material.mm
  packages/muelu/test/scaling/material.xml
  packages/muelu/test/unit_tests/MultiVectorTransferFactory.cpp
  packages/muelu/test/unit_tests_kokkos/CoalesceDropFactory_kokkos.cpp
Labels: pkg: MueLu, AT: AUTOMERGE

#13745 Amesos2::SuperLU broadcast info2
  packages/amesos2/src/Amesos2_Superlu_def.hpp
Labels: pkg: Amesos2

#13746 Silence warnings
  packages/amesos2/src/Amesos2_Factory.hpp
  packages/muelu/src/MueCentral/MueLu_VerbosityLevel.cpp
  packages/panzer/adapters-stk/src/Panzer_STK_WorksetFactory.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Interpolation.cpp
  packages/panzer/mini-em/src/solvers/MiniEM_Utils.cpp
  packages/teko/src/Teko_GaussSeidelPreconditionerFactory.cpp
  packages/teko/src/Teko_InverseLibrary.cpp
  packages/xpetra/src/MultiVector/Xpetra_MultiVectorFactory_def.hpp
Labels: pkg: MueLu, pkg: Xpetra, pkg: Amesos2, pkg: Teko, pkg: Panzer, AT: AUTOMERGE

#13754 Stokhos: Silence shadow warning
  packages/stokhos/src/sacado/kokkos/vector/KokkosExp_View_MP_Vector_Contiguous.hpp
Labels: pkg: Stokhos, AT: AUTOMERGE

#13755 Amesos2 : matrix-gather update
  packages/amesos2/src/Amesos2_EpetraCrsMatrix_MatrixAdapter_decl.hpp
  packages/amesos2/src/Amesos2_TpetraCrsMatrix_MatrixAdapter_def.hpp
Labels: pkg: Amesos2

#13760 Framework: AT2 name update
  .github/workflows/AT2.yml
  commonTools/framework/github_issue_creator/create_trilinos_github_test_failure_issue_unit_tests.py
Labels: AT: AUTOMERGE, AT2-SpecialApprove

#13756 Amesos2: Fix Amesos2 + SuperLU issue coming from EMPTY macro
  packages/amesos2/src/Amesos2_Superlu_FunctionMap.hpp
  packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp
Labels: pkg: Amesos2, client: Sierra, AT: PRE-TEST INSPECTED

#13763 Tacho : variant-3 solve with OpenMP
  packages/shylu/shylu_node/tacho/src/impl/Tacho_Driver_Impl.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_Factory.hpp
  packages/shylu/shylu_node/tacho/src/impl/Tacho_NumericTools_LevelSet.hpp
Labels: pkg: ShyLU
